Repository grafana/loki, changes with the labels that .github/labeler.yml gives for each.
All labels: type/docs, sig/operator, kind/feature, area/helm

.github/labeler.yml:

type/docs:
- 'docs/**/*'
- 'operator/docs/*'
sig/operator:
- 'operator/**/*'
kind/feature:
- 'operator/docs/enhancements/*'
area/helm:
- 'production/helm/**/*'

fix metrics.go TTL test
  clients/pkg/logentry/metric/histograms_test.go
  clients/pkg/logentry/metric/metricvec.go
Labels: none

Helm: Align ingress timeout and size limites.
  production/helm/loki/templates/_helpers.tpl
Labels: area/helm

Rephrase throughput.
  docs/sources/installation/sizing/index.md
Labels: type/docs

[CI/CD] Automated Update Update yaml file `./production/helm/loki/values.yaml` Update helm chart in `production/helm/loki` folder
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: type/docs, area/helm

Validate Loki timeouts align.
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
  pkg/validation/limits.go
Labels: type/docs

removing unused stuff
  clients/pkg/promtail/wal/writer.go
  clients/pkg/promtail/wal/writer_test.go
Labels: none

concurrent fanout entry handler
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/utils/entries.go
  clients/pkg/promtail/utils/entries_test.go
Labels: none

likely deprecation notice
  clients/pkg/promtail/wal/config.go
Labels: none

fix ttl test
  clients/pkg/logentry/metric/counters.go
  clients/pkg/logentry/metric/counters_test.go
  clients/pkg/logentry/metric/gauges.go
  clients/pkg/logentry/metric/gauges_test.go
  clients/pkg/logentry/metric/histograms.go
  clients/pkg/logentry/metric/histograms_test.go
  clients/pkg/logentry/metric/metricvec.go
Labels: none

fix pipeline test
  clients/pkg/promtail/targets/heroku/target_test.go
Labels: none

fix target test
  clients/pkg/promtail/targets/heroku/target_test.go
Labels: none

fix windows/target.go
  clients/pkg/promtail/targets/windows/target.go
Labels: none

Prepare changelog for 2.7.3 release
  CHANGELOG.md
Labels: none

Prepare release notes for 2.7.3 release
  docs/sources/release-notes/v2-7.md
Labels: type/docs

Display Memory request in sizing tool. (#8326)
  docs/sources/installation/sizing/index.md
  pkg/sizing/algorithm.go
Labels: type/docs

Helm: Align ingress timeout and size limits. (#8352)
  production/helm/loki/templates/_helpers.tpl
Labels: area/helm

fix error message mentioning logthttp.Streams. Also handle loghttp.Vector as well as loghttp.Matrix.
  pkg/querier/remote/read.go
Labels: none

concurrently read
  pkg/querier/fanout/fanout.go
Labels: none

fix lint
  pkg/querier/fanout/fanout.go
Labels: none

operator: Cleanup ruler resources when disabled (#8308)
  operator/CHANGELOG.md
  operator/internal/handlers/internal/rules/cleanup.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: sig/operator

fix lint
  pkg/querier/remote/read.go
Labels: none

Cosmetic lint warning fixes
  clients/cmd/promtail/main.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  cmd/loki-canary/main.go
  pkg/logproto/alias.go
Labels: none

Put instance_addr in proper place in loki-local-config (#6106)
  cmd/loki/loki-local-config.yaml
Labels: none

Rename loser.LoserTree to loser.Tree
  pkg/util/loser/tree.go
  pkg/util/loser/tree_test.go
Labels: none

Rename loser.LoserTree to loser.Tree, where used
  pkg/iter/entry_iterator.go
Labels: none

Cosmetic lint warning fixes (#8363)
  clients/cmd/promtail/main.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  cmd/loki-canary/main.go
  pkg/logproto/alias.go
Labels: none

Prepare 2.7.3 changelog and release notes (#8348)
  CHANGELOG.md
  docs/sources/release-notes/v2-7.md
Labels: type/docs

chore: Vendor `runtimeconfig` package patch
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/multierror/multierror.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: none

Bump new loki/promtail versions in ksonnet libs
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: none

chore: Vendor `runtimeconfig` package patch (#8366)
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/multierror/multierror.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: none

Add the ability to wait on SIGTERM before shutting down
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
Labels: type/docs

Make doc
  docs/sources/configuration/_index.md
Labels: type/docs

Fix check-mod
  go.sum
Labels: none

Update version references in production/ folder
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/helm/loki/Chart.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
Labels: area/helm

Reflect release 2.7.3 in CHANGELOG
  CHANGELOG.md
  docs/sources/release-notes/v2-7.md
Labels: type/docs

Update version references in docs/ folder
  docs/sources/installation/docker.md
Labels: type/docs

fixup! Update version references in production/ folder
  production/helm/loki/README.md
Labels: area/helm

Update comment description
  pkg/loki/loki.go
Labels: none

Clarify query performance in sizing tool. (#8327)
  docs/sources/installation/sizing/index.md
Labels: type/docs

Make doc
  docs/sources/configuration/_index.md
Labels: type/docs
