Repository grafana/loki, changes with the labels that .github/labeler.yml gives for each.
All labels: type/docs, sig/operator, kind/feature, area/helm

operator: Update operand Loki to v2.7.2
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/internal/manifests/var.go
Labels: sig/operator

Add changelog entry
  operator/CHANGELOG.md
Labels: sig/operator

deletion: fix log deletion with line filters (#8151)
  CHANGELOG.md
  integration/client/client.go
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  pkg/chunkenc/facade.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/retention/expiration.go
  pkg/storage/stores/indexshipper/compactor/retention/retention.go
  pkg/storage/stores/indexshipper/compactor/retention/retention_test.go
  pkg/util/filter/filter_function.go
Labels: none

silence the "executing query" log line from the engine when called in the frontend and instead log from the roundtripper so we only get one executing log line per query.
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_range.go
Labels: none

Update pkg/logql/engine.go
  pkg/logql/engine.go
Labels: none

fix tests
  pkg/logql/engine_test.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: none

Loki: only log "executing query" once per query in the frontend (#8337)
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_range.go
Labels: none

Improve examples page.
  docs/sources/configuration/examples.md
Labels: type/docs

Change YAML example files instead.
  docs/sources/configuration/examples.md
  docs/sources/configuration/examples/1-Local-Configuration-Example.yaml
  docs/sources/configuration/examples/2-S3-Cluster-Example.yaml
  docs/sources/configuration/examples/3-S3-Without-Credentials-Snippet.yaml
  docs/sources/configuration/examples/4-BOS-Example.yaml
  docs/sources/configuration/examples/5-S3-And-DynamoDB-Snippet.yaml
  docs/sources/configuration/examples/6-Cassandra-Snippet.yaml
  docs/sources/configuration/examples/7-Schema-Migration-Snippet.yaml
  docs/sources/configuration/examples/8-GCS-Snippet.yaml
  docs/sources/configuration/examples/9-Expanded-S3-Snippet.yaml
  docs/sources/configuration/examples/almost-zero-dependency.yaml
  docs/sources/configuration/examples/complete-local-config.yaml
  docs/sources/configuration/examples/s3-compatible-apis.yaml
Labels: type/docs

Only report test coverage when it changes
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: none

Zone aware ingesters (#7923)
  CHANGELOG.md
  production/ksonnet/README.md
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
  production/ksonnet/loki/multi-zone.libsonnet
Labels: none

lint
  .drone/drone.jsonnet
Labels: none

Only report test coverage when it changes (#8339)
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: none

operator: Update operand Loki to v2.7.2 (#8336)
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/internal/manifests/var.go
Labels: sig/operator

validate a non-zero interval
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
Labels: none

refactor
  operator/internal/handlers/internal/rules/cleanup.go
  operator/internal/handlers/lokistack_create_or_update.go
Labels: sig/operator

changelog
  operator/CHANGELOG.md
Labels: sig/operator

cleanup ruler resources when disabled
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: sig/operator

changelog
  operator/CHANGELOG.md
Labels: sig/operator

fix spelling
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
Labels: none

Ensure a delete request interval of at least a second (#8340)
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
Labels: none

Ensure a delete request interval of at least a second (#8340)
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
Labels: none

Update retention_support.md
  operator/docs/enhancements/retention_support.md
Labels: sig/operator, kind/feature

Add a limit for the [range] value on rane queries
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/limits.go
  pkg/logqlmodel/error.go
  pkg/validation/limits.go
Labels: none

Re-license and export `pkg/ingester` WAL code to be used in Promtail's WAL (#8315)
  CHANGELOG.md
  LICENSING.md
  pkg/ingester/checkpoint.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/instance.go
  pkg/ingester/recovery.go
  pkg/ingester/recovery_test.go
  pkg/ingester/stream.go
  pkg/ingester/wal.go
  pkg/ingester/wal/LICENSE_APACHE2
  pkg/ingester/wal/encoding.go
  pkg/ingester/wal/encoding_test.go
  pkg/ingester/wal/recordpool.go
Labels: none

relicensed WAL main definitions
  pkg/ingester/checkpoint.go
  pkg/ingester/encoding_test.go
Labels: none

relicensed ingester wal code
  CHANGELOG.md
  clients/cmd/promtail/main.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  cmd/loki-canary/main.go
  pkg/ingester/checkpoint.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/instance.go
  pkg/ingester/wal.go
  pkg/logproto/alias.go
Labels: none

fix dashboard helper to use regex (#8319)
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
Labels: none

[release-2.7.x] Ensure a delete request interval of at least a second (#8341)
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
Labels: none

Update index metrics (#8316)
  pkg/storage/stores/index/metrics.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
Labels: none

refactor geoip code
  clients/pkg/logentry/stages/geoip.go
  clients/pkg/logentry/stages/match.go
  clients/pkg/logentry/stages/pipeline.go
  clients/pkg/logentry/stages/stage.go
Labels: none

add tests
  clients/pkg/logentry/stages/geoip_test.go
Labels: none

update go.mod and vendor
  go.mod
  go.sum
  vendor/github.com/oschwald/geoip2-golang/.golangci.toml
  vendor/github.com/oschwald/geoip2-golang/README.md
  vendor/github.com/oschwald/geoip2-golang/reader.go
  vendor/github.com/oschwald/maxminddb-golang/.golangci.toml
  vendor/github.com/oschwald/maxminddb-golang/decoder.go
  vendor/github.com/oschwald/maxminddb-golang/mmap_unix.go
  vendor/github.com/oschwald/maxminddb-golang/node.go
  vendor/github.com/oschwald/maxminddb-golang/reader.go
  vendor/github.com/oschwald/maxminddb-golang/reader_other.go
  vendor/github.com/oschwald/maxminddb-golang/traverse.go
  vendor/github.com/oschwald/maxminddb-golang/verifier.go
  vendor/modules.txt
Labels: none

update docs
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/geoip.md
Labels: type/docs

cleanup
  clients/pkg/logentry/stages/drop.go
  clients/pkg/logentry/stages/geoip.go
  clients/pkg/logentry/stages/json.go
  clients/pkg/logentry/stages/labelallow.go
  clients/pkg/logentry/stages/labeldrop.go
  clients/pkg/logentry/stages/labels.go
  clients/pkg/logentry/stages/metrics.go
  clients/pkg/logentry/stages/multiline.go
  clients/pkg/logentry/stages/output.go
  clients/pkg/logentry/stages/pack.go
  clients/pkg/logentry/stages/regex.go
  clients/pkg/logentry/stages/replace.go
  clients/pkg/logentry/stages/template.go
  clients/pkg/logentry/stages/tenant.go
  clients/pkg/logentry/stages/timestamp.go
  go.mod
Labels: none

bad vendor file cleanup
  vendor/github.com/gocql/gocql/connectionpool.go
Labels: none

bad vendor file cleanup
  vendor/github.com/gocql/gocql/connectionpool.go
Labels: none

update changelog
  CHANGELOG.md
Labels: none

fix doc
  docs/sources/clients/promtail/stages/geoip.md
Labels: type/docs

fix doc
  docs/sources/clients/promtail/stages/geoip.md
Labels: type/docs

.github/labeler.yml:

type/docs:
- 'docs/**/*'
- 'operator/docs/*'
sig/operator:
- 'operator/**/*'
kind/feature:
- 'operator/docs/enhancements/*'
area/helm:
- 'production/helm/**/*'
