Repository grafana/loki, changes with the labels that .github/labeler.yml gives for each.
All labels: type/docs, sig/operator, kind/feature, area/helm

.github/labeler.yml:

type/docs:
- changed-files:
  - any-glob-to-any-file: 'docs/**/*'
  - any-glob-to-any-file: 'operator/docs/*'
sig/operator:
- changed-files:
  - any-glob-to-any-file: 'operator/**/*'
kind/feature:
- changed-files:
  - any-glob-to-any-file: 'operator/docs/enhancements/*'
area/helm:
- changed-files:
  - any-glob-to-any-file: 'production/helm/**/*'

Update some more tests
  pkg/distributor/instance_count_test.go
  pkg/ingester/ingester_test.go
  pkg/querier/querier_mock_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/util/ring/ring_test.go
Labels: none

make docs
  docs/sources/shared/configuration.md
Labels: type/docs

feat(operator): Enable leader-election (#13760)
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/config/overlays/community-openshift/controller_manager_config.yaml
  operator/config/overlays/community/controller_manager_config.yaml
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
Labels: sig/operator

chore: make mixin range interval configurable
  production/loki-mixin/config.libsonnet
  production/loki-mixin/recording_rules.libsonnet
Labels: none

chore: run jb update to update mixin deps
  production/loki-mixin/jsonnetfile.lock.json
Labels: none

chore(deps): update dskit 20240819 (#13924)
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/ingester/ingester_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ring_client.go
  pkg/querier/querier_mock_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/util/ring/ring_test.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/concurrency/runner.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/internal/math/math.go
  vendor/github.com/grafana/dskit/kv/memberlist/broadcast.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/ring_http.go
  vendor/github.com/grafana/dskit/ring/ring_status.gohtml
  vendor/github.com/grafana/dskit/ring/shard/shard.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tracing/tracing.go
  vendor/github.com/grafana/pyroscope-go/godeltaprof/internal/pprof/stub.go
  vendor/modules.txt
Labels: type/docs

fix: Improve execution speed for queries with label filters (#13922)
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: none

chore: ran make loki-mixin
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
Labels: none

chore: log the query from the request when we're unable to get a result from the results cache (#13915)
  pkg/querier/queryrange/queryrangebase/results_cache.go
Labels: none

chore(deps): update dskit 20240819 (#13924)
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/ingester/ingester_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ring_client.go
  pkg/querier/querier_mock_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/util/ring/ring_test.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/concurrency/runner.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/internal/math/math.go
  vendor/github.com/grafana/dskit/kv/memberlist/broadcast.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/ring_http.go
  vendor/github.com/grafana/dskit/ring/ring_status.gohtml
  vendor/github.com/grafana/dskit/ring/shard/shard.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tracing/tracing.go
  vendor/github.com/grafana/pyroscope-go/godeltaprof/internal/pprof/stub.go
  vendor/modules.txt
Labels: type/docs

chore(deps): update dskit 20240819 (#13924) (#13928)
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/ingester/ingester_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ring_client.go
  pkg/querier/querier_mock_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/util/ring/ring_test.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/concurrency/runner.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/internal/math/math.go
  vendor/github.com/grafana/dskit/kv/memberlist/broadcast.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/ring_http.go
  vendor/github.com/grafana/dskit/ring/ring_status.gohtml
  vendor/github.com/grafana/dskit/ring/shard/shard.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tracing/tracing.go
  vendor/github.com/grafana/pyroscope-go/godeltaprof/internal/pprof/stub.go
  vendor/modules.txt
Labels: type/docs

chore: rare-nunajb update to update mixin deps
  production/loki-mixin/jsonnetfile.lock.json
Labels: none

fix: record datasample queries are limited query type
  pkg/logql/metrics.go
Labels: none

add comment
  pkg/logql/metrics.go
Labels: none

fix: record datasample queries are limited query type (#13930)
  pkg/logql/metrics.go
Labels: none

Update loki and dskit
  cmd/chunks-inspect/go.mod
  cmd/chunks-inspect/go.sum
Labels: none

More updates for chunk inspect to pull the latest Loki code in, update segment inspect too
  cmd/chunks-inspect/go.mod
  cmd/chunks-inspect/go.sum
  cmd/chunks-inspect/main.go
  cmd/segment-inspect/go.mod
  cmd/segment-inspect/go.sum
Labels: none

Update pyroscope for go 1.23 support
  cmd/segment-inspect/go.mod
  cmd/segment-inspect/go.sum
Labels: none

Bump to AmazonLinux 2023
  tools/lambda-promtail/Dockerfile
Labels: none

chore(deps): LambdaPromtail - Bump to AmazonLinux 2023 (#13938)
  tools/lambda-promtail/Dockerfile
Labels: none

Don't run dnf update in the dockerfile
  tools/lambda-promtail/Dockerfile
Labels: none

Roll back to AL2, update krb5-libs
  tools/lambda-promtail/Dockerfile
Labels: none

chore(deps): lamba-promtail, move back to al2, update krb5-libs (#13939)
  tools/lambda-promtail/Dockerfile
Labels: none

chore: make mixin range interval configurable (#13925)
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/config.libsonnet
  production/loki-mixin/jsonnetfile.lock.json
  production/loki-mixin/recording_rules.libsonnet
Labels: none

fix(cloud-mixin): Attribute OTLP route correctly to write path
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: none

fixup! fix(cloud-mixin): Attribute OTLP route correctly to write path
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
Labels: none

feat(helm): use fsGroupChangePolicy=OnRootMismatch to speed up pod starts
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: type/docs, area/helm

fix(cloud-mixin): Attribute OTLP route correctly to write path (#13943)
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: none
