Repository grafana/loki, changes with the labels that .github/labeler.yml gives for each.
All labels: type/docs, sig/operator, kind/feature, area/helm

.github/labeler.yml:

type/docs:
- 'docs/**/*'
- 'operator/docs/*'
sig/operator:
- 'operator/**/*'
kind/feature:
- 'operator/docs/enhancements/*'
area/helm:
- 'production/helm/**/*'

Bump new loki/promtail versions in ksonnet libs (#8367)
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: none

Loki: Add the ability to wait on SIGTERM before shutting down (#8371)
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
Labels: type/docs

Reflect release 2.7.3 on main branch (#8372)
  CHANGELOG.md
  docs/sources/installation/docker.md
  docs/sources/release-notes/v2-7.md
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
Labels: type/docs, area/helm

Re-stablish tailing websocket connection if it's closed unexpectedly.
  pkg/logcli/query/tail.go
Labels: none

Snyk Workflow add
  .github/workflows/snyk.yml
Labels: none

Snyk Workflow add (#8375)
  .github/workflows/snyk.yml
Labels: none

Bump Loki Helm chart to 4.4.3
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: area/helm

Satisfy linter.
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
  pkg/loki/loki.go
Labels: none

Update GEL plugin to latest
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/jsonnetfile.lock.json
Labels: none

fanout with timeout
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/utils/entries.go
  clients/pkg/promtail/utils/entries_test.go
Labels: none

cleaning up hard stop on fanouter
  clients/pkg/promtail/utils/entries.go
Labels: none

naming on const
  clients/pkg/promtail/promtail.go
Labels: none

Update GEL plugin in k3d env to latest (#8378)
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/jsonnetfile.lock.json
Labels: none

Add table of Loki versions in helm chart
  production/README.md
Labels: none

Add more table
  production/README.md
Labels: none

Tidy up regex comments as per review
  tools/lambda-promtail/lambda-promtail/s3.go
Labels: none

Pin windows build Go version
  .drone/drone.jsonnet
Labels: none

fixup! Pin windows build Go version
  .drone/drone.yml
Labels: none

added fixed version of drone updater plugin
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: none
