Repository grafana/loki, pull requests merged in 2019-11, with the labels that each got.

#1248 docs: slightly modify language in community Loki packages section
  docs/installation/local.md
Labels: component/docs

#1278 docs: update limits_config to new structure from #948
  docs/configuration/README.md
Labels: component/docs

#1274 chore(ci): drone-cli
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: component/packaging, kind/enhancement

#1342 Makefile: add debug symbols to loki and promtail debug builds
  Makefile
Labels: component/packaging, kind/bug
