Repository grafana/loki, pull requests merged in 2019-09, with the labels that each got.

#972 Add stream label to docker driver
  cmd/docker-driver/loki.go
Labels: component/integrations, kind/feature

#981 chore(packaging): loki windows/amd64
  Makefile
Labels: component/loki, kind/enhancement

#989 chore(packaging): simplify tagging
  Makefile
Labels: component/packaging, kind/enhancement

#990 chore(ci/cd): breaking the circle
  .circleci/config.yml
  .drone/docker-manifest.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: component/packaging, kind/enhancement

#991 chore(packaging): deploy from drone
  .circleci/config.yml
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: component/packaging, kind/bug

#992 chore(packaging): fix GOPATH being overwritten
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: component/packaging, kind/bug

#975 fix(distributor): parseError BadRequest
  pkg/distributor/distributor.go
Labels: component/loki, kind/bug

#755 Use grpc client config from cortex for Ingester to get more control
  pkg/ingester/client/client.go
  pkg/querier/querier_mock_test.go
  production/ksonnet/loki/config.libsonnet
Labels: keepalive

#1036 feat: -version flag
  Makefile
  cmd/logcli/main.go
  cmd/loki-canary/main.go
  cmd/loki/main.go
  cmd/promtail/main.go
Labels: kind/feature

#1039 doc(production): replace ksonnet with Tanka
  production/ksonnet/README.md
Labels: component/docs

#1042 doc(ksonnet): include ksonnet-lib
  production/ksonnet/README.md
Labels: component/docs, component/packaging, kind/enhancement

#980 feat: configuration source precedence
  cmd/loki/main.go
  cmd/promtail/main.go
  pkg/cfg/cfg.go
  pkg/cfg/cfg_test.go
  pkg/cfg/data_test.go
  pkg/cfg/files.go
  pkg/cfg/flag.go
  pkg/cfg/flag_test.go
  pkg/cfg/precedence_test.go
Labels: component/loki, kind/enhancement
