Repository grafana/loki, pull requests merged in 2019-07, with the labels that each got.

#764 feat(loki): extended tailing
  cmd/logcli/client.go
  cmd/logcli/query.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/tail.go
Labels: component/loki, kind/feature

#784 Speed up Loki shutdown when using the sample local config
  cmd/loki/loki-local-config.yaml
Labels: component/loki

#788 Added -querier.query_timeout support
  Gopkg.lock
  Gopkg.toml
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/util/mock.go
  vendor/github.com/stretchr/objx/.codeclimate.yml
  vendor/github.com/stretchr/objx/.gitignore
  vendor/github.com/stretchr/objx/.travis.yml
  vendor/github.com/stretchr/objx/Gopkg.lock
  vendor/github.com/stretchr/objx/Gopkg.toml
  vendor/github.com/stretchr/objx/LICENSE
  vendor/github.com/stretchr/objx/README.md
  vendor/github.com/stretchr/objx/Taskfile.yml
  vendor/github.com/stretchr/objx/accessors.go
  vendor/github.com/stretchr/objx/constants.go
  vendor/github.com/stretchr/objx/conversions.go
  vendor/github.com/stretchr/objx/doc.go
  vendor/github.com/stretchr/objx/map.go
  vendor/github.com/stretchr/objx/mutations.go
  vendor/github.com/stretchr/objx/security.go
  vendor/github.com/stretchr/objx/tests.go
  vendor/github.com/stretchr/objx/type_specific_codegen.go
  vendor/github.com/stretchr/objx/value.go
  vendor/github.com/stretchr/testify/mock/doc.go
  vendor/github.com/stretchr/testify/mock/mock.go
Labels: component/loki, kind/enhancement

#821 fix(logcli): timestamp timezone handling
  cmd/logcli/main.go
  cmd/logcli/output.go
  cmd/logcli/query.go
  cmd/logcli/tail.go
  cmd/logcli/utils.go
  pkg/logcli/output/default.go
  pkg/logcli/output/default_test.go
  pkg/logcli/output/jsonl.go
  pkg/logcli/output/jsonl_test.go
  pkg/logcli/output/output.go
  pkg/logcli/output/output_test.go
  pkg/logcli/output/raw.go
  pkg/logcli/output/raw_test.go
Labels: component/logcli, kind/bug
