Repository grafana/loki, pull requests merged in 2020-06, with the labels that each got.

#2152 Fix typo in promtail ClusterRole
  docs/clients/promtail/installation.md
Labels: size/XS

#2142 Add FIFO queue persistent buffering for fluent bit output plugin
  cmd/fluent-bit/Dockerfile
  cmd/fluent-bit/README.md
  cmd/fluent-bit/buffer.go
  cmd/fluent-bit/client.go
  cmd/fluent-bit/config.go
  cmd/fluent-bit/dque.go
  cmd/fluent-bit/loki.go
  cmd/fluent-bit/out_loki.go
  go.mod
  go.sum
  vendor/github.com/gofrs/flock/.gitignore
  vendor/github.com/gofrs/flock/.travis.yml
  vendor/github.com/gofrs/flock/LICENSE
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/appveyor.yml
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_winapi.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/github.com/joncrlsn/dque/LICENSE
  vendor/github.com/joncrlsn/dque/README.md
  vendor/github.com/joncrlsn/dque/go.sum
  vendor/github.com/joncrlsn/dque/queue.go
  vendor/github.com/joncrlsn/dque/segment.go
  vendor/github.com/joncrlsn/dque/util.go
  vendor/modules.txt
Labels: size/L

#2060 Feature: Replace stage in pipeline
  docs/clients/promtail/stages/replace.md
  pkg/logentry/stages/replace.go
  pkg/logentry/stages/replace_test.go
  pkg/logentry/stages/stage.go
Labels: size/XL

#2126 Validate local storage config for the logcli
  cmd/docker-driver/README.md
  pkg/logcli/query/query.go
Labels: size/XS

#2141 Adds the ability to have a pull secrets for Promtail.
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#2150 Bytes aggregations
  docs/logql.md
  pkg/logql/ast.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions.go
  pkg/logql/lex.go
  pkg/logql/parser_test.go
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
  pkg/logql/series_extractor.go
  pkg/logql/series_extractor_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/test_utils.go
  pkg/promtail/client/config_test.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/querysharding_test.go
Labels: size/XXL

#2160 Fix some errors in the upgrade guide to 1.5.0 and add some missing notes discovered by users.
  docs/operations/upgrade.md
Labels: size/M

#2123 Fix Series API slowness
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/XXL

#2162 ksonnet: Fix up datasources and variables in Loki Operational
  production/loki-mixin/dashboard-loki-operational.json
Labels: size/S

#2170 Add Aditya CS as a member of Loki.
  docs/community/governance.md
Labels: size/S

#2172 Update old link for pipeline stages.
  cmd/docker-driver/README.md
Labels: size/XS

#2163 docs: fix an error in the example log line and byte counter metrics
  docs/clients/promtail/stages/metrics.md
Labels: size/XS

#2161 Fix error message for max tail connections.
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/XS

#2116 Allows to change the log driver mode and buffer size.
  cmd/docker-driver/config.go
Labels: size/XS

#2178 Fixes path prefix in the querier.
  pkg/loghttp/versions.go
Labels: size/XS

#2185 Refactor mixin routes and add series API.
  production/loki-mixin/dashboards.libsonnet
Labels: size/S

#2182 Logql comparison ops
  cmd/fluent-bit/buffer.go
  cmd/fluent-bit/client.go
  cmd/fluent-bit/config.go
  cmd/fluent-bit/dque.go
  docs/logql.md
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/marshal/labels.go
  pkg/logql/parser_test.go
  pkg/logql/shardmapper_test.go
  pkg/promtail/client/config_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/XXL

#2189 Fix vector-scalar comparisons
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/querier/queryrange/downstreamer.go
Labels: size/M

#2191 Add flag to disable tracing activation
  cmd/loki/main.go
  docs/configuration/README.md
  pkg/loki/loki.go
  pkg/tracing/config.go
Labels: size/M

#2212 Remove unhelpful/problematic term in circleci.yml
  .circleci/config.yml
Labels: size/XS

#2215 docs: Correct loki address for docker-compose
  docs/getting-started/grafana.md
Labels: size/XS

#2125 Update logql.md
  docs/logql.md
Labels: size/M

#2217 docs: BoltDB typo
  docs/operations/storage/README.md
Labels: size/XS

#2179 Improve fluentd plugin development experience
  CHANGELOG.md
  cmd/fluentd/.gitignore
  cmd/fluentd/Gemfile
  cmd/fluentd/README.md
  cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  docs/best-practices/current-best-practices.md
Labels: size/M

#2205 BUG: add missing namespace in ingress object
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/ingress.yaml
Labels: size/XS

#2211 query tee proxy with support for comparison of responses
  cmd/querytee/main.go
  cmd/querytee/response_comparator.go
  cmd/querytee/response_comparator_test.go
  vendor/github.com/cortexproject/cortex/tools/LICENSE
  vendor/github.com/cortexproject/cortex/tools/querytee/instrumentation.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy_backend.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy_endpoint.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy_metrics.go
  vendor/github.com/cortexproject/cortex/tools/querytee/response_comparator.go
  vendor/modules.txt
Labels: size/L

#2137 [WIP] Propose new governance
  MAINTAINERS.md
  docs/community/governance.md
Labels: size/L

#2171 Add server TLS certificate verification
  cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  cmd/fluentd/lib/fluent/plugin/out_loki.rb
  cmd/fluentd/spec/gems/fluent/plugin/loki_output_spec.rb
  docs/clients/fluentd/README.md
Labels: size/M

#2238 helm: Add loadBalancerIP option to loki chart
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/service.yaml
Labels: size/XS

#2235 logcli: Remove single newline from the raw line before printing.
  pkg/logcli/output/raw.go
  pkg/logcli/output/raw_test.go
Labels: size/S

#2224 Replace memberlist service in favor of cortex provided service
  cmd/querytee/main.go
  docs/configuration/README.md
  docs/configuration/examples.md
  go.mod
  go.sum
  pkg/loki/loki.go
  pkg/loki/modules.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/chunk_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/composite_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/purger.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/series_store.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/cortex.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/modules.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/compat.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/query_range.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/client.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/memberlist/kv_init_service.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/memberlist/kv_state.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/memberlist/memberlist_client.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/memberlist/metrics.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy_endpoint.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy_metrics.go
  vendor/modules.txt
Labels: size/L

#2223 Add Error method for step evaluators
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/matrix.go
  pkg/logql/range_vector.go
  pkg/logql/series_extractor.go
  pkg/logql/sharding.go
  pkg/logql/step_evaluator.go
Labels: size/L

#2199 Docker driver relabeling
  cmd/docker-driver/README.md
  cmd/docker-driver/config.go
  cmd/docker-driver/config_test.go
Labels: size/L

#2216 Improve point allocations for each steps in the logql engine.
  pkg/logql/engine.go
Labels: size/XS

#2218 Reuse buffer for hash computation in the engine.
  pkg/logql/evaluator.go
Labels: size/XS

#2219 Reuse slice for the range vector allocations.
  pkg/logql/range_vector.go
Labels: size/S

#2156 boltdb shipper download failure handling and some refactorings
  pkg/storage/stores/local/downloads.go
  pkg/storage/stores/local/filescollection.go
  pkg/storage/stores/local/metrics.go
  pkg/storage/stores/local/shipper.go
Labels: size/L

#2242 Set user agent on outgoing http requests
  pkg/canary/reader/reader.go
  pkg/logcli/client/client.go
  pkg/promtail/client/client.go
Labels: size/S

#2241 Kubernetes manifests: Remove namespace from cluster-wide resources
  production/helm/fluent-bit/templates/clusterrole.yaml
  production/helm/fluent-bit/templates/podsecuritypolicy.yaml
  production/helm/loki/templates/podsecuritypolicy.yaml
  production/helm/promtail/templates/clusterrole.yaml
  production/helm/promtail/templates/podsecuritypolicy.yaml
Labels: size/XS

#2233 docs: Add readmes to individual helm charts
  production/helm/loki-stack/README.md
  production/helm/loki/README.md
  production/helm/promtail/README.md
Labels: size/L

#2197 Render loki datasources even if Grafana is disabled.
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/templates/datasources.yaml
Labels: size/XS

#2196 Adds default -config.file for the promtail docker images.
  cmd/promtail/Dockerfile
  cmd/promtail/Dockerfile.arm32
  cmd/promtail/Dockerfile.cross
  cmd/promtail/Dockerfile.debug
Labels: size/S

#2239 Cache overlapping blocks
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/lazy_chunk.go
  pkg/chunkenc/memchunk.go
  pkg/ingester/stream.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/cache.go
  pkg/storage/cache_test.go
  pkg/storage/lazy_chunk.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store.go
  pkg/storage/util_test.go
Labels: size/XL

#2247 docs: Fix missing quotes
  docs/logql.md
Labels: size/XS

#2249 avoids recording stats in the sharded engine
  pkg/logql/engine.go
Labels: size/XS

#2220 Docs: Local install edits
  docs/clients/README.md
  docs/clients/promtail/README.md
  docs/clients/promtail/installation.md
  docs/getting-started/get-logs-into-loki.md
  docs/installation/README.md
  docs/installation/docker.md
  docs/installation/helm.md
  docs/installation/install-from-source.md
  docs/installation/local.md
  docs/installation/tanka.md
Labels: size/L

#2250 Loki: Remove redundant log warning
  pkg/ingester/instance.go
Labels: size/XS

#2252 avoids further time splitting in querysharding mware
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
Labels: size/L

#2248 Add performance profile flags for logcli.
  cmd/logcli/main.go
  docs/getting-started/logcli.md
Labels: size/L

#2259 Canary: make stream configurable
  cmd/loki-canary/main.go
  docs/operations/loki-canary.md
  pkg/canary/reader/reader.go
Labels: size/S

#2266 Update to latest cortex.
  go.mod
  go.sum
  vendor/github.com/cortexproject/cortex/pkg/chunk/chunk_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/series_store.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester_v2.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/ruler.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/config.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/bucket_stores.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy.go
  vendor/github.com/cortexproject/cortex/tools/querytee/proxy_metrics.go
  vendor/github.com/thanos-io/thanos/pkg/shipper/shipper.go
  vendor/github.com/thanos-io/thanos/pkg/store/bucket.go
  vendor/modules.txt
Labels: size/XS

#2268 lock fix for flaky test
  pkg/querier/queryrange/querysharding_test.go
Labels: size/XS

#2254 Loki: Series API will return all series with no match or empty matcher
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/loghttp/params.go
  pkg/loghttp/params_test.go
  pkg/loghttp/series.go
  pkg/loghttp/series_test.go
  pkg/querier/querier.go
  pkg/storage/store.go
Labels: size/L

#2273 Fix typo
  docs/community/governance.md
Labels: size/XS

#2258 helm: add annotations to service monitor
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/templates/servicemonitor.yaml
  production/helm/fluent-bit/values.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/servicemonitor.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/servicemonitor.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#2279 Documentation: Refine LogQL documentation
  docs/logql.md
Labels: size/L
