Repository grafana/loki, pull requests merged in 2020-04, with the labels that each got.

#1879 docs: update promtail docs for backoff
  docs/clients/promtail/configuration.md
Labels: size/XS

#1883 clear out some changelog entries to fix a merge conflict from the release branch
  CHANGELOG.md
Labels: size/S

#1884 updating helm and ksonnet for 1.4.0 release
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/S

#1881 Add precision about the range notation for LogQL.
  docs/logql.md
Labels: size/XS

#1864 Sign helm package with GPG.
  .circleci/config.yml
  .drone/drone.yml
  Makefile
  loki-build-image/Dockerfile
  production/helm/public.pgp
Labels: size/M

#1887 docs: Adding a config change in release 1.4 upgrade doc, updating readme with new doc links
  CHANGELOG.md
  README.md
  docs/configuration/README.md
  docs/operations/upgrade.md
Labels: size/M

#1888 docs: cleaning up the comments for the cache_config, default_validity option
  README.md
  docs/configuration/README.md
Labels: size/XS

#1865 Fix flaky promtail test
  pkg/promtail/promtail_test.go
Labels: size/S

#1894 Fixes possible panic in json pipeline stage.
  pkg/logentry/stages/json.go
  pkg/logentry/stages/json_test.go
Labels: size/S

#1893 Removes file size check for pipe, not provided by linux.
  pkg/promtail/client/logger.go
  pkg/promtail/targets/manager.go
  pkg/promtail/targets/stdin_target_manager.go
Labels: size/XS

#1891 Addition of a `/suspend` endpoint to Loki Canary
  cmd/loki-canary/main.go
  docs/operations/loki-canary.md
  pkg/canary/comparator/comparator.go
Labels: size/M

#1898 [helm loki/promtail] make UpdateStrategy configurable
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#1890 fluentbit: JSON encoding: avoid base64 encoding of []byte inside other slices
  cmd/fluent-bit/loki.go
  cmd/fluent-bit/loki_test.go
Labels: size/S

#1904 updating helm and ksonnet to 1.4.1
  README.md
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/values.yaml
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M

#1905 updating typo for end time parameter in api docs
  docs/api.md
Labels: size/S

#1911 build: push images for `k` branches
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#1909 fluentd loki plugin README: add note about labels
  docs/clients/fluentd/README.md
Labels: size/XS

#1913 s/dashboards/grafanaDashboards.
  production/loki-mixin/dashboards.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XS

#1915 Fix fluent-bit metrics
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/templates/configmap.yaml
  production/helm/fluent-bit/templates/servicemonitor.yaml
Labels: size/XS

#1916 Add cap_net_bind_service linux capabilities to Loki.
  cmd/loki/Dockerfile
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#1914 only fetches one chunk per series in /series
  pkg/logproto/extensions.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Labels: size/L

#1918 build: This Dockerfile is a remnant from a long time ago, not needed.
  build/Dockerfile
Labels: size/M

#1920 feat: tms readiness check bypass implementation
  docs/clients/promtail/configuration.md
  pkg/promtail/server/server.go
Labels: size/S

#1925 Clarified that the api push path needs to be specified.
  docs/clients/promtail/configuration.md
Labels: size/XS

#1922 logcli: org-id/tls-skip-verify set via env var
  cmd/logcli/main.go
  docs/getting-started/logcli.md
Labels: size/XS

#1906 Add no-file and keep-file log option for docker driver.
  cmd/docker-driver/README.md
  cmd/docker-driver/config.go
  cmd/docker-driver/driver.go
Labels: size/L

#1937 bumps helm to keepalive-master after cortex vendoring
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#1939 adds config validation, similar to cortex
  cmd/loki/main.go
  pkg/loki/loki.go
Labels: size/S

#1935 Support stdin target via flag instead of automatic detection.
  docs/clients/promtail/troubleshooting.md
  pkg/promtail/targets/filetarget.go
  pkg/promtail/targets/manager.go
  pkg/promtail/targets/stdin_target_manager.go
  pkg/promtail/targets/stdin_target_manager_test.go
Labels: size/M

#1942 delete tag script filters by prefix instead of substring
  tools/delete_tags.go
Labels: size/XS

#1944 Helm: Revert changes for latest cortex vendoring and move the image back to latest release
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#1945 docs: version pin the docker image in docker-compose
  production/docker-compose.yaml
Labels: size/XS

#1950 Fixes case handling in regex simplification.
  pkg/logql/filter.go
  pkg/logql/filter_test.go
Labels: size/L

#1946 Loki Update the cut block size counter when creating a memchunk from byte slice
  pkg/chunkenc/facade.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/util_test.go
  pkg/ingester/chunk_test.go
  pkg/ingester/flush.go
  pkg/ingester/ingester.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/storage/hack/main.go
  pkg/storage/util_test.go
Labels: size/M

#1951 Move build from source instructions to root readme.
  README.md
  production/README.md
Labels: size/M

#1961 [Bug] Workaround for broken etcd gomod import
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/auth/jwt.go
  vendor/go.etcd.io/etcd/auth/store.go
  vendor/go.etcd.io/etcd/clientv3/balancer/resolver/endpoint/endpoint.go
  vendor/go.etcd.io/etcd/clientv3/client.go
  vendor/go.etcd.io/etcd/clientv3/credentials/credentials.go
  vendor/go.etcd.io/etcd/clientv3/ctx.go
  vendor/go.etcd.io/etcd/clientv3/retry_interceptor.go
  vendor/go.etcd.io/etcd/embed/config.go
  vendor/go.etcd.io/etcd/embed/config_logging.go
  vendor/go.etcd.io/etcd/embed/serve.go
  vendor/go.etcd.io/etcd/etcdserver/api/etcdhttp/metrics.go
  vendor/go.etcd.io/etcd/etcdserver/api/etcdhttp/peer.go
  vendor/go.etcd.io/etcd/etcdserver/api/membership/cluster.go
  vendor/go.etcd.io/etcd/etcdserver/api/rafthttp/stream.go
  vendor/go.etcd.io/etcd/etcdserver/api/snap/snapshotter.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/interceptor.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/metrics.go
  vendor/go.etcd.io/etcd/etcdserver/api/v3rpc/rpctypes/md.go
  vendor/go.etcd.io/etcd/etcdserver/apply.go
  vendor/go.etcd.io/etcd/etcdserver/apply_auth.go
  vendor/go.etcd.io/etcd/etcdserver/corrupt.go
  vendor/go.etcd.io/etcd/etcdserver/metrics.go
  vendor/go.etcd.io/etcd/etcdserver/server.go
  vendor/go.etcd.io/etcd/etcdserver/v3_server.go
  vendor/go.etcd.io/etcd/lease/lessor.go
  vendor/go.etcd.io/etcd/mvcc/backend/backend.go
  vendor/go.etcd.io/etcd/mvcc/kv.go
  vendor/go.etcd.io/etcd/mvcc/kv_view.go
  vendor/go.etcd.io/etcd/mvcc/kvstore.go
  vendor/go.etcd.io/etcd/mvcc/kvstore_compaction.go
  vendor/go.etcd.io/etcd/mvcc/kvstore_txn.go
  vendor/go.etcd.io/etcd/mvcc/metrics.go
  vendor/go.etcd.io/etcd/mvcc/metrics_txn.go
  vendor/go.etcd.io/etcd/mvcc/watchable_store.go
  vendor/go.etcd.io/etcd/mvcc/watchable_store_txn.go
  vendor/go.etcd.io/etcd/pkg/fileutil/purge.go
  vendor/go.etcd.io/etcd/pkg/ioutil/pagewriter.go
  vendor/go.etcd.io/etcd/pkg/logutil/zap.go
  vendor/go.etcd.io/etcd/pkg/traceutil/trace.go
  vendor/go.etcd.io/etcd/raft/confchange/confchange.go
  vendor/go.etcd.io/etcd/raft/log_unstable.go
  vendor/go.etcd.io/etcd/raft/raft.go
  vendor/go.etcd.io/etcd/raft/util.go
  vendor/go.etcd.io/etcd/version/version.go
  vendor/go.etcd.io/etcd/wal/encoder.go
  vendor/go.etcd.io/etcd/wal/metrics.go
  vendor/go.etcd.io/etcd/wal/repair.go
  vendor/go.etcd.io/etcd/wal/wal.go
  vendor/modules.txt
Labels: size/L

#1958 chunk lifespan histogram
  pkg/ingester/flush.go
Labels: size/S

#1837 flush boltdb to object store
  docs/README.md
  docs/operations/storage/boltdb-shipper.md
  go.mod
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/logql/stats/context.go
  pkg/logql/stats/grpc.go
  pkg/logql/stats/grpc_test.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/store.go
  pkg/storage/stores/local/boltdb_index_client.go
  pkg/storage/stores/local/downloads.go
  pkg/storage/stores/local/downloads_test.go
  pkg/storage/stores/local/shipper.go
  pkg/storage/stores/local/uploads.go
  pkg/storage/stores/local/uploads_test.go
  pkg/storage/stores/util/object_client.go
Labels: size/XXL

#1964 chunk bounds metric now records 8h range in 1h increments
  pkg/ingester/flush.go
Labels: size/XS

#1966 Docs: Update docker.md
  docs/installation/docker.md
Labels: size/M

#1967 helm chart: add missing line feed
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/networkpolicy.yaml
  production/helm/loki/templates/pdb.yaml
Labels: size/XS

#1974 fix stores for chunk and index in documentation for period_config
  docs/configuration/README.md
Labels: size/XS

#1949 [Loki]: Cleanup dockerfile
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
Labels: size/S

#1975 Update cortex vendoring to latest master
  go.mod
  go.sum
  pkg/ingester/flush_test.go
  pkg/loki/modules.go
  pkg/storage/store.go
  pkg/storage/stores/local/boltdb_index_client.go
  pkg/storage/stores/local/downloads.go
  pkg/storage/stores/local/downloads_test.go
  pkg/storage/stores/util/object_client.go
  vendor/github.com/cortexproject/cortex/pkg/api/api.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/aws/dynamodb_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/aws/s3_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/azure/blob_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cassandra/storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/chunk_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/gcp/bigtable_index_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/gcp/gcs_object_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/inmemory_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/local/boltdb_index_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/local/fs_object_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/opts.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/purger.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/request_handler.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/series_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/storage/factory.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/storage/metrics.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/util/util.go
  vendor/github.com/cortexproject/cortex/pkg/compactor/compactor_ring.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/cortex.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/modules.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor_ring.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/ingester_client_pool.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/flush.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/index/index.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/metrics.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/wal.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_balanced_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_replicated_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend.go
  vendor/github.com/cortexproject/cortex/pkg/querier/querier.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/roundtrip.go
  vendor/github.com/cortexproject/cortex/pkg/querier/series/series_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/store_gateway_client.go
  vendor/github.com/cortexproject/cortex/pkg/ring/client/pool.go
  vendor/github.com/cortexproject/cortex/pkg/ring/client/ring_service_discovery.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/consul/client.go
  vendor/github.com/cortexproject/cortex/pkg/ring/lifecycler.go
  vendor/github.com/cortexproject/cortex/pkg/ring/replication_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/ruler_ring.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/rules/objectclient/rule_store.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/config.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/gateway_ring.go
  vendor/github.com/cortexproject/cortex/pkg/util/test/poll.go
  vendor/modules.txt
Labels: size/XL

#1976 incorporate some better defaults into table-manager configs
  cmd/loki/loki-docker-config.yaml
  cmd/loki/loki-local-config.yaml
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/M

#1980 Log slow query from the frontend by default in ksonnet.
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#1713 Log error message for invalid checksum
  pkg/chunkenc/interface.go
  pkg/chunkenc/lazy_chunk.go
  pkg/chunkenc/memchunk.go
  pkg/storage/iterator.go
  pkg/storage/iterator_test.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/L

#1981 added extraCommandlineArgs in values file
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#1987 Loki: Add a missing method to facade which is called by the metrics storage client in cortex
  pkg/chunkenc/facade.go
Labels: size/XS

#1995 make boltdb shipper singleton and some other minor refactoring
  docs/operations/storage/boltdb-shipper.md
  pkg/logcli/query/query.go
  pkg/loki/modules.go
  pkg/storage/hack/main.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/local/boltdb_index_client.go
  pkg/storage/stores/local/shipper.go
  pkg/storage/stores/local/uploads_test.go
Labels: size/L

#1965 Loki: Adds an `interval` paramater to query_range queries allowing a sampling of events to be returned based on the provided interval
  cmd/logcli/main.go
  docs/api.md
  pkg/logcli/client/client.go
  pkg/logcli/query/query.go
  pkg/loghttp/params.go
  pkg/loghttp/params_test.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/querier/http.go
Labels: size/L

#1977 Ensure trace propagation in our logs.
  pkg/helpers/logerror.go
  pkg/ingester/ingester.go
  pkg/ingester/stream.go
  pkg/ingester/tailer.go
  pkg/ingester/transfer.go
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/stats/grpc.go
  pkg/querier/http.go
  pkg/querier/querier_mock_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/tail.go
  pkg/storage/iterator.go
Labels: size/L

#2000 Improve URL building in the logcli to strip trailing /.
  pkg/logcli/client/client.go
  pkg/logcli/client/client_test.go
Labels: size/M

#2001 table client for boltdb shipper to enforce retention
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/local/boltdb_shipper_table_client.go
  pkg/storage/stores/local/boltdb_shipper_table_client_test.go
  pkg/storage/stores/util/object_client.go
Labels: size/L

#1970 Allow to aggregate binary operations.
  pkg/logql/ast_test.go
  pkg/logql/engine_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/parser_test.go
Labels: size/XL

#2004 Adds config to disable HTTP and GRPC server in Promtail.
  docs/clients/promtail/configuration.md
  pkg/promtail/promtail.go
  pkg/promtail/server/server.go
Labels: size/M

#2011 Fix a bad rebase between #1970 and #1965.
  pkg/logql/engine_test.go
Labels: size/XS

#2012 Loki: Improve logging and add metrics to streams dropped by stream limit
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/util/validation/validate.go
Labels: size/L

#2019 make `loki_ingester_memory_streams` Gauge per tenant.
  pkg/ingester/flush.go
  pkg/ingester/instance.go
Labels: size/S

#2010 Update lz4 library to latest to ensure deterministic output.
  go.mod
  go.sum
  vendor/github.com/pierrec/lz4/block.go
  vendor/github.com/pierrec/lz4/lz4.go
  vendor/github.com/pierrec/lz4/writer.go
  vendor/modules.txt
Labels: size/XS

#2015 Change image tag from 1.4.1 to 1.4.0 in Helm chart
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
Labels: size/XS

#2014 Spelling
  .circleci/config.yml
  .github/stale.yml
  CHANGELOG.md
  docs/api.md
  docs/clients/promtail/configuration.md
  docs/clients/promtail/stages/metrics.md
  docs/community/governance.md
  docs/configuration/README.md
  docs/design-documents/2020-02-Promtail-Push-API.md
  docs/maintaining/release-loki-build-image.md
  docs/operations/loki-canary.md
  pkg/chunkenc/encoding_helpers.go
  pkg/helpers/logerror.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/logcli/query/tail.go
  pkg/logentry/metric/counters.go
  pkg/logentry/metric/gauges.go
  pkg/logentry/metric/histograms.go
  pkg/logentry/metric/metricvec.go
  pkg/logentry/stages/json.go
  pkg/logentry/stages/metrics_test.go
  pkg/logentry/stages/template_test.go
  pkg/logentry/stages/timestamp_test.go
  pkg/logql/ast.go
  pkg/logql/astmapper.go
  pkg/logql/evaluator.go
  pkg/logql/lex.go
  pkg/promtail/positions/positions.go
  pkg/promtail/targets/tailer.go
  pkg/storage/iterator.go
  pkg/util/log.go
  production/helm/loki/values.yaml
  production/ksonnet/loki/table-manager.libsonnet
  tools/increment_version.sh
Labels: size/L

#2021 Loki: refactor validation and improve error messages
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/instance.go
  pkg/util/validation/validate.go
Labels: size/L

#1999 Docs: Added labels content
  README.md
  docs/README.md
  docs/best-practices/README.md
  docs/best-practices/current-best-practices.md
  docs/getting-started/README.md
  docs/getting-started/labels.md
Labels: size/L

#2022 Fix lint from my last PR
  pkg/util/validation/validate.go
Labels: size/XS

#2024 more linter fixes
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/instance.go
  pkg/util/validation/validate.go
Labels: size/S
