Repository grafana/loki, pull requests merged in 2020-09, with the labels that each got.

#2575 Promtail: Fix docker-compose.yaml
  production/docker-compose.yaml
Labels: size/XS

#2570 Promtail: Fix concurrent map iteration when using stdin
  pkg/promtail/targets/stdin/stdin_target_manager.go
Labels: size/XS

#2561 Added logcli docker image
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  cmd/logcli/Dockerfile
Labels: size/L

#2572 Validate max_query_length in Labels API
  pkg/querier/querier.go
Labels: size/S

#2574 fix closing of compressed file from boltdb-shipper compactor
  pkg/storage/stores/shipper/util/util.go
Labels: size/XS

#2586 Doc fixes: remove typos and long sentence
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#2589 Ruler/loki rule validator
  go.mod
  go.sum
  pkg/distributor/distributor_test.go
  pkg/querier/querier_mock_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/ruler/manager/compat.go
  pkg/ruler/ruler.go
  vendor/github.com/bradfitz/gomemcache/memcache/memcache.go
  vendor/github.com/cortexproject/cortex/pkg/alertmanager/alertmanager.go
  vendor/github.com/cortexproject/cortex/pkg/alertmanager/alertmanager_metrics.go
  vendor/github.com/cortexproject/cortex/pkg/alertmanager/multitenant.go
  vendor/github.com/cortexproject/cortex/pkg/api/api.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/memcached_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/chunk_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/series_store.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/cortex.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/modules.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/ha_tracker.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/wal.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_balanced_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_replicated_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/distributor_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/querier.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/query_range.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/queryrange.pb.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/queryrange.proto
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/results_cache.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/roundtrip.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/split_by_interval.go
  vendor/github.com/cortexproject/cortex/pkg/ring/basic_lifecycler.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/etcd/etcd.go
  vendor/github.com/cortexproject/cortex/pkg/ring/lifecycler.go
  vendor/github.com/cortexproject/cortex/pkg/ring/model.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/api.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/manager.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/ruler.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/util.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/bucket_stores.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/gateway.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/metadata_filters.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/sharding_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/util/extract_forwarded.go
  vendor/github.com/cortexproject/cortex/pkg/util/log.go
  vendor/github.com/cortexproject/cortex/pkg/util/push/push.go
  vendor/github.com/cortexproject/cortex/pkg/util/validation/limits.go
  vendor/github.com/sony/gobreaker/.travis.yml
  vendor/github.com/sony/gobreaker/LICENSE
  vendor/github.com/sony/gobreaker/README.md
  vendor/github.com/sony/gobreaker/go.mod
  vendor/github.com/sony/gobreaker/go.sum
  vendor/github.com/sony/gobreaker/gobreaker.go
  vendor/modules.txt
Labels: size/XXL

#2591 Docs: fix links in installation docs
  docs/sources/installation/_index.md
Labels: size/S

#2592 fixes some doc links
  docs/sources/storage/_index.md
Labels: size/XS

#2582 Add _total suffix to ruler counter metrics
  pkg/ruler/manager/memstore.go
Labels: size/XS

#2565 Add a counter for empty syslog messages
  pkg/promtail/targets/syslog/syslogtarget.go
Labels: size/XS

#2584 Read, Write and operational dashboard improvements
  pkg/storage/stores/shipper/shipper_index_client.go
  production/loki-mixin/dashboard-loki-operational.json
  production/loki-mixin/dashboards.libsonnet
Labels: size/L

#2597 Fixup: url to access promtail config sample
  docs/sources/clients/aws/ec2/_index.md
Labels: size/XS

#2594 Update README.md
  README.md
Labels: size/XS

#2599 fix closing bracket in dashboards from loki-mixin
  production/loki-mixin/dashboards.libsonnet
Labels: size/XS

#2603 Expose UserAgent and fix User-Agent version source
  pkg/promtail/client/client.go
Labels: size/XS

#2610 Loki: Fix query-frontend ready handler
  pkg/loki/loki.go
  pkg/loki/modules.go
  production/ksonnet/loki/query-frontend.libsonnet
Labels: size/M

#2612 Dashboard: typo in Loki Operational dashboard
  production/loki-mixin/dashboard-loki-operational.json
Labels: size/XS

#2613 fix a panic when trying to stop boltdb-shipper multiple times using sync.once
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
Labels: size/S

#2605 Update docs to use raw link
  docs/sources/getting-started/get-logs-into-loki.md
Labels: size/XS

#2606 More template stage examples.
  docs/sources/clients/promtail/stages/template.md
Labels: size/S

#2602 add support for building querytee
  Makefile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
Labels: size/M

#2554 production/helm: add support for PV selector in Loki statefulset
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/statefulset.yaml
  production/helm/loki/values.yaml
Labels: size/S

#2571 Promtail: adding pipeline stage for dropping labels
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/labeldrop.md
  pkg/logentry/stages/labeldrop.go
  pkg/logentry/stages/labeldrop_test.go
  pkg/logentry/stages/stage.go
Labels: size/L

#2620 pkg/storage/stores/shipper/uploads: fix test error
  pkg/storage/stores/shipper/uploads/table_test.go
Labels: size/XS

#2621 Fixes links in aws tutorials.
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/aws/eks/_index.md
Labels: size/XS

#2622 add compactor details and other boltdb-shipper doc improvments
  cmd/logcli/Dockerfile
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/M

#2459 Docker logging driver: Add a keymod for the extra attributes from the Docker logging driver
  cmd/docker-driver/config.go
Labels: size/XS, stale

#2547 jsonnet for running loki using boltdb-shipper
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/querier.libsonnet
Labels: size/L

#2601 rpc for querying ingesters to get chunk ids from its store
  docs/sources/operations/upgrade.md
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/logcli/query/query.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/stats/grpc_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/hack/main.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Labels: size/XXL

#2640 improvements for boltdb-shipper compactor
  pkg/loki/loki.go
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/M

#2642 fix an issue with building loki
  pkg/loki/loki.go
Labels: size/XS

#2618 Promtail: Add a stream lagging metric
  pkg/logentry/metric/metricvec.go
  pkg/promtail/api/types.go
  pkg/promtail/client/client.go
  pkg/promtail/client/config.go
  pkg/promtail/targets/file/filetarget.go
Labels: size/M

#2617 Add config options for loki dashboards
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XXL

#2650 Adds prometheus ruler routes
  pkg/loki/modules.go
Labels: size/XS

#2647 pkg/chunkenc: fix test using string(int) conversion
  pkg/chunkenc/memchunk_test.go
Labels: size/XS

#2645 Tests: fix issue 2356: distributor_test.go fails when the system has no interface name in [eth0, en0, lo0]
  pkg/distributor/distributor_test.go
Labels: size/S

#2637 Ruler docs + single binary inclusion
  docs/Makefile
  docs/sources/alerting/_index.md
  docs/sources/api/_index.md
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
Labels: size/XL

#2657 fixes ruler docs & includes ruler configs in cmd/configs + docker img
  cmd/loki/Dockerfile
  cmd/loki/loki-docker-config.yaml
  cmd/loki/loki-local-config.yaml
  docs/sources/alerting/_index.md
  docs/sources/api/_index.md
Labels: size/M

#2661 Enable local rules backend & disallow configdb.
  go.mod
  go.sum
  pkg/distributor/distributor_test.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/querier_mock_test.go
  vendor/github.com/cortexproject/cortex/pkg/alertmanager/api.go
  vendor/github.com/cortexproject/cortex/pkg/alertmanager/multitenant.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/aws/dynamodb_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/memcached_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/encoding/factory.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/tombstones.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/schema_config.go
  vendor/github.com/cortexproject/cortex/pkg/configs/db/postgres/postgres.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/cortex.go
  vendor/github.com/cortexproject/cortex/pkg/cortex/modules.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/query.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/active_series.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/compat.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester_v2.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/metrics.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/user_state.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/wal.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/wal.pb.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/wal.proto
  vendor/github.com/cortexproject/cortex/pkg/querier/chunk_store_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend.pb.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend.proto
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend_querier_queues.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/frontend_queues.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/worker.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/worker_frontend_manager.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/memberlist/memberlist_client.go
  vendor/github.com/cortexproject/cortex/pkg/ring/lifecycler.go
  vendor/github.com/cortexproject/cortex/pkg/ring/model.go
  vendor/github.com/cortexproject/cortex/pkg/ring/replication_set.go
  vendor/github.com/cortexproject/cortex/pkg/ring/replication_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.go
  vendor/github.com/cortexproject/cortex/pkg/ring/util.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/api.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/manager.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/mapper.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/rules/local/local.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/storage.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/util.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/gateway_ring.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/replication_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/storegateway/sharding_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/util/validation/limits.go
  vendor/modules.txt
Labels: size/XL

#2662 exposes rule group validation fn
  pkg/ruler/manager/compat.go
Labels: size/XS

#2663 improves numeric literal stringer impl
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/shardmapper_test.go
Labels: size/S

#2656 run multiple queries per table at once with boltdb-shipper
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_manager.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/queries_test.go
Labels: size/L

#2655 fix store query bug when running loki in single binary mode with boltdb-shipper
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L

#2671 pkg/querier: fix dropped error
  pkg/querier/querier.go
Labels: size/XS

#2677 fix jsonnet for memcached-writes when using boltdb-shipper
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/loki.libsonnet
Labels: size/S

#2615 Add fallback_formats for timestamp stage
  docs/sources/clients/promtail/stages/timestamp.md
  pkg/logentry/stages/timestamp.go
  pkg/logentry/stages/timestamp_test.go
Labels: size/M

#2692 Docs: Corrected incorrect instances of (setup|set up)
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/promtail/pipelines.md
Labels: size/XS

#2689 docker plugin documentation update
  docs/sources/clients/docker-driver/_index.md
  docs/sources/clients/docker-driver/configuration.md
Labels: size/S

#2691 Update metrics.md
  docs/sources/clients/promtail/stages/metrics.md
Labels: size/XS

#2686 docs: Fix link to code of conduct
  docs/sources/community/governance.md
Labels: size/XS

#2665 Loki: Querier APIs respond JSON Content-Type
  pkg/loki/modules.go
  pkg/util/server/middleware.go
Labels: size/S

#2658 Promtail: do not mark the position if the file is removed
  pkg/promtail/targets/file/filetarget.go
  pkg/promtail/targets/file/tailer.go
Labels: size/S

#2697 updates alerting docs with new cortex tool loki linting support
  docs/sources/alerting/_index.md
Labels: size/S

#2659 [Promtail] enables configuring psp in helm chart
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/podsecuritypolicy.yaml
  production/helm/promtail/values.yaml
Labels: size/M

#2568 fluent-bit plugin support TLS
  cmd/fluent-bit/config.go
  cmd/fluent-bit/out_loki.go
Labels: size/S

#2705 shows cortextool lint command for loki in alerting docs
  docs/sources/alerting/_index.md
Labels: size/XS

#2699 docs: use repetitive numbering
  docs/sources/architecture/_index.md
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/stages/cri.md
  docs/sources/clients/promtail/stages/docker.md
  docs/sources/clients/promtail/stages/tenant.md
  docs/sources/clients/promtail/troubleshooting.md
  docs/sources/community/_index.md
  docs/sources/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/getting-started/_index.md
  docs/sources/getting-started/get-logs-into-loki.md
  docs/sources/maintaining/_index.md
  docs/sources/maintaining/release-loki-build-image.md
  docs/sources/maintaining/release.md
  docs/sources/operations/_index.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/table-manager.md
Labels: size/L
