Repository grafana/loki, pull requests merged in 2020-05, with the labels that each got.

#2027 logcli: Query needs to be stored into url.RawQuery, and not url.Path
  pkg/logcli/client/client.go
  pkg/logcli/client/client_test.go
  pkg/util/query_string_builder.go
  pkg/util/query_string_builder_test.go
Labels: size/M

#2009 Adds :delegated flags to speed up build experience on MacOS.
  Makefile
Labels: size/S

#2013 Update go from 1.13 to 1.14.
  .circleci/config.yml
  .drone/drone.yml
  CONTRIBUTING.md
  Makefile
  cmd/chunks-inspect/go.mod
  cmd/fluent-bit/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
  cmd/promtail/Dockerfile
  cmd/promtail/Dockerfile.arm32
  docs/installation/local.md
  go.mod
  loki-build-image/Dockerfile
  vendor/modules.txt
Labels: size/M

#2028 Revert "Update go from 1.13 to 1.14. (#2013)"
  .circleci/config.yml
  .drone/drone.yml
  CONTRIBUTING.md
  Makefile
  cmd/chunks-inspect/go.mod
  cmd/fluent-bit/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
  cmd/promtail/Dockerfile
  cmd/promtail/Dockerfile.arm32
  docs/installation/local.md
  go.mod
  loki-build-image/Dockerfile
  vendor/modules.txt
Labels: size/M

#2023 Support post requests in the frontend queryrange handler.
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/L

#2042 Fix drone
  .drone/drone.yml
  Makefile
Labels: size/XS

#2043 Swapped to container restarts over terminated reasons
  production/loki-mixin/dashboard-loki-operational.json
Labels: size/S

#2040 Add extraOutputs variable to support multiple outputs for fluent-bit
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/README.md
  production/helm/fluent-bit/templates/configmap.yaml
  production/helm/fluent-bit/values.yaml
Labels: size/S

#2044 Dashboards: fixes the cpu usage graphs
  production/loki-mixin/dashboard-loki-operational.json
Labels: size/S

#2046 Fix bug in logql parsing that leads to crash.
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/filter.go
  pkg/logql/filter_test.go
Labels: size/M

#2050 Chore: Correct typo "per seconds"
  docs/api.md
  pkg/logql/metrics.go
  pkg/logql/stats/stats.pb.go
  pkg/logql/stats/stats.proto
Labels: size/S

#2056 Update api.md
  docs/api.md
Labels: size/S

#2055 Chore: Fix spelling of per second in code
  docs/api.md
  pkg/logql/marshal/legacy/marshal_test.go
  pkg/logql/marshal/marshal_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logql/stats/context.go
  pkg/logql/stats/context_test.go
  pkg/logql/stats/stats.pb.go
  pkg/logql/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
Labels: size/L

#2049 Fix promtail client default values
  pkg/promtail/client/config.go
  pkg/promtail/client/config_test.go
Labels: size/M

#2038 Docs: update Loki Helm Chart document to support Helm 3
  production/helm/README.md
Labels: size/XS

#2058 Fix a bug in range vector skipping data.
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/S

#2054 Docker driver: Allow to provision external pipeline files to plugin
  cmd/docker-driver/Dockerfile
  cmd/docker-driver/config.json
  docs/clients/docker-driver/configuration.md
Labels: size/M

#2059 Recover from panic in http and grpc handlers.
  go.mod
  pkg/loki/fake_auth.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
  pkg/util/server/middleware.go
  pkg/util/server/middleware_test.go
  pkg/util/server/recovery.go
  pkg/util/server/recovery_test.go
  production/loki-mixin/alerts.libsonnet
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/interceptors.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/recovery/options.go
  vendor/modules.txt
Labels: size/L

#2031 Improve protobuf serialization
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/transfer_test.go
  pkg/iter/iterator.go
  pkg/iter/iterator_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logproto/timestamp.go
  pkg/logproto/types.go
  pkg/logproto/types_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/marshal/legacy/marshal_test.go
  pkg/logql/marshal/marshal_test.go
  pkg/logql/marshal/query.go
  pkg/logql/marshal/tail.go
  pkg/logql/range_vector_test.go
  pkg/logql/unmarshal/legacy/unmarshal_test.go
  pkg/logql/unmarshal/unmarshal.go
  pkg/logql/unmarshal/unmarshal_test.go
  pkg/promtail/client/batch.go
  pkg/promtail/client/client_test.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/tail.go
  pkg/querier/tail_mock_test.go
  pkg/querier/tail_test.go
  pkg/storage/iterator_test.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/XXL

#2064 Reverse entry iterator pool
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/iter/iterator.go
  pkg/iter/iterator_test.go
Labels: size/L

#2026 Targets not required in promtail config
  docs/clients/promtail/configuration.md
  pkg/promtail/targets/filetargetmanager.go
Labels: size/M

#2069 Promtail: log at debug level when nothing matches the specified path for a file target
  pkg/promtail/targets/filetarget.go
Labels: size/XS

#2034 some metrics for measuring performance and failures in boltdb shipper
  pkg/loki/loki.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/local/boltdb_index_client.go
  pkg/storage/stores/local/downloads.go
  pkg/storage/stores/local/metrics.go
  pkg/storage/stores/local/shipper.go
  pkg/storage/stores/local/uploads.go
  pkg/storage/stores/local/uploads_test.go
Labels: size/L

#2066 Promtail: metrics stage can also count line bytes
  docs/clients/promtail/stages/metrics.md
  pkg/logentry/metric/counters.go
  pkg/logentry/metric/counters_test.go
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
Labels: size/M

#2073 Loki: Allow configuring query_store_max_look_back_period when running a filesystem store and boltdb-shipper
  docs/configuration/README.md
  docs/operations/storage/README.md
  docs/operations/storage/filesystem.md
  pkg/ingester/ingester.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/storage/stores/local/shipper.go
  pkg/util/list.go
Labels: size/L

#2076 Allows to pass inlined pipeline stages to the docker driver.
  cmd/docker-driver/README.md
  cmd/docker-driver/config.go
  cmd/docker-driver/config_test.go
  cmd/docker-driver/docker-compose.yaml
Labels: size/L

#2075 Fixes a panic in dry-run when using external labels.
  pkg/util/flagext/labelset.go
Labels: size/S

#2074 fluentd plugin: support placeholders in tenant field
  cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  cmd/fluentd/lib/fluent/plugin/out_loki.rb
  docs/clients/fluentd/README.md
Labels: size/M

#2078 removes yolostring
  pkg/logproto/types.go
Labels: size/XS

#2080 mixin: Accept suffixes to pod name in instance labels
  production/loki-mixin/dashboard-loki-logs.json
Labels: size/S

#2088 Loki: allow no encoding/compression on chunks
  pkg/chunkenc/interface.go
Labels: size/XS

#2093 Fixes unit in stats request log.
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
Labels: size/XS

#2095 Adds backtick for the quoted string token lexer.
  docs/logql.md
  pkg/logql/lex.go
  pkg/logql/lex_test.go
  pkg/logql/parser_test.go
Labels: size/M

#2097 simplifies/updates some of our configuration examples
  docs/configuration/examples.md
Labels: size/M

#2098 Prep 1.5.0 release
  CHANGELOG.md
  README.md
  docs/clients/promtail/installation.md
  docs/installation/docker.md
  docs/operations/loki-canary.md
  docs/operations/upgrade.md
  production/docker-compose.yaml
Labels: size/L

#2100 updating all the images to 1.5.0 release
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/values.yaml
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M

#2083 Support querying labels on time range in logcli
  cmd/logcli/main.go
  docs/getting-started/logcli.md
  pkg/logcli/client/client.go
  pkg/logcli/labelquery/labels.go
Labels: size/M

#2111 Fix Promtail journal seeking known position
  pkg/promtail/targets/journaltarget.go
Labels: size/XS

#2112 Documentation: Outdated fluentd image name, UID details, link update
  docs/README.md
  docs/clients/fluentd/README.md
  docs/installation/docker.md
Labels: size/S

#2092 docs: make <placeholders> visible
  docs/installation/docker.md
Labels: size/XS

#2087 Set JournalTarget Priority value to keyword
  docs/clients/promtail/configuration.md
  pkg/promtail/targets/journaltarget.go
  pkg/promtail/targets/journaltarget_test.go
Labels: size/M

#2135 updated documentation links to relative.
  docs/getting-started/labels.md
Labels: size/XS

#2105 promtail: Add Entry variable to template
  pkg/logentry/stages/template.go
Labels: size/XS

#2089 Allow configuring more options for output configuration
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/README.md
  production/helm/fluent-bit/templates/configmap.yaml
  production/helm/fluent-bit/values.yaml
Labels: size/S

#1927 Feature/querysharding ii
  pkg/logcli/query/query.go
  pkg/loghttp/params.go
  pkg/loghttp/query.go
  pkg/logproto/extensions.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/astmapper.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/matrix.go
  pkg/logql/matrix_test.go
  pkg/logql/metrics.go
  pkg/logql/sharding.go
  pkg/logql/sharding_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/stats/context.go
  pkg/logql/stats/context_test.go
  pkg/logql/test_utils.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/iterator.go
  pkg/storage/iterator_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/loki-mixin/dashboards.libsonnet
Labels: size/XXL

#2139 Fix configuration docs
  docs/configuration/README.md
Labels: size/XS

#2099 helm/loki-stack: Support Prometheus on a sub-path in Grafana config
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/templates/datasources.yaml
Labels: size/XS

#2086 helm/loki-stack: render loki datasource only if grafana is enabled
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/templates/datasources.yaml
Labels: size/XS
