Repository grafana/loki, pull requests merged in 2020-10, with the labels that each got.

#2709 Bypass sharding middleware when a query can't be sharded.
  pkg/logql/sharding.go
  pkg/logql/sharding_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
Labels: size/M

#2708 Promtail: Fix timestamp parser for short year format
  pkg/logentry/stages/util.go
  pkg/logentry/stages/util_test.go
Labels: size/S

#2710 Promtail: (and also fluent-bit) change the max batch size to 1MB
  cmd/docker-driver/config.go
  pkg/promtail/client/config.go
  pkg/promtail/client/config_test.go
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/values.yaml
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
Labels: size/M

#2717 Promtail: Fix deadlock on tailer shutdown.
  go.mod
  go.sum
  pkg/promtail/targets/file/filetarget.go
  pkg/promtail/targets/file/tailer.go
  vendor/github.com/hpcloud/tail/.gitignore
  vendor/github.com/hpcloud/tail/go.mod
  vendor/github.com/hpcloud/tail/go.sum
  vendor/github.com/hpcloud/tail/tail.go
  vendor/modules.txt
Labels: size/L

#2723 Promtail: Add counter promtail_batch_retries_total
  pkg/promtail/client/client.go
Labels: size/XS

#2719 nit: fix formatting for ksonnet/loki
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/querier.libsonnet
Labels: size/M

#2716 Doc: fixing parameter name in configuration
  docs/sources/configuration/_index.md
Labels: size/XS

#2724 DOCS: change format of unordered lists in technical docs
  docs/sources/architecture/_index.md
  docs/sources/clients/aws/_index.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/community/governance.md
  docs/sources/configuration/_index.md
  docs/sources/design-documents/labels.md
  docs/sources/operations/loki-canary.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/upgrade.md
  docs/sources/overview/_index.md
Labels: size/L

#2725 fix some misspells
  cmd/logcli/main.go
  pkg/logcli/query/query_test.go
  pkg/logentry/stages/drop.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/uploads/table_test.go
Labels: size/S

#2733 Removes wrong capitalizations
  docs/sources/alerting/_index.md
Labels: size/XS

#2732 set timestamp in instant query done by canaries
  pkg/canary/reader/reader.go
Labels: size/XS

#2735 Fixes the frontend logs to include org_id.
  pkg/loki/modules.go
Labels: size/XS

#2728 Docs: Update docs for redis
  docs/sources/configuration/_index.md
Labels: size/S

#2726 hack: clean getStore
  pkg/storage/hack/main.go
Labels: size/XS

#2607 Logstash cpu usage fix
  cmd/logstash/lib/logstash/outputs/loki.rb
  cmd/logstash/logstash-output-loki.gemspec
  cmd/logstash/spec/outputs/loki_spec.rb
Labels: size/L

#2702 Doc: fix broken links in production/README.md
  production/README.md
Labels: size/XS

#2742 Fix linting errors and use of deprecated repositories
  .circleci/config.yml
  Makefile
  production/helm/ct.yaml
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/requirements.yaml
Labels: size/S

#2737 cmd/loki: add "verify-config" flag
  cmd/loki/main.go
Labels: size/XS

#2698 Doc: Vague link text.
  docs/sources/alerting/_index.md
  docs/sources/best-practices/current-best-practices.md
  docs/sources/clients/aws/_index.md
  docs/sources/clients/aws/ec2/_index.md
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/docker-driver/_index.md
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/community/getting-in-touch.md
  docs/sources/getting-started/labels.md
  docs/sources/operations/authentication.md
  docs/sources/operations/scalability.md
  docs/sources/operations/storage/filesystem.md
  docs/sources/operations/upgrade.md
  docs/sources/storage/_index.md
Labels: size/M

#2711 removes r/w pools from block/chunk types
  pkg/chunkenc/memchunk.go
Labels: size/M

#2741 better tenant logging in ruler memstore
  pkg/ruler/manager/memstore.go
Labels: size/S

#2750 fixes path in prom rules api docs
  docs/sources/api/_index.md
Labels: size/XS

#2752 fix: Remove depricated `entry_parser` from scrapeconfig
  docs/sources/clients/promtail/configuration.md
  docs/sources/design-documents/labels.md
  pkg/promtail/api/entry_parser.go
  pkg/promtail/api/entry_parser_test.go
  pkg/promtail/promtail_test.go
  pkg/promtail/scrapeconfig/scrapeconfig.go
  pkg/promtail/scrapeconfig/scrapeconfig_test.go
  pkg/promtail/targets/file/filetargetmanager.go
Labels: size/L

#2762 fix: typo in upgrade.md
  docs/sources/operations/upgrade.md
Labels: component/docs, size/XS

#2768 Fixes all lint errors.
  cmd/loki/main.go
  pkg/canary/reader/reader.go
  pkg/distributor/distributor.go
  pkg/ingester/flush.go
  pkg/ingester/instance.go
  pkg/ingester/transfer.go
  pkg/logcli/output/default_test.go
  pkg/logcli/output/jsonl_test.go
  pkg/logcli/output/output.go
  pkg/logcli/output/output_test.go
  pkg/logcli/output/raw.go
  pkg/logcli/output/raw_test.go
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
  pkg/logcli/seriesquery/series.go
  pkg/logentry/stages/drop.go
  pkg/logentry/stages/drop_test.go
  pkg/logentry/stages/labeldrop_test.go
  pkg/logentry/stages/replace_test.go
  pkg/loki/modules.go
  pkg/lokifrontend/config.go
  pkg/promtail/client/client.go
  pkg/promtail/client/multi.go
  pkg/promtail/targets/file/filetarget.go
  pkg/promtail/targets/file/filetargetmanager.go
  pkg/promtail/targets/file/tailer.go
  pkg/promtail/targets/journal/journaltargetmanager.go
  pkg/promtail/targets/lokipush/pushtarget.go
  pkg/promtail/targets/lokipush/pushtargetmanager.go
  pkg/promtail/targets/stdin/stdin_target_manager.go
  pkg/promtail/targets/syslog/syslogtarget.go
  pkg/promtail/targets/syslog/syslogtargetmanager.go
  pkg/promtail/targets/target/target.go
  pkg/querier/ingester_querier_test.go
  pkg/ruler/manager/memstore_test.go
  pkg/ruler/ruler.go
  pkg/storage/async_store_test.go
  pkg/storage/hack/main.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/compactor/metrics.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/util/queries_test.go
  pkg/storage/stores/shipper/util/util_test.go
  tools/lambda-promtail/lambda-promtail/main.go
Labels: size/L

#2739 FluentD loki plugin: add support for bearer_token_file parameter
  cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/M

#2769 LogQL: Labels and Metrics Extraction
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/chunk_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/instance.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/tailer.go
  pkg/ingester/transfer_test.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/logentry/stages/match.go
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions.go
  pkg/logql/lex.go
  pkg/logql/lex_test.go
  pkg/logql/log/error.go
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/logfmt/decode.go
  pkg/logql/log/logfmt/jsonstring.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/marshal/labels_test.go
  pkg/logql/marshal/query.go
  pkg/logql/metrics.go
  pkg/logql/parser.go
  pkg/logql/parser_test.go
  pkg/logql/series_extractor.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/test_utils.go
  pkg/querier/http.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/lazy_chunk.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/util/conv.go
  pkg/util/conv_test.go
  pkg/util/server/error.go
Labels: size/XXL

#2772 reapir Retention Example Configuration
  docs/sources/operations/storage/retention.md
Labels: size/XS

#2770 Boltdb shipper query performance improvements
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_manager.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/queries_test.go
Labels: size/XL

#2774 Handle panic in the store goroutine.
  pkg/storage/batch.go
Labels: size/XS

#2778 Logqv2 optimization
  pkg/logql/ast.go
  pkg/logql/functions.go
  pkg/logql/log/filter.go
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
Labels: size/XL

#2786 Logqlv2 pushes groups down to edge
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/logproto/extensions.go
  pkg/logql/ast.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/functions.go
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/parser_test.go
  pkg/logql/sharding.go
  pkg/logql/sharding_test.go
  pkg/logql/test_utils.go
  pkg/storage/batch_test.go
Labels: size/XXL

#2788 add a metric in compactor to record timestamp of last successful run
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/metrics.go
Labels: size/XS

#2793 Improve the way we reverse iterator for backward queries.
  pkg/chunkenc/memchunk.go
  pkg/storage/lazy_chunk.go
Labels: size/M

#2796 Fixes a bug that would add __error__ label incorrectly.
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
Labels: size/S

#2797 Logqlv2 docs
  docs/sources/logql/_index.md
Labels: size/XL

#2790 Boltdb shipper metrics changes
  pkg/storage/stores/shipper/downloads/metrics.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
Labels: size/M

#2803 Update local and docker default config files to use boltdb-shipper with a few other config changes
  cmd/loki/loki-docker-config.yaml
  cmd/loki/loki-local-config.yaml
  pkg/loki/modules.go
Labels: size/M

#2804 Loki: log any chunk fetch failure
  pkg/storage/batch.go
Labels: size/XS

#2805 Improve pipeline stages ast errors.
  pkg/logql/ast.go
  pkg/logql/error.go
  pkg/logql/evaluator.go
  pkg/logql/parser.go
Labels: size/L

#2807 Fix error swallowed in the frontend.
  pkg/querier/queryrange/split_by_interval.go
Labels: size/XS

#2808 Loki Release: update release notes and docs
  CHANGELOG.md
  docs/sources/alerting/_index.md
  docs/sources/configuration/examples.md
  docs/sources/getting-started/_index.md
  docs/sources/getting-started/grafana.md
  docs/sources/getting-started/logcli.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/storage/filesystem.md
  docs/sources/operations/upgrade.md
  docs/sources/storage/_index.md
  docs/sources/upgrading/_index.md
Labels: size/XXL

#2809 Update helm and jsonnet to new release
  docs/sources/clients/aws/ec2/_index.md
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/promtail/installation.md
  docs/sources/installation/docker.md
  docs/sources/operations/loki-canary.md
  production/docker-compose.yaml
  production/helm/fluent-bit/Chart.yaml
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/requirements.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M

#2810 CHANGELOG: Update update document links to point to the right place.
  CHANGELOG.md
Labels: size/XS

#2811 Docs: improve the helm upgrade section
  docs/sources/upgrading/_index.md
Labels: size/S

#2814 Stats: Adding metrics collector GitHub action
  .github/workflows/metrics-collector.yml
Labels: size/S

#2817 Documentation: Add S3 IAM policy to be able to run Compactor
  docs/sources/operations/storage/_index.md
Labels: size/XS

#2820 fixes promtail libsonnet tag. closes #2818
  production/ksonnet/promtail/config.libsonnet
Labels: size/XS

#2819 updates docs with delete permissions notice
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/upgrading/_index.md
Labels: size/S

#2434 fluent-plugin: Improve escaping in key_value format
  cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#2813 Add support for building binaries for ppc64le arch
  .drone/docker-manifest.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/L

#2830 fix panic in ingester when not running with boltdb shipper while queriers does
  pkg/ingester/ingester.go
Labels: size/XS

#2831 fix flaky tests in boltdb-shipper
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/util/util_test.go
Labels: size/S

#2833 Docs: -querier.split-queries-by-day deprecation
  docs/sources/configuration/_index.md
Labels: size/XS

#2836 tests: fix quoting issues in test output when building with Go 1.15
  pkg/logentry/stages/drop_test.go
  pkg/logentry/stages/metrics_test.go
Labels: size/XS
