Repository grafana/loki, pull requests merged in 2020-01, with the labels that each got.

#1501 jsonnet: fix common/defaultPorts parameters
  production/ksonnet/loki/common.libsonnet
Labels: component/packaging, kind/bug, size/XS

#1505 doc: fix sample yaml in docs for installing promtail to k8s
  docs/clients/promtail/installation.md
Labels: size/M

#1508 Fixes bad json in Loki API documentation.
  docs/api.md
Labels: size/XS

#1511 querier: fix panic in tailer when max tail duration exceeds
  pkg/querier/http.go
Labels: size/XS

#1516 Link to release docs in README.md, not master docs
  README.md
  docs/maintaining/release.md
Labels: size/M

#1515 Promtail: Improve position and size metrics
  pkg/promtail/targets/filetarget.go
  pkg/promtail/targets/tailer.go
Labels: size/M

#1518 Fix error 'Field does not exist: jaeger_mixin' in tk show
  production/ksonnet/loki/loki.libsonnet
Labels: size/XS

#1519 pkg/chunkenc: ignore duplicate lines pushed to a stream
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/M

#1521 docs: Document timestamp ordering rules
  docs/api.md
  docs/architecture.md
  docs/clients/promtail/troubleshooting.md
  docs/overview/README.md
Labels: component/docs, size/M

#1522 Adds support for the old query string regexp in the frontend.
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/M

#1526 Support <selector> <range> <filters> for aggregation
  pkg/logql/ast.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/parser_test.go
Labels: size/L

#1506 helm: add podsecuritypolicy for fluent-bit
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/templates/podsecuritypolicy.yaml
  production/helm/fluent-bit/templates/role.yaml
  production/helm/fluent-bit/templates/rolebinding.yaml
  production/helm/loki-stack/Chart.yaml
Labels: size/M

#1531 Documentation: Add note on using Loki with Amazon ECS
  docs/clients/docker-driver/README.md
Labels: size/XS

#1534 helm : fix fluent-bit parser configuration syntax
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/templates/configmap.yaml
Labels: size/XS

#1538 fix(docs): tk init instructions
  production/ksonnet/README.md
Labels: component/docs, kind/bug, size/XS

#1539 docs: fix syntax error in pipeline example
  docs/clients/promtail/pipelines.md
Labels: size/XS

#1543 fix(ksonnet): use apps/v1
  production/ksonnet/loki-canary/loki-canary.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
  production/ksonnet/promtail/promtail.libsonnet
Labels: component/packaging, kind/bug, size/S

#1541 legacy endpoint 400s metric queries
  pkg/querier/http.go
Labels: size/S

#1545 Critical n => m conversions
  pkg/chunkenc/memchunk.go
  pkg/logql/engine.go
  pkg/storage/store.go
Labels: size/XS

#1546 Removing third-party link
  README.md
Labels: size/XS

#1514 fluent-plugin-grafana-loki: Add `fluentd_thread` label when `flush_thread_count' > 1
  fluentd/fluent-plugin-grafana-loki/README.md
  fluentd/fluent-plugin-grafana-loki/fluent-plugin-grafana-loki.gemspec
  fluentd/fluent-plugin-grafana-loki/lib/fluent/plugin/out_loki.rb
Labels: size/S

#1530 Allow extra command line args for external labels like hostname
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
Labels: size/XS

#1560 Promtail Docs: Update output.md
  docs/clients/promtail/stages/output.md
Labels: size/XS

#1564 update distributions with latest release artifacts
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/release_prepare.sh
Labels: size/S

#1561 Update fluentd.md
  docs/clients/fluentd.md
Labels: size/XS

#1567 adds span metadata for split queries
  pkg/querier/queryrange/split_by_interval.go
Labels: size/S

#1558 ingester.max-chunk-age
  CHANGELOG.md
  docs/configuration/README.md
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
Labels: size/M

#1569 refactors splitby to not require buffered channels
  pkg/querier/queryrange/split_by_interval.go
Labels: size/M

#1572 Feature/query ingesters within
  CHANGELOG.md
  docs/configuration/README.md
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
Labels: size/L

#1562 limit for concurrent tail requests
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/util/validation/limits.go
Labels: size/XL

#1553 helm: Allow setting 'loadBalancerSourceRanges' for the loki service
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/service.yaml
Labels: size/S

#1504 Updated configuration.md
  docs/clients/promtail/configuration.md
Labels: size/XS

#1581 Add sleep to canary reconnect on error
  pkg/canary/reader/reader.go
Labels: size/XS

#1573 Improve logql query statistics collection.
  pkg/chunkenc/decompression/context.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/iter/iterator.go
  pkg/logql/engine.go
  pkg/logql/stats/context.go
  pkg/logql/stats/context_test.go
  pkg/logql/stats/grpc.go
  pkg/logql/stats/grpc_test.go
  pkg/querier/querier.go
  pkg/storage/iterator.go
  pkg/storage/store.go
  vendor/google.golang.org/grpc/test/bufconn/bufconn.go
  vendor/modules.txt
Labels: size/XL

#1582 Change new stats names
  pkg/chunkenc/memchunk.go
  pkg/logql/stats/context.go
  pkg/logql/stats/context_test.go
  pkg/logql/stats/grpc.go
  pkg/logql/stats/grpc_test.go
Labels: size/L

#1586 Fix typo in changelog for 1.3.0
  CHANGELOG.md
Labels: size/XS

#1587 Helm/loki-stack: add template for the service name to connect to loki
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/templates/_helpers.tpl
Labels: size/S

#1590 Helm/loki-stack: refresh default grafana.image.tag to 6.6.0
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/values.yaml
Labels: size/XS

#1585 [loki helm chart] added ingress
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/ingress.yaml
  production/helm/loki/values.yaml
Labels: size/M

#1577 Move chunks-inspect tool to Loki repo
  cmd/chunks-inspect/.gitignore
  cmd/chunks-inspect/README.md
  cmd/chunks-inspect/go.mod
  cmd/chunks-inspect/go.sum
  cmd/chunks-inspect/header.go
  cmd/chunks-inspect/labels.go
  cmd/chunks-inspect/loki.go
  cmd/chunks-inspect/main.go
  cmd/chunks-inspect/time.go
Labels: size/XL

#1598 Update tanka.md doc.
  docs/installation/tanka.md
Labels: size/M

#1600 Codecov circleci test [WIP]
  .circleci/config.yml
  .gitignore
  Makefile
  codecov.yml
Labels: size/XS

#1603 fluentd-plugin: add URI validation
  fluentd/fluent-plugin-grafana-loki/Gemfile
  fluentd/fluent-plugin-grafana-loki/fluent-plugin-grafana-loki.gemspec
  fluentd/fluent-plugin-grafana-loki/lib/fluent/plugin/out_loki.rb
Labels: size/S

#1601 Clarify regex escaping rules
  docs/clients/promtail/stages/regex.md
Labels: size/S

#1605 Decouple logql engine/AST from execution context
  pkg/logql/ast.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/querier/http.go
  pkg/querier/querier.go
Labels: size/XL

#1612 bumps cortex to 0.6.1 master
  go.mod
  go.sum
  pkg/loki/modules.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/background.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/cache.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/fifo_cache.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/instrumented.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/memcached.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/mock.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/redis_cache.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/snappy.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/stop_once.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/tiered.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/chunk_store.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/results_cache.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/roundtrip.go
  vendor/github.com/cortexproject/cortex/pkg/ring/http.go
  vendor/github.com/cortexproject/cortex/pkg/ring/model.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.pb.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.proto
  vendor/github.com/cortexproject/cortex/pkg/util/metrics_helper.go
  vendor/modules.txt
Labels: size/S

#1614 Codecov: Update config to add informational flag
  codecov.yml
Labels: size/XS

#1613 Fixes config change in the result cache
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#1565 Feature/per tenant splitby
  CHANGELOG.md
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/util/validation/limits.go
Labels: size/L

#1611 loki frontend docs additions
  docs/architecture.md
  docs/configuration/examples.md
  docs/configuration/query-frontend.md
  docs/overview/README.md
Labels: size/L

#1609 Fix wget syntax in documentation
  docs/installation/docker.md
Labels: size/XS

#1608 Documentation: Recommend using the latest schema version (v11)
  cmd/loki/loki-local-config.yaml
  docs/configuration/examples.md
  docs/operations/storage/retention.md
  docs/operations/storage/table-manager.md
  production/ksonnet/loki/config.libsonnet
Labels: size/S

#1616 cache key cant be reused when an interval changes
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
Labels: size/S
