Repository grafana/loki, pull requests merged in 2020-12, with the labels that each got.

#3009 doc: Fix query-frontend typo
  docs/sources/overview/_index.md
Labels: size/XS

#3006 Fix the docker image version in compose deployment
  production/docker/README.md
  production/docker/docker-compose-ha-memberlist.yaml
Labels: size/S

#3004 Helm Chart: Fix schema of logstash default values
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/values.yaml
Labels: size/XS

#2991 Documentation: Add a missing field to the extended config s3 example
  docs/sources/configuration/examples.md
Labels: size/XS

#2898 fix(docker-driver): Propagate promtail's `client.Stop` properly
  Makefile
  cmd/docker-driver/loki.go
  cmd/docker-driver/main.go
  cmd/fluent-bit/dque.go
  cmd/fluent-bit/loki_test.go
  pkg/promtail/client/client.go
  pkg/promtail/client/client_test.go
  pkg/promtail/client/fake/client.go
  pkg/promtail/client/logger.go
  pkg/promtail/client/multi.go
Labels: size/L

#2984 adds the ability to read chunkFormatV3 while writing v2
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
Labels: size/XS

#3010 Fixes promtail mixin dashboard.
  production/promtail-mixin/dashboards.libsonnet
  production/promtail-mixin/recording_rules.libsonnet
Labels: size/XS

#3008 Fixes the ruler storage with the boltdb store.
  pkg/loki/modules.go
Labels: size/XS

#3013 headblock checkpointing up to v3
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
Labels: size/S

#3014 loki wal libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/wal.libsonnet
Labels: size/M

#3015 Add more information about why a tailer would stop.
  pkg/promtail/targets/file/tailer.go
Labels: size/XS

#3017 doc: Cleanup formatting
  docs/sources/getting-started/troubleshooting.md
Labels: size/XS

#2956 Updates chunkenc doc for V3
  pkg/chunkenc/README.md
Labels: size/S

#2996 Asynchronous Promtail stages
  cmd/docker-driver/loki.go
  cmd/fluent-bit/dque.go
  cmd/fluent-bit/loki.go
  cmd/fluent-bit/loki_test.go
  pkg/logentry/stages/drop.go
  pkg/logentry/stages/drop_test.go
  pkg/logentry/stages/extensions_test.go
  pkg/logentry/stages/json.go
  pkg/logentry/stages/json_test.go
  pkg/logentry/stages/labeldrop.go
  pkg/logentry/stages/labeldrop_test.go
  pkg/logentry/stages/labels.go
  pkg/logentry/stages/labels_test.go
  pkg/logentry/stages/match.go
  pkg/logentry/stages/match_test.go
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
  pkg/logentry/stages/output.go
  pkg/logentry/stages/output_test.go
  pkg/logentry/stages/pipeline.go
  pkg/logentry/stages/pipeline_test.go
  pkg/logentry/stages/regex.go
  pkg/logentry/stages/regex_test.go
  pkg/logentry/stages/replace.go
  pkg/logentry/stages/replace_test.go
  pkg/logentry/stages/stage.go
  pkg/logentry/stages/template.go
  pkg/logentry/stages/template_test.go
  pkg/logentry/stages/tenant.go
  pkg/logentry/stages/tenant_test.go
  pkg/logentry/stages/timestamp.go
  pkg/logentry/stages/timestamp_test.go
  pkg/logentry/stages/util_test.go
  pkg/promtail/api/types.go
  pkg/promtail/client/batch.go
  pkg/promtail/client/batch_test.go
  pkg/promtail/client/client.go
  pkg/promtail/client/client_test.go
  pkg/promtail/client/fake/client.go
  pkg/promtail/client/logger.go
  pkg/promtail/client/logger_test.go
  pkg/promtail/client/multi.go
  pkg/promtail/client/multi_test.go
  pkg/promtail/promtail.go
  pkg/promtail/promtail_test.go
  pkg/promtail/targets/file/filetarget.go
  pkg/promtail/targets/file/filetarget_test.go
  pkg/promtail/targets/file/filetargetmanager.go
  pkg/promtail/targets/file/tailer.go
  pkg/promtail/targets/journal/journaltarget.go
  pkg/promtail/targets/journal/journaltarget_test.go
  pkg/promtail/targets/lokipush/pushtarget.go
  pkg/promtail/targets/lokipush/pushtarget_test.go
  pkg/promtail/targets/stdin/stdin_target_manager.go
  pkg/promtail/targets/stdin/stdin_target_manager_test.go
  pkg/promtail/targets/syslog/syslogtarget.go
  pkg/promtail/targets/syslog/syslogtarget_test.go
  pkg/promtail/targets/testutils/testutils.go
Labels: size/XXL

#3025 Fixes a swallowed context err in the batch storage.
  pkg/logql/engine.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
Labels: size/M

#3024 Collapse multiline logs based on a start line.
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/stages/multiline.md
  pkg/logentry/stages/multiline.go
  pkg/logentry/stages/multiline_test.go
  pkg/logentry/stages/stage.go
Labels: size/L

#3027 Fix docs header inconsistency
  docs/sources/configuration/_index.md
Labels: size/XS

#3029 Correct `multiline` documentation.
  docs/sources/clients/promtail/stages/multiline.md
Labels: size/XS

#3035 Fix multiline docs
  .gitignore
  docs/sources/clients/promtail/stages/multiline.md
  pkg/logentry/stages/multiline.go
  pkg/logentry/stages/multiline_test.go
Labels: size/S

#3033 docs: Create ADOPTERS.md
  ADOPTERS.md
Labels: size/XS

#3031 Testing: Introduced continuous fuzzing
  pkg/logql/fuzz.go
Labels: size/S

#3032 Docs: Update _index.md
  docs/sources/configuration/_index.md
Labels: size/XS

#3039 doc: logql formatting fixes
  docs/sources/logql/_index.md
Labels: size/XS

#2974 fluent-bit: Rename Fluent Bit plugin output name.
  Makefile
  cmd/fluent-bit/Dockerfile
  cmd/fluent-bit/README.md
  cmd/fluent-bit/fluent-bit.conf
  cmd/fluent-bit/out_grafana_loki.go
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/fluentbit/_index.md
  production/helm/fluent-bit/templates/configmap.yaml
Labels: size/M

#3049 [Docs] Clarify docker-driver configuration options
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#3030 Allows by/without to be empty and available for max/min_over_time
  docs/sources/logql/_index.md
  pkg/logql/ast.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions.go
  pkg/logql/parser_test.go
Labels: size/L

#3048 Support rate for unwrapped expressions.
  docs/sources/logql/_index.md
  pkg/logql/ast.go
  pkg/logql/engine_test.go
  pkg/logql/functions.go
Labels: size/M

#3047 Add function label_replace.
  docs/sources/logql/_index.md
  docs/sources/logql/functions.md
  docs/sources/logql/template_functions.md
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/parser_test.go
Labels: size/XXL

#3053 Add absent_over_time
  docs/sources/logql/_index.md
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions.go
  pkg/logql/lex.go
  pkg/logql/parser_test.go
Labels: size/L

#3062 Remove regexes in the operational dashboard.
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/S

#2720 Deprecate Charts as they have been moved
  docs/sources/clients/aws/ec2/_index.md
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/logstash/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/community/contributing.md
  docs/sources/installation/helm.md
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/README.md
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/README.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/promtail/Chart.yaml
  production/helm/promtail/README.md
Labels: size/L

#3077 Make the moduleManager field public
  pkg/loki/loki.go
Labels: size/XS

#3087 feature: make server publicly available
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L

#3072 Helm: Disable CI
  .circleci/config.yml
  Makefile
Labels: size/L

#3101 Jsonet: updating jsonnet for Loki 2.1.0
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/XS

#3102 Docs: Changelog: fix indentation and add helm repo url
  CHANGELOG.md
Labels: size/XS
