Repository grafana/loki, pull requests merged in 2020-03, with the labels that each got.

#1762 Bump testify to 1.5.1
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: size/XS

#1765 Fix error in templating when extracted key has nil value
  pkg/logentry/stages/template.go
  pkg/logentry/stages/template_test.go
Labels: size/S

#1758 Query range should not support date where start == end.
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/S

#1750 Clearer error response from push endpoint when labels are malformed
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
Labels: size/XS

#1767 Dashboard Cleanup
  production/loki-mixin/dashboard-loki-logs.json
  production/loki-mixin/dashboard-loki-operational.json
Labels: size/XXL

#1771 change slack url to slack.grafana.com and use https
  README.md
Labels: size/XS

#1770 Fix single job with multiple service discovery elements
  pkg/promtail/targets/filetargetmanager.go
Labels: size/XS

#1775 promtail: remove the read lines counter when the log file stops being tailed
  pkg/promtail/targets/tailer.go
Labels: size/XS

#1776 fix typo: Not a binary operator: =
  production/ksonnet/loki/common.libsonnet
Labels: size/XS

#1773 loki: Allow setting a 'step' when querying logs.
  pkg/loghttp/params.go
  pkg/loghttp/params_test.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
Labels: size/L

#1777 Revert "loki: Allow setting a 'step' when querying logs. (#1773)"
  pkg/loghttp/params.go
  pkg/loghttp/params_test.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
Labels: size/L

#1780 build: Update the CD deploy task name
  tools/deploy.sh
Labels: size/XS

#1781 Docs: Recommended schema is now v11
  docs/architecture.md
Labels: size/XS

#1738 docs: observability.md: clarify lines vs. entries
  docs/operations/observability.md
Labels: size/M

#1789 Fix loki exit on jaeger agent not being present
  cmd/loki/main.go
  go.mod
  go.sum
  vendor/github.com/weaveworks/common/grpc/cancel.go
  vendor/github.com/weaveworks/common/instrument/instrument.go
  vendor/github.com/weaveworks/common/middleware/grpc_instrumentation.go
  vendor/github.com/weaveworks/common/middleware/grpc_logging.go
  vendor/github.com/weaveworks/common/server/fake_server.pb.go
  vendor/github.com/weaveworks/common/server/fake_server.proto
  vendor/github.com/weaveworks/common/tracing/tracing.go
  vendor/modules.txt
Labels: size/L

#1787 Regexp simplification
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/lazy_chunk.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/stream.go
  pkg/ingester/tailer.go
  pkg/ingester/transfer_test.go
  pkg/logentry/stages/match.go
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/filter.go
  pkg/logql/filter_test.go
  pkg/storage/iterator.go
Labels: size/XL

#1794 loki: Convert module names to string
  pkg/loki/modules.go
Labels: size/M

#1793 pkg/chunkenc: fix leak of pool.
  pkg/chunkenc/memchunk.go
Labels: size/XS

#1736 Add /ready endpoint to table-manager
  pkg/loki/modules.go
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/S

#1797 Use ingester client GRPC call options from config.
  pkg/ingester/client/client.go
Labels: size/XS

#1807 Enable global limits by default in production mixin
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#1802 Add a test for duplicates count in the heap iterator and fixes it.
  pkg/iter/iterator.go
  pkg/iter/iterator_test.go
Labels: size/L

#1808 logcli: log the full stats and send to stderr instead of stdout
  pkg/logcli/query/query.go
Labels: size/XS

#1706 Non-root user docker image for Loki.
  cmd/loki/Dockerfile
Labels: size/XS

#1799 loki: update Cortex to master
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/ingester/ingester.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/aws/dynamodb_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/aws/s3_storage_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/cache/fifo_cache.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/gcp/gcs_object_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/delete_plan.pb.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/delete_plan.proto
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/delete_requests_store.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/purger.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/request_handler.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/purger/tombstones.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/schema_config.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/storage/factory.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/table_manager.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/testutils/testutils.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/query.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/cortex_util.go
  vendor/github.com/cortexproject/cortex/pkg/querier/frontend/worker.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/query_range.go
  vendor/github.com/cortexproject/cortex/pkg/querier/series/series_set.go
  vendor/github.com/cortexproject/cortex/pkg/ring/lifecycler.go
  vendor/github.com/cortexproject/cortex/pkg/util/errors.go
  vendor/github.com/cortexproject/cortex/pkg/util/grpc/util.go
  vendor/github.com/cortexproject/cortex/pkg/util/module_service.go
  vendor/github.com/cortexproject/cortex/pkg/util/services/failure_watcher.go
  vendor/github.com/cortexproject/cortex/pkg/util/time.go
  vendor/modules.txt
Labels: size/M

#1811 Error handling: Show data stream at "debug" level, not "warn"
  fluentd/fluent-plugin-grafana-loki/fluent-plugin-grafana-loki.gemspec
  fluentd/fluent-plugin-grafana-loki/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#1809 Test stats memchunk
  pkg/chunkenc/memchunk_test.go
Labels: size/M

#1791 Improve fluentbit logfmt.
  cmd/fluent-bit/loki.go
  cmd/fluent-bit/loki_test.go
  go.mod
Labels: size/M

#1810 Optimize empty filter queries.
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/filter.go
  pkg/logql/filter_test.go
Labels: size/M

#1816 loki can not be started with loki-local-config.yaml
  cmd/loki/loki-local-config.yaml
Labels: size/XS

#1817 Helm chart: Prevent prometheus to scrape both services
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/service-headless.yaml
  production/helm/loki/templates/servicemonitor.yaml
Labels: size/XS

#1819 Adds a counter for total flushed chunks per reason.
  pkg/ingester/flush.go
  pkg/ingester/stream.go
Labels: size/M

#1823 Use 8080 for Loki http port binding in tanka.
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.debug
  cmd/loki/loki-local-config.yaml
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/S

#1834 Loki/Change local storage directory to /loki/ and fix permissions (#1833)
  cmd/loki/Dockerfile
  cmd/loki/loki-local-config.yaml
Labels: size/XS

#1838 Move default port for Loki to 3100 everywhere.
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.debug
  cmd/loki/loki-local-config.yaml
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
  production/ksonnet/loki/config.libsonnet
Labels: size/S

#1825 Helm/loki-stack: refresh default grafana.image.tag to 6.7.0
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/values.yaml
Labels: size/XS

#1815 Log error message when source does not exist in extracted values
  pkg/logentry/stages/metrics.go
Labels: size/XS

#1843 Docs: Update configuration docs for redis
  docs/configuration/README.md
Labels: size/XS

#1840 promtail: Retry 429 rate limit errors from Loki, increase default retry limits
  docs/clients/promtail/configuration.md
  pkg/promtail/client/client.go
  pkg/promtail/client/client_test.go
  pkg/promtail/client/config.go
Labels: size/M

#1627 Proposal: Promtail Push API
  docs/design-documents/2020-02-Promtail-Push-API.md
Labels: proposal, size/L

#1849 Pin helm version in circle-ci helm testing workflow.
  .circleci/config.yml
Labels: size/XS

#1852 docs: clean up schema recommendations
  docs/architecture.md
  docs/configuration/README.md
  docs/overview/README.md
Labels: size/XS

#1850 BugFix: Fix logcli client to use OrgID in LiveTail
  pkg/logcli/client/client.go
Labels: size/XS

#1845 throw exceptions on HTTPTooManyRequests and HTTPServerError so FluentD will retry
  fluentd/fluent-plugin-grafana-loki/.rubocop.yml
  fluentd/fluent-plugin-grafana-loki/Gemfile
  fluentd/fluent-plugin-grafana-loki/lib/fluent/plugin/out_loki.rb
  fluentd/fluent-plugin-grafana-loki/spec/gems/fluent/plugin/loki_output_spec.rb
Labels: size/M

#1853 bump gem version
  fluentd/fluent-plugin-grafana-loki/fluent-plugin-grafana-loki.gemspec
Labels: size/XS

#1798 Support configurable maximum of the limits parameter
  docs/configuration/README.md
  pkg/querier/http.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/validation/limits.go
Labels: size/M

#1856 docs: tweak the doc section of the readme a little
  README.md
Labels: size/S

#1846 Sharding optimizations I: AST mapping
  pkg/logql/ast.go
  pkg/logql/astmapper.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/parser_test.go
  pkg/logql/sharding.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/XXL

#1814 Logcli remote storage.
  cmd/logcli/main.go
  docs/getting-started/logcli.md
  pkg/logcli/query/query.go
Labels: size/M

#1712 clarify logcli commands and output
  cmd/logcli/main.go
  docs/getting-started/logcli.md
  docs/logql.md
Labels: size/L

#1873 documents frontend worker
  docs/configuration/README.md
  docs/configuration/query-frontend.md
Labels: size/M

#1871 [helm loki/promtail] Add systemd-journald example with extraMount, extraVolumeMount
  production/helm/README.md
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/values.yaml
Labels: size/M

#1870 Docs: Keep plugin install command example in one line
  docs/clients/docker-driver/README.md
Labels: size/XS

#1875 support `match[]` encoding
  pkg/loghttp/series.go
  pkg/loghttp/series_test.go
Labels: size/M

#1861 Support series API in logcli
  CHANGELOG.md
  cmd/logcli/main.go
  docs/getting-started/logcli.md
  pkg/ingester/flush.go
  pkg/logcli/client/client.go
  pkg/logcli/labelquery/labels.go
  pkg/logcli/seriesquery/series.go
  pkg/loghttp/params.go
  pkg/util/query_string_builder.go
Labels: size/L
