Repository grafana/loki, pull requests merged in 2020-02, with the labels that each got.

#1620 [promtail helm chart] option to set fs.inotify.max_user_instances with init container
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#1619 PeriodConfig documentation fix dynamodb -> aws-dynamo
  docs/configuration/README.md
Labels: size/XS

#1626 compiler guarantees for logql exprs
  pkg/logql/ast.go
Labels: size/S

#1615 Add statistics to query_range and instant_query API.
  .circleci/config.yml
  .drone/drone.yml
  Makefile
  cmd/docker-driver/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/promtail/Dockerfile.cross
  docs/api.md
  loki-build-image/Dockerfile
  pkg/iter/iterator.go
  pkg/loghttp/query.go
  pkg/logproto/logproto.pb.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/marshal/legacy/marshal.go
  pkg/logql/marshal/legacy/marshal_test.go
  pkg/logql/marshal/marshal.go
  pkg/logql/marshal/marshal_test.go
  pkg/logql/stats/context.go
  pkg/logql/stats/context_test.go
  pkg/logql/stats/grpc.go
  pkg/logql/stats/grpc_test.go
  pkg/logql/stats/stats.pb.go
  pkg/logql/stats/stats.proto
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/iterator.go
Labels: size/XXL

#1628 Exempt proposals from stale bot
  .github/stale.yml
Labels: size/XS

#1629 Ignore markdown files in codecoverage
  codecov.yml
Labels: size/XS

#1630 adds stringer methods for all ast expr types
  pkg/logql/ast.go
  pkg/logql/ast_test.go
Labels: size/M

#1633 ci: make manifest publishing run in serial
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/L

#1529 Promtail Helm Chart: Add support for passing environment variables
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/values.yaml
Labels: size/S

#1637 ci: pin plugins/manifest image tag
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#1636 Fixes stats summary computation.
  pkg/logql/stats/context.go
  pkg/logql/stats/context_test.go
Labels: size/M

#1639 ci: prune docker tags prefixed with "master-" older than 90 days
  .drone/drone.jsonnet
  .drone/drone.yml
  tools/delete_tags.go
Labels: size/L

#1640 ci: print error messages when an API request fails
  tools/delete_tags.go
Labels: size/M

#1642 Improve systemd field docs
  docs/clients/promtail/scraping.md
Labels: size/S

#1638 adds query stats and org id options in logcli
  cmd/logcli/main.go
  pkg/logcli/client/client.go
  pkg/logcli/query/query.go
Labels: size/S

#1602 Improve promtail configuration docs
  docs/clients/promtail/configuration.md
Labels: size/L

#1646 Fix rubocop violation for fluentd/fluent-plugin-loki
  fluentd/fluent-plugin-grafana-loki/bin/setup
  fluentd/fluent-plugin-grafana-loki/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#1632 Added support for imagePullSecrets in Loki Helm chart
  production/helm/loki-stack/Chart.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/statefulset.yaml
  production/helm/loki/values.yaml
Labels: size/S

#1651 removes duplicate logRangeExprExt grammar
  pkg/ingester/flush_test.go
  pkg/ingester/ingester_test.go
  pkg/logql/ast.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/stats/context.go
  pkg/querier/querier_test.go
Labels: size/L

#1647 Attempting to add `informational` only feedback for codecov
  codecov.yml
Labels: size/XS

#1634 Unite docs for fluentd plugin
  docs/clients/README.md
  docs/clients/fluentd.md
  docs/clients/fluentd/README.md
  fluentd/fluent-plugin-grafana-loki/README.md
Labels: size/XL

#1656 Convert second(Integer class) to nanosecond precision
  fluentd/fluent-plugin-grafana-loki/fluent-plugin-grafana-loki.gemspec
  fluentd/fluent-plugin-grafana-loki/lib/fluent/plugin/out_loki.rb
Labels: size/S

#1660 pkg/promtail/positions: handle empty positions file
  pkg/promtail/positions/positions.go
  pkg/promtail/positions/positions_test.go
Labels: size/S

#1664 Support custom prefix name in metrics stage
  docs/clients/promtail/stages/metrics.md
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
Labels: size/M

#1665 Query frontend service should be headless.
  production/ksonnet/loki/query-frontend.libsonnet
Labels: size/XS

#1648 loki-canary: fix indent of DaemonSet manifest written in .md file
  docs/operations/loki-canary.md
Labels: size/S

#1641 Correcte syntax of rate example
  docs/logql.md
Labels: size/XS

#1671 Update tanka.md so that promtail.yml is the correct format
  docs/installation/tanka.md
Labels: size/S

#1673 Add Owen to the maintainer team.
  docs/community/governance.md
Labels: size/XS

#1649 Pipe data to Promtail
  cmd/promtail/main.go
  docs/clients/promtail/troubleshooting.md
  pkg/promtail/promtail.go
  pkg/promtail/targets/manager.go
  pkg/promtail/targets/stdin_target_manager.go
  pkg/promtail/targets/stdin_target_manager_test.go
Labels: size/L

#1662 Binary operators in LogQL
  CHANGELOG.md
  docs/logql.md
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/parser_test.go
Labels: size/XXL

#1675 maintainer links & usernames
  docs/community/governance.md
Labels: size/S

#1678 promtail: metrics pipeline count all log lines
  docs/clients/promtail/stages/metrics.md
  pkg/logentry/metric/counters.go
  pkg/logentry/metric/counters_test.go
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
Labels: size/L

#1683 promtail: auto-prune stale metrics
  docs/clients/promtail/stages/metrics.md
  pkg/logentry/metric/counters.go
  pkg/logentry/metric/counters_test.go
  pkg/logentry/metric/gauges.go
  pkg/logentry/metric/gauges_test.go
  pkg/logentry/metric/histograms.go
  pkg/logentry/metric/histograms_test.go
  pkg/logentry/metric/metricvec.go
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
Labels: size/L

#1688 Loki stack helm chart can deploy datasources without Grafana
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/templates/datasources.yaml
Labels: size/XS

#1644 This improves the log ouput for statistics in the logcli.
  pkg/logcli/query/query.go
  pkg/logql/stats/context.go
Labels: size/M

#1682 BugFix: Fix logcli --quiet parameter parsing issue
  cmd/logcli/main.go
Labels: size/XS

#1652 --dry-run Promtail.
  cmd/promtail/main.go
  docs/clients/promtail/troubleshooting.md
  pkg/promtail/client/logger.go
  pkg/promtail/client/logger_test.go
  pkg/promtail/positions/positions.go
  pkg/promtail/positions/positions_test.go
  pkg/promtail/promtail.go
  pkg/promtail/promtail_test.go
  pkg/promtail/targets/filetarget.go
  pkg/promtail/targets/filetargetmanager.go
  pkg/promtail/targets/journaltarget.go
  pkg/promtail/targets/journaltargetmanager.go
  pkg/promtail/targets/journaltargetmanager_linux.go
  pkg/promtail/targets/manager.go
  pkg/promtail/targets/tailer.go
Labels: size/L

#1684 Ensure status codes are set correctly in the frontend.
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/S

#1686 max line lengths (component + tenant overrides)
  CHANGELOG.md
  docs/configuration/README.md
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/util/flagext/bytesize.go
  pkg/util/flagext/bytesize_test.go
  pkg/util/validation/limits.go
  vendor/github.com/c2h5oh/datasize/.gitignore
  vendor/github.com/c2h5oh/datasize/.travis.yml
  vendor/github.com/c2h5oh/datasize/LICENSE
  vendor/github.com/c2h5oh/datasize/README.md
  vendor/github.com/c2h5oh/datasize/datasize.go
  vendor/modules.txt
Labels: size/L

#1699 Increased production distributors memory request and limit
  production/ksonnet/loki/distributor.libsonnet
Labels: size/XS

#1666 Support entire extracted value map in template pipeline stage
  docs/clients/promtail/stages/template.md
  pkg/logentry/stages/template.go
  pkg/logentry/stages/template_test.go
Labels: size/M

#1617 [promtail helm chart] Enable support for syslog service
  production/helm/README.md
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/templates/service-syslog.yaml
  production/helm/promtail/values.yaml
Labels: size/M

#1697 fix promtail/templates/NOTES.txt to show correctly port-forward command
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/NOTES.txt
Labels: size/XS

#1677 Literal Expressions in LogQL
  CHANGELOG.md
  docs/logql.md
  pkg/loghttp/query.go
  pkg/logql/ast.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/lex_test.go
  pkg/logql/parser_test.go
  pkg/logql/step_evaluator.go
Labels: size/XL

#1704 api support for scalars
  pkg/logcli/query/query.go
  pkg/loghttp/query.go
  pkg/logql/marshal/query.go
Labels: size/M

#1707 Fix regex in pipeline-example.yml
  cmd/docker-driver/pipeline-example.yaml
Labels: size/XS

#1689 Add headers for WebSocket
  production/ksonnet/loki/gateway.libsonnet
Labels: size/S

#1687 Fix panic in labels debug message
  pkg/logentry/stages/labels.go
  pkg/logentry/stages/labels_test.go
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
  pkg/logentry/stages/output.go
  pkg/logentry/stages/output_test.go
  pkg/logentry/stages/regex.go
  pkg/logentry/stages/regex_test.go
  pkg/logentry/stages/template.go
  pkg/logentry/stages/template_test.go
  pkg/logentry/stages/tenant.go
  pkg/logentry/stages/tenant_test.go
  pkg/logentry/stages/timestamp.go
  pkg/logentry/stages/timestamp_test.go
Labels: size/XS

#1719 Expose QueryType function.
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
Labels: size/M

#1703 fluent-plugin-grafana-loki: Update fluentd base image to current images (edge)
  fluentd/fluent-plugin-grafana-loki/Dockerfile
  fluentd/fluent-plugin-grafana-loki/docker/Gemfile
Labels: size/S

#1717 Fluent-bit: Fix panic error when AutoKubernetesLabels is true
  cmd/fluent-bit/loki.go
  cmd/fluent-bit/loki_test.go
Labels: size/M

#1718 Better logql metric status code.
  pkg/logql/ast.go
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/parser.go
  pkg/logql/parser_test.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
Labels: size/L

#1730 Fix nil pointer dereference in ingester client
  pkg/ingester/client/client.go
Labels: size/XS

#1728 docs: fix outdated link of fluentd
  docs/README.md
Labels: size/XS

#1733 This logs queries with latency tag when recording stats.
  go.mod
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logql/stats/stats.pb.go
  pkg/logql/stats/stats.proto
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
Labels: size/L

#1705 Add overrides file for our jsonnet library.
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/overrides.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/M

#1735 Allow to configure global limits via the jsonnet deployment.
  production/ksonnet/loki/config.libsonnet
Labels: size/S

#1739 Fixes frontend args in libsonnet.
  production/ksonnet/loki/query-frontend.libsonnet
Labels: size/S

#1740 Fix 32-bit Promtail ARM docker builds from Drone
  .drone/drone.jsonnet
  .drone/drone.yml
  cmd/promtail/Dockerfile.arm32
Labels: size/M

#1742 build: fix deploy on tagged build
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#1744 build: tagged release docker images no longer start with 'v'
  .drone/docker-manifest.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  tools/image-tag
Labels: size/S

#1741 add darwin and freebsd binaries to release output
  Makefile
Labels: size/XS

#1743 Promtail: Ignore dropped entries in subsequent metric-stages in pipelines.
  docs/clients/promtail/stages/match.md
  pkg/logentry/stages/metrics.go
  pkg/logentry/stages/metrics_test.go
Labels: size/M

#1731 [promtail helm chart] - Expand promtail syslog svc to support values
  production/helm/loki-stack/Chart.yaml
  production/helm/promtail/Chart.yaml
  production/helm/promtail/templates/service-syslog.yaml
Labels: size/S

#1745 Refactor querier http error handling.
  pkg/querier/http.go
  pkg/querier/http_test.go
Labels: size/L

#1708 Increase discarded samples when line is too long.
  pkg/distributor/validator.go
  pkg/util/validation/validate.go
Labels: size/XS

#1748 jsonnet: Breakout promtail mixin.
  production/loki-mixin/alerts.libsonnet
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/recording_rules.libsonnet
  production/promtail-mixin/alerts.libsonnet
  production/promtail-mixin/dashboards.libsonnet
  production/promtail-mixin/jsonnetfile.json
  production/promtail-mixin/mixin.libsonnet
  production/promtail-mixin/recording_rules.libsonnet
Labels: size/L

#1749 Increasing the threshold for a file lag and reducing the severity to warning
  production/promtail-mixin/alerts.libsonnet
Labels: size/XS

#1756 fix(ksonnet): named parameters for containerPort
  production/ksonnet/loki-canary/loki-canary.libsonnet
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/gateway.libsonnet
  production/ksonnet/promtail/promtail.libsonnet
Labels: size/S

#1757 promtail-mixin: Allow choosing promtail name
  production/promtail-mixin/dashboards.libsonnet
Labels: size/S
