Repository grafana/loki, pull requests merged in 2021-10, with the labels that each got.

#4401 Minor dashboard fixes
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-retention.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/L

#4347 Loki: Common Config
  clients/cmd/promtail/main.go
  cmd/loki/main.go
  cmd/migrate/main.go
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/util/cfg/cfg.go
  pkg/util/cfg/cfg_test.go
  pkg/util/cfg/dynamic.go
  pkg/util/cfg/dynamic_test.go
  pkg/util/cfg/flag.go
  pkg/util/cfg/flag_test.go
  pkg/util/cfg/precedence_test.go
Labels: size/L

#4411 Loki: Bug: frontend waiting on results which would never come
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
Labels: size/M

#4391 add on and ignoring clauses in binOpExpr
  docs/sources/logql/_index.md
  pkg/logql/ast.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/parser_test.go
  pkg/logql/shardmapper_test.go
Labels: size/XXL

#4403 Docs: introduce a fundamentals section
  docs/sources/fundamentals/_index.md
  docs/sources/fundamentals/architecture/_index.md
  docs/sources/fundamentals/architecture/chunks_diagram.png
  docs/sources/fundamentals/architecture/distributor.md
  docs/sources/fundamentals/architecture/loki_architecture_components.svg
  docs/sources/fundamentals/architecture/modes_of_operation.png
  docs/sources/fundamentals/labels.md
  docs/sources/fundamentals/overview/_index.md
  docs/sources/fundamentals/overview/comparisons.md
  docs/sources/fundamentals/overview/loki-overview-1.png
  docs/sources/fundamentals/overview/loki-overview-2.png
Labels: size/M

#4416 Docs: correctly represent product name
  docs/sources/_index.md
  docs/sources/api/_index.md
  docs/sources/best-practices/_index.md
  docs/sources/clients/_index.md
  docs/sources/clients/aws/_index.md
  docs/sources/clients/aws/ec2/_index.md
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/docker-driver/_index.md
  docs/sources/clients/docker-driver/configuration.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/fluentd/_index.md
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/clients/logstash/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/gcplog-cloud.md
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/configuration/_index.md
  docs/sources/configuration/examples.md
  docs/sources/configuration/query-frontend.md
  docs/sources/fundamentals/architecture/_index.md
  docs/sources/fundamentals/architecture/distributor.md
  docs/sources/fundamentals/labels.md
  docs/sources/fundamentals/overview/comparisons.md
  docs/sources/getting-started/_index.md
  docs/sources/getting-started/get-logs-into-loki.md
  docs/sources/getting-started/grafana.md
  docs/sources/getting-started/logcli.md
  docs/sources/getting-started/troubleshooting.md
  docs/sources/installation/docker.md
  docs/sources/installation/helm.md
  docs/sources/installation/install-from-source.md
  docs/sources/installation/local.md
  docs/sources/installation/tanka.md
  docs/sources/logql/_index.md
  docs/sources/logql/log_queries.md
  docs/sources/logql/metric_queries.md
  docs/sources/logql/template_functions.md
  docs/sources/maintaining/_index.md
  docs/sources/maintaining/release-loki-build-image.md
  docs/sources/maintaining/release.md
  docs/sources/operations/authentication.md
  docs/sources/operations/loki-canary.md
  docs/sources/operations/multi-tenancy.md
  docs/sources/operations/observability.md
  docs/sources/operations/scalability.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/storage/filesystem.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager.md
  docs/sources/operations/storage/wal.md
  docs/sources/rules/_index.md
  docs/sources/storage/_index.md
  docs/sources/upgrading/_index.md
Labels: size/L

#4593 Respect gRPC context error when handling errors
  pkg/util/errors.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
Labels: size/M
