Repository grafana/loki, pull requests merged in 2021-01, with the labels that each got.

#3094 Fix storage guide links
  docs/sources/storage/_index.md
Labels: size/XS

#3079 Fix ingester PVC data declaration to use configured value
  production/ksonnet/loki/ingester.libsonnet
Labels: size/XS

#3088 Small fixes for the documentation.
  docs/sources/configuration/_index.md
  docs/sources/logql/_index.md
Labels: size/XS

#3109 Documentation fix for downstream_url
  docs/sources/configuration/_index.md
  docs/sources/configuration/query-frontend.md
Labels: size/XS

#3084 Update reference to old helm chart repo
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/promtail/installation.md
  docs/sources/installation/helm.md
  production/helm/README.md
Labels: size/S

#3026 wal docs
  docs/sources/api/_index.md
  docs/sources/operations/storage/wal.md
Labels: size/M

#3078 mention the use of `config.expand-env` flag in the doc.
  docs/sources/configuration/_index.md
Labels: size/XS

#3114 Disables the stream limiter until wal has recovered
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/limiter.go
Labels: size/L

#3080 Improve JSON parser and add labels parser hints.
  pkg/logql/log/filter.go
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/util.go
  pkg/logql/log/util_test.go
Labels: size/XL

#3117 Wal/recover corruption
  pkg/ingester/ingester.go
  pkg/ingester/recovery.go
Labels: size/L

#3122 Self documenting pipeline process interface
  pkg/logql/log/pipeline.go
Labels: size/XS

#3115 Docs: Include instruction to enable variable expansion
  docs/sources/configuration/_index.md
Labels: size/XS

#3092 lru cache logql.ParseLabels
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#3065 Optimizes SampleExpr to remove unnecessary line_format.
  pkg/logql/ast_test.go
  pkg/logql/engine.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/optimize.go
  pkg/logql/optimize_test.go
Labels: size/XL

#3124 fix time duration unit
  docs/sources/clients/promtail/stages/metrics.md
Labels: size/XS

#3128 Fixes LogQL documentation links.
  docs/sources/clients/aws/eks/_index.md
  docs/sources/logql/_index.md
Labels: size/M

#3090 Improve tailer matching by using the index.
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/tailer.go
  pkg/ingester/tailer_test.go
Labels: size/M

#3123 Update getting-in-touch.md
  docs/sources/community/getting-in-touch.md
Labels: size/S

#3126 Implementing line comments
  docs/sources/logql/_index.md
  pkg/logql/lex.go
  pkg/logql/lex_test.go
  pkg/logql/parser_test.go
Labels: size/M

#3132 Integrates label replace into sharding code
  pkg/logql/ast.go
  pkg/logql/sharding_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/S

#3134 Improve distributors validation and apply in-place filtering.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
Labels: size/L

#3137 label_format no longer shardable and introduces the Shardable() metho…
  pkg/logql/ast.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/M

#3136 Don't fail writes due to full WAL disk
  docs/sources/operations/storage/wal.md
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/metrics.go
  pkg/ingester/transfer_test.go
Labels: size/L

#3138 Give another example for multiline.
  docs/sources/clients/promtail/stages/multiline.md
Labels: size/M

#3141 Swaps mutex for atomic in ingester's OnceSwitch
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
Labels: size/M

#3139 Less confusing jsonnet error message when using boltdb shipper defaults.
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/XS

#3143 Fixes absent_over_time to work with all log selector.
  docs/sources/logql/_index.md
  pkg/logql/functions.go
  pkg/logql/functions_test.go
Labels: size/M

#3146 More semantically correct flush shutdown
  docs/sources/api/_index.md
  docs/sources/operations/storage/wal.md
  pkg/loki/modules.go
Labels: size/S

#3149 Allow dependabot to keep github actions up-to-date
  .github/dependabot.yml
Labels: size/XS

#3153 Improve wal entries encoding.
  pkg/ingester/encoding.go
  pkg/ingester/encoding_test.go
Labels: size/M

#3148 Doc: add missing type supported by table manager
  docs/sources/operations/storage/table-manager.md
Labels: size/XS

#3164 updates alerting docs post 2.0
  docs/sources/alerting/_index.md
Labels: size/XS

#3165 [doc] fix:querier do not handle "/flush" api
  docs/sources/api/_index.md
Labels: size/XS

#3175 Promtail: pass a prometheus registerer to promtail components
  cmd/docker-driver/loki.go
  cmd/fluent-bit/client.go
  cmd/fluent-bit/dque.go
  pkg/promtail/client/client.go
  pkg/promtail/client/client_test.go
  pkg/promtail/client/logger.go
  pkg/promtail/client/logger_test.go
  pkg/promtail/client/multi.go
  pkg/promtail/client/multi_test.go
  pkg/promtail/promtail.go
  pkg/promtail/targets/file/filetarget.go
  pkg/promtail/targets/file/filetarget_test.go
  pkg/promtail/targets/file/filetargetmanager.go
  pkg/promtail/targets/file/metrics.go
  pkg/promtail/targets/file/tailer.go
  pkg/promtail/targets/journal/journaltargetmanager.go
  pkg/promtail/targets/journal/journaltargetmanager_linux.go
  pkg/promtail/targets/lokipush/pushtarget_test.go
  pkg/promtail/targets/lokipush/pushtargetmanager.go
  pkg/promtail/targets/manager.go
  pkg/promtail/targets/stdin/stdin_target_manager.go
  pkg/promtail/targets/stdin/stdin_target_manager_test.go
  pkg/promtail/targets/syslog/metrics.go
  pkg/promtail/targets/syslog/syslogtarget.go
  pkg/promtail/targets/syslog/syslogtarget_test.go
  pkg/promtail/targets/syslog/syslogtargetmanager.go
Labels: size/XL

#3156 Jsonnet: Changes ingester PVC from 5Gi to 10Gi
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#3178 Logs PushRequest data.
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/util/reader.go
Labels: size/L

#3179 Ruler statefulsets
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/ruler.libsonnet
Labels: size/M

#3180 moves boltdb flags to config file
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/S

#3181 remaining sts use parallel mgmt policy
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/querier.libsonnet
Labels: size/XS

#3159 Make httpAuthMiddleware field public
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#3162 Doc: Add missing wal in configuration
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/wal.md
Labels: size/S

#3083 Gcplog targetmanager
  cmd/promtail/promtail-local-pubsub-config.yaml
  docs/sources/clients/promtail/gcplog-cloud.md
  docs/sources/clients/promtail/scraping.md
  go.mod
  go.sum
  pkg/distributor/http.go
  pkg/promtail/scrapeconfig/scrapeconfig.go
  pkg/promtail/targets/file/filetarget.go
  pkg/promtail/targets/gcplog/formatter.go
  pkg/promtail/targets/gcplog/formatter_test.go
  pkg/promtail/targets/gcplog/target.go
  pkg/promtail/targets/gcplog/target_test.go
  pkg/promtail/targets/gcplog/targetmanager.go
  pkg/promtail/targets/manager.go
  pkg/promtail/targets/target/target.go
  vendor/cloud.google.com/go/internal/testutil/cmp.go
  vendor/cloud.google.com/go/internal/testutil/context.go
  vendor/cloud.google.com/go/internal/testutil/headers_enforcer.go
  vendor/cloud.google.com/go/internal/testutil/rand.go
  vendor/cloud.google.com/go/internal/testutil/server.go
  vendor/cloud.google.com/go/internal/testutil/trace.go
  vendor/cloud.google.com/go/pubsub/CHANGES.md
  vendor/cloud.google.com/go/pubsub/LICENSE
  vendor/cloud.google.com/go/pubsub/README.md
  vendor/cloud.google.com/go/pubsub/apiv1/doc.go
  vendor/cloud.google.com/go/pubsub/apiv1/iam.go
  vendor/cloud.google.com/go/pubsub/apiv1/path_funcs.go
  vendor/cloud.google.com/go/pubsub/apiv1/publisher_client.go
  vendor/cloud.google.com/go/pubsub/apiv1/subscriber_client.go
  vendor/cloud.google.com/go/pubsub/debug.go
  vendor/cloud.google.com/go/pubsub/doc.go
  vendor/cloud.google.com/go/pubsub/flow_controller.go
  vendor/cloud.google.com/go/pubsub/go.mod
  vendor/cloud.google.com/go/pubsub/go.sum
  vendor/cloud.google.com/go/pubsub/go_mod_tidy_hack.go
  vendor/cloud.google.com/go/pubsub/internal/distribution/distribution.go
  vendor/cloud.google.com/go/pubsub/iterator.go
  vendor/cloud.google.com/go/pubsub/message.go
  vendor/cloud.google.com/go/pubsub/nodebug.go
  vendor/cloud.google.com/go/pubsub/pstest/fake.go
  vendor/cloud.google.com/go/pubsub/pubsub.go
  vendor/cloud.google.com/go/pubsub/pullstream.go
  vendor/cloud.google.com/go/pubsub/service.go
  vendor/cloud.google.com/go/pubsub/snapshot.go
  vendor/cloud.google.com/go/pubsub/subscription.go
  vendor/cloud.google.com/go/pubsub/topic.go
  vendor/cloud.google.com/go/pubsub/trace.go
  vendor/google.golang.org/api/support/bundler/bundler.go
  vendor/google.golang.org/genproto/googleapis/pubsub/v1/pubsub.pb.go
  vendor/modules.txt
Labels: size/XXL

#3190 doc(gcplog): Fix titles for Cloud provisioning for GCP logs
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/S

#3163 Uses custom json-iter decoder for log entries.
  cmd/querytee/response_comparator.go
  go.mod
  pkg/distributor/http.go
  pkg/loghttp/entry.go
  pkg/loghttp/query.go
  pkg/logql/marshal/marshal.go
  pkg/logql/marshal/marshal_test.go
  pkg/logql/unmarshal/unmarshal.go
  pkg/logql/unmarshal/unmarshal_test.go
  vendor/modules.txt
Labels: size/L

#3194 Fixes unwrap expressions from last optimization.
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
Labels: size/S

#3195 Ignore flushed chunks during checkpointing
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint_test.go
Labels: size/S

#3188 Improves checkpointerWriter memory usage
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/encoding_test.go
Labels: size/L

#3193 Improve checkpoint series iterator.
  pkg/chunkenc/encoding_helpers.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/pool.go
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush_test.go
  pkg/util/pool/bytesbuffer.go
Labels: size/XL

#3200 Improve ingester flush memory usage.
  pkg/ingester/checkpoint.go
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
Labels: size/M

#3207 Fixes panic when using multiple clients
  pkg/promtail/client/client.go
  pkg/promtail/client/client_test.go
  pkg/promtail/client/multi_test.go
Labels: size/M

#3210 Reverts flush buffer pooling.
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/util/pool/bytesbuffer.go
  pkg/util/pool/bytesbuffer_test.go
Labels: size/M

#3211 Fixes tail api marshalling for v1.
  pkg/logql/marshal/marshal.go
  pkg/logql/marshal/marshal_test.go
Labels: size/M

#3191 promtail: pass registerer to gcplog
  pkg/promtail/targets/gcplog/metrics.go
  pkg/promtail/targets/gcplog/target.go
  pkg/promtail/targets/gcplog/target_test.go
  pkg/promtail/targets/gcplog/targetmanager.go
  pkg/promtail/targets/manager.go
Labels: size/M

#3217 Rename checkpoint proto package to avoid conflict with cortex.
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
Labels: size/M

#3212 Fix: Update docs for logcli
  cmd/logcli/main.go
Labels: size/S

#3220 [doc] fix err. "loki_frontend" is invalid
  docs/sources/configuration/query-frontend.md
Labels: size/XS

#3233 Re-introduce https://github.com/grafana/loki/pull/3178.
  pkg/distributor/http.go
Labels: size/M

#3234 Fixes previous commit not using the new sized body.
  pkg/distributor/http.go
Labels: size/XS

#3228 Add config endpoint
  docs/sources/api/_index.md
  pkg/loki/config_handler.go
  pkg/loki/config_handler_test.go
  pkg/loki/loki.go
Labels: size/L

#3225 (fix: cmd/docker-driver): Insert a space in the error message
  cmd/docker-driver/config.go
Labels: size/XS

#3206 Terraform script to automate GCP provisioning for gcplog
  .gitignore
  scripts/gcplog/README.md
  scripts/gcplog/main.tf
Labels: size/L

#3235 docs: point to latest release for docker installation
  docs/sources/installation/docker.md
Labels: size/S

#3241 Allocate entries array with correct size while decoding WAL entries.
  pkg/ingester/encoding.go
  pkg/ingester/encoding_test.go
Labels: size/M

#3229 logcli: support --include-label when not using --tail
  pkg/logcli/query/query.go
Labels: size/XS

#3218 WAL backpressure
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/wal.md
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/metrics.go
  pkg/ingester/recovery.go
  pkg/ingester/replay_controller.go
  pkg/ingester/replay_controller_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/wal.go
  production/ksonnet/loki/wal.libsonnet
Labels: size/XL

#3243 dist: Build promtail for windows/386 to support 32 bit windows hosts
  Makefile
Labels: size/XS

#3249 Fixes a bug where slice of Entries where not zeroed
  pkg/loghttp/entry.go
  pkg/logql/unmarshal/unmarshal_test.go
Labels: size/S

#3239 updates tanka installation docs
  docs/sources/installation/tanka.md
Labels: size/XS

#3201 limit query range in async store for ingesters when query-ingesters-within flag is set
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
Labels: size/L

#3251 Ensure we have parentheses for bin ops.
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/shardmapper_test.go
Labels: size/L

#3236 Loki: Log a crude lag metric for how far behind a client is.
  pkg/distributor/http.go
Labels: size/XS

#3261 fix broken json logs push path
  pkg/distributor/http.go
Labels: size/XS

#3254 ksonnet: Remove invalid hostname from default promtail configuration
  production/ksonnet/promtail/config.libsonnet
Labels: size/XS

#3151 Loki migrate-tool
  .gitignore
  Makefile
  cmd/migrate/Dockerfile
  cmd/migrate/README.md
  cmd/migrate/main.go
  cmd/migrate/main_test.go
  pkg/cfg/flag.go
Labels: size/XL
