Repository grafana/loki, pull requests merged in 2021-02, with the labels that each got.

#3274 [ingester_query] change var "clients" to "reps"
  pkg/querier/ingester_querier.go
Labels: size/S

#3270 logcli: Fix handling of logcli query using --since/--from and --tail
  pkg/logcli/client/client.go
Labels: size/M

#3267 Update vendored Cortex to 0976147451ee
  go.mod
  go.sum
  pkg/distributor/distributor_test.go
  pkg/ingester/client/client.go
  pkg/querier/querier_mock_test.go
  vendor/github.com/cortexproject/cortex/pkg/api/api.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/gcp/bigtable_index_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/gcp/bigtable_object_client.go
  vendor/github.com/cortexproject/cortex/pkg/chunk/gcp/table_client.go
  vendor/github.com/cortexproject/cortex/pkg/frontend/v2/frontend.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/client.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_balanced_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_replicated_set.go
  vendor/github.com/cortexproject/cortex/pkg/querier/querier.go
  vendor/github.com/cortexproject/cortex/pkg/querier/store_gateway_client.go
  vendor/github.com/cortexproject/cortex/pkg/querier/worker/frontend_processor.go
  vendor/github.com/cortexproject/cortex/pkg/querier/worker/scheduler_processor.go
  vendor/github.com/cortexproject/cortex/pkg/querier/worker/worker.go
  vendor/github.com/cortexproject/cortex/pkg/ring/batch.go
  vendor/github.com/cortexproject/cortex/pkg/ring/kv/etcd/etcd.go
  vendor/github.com/cortexproject/cortex/pkg/ring/replication_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/ring/ring.go
  vendor/github.com/cortexproject/cortex/pkg/ruler/ruler.go
  vendor/github.com/cortexproject/cortex/pkg/scheduler/scheduler.go
  vendor/github.com/cortexproject/cortex/pkg/util/grpcclient/grpcclient.go
  vendor/github.com/cortexproject/cortex/pkg/util/push/push.go
  vendor/github.com/cortexproject/cortex/pkg/util/tls/tls.go
  vendor/modules.txt
Labels: size/S

#3263 Fix a bug with metric queries and label_format.
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/parser_test.go
Labels: size/L

#3278 Testware/ rate-unwrap-multi
  pkg/logql/engine_test.go
Labels: size/M

#3271 Refactor logcli Client interface to use time objects for LiveTailQueryConn
  cmd/logcli/main.go
  pkg/logcli/client/client.go
  pkg/logcli/query/query_test.go
  pkg/logcli/query/tail.go
Labels: size/S

#3279 Fixes logfmt parser hints.
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints_test.go
Labels: size/M

#3284 Avoid putting all the GCP labels into loki labels
  pkg/promtail/targets/gcplog/formatter.go
  pkg/promtail/targets/gcplog/formatter_test.go
Labels: size/S

#3285 Make incoming labels from gcp into Loki internal labels.
  cmd/promtail/promtail-local-pubsub-config.yaml
  pkg/promtail/targets/gcplog/formatter.go
  pkg/promtail/targets/gcplog/formatter_test.go
  pkg/promtail/targets/gcplog/target.go
  pkg/util/string.go
  pkg/util/string_test.go
Labels: size/L

#3291 Distributor: Loki API can receive gzipped JSON
  docs/sources/api/_index.md
  pkg/distributor/http.go
Labels: size/S

#3297 adds stateful ruler clause for boltdb shipper jsonnet
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/XS

#3299 Logql/absent label optimization
  pkg/logql/functions.go
  pkg/logql/log/parser_hints_test.go
Labels: size/M

#3303 Increase the windows bookmark buffer.
  pkg/promtail/targets/windows/bookmark.go
Labels: size/XS

#3298 Promtail: fix typo in config variable name - BookmarkPath
  pkg/promtail/scrapeconfig/scrapeconfig.go
  pkg/promtail/targets/windows/target.go
  pkg/promtail/targets/windows/target_test.go
Labels: size/S

#3280 LogQL: Simple JSON expressions
  docs/sources/logql/_index.md
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex_test.go
  pkg/logql/log/json_expr.go
  pkg/logql/log/jsonexpr/jsonexpr.y
  pkg/logql/log/jsonexpr/jsonexpr.y.go
  pkg/logql/log/jsonexpr/jsonexpr_test.go
  pkg/logql/log/jsonexpr/lexer.go
  pkg/logql/log/jsonexpr/parser.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/parser_test.go
Labels: size/XXL

#3277 Add step to version Loki docs during public release process.
  docs/sources/maintaining/release.md
Labels: size/S

#3304 Use project-id from the variables. Remove hardcoding
  scripts/gcplog/main.tf
Labels: size/XS

#3316 docs(fix): Make best practices docs look better
  docs/sources/best-practices/_index.md
  docs/sources/best-practices/current-best-practices.md
Labels: size/L

#3147 Markdown Code highlighting
  docs/sources/configuration/query-frontend.md
Labels: size/XS

#3307 Loki: fix validation error and metrics
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/instance.go
  pkg/util/validation/validate.go
Labels: size/L

#3292 Patch 2 - fix link to another documentation files
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#3240 fix fluent-bit output plugin generating invalid JSON
  cmd/fluent-bit/loki.go
  cmd/fluent-bit/loki_test.go
Labels: size/S

#3321 defaults promtail to 2.1.0 in install script
  tools/promtail.sh
Labels: size/XS

#3326 removes wal recover flag
  cmd/loki/loki-local-config.yaml
  docs/sources/configuration/_index.md
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/wal.go
  production/ksonnet/loki/wal.libsonnet
Labels: size/S

#3329 fix config for statefulset rulers when using boltdb-shipper
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/ruler.libsonnet
Labels: size/XS

#3283 reduce number of list calls on shared object store when using boltdb-shipper
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/util/cached_client.go
  pkg/storage/stores/shipper/util/cached_client_test.go
Labels: size/L

#3339 adds Start() method to WAL interface to delay checkpointing until aft…
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/wal.go
Labels: size/XS

#3340 Adds some flushing instrumentation/logs
  pkg/ingester/flush.go
  pkg/ingester/metrics.go
  pkg/ingester/replay_controller.go
Labels: size/S

#3332 Embed timezone data in Promtail.
  cmd/promtail/main.go
Labels: size/XS

#3331 Add pprof endpoint to docker-driver.
  .golangci.yml
  cmd/docker-driver/config.json
  cmd/docker-driver/main.go
Labels: size/S

#3325 Fixes step encoding in logcli.
  pkg/logcli/client/client.go
Labels: size/S

#3302 Fixes races in multiline stage and promtail.
  pkg/logentry/stages/json_test.go
  pkg/logentry/stages/multiline.go
  pkg/logentry/stages/pipeline_test.go
  pkg/logentry/stages/regex_test.go
  pkg/logentry/stages/template_test.go
  pkg/promtail/promtail_test.go
  pkg/promtail/targets/file/tailer.go
  pkg/promtail/targets/gcplog/target.go
Labels: size/L

#3338 dedupe index on all the queries for a table instead of query batches
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/util/queries.go
Labels: size/M

#3347 Fixes a tight loop in the Engine with LogQL parser.
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/S

#3350 Fixes ingester stats.
  pkg/ingester/ingester.go
Labels: size/XS

#3342 Bound parallelism frontend
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/L

#3356 removes sharding queue math after global concurrency PR
  production/ksonnet/loki/config.libsonnet
Labels: size/S

#3352 Remove extra space between broken link
  docs/sources/maintaining/release.md
Labels: size/XS

#3357 Libsonnet/better sharding parallelism defaults
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#3351 Add some operation details to gcplog doc
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/S

#3372 Fixes a panic with whitespace key.
  pkg/logql/log/parser.go
  pkg/logql/log/util.go
  pkg/logql/log/util_test.go
Labels: size/XS

#3268 design doc/ordering constraint removal
  docs/sources/design-documents/2021-01-Ordering-Constraint-Removal.md
Labels: size/L

#3348 Fixes 500 in the querier when returning multiple errors.
  pkg/iter/entry_iterator.go
  pkg/iter/sample_iterator.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/sharding.go
  pkg/util/errors.go
  pkg/util/server/error_test.go
Labels: size/M

#3380 Loki: Fix parser hint for extracted labels which collide with stream labels
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_hints_test.go
Labels: size/M

#3388 prevents duplicate log lines from being replayed. closes #3378
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
  pkg/ingester/encoding_test.go
  pkg/ingester/recovery.go
  pkg/ingester/recovery_test.go
Labels: size/L

#3383 Fixes head chunk iterator direction.
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/chunk_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/iter/entry_iterator.go
Labels: size/L

#3385 Documentation: enable environment variable in configuration
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#3377 Tooling: Update chunks-inspect to understand the new chunk format as well as new compression algorithms
  cmd/chunks-inspect/go.mod
  cmd/chunks-inspect/go.sum
  cmd/chunks-inspect/loki.go
Labels: size/M

#3381 fix nested captured groups indexing in replace stage
  pkg/logentry/stages/replace.go
  pkg/logentry/stages/replace_test.go
Labels: size/M

#3373 Documentation: Fix configuration description
  docs/sources/configuration/_index.md
Labels: size/XS

#3370 documentation: Add Tjahzi to the list of unofficial clients
  docs/sources/clients/_index.md
Labels: size/XS

#3344 Fixes some 500 returned by querier when storage cancellation happens.
  pkg/util/server/error.go
  pkg/util/server/error_test.go
Labels: size/S

#3306 Add finalizer to zstd.
  pkg/chunkenc/pool.go
Labels: size/XS

#3300 increase db retain period in ingesters to cover index cache validity period as well
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_test.go
Labels: size/L

#3265 Boltdb shipper doc fixes
  docs/sources/configuration/_index.md
  docs/sources/configuration/examples.md
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/M

#3371 Distributor overview docs
  docs/sources/architecture/_index.md
  docs/sources/architecture/distributor.md
Labels: size/M

#3369 boltdbshipper: fix crash of "timeout" panic when boltdbshipper do init
  pkg/storage/stores/shipper/util/util.go
Labels: size/M

#3394 Loki: Ignore directories in object store list results
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/util/util.go
  pkg/storage/stores/shipper/util/util_test.go
Labels: size/L

#3396 Loki: Revert reduce list operations and crash after timeout
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/util/cached_client.go
  pkg/storage/stores/shipper/util/cached_client_test.go
  pkg/storage/stores/shipper/util/util.go
Labels: size/L
