Repository grafana/loki, pull requests merged in 2021-06, with the labels that each got.

#3785 just log a warning when a store type other than boltdb-shipper is detected when custom retention is enabled
  pkg/storage/stores/shipper/compactor/retention/index.go
Labels: size/S

#3766 Ruler: Recording Rules
  pkg/loki/modules.go
  pkg/ruler/appender.go
  pkg/ruler/appender_test.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/config.go
  pkg/ruler/memstore.go
  pkg/ruler/memstore_test.go
  pkg/ruler/remote_write.go
  pkg/ruler/remote_write_test.go
  pkg/ruler/ruler.go
  pkg/util/evicting_queue.go
  pkg/util/evicting_queue_test.go
  pkg/util/mapmerge.go
  pkg/util/mapmerge_test.go
  pkg/validation/limits.go
Labels: size/XXL

#3790 Docs: remove unnecessary lists of sections
  docs/sources/configuration/_index.md
  docs/sources/configuration/examples.md
  docs/sources/maintaining/_index.md
  docs/sources/storage/_index.md
Labels: size/M

#3792 Add a QueryFrontendTripperware module
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L

#3578 [doc] mtric -> metric
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/stages/metrics.md
Labels: size/S

#3503 Update README.md
  README.md
Labels: size/XS

#3797 Exposing remote writer for use in integration tests
  pkg/ruler/appender.go
  pkg/ruler/remote_write.go
  pkg/ruler/remote_write_test.go
Labels: size/S

#3794 add a dashboard for log deletion requests in loki
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/M

#3810 documentation: corrected double "the the" in index.md
  docs/sources/architecture/_index.md
Labels: size/XS

#3775 Retention doc
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/retention.md
Labels: size/L

#3807 Loki: allow for multiple targets
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#3814 Update the docker-driver doc about default labels
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#3815 Docs: fixed typo in "Loki compared to other log systems" (levels -> labels)
  docs/sources/overview/comparisons.md
Labels: size/XS

#3816 Extracting queue interface
  pkg/ruler/appender.go
  pkg/ruler/appender_test.go
  pkg/ruler/remote_write.go
  pkg/ruler/remote_write_test.go
  pkg/util/queue.go
Labels: size/M

#3798 docs: Change redis configuration value for enabling TLS to correct syntax
  docs/sources/configuration/_index.md
Labels: size/XS

#3749 logcli: add support for bearer token authentication
  cmd/logcli/main.go
  docs/sources/getting-started/logcli.md
  pkg/logcli/client/client.go
Labels: size/M

#3824 Docs: add and order missing design docs
  docs/sources/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/design-documents/2020-09-Write-Ahead-Log.md
  docs/sources/design-documents/2021-01-Ordering-Constraint-Removal.md
  docs/sources/design-documents/_index.md
  docs/sources/design-documents/labels.md
Labels: size/S

#3823 Docs: updates
  docs/sources/api/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/installation/_index.md
  docs/sources/operations/_index.md
  docs/sources/operations/authentication.md
  docs/sources/operations/loki-canary.md
  docs/sources/operations/multi-tenancy.md
  docs/sources/operations/observability.md
  docs/sources/operations/scalability.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/upgrade.md
Labels: size/L

#3827 Logs deletion fixes
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
Labels: size/XS

#3828 Fix broken link in `Windows Event Log` scraping docs
  docs/sources/clients/promtail/scraping.md
Labels: size/XS

#3576 Promtail documentation: fix template example for regexReplaceAll function
  docs/sources/clients/promtail/stages/template.md
Labels: size/XS

#3833 Fixes a flaky retention test.
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
Labels: size/XS

#3832 Add step to identify windows Drone runner
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#3835 lz4: update lz4 version to v4.1.7 to avoid possibly panic
  go.mod
  go.sum
  vendor/github.com/pierrec/lz4/v4/.gitignore
  vendor/github.com/pierrec/lz4/v4/.travis.yml
  vendor/github.com/pierrec/lz4/v4/README.md
  vendor/github.com/pierrec/lz4/v4/go.sum
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/block.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/decode_amd64.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/decode_amd64.s
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/decode_arm.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/decode_arm.s
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/decode_noasm.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4block/decode_other.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4stream/block.go
  vendor/github.com/pierrec/lz4/v4/internal/lz4stream/frame.go
  vendor/github.com/pierrec/lz4/v4/lz4.go
  vendor/github.com/pierrec/lz4/v4/options.go
  vendor/github.com/pierrec/lz4/v4/reader.go
  vendor/github.com/pierrec/lz4/v4/writer.go
  vendor/modules.txt
Labels: size/XS

#3563 ignore download of missing boltdb files possibly removed during compaction
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_test.go
Labels: keepalive, size/M

#3848 Add explicit `main` to pull loki and promtail to install it via Tanka
  docs/sources/installation/tanka.md
Labels: size/XS

#3854 Fixes Loki reads dashboard.
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/XS

#3846 Docs: Minor syntax tweaks for consistency
  docs/sources/configuration/_index.md
Labels: size/XS

#3837 LogQL: Pattern Parser
  .drone/drone.yml
  .golangci.yml
  Makefile
  docs/sources/logql/_index.md
  loki-build-image/Dockerfile
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions_test.go
  pkg/logql/lex.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pattern/ast.go
  pkg/logql/log/pattern/expr.y
  pkg/logql/log/pattern/expr.y.go
  pkg/logql/log/pattern/lexer.go
  pkg/logql/log/pattern/lexer.rl
  pkg/logql/log/pattern/lexer.rl.go
  pkg/logql/log/pattern/lexer_test.go
  pkg/logql/log/pattern/parser.go
  pkg/logql/log/pattern/parser_test.go
  pkg/logql/log/pattern/pattern.go
  pkg/logql/log/pattern/pattern_test.go
  pkg/logql/parser_test.go
Labels: size/XXL

#3849 Logs ingester and store queries boundaries.
  pkg/logql/ast.go
  pkg/querier/querier.go
Labels: size/S

#3826 docs for logs deletion feature
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/logs-deletion.md
Labels: size/M

#3851 Ruler: documentation for recording rules
  docs/sources/configuration/_index.md
  docs/sources/rules/_index.md
Labels: size/L

#3873 Docs: remove duplicated arch info from the overview section
  docs/sources/architecture/_index.md
  docs/sources/architecture/distributor.md
  docs/sources/overview/_index.md
Labels: size/L

#3875 Add missing `-querier.max-concurrent` config in the doc
  docs/sources/configuration/_index.md
Labels: size/XS

#3865 feat: index-gateway for boltdb-shipper index store
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/gateway_client_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/util.go
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/ruler.libsonnet
Labels: size/XXL

#3871 Add explict syntax for using `pattern` parser
  docs/sources/logql/_index.md
Labels: size/XS

#3877 Fix jsonnet for index-gateway
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/images.libsonnet
Labels: size/XS

#3876 Documentation: Unify spelling of backtick in documentation
  docs/sources/logql/_index.md
Labels: size/XS

#3868 docs: http_path_prefix as correct item of server_config
  docs/sources/configuration/_index.md
Labels: size/XS

#3860 Docs: Correct capitalization and formatting of "Promtail"
  docs/sources/best-practices/_index.md
  docs/sources/clients/_index.md
  docs/sources/clients/aws/ec2/_index.md
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/gcplog-cloud.md
  docs/sources/clients/promtail/installation.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/clients/promtail/troubleshooting.md
  docs/sources/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/getting-started/troubleshooting.md
  docs/sources/installation/helm.md
  docs/sources/upgrading/_index.md
Labels: size/L

#3843 multiline: Add regex stage example and note
  docs/sources/clients/promtail/stages/multiline.md
Labels: size/S

#3829 Add oauth2 docs options for promtail client
  docs/sources/clients/promtail/configuration.md
Labels: size/S

#3799 docs: Add memcached_client parameter "addresses" list
  docs/sources/configuration/_index.md
Labels: size/XS

#3882 Docs: improve section on building from source
  docs/sources/installation/install-from-source.md
Labels: size/M

#3879 logcli: Add retries to unsuccessful log queries
  cmd/logcli/main.go
  pkg/logcli/client/client.go
Labels: size/M

#3891 add index-gateway to reads and reads-resources dashboards
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/M

#3888 Make `overrides` configmap names and mount path as variables.
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/overrides.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/ruler.libsonnet
  production/ksonnet/loki/wal.libsonnet
Labels: size/M

#3893 update uid of loki-deletion dashboard
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/XS

#3899 Docs: correct “ and ” with " and same with single quote mark.
  docs/sources/best-practices/_index.md
  docs/sources/getting-started/labels.md
Labels: size/M

#3897 Update steps to release versioned docs
  docs/sources/maintaining/release.md
Labels: size/S

#3909 Sync `main` branch docs to `next` folder
  .github/workflows/publish.yml
Labels: size/XS

#3920 adds replication & deduping into cost
  cmd/cluster-plan/main.go
  pkg/sizing/cluster.go
  pkg/sizing/cpu.go
Labels: size/L
