Repository grafana/loki, pull requests merged in 2021-12, with the labels that each got.

#4852 log the user ID in the rate limit error message.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/validate.go
Labels: size/S

#4850 Simplify chunks dashboard label selectors + port some more internal chunks related panels.
  production/loki-mixin/dashboards/loki-chunks.libsonnet
Labels: size/L

#4856 fixes for operational and promtail dashboard
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/M

#4853 recreate compacted boltdb files from compactor when they are more than 12 hours old
  CHANGELOG.md
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
Labels: size/L

#4866 Fix duplicate registry.MustRegister call in Promtail Kafka
  CHANGELOG.md
  clients/pkg/promtail/targets/kafka/target_syncer.go
  clients/pkg/promtail/targets/kafka/target_syncer_test.go
Labels: size/M

#4860 Add rate limiting and metrics to hedging
  CHANGELOG.md
  docs/sources/configuration/_index.md
  go.mod
  go.sum
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/aws/s3_storage_client_test.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client_test.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/gcp/gcs_object_client_test.go
  pkg/storage/chunk/hedging/hedging.go
  pkg/storage/chunk/hedging/hedging_test.go
  pkg/storage/chunk/openstack/swift_object_client.go
  pkg/storage/chunk/openstack/swift_object_client_test.go
  vendor/github.com/cristalhq/hedgedhttp/hedged.go
  vendor/modules.txt
Labels: size/L

#4869 Adding PR gatekeeper
  .github/approve_config.yml
  .github/workflows/pr-gatekeeper.yml
Labels: size/M

#4872 Loki: fix log level for statistics
  pkg/querier/queryrange/stats.go
Labels: size/XS

#4874 Promtail: Fix replace missing adjacent capture groups
  clients/pkg/logentry/stages/replace.go
  clients/pkg/logentry/stages/replace_test.go
Labels: size/S

#4875 always apply replication factor common config
  CHANGELOG.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
Labels: size/S, backport release-2.4.1

#4851 [doc]: Add the multiline stage to stages overview
  docs/sources/clients/promtail/stages/_index.md
Labels: size/XS

#4880 Revert "Adding PR gatekeeper"
  .github/approve_config.yml
  .github/workflows/pr-gatekeeper.yml
Labels: size/M

#4873 Docs: Reorganize architecture section
  docs/sources/fundamentals/architecture/_index.md
  docs/sources/fundamentals/architecture/components.md
  docs/sources/fundamentals/architecture/deployment-modes.md
  docs/sources/fundamentals/architecture/distributor.md
  docs/sources/fundamentals/architecture/rings.md
Labels: size/XL

#4892 Update hedgedhttp to v0.7.0
  CHANGELOG.md
  go.mod
  go.sum
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/hedging/hedging.go
  pkg/storage/chunk/hedging/hedging_test.go
  pkg/storage/chunk/openstack/swift_object_client.go
  vendor/github.com/cristalhq/hedgedhttp/README.md
  vendor/github.com/cristalhq/hedgedhttp/hedged.go
  vendor/github.com/cristalhq/hedgedhttp/stats.go
  vendor/modules.txt
Labels: size/M

#4894 dashboards: fix typo in row title
  production/loki-mixin/dashboards/loki-retention.libsonnet
Labels: size/XS

#4902 Fixes 500 when query is outside of max_query_lookback
  CHANGELOG.md
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/L

#4904 ingester: use consistent set of instances to avoid panic
  CHANGELOG.md
  pkg/ingester/checkpoint.go
Labels: size/XS

#4903 Remove duplicated code in ruler rule validation
  pkg/ruler/compat.go
Labels: size/XS

#4926 Docs: Fix comment in Loki module loading for accuracy
  CHANGELOG.md
  pkg/loki/loki.go
Labels: size/XS

#4924 Skip middleware for unsupported type
  CHANGELOG.md
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
Labels: size/M

#4928 Document correct filesystem config options in reference
  docs/sources/configuration/_index.md
Labels: size/S

#4930 Update logstash dependency in logstash-output-loki plugin
  clients/cmd/logstash/Dockerfile
  clients/cmd/logstash/README.md
  clients/cmd/logstash/logstash-output-loki.gemspec
Labels: size/M

#4858 feat(): add ManagedIdentity in Azure Blob Storage
  docs/sources/configuration/_index.md
  docs/sources/storage/_index.md
  go.mod
  pkg/storage/chunk/azure/blob_storage_client.go
Labels: size/M

#4898 Add copyright notice
  docs/sources/copyright/_index.md
Labels: size/XS

#4929 Correctly use limits middleware in series query
  CHANGELOG.md
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
Labels: size/M

#4944 Move `cortex/pkg/tenant` dependency to Loki.
  CHANGELOG.md
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  cmd/migrate/main.go
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/logql/engine.go
  pkg/lokifrontend/frontend/transport/handler.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/scheduler/scheduler.go
  pkg/storage/chunk/storage/caching_index_client.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
  pkg/tenant/resolver.go
  pkg/tenant/tenant.go
Labels: size/L

#4964 Fix operator actions branch protection from master to main
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-images.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
Labels: size/S

#4965 Fix operator action for sending code coverage
  .github/workflows/operator.yaml
Labels: size/XS, sig/operator

#4966 Fix failing operator github actions
  .github/workflows/operator.yaml
Labels: size/XS, sig/operator

#4963 Provide saner defaults for loki-operator reconciled config
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/S, sig/operator

#4956 Copy `cortex/util/fakeauth` package dependency into Loki
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/util/fakeauth/fake_auth.go
  vendor/modules.txt
Labels: size/XS

#4933 Provide optional matchers to `LabelValuesForMetricName`.
  CHANGELOG.md
  pkg/ingester/ingester_test.go
  pkg/querier/querier_mock_test.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_test.go
  pkg/storage/chunk/composite_store.go
  pkg/storage/chunk/composite_store_test.go
  pkg/storage/chunk/inmemory_storage_client.go
  pkg/storage/chunk/schema_caching_test.go
  pkg/storage/chunk/schema_util.go
  pkg/storage/chunk/series_store.go
  pkg/storage/chunk/series_store_test.go
  pkg/storage/chunk/strings.go
  pkg/storage/util_test.go
Labels: size/L

#4976 Fix operator entrypoint markdown files
  operator/ADOPTERS.md
  operator/README.md
  operator/img/loki-operator.png
Labels: size/XS, sig/operator

#4876 add docker compose example for simple scalable mode
  CHANGELOG.md
  docs/sources/installation/_index.md
  docs/sources/installation/simple-scalable-docker.md
  production/simple-scalable/.dockerignore
  production/simple-scalable/.gitignore
  production/simple-scalable/docker-compose.yaml
  production/simple-scalable/loki-config.yaml
  production/simple-scalable/promtail-config.yaml
Labels: size/L

#4984 Fix logo on operator README.md
  operator/README.md
Labels: size/XS, sig/operator

#4975 Provide saner default for loki-operator managed chunk_target_size
  operator/CHANGELOG.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/XS, sig/operator

#4989 Backport to 2.4: always apply replication factor common config (#4875)
  CHANGELOG.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
Labels: size/S

#4955 update docs preview commands
  docs/Makefile
Labels: size/S

#4992 Docs: fix callouts for images in the Deployment modes section
  docs/sources/fundamentals/architecture/deployment-modes.md
Labels: size/XS

#4893 Fixes LogQL doc.
  docs/sources/logql/_index.md
Labels: size/XS

#4916 Docs: Add default labels to Docker Driver for Docker Compose
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#4900 Docs: add initial descriptions of Loki use of hash rings
  docs/sources/fundamentals/architecture/ring-overview.png
  docs/sources/fundamentals/architecture/rings.md
Labels: size/M

#5003 Doc: Update syslog receiver documentation
  docs/sources/installation/helm.md
Labels: size/M

#5008 Docs: Fix list of Ruler supported storages
  docs/sources/rules/_index.md
Labels: size/XS

#5007 Docs: Move `min_sharding_lookback` to the right place
  docs/sources/configuration/_index.md
Labels: size/S

#4993 Docs: Fix parent of wal and wal_cleaner in loki ruler config docs
  CHANGELOG.md
  docs/sources/configuration/_index.md
Labels: size/M

#4946 update promtail daemonset docs
  docs/sources/clients/promtail/installation.md
Labels: size/XS
