Repository grafana/loki, pull requests merged in 2021-07, with the labels that each got.

#3917 refactor(production/ksonnet): Remove kausal from the root element
  production/ksonnet/loki-canary/loki-canary.libsonnet
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/gateway.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/overrides.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/ruler.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
  production/ksonnet/loki/wal.libsonnet
  production/ksonnet/promtail/promtail.libsonnet
Labels: size/L

#3926 Add Danny Kopping to the Loki Team.
  docs/sources/community/governance.md
Labels: size/XS

#3840 Add retention label to loki_distributor_bytes_received_total metrics
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  docs/sources/operations/observability.md
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
Labels: size/L

#3928 Querier/Ingester: Fixing json expression parser bug
  pkg/distributor/http.go
  pkg/logql/log/jsonexpr/jsonexpr_test.go
  pkg/logql/log/jsonexpr/lexer.go
Labels: size/S

#3929 remove boltdb files from ingesters on startup which do not have a index bucket
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_test.go
Labels: size/M

#3931 Hackathon/cluster
  cmd/cluster-plan/main.go
  cmd/cluster-plan/template.go
  pkg/sizing/cpu.go
  pkg/sizing/sizing.go
Labels: size/L

#3934 optimize table retetion
  docs/sources/operations/storage/retention.md
  pkg/distributor/validator_test.go
  pkg/loki/modules.go
  pkg/loki/runtime_config.go
  pkg/loki/runtime_config_test.go
  pkg/ruler/appender_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/validation/limits.go
Labels: size/XL

#3938 Doc: List 'compactor' as valid value for target option
  docs/sources/configuration/_index.md
Labels: size/XS

#3936 Fix typo
  production/README.md
Labels: size/XS

#3935 Makefile: Only set PROMTAIL_CGO if CGO_ENABLED is not 0.
  Makefile
Labels: size/XS

#3946 Improve marker file current time metrics.
  pkg/storage/stores/shipper/compactor/retention/marker.go
Labels: size/XS

#3944 Lint script files.
  .drone/drone.yml
  Makefile
  loki-build-image/build.sh
  tools/image-tag
  tools/increment_version.sh
  tools/promtail.sh
  tools/release_prepare.sh
  tools/scrape_config.sh
Labels: size/M

#3949 Allow no overrides config for tenants.
  pkg/loki/runtime_config.go
  pkg/loki/runtime_config_test.go
Labels: size/S

#3951 update sizing calc
  cmd/cluster-plan/template.go
  pkg/sizing/sizing.go
Labels: size/XS

#3950 Sign drone.yml file
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/S

#3921 Docs: revise the LogCLI subsection
  docs/sources/getting-started/logcli.md
Labels: size/L

#3911 Docs: Make identification of experimental items consistent and obvious
  docs/sources/api/_index.md
  docs/sources/configuration/_index.md
  docs/sources/logql/_index.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/operations/storage/retention.md
  docs/sources/storage/_index.md
Labels: size/M

#3910 Docs: add structure for a release notes section
  docs/sources/overview/_index.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v2-3.md
Labels: size/M

#3852 Shard ingester queries.
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
  pkg/ingester/instance.go
  pkg/querier/queryrange/querysharding.go
Labels: size/XL

#3856 Shards Series API.
  pkg/loghttp/series.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/shardmapper.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/storage/store.go
Labels: size/XL

#3966 fix panic in compactor when retention is not enabled
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/XS

#3967 fix a panic in compactor when retention is not enabled
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/XS

#3969 add some tests in compactor and fix a bug in IntervalHasExpiredChunks check in retention with tests
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
Labels: size/L

#3559 Doc: Remove removed --ingester.recover-from-wal option and fix out-of-date defaults
  docs/sources/clients/aws/eks/values.yaml
  docs/sources/clients/docker-driver/configuration.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/operations/storage/wal.md
Labels: size/S

#3970 log name of the file failed to open during startup by ingester
  pkg/storage/stores/shipper/uploads/table.go
Labels: size/XS

#3963 Remove Robert Fratto from list of team members
  docs/sources/community/governance.md
Labels: size/XS

#3962 Docs: added new target (docs-next) to the docs' Makefile.
  docs/Makefile
Labels: size/XS

#3971 Fixes negative gauge in Promtail.
  clients/pkg/logentry/stages/metrics.go
  clients/pkg/logentry/stages/metrics_test.go
Labels: size/M

#3941 Development Docker Compose Setup
  tools/dev/loki-boltdb-storage-s3/.dockerignore
  tools/dev/loki-boltdb-storage-s3/.gitignore
  tools/dev/loki-boltdb-storage-s3/README.md
  tools/dev/loki-boltdb-storage-s3/compose-down.sh
  tools/dev/loki-boltdb-storage-s3/compose-up.sh
  tools/dev/loki-boltdb-storage-s3/config/datasource.yaml
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/dev/loki-boltdb-storage-s3/docker-compose.yml
Labels: size/L

#3965 fix typos
  docs/sources/upgrading/_index.md
Labels: size/XS

#3957 Unordered head block
  go.mod
  go.sum
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  vendor/github.com/Workiva/go-datastructures/LICENSE
  vendor/github.com/Workiva/go-datastructures/rangetree/entries.go
  vendor/github.com/Workiva/go-datastructures/rangetree/error.go
  vendor/github.com/Workiva/go-datastructures/rangetree/immutable.go
  vendor/github.com/Workiva/go-datastructures/rangetree/interface.go
  vendor/github.com/Workiva/go-datastructures/rangetree/node.go
  vendor/github.com/Workiva/go-datastructures/rangetree/ordered.go
  vendor/github.com/Workiva/go-datastructures/rangetree/orderedtree.go
  vendor/github.com/Workiva/go-datastructures/slice/int64.go
  vendor/modules.txt
Labels: size/XL

#3973 Use the Cortex wrapper for getting tenant ID from a context
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  cmd/migrate/main.go
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/logql/engine.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/storage/store.go
Labels: size/M

#3976 fix flaky retention tests
  pkg/storage/stores/shipper/compactor/retention/util_test.go
Labels: size/S

#3972 Return build info under `/loki/api/v1/status/buildinfo`.
  docs/sources/api/_index.md
  pkg/loki/loki.go
  pkg/loki/version_handler.go
  pkg/loki/version_handler_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/util/build/build.go
Labels: size/M

#3979 Add a chunk filterer field to the config
  pkg/ingester/ingester.go
Labels: size/XS

#3974 WAL Replay counter
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
  pkg/ingester/encoding.go
  pkg/ingester/encoding_test.go
  pkg/ingester/instance.go
  pkg/ingester/metrics.go
  pkg/ingester/recovery.go
  pkg/ingester/recovery_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/wal.go
Labels: size/L

#3983 Reject labels with invalid runes when using implicit extraction parser.
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/M

#3919 Add ingester.autoforget-unhealthy-timeout opt-in feature
  docs/sources/configuration/_index.md
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
Labels: size/L

#3968 Improve head chunk allocations when reading samples.
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/pool.go
  pkg/chunkenc/unordered.go
  pkg/iter/sample_iterator.go
Labels: size/L

#3990 Intern label keys for LogQL parser.
  pkg/logql/log/labels.go
  pkg/logql/log/parser.go
Labels: size/L

#3977 add a metric for counting number of failures in opening existing active index files
  pkg/storage/stores/shipper/uploads/metrics.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_manager.go
  pkg/storage/stores/shipper/uploads/table_test.go
Labels: size/M

#3956 add config and documentation about index-gateway
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/S

#3932 Parser: Allow literal control chars in logfmt decoder
  pkg/logql/log/logfmt/jsonstring.go
  pkg/logql/log/parser_test.go
Labels: size/M

#3981 fixes chunk size method in facade
  pkg/chunkenc/facade.go
  pkg/chunkenc/interface.go
Labels: size/XS

#3991 Add LogQL AST walker
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions.go
  pkg/logql/optimize.go
  pkg/logql/parser.go
  pkg/logql/parser_test.go
  pkg/logql/sharding.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/walk.go
  pkg/logql/walk_test.go
Labels: size/XXL

#3986 Ip matcher for LogQL
  docs/sources/logql/_index.md
  docs/sources/logql/ip.md
  go.mod
  go.sum
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/log/ip.go
  pkg/logql/log/ip_test.go
  pkg/logql/parser_test.go
  pkg/logql/shardmapper_test.go
  pkg/querier/http.go
  pkg/querier/queryrange/roundtrip.go
  vendor/go4.org/intern/LICENSE
  vendor/go4.org/intern/README.md
  vendor/go4.org/intern/go.mod
  vendor/go4.org/intern/go.sum
  vendor/go4.org/intern/intern.go
  vendor/go4.org/unsafe/assume-no-moving-gc/LICENSE
  vendor/go4.org/unsafe/assume-no-moving-gc/README.md
  vendor/go4.org/unsafe/assume-no-moving-gc/assume-no-moving-gc.go
  vendor/go4.org/unsafe/assume-no-moving-gc/go.mod
  vendor/go4.org/unsafe/assume-no-moving-gc/untested.go
  vendor/inet.af/netaddr/.gitignore
  vendor/inet.af/netaddr/.gitmodules
  vendor/inet.af/netaddr/AUTHORS
  vendor/inet.af/netaddr/LICENSE
  vendor/inet.af/netaddr/README.md
  vendor/inet.af/netaddr/fuzz.go
  vendor/inet.af/netaddr/go.mod
  vendor/inet.af/netaddr/go.sum
  vendor/inet.af/netaddr/ipset.go
  vendor/inet.af/netaddr/mask6.go
  vendor/inet.af/netaddr/netaddr.go
  vendor/inet.af/netaddr/uint128.go
  vendor/modules.txt
Labels: size/XXL

#4028 loki-build-image: Upgrade golangci-lint and Go
  loki-build-image/Dockerfile
Labels: kind/build

#3984 Filter instant queries and shard them.
  pkg/loghttp/query.go
  pkg/querier/http.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
  tools/dev/loki-boltdb-storage-s3/compose-up.sh
Labels: size/XXL

#4034 loki-build-image: Fix building
  loki-build-image/Dockerfile
Labels: kind/build, size/XS

#4039 Fix docs typo: IP Matching section "=f" becomes "="
  docs/sources/logql/ip.md
Labels: size/XS

#4047 Add min_sharding_lookback limits to the frontends
  docs/sources/configuration/_index.md
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/validation/limits.go
Labels: size/M

#4045 adds query-frontend service hints for k8s, adapted from jsonnet
  docs/sources/configuration/query-frontend.md
Labels: size/S

#4048 Ruler: implementing write relabelling on recording rule samples
  pkg/ruler/remote_write.go
  pkg/ruler/remote_write_test.go
Labels: size/M

#4049 Upgrade Prometheus and Cortex to `LabelNames()` with matchers versions
  go.mod
  go.sum
  pkg/ruler/memstore.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/ingester_v2.go
  vendor/github.com/cortexproject/cortex/pkg/querier/blocks_store_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/chunk_store_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/distributor_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/error_translate_queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/lazyquery/lazyquery.go
  vendor/github.com/cortexproject/cortex/pkg/querier/querier.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/queryable.go
  vendor/github.com/cortexproject/cortex/pkg/querier/queryrange/test_utils.go
  vendor/github.com/cortexproject/cortex/pkg/querier/tenantfederation/merge_queryable.go
  vendor/github.com/prometheus/prometheus/storage/interface.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/noop.go
  vendor/github.com/prometheus/prometheus/storage/remote/read.go
  vendor/github.com/prometheus/prometheus/storage/secondary.go
  vendor/github.com/prometheus/prometheus/tsdb/block.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/index/index.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/modules.txt
Labels: size/XS

#4052 Revise wording of query frontend service configuration
  docs/sources/configuration/query-frontend.md
Labels: size/M

#4056 Fixes test helper `newChunk` in the storage pkg.
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/M

#4001 Unordered chunks
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/util_test.go
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
  pkg/ingester/checkpoint_test.go
  pkg/ingester/chunk_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/transfer_test.go
  pkg/storage/hack/main.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/util_test.go
Labels: size/XXL

#4057 Group memcached queries by container
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/S

#4050 Clarify prose about querier frontend min-sharding-lookback
  docs/sources/configuration/_index.md
Labels: size/XS

#4069 Restoring drone signature
  .drone/drone.yml
Labels: size/XS

#4070 Optimize index queries and caching
  pkg/storage/chunk/schema.go
  pkg/storage/chunk/storage/bytes.go
  pkg/storage/chunk/storage/caching_fixtures.go
  pkg/storage/chunk/storage/caching_index_client.go
  pkg/storage/chunk/storage/caching_index_client_test.go
  pkg/storage/chunk/storage/factory.go
  pkg/storage/chunk/storage/index_client_test.go
Labels: size/L

#4072 Updating drone signature
  .drone/drone.yml
Labels: size/XS

#4074 fix broken TestCachingStorageClientStoreQueries
  pkg/storage/chunk/storage/caching_index_client_test.go
Labels: size/XS

#4066 Promtail: handling tight loop in journal follow logic
  clients/pkg/promtail/targets/journal/journaltarget.go
Labels: size/S

#4068 Inject the org-id if possible from the start.
  pkg/loki/modules.go
Labels: size/S

#4075 Make `ParseExternalKey` from the `chunk` package allocations free.
  pkg/storage/batch_test.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/chunk_test.go
Labels: size/M

#4059 Bump fluent-bit base image to 1.8
  clients/cmd/fluent-bit/Dockerfile
Labels: size/XS

#4067 Doc: Promtail: the label created for the message in the cri stage is …
  docs/sources/clients/promtail/stages/cri.md
Labels: size/XS

#4080 Ruler: Adding group_key label to recording_rules_samples_queue_capacity metric
  pkg/ruler/appender.go
  pkg/ruler/remote_write.go
Labels: size/XS
