Repository grafana/loki, pull requests merged in 2021-08, with the labels that each got.

#4081 add a method to check whether error is due to a missing object in storage while reading or deleting the object
  pkg/storage/chunk/aws/dynamodb_storage_client.go
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/cassandra/storage_client.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/gcp/bigtable_object_client.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/grpc/storage_client.go
  pkg/storage/chunk/inmemory_storage_client.go
  pkg/storage/chunk/local/fs_object_client.go
  pkg/storage/chunk/objectclient/client.go
  pkg/storage/chunk/openstack/swift_object_client.go
  pkg/storage/chunk/purger/purger.go
  pkg/storage/chunk/storage/metrics.go
  pkg/storage/chunk/storage_client.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/util/object_client.go
  pkg/storage/util_test.go
Labels: size/L

#3768 Docs: Change service names in docker-compose files
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#4087 Fixes unaligned shards between ingesters and storage.
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
Labels: size/M

#4090 Docs - remove test
  .github/workflows/publish.yml
Labels: size/S

#4091 Fixes instant queries in the frontend.
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/stats.go
Labels: size/L

#4096 Document 0 meaning for retries.
  docs/sources/clients/docker-driver/configuration.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/logstash/_index.md
  tools/dev/loki-boltdb-storage-s3/docker-compose.yml
Labels: size/XS

#3913 Create pull_request_template.md
  .github/pull_request_template.md
Labels: size/XS

#4083 Update the docs to install Loki with Tanka
  docs/sources/installation/tanka.md
Labels: size/M

#4098 Update lambda-promtail documentation example
  tools/lambda-promtail/README.md
Labels: size/XS

#4051 Distributor: Truncate rather than drop log lines
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  pkg/validation/validate.go
Labels: size/L

#4105 Mark recording rules as an experimental feature.
  docs/sources/rules/_index.md
Labels: size/XS

#4071 Support frontend V2 with query scheduler.
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/lokifrontend/config.go
  pkg/validation/limits.go
  tools/dev/loki-boltdb-storage-s3/config/datasource.yaml
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
  tools/dev/loki-boltdb-storage-s3/docker-compose.yml
Labels: size/L

#4107 fix finding tables which would have out of retention data
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
Labels: size/M

#4104 Discard/ooo
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/validation/validate.go
Labels: size/M

#4109 Loki 2.3.0 update jsonnet
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/promtail.sh
Labels: size/XS

#4114 Stream iterators account for unordered data
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/L

#4111 ingester.index-shards config
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/loki/config_test.go
  pkg/loki/loki.go
Labels: size/L

#4122 update boltdb-shipper index period
  docs/sources/configuration/examples.md
Labels: size/XS

#4088 Update Loki README with better links and descriptions
  README.md
Labels: size/M

#3880 Update fluent-plugin-loki documentation URLs
  docs/sources/clients/fluentd/_index.md
Labels: size/XS

#4100 Document operation with the query scheduler.
  docs/sources/operations/scalability.md
Labels: size/S

#4113 Docs: Fix typos and grammar. Inject newlines for readability.
  docs/sources/clients/promtail/stages/multiline.md
Labels: size/S

#4130 Tenant/unordered
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/validation/limits.go
Labels: size/M

#4125 Initial out of order docs
  docs/sources/operations/ordering.md
Labels: size/S

#4135 Build: Fix build version info
  Makefile
Labels: size/XS

#4112 Docs: updated changelog and references to 2.3
  CHANGELOG.md
  README.md
  docs/sources/installation/docker.md
  docs/sources/maintaining/release.md
  docs/sources/release-notes/v2-3.md
  docs/sources/upgrading/_index.md
  production/docker-compose.yaml
Labels: size/L

#4134 Docs: revise section header (out of order writes)
  docs/sources/operations/ordering.md
Labels: size/XS

#4147 Docs: fluentd client phrasing and formatting
  docs/sources/clients/fluentd/_index.md
Labels: size/S

#4153 uses more fleshed out cortex auth utility & adds new auth-ignored routes
  pkg/loki/fake_auth.go
  pkg/loki/loki.go
Labels: size/M

#4154 updates scheduler libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
Labels: size/M

#4160 safely close nonOverlapping iterators
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
Labels: size/M

#4128 add a storage client for boltdb-shipper which would do all the object key management for storage operations
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/storage/client.go
  pkg/storage/stores/shipper/storage/client_test.go
  pkg/storage/stores/shipper/table_client.go
  pkg/storage/stores/shipper/table_client_test.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/util.go
  pkg/storage/stores/shipper/util/util_test.go
  pkg/storage/stores/util/object_client.go
Labels: size/XL

#4180 corrects query scheduler image
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
Labels: size/XS

#4165 Jsonnet: Add Grafana Enterprise Logs library
  production/ksonnet/enterprise-logs/.gitignore
  production/ksonnet/enterprise-logs/Makefile
  production/ksonnet/enterprise-logs/jsonnetfile.json
  production/ksonnet/enterprise-logs/jsonnetfile.lock.json
  production/ksonnet/enterprise-logs/main.libsonnet
  production/ksonnet/enterprise-logs/scripts/k3d-cluster
  production/ksonnet/enterprise-logs/test/eval.jsonnet
  production/ksonnet/enterprise-logs/test/jsonnetfile.json
  production/ksonnet/enterprise-logs/test/jsonnetfile.jsonnet
  production/ksonnet/enterprise-logs/test/jsonnetfile.lock.json
  production/ksonnet/enterprise-logs/variables.mk
Labels: size/XL

#4185 allow setting tenant id for querying logs from loki
  cmd/loki-canary/main.go
  pkg/canary/reader/reader.go
Labels: size/S

#4182 fine tune grpc configs jsonnet
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#4175 Docs: correct path to Promtail configuration file
  docs/sources/installation/docker.md
Labels: size/XS

#4181 initiate grpc health check always
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS

#4131 updates unordered writes config docs
  docs/sources/configuration/_index.md
  docs/sources/operations/ordering.md
Labels: size/XS

#4149 add unordered writes to local config
  cmd/loki/loki-local-config.yaml
Labels: size/XS

#4155 Auth followup - Remove unused
  pkg/loki/loki.go
Labels: size/M

#4132 Promote/ruler api
  docs/sources/configuration/_index.md
  docs/sources/rules/_index.md
  pkg/ruler/config.go
Labels: size/XS

#4172 Retention speedup
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/iterator.go
  pkg/storage/stores/shipper/compactor/retention/iterator_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/retention/series.go
  pkg/storage/stores/shipper/compactor/retention/series_test.go
  pkg/storage/stores/shipper/compactor/retention/util.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
Labels: size/XL

#4192 Cleanup/unordered writes ingester config
  pkg/chunkenc/memchunk.go
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/metrics.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/transfer_test.go
Labels: size/L

#4152 Docs: example about using azure storage account as storage
  docs/sources/storage/_index.md
Labels: size/M

#4193 adds loki_ingester_wal_replay_active metric and records this more acc…
  pkg/ingester/ingester.go
  pkg/ingester/metrics.go
Labels: size/M

#4141 Ruler: write meaningful logs when remote-write is disabled or is misconfigured
  pkg/ruler/appender.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/memstore.go
Labels: size/M

#4145 Docs: improve LogQL section
  docs/sources/logql/_index.md
  docs/sources/logql/ip.md
  docs/sources/logql/query_examples.md
Labels: size/M

#4126 Allow for loki-canary to generate a percentage of out of order log lines
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
  pkg/canary/comparator/comparator.go
  pkg/canary/reader/reader.go
  pkg/canary/writer/writer.go
Labels: size/L

#4191 [ingester/stream]: Add a byte stream rate limit.
  pkg/ingester/checkpoint_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Labels: size/L

#4199 fixes typo
  pkg/validation/validate.go
Labels: size/XS

#4190 Document known Docker driver issues.
  docs/sources/clients/docker-driver/_index.md
Labels: size/M

#4203 cmd/logcli: add --follow flag as an alias for --tail
  cmd/logcli/main.go
  docs/sources/getting-started/logcli.md
Labels: size/XS

#4211 pkg/storage/chunk/aws: Add s3.http.ca-file option
  docs/sources/configuration/_index.md
  pkg/storage/chunk/aws/s3_storage_client.go
Labels: size/M

#4212 WAL replay discard metrics
  pkg/ingester/metrics.go
  pkg/ingester/stream.go
  pkg/validation/validate.go
Labels: size/M

#4208 Update tanka installation docs to refer to tanka section about `jb`
  docs/sources/installation/tanka.md
Labels: size/XS

#4206 Link Kubernetes service discovery configuration.
  docs/sources/clients/promtail/scraping.md
Labels: size/XS

#4176 Authc/z: Enable grpc_client_config to allow mTLS
  pkg/ingester/client/client.go
Labels: size/XS

#4231 doc: fix typo on loki-external-labels for docker client labels
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#4235 Add metrics for gcplog scrape.
  clients/pkg/promtail/targets/gcplog/metrics.go
  clients/pkg/promtail/targets/gcplog/target.go
Labels: size/S

#4238 [fix] distributor: fix goroutine leak
  pkg/distributor/distributor.go
Labels: size/XS

#4240 Simplify Distributor.push
  pkg/distributor/distributor.go
Labels: size/S

#4237 Docs: first draft, Loki accepts out-of-order writes
  docs/sources/api/_index.md
  docs/sources/architecture/_index.md
  docs/sources/best-practices/_index.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/fluentd/_index.md
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/clients/promtail/stages/pack.md
  docs/sources/clients/promtail/troubleshooting.md
  docs/sources/configuration/_index.md
  docs/sources/operations/loki-canary.md
  docs/sources/operations/ordering.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v2-4.md
Labels: size/L

#4227 Chore: Use runtimeconfig from dskit
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/runtime_config.go
  pkg/loki/runtime_config_test.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/modules.txt
Labels: size/M

#4244 Update limits_config docs to include querier.max_query_lookback flag
  docs/sources/configuration/_index.md
Labels: size/XS

#4222 Docs: minor improvements to Loki Canary docs
  docs/sources/operations/canary.png
  docs/sources/operations/loki-canary.md
Labels: size/M

#4245 Docs: revise max_query_lookback knob definition
  docs/sources/configuration/_index.md
Labels: size/XS

#4246 Add missing `Inc()` to correctly increment the `dropStage.dropCount` metric on valid dropped log line; update related docs
  clients/pkg/logentry/stages/drop.go
  docs/sources/clients/promtail/stages/drop.md
  docs/sources/clients/promtail/stages/match.md
Labels: size/XS
