Repository grafana/loki, pull requests merged in 2021-03, with the labels that each got.

#3408 distributor: fix snappy-compressed protobuf POST request handling (#3407)
  pkg/distributor/http.go
Labels: size/XS

#3404 Remove default docker pipeline stage
  pkg/promtail/scrapeconfig/scrapeconfig.go
  pkg/promtail/scrapeconfig/scrapeconfig_test.go
Labels: size/S

#3401 Promtail: Add pack stage
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/pack.md
  pkg/logentry/stages/pack.go
  pkg/logentry/stages/pack_test.go
  pkg/logentry/stages/stage.go
Labels: size/XL

#3409 Instrumentation: Add histogram for request duration on gRPC client to Ingesters
  pkg/ingester/client/client.go
Labels: size/S

#3411 Loki: fix alignment of atomic 64 bit to work with 32 bit OS
  pkg/ingester/replay_controller.go
Labels: size/XS

#3412 Remove unneeded prune-ci-tags drone job
  .drone/drone.jsonnet
  .drone/drone.yml
  tools/delete_tags.go
Labels: size/L

#3417 Fixes a race in the scheduling limits.
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
Labels: size/M

#3422 Modify script to accept inclusion and exclustion filters as variables
  scripts/gcplog/README.md
  scripts/gcplog/main.tf
Labels: size/M

#3421 doc(gcplog): Advanced log export filter example
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/M

#3420 Introduce a unpack parser.
  docs/sources/clients/promtail/stages/pack.md
  docs/sources/logql/_index.md
  pkg/logentry/stages/pack.go
  pkg/logentry/stages/pack_test.go
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/lex.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/parser_test.go
  pkg/logql/parser_test.go
Labels: size/XL

#3418 Adding upgrade documentation for promtail pipeline_stages change
  docs/sources/upgrading/_index.md
Labels: size/S

#3419 docs: promtail: Fix typo w/ windows_events hyperlink.
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#3416 Distributor: append several tests for HTTP parser.
  pkg/distributor/http_test.go
Labels: size/M

#3358 Fix fluentd plugin when kubernetes labels were missing
  cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#3426 Only unpack entry if the key `_entry` exist.
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/parser_test.go
Labels: size/M

#3432 Loki: change ReadStringAsSlice to ReadString so it doesn't parse quotes inside the packed _entry
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/S

#3439 simplifies jsonnet sharding
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
Labels: size/S

#3424 Add fgprof to Loki and Promtail.
  go.mod
  pkg/loki/loki.go
  pkg/promtail/server/server.go
  vendor/modules.txt
Labels: size/XS

#3429 Improve the parser hint tests.
  pkg/logql/log/parser_hints_test.go
Labels: size/XS

#3423 Add limit and line_returned in the query log.
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
Labels: size/L

#3437 docs: add note about regex
  docs/sources/logql/_index.md
Labels: size/XS

#3447 Use better memory metric on operational dashboard
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/XS

#3390 Don't auto-include pod labels as loki labels as a sane default
  tools/promtail.sh
Labels: size/S

#3459 Fixes split interval for metrics queries.
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/L

#3460 Loki: Per Tenant Runtime Configs
  cmd/loki/loki-local-config.yaml
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/runtime_config.go
  pkg/promtail/targets/lokipush/pushtarget.go
  pkg/util/runtime/config.go
Labels: size/L

#3477 Jsonnet/Docs: update for 2.2 release
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/promtail.sh
Labels: size/XS

#3478 docs/upgrading: Fix typo
  docs/sources/upgrading/_index.md
Labels: size/XS

#3469 Fixes out-of-memory fuzzing issue.
  pkg/logql/lex.go
  pkg/logql/parser_test.go
Labels: size/S

#3470 Fixes Issue 28593: loki:fuzz_parse_expr: Timeout in fuzz_parse_expr.
  pkg/logql/lex.go
Labels: size/S

#3471 Set a max size for the logql parser to 5k.
  pkg/logql/parser.go
Labels: size/XS

#3400 support max_message_length configuration for syslog parser
  docs/sources/clients/promtail/configuration.md
  go.mod
  go.sum
  pkg/promtail/scrapeconfig/scrapeconfig.go
  pkg/promtail/targets/syslog/syslogparser/syslogparser.go
  pkg/promtail/targets/syslog/syslogparser/syslogparser_test.go
  pkg/promtail/targets/syslog/syslogtarget.go
  vendor/github.com/influxdata/go-syslog/v3/README.md
  vendor/github.com/influxdata/go-syslog/v3/makefile
  vendor/github.com/influxdata/go-syslog/v3/nontransparent/parser.go
  vendor/github.com/influxdata/go-syslog/v3/octetcounting/parser.go
  vendor/github.com/influxdata/go-syslog/v3/octetcounting/scanner.go
  vendor/github.com/influxdata/go-syslog/v3/options.go
  vendor/github.com/influxdata/go-syslog/v3/syslog.go
  vendor/modules.txt
Labels: size/M

#3487 Set the byte slice cap correctly when unsafely converting string.
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
Labels: size/M

#3430 doc(gcplog): Add note on scraping multiple GCP projects
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/XS

#3496 reduce replay flush threshold
  production/ksonnet/loki/wal.libsonnet
Labels: size/XS

#3468 Support labelallow stage in Promtail
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/labelallow.md
  docs/sources/clients/promtail/stages/labeldrop.md
  pkg/logentry/stages/labelallow.go
  pkg/logentry/stages/labelallow_test.go
  pkg/logentry/stages/stage.go
Labels: size/L

#3481 Update Go and Alpine versions
  .circleci/config.yml
  .drone/drone.yml
  Makefile
  cmd/docker-driver/Dockerfile
  cmd/fluent-bit/Dockerfile
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/promtail/Dockerfile
  cmd/promtail/Dockerfile.arm32
  cmd/promtail/Dockerfile.cross
  cmd/promtail/Dockerfile.debug
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/aws/ecs/ecs-task.json
  go.sum
  loki-build-image/Dockerfile
Labels: size/M

#3464 Documentation: Update boltdb-shipper.md to fix typo
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/XS

#3442 adds deprecation notice for chunk transfers
  docs/sources/architecture/_index.md
Labels: size/XS

#3457 Promtail: Added path information to deleted tailed file
  pkg/promtail/targets/file/tailer.go
Labels: size/XS

#3502 Fixes a bug where unpack would mutate log line.
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/XS

#3491 make prefix for keys of objects created by boltdb-shipper configurable
  pkg/loki/loki.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/table_client.go
  pkg/storage/stores/shipper/table_client_test.go
  pkg/storage/stores/shipper/util/util.go
Labels: size/M

#3509 fix live tailing of logs from Loki
  pkg/querier/ingester_querier.go
Labels: size/XS

#3517 Fixes a race introduced by #3434.
  pkg/logql/log/fmt.go
Labels: size/S

#3518 fix spelling in doc
  docs/sources/clients/promtail/stages/labelallow.md
Labels: size/XS

#3516 Fixes broken link in the documentation.
  docs/sources/clients/promtail/scraping.md
Labels: size/XS

#3513 fixes broken link
  docs/sources/architecture/distributor.md
Labels: size/XS

#3455 Implement offset modifier for range vector aggregation in LogQL
  docs/sources/logql/_index.md
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/expr.y
  pkg/logql/expr.y.go
  pkg/logql/functions_test.go
  pkg/logql/lex.go
  pkg/logql/parser_test.go
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/XXL

#3530 split series api queries by day in query-frontend
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/XS

#3540 Support for single step metric query.
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
Labels: size/M

#3542 Remove memberlist config from ring config.
  docs/sources/configuration/_index.md
Labels: size/S

#3529 Added docs for GCP internal labels.
  docs/sources/clients/promtail/scraping.md
Labels: size/XS

#3544 single import of jsoniter in logql subpackages
  pkg/logql/marshal/marshal.go
  pkg/logql/unmarshal/unmarshal.go
Labels: size/S

#3543 compactor docs
  docs/sources/configuration/_index.md
  docs/sources/configuration/examples.md
Labels: size/M

#3515 Add sprig text/template functions to template stage.
  docs/sources/clients/promtail/stages/template.md
  pkg/logentry/stages/template.go
  pkg/logentry/stages/template_test.go
Labels: size/M

#3472 Docs: Fix markdown for promtail's output stage
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#3525 docs: add title to Lambda Promtail
  docs/sources/clients/lambda-promtail/_index.md
Labels: size/XS

#3550 Fixes a bug in MatrixStepper when sharding queries.
  pkg/logcli/query/query.go
  pkg/logql/matrix.go
  pkg/logql/matrix_test.go
  pkg/logql/test_utils.go
Labels: size/M

#3484 Add Codecov badge to README
  README.md
Labels: size/XS

#3549 LBAC changes
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/querier.go
Labels: size/M

#3555 LogQL Docs: Remove key-value pair missing from logfmt output
  docs/sources/logql/_index.md
Labels: size/XS

#3553 Add a target to reproduce fuzz testcase
  Makefile
  pkg/logql/fuzz_test.go
Labels: size/S

#3552 Update README.md
  cmd/fluent-bit/README.md
Labels: size/XS

#3216 check for stream selectors to have atleast one equality matcher
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/tailer.go
  pkg/logentry/stages/match.go
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/functions_test.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/optimize.go
  pkg/logql/optimize_test.go
  pkg/logql/parser.go
  pkg/logql/parser_test.go
  pkg/logql/sharding_test.go
  pkg/querier/http.go
Labels: keepalive, size/L

#3562 Fixes a test from #3216.
  pkg/chunkenc/memchunk_test.go
Labels: size/XS

#3564 Improve matchers validations.
  pkg/chunkenc/memchunk_test.go
  pkg/logql/ast.go
  pkg/logql/functions_test.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/optimize.go
  pkg/logql/optimize_test.go
  pkg/logql/parser.go
  pkg/logql/parser_test.go
Labels: size/L

#3566 Properly release the ticker in Loki client.
  pkg/promtail/client/client.go
Labels: size/XS
