Repository grafana/loki, pull requests merged in 2021-11, with the labels that each got.

#4601 docs: fix promtail docs links in loki installation page
  docs/sources/installation/helm.md
Labels: size/XS

#4604 Update PR template to include `changelog` update in the checklist
  .github/pull_request_template.md
Labels: size/XS

#4574 Loki: Add a ring to the compactor used to control concurrency when not running standalone
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_ring.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/metrics.go
  pkg/util/ring_config.go
  pkg/util/ring_watcher.go
  production/loki-mixin/alerts.libsonnet
Labels: size/XL

#4607 improves scheduler & compactor ringwatcher checks
  pkg/util/ring_watcher.go
Labels: size/S

#4609 Build: Update CODEOWNERS to put Karen back in charge of the docs
  .github/CODEOWNERS
Labels: size/XS

#4611 Docs: revise incendiary language added in PR 4507
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#4603 add date time sprig template functions in logql label/line formatter
  CHANGELOG.md
  docs/sources/logql/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/M

#4598 Fix `ip` matcher lexer to differentiate filter from identifier
  pkg/logql/lex.go
  pkg/logql/lex_test.go
  pkg/logql/parser_test.go
Labels: size/M

#4615 uses ring.Write instead of ring.WriteNoExtend for compactor ring checks
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/XS

#4614 Loki: query scheduler should send shutdown to frontends when ReplicationSet changes
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/util/ring.go
Labels: size/L

#4608 default ingester final sleep to 0 unless otherwise specified
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
Labels: size/M

#4556 promtail: no need for GCP promtail_instance label now that loki supports out-of-order writes
  clients/pkg/promtail/targets/gcplog/formatter.go
  clients/pkg/promtail/targets/gcplog/formatter_test.go
  docs/sources/clients/promtail/scraping.md
  go.mod
Labels: size/M

#4618 loki-mixin: fix label selectors + logs dashboard
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XL

#4624 Disable chunk transfers in jsonnet lib
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#4627 Loki: Explicitly define allowed HTTP methods on HTTP endpoints
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/worker_service.go
Labels: size/M

#4612 Docs: Fix typo in docs
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS

#4566 Documenting recording rules per-tenant WAL
  docs/sources/configuration/_index.md
  docs/sources/operations/recording-rules.md
  docs/sources/rules/_index.md
  pkg/ruler/config.go
  pkg/ruler/registry.go
  pkg/ruler/storage/cleaner/cleaner.go
  pkg/ruler/storage/instance/instance.go
Labels: component/docs, size/L, component/ruler, 2.4

#4630 Allow HTTP POST requests on ring pages
  pkg/loki/modules.go
Labels: size/XS

#4629 Default wal to enabled in jsonnet lib
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#4616 index-gw sts doc fix. closes #4583
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/XS

#4631 Add changelog and upgrade guide for #4556
  CHANGELOG.md
  docs/sources/upgrading/_index.md
Labels: size/M

#4635 dont try to use the scheduler ring when a downstream url is configured
  pkg/loki/config_wrapper.go
Labels: size/XS

#4634 Fixes the operational dashboard using an old metric.
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/XS

#4599 [Promtail] resolve issue with promtail not scraping target if only path changed in a simpler way that dont need mutex to sync threads
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
Labels: size/S

#4625 Logs deletion fixes
  CHANGELOG.md
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
Labels: size/L

#4638 Loki: Revert distributor defaulting to `inmemory`
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  pkg/distributor/distributor.go
  pkg/loki/loki_test.go
Labels: size/M

#4617 Add common ring configuration
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/util/ring_config.go
Labels: size/XL

#4639 Build: simplify how protos are built
  .circleci/config.yml
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
  cmd/querytee/Dockerfile
Labels: size/L

#4643 compactor depends on memberlist for memberlist ring option
  pkg/loki/loki.go
Labels: size/XS

#4646 Docs: revise modes of operation section
  docs/sources/fundamentals/architecture/_index.md
  docs/sources/fundamentals/architecture/microservices-mode.png
  docs/sources/fundamentals/architecture/modes.png
  docs/sources/fundamentals/architecture/monolithic-mode.png
  docs/sources/fundamentals/architecture/simple-scalable.png
Labels: size/L

#4649 Instrument s3 client DeleteObject requests.
  pkg/storage/chunk/aws/s3_storage_client.go
Labels: size/S

#4651 Build: Only push latest docker tag on tagged builds (not pushes to main)
  .drone/docker-manifest.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/M, backport release-2.4

#4653 Add a test to verify goroutine leak in compression pools.
  pkg/chunkenc/pool_test.go
Labels: size/M

#4656 Fix dskit/ring metric with 'cortex_' prefix
  pkg/loki/modules.go
Labels: size/XS, 2.4, backport release-2.4

#4650 Docs: Document duplicated protos warning occurence
  docs/sources/upgrading/_index.md
Labels: size/S, backport release-2.4

#4664 Docs: Document the common ring section
  docs/sources/configuration/_index.md
Labels: component/docs, size/L, backport release-2.4

#4660 Update local and docker config for simple scalable deployment
  cmd/loki/loki-docker-config.yaml
  cmd/loki/loki-local-config.yaml
  pkg/ingester/ingester.go
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/scheduler/scheduler.go
  pkg/storage/chunk/schema_config.go
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/L, backport release-2.4

#4658 2.4 release notes, changelog, upgrade guide
  CHANGELOG.md
  docs/sources/api/_index.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/configuration/_index.md
  docs/sources/logql/ip.md
  docs/sources/logql/log_queries.md
  docs/sources/operations/storage/retention.md
  docs/sources/release-notes/v2-4.md
  docs/sources/upgrading/_index.md
  pkg/loki/config_wrapper.go
Labels: size/XL, backport release-2.4

#4672 Project: Update to 2.4.0
  docs/sources/installation/docker.md
  docs/sources/maintaining/release.md
  production/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/promtail.sh
Labels: size/M, backport release-2.4

#4675 Docs: revise v2.4 release notes
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-4.md
Labels: size/M, 2.4, backport release-2.4

#4678 remove my text to test PR push
  docs/Makefile
Labels: size/XS

#4681 Loki: check new Read target when initializing boltdb-shipper store
  Makefile
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  tools/increment_version.sh
Labels: size/M, backport release-2.4

#4687 overrides checks for nil tenant limits on AllByUserID
  pkg/validation/limits.go
Labels: size/XS, backport release-2.4

#4683 Adds replication_factor doc to common config
  docs/sources/configuration/_index.md
Labels: size/XS, backport release-2.4

#4688 Project: Loki 2.4.1 release notes
  CHANGELOG.md
  docs/sources/release-notes/v2-4.md
Labels: size/S, backport release-2.4

#4697 fix flaky retention tests
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
Labels: size/S, backport release-2.4

#4701 Project: Update to 2.4.1
  docs/sources/installation/docker.md
  docs/sources/maintaining/release.md
  docs/sources/upgrading/_index.md
  production/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/promtail.sh
Labels: size/M, backport release-2.4

#4636 Run benchmarks in cron jobs.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#4710 Only execute benchmarks on main.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#4718 Docs: small v2.4.1 release notes edits
  docs/sources/release-notes/v2-4.md
Labels: size/S

#4716 Fixes Promtail User-Agent.
  clients/pkg/promtail/client/client.go
Labels: size/XS

#4726 Docs: Fix a typo
  docs/sources/clients/promtail/stages/timestamp.md
Labels: size/XS

#4737 ensures components with required SRV lookups use the correct port
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
Labels: size/S

#4712 Refactor and simplify stats package.
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/stream.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/loghttp/query_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/sharding.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/grpc.go
  pkg/logqlmodel/stats/grpc_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/ingester_querier.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/store.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
  vendor/google.golang.org/grpc/test/bufconn/bufconn.go
  vendor/modules.txt
Labels: size/XXL

#4711 Simplify chunk flush rate % query.
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/S

#4645 Improves memchunk benchmark to account for block size.
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/util_test.go
Labels: size/L

#4736 allow applying retention at different interval than compaction with a config
  CHANGELOG.md
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/metrics.go
Labels: size/M

#4528 Join contain filters into one.
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/log/filter.go
Labels: size/L

#4730 Give more context to rule parser errors.
  pkg/ruler/compat.go
Labels: size/XS

#4744 Add GELF support for Promtail.
  CHANGELOG.md
  clients/cmd/promtail/promtail-gelf.yaml
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/gelf/gelftarget.go
  clients/pkg/promtail/targets/gelf/gelftarget_test.go
  clients/pkg/promtail/targets/gelf/gelftargetmanager.go
  clients/pkg/promtail/targets/gelf/metrics.go
  clients/pkg/promtail/targets/manager.go
  clients/pkg/promtail/targets/target/target.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
  go.mod
  go.sum
  vendor/gopkg.in/Graylog2/go-gelf.v2/LICENSE
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/message.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/reader.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/tcpreader.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/tcpwriter.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/udpwriter.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/utils.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/writer.go
  vendor/modules.txt
Labels: size/XL

#4729 Add Northflank to the adopters list
  ADOPTERS.md
Labels: size/XS

#4741 index cleanup fixes while applying retention
  CHANGELOG.md
  pkg/storage/stores/shipper/compactor/retention/iterator.go
  pkg/storage/stores/shipper/compactor/retention/iterator_test.go
  pkg/storage/stores/shipper/compactor/retention/util.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
Labels: size/S

#4733 Docs: inject newlines into knob descriptions to avoid horizontal scro…
  docs/sources/configuration/_index.md
Labels: size/M

#4761 Loki: Set querier worker max concurrent regardless of run configuration.
  pkg/loki/modules.go
  pkg/querier/worker_service.go
  pkg/querier/worker_service_test.go
Labels: size/S

#4705 Enrich WAL folder creation error message
  pkg/ingester/ingester.go
Labels: size/XS, backport release-2.4

#4751 Adding upgrade guide for recording rules
  docs/sources/upgrading/_index.md
Labels: size/S, backport release-2.4, backport release-2.4.1

#4753 Only run benchmarks on `loki-bench` cron.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#4742 Run all benchmarks.
  .drone/drone.jsonnet
  .drone/drone.yml
  pkg/chunkenc/memchunk.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream_test.go
  pkg/iter/entry_iterator.go
Labels: size/S

#4770 Docs: fix broken links
  docs/sources/api/_index.md
  docs/sources/clients/aws/ecs/_index.md
  docs/sources/clients/aws/eks/_index.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/logql/_index.md
  docs/sources/logql/log_queries.md
  docs/sources/logql/metric_queries.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager.md
  docs/sources/rules/_index.md
Labels: size/M, backport release-2.4

#4606 Logql `stdin` support only log queries
  cmd/logcli/main.go
  docs/sources/getting-started/logcli.md
  pkg/logcli/client/file.go
  pkg/logcli/client/file_test.go
  pkg/querier/http.go
Labels: size/XL

#4783 add logging in querier when live tailing request starts and ends
  pkg/querier/http.go
Labels: size/S

#4780 Minor operational dashboard improvements + fix missing log template selector
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-operational.libsonnet
Labels: size/M

#4775 Make `*` and `+` non-greedy to double regex filter speed.
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
Labels: size/M

#4745 Expose Kafka message key in labels
  CHANGELOG.md
  clients/pkg/promtail/targets/kafka/formatter.go
  clients/pkg/promtail/targets/kafka/target.go
  clients/pkg/promtail/targets/kafka/target_syncer.go
  clients/pkg/promtail/targets/kafka/target_test.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
Labels: size/L

#4731 Improve heap iterators.
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
Labels: size/L

#4787 Docs: Modify label names of configuration blocks
  docs/sources/configuration/_index.md
  docs/sources/configuration/query-frontend.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager.md
  docs/sources/release-notes/v2-4.md
  docs/sources/rules/_index.md
Labels: size/L

#4794 Aggregate inotify watcher to file target manager
  CHANGELOG.md
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
Labels: size/L

#4804 [Hot Fix] Merge improving case sensitive search correctly
  pkg/logql/log/filter.go
Labels: size/XS

#4784 doc: Update URL for LokiLogger.jl (Julia client)
  docs/sources/clients/_index.md
Labels: size/XS

#4807 Refactor dashboard utils to include a separate function per template
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-deletion.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-retention.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/M

#4772 Do not run manifest and deploy jobs in cron.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#4810 [doc] wal: fix default value
  docs/sources/configuration/_index.md
Labels: size/XS

#4815 Fix up a merge conflict on log filter
  pkg/logql/log/filter.go
  pkg/logql/log/ip.go
Labels: size/M

#4824 Use common args in compactor and index-gateway
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
Labels: size/XS

#4828 Set correct `Content-Type` header in query response
  CHANGELOG.md
  pkg/querier/worker_service.go
  pkg/querier/worker_service_test.go
Labels: size/S

#4825 Enhance logging on timeout tailing logs on canary
  pkg/canary/reader/reader.go
Labels: size/S

#4814 Add support for `X-Query-Tags`
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/worker_service.go
  pkg/util/server/middleware.go
  pkg/util/server/middleware_test.go
Labels: size/L

#4818 Add LabelFilterer and Store wrapper
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/querier/querier.go
Labels: size/L

#4802 Refactor tests of Promtail filetarget
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager_test.go
Labels: size/XXL

#4785 Loki: Implement custom /config handler
  cmd/loki/main.go
  pkg/loki/loki.go
  pkg/loki/loki_test.go
Labels: size/L

#4831 Add support for `X-Query-Tags` (#4814) to `k73`
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/worker_service.go
  pkg/util/server/middleware.go
  pkg/util/server/middleware_test.go
Labels: size/L

#4769 Improve LogQL format stages requireLabel
  pkg/logql/log/fmt.go
Labels: size/M

#4833 Refactor pkg/util/server to avoid cortexpb import in downstream projects vendoring logql
  Makefile
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/worker_service.go
  pkg/util/httpreq/tags.go
  pkg/util/httpreq/tags_test.go
  pkg/util/server/middleware.go
  pkg/util/server/middleware_test.go
Labels: size/L

#4836 Add a stat panel function to dashboard-utils
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
Labels: size/S

#4834 Automation: Use dependabot to keep go modules dependancies up to date.
  .github/dependabot.yml
Labels: size/XS

#4832 Use http prefix path correctly in promtail
  CHANGELOG.md
  clients/pkg/promtail/server/server.go
Labels: size/XS

#4811 loki-mixin: Add grafonnet-lib as dependency
  production/loki-mixin/jsonnetfile.json
Labels: size/S

#4839 Set alert to fire after 15m, to match message
  production/promtail-mixin/alerts.libsonnet
Labels: size/XS

#4840 Allow for setting of per-tenant runtime configs in jsonnet
  production/ksonnet/loki/overrides.libsonnet
Labels: size/S

#4842 Reduce tracing spans
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/worker/scheduler_processor.go
  pkg/storage/batch.go
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/series_store.go
  pkg/storage/chunk/storage/caching_index_client.go
  pkg/storage/chunk/util/parallel_chunk_fetch.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/uploads/table_manager.go
Labels: size/L

#4843 Allow to set JAEGER_REPORTER_MAX_QUEUE_SIZE globally.
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XXL

#4847 Correctly set string in env variable in jsonnet
  production/ksonnet/loki/common.libsonnet
Labels: size/XS

#4826 Adds the ability to hedge storage requests.
  CHANGELOG.md
  docs/sources/configuration/_index.md
  go.mod
  go.sum
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/storage/chunk/aws/fixtures.go
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/aws/s3_storage_client_test.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client_test.go
  pkg/storage/chunk/gcp/fixtures.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/gcp/gcs_object_client_test.go
  pkg/storage/chunk/gcp/instrumentation.go
  pkg/storage/chunk/hedging/hedging.go
  pkg/storage/chunk/openstack/swift_object_client.go
  pkg/storage/chunk/openstack/swift_object_client_test.go
  pkg/storage/chunk/storage/factory.go
  vendor/github.com/cristalhq/hedgedhttp/LICENSE
  vendor/github.com/cristalhq/hedgedhttp/README.md
  vendor/github.com/cristalhq/hedgedhttp/hedged.go
  vendor/modules.txt
Labels: size/XL
