Repository grafana/loki, pull requests merged in 2022-02, with the labels that each got.

#5286 Revert "Adding a docs page that helps users understand memberlist a bit more"
  docs/sources/fundamentals/architecture/empty_ingester.png
  docs/sources/fundamentals/architecture/full_ingester_ring.png
  docs/sources/fundamentals/architecture/full_scheduler_ring.png
  docs/sources/fundamentals/architecture/memberlist.md
  docs/sources/fundamentals/architecture/rings.md
Labels: size/L

#5284 logstash: re-add bundle update and update bundler
  clients/cmd/logstash/Dockerfile
Labels: size/XS

#5281 Refactor HeapIterator into Merge and Sort Iterator.
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
  pkg/logcli/client/file.go
  pkg/logql/engine_test.go
  pkg/logql/range_vector_test.go
  pkg/logql/sharding.go
  pkg/logql/test_utils.go
  pkg/querier/querier.go
  pkg/querier/tail.go
  pkg/storage/batch.go
Labels: size/XL

#5280 Restart Docker target if stopped.
  CHANGELOG.md
  clients/pkg/promtail/targets/docker/target.go
  clients/pkg/promtail/targets/docker/target_group.go
Labels: size/S

#5266 Write Promtail position file atomically.
  CHANGELOG.md
  clients/pkg/promtail/positions/positions.go
  clients/pkg/promtail/positions/write_positions_unix.go
  clients/pkg/promtail/positions/write_positions_windows.go
  go.mod
  go.sum
  vendor/github.com/google/renameio/v2/.golangci.yml
  vendor/github.com/google/renameio/v2/CONTRIBUTING.md
  vendor/github.com/google/renameio/v2/LICENSE
  vendor/github.com/google/renameio/v2/README.md
  vendor/github.com/google/renameio/v2/doc.go
  vendor/github.com/google/renameio/v2/option.go
  vendor/github.com/google/renameio/v2/tempfile.go
  vendor/github.com/google/renameio/v2/writefile.go
  vendor/modules.txt
Labels: size/M

#5256 Backport 4761: Set querier worker max concurrent regardless of run configurati…
  go.mod
  pkg/loki/modules.go
  pkg/querier/worker_service.go
  pkg/querier/worker_service_test.go
Labels: size/S

#5200 Link `replace` pipeline stage to doc
  docs/sources/clients/promtail/configuration.md
Labels: size/S

#5283 Fix Promtail watching deadlock
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/filetargetmanager_test.go
Labels: size/L

#5298 fix a panic in index-gateway caused by double closing of a channel
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_test.go
Labels: size/M

#5303 Better logic for when to shard wrt disabled lookback
  pkg/querier/queryrange/querysharding.go
Labels: size/XS

#5287 Fix `go.mod` path of operator
  operator/cmd/loki-broker/main.go
  operator/cmd/size-calculator/main.go
  operator/controllers/internal/management/state/state.go
  operator/controllers/internal/management/state/state_test.go
  operator/controllers/lokistack_controller.go
  operator/controllers/lokistack_controller_test.go
  operator/go.mod
  operator/internal/external/k8s/k8sfakes/fake_builder.go
  operator/internal/external/k8s/k8sfakes/fake_client.go
  operator/internal/external/k8s/k8sfakes/fake_status_writer.go
  operator/internal/handlers/internal/gateway/base_domain.go
  operator/internal/handlers/internal/gateway/modes.go
  operator/internal/handlers/internal/gateway/modes_test.go
  operator/internal/handlers/internal/gateway/tenant_configmap.go
  operator/internal/handlers/internal/gateway/tenant_configmap_test.go
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/internal/gateway/tenant_secrets_test.go
  operator/internal/handlers/internal/secrets/secrets.go
  operator/internal/handlers/internal/secrets/secrets_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/build.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/compactor_test.go
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/distributor_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/indexgateway_test.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/ingester_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/internal/gateway/build.go
  operator/internal/manifests/internal/gateway/build_test.go
  operator/internal/manifests/internal/gateway/options.go
  operator/internal/manifests/internal/sizes.go
  operator/internal/manifests/mutate_test.go
  operator/internal/manifests/node_placement_test.go
  operator/internal/manifests/options.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/querier_test.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
  operator/internal/manifests/service_monitor_test.go
  operator/internal/manifests/service_test.go
  operator/internal/manifests/var.go
  operator/internal/metrics/metrics.go
  operator/internal/status/components.go
  operator/internal/status/components_test.go
  operator/internal/status/lokistack.go
  operator/internal/status/lokistack_test.go
  operator/internal/status/status.go
  operator/main.go
Labels: size/L, sig/operator

#5301 Implement `LegacySample`, `LegacyLabelPair` proto messages
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/logproto/compat.go
  pkg/logproto/compat_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logproto/metrics.pb.go
  pkg/logproto/metrics.proto
  pkg/logproto/timeseries.go
  pkg/logproto/timeseries_test.go
  pkg/querier/base/distributor_queryable_test.go
  pkg/querier/base/duplicates_test.go
  pkg/querier/base/timeseries_series_set.go
  pkg/querier/base/timeseries_series_set_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrangebase/marshaling_test.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/query_range_test.go
  pkg/querier/queryrange/queryrangebase/queryable_test.go
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.proto
  pkg/querier/queryrange/queryrangebase/querysharding_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/queryrangebase/series_test.go
  pkg/querier/queryrange/queryrangebase/value.go
  pkg/querier/queryrange/queryrangebase/value_test.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/ruler/base/compat.go
  pkg/ruler/base/compat_test.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/base/ruler.proto
  pkg/ruler/rulespb/rules.pb.go
  pkg/ruler/rulespb/rules.proto
  pkg/util/http_test.go
Labels: size/XXL

#5304 cleanup: consolidate util strings contain functions
  clients/pkg/logentry/stages/timestamp.go
  clients/pkg/promtail/targets/kafka/target_syncer.go
  pkg/util/string.go
  pkg/util/string_test.go
Labels: size/S

#5291 less opaque chunk keys on fs with v12
  pkg/storage/chunk/local/fixtures.go
  pkg/storage/chunk/objectclient/client.go
  pkg/storage/chunk/objectclient/client_test.go
  pkg/storage/chunk/schema_config.go
  pkg/storage/chunk/storage/factory.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
Labels: size/L

#5308 Fix transitive dependency error
  clients/cmd/logstash/Dockerfile
Labels: size/XS

#5297 Changed logic of handling RPC error with code Cancelled
  pkg/util/errors.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
Labels: size/M, component/querier

#5290 Update promtail to support duration string formats
  CHANGELOG.md
  clients/pkg/logentry/stages/metrics.go
  clients/pkg/logentry/stages/metrics_test.go
  docs/sources/clients/promtail/stages/metrics.md
Labels: size/M

#5311 Removed redundant memory allocations in parsers
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/XS

#5272 Add tooling for local k3d clusters under tools/dev
  tools/dev/k3d/Makefile
  tools/dev/k3d/README.md
  tools/dev/k3d/chartfile.yaml
  tools/dev/k3d/charts/.gitignore
  tools/dev/k3d/environments/loki-distributed/main.jsonnet
  tools/dev/k3d/environments/loki-distributed/spec.json
  tools/dev/k3d/environments/loki-distributed/values/default/config.libsonnet
  tools/dev/k3d/environments/loki-distributed/values/default/values.libsonnet
  tools/dev/k3d/jsonnetfile.json
  tools/dev/k3d/jsonnetfile.lock.json
  tools/dev/k3d/lib/grafana/grafana.libsonnet
  tools/dev/k3d/lib/jaeger/jaeger.libsonnet
  tools/dev/k3d/lib/k.libsonnet
  tools/dev/k3d/lib/prometheus/prometheus.libsonnet
  tools/dev/k3d/lib/promtail/promtail.libsonnet
  tools/dev/k3d/scripts/create_cluster.sh
  tools/dev/k3d/vendor/.gitignore
Labels: size/XL

#5317 Logql/parallel binop
  pkg/logql/ast.go
  pkg/logql/evaluator.go
  pkg/logql/shardmapper.go
  pkg/querier/queryrange/downstreamer.go
Labels: size/M

#5289 Fixes log deduplication when mutating Labels using LogQL
  CHANGELOG.md
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/ingester/stream.go
  pkg/iter/cache.go
  pkg/iter/cache_test.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/iterator.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logproto/types.go
  pkg/logproto/types_test.go
  pkg/logql/engine_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/pipeline.go
  pkg/logql/range_vector_test.go
  pkg/logql/test_utils.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/lazy_chunk.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/XXL

#5248 Simplify logic in push tracker logic on distributor
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http_test.go
Labels: size/L

#5182 Documentation for load testing Loki with xk6-loki
  docs/sources/clients/_index.md
  docs/sources/clients/k6/_index.md
  docs/sources/clients/k6/log-generation.md
  docs/sources/clients/k6/query-scenario.md
  docs/sources/clients/k6/write-scenario.md
Labels: size/XL

#5065 lambda-promtail: Add ability to ingest logs from S3
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/Dockerfile
  tools/lambda-promtail/Makefile
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
Labels: size/XL

#5324 Release entryBufferPool once
  pkg/iter/entry_iterator.go
Labels: size/S

#5315 filters: use faster regexp package
  CHANGELOG.md
  go.mod
  go.sum
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
  pkg/logql/log/fmt.go
  pkg/logql/log/parser.go
  vendor/github.com/grafana/regexp/.gitignore
  vendor/github.com/grafana/regexp/LICENSE
  vendor/github.com/grafana/regexp/README.md
  vendor/github.com/grafana/regexp/backtrack.go
  vendor/github.com/grafana/regexp/exec.go
  vendor/github.com/grafana/regexp/onepass.go
  vendor/github.com/grafana/regexp/regexp.go
  vendor/github.com/grafana/regexp/syntax/compile.go
  vendor/github.com/grafana/regexp/syntax/doc.go
  vendor/github.com/grafana/regexp/syntax/make_perl_groups.pl
  vendor/github.com/grafana/regexp/syntax/op_string.go
  vendor/github.com/grafana/regexp/syntax/parse.go
  vendor/github.com/grafana/regexp/syntax/perl_groups.go
  vendor/github.com/grafana/regexp/syntax/prog.go
  vendor/github.com/grafana/regexp/syntax/regexp.go
  vendor/github.com/grafana/regexp/syntax/simplify.go
  vendor/modules.txt
Labels: size/S

#5335 Recut `k83` with bugfix
  pkg/iter/entry_iterator.go
Labels: size/S

#5334 Makes `tailer.droppedStreams` slice bounded.
  pkg/ingester/ingester.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream_test.go
  pkg/ingester/tailer.go
  pkg/ingester/tailer_test.go
Labels: size/M

#5337 Revert "Simplify code for write path in distributor (#5248)"
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http_test.go
Labels: size/L

#5325 Delete docs/sources/copyright directory
  docs/sources/copyright/_index.md
Labels: size/XS

#5342 Fix apply retention issue
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
Labels: size/S

#5313 Add tests that ensure `LegacySample` and `LegacyLabelPair` compatibility
  pkg/logproto/compat_test.go
Labels: size/M

#5318 Speed up `EntrySortIterator` by 20%.
  pkg/chunkenc/util_test.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
Labels: size/M

#5352 fix rounding of time to milliseconds
  pkg/util/conv.go
  pkg/util/conv_test.go
Labels: size/S

#5351 add a ms instead of ns to end time of the rebound chunk interval
  pkg/chunkenc/memchunk.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
Labels: size/XS

#5362 Ruler: Rule group not found API message
  pkg/ruler/rulestore/objectclient/rule_store.go
Labels: size/XS

#5361 Add usage report into Loki.
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/target.go
  clients/pkg/promtail/targets/cloudflare/target_test.go
  docs/sources/configuration/_index.md
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/ingester/flush.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/stream.go
  pkg/loghttp/push/push.go
  pkg/logql/metrics.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/ruler/base/ruler.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/usagestats/reporter.go
  pkg/usagestats/reporter_test.go
  pkg/usagestats/seed.go
  pkg/usagestats/stats.go
  pkg/usagestats/stats_test.go
  pkg/util/build/build.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
  vendor/github.com/google/uuid/null.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version4.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/concurrency/runner.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/client.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/etcd/etcd.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/kv/multi.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/modules.txt
Labels: size/XXL

#5364 Improve report usage to never fail
  pkg/loki/modules.go
  pkg/usagestats/reporter.go
  pkg/usagestats/reporter_test.go
Labels: size/M

#5322 Build and publish build image.
  .drone/drone.jsonnet
  .drone/drone.yml
  docs/sources/maintaining/release-loki-build-image.md
  loki-build-image/Dockerfile
Labels: size/M

#5369 Fixes memberlist usage report
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/usagestats/reporter.go
  pkg/usagestats/reporter_test.go
  pkg/usagestats/seed.go
  pkg/usagestats/seed_test.go
  pkg/usagestats/stats.go
Labels: size/L

#5321 updated documentation for xk6-loki extension
  docs/sources/clients/k6/query-scenario.md
Labels: size/S

#5372 cleanup common index set after cleaning up all the user index sets
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_test.go
Labels: size/M

#5389 Fixes a flaky hedging test.
  pkg/storage/chunk/azure/blob_storage_client_test.go
Labels: size/S

#5341 add more context to logs, improve comments for clarity in boltdb-shipper code
  pkg/storage/stores/shipper/compactor/index_set.go
  pkg/storage/stores/shipper/compactor/retention/metrics.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/table.go
Labels: size/L

#5396 Verify that drone.yml was updated.
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  tools/check-drone-drift.sh
Labels: size/M

#5379 Loki: include the component in metrics.go log line
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/loki/modules.go
  pkg/querier/querier.go
  pkg/querier/queryrange/stats.go
Labels: size/S

#5394 Add more context to tailer-> ingester connect error.
  pkg/querier/tail.go
Labels: size/XS

#5399 Fix Azure issue where 404 not recognized
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client_test.go
Labels: size/M

#5374 [operator] Refining deployed s3 secret hack scripts
  operator/Makefile
  operator/docs/hack_loki_operator.md
  operator/hack/deploy-aws-storage-secret.sh
  operator/hack/deploy-example-secret.sh
Labels: size/M, sig/operator

#5383 [operator] Add degraded condition when gateway is enabled and tenants spec is nil
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: size/M, sig/operator

#5397 Add the total number of subqueries to query statistics
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#5407 Fixes double metrics registration in reporting
  pkg/usagestats/reporter_test.go
Labels: size/XS

#5392 Update dskit version
  .circleci/config.yml
  CHANGELOG.md
  docs/sources/configuration/_index.md
  go.mod
  go.sum
  pkg/distributor/distributor_ring.go
  pkg/ingester/ingester.go
  pkg/loki/common/common.go
  pkg/loki/config_wrapper_test.go
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/net.go
  pkg/util/ring_config.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/etcd/etcd.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/netutil/netutil.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/modules.txt
Labels: size/M

#5368 Run `make drone` to use the new build image
  .drone/drone.yml
  Makefile
Labels: size/S

#5359 Lambda-promtail: Enhance lambda-promtail to support adding extra labels from an environment variable value
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/README.md
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/main_test.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/template.yaml
  tools/lambda-promtail/variables.tf
Labels: size/L

#5423 Correctly sets hash value for headblock iterator
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/ingester/recovery_test.go
Labels: size/M

#5386 Docs: Use output plugin grafana-loki in ECS
  docs/sources/clients/aws/ecs/_index.md
Labels: size/XS

#5425 Do not use WaitGroup context for StepEvaluator
  pkg/logql/evaluator.go
Labels: size/S

#5427 Patch-k85
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/ingester/recovery_test.go
  pkg/logql/evaluator.go
Labels: size/M

#5393 jsonnet: move boltdb-shipper configs set as compactor args to yaml config
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/S

#5435 set match_max_concurrent true by default
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/querier/worker/worker.go
Labels: size/S

#5275 Parse duration expressions in accordance with promql
  pkg/logql/ast_test.go
  pkg/logql/lex.go
  pkg/logql/lex_test.go
Labels: size/M

#5411 Build: simplify make targets to just run every time
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/M

#5445 do not send grpc responses concurrently from index-gateway
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
Labels: size/M

#5430 Adds a tool for converting boltdb->tsdb and benchmarking queries
  pkg/storage/stores/shipper/compactor/retention/iterator.go
  pkg/storage/stores/shipper/compactor/retention/iterator_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  tools/tsdb/tsdb-map/main.go
  tools/tsdb/tsdb-map/main_test.go
Labels: size/L

#5446 add a metric for tracking the duration it took to sync the tables in queriers/index-gateways
  pkg/storage/stores/shipper/downloads/metrics.go
  pkg/storage/stores/shipper/downloads/table_manager.go
Labels: size/S

#5448 Fix operational dashboard
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/XS

#5450 pkg/ruler/base: Add external_labels option
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/ruler/base/manager.go
  pkg/ruler/base/notifier.go
  pkg/ruler/base/notifier_test.go
  pkg/ruler/base/ruler.go
Labels: size/M

#5424 Tsdb/idempotent builder
  pkg/storage/tsdb/index/builder.go
  pkg/storage/tsdb/index/chunk.go
  pkg/storage/tsdb/index/chunk_test.go
Labels: size/L

#5462 Update loki-mixin/dashboard-loki-operational queries to correctly display Loki metrics for Memcache and Consul
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/S

#5444 Do not insert missing point when sharding
  pkg/logql/matrix.go
  pkg/logql/matrix_test.go
Labels: size/M

#5441 Change default installation namespace on OpenShift
  operator/Makefile
  operator/docs/forwarding_logs_to_gateway.md
  operator/docs/hack_loki_operator.md
  operator/docs/storage_size_calculator.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/opa_openshift.go
Labels: size/M, sig/operator

#5463 use the defined querypages callback type at all the places implementing IndexClient.QueryPages
  pkg/storage/chunk/aws/dynamodb_storage_client.go
  pkg/storage/chunk/cassandra/storage_client.go
  pkg/storage/chunk/gcp/bigtable_index_client.go
  pkg/storage/chunk/grpc/index_client.go
  pkg/storage/chunk/inmemory_storage_client.go
  pkg/storage/chunk/local/boltdb_index_client.go
  pkg/storage/chunk/storage/caching_index_client.go
  pkg/storage/chunk/storage/caching_index_client_test.go
  pkg/storage/chunk/storage_client.go
  pkg/storage/chunk/util/util.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_manager.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/queries_test.go
Labels: size/L

#5454 logproto: Add deprecated annotation to LegacySample and LegacyLabelPair
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/XS

#5418 Fix two remote_timeout configs in ingester_client block
  docs/sources/configuration/_index.md
  pkg/distributor/clientpool/ingester_client_pool.go
Labels: size/XS

#5458 Docs: Fix small spelling error
  docs/sources/logql/_index.md
Labels: size/XS

#5456 boltdb shipper index gateway client improvements
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/util/queries.go
Labels: size/M

#5432 Add support for additional storage backends in operator
  operator/CHANGELOG.md
  operator/api/v1beta1/lokistack_types.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/cmd/loki-broker/main.go
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/hack_operator_make_run.md
  operator/hack/lokistack_dev.yaml
  operator/hack/lokistack_gateway_dev.yaml
  operator/hack/lokistack_gateway_ocp.yaml
  operator/internal/handlers/internal/secrets/secrets.go
  operator/internal/handlers/internal/secrets/secrets_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/node_placement_test.go
  operator/internal/manifests/options.go
  operator/internal/manifests/storage/options.go
Labels: size/XL, sig/operator

#5470 Fixes ingester sample deduping
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/ingester/ingester_test.go
  pkg/iter/entry_iterator.go
  pkg/iter/sample_iterator.go
  pkg/logql/test_utils.go
Labels: size/L

#5474 Disable sharding of count/avg when labels are mutated
  pkg/logql/ast.go
  pkg/logql/ast_test.go
  pkg/logql/shardmapper_test.go
Labels: size/S

#5420 Fix circular dependencies on k3d desployment
  tools/dev/k3d/Makefile
  tools/dev/k3d/scripts/create_cluster.sh
Labels: size/M

#5468 Stream query responses from boltdb index client
  pkg/loki/modules.go
  pkg/storage/chunk/local/boltdb_index_client.go
  pkg/storage/stores/shipper/gateway_client_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/testutil/testutil.go
Labels: size/L

#5475 Fixes Reads dashboard boltdb panels.
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/XS

#5409 promtail/targets/syslog: Enable best effort parsing for Syslog messages
  clients/pkg/promtail/targets/syslog/syslogparser/syslogparser.go
  clients/pkg/promtail/targets/syslog/syslogparser/syslogparser_test.go
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
Labels: size/M

#5478 Add mapper for range vector
  pkg/logql/rangemapper.go.go
  pkg/logql/rangemapper_test.go
Labels: size/L

#5479 Rounds chunk bytes to kb in tsdb and includes benchmarking script
  pkg/storage/tsdb/index/chunk.go
  pkg/storage/tsdb/index/index.go
  pkg/storage/tsdb/querier_test.go
  tools/tsdb/tsdb-map/diff.sh
  tools/tsdb/tsdb-map/main.go
Labels: size/M

#5484 per user index query readiness with limits overrides
  CHANGELOG.md
  pkg/loki/modules.go
  pkg/storage/chunk/storage/caching_fixtures.go
  pkg/storage/chunk/storage/factory.go
  pkg/storage/chunk/storage/factory_test.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/metrics.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/usagestats/reporter_test.go
  pkg/usagestats/seed_test.go
  pkg/validation/limits.go
Labels: size/XL

#5472 Fix potential deadlock in the table manager
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
Labels: size/M

#5439 Document all support API timestamp formats.
  docs/sources/api/_index.md
Labels: size/S

#5493 mount overrides volume to index gateways
  production/ksonnet/loki/index-gateway.libsonnet
Labels: size/XS

#5496 initialize overrides when running index gateways which is required to run them
  pkg/loki/loki.go
Labels: size/XS

#5495 Docs: fix link reference to "Step vs Interval" subsection
  docs/sources/api/_index.md
Labels: size/XS
