Repository grafana/loki, pull requests merged in 2022-05, with the labels that each got.

#6058 ignores reporting cancellations as errors in the usage-reporter module
  pkg/usagestats/reporter.go
  pkg/usagestats/reporter_test.go
Labels: size/S

#6059 Add tailing metrics
  pkg/loki/modules.go
  pkg/querier/metrics.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/tail.go
  pkg/querier/tail_test.go
Labels: size/M

#6060 Docs: Improve wording of getting started guide
  docs/sources/getting-started/_index.md
Labels: size/S

#6054 boltdb shipper index list cache improvements
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/shipper/compactor/index_set.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/index_set_test.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/storage/cached_client.go
  pkg/storage/stores/shipper/storage/cached_client_test.go
  pkg/storage/stores/shipper/storage/client.go
  pkg/storage/stores/shipper/storage/client_test.go
  pkg/storage/stores/shipper/storage/index_set.go
  pkg/storage/stores/shipper/table_client.go
Labels: size/L

#6040 Add missing changelog entry for change introduced by PR 6034.
  CHANGELOG.md
Labels: size/XS

#6033 Logcli: Respect quiet flag in logcli tail.go
  pkg/logcli/query/tail.go
Labels: size/XS

#6012 promtail/docker: Update libsystemd-dev from bullseye-backports for arm32 docker images
  clients/cmd/promtail/Dockerfile.arm32
Labels: size/S

#6003 Promote policyRule to v1
  production/ksonnet/promtail/promtail.libsonnet
Labels: size/XS

#5789 production config: add dot to some DNS address to reduce lookups
  CHANGELOG.md
  production/ksonnet/loki/query-scheduler.libsonnet
Labels: size/M

#5765 Update Loki writes resources dashboard
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
Labels: size/M

#5943 promtail: Add support for exclusion patterns in `static_config`
  CHANGELOG.md
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
Labels: size/L

#6071 allow more time for boltdb-shipper index syncs to finish
  pkg/loki/modules.go
Labels: size/S

#6068 Fix broken link on deployment-modes.md
  docs/sources/fundamentals/architecture/deployment-modes.md
Labels: size/XS

#6061 docs: Add NLog-Targets-Loki as unofficial C# client to Loki
  docs/sources/clients/_index.md
Labels: size/XS

#6063 Loki: Change live tailing to only allow mutating the log line not the number of streams.
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  pkg/ingester/tailer.go
Labels: size/M

#5790 Add UDP transport option to Promtail's syslog target
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/syslog/syslogparser/syslogparser.go
  clients/pkg/promtail/targets/syslog/syslogtarget.go
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
  clients/pkg/promtail/targets/syslog/transport.go
  docs/sources/clients/promtail/scraping.md
Labels: size/XXL

#5968 Add integration tests which test happy path
  integration/client/client.go
  integration/cluster/cluster.go
  integration/loki_micro_services_test.go
  integration/loki_single_binary_test.go
  integration/shared_test.go
  pkg/loki/loki.go
  pkg/storage/chunk/fetcher/fetcher.go
Labels: size/XL

#6065 Auto add labels on new pull request
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: size/S

#6084 Fix(query-frontend): LokiCodec encode/decode works correctly with label values endpoint
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
Labels: size/S

#6064 renames skip -> ok in ProcessString
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/logcli/client/file.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/test_utils.go
Labels: size/L

#6087 Fix labeler
  .github/workflows/labeler.yml
Labels: size/XS

#6079 Docs: remove Cortex references
  docs/sources/configuration/_index.md
  docs/sources/configuration/query-frontend.md
  docs/sources/logql/log_queries.md
  docs/sources/logql/template_functions.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/scalability.md
  docs/sources/rules/_index.md
  docs/sources/tools/logcli.md
  pkg/storage/chunk/client/azure/blob_storage_client.go
Labels: size/M

#6074 chore(query-scheduler) Remove nosiy "inflight" requests log entries
  pkg/querier/worker/scheduler_processor.go
Labels: size/XS

#6089 Docs: fix pic location in `sources/fundamentals/architecture/deployme…
  docs/sources/fundamentals/architecture/deployment-modes.md
Labels: size/XS, area/docs

#6076 table_manager: Change some level.Info() logging to level.Debug()
  pkg/storage/stores/series/index/table_manager.go
Labels: size/XS

#5971 `metrics.go` support for metadata queries(labels and series)
  CHANGELOG.md
  pkg/chunkenc/memchunk_test.go
  pkg/iter/entry_iterator_test.go
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/http.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/stats.go
  pkg/storage/batch_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
  pkg/util/server/error.go
Labels: size/XL

#6093 Revert "Docs: fix pic location in `sources/fundamentals/architecture/deployme…"
  docs/sources/fundamentals/architecture/deployment-modes.md
Labels: size/XS, area/docs

#6097 Loki: revert changes to tailing
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  pkg/ingester/tailer.go
Labels: size/M, area/docs

#6098 clean up the pr diff message
  .drone/drone.jsonnet
  .drone/drone.yml
  tools/diff_coverage.sh
Labels: size/S

#6049 TSDB shipper + WAL
  pkg/chunkenc/facade.go
  pkg/ingester/ingester.go
  pkg/ingester/recovery.go
  pkg/loki/config_wrapper.go
  pkg/loki/modules.go
  pkg/storage/chunk/bigchunk.go
  pkg/storage/chunk/interface.go
  pkg/storage/config/schema_config.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/index_set.go
  pkg/storage/stores/indexshipper/uploads/table.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/indexshipper/uploads/table_test.go
  pkg/storage/stores/series/series_store_write.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/tsdb/builder.go
  pkg/storage/stores/tsdb/chunkwriter.go
  pkg/storage/stores/tsdb/compact.go
  pkg/storage/stores/tsdb/compact_test.go
  pkg/storage/stores/tsdb/head.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/head_read.go
  pkg/storage/stores/tsdb/head_wal.go
  pkg/storage/stores/tsdb/head_wal_test.go
  pkg/storage/stores/tsdb/identifier.go
  pkg/storage/stores/tsdb/identifier_test.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index/chunk.go
  pkg/storage/stores/tsdb/index/chunk_test.go
  pkg/storage/stores/tsdb/index/index.go
  pkg/storage/stores/tsdb/index/index_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multi_file_index_test.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/querier_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/stores/tsdb/util_test.go
  pkg/util/wal/reader.go
  tools/tsdb/tsdb-map/main.go
Labels: size/XXL

#6102 lambda-promtail: Add multi-tenancy support
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/README.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/template.yaml
  tools/lambda-promtail/variables.tf
Labels: size/M, area/docs

#5848 Feat: add Baidu Cloud BOS as storage backends for Loki #4788
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/configuration/examples.md
  docs/sources/configuration/examples/bos-config.yaml
  docs/sources/operations/storage/_index.md
  go.mod
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/ruler/base/storage.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/config/schema_config.go
  pkg/storage/factory.go
  vendor/github.com/baidubce/bce-sdk-go/LICENSE
  vendor/github.com/baidubce/bce-sdk-go/auth/credentials.go
  vendor/github.com/baidubce/bce-sdk-go/auth/signer.go
  vendor/github.com/baidubce/bce-sdk-go/bce/builder.go
  vendor/github.com/baidubce/bce-sdk-go/bce/client.go
  vendor/github.com/baidubce/bce-sdk-go/bce/config.go
  vendor/github.com/baidubce/bce-sdk-go/bce/error.go
  vendor/github.com/baidubce/bce-sdk-go/bce/request.go
  vendor/github.com/baidubce/bce-sdk-go/bce/response.go
  vendor/github.com/baidubce/bce-sdk-go/bce/retry.go
  vendor/github.com/baidubce/bce-sdk-go/http/client.go
  vendor/github.com/baidubce/bce-sdk-go/http/constants.go
  vendor/github.com/baidubce/bce-sdk-go/http/request.go
  vendor/github.com/baidubce/bce-sdk-go/http/response.go
  vendor/github.com/baidubce/bce-sdk-go/services/bos/api/bucket.go
  vendor/github.com/baidubce/bce-sdk-go/services/bos/api/model.go
  vendor/github.com/baidubce/bce-sdk-go/services/bos/api/multipart.go
  vendor/github.com/baidubce/bce-sdk-go/services/bos/api/object.go
  vendor/github.com/baidubce/bce-sdk-go/services/bos/api/util.go
  vendor/github.com/baidubce/bce-sdk-go/services/bos/client.go
  vendor/github.com/baidubce/bce-sdk-go/util/log/logger.go
  vendor/github.com/baidubce/bce-sdk-go/util/log/util.go
  vendor/github.com/baidubce/bce-sdk-go/util/string.go
  vendor/github.com/baidubce/bce-sdk-go/util/time.go
  vendor/modules.txt
Labels: size/XXL

#6041 Update consistent hash ring docs with new index gateway ring
  docs/sources/fundamentals/architecture/rings.md
Labels: size/S, area/docs

#6109 do not increment sync operation count metric on per index set
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/index_set_test.go
  pkg/storage/stores/shipper/downloads/table.go
Labels: size/S

#5985 operator: Ruler enhancement proposal
  operator/docs/enhancements/enhancement_template.md
  operator/docs/enhancements/ruler_support.md
Labels: kind/feature, size/XL, proposal, sig/operator

#6116 fix mutability bug with labels during tsdb flushing
  pkg/ingester/flush.go
  pkg/storage/stores/tsdb/head_manager.go
Labels: size/S

#6117 loads previously created TSDBs into shipper on startup
  pkg/storage/stores/indexshipper/uploads/table.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/manager.go
Labels: size/L

#6113 Remove unused grpc health check methods
  pkg/distributor/distributor.go
  pkg/ingester/ingester.go
Labels: size/S

#6119 Docs: redo PR 5109
  docs/sources/configuration/_index.md
Labels: size/XS, area/docs

#6132 Fix certain binary expression queries by optimizing through push down
  pkg/logql/downstream_test.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
Labels: size/L

#6152 Loki: When processing logs during tailing, don't reuse the query pipeline
  CHANGELOG.md
  pkg/ingester/tailer.go
Labels: size/S, backport k97

#6125 operator: Add method to get authenticated from GCP
  operator/CHANGELOG.md
  operator/docs/gcs_object_storage.md
  operator/internal/handlers/internal/secrets/secrets.go
  operator/internal/handlers/internal/secrets/secrets_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/object_storage.go
  operator/internal/manifests/object_storage_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/storage/configure.go
Labels: size/XL, sig/operator, area/docs

#6142 tsdb query fixes
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/tsdb/identifier.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/manager.go
Labels: size/M

#6166 Removed double space in Log
  pkg/querier/worker_service.go
Labels: size/XS

#6146 log_queries.md: response_size was mentioned twice
  docs/sources/logql/log_queries.md
Labels: size/XS, area/docs

#6164 specify logcli authorization header by flag
  cmd/logcli/main.go
  pkg/logcli/client/client.go
Labels: size/M

#5763 Add docs for updated deletion api
  docs/sources/api/_index.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/logs-deletion.md
Labels: size/M

#6169 fix auth header env variable usage help
  cmd/logcli/main.go
Labels: size/XS

#6145 Documentation: Update SSL config for cassandra
  docs/sources/configuration/_index.md
Labels: size/S, area/docs

#6124 Loki Tanka microservices: common environment variables
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
  production/ksonnet/loki/ruler.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/S

#6174 query-scheduler: Now proper support for `querier_forget_delay`
  docs/sources/configuration/_index.md
  pkg/scheduler/scheduler.go
Labels: size/S, area/docs

#6176 fix(querier): Record `result` length after response validation.
  pkg/querier/http.go
Labels: size/S

#6178 tsdb creation supports fingerprint overrides
  pkg/storage/stores/tsdb/builder.go
  pkg/storage/stores/tsdb/index/index.go
Labels: size/S

#6180 Fix typo in operator/docs/hack_operator_make_run.md
  operator/docs/hack_operator_make_run.md
Labels: size/XS, sig/operator, area/docs

#5719 Fixed reader to support both authentication and tenant-id
  CHANGELOG.md
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
  pkg/canary/reader/reader.go
Labels: size/S

#6188 Add integration test for delete request
  integration/client/client.go
  integration/loki_micro_services_delete_test.go
Labels: size/L

#6181 strips out tenant label from LabelNames queries
  pkg/storage/stores/tsdb/multitenant.go
Labels: size/S

#6158 tsdb index gateway
  pkg/storage/store.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_gateway_store_test.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
  pkg/storage/stores/tsdb/store.go
Labels: size/XXL

#6191 Fix flaky gRPC server shutdown in tests
  pkg/storage/stores/shipper/gateway_client_test.go
Labels: size/S

#6186 security: Redact credentials when marshalled to YAML
  pkg/loki/config_wrapper_test.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/chunk/client/baidubce/bos_storage_client_test.go
Labels: size/L

#6193 Fix compactor_address related CHANGELOG entries
  CHANGELOG.md
Labels: size/XS

#6190 Change deletion_enabled setting to deletion_mode
  docs/sources/operations/storage/logs-deletion.md
Labels: size/XS, area/docs

#6138 [loki microservices]: allow custom gateway server configuration
  production/ksonnet/loki/gateway.libsonnet
Labels: size/XS

#6199 operator: Changing GCP secret file path
  operator/CHANGELOG.md
  operator/internal/manifests/object_storage_test.go
  operator/internal/manifests/storage/configure.go
Labels: size/S, sig/operator

#6200 copy all the fixes/improvements that went into boltdb-shipper that are missing from generic index-shipper
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/table.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
Labels: size/M

#6203 creates a single tsdb for entire wal recovery
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
Labels: size/M

#6120 Rename fudge_duplicate_timestamp to be increment_duplicate_timestamp
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#5972 Loki: Modifies TableManager to use IndexGateway ring
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/gateway_client_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/indexgateway/lifecycle.go
  pkg/storage/stores/shipper/indexgateway/ringmanager.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/util/ring.go
  pkg/util/ring_test.go
Labels: size/XL, type/docs, area/docs

#6196 doc(storage-example-configs): AWS single store configs
  docs/sources/storage/_index.md
Labels: size/S, backport release-2.5.x, area/docs

#6207 docs: Fix broken link from unpack parser to pack stage
  docs/sources/clients/promtail/stages/pack.md
  docs/sources/logql/log_queries.md
Labels: size/XS, area/docs

#6204 prevents sharding avg and avg_over_time for unshardable children
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
Labels: size/S

#6209 run store queries in ingester when using tsdb as index store
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: size/M

#6008 Docs: Fix design docs index page
  docs/sources/design-documents/_index.md
Labels: size/XS, type/docs

#6024 docs: describe ordering in http query results
  docs/sources/api/_index.md
Labels: size/S, type/docs

#5603 Docs: Hint about potential high cardinality metrics
  docs/sources/operations/observability.md
Labels: size/XS

#6215 Fix label extraction pushdown on instant queries
  pkg/logql/downstream_test.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
Labels: size/XL

#6110 Improve labels computation during LogQL pipeline
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/parser_test.go
Labels: size/L

#6229 Remove __name__ from label calls
  integration/loki_micro_services_test.go
  integration/loki_single_binary_test.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/series/series_store_utils.go
Labels: size/S

#6233 Tsdb/inverted index
  pkg/ingester/index/bitprefix.go
  pkg/ingester/index/bitprefix_test.go
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
  pkg/querier/astmapper/shard_summer.go
Labels: size/XL

#6214 Runtime reloadable config; ring migration setup
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/config/schema_config.go
Labels: size/L

#6099 [Promtail] drop lines with malformed json
  CHANGELOG.md
  clients/pkg/logentry/stages/json.go
  clients/pkg/logentry/stages/json_test.go
  docs/sources/clients/promtail/stages/json.md
Labels: size/L, area/docs

#6226 make boltdb-shipper use the generic indexshipper for managing index in object storage
  pkg/logcli/query/query.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/chunk/client/local/boltdb_index_client.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client_test.go
  pkg/storage/stores/indexshipper/gatewayclient/index_gateway_grpc_pool.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/index_set_test.go
  pkg/storage/stores/shipper/downloads/metrics.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/downloads/util.go
  pkg/storage/stores/shipper/index/indexfile/indexfile.go
  pkg/storage/stores/shipper/index/metrics.go
  pkg/storage/stores/shipper/index/querier.go
  pkg/storage/stores/shipper/index/table.go
  pkg/storage/stores/shipper/index/table_manager.go
  pkg/storage/stores/shipper/index/table_manager_test.go
  pkg/storage/stores/shipper/index/table_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/queries_test.go
  pkg/storage/stores/tsdb/store.go
Labels: size/XXL

#6118 Add upgrade guide regarding azure container name change
  docs/sources/upgrading/_index.md
Labels: size/XS, type/docs

#6236 docs: Fix a typo
  docs/sources/logql/template_functions.md
Labels: size/XS, area/docs

#6237 Migrate Tool: Update to work with boltdb-shipper, improve logging output.
  cmd/migrate/README.md
  cmd/migrate/main.go
  cmd/migrate/main_test.go
Labels: size/L

#6183 Docs: Reimplement PR 5649 on troubleshooting timeout errors
  docs/sources/operations/troubleshooting.md
Labels: size/S, type/docs

#6220 feat(ruler): support alert relabelling
  docs/sources/configuration/_index.md
  pkg/ruler/base/notifier.go
  pkg/ruler/base/notifier_test.go
  pkg/ruler/base/ruler.go
Labels: size/M, area/docs

#6219 chore(cache): Make exprimental messages more clear for cache.
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/cache/redis_cache.go
Labels: size/XS

#6255 Add jsonnet tools to build image
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#6254 Loki mixin: publish compiled version of the mixin
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin-compiled/rules.yaml
  production/loki-mixin/.gitignore
  production/loki-mixin/jsonnetfile.lock.json
Labels: size/XXL

#6212 docs: Default loki gateway service port.
  docs/sources/installation/simple-scalable-helm.md
Labels: size/XS, area/docs

#6253 Memberlist related jsonnet
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
  production/ksonnet/loki/ruler.libsonnet
Labels: size/L

#5891 Add support for Azure storage account user assigned identity
  docs/sources/configuration/_index.md
  docs/sources/storage/_index.md
  go.mod
  pkg/loki/config_wrapper_test.go
  pkg/storage/bucket/azure/config.go
  pkg/storage/bucket/azure/config_test.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
Labels: size/L, type/docs

#6263 update drone branch match for 3 digit k release
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#6194 Fix delete updates
  docs/sources/configuration/_index.md
  pkg/loki/common/common.go
  pkg/loki/delete_store_listener.go
  pkg/loki/modules.go
  pkg/lokifrontend/config.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client_test.go
  production/ksonnet/loki/config.libsonnet
Labels: size/L, area/docs

#6250 operator: Document how to connect Grafana to gateway
  operator/docs/howto_connect_grafana.md
  operator/hack/addon_grafana_gateway_ocp.yaml
  operator/hack/addon_grafana_gateway_ocp_oauth.yaml
Labels: size/XL, sig/operator, area/docs

#6258 docs: Add Nomad deployment examples
  production/README.md
  production/nomad/README.md
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/config.yml
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/config.yml
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/config.yml
  production/nomad/loki/job.nomad.hcl
  production/nomad/loki/rules/fake/alerts.yml
Labels: size/XXL

#6264 Docs: Fix wording about pattern parser
  docs/sources/logql/log_queries.md
Labels: size/XS, area/docs

#6139 Documentation: Explain --config.expand-env=true double slash with slash substitution
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/stages/regex.md
Labels: size/S, type/docs, area/docs

#6267 use tsdb config for initializing index gateway client
  pkg/loki/modules.go
  pkg/storage/factory.go
  pkg/storage/store.go
Labels: size/S
