Repository grafana/loki, pull requests merged in 2022-09, with the labels that each got.

#6842 azblob: Make azblob support private cloud endpoint suffix
  docs/sources/storage/_index.md
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client_test.go
Labels: size/M, type/docs

#7007 [new feature] syntax: support "vector" grama
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
Labels: size/XXL

#7022 fix test increase timeout
  pkg/querier/queryrange/downstreamer_test.go
Labels: size/XS

#7000 operator: Configure default node affinity for all pods
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#6999 operator: Adding Lokistack Gateway Request Errors Alert
  operator/CHANGELOG.md
  operator/docs/lokistack/sop.md
  operator/internal/manifests/internal/alerts/build.go
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
  operator/internal/manifests/internal/alerts/testdata/test.yaml
Labels: size/L, sig/operator

#7031 Revert "Hide duplicates caused by stream sharding (#7005)"
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/storage/async_store_test.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/L

#7023 [new feature] logql engine support exec `vector(0)` grama
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/parser_test.go
Labels: size/L

#6956 tsdb: build rotated heads asynchronously
  pkg/storage/stores/tsdb/head.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
Labels: size/L

#7029 Enable build in env w/o internet or GCP creds
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/target.go
  clients/pkg/promtail/targets/gcplog/target_test.go
  go.mod
  pkg/loki/modules_test.go
  pkg/storage/chunk/cache/memcached_client.go
  pkg/storage/chunk/cache/memcached_client_selector.go
  pkg/storage/chunk/cache/memcached_client_selector_test.go
Labels: size/L

#6955 Helm: Publish Helm charts to grafana/helm-charts.
  .github/workflows/helm-release.yaml
  production/helm/cr.yaml
Labels: size/S, area/helm

#7038 Do not run helm release on tags matching our version releases
  .github/workflows/helm-release.yaml
Labels: size/XS

#7048 Deprecation Fix: Replace strings.Title with cases.Title().String()
  pkg/util/cfg/flag.go
  vendor/golang.org/x/text/cases/cases.go
  vendor/golang.org/x/text/cases/context.go
  vendor/golang.org/x/text/cases/fold.go
  vendor/golang.org/x/text/cases/icu.go
  vendor/golang.org/x/text/cases/info.go
  vendor/golang.org/x/text/cases/map.go
  vendor/golang.org/x/text/cases/tables10.0.0.go
  vendor/golang.org/x/text/cases/tables11.0.0.go
  vendor/golang.org/x/text/cases/tables12.0.0.go
  vendor/golang.org/x/text/cases/tables13.0.0.go
  vendor/golang.org/x/text/cases/tables9.0.0.go
  vendor/golang.org/x/text/cases/trieval.go
  vendor/golang.org/x/text/internal/internal.go
  vendor/golang.org/x/text/internal/language/common.go
  vendor/golang.org/x/text/internal/language/compact.go
  vendor/golang.org/x/text/internal/language/compact/compact.go
  vendor/golang.org/x/text/internal/language/compact/language.go
  vendor/golang.org/x/text/internal/language/compact/parents.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/compact/tags.go
  vendor/golang.org/x/text/internal/language/compose.go
  vendor/golang.org/x/text/internal/language/coverage.go
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/match.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/internal/language/tags.go
  vendor/golang.org/x/text/internal/match.go
  vendor/golang.org/x/text/internal/tag/tag.go
  vendor/golang.org/x/text/language/coverage.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/go1_1.go
  vendor/golang.org/x/text/language/go1_2.go
  vendor/golang.org/x/text/language/language.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/language/tags.go
  vendor/modules.txt
Labels: size/XXL

#7044 [doc] logql: logql engine support exec vector(0) grama
  CHANGELOG.md
  docs/sources/logql/metric_queries.md
Labels: size/S, type/docs

#7036 tsdb: build tsdb from tenantheads
  pkg/storage/stores/tsdb/head.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/manager.go
Labels: size/L

#6870 operator: Configure gateway to honor the global TLS security profile
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/config/v1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/cmd/loki-broker/main.go
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/internal/tlsprofile/tlsprofile.go
  operator/internal/handlers/internal/tlsprofile/tlsprofile_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/opa_openshift.go
  operator/internal/manifests/options.go
Labels: size/L, sig/operator

#7058 feat: add kms and ec2 permission
  tools/lambda-promtail/main.tf
Labels: size/S

#7071 docs: fix typo in layout
  operator/website/layouts/index.html
Labels: size/XS, sig/operator

#7052 bugfix:add cases.NoLower option
  pkg/util/cfg/flag.go
  pkg/util/cfg/flag_test.go
Labels: size/S

#7073 Add prefix for helm-release tags
  .github/workflows/helm-release.yaml
Labels: size/XS

#6205 Troubleshooting: instructions for loki + istio
  docs/sources/operations/troubleshooting.md
Labels: stale, size/S, area/docs

#7069 Add support for custom internal server
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/loki_test.go
  pkg/loki/modules.go
  pkg/server/internal_server.go
Labels: size/L

#7075 Helm: Adding template-able image value for tokengen job container
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#7085 Fix internal server initialization
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS

#7087 Add sequence num to log output for delete requests
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
Labels: size/XS

#7077 Helm: Fix s3 region in ruler storage config
  production/helm/loki/templates/_helpers.tpl
Labels: size/S

#7086 Fix setting name in documentation
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs

#7092 Operator: Configure kube-rbac-proxy sidecar to use Intermediate TLS security profile in OCP
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/openshift/manager_auth_proxy_patch.yaml
Labels: size/XS, sig/operator

#7026 doc: Clarity on querier remapping when shuffle sharding is disabled
  docs/sources/operations/shuffle-sharding.md
Labels: size/XS, type/docs

#6975 Bump github.com/docker/docker to v20.10.17
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Labels: size/XS

#7093 Only release helm for helm paths
  .github/workflows/helm-release.yaml
Labels: size/XS, area/helm

#7067 Missing conditional on ServiceMonitor
  production/helm/loki/templates/monitoring/servicemonitor.yaml
Labels: size/XS, area/helm

#7083 Automatically label Helm realted pull requests.
  .github/labeler.yml
Labels: size/XS, area/helm

#6985 Docs: Fix Helm Chart links
  CONTRIBUTING.md
  production/README.md
Labels: size/XS

#7095 Add chart-tools and chart-releaser for helm
  flake.nix
  nix/chart-releaser.nix
  nix/default.nix
Labels: size/M

#6858 docs: fix alertmanager_client config settings
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs

#6823 Add ability for Ruler to remote write to multiple clients
  docs/sources/configuration/_index.md
  integration/client/client.go
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  pkg/logcli/query/query.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/config.go
  pkg/ruler/registry.go
  pkg/ruler/registry_test.go
  pkg/ruler/ruler.go
  pkg/util/cfg/cfg.go
  pkg/util/cfg/cfg_test.go
  pkg/util/cfg/dynamic.go
  pkg/util/cfg/files.go
  pkg/util/cfg/files_test.go
  pkg/util/cfg/precedence_test.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#7063 feat(loki-canary): Add support to push logs directly to Loki.
  CHANGELOG.md
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
  docs/sources/upgrading/_index.md
  pkg/canary/writer/push.go
  pkg/canary/writer/push_test.go
  pkg/canary/writer/writer.go
Labels: size/XL, type/docs

#7112 Small updates to the deletion documentation
  docs/sources/api/_index.md
  docs/sources/operations/storage/logs-deletion.md
Labels: size/S, type/docs

#7109 Fix pod affinity selector for single binary
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#7096 Make helm with style more consistent
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/monitoring/dashboards/configmap-1.yaml
  production/helm/loki/templates/monitoring/dashboards/configmap-2.yaml
  production/helm/loki/templates/monitoring/prometheus-rules.yaml
Labels: size/S, area/helm

#7120 Log the interval of a delete request
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
Labels: size/XS

#7123 Fix helm release name template
  production/helm/cr.yaml
Labels: size/XS, area/helm

#7124 Bump chart version to test release
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#7125 Fix errors loading deletes after force-removing partially-completed delete
  docs/sources/api/_index.md
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_store.go
Labels: size/M, type/docs

#7107 Docs: Fix Helm chart link path
  production/README.md
Labels: size/XS

#7131 operator: Fix flaky TLSProfile feature gate test
  operator/internal/manifests/gateway_test.go
Labels: size/L, sig/operator

#6769 operator: Add network tenant for netobserv
  operator/README.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/user-guides/forwarding_logs_to_gateway.md
  operator/docs/user-guides/howto_connect_grafana.md
  operator/internal/handlers/internal/gateway/modes.go
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/internal/gateway/build_test.go
  operator/internal/manifests/internal/gateway/gateway-tenants.yaml
  operator/internal/manifests/openshift/build_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/opa_openshift.go
  operator/internal/manifests/openshift/options.go
  operator/internal/manifests/openshift/serviceaccount_test.go
Labels: size/XL, sig/operator

#6780 loki: Attach the panic recovery handler on all HTTP handlers
  CHANGELOG.md
  pkg/loki/modules.go
Labels: size/XS

#7130 tsdb: boltdb shipper backup store tsdb
  pkg/storage/config/schema_config.go
  pkg/storage/config/schema_config_test.go
  pkg/storage/store.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/tsdb/chunkwriter.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#7132 Remove duplicate deletion_mode entry
  docs/sources/configuration/_index.md
Labels: size/XS, area/docs

#7013 [bugfix] fix query_frontend init fail error
  pkg/loki/modules.go
Labels: size/S

#7094 Implement all-or-nothing stream ingestion
  pkg/ingester/ingester.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/loki/modules.go
Labels: size/L

#7040 Remove duplicated `loki_boltdb_shipper` prefix from `tables_upload_operation_total` metric
  CHANGELOG.md
  pkg/storage/stores/indexshipper/uploads/metrics.go
Labels: size/XS

#7148 Docs: Fix template function examples
  docs/sources/logql/template_functions.md
Labels: size/XS, type/docs

#7151 fix(ruler): Initialize multi remote clients config
  pkg/ruler/config.go
  pkg/ruler/config_test.go
  pkg/ruler/ruler.go
Labels: size/S

#7101 Promtail: Add support for max stream limit
  CHANGELOG.md
  clients/cmd/docker-driver/loki.go
  clients/cmd/fluent-bit/client.go
  clients/cmd/fluent-bit/dque.go
  clients/pkg/promtail/client/batch.go
  clients/pkg/promtail/client/batch_test.go
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/client_test.go
  clients/pkg/promtail/client/logger.go
  clients/pkg/promtail/client/multi.go
  clients/pkg/promtail/client/multi_test.go
  clients/pkg/promtail/limit/config.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
Labels: size/L, component/promtail

#7150 tsdb: clean-up metrics
  pkg/storage/stores/tsdb/head.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/manager.go
Labels: size/L

#7154 refactor index storage code to index reader/writer interfaces for better monitoring
  pkg/storage/store.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/index/metrics.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_gateway_store_test.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series/series_store_write.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/tsdb/chunkwriter.go
  pkg/storage/stores/tsdb/store.go
Labels: size/XL

#7037 operator: Skip enforcing matcher for certain tenants on OpenShift
  operator/CHANGELOG.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/opa_openshift.go
Labels: size/S, sig/operator

#7160 revert stream push error response
  go.mod
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/L

#7016 promtail: Fix issue with dropping logs when a file based SD target's labels are updated
  CHANGELOG.md
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/filetargetmanager_test.go
Labels: size/L

#7144 Update GEL helm deployment example
  production/helm/loki/docs/examples/enterprise/overrides-enterprise-gcs.yaml
Labels: size/S, area/helm

#7147 Fix minio values, reduce replicas, and fix tokengen job
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#7108 Expose limits and compactor config via helm values
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm

#7167 operator: Fix TLSProfile not working on vanilla k8s
  operator/internal/handlers/internal/tlsprofile/tlsprofile.go
  operator/internal/handlers/internal/tlsprofile/tlsprofile_test.go
  operator/internal/handlers/lokistack_create_or_update.go
Labels: size/S, sig/operator

#7041 Helm: Allows loki s3 http_config block to be configured
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#7146 Add local k3d environment for enterprise-logs
  tools/dev/k3d/.gitignore
  tools/dev/k3d/Makefile
  tools/dev/k3d/chartfile.yaml
  tools/dev/k3d/environments/enterprise-logs/main.jsonnet
  tools/dev/k3d/environments/enterprise-logs/spec.json
  tools/dev/k3d/environments/loki-distributed/main.jsonnet
  tools/dev/k3d/jsonnetfile.lock.json
  tools/dev/k3d/lib/grafana/grafana.libsonnet
  tools/dev/k3d/lib/provisioner/provisioner.libsonnet
  tools/dev/k3d/scripts/create_cluster.sh
Labels: size/XL

#7175 fixes nil interface value with non-nil type in cache construction
  pkg/loki/modules.go
Labels: size/XS

#7179 [loki] Azure auth using Service Principal
  CHANGELOG.md
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client_test.go
Labels: size/L

#7177 allow backup store metrics registration by including backend type in labels
  pkg/storage/store.go
Labels: size/XS

#7182 Helm: Fix limits_config key in helm values file
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#7185 fixes azure client secret duplicate CLI registration
  pkg/storage/chunk/client/azure/blob_storage_client.go
Labels: size/XS

#7178 [Bugfix] TSDB index bucket calculation
  pkg/storage/stores/tsdb/manager.go
Labels: size/XS

#7184 Helm: Bump helm chart patch version
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#7187 TSDB indexBuckets helper logs instead of errors
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/manager.go
Labels: size/S

#7010 Abide to Mixin linting rules.
  production/loki-mixin-compiled-ssd/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin/dashboards/dashboard-recording-rules.json
  production/loki-mixin/dashboards/recording-rules.libsonnet
Labels: size/L

#7183 Evenly spread memcached across nodes
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/memcached.libsonnet
Labels: size/S, type/docs

#7116 Project: Change PR template and CONTRIBUTING guide
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: size/M

#7191 Update README.md
  production/helm/loki/README.md
Labels: size/XS, area/helm

#7190 Update README.md
  production/helm/loki/README.md
Labels: size/XS, type/docs

#5920 support custom label selector in kubernetes_sd_configs
  clients/pkg/promtail/targets/file/filetargetmanager.go
  docs/sources/clients/promtail/configuration.md
Labels: size/M, area/docs

#7201 operator: Write configuration for per-tenant retention
  operator/CHANGELOG.md
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/config/options.go
Labels: size/L, sig/operator

#7145 Document validation & rate-limit errors
  docs/sources/operations/request-validation-rate-limits.md
Labels: size/L, type/docs

#7162 [helm] Storage: Read support for Azure Object Storage
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#7122 Helm: Adding tolerations value support for tokengen job
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#6641 Update distributor push tests
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http_test.go
Labels: stale, size/L

#6757 Guidelines: Update CONTRIBUTING.md
  .gitignore
  CONTRIBUTING.md
Labels: size/M

#7163 add index requests panel to reads/writes dashboard
  pkg/storage/store.go
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/L

#7203 highly sharded subqueries are ellided in expr.String
  pkg/logql/downstream.go
  pkg/logql/rangemapper_test.go
  pkg/logql/shardmapper_test.go
Labels: size/M

#7209 avoid using bloomfilters for chunks in stats calls by avoiding duplicates
  pkg/querier/queryrange/split_by_interval.go
  pkg/storage/stores/index/stats/stats.go
  pkg/storage/stores/index/stats/stats_test.go
  pkg/storage/stores/tsdb/compact_test.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multi_file_index_test.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/stores/tsdb/util_test.go
  pkg/util/time.go
  pkg/util/time_test.go
Labels: size/XL

#7114 Helm: Make automountServiceAccountToken configurable
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/XS, area/helm

#7189 Helm: Fix ExternalLicence
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/secret-license.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/S, area/helm

#7173 [helm] Add Loki Canary to Helm Chart
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.lock
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/loki-canary/_helpers.tpl
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/templates/loki-canary/service.yaml
  production/helm/loki/templates/loki-canary/serviceaccount.yaml
  production/helm/loki/templates/monitoring/_helpers-monitoring.tpl
  production/helm/loki/templates/monitoring/logs-instance.yaml
  production/helm/loki/templates/monitoring/servicemonitor.yaml
  production/helm/loki/templates/provisioner/_helpers.yaml
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/provisioner/role-provisioner.yaml
  production/helm/loki/templates/provisioner/rolebinding-provisioner.yaml
  production/helm/loki/templates/provisioner/serviceaccount-provisioner.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
  tools/dev/k3d/Makefile
  tools/dev/k3d/environments/enterprise-logs/main.jsonnet
  tools/dev/k3d/environments/enterprise-logs/spec.json
Labels: size/XL, area/helm

#7221 Jsonnet: fix overrides exporter to use correct CPU limits
  production/ksonnet/loki/overrides-exporter.libsonnet
Labels: size/XS

#7223 tsdb supports data deletion, this PR takes care of todo to enable delete request client for tsdb
  pkg/loki/modules.go
  pkg/storage/config/schema_config.go
  pkg/storage/config/schema_config_test.go
Labels: size/M

#7045 [bugfix] logql: vectorExpr run fail when query_range: parallelise_shardable_queries: true
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/M

#7200 Docs: Populate empty index pages
  docs/sources/fundamentals/_index.md
  docs/sources/maintaining/_index.md
  docs/sources/operations/_index.md
Labels: size/S, area/docs, type/docs

#6458 Docs: remove redundant section in Template functions
  docs/sources/logql/template_functions.md
Labels: size/XS, area/docs, type/docs

#7214 operator: Fix ruler grpc tls client configuration
  operator/CHANGELOG.md
  operator/internal/manifests/ruler.go
Labels: size/S, sig/operator

#7136 Documentation: Fix broken link
  docs/sources/fundamentals/labels.md
Labels: size/XS, type/docs

#7216 Fix promtail `metric` stage causing failure when getting extracted metrics
  clients/pkg/logentry/metric/metricvec.go
  clients/pkg/logentry/stages/metrics_test.go
Labels: size/L

#7070 operator: Add support for certificates to allow external S3 storage connections
  operator/apis/loki/v1/lokistack_types.go
  operator/internal/handlers/internal/storage/ca_configmap.go
  operator/internal/handlers/internal/storage/ca_configmap_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
  operator/internal/manifests/storage/options.go
Labels: size/M, sig/operator

#6671 [Optimization] logql client: When logql fails to execute, return the failure information to the caller
  pkg/logcli/client/client.go
Labels: size/XS

#7241 bumped GEL version in Loki helm chart to v1.5.2
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#7244 Update deletions dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/XL

#7253 correct heartbeat timeout to distributor lifecycler for ring page
  pkg/distributor/distributor_ring.go
Labels: size/XS

#7256 Operator: Config and bundle manifest changes for Lokistack API ObjectstorageTLS CA certificate key addition
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/internal/handlers/lokistack_create_or_update.go
Labels: size/M, sig/operator

#7199 Loki: Shard streams based on desired rate
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ratestore.go
  pkg/distributor/streamsharder.go
  pkg/distributor/streamsharder_test.go
Labels: size/XL, type/docs

#7248 Ingester stream api stop
  pkg/ingester/rate_calculator.go
  pkg/ingester/rate_calculator_test.go
  pkg/ingester/stream.go
  pkg/ingester/streams_map.go
  pkg/logproto/logproto.proto
Labels: size/M

#7258 Logcli: load remote schema before validation
  pkg/logcli/query/query.go
Labels: size/S

#7250 Expose tenant ID through relabel in push promtail targets
  clients/pkg/promtail/targets/gcplog/push_target_test.go
  clients/pkg/promtail/targets/gcplog/push_translation.go
  clients/pkg/promtail/targets/heroku/target.go
  clients/pkg/promtail/targets/heroku/target_test.go
Labels: size/M

#7268 Promtail: Change max support compressed line size to be 2MB
  clients/pkg/promtail/targets/file/decompresser.go
  docs/sources/clients/promtail/_index.md
Labels: size/XS, type/docs

#7277 Remove deletion filter debug log messages
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request.go
Labels: size/S

#7273 Tests: Reduce flakiness of GCPLog and integration tests
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  integration/client/client.go
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/loki_simple_scalable_test.go
  integration/loki_single_binary_test.go
Labels: size/L

#7227 Configurable TLS MinVersion and CipherSuites
  CHANGELOG.md
  docs/sources/configuration/_index.md
  go.mod
  go.sum
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/server/internal_server.go
  vendor/github.com/grafana/dskit/concurrency/limited_concurrency_singleflight.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/ring/batch.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/prometheus/exporter-toolkit/web/tls_config.go
  vendor/github.com/stretchr/objx/.travis.yml
  vendor/github.com/stretchr/objx/accessors.go
  vendor/github.com/stretchr/objx/map.go
  vendor/github.com/stretchr/objx/type_specific_codegen.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/weaveworks/common/httpgrpc/httpgrpc.proto
  vendor/github.com/weaveworks/common/httpgrpc/server/server.go
  vendor/github.com/weaveworks/common/middleware/logging.go
  vendor/github.com/weaveworks/common/middleware/response.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/github.com/weaveworks/common/server/tls_config.go
  vendor/go.uber.org/goleak/CHANGELOG.md
  vendor/go.uber.org/goleak/leaks.go
  vendor/go.uber.org/goleak/options.go
  vendor/go.uber.org/goleak/testmain.go
  vendor/go.uber.org/goleak/tracestack_old.go
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/argon2/argon2.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/golang.org/x/crypto/sha3/doc.go
  vendor/golang.org/x/crypto/sha3/sha3_s390x.go
  vendor/golang.org/x/net/AUTHORS
  vendor/golang.org/x/net/CONTRIBUTORS
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/socket/rawconn_msg.go
  vendor/golang.org/x/net/internal/socket/sys_stub.go
  vendor/golang.org/x/net/internal/socket/sys_unix.go
  vendor/golang.org/x/net/internal/socket/sys_windows.go
  vendor/golang.org/x/net/internal/socket/sys_zos_s390x.go
  vendor/golang.org/x/net/internal/socket/zsys_darwin_arm.go
  vendor/golang.org/x/net/internal/socket/zsys_freebsd_riscv64.go
  vendor/golang.org/x/net/ipv4/zsys_freebsd_riscv64.go
  vendor/golang.org/x/net/ipv6/zsys_freebsd_riscv64.go
  vendor/modules.txt
Labels: size/XL, type/docs

#7278 [Mixin] Rename `logs` template variable to `loki_datasource`.
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled-ssd/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
Labels: size/M

#7285 fix/docs: Fixed a typo in the ingestor section
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs

#7288 Fix rangemapper with VectorExpr support
  CHANGELOG.md
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
  pkg/logql/shardmapper_test.go
Labels: size/S

#7254 operator: Expose Loki Ruler API via the lokistack-gateway
  operator/CHANGELOG.md
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
Labels: size/L, sig/operator

#7283 Tests: Improve several tests behavior
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  clients/pkg/promtail/targets/gcplog/push_target.go
  clients/pkg/promtail/targets/gcplog/push_target_test.go
  clients/pkg/promtail/targets/gcplog/target_test.go
Labels: size/S

#7296 operator: Enable subscriptions on OpenShift 4.12
  operator/bundle/metadata/properties.yaml
Labels: size/XS, sig/operator

#7297 operator: Prepare bundle for openshift-logging release 5.6
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#6951 operator: Operational Alerts
  operator/CHANGELOG.md
  operator/Makefile
  operator/docs/lokistack/sop.md
  operator/internal/manifests/internal/alerts/build.go
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
  operator/internal/manifests/internal/alerts/prometheus-rules.yaml
  operator/internal/manifests/internal/alerts/testdata/test.yaml
Labels: size/XL, sig/operator

#7309 Add list of delete requests to deletion dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/M

#7264 chunks: decode varints directly from byte buffer; stop panicing on some corrupt inputs
  CHANGELOG.md
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/pool.go
  pkg/chunkenc/pool_test.go
  pkg/storage/stores/tsdb/single_file_index.go
Labels: size/L

#7307 Log delete request ID upon creation
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
Labels: size/M

#7230 Loki: Improve query timeouts behavior
  pkg/logcli/query/query_test.go
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/querier/http.go
  pkg/querier/http_test.go
Labels: size/L
