Repository grafana/loki, pull requests merged in 2022-12, with the labels that each got.

#7817 fix(memcached): panic on `send on closed channel`.
  CHANGELOG.md
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/cache/memcached_test.go
Labels: size/M

#7735 [bugfix] scheduler: Gracefully shutdown querier when using query-scheduler
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/querier/worker/util.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/queue/user_queues_test.go
  pkg/scheduler/schedulerpb/custom.go
Labels: size/XL

#7810 Improve ratestore performance
  pkg/distributor/distributor_test.go
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_metrics.go
  pkg/distributor/ratestore_test.go
Labels: size/L

#7619 Loki: Modified heroku drain target to make any url query parameters available as labels
  CHANGELOG.md
  clients/pkg/promtail/targets/heroku/target.go
  clients/pkg/promtail/targets/heroku/target_test.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
Labels: size/L, type/docs

#7831 guard against divide by 0 when splitting parallelism
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/L

#7833 fix(memcached): use `default` branch avoid writing to closed chan
  pkg/storage/chunk/cache/memcached.go
Labels: size/S

#7834 Log query string on retry alongside the error
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/queryrangebase/retry_test.go
Labels: size/S

#7838 Make some stream shard metrics per-tenant
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_metrics.go
Labels: size/M

#7760 [helm] Bump helm Loki and GEL version
  docs/sources/installation/helm/reference.md
  flake.nix
  nix/loki.nix
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#7842 Revert "Make some stream shard metrics per-tenant (#7838)"
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_metrics.go
Labels: size/M

#7841 loki-build-image: update faillint
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#7848 Update build image references to 0.25.0
  .circleci/config.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/querytee/Dockerfile.cross
  operator/Dockerfile.cross
Labels: size/S, sig/operator

#7849 rerun make drone so the newest build image is used
  .drone/drone.yml
  docs/sources/maintaining/release-loki-build-image.md
Labels: size/M, type/docs

#7856 Loki: Add one additional bucket to `rate_store_stream_shards`
  pkg/distributor/ratestore_metrics.go
Labels: size/XS

#7805 Fix alertmanager per tenant override config behavior
  pkg/logql/syntax/parser.go
  pkg/ruler/base/manager.go
  pkg/ruler/base/notifier.go
  pkg/ruler/base/notifier_test.go
  pkg/ruler/base/ruler.go
Labels: size/L, backport release-2.7.x, type/bug, product-approved

#7858 Backport: Fix alertmanager per tenant override config behavior (#7805)
  pkg/logql/syntax/parser.go
  pkg/ruler/base/manager.go
  pkg/ruler/base/notifier.go
  pkg/ruler/base/notifier_test.go
  pkg/ruler/base/ruler.go
Labels: size/L

#7860 Fix broken canary loki alerts
  production/helm/loki/src/alerts.yaml
Labels: size/XS, area/helm

#7857 Update v2-7.md
  docs/sources/release-notes/v2-7.md
Labels: size/XS, type/docs

#7878 Fixing a typo in configuration.md
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs

#7874 fix small typo
  docs/sources/operations/shuffle-sharding.md
Labels: size/XS, type/docs

#7852 Promtail: Fix broken promtail-debug docker image
  clients/cmd/promtail/Dockerfile.debug
Labels: size/XS, component/promtail

#7873 [helm] Release 3.6.1 to reintroduce PrometheusRule alerts
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#7880 consider range and offset in queries while looking for schema config for query sharding
  CHANGELOG.md
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/L

#7830 Introduce sizing tool to documentation page.
  cmd/logql-analyzer/main.go
  docs/sources/installation/_index.md
  docs/sources/installation/helm/_index.md
  docs/sources/installation/helm/generate/index.md
  docs/sources/installation/sizing/index.md
  pkg/sizing/algorithm.go
  pkg/sizing/algorithm_test.go
  pkg/sizing/helm.go
  pkg/sizing/http.go
  pkg/sizing/node.go
Labels: size/XL, type/docs

#7877 default compactor deletion mode to filter only
  pkg/validation/limits.go
  production/loki-mixin/jsonnetfile.lock.json
Labels: size/S

#7895 Prepare changelog and release notes for 2.7.1
  CHANGELOG.md
  docs/sources/release-notes/v2-7.md
Labels: size/S, type/docs, backport release-2.7.x, missing-labels

#7896 Backport 7804 into 2.7.1
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/fields.go
  clients/pkg/promtail/targets/lokipush/pushtargetmanager_test.go
  docs/sources/configuration/_index.md
  pkg/logqlmodel/logqlmodel.go
  pkg/logqlmodel/metadata/context_test.go
  pkg/loki/common/common.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/queryrangebase/middleware_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/storage/stores/indexshipper/compactor/client/grpc.go
  pkg/storage/stores/indexshipper/compactor/client/grpc/grpc.pb.go
  pkg/storage/stores/indexshipper/compactor/client/grpc/grpc.proto
  pkg/storage/stores/indexshipper/compactor/client/http.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/compactor_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/grpc_request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/grpc_request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/metrics.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_client.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_client_test.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader_test.go
  pkg/util/marshal/marshal.go
Labels: size/XXL, type/docs

#7597 promtail: ratelimiting by label
  CHANGELOG.md
  clients/pkg/logentry/stages/limit.go
  clients/pkg/logentry/stages/limit_test.go
  docs/sources/clients/promtail/stages/limit.md
  pkg/util/map.go
  pkg/util/metrics_helper.go
Labels: size/L, type/docs

#7910 operator: Update Loki operand to v2.7.1
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#7909 Fix typo in helm install monolithic docs
  docs/sources/installation/helm/install-monolithic/index.md
Labels: size/XS, type/docs

#7899 Fix sizing tool.
  docs/sources/installation/sizing/index.md
Labels: size/XS, type/docs

#7917 Remove duplicate sizing tool
  docs/sources/installation/helm/generate/index.md
  docs/sources/installation/sizing/index.md
Labels: size/M, type/docs

#7650 Add 3rd target (`backend`) to SSD/Scalable mode
  integration/loki_simple_scalable_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
Labels: size/L

#6662 [Jsonnet] Fix memberlist when using a stateful ruler
  CHANGELOG.md
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#7757 Helm: Decouple the Canary from self-monitoring
  docs/sources/installation/helm/concepts.md
  docs/sources/installation/helm/monitor-and-alert/index.md
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/ci/ingress-values.yaml
  production/helm/loki/templates/loki-canary/_helpers.tpl
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/templates/loki-canary/service.yaml
  production/helm/loki/templates/loki-canary/serviceaccount.yaml
  production/helm/loki/templates/tests/test-canary.yaml
  production/helm/loki/templates/validate.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#7921 doc(api): Default value for `delete_ring_tokens` on `/ingester/shutdown` endpoint
  docs/sources/api/_index.md
Labels: size/XS, type/docs, backport release-2.7.x

#7916 Add configuration documentation generation tool
  docs/sources/configuration/_index.md
  docs/sources/configuration/index.template
  go.mod
  go.sum
  pkg/ingester/client/client.go
  pkg/ingester/ingester.go
  pkg/ingester/wal.go
  pkg/logql/engine.go
  pkg/loki/common/common.go
  pkg/loki/config_test.go
  pkg/loki/loki.go
  pkg/lokifrontend/config.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/querier/querier.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/ruler/base/ruler.go
  pkg/ruler/base/ruler_ring.go
  pkg/ruler/base/storage.go
  pkg/ruler/config.go
  pkg/ruler/config/alertmanager.go
  pkg/ruler/storage/cleaner/cleaner.go
  pkg/ruler/storage/cleaner/config.go
  pkg/ruler/storage/instance/instance.go
  pkg/scheduler/scheduler.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/chunk/client/hedging/hedging.go
  pkg/storage/config/schema_config.go
  pkg/storage/factory.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/shipper/indexgateway/config.go
  pkg/util/ring_config.go
  pkg/util/validation/limits.go
  pkg/validation/limits.go
  tools/doc-generator/main.go
  tools/doc-generator/parse/parser.go
  tools/doc-generator/parse/root_blocks.go
  tools/doc-generator/parse/util.go
  tools/doc-generator/parse/util_test.go
  tools/doc-generator/writer.go
  vendor/github.com/mitchellh/go-wordwrap/LICENSE.md
  vendor/github.com/mitchellh/go-wordwrap/README.md
  vendor/github.com/mitchellh/go-wordwrap/wordwrap.go
  vendor/modules.txt
Labels: size/XXL, type/docs

#7934 Fix documentation typos from #7916
  docs/sources/configuration/_index.md
  docs/sources/configuration/index.template
  pkg/ingester/wal.go
  pkg/querier/querier.go
  pkg/ruler/base/ruler.go
  pkg/ruler/config.go
Labels: size/S, type/docs

#7931 Move to fork github.com/grafana/tail
  clients/pkg/promtail/targets/file/tailer.go
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/flagext/bytes.go
  vendor/github.com/grafana/tail/.gitignore
  vendor/github.com/grafana/tail/.travis.yml
  vendor/github.com/grafana/tail/CHANGES.md
  vendor/github.com/grafana/tail/Dockerfile
  vendor/github.com/grafana/tail/LICENSE.txt
  vendor/github.com/grafana/tail/Makefile
  vendor/github.com/grafana/tail/README.md
  vendor/github.com/grafana/tail/appveyor.yml
  vendor/github.com/grafana/tail/ratelimiter/Licence
  vendor/github.com/grafana/tail/ratelimiter/leakybucket.go
  vendor/github.com/grafana/tail/ratelimiter/memory.go
  vendor/github.com/grafana/tail/ratelimiter/storage.go
  vendor/github.com/grafana/tail/tail.go
  vendor/github.com/grafana/tail/tail_posix.go
  vendor/github.com/grafana/tail/tail_windows.go
  vendor/github.com/grafana/tail/util/util.go
  vendor/github.com/grafana/tail/watch/file_posix.go
  vendor/github.com/grafana/tail/watch/file_windows.go
  vendor/github.com/grafana/tail/watch/filechanges.go
  vendor/github.com/grafana/tail/watch/inotify.go
  vendor/github.com/grafana/tail/watch/inotify_tracker.go
  vendor/github.com/grafana/tail/watch/polling.go
  vendor/github.com/grafana/tail/watch/watch.go
  vendor/github.com/grafana/tail/winfile/winfile.go
  vendor/modules.txt
Labels: size/S

#7924 Flush buffered logger on exit.
  cmd/loki/main.go
  pkg/util/log/log.go
Labels: size/S

#7906 feat(logql): Supporting prettifying LogQL expressions
  CHANGELOG.md
  cmd/logcli/main.go
  docs/sources/api/_index.md
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/prettier.go
  pkg/logql/syntax/prettier_test.go
  pkg/loki/format_query_handler.go
  pkg/loki/loki.go
Labels: size/XL, type/docs

#7937 Deprecate CLI flag -ruler.wal-cleaer.period in favor of CLI flag -ruler.wal-cleaner.period
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/ruler/config.go
  pkg/ruler/storage/cleaner/config.go
Labels: size/M, type/docs

#7938 Add CI step to check generated documentation to check pipeline
  .drone/drone.jsonnet
  .drone/drone.yml
  CHANGELOG.md
  Makefile
  docs/sources/configuration/_index.md
  pkg/lokifrontend/frontend/v2/frontend.go
Labels: size/M, type/docs

#7939 [helm] control order provisioner and tokengen jobs run in
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
Labels: size/S, area/helm

#7926 Fix validation for pattern and rexexp parsers to they don't panic in query-frontend
  CHANGELOG.md
  pkg/logql/rangemapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/M, backport release-2.7.x, type/bug, product-approved

#7919 Show help tooltip on hover in sizing tool.
  docs/sources/installation/sizing/index.md
  pkg/sizing/helm.go
Labels: size/M, type/docs

#7948 fix error helm install monolithic path
  docs/sources/installation/helm/install-monolithic/index.md
Labels: size/XS, type/docs

#7957 Fix min and max aggregations when using instant queries.
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/M

#7961 Fix min and max aggregations when using instant queries. (#7957)
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/M

#7960 Fix min and max aggregations when using instant queries. (#7957)
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/M

#7956 Fix typo
  docs/sources/installation/helm/install-monolithic/index.md
Labels: size/XS, type/docs

#7966 fix query-frontend request load balancing when using k8s service
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
Labels: size/M, type/docs

#7839 Operator: Configure Alertmanager per-tenant
  operator/CHANGELOG.md
  operator/apis/loki/v1beta1/lokistack_types.go
  operator/apis/loki/v1beta1/rulerconfig_types.go
  operator/apis/loki/v1beta1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/internal/handlers/internal/openshift/alertmanager.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/options.go
  operator/internal/manifests/openshift/rbac.go
  operator/internal/manifests/openshift/var.go
Labels: size/XXL, sig/operator

#7164 Fix links to configuration page
  docs/sources/clients/promtail/scraping.md
Labels: size/S, type/docs

#7982 Add store & cache download statistics
  docs/sources/upgrading/_index.md
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/storage/chunk/cache/stats.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/M, type/docs

#7983 Add README file to doc-generator tool
  tools/doc-generator/README.md
Labels: size/S

#7981 Add missing period_config root block to doc generator
  docs/sources/configuration/_index.md
  pkg/storage/config/schema_config.go
  tools/doc-generator/parse/parser.go
Labels: size/M, type/docs

#7991 Revert "Update Ingester Rate Calculations (#7652)"
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream_rate_calculator.go
  pkg/ingester/stream_rate_calculator_test.go
Labels: size/L

#7997 fix(promtail): Fix cri tags extra new lines.
  CHANGELOG.md
  clients/pkg/logentry/stages/extensions.go
  clients/pkg/logentry/stages/extensions_test.go
Labels: size/M

#7999 [chore] Fix various linter errors
  clients/pkg/promtail/targets/heroku/target_test.go
  pkg/ingester/stream_rate_calculator.go
  pkg/logql/range_vector_test.go
  pkg/logql/rangemapper_test.go
  pkg/logql/syntax/prettier.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/split_by_interval.go
Labels: kind/chore

#7988 store: write overlapping chunks to multiple stores
  CHANGELOG.md
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
Labels: size/L

#7951 Add count to template functions
  CHANGELOG.md
  docs/sources/logql/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/L, type/docs

#8002 Update log queries regex documentation
  docs/sources/logql/log_queries.md
Labels: size/S, type/docs

#7940 updated versions to the latest release v2.7.1
  docs/sources/installation/docker.md
  examples/getting-started/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
  tools/promtail.sh
Labels: size/M, type/docs
