Repository grafana/loki, pull requests merged in 2022-03, with the labels that each got.

#5498 Docs: Fix links and formatting of HTTP API page
  docs/sources/api/_index.md
Labels: size/M

#5485 metrics: Add `user` label to `worker_inflight_queries`
  pkg/querier/worker/metrics.go
  pkg/querier/worker/scheduler_processor.go
Labels: size/S

#5491 CI: moving autodeploy configuration secret to new location
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#5480 Changelog: Include #5409
  CHANGELOG.md
Labels: size/XS

#5500 Dashboards: Fixing references to bigtable metrics
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/M

#5490 Stub multi tenant querier.
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L

#5507 Remove extra param in call for inflightRequests metric
  CHANGELOG.md
  pkg/querier/worker/scheduler_processor.go
Labels: size/XS

#5509 Fix TestPlaintextPushTarget test
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
Labels: size/XS

#5510 Add prefix to vault path
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#5489 operator: Fix port name used for gRPC services
  operator/internal/manifests/var.go
Labels: size/XS, sig/operator

#5467 [operator] Update ClusterServiceVersion to add missing configurations
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#5512 Update out_loki.rb
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#5503 Lambda-promtail: add basic auth support
  tools/lambda-promtail/Makefile
  tools/lambda-promtail/lambda-promtail/promtail.go
Labels: size/XS

#5520 fix broken index gateway benchmark due to missing limits
  pkg/storage/stores/shipper/downloads/table_manager.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/gateway_client_test.go
Labels: size/S

#5205 Update Pub/Sub docs section
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/M

#5497 Fix orphaned metrics in the file tailer
  clients/pkg/promtail/targets/file/filetarget.go
Labels: size/XS

#5525 Update metric_queries.md
  docs/sources/logql/metric_queries.md
Labels: size/XS, backport release-2.4

#5527 [bugfix] fix nil pointer
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
Labels: size/XS

#5517 Support `SelectLogs` and `SelectSamples` in multi-tenant querier.
  pkg/loki/modules.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier_mock_test.go
Labels: size/L

#5535 Loki mixin: use labels selector for loki chunks dashboard
  CHANGELOG.md
  production/loki-mixin/dashboards/loki-chunks.libsonnet
Labels: size/XS

#5536 Loki mixin: make labelsSelector in loki chunks dashboards configurable
  CHANGELOG.md
  production/loki-mixin/dashboards/loki-chunks.libsonnet
Labels: size/M

#5534 Revert "metrics: Add `user` label to `worker_inflight_queries` (#5485)"
  pkg/querier/worker/metrics.go
  pkg/querier/worker/scheduler_processor.go
Labels: size/S

#5515 Change usagestats expvars so they can be set twice
  pkg/usagestats/stats.go
  pkg/usagestats/stats_test.go
Labels: size/L

#5541 Queries: update package to reject very deeply nested regexps which could crash Loki
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/grafana/regexp/syntax/parse.go
  vendor/modules.txt
Labels: size/XS

#5544 Update vectorAggEvaluator to fail for expressions without grouping
  pkg/logql/evaluator.go
Labels: size/S

#5542 regexp filter: use modified package with optimisations
  go.mod
  go.sum
  vendor/github.com/grafana/regexp/README.md
  vendor/github.com/grafana/regexp/backtrack.go
  vendor/github.com/grafana/regexp/exec.go
  vendor/github.com/grafana/regexp/onepass.go
  vendor/github.com/grafana/regexp/regexp.go
  vendor/github.com/grafana/regexp/syntax/prog.go
  vendor/modules.txt
Labels: size/XS

#5543 update loki go version to 1.17.8
  Makefile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
Labels: size/M

#5537 Fix path to binary in Dockerfile for querytee
  .gitignore
  cmd/querytee/Dockerfile
Labels: size/XS

#5547 updates clusterrole and clusterrolebinding apiVersions in promtail.sh
  tools/promtail.sh
Labels: size/XS

#5550 Docs: Fix broken link to "Matching IP addresses"
  docs/sources/logql/log_queries.md
Labels: size/XS

#5552 Loki mixin: add DiskSpaceUtilizationPanel
  CHANGELOG.md
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
Labels: size/S

#5345 operator: Add flag to create Prometheus rules
  operator/.bingo/Variables.mk
  operator/.bingo/promtool.mod
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/cmd/loki-broker/main.go
  operator/config/overlays/openshift/manager_run_flags_patch.yaml
  operator/config/rbac/role.yaml
  operator/controllers/lokistack_controller.go
  operator/internal/manifests/build.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/internal/alerts/build.go
  operator/internal/manifests/internal/alerts/prometheus_alerts.yaml
  operator/internal/manifests/internal/alerts/testdata/test.yaml
  operator/internal/manifests/mutate.go
  operator/internal/manifests/options.go
  operator/internal/manifests/prometheus_rule.go
  operator/internal/manifests/prometheus_rule_test.go
  operator/internal/manifests/var.go
  operator/main.go
Labels: size/L, sig/operator

#5546 Refactor sharding engine to downstream engine
  pkg/logql/ast.go
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/test_utils.go
  pkg/querier/queryrange/querysharding.go
Labels: size/L

#5560 operator: Fix service monitor's server name for operator metrics
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/config/overlays/openshift/prometheus_service_monitor_patch.yaml
Labels: size/S, sig/operator

#5567 Fix frontend-worker validate error message
  pkg/loki/loki.go
Labels: size/XS

#5572 operator: Reorder changelog in descending order
  operator/CHANGELOG.md
Labels: size/XS, sig/operator

#5576 operator: Change endpoints for generated liveness and readiness probes
  operator/CHANGELOG.md
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#5577 Tsdb/index interface
  pkg/storage/tsdb/index.go
  pkg/storage/tsdb/index/chunk.go
  pkg/storage/tsdb/querier.go
  pkg/storage/tsdb/single_file_index.go
  pkg/storage/tsdb/single_file_index_test.go
  pkg/storage/tsdb/util_test.go
Labels: size/L

#5580 build a new batch while starting to process a bucket
  pkg/storage/stores/shipper/compactor/table.go
Labels: size/XS

#5582 Store tsdb bounds
  pkg/storage/tsdb/index/index.go
  pkg/storage/tsdb/querier.go
  pkg/storage/tsdb/querier_test.go
Labels: size/M

#5585 fix possible data loss issue due to failures in uploading compacted user index
  pkg/storage/stores/shipper/compactor/table.go
Labels: size/S

#5586 Make Loki adopters visible in README
  README.md
Labels: size/XS

#5587 Compactor improvements
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
Labels: size/L

#5590 more tsdb benchmarks + updates script to work with incompatible branches
  tools/tsdb/tsdb-map/diff.sh
  tools/tsdb/tsdb-map/main_test.go
Labels: size/M

#5593 bounds utility for tsdb lib
  pkg/storage/tsdb/bounds.go
  pkg/storage/tsdb/bounds_test.go
  pkg/storage/tsdb/index.go
  pkg/storage/tsdb/index/chunk.go
  pkg/storage/tsdb/single_file_index.go
Labels: size/M

#5568 canary: Adds locking to prevent multiple concurrent invocations of `confirmMissing` from clobbering each other
  CHANGELOG.md
  pkg/canary/comparator/comparator.go
  pkg/canary/comparator/comparator_test.go
Labels: size/M

#5588 operator: Add RBAC for Prometheus service discovery to Loki component metrics (OpenShift)
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/lokistack_controller.go
  operator/controllers/lokistack_controller_test.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/mutate.go
  operator/internal/manifests/mutate_test.go
  operator/internal/manifests/openshift/build.go
  operator/internal/manifests/openshift/build_test.go
  operator/internal/manifests/openshift/monitoring_rbac.go
  operator/internal/manifests/openshift/options.go
  operator/internal/manifests/openshift/rbac.go
  operator/internal/manifests/openshift/route.go
  operator/internal/manifests/openshift/service_ca.go
  operator/internal/manifests/openshift/serviceaccount.go
  operator/internal/manifests/openshift/serviceaccount_test.go
  operator/internal/manifests/openshift/var.go
Labels: size/L, sig/operator

#5600 Tsdb/sharding
  pkg/querier/astmapper/shard_summer.go
  pkg/storage/tsdb/index.go
  pkg/storage/tsdb/multi_file_index.go
  pkg/storage/tsdb/multi_file_index_test.go
  pkg/storage/tsdb/single_file_index.go
  pkg/storage/tsdb/single_file_index_test.go
  tools/tsdb/tsdb-map/main_test.go
Labels: size/L

#5602 Replace `PromQL` -> `LogQL` wordings in Querier logs
  pkg/querier/worker/worker.go
Labels: size/XS

#5539 Refactor LogQL syntax into its own package
  cmd/migrate/main.go
  pkg/chunkenc/memchunk_test.go
  pkg/distributor/distributor.go
  pkg/distributor/validator_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/tailer.go
  pkg/loghttp/push/push.go
  pkg/loghttp/series.go
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/functions.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/matchers.go
  pkg/logql/matchers_test.go
  pkg/logql/metrics.go
  pkg/logql/optimize.go
  pkg/logql/optimize_test.go
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/extractor.go
  pkg/logql/syntax/extractor_test.go
  pkg/logql/syntax/fuzz.go
  pkg/logql/syntax/fuzz_test.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/syntax/walk.go
  pkg/logql/syntax/walk_test.go
  pkg/logql/vector/heap.go
  pkg/querier/http.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/ruler/compat.go
  pkg/storage/batch.go
  pkg/storage/hack/main.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
  pkg/storage/tsdb/querier_test.go
  pkg/storage/util_test.go
  pkg/validation/limits.go
Labels: size/XXL

#5482 Query Filtering -- Querier
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/delete_store_listener.go
  pkg/loki/modules.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store.go
  pkg/storage/stores/shipper/compactor/deletion/noop_delete_requests_store.go
Labels: size/XXL

#5621 operator: Use recommended labels for LokiStack components
  operator/CHANGELOG.md
  operator/internal/manifests/var.go
Labels: kind/enhancement, size/S, sig/operator

#5620 Test multi-tenant context propagation.
  pkg/querier/multi_tenant_querier.go
  tools/dev/loki-boltdb-storage-s3/README.md
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
  tools/dev/loki-boltdb-storage-s3/docker-compose.yml
Labels: size/M

#5502 [Frontend] Log Result Cache
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/log_result_cache_test.go
  pkg/querier/queryrange/metrics.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/queryrangebase/roundtrip_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/XXL

#5628 Tsdb/sharding-benchmarks
  pkg/storage/tsdb/index.go
  pkg/storage/tsdb/index/shard.go
  pkg/storage/tsdb/multi_file_index.go
  pkg/storage/tsdb/single_file_index.go
  pkg/storage/tsdb/single_file_index_test.go
  tools/tsdb/tsdb-map/main_test.go
Labels: size/M

#5627 Remove unused storage-gateway references
  pkg/querier/base/querier.go
  pkg/querier/base/store_gateway_client.go
  pkg/querier/base/store_gateway_client_test.go
  pkg/storegateway/storegatewaypb/gateway.pb.go
  pkg/storegateway/storegatewaypb/gateway.proto
  vendor/github.com/thanos-io/thanos/pkg/store/labelpb/label.go
  vendor/github.com/thanos-io/thanos/pkg/store/labelpb/types.pb.go
  vendor/github.com/thanos-io/thanos/pkg/store/labelpb/types.proto
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/custom.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/inprocess.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/prompb/README.md
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/prompb/remote.pb.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/prompb/remote.proto
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/prompb/types.pb.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/prompb/types.proto
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/rpc.pb.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/rpc.proto
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/types.pb.go
  vendor/github.com/thanos-io/thanos/pkg/store/storepb/types.proto
  vendor/modules.txt
Labels: size/L

#5633 Remove unused code from cortex
  pkg/querier/base/active-query-tracker/queries.active
  pkg/querier/base/chunk_store_queryable.go
  pkg/querier/base/chunk_store_queryable_test.go
  pkg/querier/base/chunk_tar_test.go
  pkg/querier/base/distributor_queryable.go
  pkg/querier/base/distributor_queryable_test.go
  pkg/querier/base/duplicates_test.go
  pkg/querier/base/matrix.go
  pkg/querier/base/querier.go
  pkg/querier/base/querier_benchmark_test.go
  pkg/querier/base/querier_test.go
  pkg/querier/base/series_with_chunks.go
  pkg/querier/base/store_gateway_client.go
  pkg/querier/base/store_gateway_client_test.go
  pkg/querier/base/testutils.go
  pkg/querier/base/timeseries_series_set.go
  pkg/querier/base/timeseries_series_set_test.go
  pkg/querier/testutils.go
  pkg/ruler/base/ruler_test.go
  pkg/usagestats/stats_test.go
  vendor/github.com/thanos-io/thanos/pkg/strutil/merge.go
  vendor/modules.txt
Labels: size/XXL

#5641 Remove benchmark cron job.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#5642 debug log number of index entries cached and retrieved from the cache per index query
  pkg/storage/chunk/storage/caching_index_client.go
Labels: size/S

#5638 Remove more unused code
  pkg/querier/batch/batch.go
  pkg/querier/batch/batch_test.go
  pkg/querier/batch/chunk.go
  pkg/querier/batch/chunk_test.go
  pkg/querier/batch/merge.go
  pkg/querier/batch/merge_test.go
  pkg/querier/batch/non_overlapping.go
  pkg/querier/batch/non_overlapping_test.go
  pkg/querier/batch/stream.go
  pkg/querier/batch/stream_test.go
  pkg/querier/chunkstore/chunkstore.go
  pkg/querier/dummy.go
  pkg/querier/error_translate_queryable_test.go
  pkg/querier/iterators/chunk_iterator.go
  pkg/querier/iterators/chunk_merge_iterator.go
  pkg/querier/iterators/chunk_merge_iterator_test.go
  pkg/querier/lazyquery/lazyquery.go
  pkg/querier/queryrange/queryrangebase/limits.go
  pkg/querier/queryrange/queryrangebase/limits_test.go
  pkg/querier/queryrange/queryrangebase/queryable.go
  pkg/querier/queryrange/queryrangebase/queryable_test.go
  pkg/querier/queryrange/queryrangebase/querysharding.go
  pkg/querier/queryrange/queryrangebase/querysharding_test.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/queryrangebase/roundtrip_test.go
  pkg/querier/queryrange/queryrangebase/split_by_interval.go
  pkg/querier/queryrange/queryrangebase/split_by_interval_test.go
  pkg/ruler/base/compat.go
  pkg/ruler/base/error_translate_queryable.go
Labels: size/XXL

#5650 Remove more chunkstore and schema version below v9
  pkg/ingester/ingester_test.go
  pkg/loki/config_test.go
  pkg/querier/querier_mock_test.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_test.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/composite_store.go
  pkg/storage/chunk/composite_store_test.go
  pkg/storage/chunk/schema.go
  pkg/storage/chunk/schema_config.go
  pkg/storage/chunk/schema_config_test.go
  pkg/storage/chunk/schema_test.go
  pkg/storage/chunk/schema_util.go
  pkg/storage/chunk/series_store.go
  pkg/storage/chunk/series_store_test.go
  pkg/storage/chunk/storage/factory_test.go
  pkg/storage/chunk/testutils/testutils.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
Labels: size/XXL

#5643 Introduce a ChunkRef type as part of logproto
  cmd/migrate/main.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/ingester/flush_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logproto/types.go
  pkg/storage/batch.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/chunk_test.go
  pkg/storage/chunk/fixtures.go
  pkg/storage/chunk/grpc/grpc_client_test.go
  pkg/storage/chunk/objectclient/client_test.go
  pkg/storage/chunk/schema_config.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
Labels: size/XL

#5622 Preserve interval parameter when splitting queries by time
  CHANGELOG.md
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/L

#5551 operator: Document how to connect to distributor component
  operator/CHANGELOG.md
  operator/docs/forwarding_logs_without_gateway.md
  operator/index.md
Labels: size/L, sig/operator

#5640 operator: Update CSV to point to candidate channel and use openshift-operators-redhat ns
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle.Dockerfile
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/metadata/annotations.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#5658 Add inflight requests metric for scheduler
  pkg/scheduler/scheduler.go
Labels: size/S

#5626 Support limits in multi-tenant queries.
  CHANGELOG.md
  pkg/logql/engine.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/util/validation/limits.go
  pkg/util/validation/limits_test.go
Labels: size/L

#5631 Tsdb/hash order
  pkg/storage/tsdb/index/builder.go
  pkg/storage/tsdb/index/fingerprint.go
  pkg/storage/tsdb/index/fingerprint_test.go
  pkg/storage/tsdb/index/index.go
  pkg/storage/tsdb/index/index_test.go
  pkg/storage/tsdb/index/postings.go
  pkg/storage/tsdb/index/shard.go
  pkg/storage/tsdb/index/shard_test.go
  pkg/storage/tsdb/multi_file_index_test.go
  pkg/storage/tsdb/querier.go
  pkg/storage/tsdb/querier_test.go
  pkg/storage/tsdb/single_file_index.go
  pkg/storage/tsdb/single_file_index_test.go
  tools/tsdb/tsdb-map/diff.sh
  tools/tsdb/tsdb-map/main_test.go
Labels: size/XL

#5630 TSDB Index reuses slices, adds pools
  pkg/storage/tsdb/index.go
  pkg/storage/tsdb/multi_file_index.go
  pkg/storage/tsdb/multi_file_index_test.go
  pkg/storage/tsdb/pool.go
  pkg/storage/tsdb/single_file_index.go
  pkg/storage/tsdb/single_file_index_test.go
  tools/tsdb/tsdb-map/diff.sh
  tools/tsdb/tsdb-map/main_test.go
Labels: size/L

#5579 operator: Adding instructions to respond to alerts
  operator/CHANGELOG.md
  operator/Makefile
  operator/docs/alerts.md
  operator/internal/manifests/internal/alerts/build.go
  operator/internal/manifests/internal/alerts/options.go
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
  operator/internal/manifests/internal/alerts/testdata/test.yaml
  operator/internal/manifests/prometheus_rule.go
Labels: size/L, sig/operator

#5599 operator: Update developer addons
  operator/docs/forwarding_logs_to_gateway.md
  operator/docs/hack_loki_operator.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
Labels: size/XL, sig/operator

#5664 Docs: Fix broken Fluentbit / Fluentd plugin doc links
  docs/sources/clients/aws/ecs/_index.md
Labels: size/XS

#5596 Add Digitalist as adopter
  ADOPTERS.md
Labels: size/XS

#5663 Speed up re-labelling in multi-tenant queries.
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
Labels: size/L

#5675 Fix bug with new promtail stream lag metric
  clients/pkg/promtail/client/client.go
Labels: size/S

#5655 operator: Update Loki operand to 2.4.2
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#5615 operator: Document how to connect to LokiStack gateway component
  operator/CHANGELOG.md
  operator/docs/forwarding_logs_to_gateway.md
  operator/docs/hack_loki_operator.md
  operator/index.md
Labels: size/L, sig/operator

#5695 operator: Update to Go 1.17
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  operator/.bingo/.gitignore
  operator/.bingo/Variables.mk
  operator/.bingo/bingo.mod
  operator/.bingo/bingo.sum
  operator/.bingo/controller-gen.mod
  operator/.bingo/controller-gen.sum
  operator/.bingo/gofumpt.mod
  operator/.bingo/gofumpt.sum
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/kustomize.mod
  operator/.bingo/kustomize.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/promtool.mod
  operator/.bingo/promtool.sum
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/Dockerfile
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/calculator.Dockerfile
  operator/docs/hack_loki_operator.md
  operator/go.mod
  operator/tools/tools.go
Labels: size/XXL, kind/chore, sig/operator

#5688 Require unique client configs when there are multiple clients.
  clients/cmd/fluent-bit/dque.go
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/fake/client.go
  clients/pkg/promtail/client/logger.go
  clients/pkg/promtail/client/multi.go
  clients/pkg/promtail/client/multi_test.go
Labels: size/M

#5686 Move promtail StreamLagLabels config to upper level config.Config
  clients/cmd/promtail/main.go
  clients/pkg/promtail/client/config.go
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/config/config_test.go
  clients/pkg/promtail/promtail.go
  docs/sources/clients/promtail/configuration.md
Labels: size/L

#5699 operator: Configuring multiple storage stypes for boltdb-shipper and schema
  operator/CHANGELOG.md
  operator/internal/handlers/internal/secrets/secrets.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/options.go
Labels: size/M

#5693 operator: Replace frontend_worker parallelism with match_max_concurrent
  operator/CHANGELOG.md
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
Labels: kind/enhancement, size/M, sig/operator

#5704 operator: Update operator-sdk to 1.18.1
  operator/.bingo/Variables.mk
  operator/.bingo/controller-gen.mod
  operator/.bingo/controller-gen.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/cmd/loki-broker/main.go
  operator/cmd/size-calculator/main.go
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manager/manager.yaml
  operator/config/overlays/openshift/manager_auth_proxy_patch.yaml
  operator/config/overlays/production/manager_auth_proxy_patch.yaml
  operator/config/rbac/role.yaml
  operator/controllers/internal/management/state/state.go
  operator/controllers/internal/management/state/state_test.go
  operator/controllers/lokistack_controller.go
  operator/controllers/lokistack_controller_test.go
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/internal/gateway/tenant_configmap.go
  operator/internal/handlers/internal/gateway/tenant_configmap_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/mutate.go
  operator/internal/manifests/mutate_test.go
  operator/internal/manifests/openshift/opa_openshift.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/service_monitor.go
  operator/internal/manifests/var.go
  operator/main.go
Labels: size/XXL, kind/chore, component/loki-operator

#5707 Promtail: Rename config name limit_config to limits_config
  CHANGELOG.md
  clients/cmd/promtail/promtail-local-limit-config.yaml
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/config/config_test.go
  clients/pkg/promtail/promtail.go
Labels: size/S

#5706 Update retention.md
  docs/sources/operations/storage/retention.md
Labels: size/XS

#5691 operator: Fix immediate reset of degraded condition
  operator/CHANGELOG.md
  operator/controllers/lokistack_controller.go
  operator/internal/handlers/internal/gateway/base_domain.go
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/status/lokistack.go
  operator/internal/status/status.go
Labels: size/L, sig/operator

#5402 Update Fluent Bit docs
  docs/sources/clients/fluentbit/_index.md
Labels: size/S

#5700 Build querytee image as part of CI pipeline
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#5697 Mark GELF support in Promtail as experimental
  docs/sources/clients/promtail/scraping.md
Labels: size/XS

#5685 Assert that push values tuples consist of string values
  CHANGELOG.md
  pkg/loghttp/entry.go
  pkg/loghttp/push/push_test.go
Labels: size/S

#5716 Update docker repo to grafana/loki-query-tee
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/S

#5477 logcli: Remove port from TLS server name when provided in --addr
  cmd/logcli/main.go
Labels: size/XS

#5698 Promtail: Fix retry/stop when erroring for out of cloudflare retention range (e.g. over 168 hours old)
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/target.go
  clients/pkg/promtail/targets/cloudflare/target_test.go
Labels: size/M

#5533 Docs: add an empty v2.5 release notes section
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v2-5.md
Labels: size/M

#5711 Update fluent-bit output name
  docs/sources/clients/aws/ecs/ecs-task.json
Labels: size/XS

#5566 Implement `Series` and `Label` for MultiTenantQuerier
  pkg/logproto/compat.go
  pkg/logproto/compat_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier_mock_test.go
Labels: size/L

#5729 operator: Add missing label matcher for openshift logging tenant mode
  operator/CHANGELOG.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/opa_openshift.go
Labels: kind/bug, size/S, sig/operator

#5687 TSDB/more bench cases
  tools/tsdb/tsdb-map/main_test.go
Labels: size/S
