Repository grafana/loki, pull requests merged in 2022-06, with the labels that each got.

#6134 Update docs for xk6-loki log formats
  docs/sources/clients/k6/log-generation.md
Labels: size/XS, type/docs

#6278 add metrics for tracking index shipper operations
  pkg/storage/stores/indexshipper/downloads/metrics.go
  pkg/storage/stores/indexshipper/downloads/table.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/metrics.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#6274 Snyk SBOM workflow add
  .github/workflows/snyk.yml
Labels: size/M

#6275 ingester: Refactor ingester metrics from globals into the ingesterMetrics struct
  pkg/ingester/flush.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/metrics.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
Labels: size/L

#6281 Loki: add a run-once flag to the compactor
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/S

#6195 operator: Add ruler config support
  operator/CHANGELOG.md
  operator/PROJECT
  operator/api/v1beta1/lokistack_types.go
  operator/api/v1beta1/rulerconfig_types.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/kustomization.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/config/rbac/rulerconfig_editor_role.yaml
  operator/config/rbac/rulerconfig_viewer_role.yaml
  operator/config/samples/kustomization.yaml
  operator/config/samples/loki_v1beta1_rulerconfig.yaml
  operator/controllers/internal/lokistack/ruler_config_discovery.go
  operator/controllers/rulerconfig_controller.go
  operator/internal/handlers/internal/rules/config.go
  operator/internal/handlers/internal/rules/secrets.go
  operator/internal/handlers/internal/rules/secrets_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/options.go
  operator/main.go
Labels: size/XXL, sig/operator

#5994 Document multi-tenant queries.
  docs/sources/operations/multi-tenancy.md
Labels: size/S, type/docs

#6286 Only delete data when WholeStreamDeletion or FilterAndDelete
  .github/workflows/snyk.yml
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
Labels: size/L, backport k100

#6240 feat(fluentd): allow fluentd_thread label to be configurable
  CHANGELOG.md
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
  clients/cmd/fluentd/spec/gems/fluent/plugin/loki_output_spec.rb
  docs/sources/clients/fluentd/_index.md
Labels: size/M, area/docs

#6296 K100 backport memberlist jsonnet
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
  production/ksonnet/loki/ruler.libsonnet
Labels: size/L

#6273 make tsdb store instance a singleton
  pkg/storage/config/schema_config.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#6299 [jsonnet] don't modify config if memberlist not enabled
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#5853 Improve write dashboard by removing unrelated route
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/XS

#6104 Avoid line copy during LogQL line_format
  pkg/logql/log/fmt.go
  pkg/logql/log/pipeline.go
  pkg/logql/syntax/parser_test.go
Labels: size/M

#6306 update loki-mixin json dashboards with latest jsonnet changes
  production/loki-mixin-compiled/dashboards/loki-writes.json
Labels: size/XS

#6309 exposes line length hist on distributors
  pkg/distributor/validator.go
  pkg/validation/validate.go
Labels: size/S

#6297 Only consider an interval to have possible expired chunks if it overlaps a delete.
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
Labels: size/M

#6252 Tsdb/inverted index wiring
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/index/bitprefix.go
  pkg/ingester/index/index.go
  pkg/ingester/index/multi.go
  pkg/ingester/index/multi_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/transfer.go
  pkg/loki/config_compat.go
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
Labels: size/XL

#6308 K100 back merge to main
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6307 fixed type of the property in memberlist config
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6285 Fix delete cancellation timeout
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/M

#6256 promtail: Allow docker_sd_config to handle log lines longer than 64k
  clients/pkg/promtail/targets/docker/target.go
  clients/pkg/promtail/targets/docker/targetmanager_test.go
  clients/pkg/promtail/targets/docker/testdata/flog.log
Labels: size/M

#6216 Reduce to a single code path through sendBatches regardless of limit
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
Labels: size/M

#6316 copy boltdb-shipper cache changes from PR #6054 to generic index shipper
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
Labels: size/M

#6304 make index shipper read path handle range of tables by type of index
  pkg/storage/config/schema_config.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#5251 Add licensing boiler plate in case we ever need it
  LICENSING.md
Labels: size/XS

#6187 Use fake credentials in storage/chunk/storage tests
  pkg/storage/chunk/client/gcp/fixtures.go
Labels: size/XS

#6192 Update delete integration test
  integration/client/client.go
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  integration/parse_metrics.go
  integration/parse_metrics_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/deletion/metrics.go
Labels: size/L

#6317 Add cache usage statistics
  CHANGELOG.md
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/stats.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/cache_gen.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/cache/fifo_cache_test.go
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/cache/memcached_test.go
  pkg/storage/chunk/cache/mock.go
  pkg/storage/chunk/cache/redis_cache.go
  pkg/storage/chunk/cache/redis_cache_test.go
  pkg/storage/chunk/cache/snappy.go
  pkg/storage/chunk/cache/stats.go
  pkg/storage/chunk/cache/tiered.go
  pkg/storage/chunk/fetcher/fetcher.go
  pkg/storage/chunk/tests/caching_fixtures_test.go
  pkg/storage/store.go
  pkg/storage/stores/series/index/caching_index_client_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/util_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/XXL

#6327 always retry syncing index files from indexshipper when the index list cache is stale
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table.go
Labels: size/L

#6329 Tsdb/index sampling
  go.mod
  go.sum
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/pool.go
  pkg/storage/stores/tsdb/pool_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  vendor/github.com/spaolacci/murmur3/.gitignore
  vendor/github.com/spaolacci/murmur3/.travis.yml
  vendor/github.com/spaolacci/murmur3/LICENSE
  vendor/github.com/spaolacci/murmur3/README.md
  vendor/github.com/spaolacci/murmur3/murmur.go
  vendor/github.com/spaolacci/murmur3/murmur128.go
  vendor/github.com/spaolacci/murmur3/murmur32.go
  vendor/github.com/spaolacci/murmur3/murmur64.go
  vendor/github.com/willf/bitset/.gitignore
  vendor/github.com/willf/bitset/.travis.yml
  vendor/github.com/willf/bitset/LICENSE
  vendor/github.com/willf/bitset/README.md
  vendor/github.com/willf/bitset/azure-pipelines.yml
  vendor/github.com/willf/bitset/bitset.go
  vendor/github.com/willf/bitset/popcnt.go
  vendor/github.com/willf/bitset/popcnt_19.go
  vendor/github.com/willf/bitset/popcnt_amd64.go
  vendor/github.com/willf/bitset/popcnt_amd64.s
  vendor/github.com/willf/bitset/popcnt_generic.go
  vendor/github.com/willf/bitset/trailing_zeros_18.go
  vendor/github.com/willf/bitset/trailing_zeros_19.go
  vendor/github.com/willf/bloom/.gitignore
  vendor/github.com/willf/bloom/.travis.yml
  vendor/github.com/willf/bloom/LICENSE
  vendor/github.com/willf/bloom/Makefile
  vendor/github.com/willf/bloom/README.md
  vendor/github.com/willf/bloom/VERSION
  vendor/github.com/willf/bloom/bloom.go
  vendor/modules.txt
Labels: size/XL

#6320 Backport Memberlist migration `multi_kv_config` ConfigMap changes to k100
  production/ksonnet/loki/overrides.libsonnet
Labels: size/XS, backport k100

#6321 Backport Memberlist migration `multi_kv_config` ConfigMap changes to k101
  production/ksonnet/loki/overrides.libsonnet
Labels: size/XS, backport k101

#6323 Add `multi_kv_config` block to overrides ConfigMap when multi-kv mode is enabled
  production/ksonnet/loki/overrides.libsonnet
Labels: size/XS

#6322 Expose Memberlist status page on MemberlistKV module init
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS, operation

#6312 Update _index.md - an unofficial Loki client added
  docs/sources/clients/_index.md
Labels: size/XS, area/docs

#6332 Backport `MemberlistKV.MetricsNamespace` loki change to k100
  pkg/loki/modules.go
Labels: size/XS

#6335 Define a reason why the fifocache has evicted an item
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/cache/fifo_cache_test.go
Labels: size/M

#6338 TSDB/index-sampling-wiring
  pkg/querier/querier_mock_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/stats/stats.go
  pkg/storage/stores/index/stats/stats_test.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/pool.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/util_test.go
Labels: size/XXL

#6340 Docs: Add changelog entry for configuration parameter name change
  CHANGELOG.md
Labels: size/XS

#6342 Backport Memberlist status page in k101
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS, backport k101

#6343 Backport Memberlist status page in k100
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS, backport k100

#6346 [logql] don't try to execute a modified function that is not allowed by the AST
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
  pkg/logql/syntax/ast.go
Labels: size/S

#6345 Fix max series test loop that returns early
  pkg/logql/engine_test.go
Labels: size/M, go

#6341 Support `series|labels` query_type in `logql_query_duration`
  pkg/logql/engine.go
  pkg/querier/http.go
Labels: size/S

#6284 Update gopkg.in/yaml.v3
  go.mod
  go.sum
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Labels: size/XS

#6310 loki-canary: Add support for client-side TLS certs for Loki connection
  CHANGELOG.md
  cmd/loki-canary/main.go
  pkg/canary/reader/reader.go
Labels: size/L

#6347 Tsdb/index sampling endpoint
  docs/sources/api/_index.md
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
  pkg/storage/stores/tsdb/multitenant.go
  pkg/util/marshal/marshal.go
Labels: size/L, area/docs

#6359 chore(fluentd): resolve rubocop failures
  clients/cmd/fluentd/.rubocop.yml
  clients/cmd/fluentd/docker/Gemfile
  clients/cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
  clients/cmd/fluentd/spec/gems/fluent/plugin/loki_output_spec.rb
Labels: size/M

#6288 operator: Expose only an HTTPS gateway when in openshift-logging mode
  operator/CHANGELOG.md
  operator/hack/addons_ocp.yaml
  operator/hack/lokistack_gateway_ocp.yaml
  operator/internal/manifests/build_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/opa_openshift.go
  operator/internal/manifests/openshift/route.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#6362 operator: Allow reduced tenant OIDC authentication requirements
  operator/CHANGELOG.md
  operator/api/v1beta1/lokistack_types.go
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/internal/gateway/tenant_secrets_test.go
  operator/internal/manifests/internal/gateway/gateway-tenants.yaml
Labels: size/M, sig/operator

#6363 operator: Allow optional installation of webhooks
  operator/CHANGELOG.md
  operator/config/overlays/development/kustomization.yaml
  operator/config/overlays/development/manager_run_flags_patch.yaml
  operator/main.go
Labels: size/M, sig/operator

#6035 Loki: Log # of unique users involved in query readiness operation
  pkg/storage/stores/indexshipper/downloads/table_manager.go
Labels: size/XS

#6364 cmd/loki: minor consistency patch
  cmd/loki/main.go
Labels: size/S

#6367 TSDB/query-planning-groundwork
  pkg/loghttp/query.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/parser.go
  pkg/querier/http.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/compat.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
  pkg/storage/stores/tsdb/index_client.go
Labels: size/XL

#6105 Promtail: Add metrics for journal target
  CHANGELOG.md
  clients/cmd/promtail/promtail-journal.yaml
  clients/pkg/promtail/targets/journal/journaltarget.go
  clients/pkg/promtail/targets/journal/journaltarget_test.go
  clients/pkg/promtail/targets/journal/journaltargetmanager.go
  clients/pkg/promtail/targets/journal/journaltargetmanager_linux.go
  clients/pkg/promtail/targets/journal/metrics.go
  clients/pkg/promtail/targets/manager.go
Labels: size/L

#6366 GCS: Add service_account option
  docs/sources/configuration/_index.md
  pkg/storage/chunk/client/gcp/gcs_object_client.go
Labels: size/S, area/docs

#6365 Add compactor route for the cache gen number api
  pkg/loki/modules.go
Labels: size/XS, backport k100

#6358 fix(loki): allow global and per tenant sigv4 config
  CHANGELOG.md
  docs/sources/configuration/_index.md
  go.mod
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/ruler/registry_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, area/docs

#6353 Loki Prometheus mixin: templatize cluster label
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/M

#6377 Revert "Loki Prometheus mixin: templatize cluster label"
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/promtail-mixin/jsonnetfile.json
Labels: size/M

#6379 chore(jsonnet-lint): Make `promtail-mixin` depends on `loki-mixin` `main` version
  production/promtail-mixin/jsonnetfile.json
Labels: size/XS

#6375 Naïve fix for optimize bug with `line_format` and `json` expression parser
  CHANGELOG.md
  pkg/logql/optimize.go
  pkg/logql/optimize_test.go
Labels: size/XS

#6177 Promtail: Support all `cri-o` tags (multiline tags).
  clients/pkg/logentry/stages/extensions.go
  clients/pkg/logentry/stages/extensions_test.go
  clients/pkg/logentry/stages/pipeline.go
Labels: size/L

#6368 Don't interrupt the query path if deletes aren't available
  pkg/loki/modules.go
  pkg/querier/querier.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client_test.go
  pkg/storage/stores/shipper/compactor/deletion/metrics.go
Labels: size/M, backport k100

#6383 Mixins templatize clusterlabel fixes
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/promtail-mixin/.gitignore
  production/promtail-mixin/config.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/M

#6179 feature: Add ingester handler for shutdown and forget tokens
  CHANGELOG.md
  docs/sources/api/_index.md
  go.mod
  go.sum
  pkg/ingester/ingester.go
  pkg/loki/modules.go
  pkg/util/http.go
  vendor/github.com/grafana/dskit/kv/memberlist/http_status_handler.go
  vendor/github.com/grafana/dskit/kv/memberlist/kv_init_service.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/status.gohtml
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler_metrics.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: size/L, area/docs

#6376 Deletion: use correct counter when deleting lines
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
Labels: size/XS

#6354 Docs: add unpopulated v2.6 release notes section
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v2-6.md
Labels: size/M, area/docs

#6386 Docs: edit the CHANGELOG
  CHANGELOG.md
Labels: size/M

#6397 Add lokistack prefix to role and rolebinding names.
  operator/Makefile
  operator/config/rbac/role.yaml
  operator/config/rbac/role_binding.yaml
Labels: size/XS, sig/operator

#6390 Add deleted lines panel to deletion dashboard
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/M

#6394 Add more logging for delete requests
  pkg/storage/stores/shipper/compactor/deletion/delete_request.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
Labels: size/M

#6398 Docs: Edits for several PRs that did not have a docs review
  docs/sources/clients/promtail/configuration.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/retention.md
Labels: size/M, area/docs

#5952 operator: Storage schema update
  operator/CHANGELOG.md
  operator/api/v1beta1/lokistack_types.go
  operator/api/v1beta1/lokistack_webhook.go
  operator/api/v1beta1/lokistack_webhook_test.go
  operator/api/v1beta1/v1beta1.go
  operator/api/v1beta1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_run_flags_patch.yaml
  operator/config/webhook/manifests.yaml
  operator/internal/handlers/internal/gateway/tenant_configmap_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/config.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/options.go
  operator/internal/manifests/storage/schema.go
  operator/internal/manifests/storage/schema_test.go
  operator/internal/manifests/var.go
  operator/internal/status/storage.go
  operator/internal/status/storage_test.go
  operator/main.go
Labels: size/XXL, sig/operator

#6405 Git ignore pkg/loki/wal
  .gitignore
Labels: size/XS

#5997 Parallize label queries to both stores
  CHANGELOG.md
  pkg/querier/querier.go
Labels: stale, size/M

#6396 [TSDB] Use index sampling to determine shard factor
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/test_utils.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
  pkg/querier/queryrange/split_by_range.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/compat.go
  pkg/storage/stores/tsdb/chunkwriter.go
Labels: size/L

#5354 Add support for ARM64 to lambda-promtail drone build job
  .drone/docker-manifest-ecr.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  CHANGELOG.md
Labels: size/L

#6412 Add unwrapped aggregation `rate_counter()`
  CHANGELOG.md
  docs/sources/logql/metric_queries.md
  docs/sources/upgrading/_index.md
  pkg/logql/engine_test.go
  pkg/logql/range_vector.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
Labels: size/XL, area/docs

#6413 [modules] pin version of memberlist
  go.mod
  go.sum
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/github.com/hashicorp/memberlist/state.go
  vendor/github.com/hashicorp/memberlist/util.go
  vendor/modules.txt
Labels: size/XS, backport k102

#6423 Tsdb/wal rotate fix
  pkg/storage/stores/tsdb/head_manager.go
Labels: size/S

#6422 Backport #6413 and #6377 to k102
  go.mod
  go.sum
  production/promtail-mixin/jsonnetfile.json
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/github.com/hashicorp/memberlist/state.go
  vendor/github.com/hashicorp/memberlist/util.go
  vendor/modules.txt
Labels: size/XS, dependencies

#6432 Fixes bad initialization for uniqueString
  pkg/logql/log/util.go
  pkg/logql/log/util_test.go
Labels: size/S

#6410 Compactor: add per tenant compaction delete enabled flag
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/logs-deletion.md
  integration/loki_micro_services_delete_test.go
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler_test.go
  pkg/validation/limits.go
Labels: size/L, area/docs

#6415 Evenly spread queriers across available nodes
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/querier.libsonnet
Labels: size/S, area/docs

#6232 operator: Enhancement Proposal to configure log retention
  operator/docs/enhancements/retention_support.md
Labels: kind/feature, size/L, sig/operator

#6411 operator: Extend schema validation in LokiStack webhook
  operator/CHANGELOG.md
  operator/api/v1beta1/lokistack_types.go
  operator/api/v1beta1/lokistack_webhook.go
  operator/api/v1beta1/lokistack_webhook_test.go
  operator/api/v1beta1/v1beta1.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/storage/schema.go
  operator/internal/manifests/storage/schema_test.go
Labels: size/XL, sig/operator

#6442 operator: Update Grafana and forwarding documentation
  operator/docs/forwarding_logs_to_gateway.md
  operator/hack/addon_grafana_gateway_ocp.yaml
  operator/hack/addon_grafana_gateway_ocp_oauth.yaml
Labels: size/L, sig/operator, area/docs

#6444 Add TLS config to query frontend
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/modules.go
  pkg/lokifrontend/config.go
Labels: size/M, area/docs

#6454 lambda-promtail: fix(documentation): correct spelling and scrape_config
  docs/sources/clients/lambda-promtail/_index.md
Labels: size/XS, area/docs

#6355 Docs: revise multi-tenancy prose
  docs/sources/configuration/_index.md
  docs/sources/operations/multi-tenancy.md
Labels: size/M, area/docs

#6445 [release-2.5.x] Add TLS config to query frontend
  docs/sources/configuration/_index.md
  pkg/loki/modules.go
  pkg/lokifrontend/config.go
Labels: size/M, sig/operator, area/docs

#6339 operator: Add e2e local development with kind
  operator/.bingo/Variables.mk
  operator/.bingo/kind.mod
  operator/.bingo/kind.sum
  operator/.bingo/logcli.mod
  operator/.bingo/logcli.sum
  operator/.bingo/variables.env
  operator/Makefile
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/development/minio/secret.yaml
  operator/hack/addons_cert_manager.yaml
  operator/hack/addons_hydra.yaml
  operator/hack/addons_kind_certs.yaml
  operator/hack/addons_logger.yaml
  operator/hack/addons_token_refresher.yaml
  operator/hack/addons_traefik.yaml
  operator/hack/kind_config.yaml
  operator/hack/lokistack_gateway_dev.yaml
  operator/quickstart.sh
Labels: size/XXL, sig/operator

#6460 operator: Add shellcheck disables
  operator/quickstart.sh
Labels: size/XS, sig/operator

#6427 Set RingManager mode as Server if target=read
  pkg/loki/modules.go
Labels: size/XS

#6461 Loki: Use Shipper as indexClient for read mode
  pkg/loki/modules.go
Labels: size/XS

#6348 Fix panic in instant query splitting when using unwrapped rate
  pkg/logql/downstream_test.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
Labels: size/M

#6435 Remove whole stream deletion mode
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/logs-deletion.md
  integration/loki_micro_services_delete_test.go
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/shipper/compactor/deletion/mode.go
  pkg/storage/stores/shipper/compactor/deletion/mode_test.go
Labels: size/L, area/docs

#6452 [promtail/mixin] Remove promtail file lag alert
  production/promtail-mixin/alerts.libsonnet
Labels: size/S

#6446 Handle duplicate registration of deletion metrics
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client_test.go
  pkg/storage/stores/shipper/compactor/deletion/metrics.go
Labels: size/M

#6476 Compactor: add per tenant compaction delete enabled flag (#6410)
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/logs-deletion.md
  integration/loki_micro_services_delete_test.go
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler_test.go
  pkg/validation/limits.go
Labels: size/L, area/docs

#6479 Changelog: Fix changelog link
  CHANGELOG.md
Labels: size/XS

#6481 Loki: Fix flaky IndexGatewayClient test
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client_test.go
Labels: size/S

#6349 Update loki's default port to 3100
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/loki_test.go
Labels: size/S, area/docs

#6484 logcli: add --proxy-url flag for http/https proxy support
  cmd/logcli/main.go
  pkg/logcli/client/client.go
Labels: size/S

#6489 During query readiness, log duration of all object-store operations
  pkg/storage/stores/indexshipper/downloads/table_manager.go
Labels: size/S

#6490 Disable index gateway client on read target.
  pkg/loki/modules.go
  pkg/loki/modules_test.go
Labels: size/M

#6466 Updating maintainers.md
  MAINTAINERS.md
Labels: size/XS

#6504 operator: Disable report on overlay openshift
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
Labels: size/XS, sig/operator

#6506 updated CHANGELOG.md for the release 2.6.0
  CHANGELOG.md
Labels: size/M

#6478 operator: Support TLS enabled lokistack-gateway (Kubernetes native)
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/cmd/loki-broker/main.go
  operator/config/crd/bases/config.grafana.com_projectconfigs.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/docs/howto_connect_grafana.md
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/options.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/service.go
  operator/internal/manifests/service_monitor.go
  operator/main.go
Labels: size/L, sig/operator, area/docs

#6516 dont call getinstance twice in checkpointing
  pkg/ingester/checkpoint.go
Labels: size/XS

#6520 Promtail: disable syslog tests which have expired certs
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
Labels: size/XL

#6189 Loki Prometheus mixin: Fix incorrect selectors and simplify mixin usage
  CHANGELOG.md
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/servicemonitor.libsonnet
  production/loki-mixin/jsonnetfile.json
Labels: size/M

#6469 deletion: add client type as label
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client_test.go
  pkg/storage/stores/shipper/compactor/deletion/metrics.go
Labels: size/M

#6531 operator: Use default interface_names for lokistack clusters
  operator/CHANGELOG.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/S, sig/operator

#6524 operator: Fix clusterserviceversion description
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#6517 Loki: Add the ability to use the log line timestamp in label and line formatter
  docs/sources/logql/template_functions.md
  pkg/logql/log/filter.go
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/ip.go
  pkg/logql/log/ip_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline.go
Labels: size/L, area/docs

#6525 Remove cache statistics PR from `release-2.6.x`
  CHANGELOG.md
Labels: size/XS

#6534 Promtail: update certificates used for syslog’s tests
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
Labels: size/XL

#6541 tools: add lambda-promtail missing errchecks
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
Labels: size/M

#6536 Documentation: Fix documentation of environment variable defaults
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, area/docs

#6529 Loki: Update `grafana/dskit` to `3624a96`
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/modules/module_service.go
  vendor/github.com/grafana/dskit/netutil/netutil.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler_delegates.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/modules.txt
Labels: size/XS

#6552 Do not fail queries if compactor returns unexpected status code
  pkg/querier/querier.go
Labels: size/XS

#6514 operator: Making all pods and containers compliant with restricted policy
  operator/CHANGELOG.md
  operator/Makefile
  operator/apis/config/v1/projectconfig_types.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/cmd/loki-broker/main.go
  operator/config/manager/manager.yaml
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/development/kustomization.yaml
  operator/config/overlays/development/manager_security_context_patch.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/config/overlays/openshift/manager_auth_proxy_patch.yaml
  operator/config/overlays/production/controller_manager_config.yaml
  operator/config/overlays/production/manager_auth_proxy_patch.yaml
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/options.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/var.go
  operator/main.go
Labels: size/L, sig/operator

#6526 Add jsonnet to build image
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/M

#6530 Docs: Add multi-tenant query curl examples
  docs/sources/api/_index.md
Labels: size/M, area/docs
