Repository grafana/loki, pull requests merged in 2022-07, with the labels that each got.

#6549 operator: Refactor feature gates to use custom resource definition
  operator/CHANGELOG.md
  operator/Makefile
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/config/v1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/cmd/loki-broker/main.go
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/config/overlays/production/controller_manager_config.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/docs/operator/feature-flags.md
  operator/docs/operator/feature-gates.md
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/build.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/config.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/options.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/service_monitor.go
  operator/internal/manifests/service_monitor_test.go
  operator/main.go
Labels: size/XL, sig/operator

#6539 logcli: add flag to read remote schema configs
  cmd/logcli/main.go
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
Labels: size/L

#6565 operator: Fix make target deps for web-pre
  operator/Makefile
Labels: size/XS, sig/operator

#6570 Loki: Stop compaction interval timer to avoid leak
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/S

#6562 Canary: add random start time for the periodic metric test query
  pkg/canary/comparator/comparator.go
Labels: size/S

#6571 Backport canaries changes to k105
  pkg/canary/comparator/comparator.go
  pkg/storage/stores/shipper/compactor/compactor.go
Labels: size/M

#6573 log addtl info about bytes/shard in planning
  pkg/querier/queryrange/shard_resolver.go
Labels: size/XS

#6537 generic index compactor
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/index_set.go
  pkg/storage/stores/shipper/compactor/retention/pool.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/retention/series.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/storage/stores/shipper/compactor/testutil.go
  pkg/storage/stores/shipper/index/compactor/compacted_index.go
  pkg/storage/stores/shipper/index/compactor/compacted_index_test.go
  pkg/storage/stores/shipper/index/compactor/index.go
  pkg/storage/stores/shipper/index/compactor/index_compactor.go
  pkg/storage/stores/shipper/index/compactor/index_test.go
  pkg/storage/stores/shipper/index/compactor/iterator.go
  pkg/storage/stores/shipper/index/compactor/iterator_test.go
  pkg/storage/stores/shipper/index/compactor/pool.go
  pkg/storage/stores/shipper/index/compactor/series.go
  pkg/storage/stores/shipper/index/compactor/table_compactor.go
  pkg/storage/stores/shipper/index/compactor/table_compactor_test.go
  pkg/storage/stores/shipper/index/compactor/util.go
  pkg/storage/stores/shipper/index/compactor/util_test.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/util/util.go
  tools/tsdb/tsdb-map/main.go
Labels: size/XXL

#6575 [backport] Docs: Edits for several PRs that did not have a docs review (#6398)
  docs/sources/clients/promtail/configuration.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/retention.md
Labels: size/M, area/docs

#6561 operator: Add docs for object storage
  operator/CHANGELOG.md
  operator/docs/lokistack/object_storage.md
Labels: size/L, sig/operator

#6453 fix(lambda-promtail): update default lambda_vpc_subnets / lambda_vpc_security_groups values to be appropriate empty list(string) value
  tools/lambda-promtail/variables.tf
Labels: size/XS

#6581 operator: Update to operator-sdk 1.22.0
  operator/.bingo/Variables.mk
  operator/.bingo/controller-gen.mod
  operator/.bingo/controller-gen.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
  operator/bundle/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_alertingrules.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_recordingrules.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/config/overlays/production/manager_auth_proxy_patch.yaml
  operator/go.mod
  operator/go.sum
  operator/internal/external/k8s/builder.go
  operator/internal/external/k8s/k8sfakes/fake_builder.go
Labels: size/L, sig/operator

#6579 loki-canary: Fix resource leak when using client-side certs
  cmd/loki-canary/main.go
  pkg/canary/reader/reader.go
Labels: size/M

#6588 release changelog update
  CHANGELOG.md
Labels: size/S

#6511 Drone: Do not run pipelines twice on PRs
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XL

#6583 Avoid making delete requests when deletes are disabled for a user
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/deletion/tenant_delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/tenant_delete_requests_client_test.go
Labels: size/L, backport k105

#6597 Remove ourdated comment
  pkg/storage/chunk/cache/cache.go
Labels: size/XS

#6598 Tsdb tenant index querying
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/index/index.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/index_set.go
  pkg/storage/stores/indexshipper/uploads/index_set_test.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/indexshipper/uploads/table_test.go
  pkg/storage/stores/shipper/index/querier.go
  pkg/storage/stores/shipper/index/table_manager.go
  pkg/storage/stores/shipper/index/table_manager_test.go
  pkg/storage/stores/shipper/index/table_test.go
  pkg/storage/stores/tsdb/compact.go
  pkg/storage/stores/tsdb/identifier.go
  pkg/storage/stores/tsdb/identifier_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/querier_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/util_test.go
Labels: size/L

#6599 Fix drone CI builds for loki operator
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#6601 operator: Use docker build context for root make targets
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  operator/Dockerfile
  operator/Dockerfile.cross
Labels: size/M, sig/operator

#6381 CI/CD: Update documentation publishing workflows
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
  .github/workflows/publish.yml
Labels: size/L, backport release-2.5.x, backport release-2.6.x

#6610 Fix release workflow
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS

#6594 operator: Disable client certificate authentication on gateway
  operator/CHANGELOG.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/configure.go
Labels: size/XS, sig/operator

#6608 [release-2.5.x] CI/CD: Update documentation publishing workflows
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
  .github/workflows/publish.yml
Labels: size/L

#6611 Append .x to the versioned directories for the website sync
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS

#6613 Append .x to the versioned directories for the website sync (#6611)
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS

#6395 Promtail: Add text encoding conversion to file targets
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/metrics.go
  clients/pkg/promtail/targets/file/tailer.go
  docs/sources/clients/promtail/configuration.md
  go.mod
  vendor/golang.org/x/text/encoding/charmap/charmap.go
  vendor/golang.org/x/text/encoding/charmap/tables.go
  vendor/golang.org/x/text/encoding/encoding.go
  vendor/golang.org/x/text/encoding/ianaindex/ascii.go
  vendor/golang.org/x/text/encoding/ianaindex/ianaindex.go
  vendor/golang.org/x/text/encoding/ianaindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/identifier.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/encoding/japanese/all.go
  vendor/golang.org/x/text/encoding/japanese/eucjp.go
  vendor/golang.org/x/text/encoding/japanese/iso2022jp.go
  vendor/golang.org/x/text/encoding/japanese/shiftjis.go
  vendor/golang.org/x/text/encoding/japanese/tables.go
  vendor/golang.org/x/text/encoding/korean/euckr.go
  vendor/golang.org/x/text/encoding/korean/tables.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/all.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/hzgb2312.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/tables.go
  vendor/golang.org/x/text/encoding/traditionalchinese/big5.go
  vendor/golang.org/x/text/encoding/traditionalchinese/tables.go
  vendor/golang.org/x/text/encoding/unicode/override.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/runes/cond.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/modules.txt
Labels: size/XXL, area/docs, backport release-2.6.x

#6585 Add integration for SSD (read & write targets)
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/loki_simple_scalable_test.go
  integration/loki_single_binary_test.go
  integration/shared_test.go
Labels: size/M

#6546 Draft of release notes for loki 2.6.
  docs/sources/release-notes/v2-6.md
Labels: size/S, area/docs

#6626 Don't add the memberlist label as a selector to services.
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/gateway.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
  production/ksonnet/loki/overrides-exporter.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/ruler.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/S

#6627 build and hook tsdb compaction code to the generic index compactor
  pkg/loki/modules.go
  pkg/storage/stores/tsdb/builder.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/index/chunk.go
  pkg/storage/stores/tsdb/index/chunk_test.go
Labels: size/XXL

#6617 2.6 Backport: Promtail: Add text encoding conversion to file targets (#6395)
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/metrics.go
  clients/pkg/promtail/targets/file/tailer.go
  docs/sources/clients/promtail/configuration.md
  go.mod
  vendor/golang.org/x/text/encoding/charmap/charmap.go
  vendor/golang.org/x/text/encoding/charmap/tables.go
  vendor/golang.org/x/text/encoding/encoding.go
  vendor/golang.org/x/text/encoding/ianaindex/ascii.go
  vendor/golang.org/x/text/encoding/ianaindex/ianaindex.go
  vendor/golang.org/x/text/encoding/ianaindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/identifier.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/internal/internal.go
  vendor/golang.org/x/text/encoding/japanese/all.go
  vendor/golang.org/x/text/encoding/japanese/eucjp.go
  vendor/golang.org/x/text/encoding/japanese/iso2022jp.go
  vendor/golang.org/x/text/encoding/japanese/shiftjis.go
  vendor/golang.org/x/text/encoding/japanese/tables.go
  vendor/golang.org/x/text/encoding/korean/euckr.go
  vendor/golang.org/x/text/encoding/korean/tables.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/all.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/hzgb2312.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/tables.go
  vendor/golang.org/x/text/encoding/traditionalchinese/big5.go
  vendor/golang.org/x/text/encoding/traditionalchinese/tables.go
  vendor/golang.org/x/text/encoding/unicode/override.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/runes/cond.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/modules.txt
Labels: size/XXL, area/docs

#6615 backport changelog from 2.6.0
  CHANGELOG.md
Labels: size/L

#6624 Release notes for loki 2.6. (#6546)
  docs/sources/release-notes/v2-6.md
Labels: size/M, area/docs

#6631 2.6.0 upgrading guide
  docs/sources/upgrading/_index.md
Labels: size/S, area/docs

#6635 updated date of the release and release notes
  CHANGELOG.md
Labels: size/XS

#6436 use the configured index prefixes while building table names for tsdb index
  pkg/storage/config/schema_config.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#6623 Groupcache performance improvements
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_test.go
Labels: size/M

#6639 Added release notes to releases page
  docs/sources/release-notes/_index.md
Labels: size/XS, area/docs

#6640 removed redundant 2.6.0 release title
  CHANGELOG.md
Labels: size/XS

#6630 [TSDB] fingerprint offsets is now correctly 16 byte aligned
  pkg/ingester/index/bitprefix.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/tsdb/index/fingerprint.go
  pkg/storage/stores/tsdb/index/index.go
  pkg/storage/stores/tsdb/index/postings.go
  pkg/storage/stores/tsdb/index/postings_test.go
  pkg/storage/stores/tsdb/index/shard.go
  pkg/storage/stores/tsdb/index/shard_test.go
  pkg/storage/stores/tsdb/index_client.go
Labels: size/L

#6643 Loki: Update `grafana/dskit` and `weaveworks/common`
  go.mod
  go.sum
  pkg/ingester/client/client.go
  pkg/querier/worker/scheduler_processor.go
  pkg/storage/chunk/client/gcp/instrumentation.go
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/middleware/grpc.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/prometheus/exporter-toolkit/LICENSE
  vendor/github.com/prometheus/exporter-toolkit/web/README.md
  vendor/github.com/prometheus/exporter-toolkit/web/cache.go
  vendor/github.com/prometheus/exporter-toolkit/web/handler.go
  vendor/github.com/prometheus/exporter-toolkit/web/tls_config.go
  vendor/github.com/prometheus/exporter-toolkit/web/web-config.yml
  vendor/github.com/prometheus/node_exporter/NOTICE
  vendor/github.com/prometheus/node_exporter/https/README.md
  vendor/github.com/prometheus/node_exporter/https/tls_config.go
  vendor/github.com/prometheus/node_exporter/https/web-config.yml
  vendor/github.com/weaveworks/common/instrument/instrument.go
  vendor/github.com/weaveworks/common/logging/dedupe.go
  vendor/github.com/weaveworks/common/logging/gokit.go
  vendor/github.com/weaveworks/common/middleware/grpc_instrumentation.go
  vendor/github.com/weaveworks/common/middleware/grpc_logging.go
  vendor/github.com/weaveworks/common/middleware/http_tracing.go
  vendor/github.com/weaveworks/common/middleware/logging.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/modules.txt
Labels: size/S

#6645 Fix inconsistent coverage in the distributor package
  pkg/distributor/ingestion_rate_strategy_test.go
Labels: size/S

#6646 operator: Update Loki operand to v2.6.0
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/ingester.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#6655 bumped version of grafana's memberlist fork
  go.mod
  go.sum
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/modules.txt
Labels: size/XS

#6659 Running Loki as non-root in Kubernetes
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
Labels: size/XS

#6663 operator: Add support for tail TLS encryption
  operator/CHANGELOG.md
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
Labels: size/L, sig/operator

#6664 [TSDB] dont skip writing to TSDB index when chunk exists in cache
  pkg/storage/stores/tsdb/chunkwriter.go
Labels: size/S

#6665 [TSDB] store uncompressed chunk size in index
  pkg/chunkenc/facade.go
  pkg/storage/chunk/bigchunk.go
  pkg/storage/chunk/interface.go
  pkg/storage/stores/tsdb/chunkwriter.go
Labels: size/S

#6666 operator: Fix kind deployment for make quickstart
  operator/config/overlays/development/manager_related_image_patch.yaml
Labels: size/XS, sig/operator

#6669 operator: Set minimum TLS version to 1.2 to support FIPS
  operator/CHANGELOG.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/opa_openshift.go
Labels: size/XS, sig/operator

#6083 Add README file to loki-mixin
  production/loki-mixin/README.md
Labels: size/M

#6668 fix the issue of overwriting tsdb files during rollouts
  pkg/storage/stores/tsdb/manager.go
Labels: size/L

#6689 [TSDB] query_frontend_shard_factor uses exponential buckets
  pkg/logql/mapper_metrics.go
Labels: size/XS

#6448 Targets: Add Heroku HTTPS drain target
  clients/pkg/promtail/client/fake/client.go
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/heroku/metrics.go
  clients/pkg/promtail/targets/heroku/target.go
  clients/pkg/promtail/targets/heroku/target_test.go
  clients/pkg/promtail/targets/heroku/targetmanager.go
  clients/pkg/promtail/targets/manager.go
  clients/pkg/promtail/targets/target/target.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
  go.mod
  go.sum
  vendor/github.com/heroku/x/LICENSE.txt
  vendor/github.com/heroku/x/logplex/encoding/README.md
  vendor/github.com/heroku/x/logplex/encoding/encoder.go
  vendor/github.com/heroku/x/logplex/encoding/message.go
  vendor/github.com/heroku/x/logplex/encoding/parser.go
  vendor/github.com/heroku/x/logplex/encoding/scanner.go
  vendor/modules.txt
Labels: size/XL, area/docs, type/docs

#6688 Docs: Fix bad links in the API section
  docs/sources/api/_index.md
  docs/sources/operations/storage/logs-deletion.md
Labels: size/S, area/docs, type/docs

#6687 avoid making delete requests if deletes are disabled for a user (#6583)
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/deletion/tenant_delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/tenant_delete_requests_client_test.go
Labels: size/L

#6647 Document loki lable format
  docs/sources/fundamentals/labels.md
Labels: size/XS, area/docs

#6603 Publish backported documentation to the v2.3.x release directory
  .github/workflows/publish.yml
Labels: size/XS

#6604 Publish backported documentation to the v2.2.x release directory
  .github/workflows/publish.yml
Labels: size/XS

#6692 [release-2.6.x] Fix TIME_WAIT connection leak from queriers to compactor
  pkg/loki/modules.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_client.go
Labels: size/S

#6696 Fix per-tenant delete client
  pkg/storage/stores/shipper/compactor/deletion/tenant_delete_requests_client.go
  pkg/storage/stores/shipper/compactor/deletion/tenant_delete_requests_client_test.go
Labels: size/S, backport release-2.6.x

#6697 added changelog for 2.6.1 release
  CHANGELOG.md
  docs/sources/release-notes/v2-6.md
Labels: size/S, area/docs, type/docs

#6693 [release-2.6.x] Backport dskit, memberlist version updates to 2.6.x to support memberlist cluster labels and verification; re-vendor
  go.mod
  go.sum
  pkg/ingester/client/client.go
  pkg/querier/worker/scheduler_processor.go
  pkg/storage/chunk/client/gcp/instrumentation.go
  production/ksonnet/loki/memberlist.libsonnet
  vendor/github.com/grafana/dskit/grpcclient/instrumentation.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/memberlist/http_status_handler.go
  vendor/github.com/grafana/dskit/kv/memberlist/kv_init_service.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/kv/memberlist/status.gohtml
  vendor/github.com/grafana/dskit/middleware/grpc.go
  vendor/github.com/grafana/dskit/modules/module_service.go
  vendor/github.com/grafana/dskit/netutil/netutil.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler_delegates.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler_metrics.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/hashicorp/memberlist/net.go
  vendor/github.com/prometheus/exporter-toolkit/LICENSE
  vendor/github.com/prometheus/exporter-toolkit/web/README.md
  vendor/github.com/prometheus/exporter-toolkit/web/cache.go
  vendor/github.com/prometheus/exporter-toolkit/web/handler.go
  vendor/github.com/prometheus/exporter-toolkit/web/tls_config.go
  vendor/github.com/prometheus/exporter-toolkit/web/web-config.yml
  vendor/github.com/prometheus/node_exporter/NOTICE
  vendor/github.com/prometheus/node_exporter/https/README.md
  vendor/github.com/prometheus/node_exporter/https/tls_config.go
  vendor/github.com/prometheus/node_exporter/https/web-config.yml
  vendor/github.com/weaveworks/common/instrument/instrument.go
  vendor/github.com/weaveworks/common/logging/dedupe.go
  vendor/github.com/weaveworks/common/logging/gokit.go
  vendor/github.com/weaveworks/common/middleware/grpc_instrumentation.go
  vendor/github.com/weaveworks/common/middleware/grpc_logging.go
  vendor/github.com/weaveworks/common/middleware/http_tracing.go
  vendor/github.com/weaveworks/common/middleware/logging.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/modules.txt
Labels: size/XXL

#6691 Update production-ready Loki in docker-compose
  .dockerignore
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  production/docker/.gitignore
  production/docker/README.md
  production/docker/config/datasources.yaml
  production/docker/config/loki.yaml
  production/docker/config/nginx.conf
  production/docker/config/prometheus.yaml
  production/docker/config/promtail-gateway.yaml
  production/docker/config/promtail.yaml
  production/docker/docker-compose-ha-diagram.png
  production/docker/docker-compose-ha-memberlist.yaml
  production/docker/docker-compose.yaml
Labels: size/XL, area/docs

#6678 Add configurable groupcache capacity
  docs/sources/configuration/_index.md
  pkg/loki/modules.go
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_ringmanager.go
  pkg/storage/chunk/cache/groupcache_test.go
Labels: size/M, area/docs

#6703 updated versions to the latest release v2.6.1
  docs/sources/installation/docker.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
  tools/promtail.sh
Labels: size/M, area/docs

#6705 updated versions to the latest release v2.6.1
  production/docker/docker-compose.yaml
Labels: size/S

#6616 Add push route to query-tee
  cmd/querytee/main.go
Labels: size/XS

#6543 Loki: Return an __error_details__ label for any line which incurs a __error__ while being processed
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logqlmodel/error.go
Labels: size/L

#6707 add jsonnet for configuring memberlist cluster label
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/S

#6711 keep the memberlist labels jsonnet config backwards compatible with 2.6.1
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/S

#6550 Adding "start_delta" entry to metrics.go line
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
Labels: size/S

#6714 Revert "Configure ingester PDB to have max_unavailable=0"
  production/ksonnet/loki/ingester.libsonnet
Labels: size/XS

#6564 operator: Addons work in restricted policy
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
Labels: size/L, sig/operator

#6718 Fix goroutine leak when using http2 with groupcache
  pkg/storage/chunk/cache/groupcache.go
Labels: size/S

#6721 [Fix] Furthers gcs latency buckets
  pkg/storage/chunk/client/gcp/instrumentation.go
Labels: size/XS

#6723 chore(make): reinclude .git dir in docker builds
  .dockerignore
Labels: size/XS

#6726 upgrade `go:1.17.9` to `go:1.18.4`
  .drone/drone.yml
  CHANGELOG.md
  Makefile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  go.mod
  go.sum
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/L, sig/operator

#6724 tsdb store refactoring
  pkg/storage/store.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#6720 [Enhancement] Removes memcached failure log
  pkg/storage/chunk/cache/memcached.go
Labels: size/XS

#6722 [Memcache] use owen-d gomemcache fork for connection sharding
  go.mod
  go.sum
  vendor/github.com/bradfitz/gomemcache/memcache/memcache.go
  vendor/modules.txt
Labels: size/XS

#6740 chore(groupcache): Disable hotcache during set
  pkg/storage/chunk/cache/groupcache.go
Labels: size/XS

#6173 doc: Add shuffle sharding doc
  docs/sources/operations/shuffle-sharding-probability.png
  docs/sources/operations/shuffle-sharding.md
Labels: size/L, area/docs, backport release-2.6.x, type/docs

#6741 operator: Golang version to 1.18 and k8s client to 1.24
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  operator/.bingo/Variables.mk
  operator/.bingo/bingo.mod
  operator/.bingo/bingo.sum
  operator/.bingo/gofumpt.mod
  operator/.bingo/gofumpt.sum
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/Makefile
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1beta1/lokistack_types.go
  operator/docs/operator/hack_loki_operator.md
  operator/go.mod
  operator/go.sum
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/internal/sizes.go
  operator/internal/manifests/storage/configure_test.go
  operator/internal/status/storage_test.go
Labels: size/XL, sig/operator

#6748 operator: Update go4.org/unsafe/assume-no-moving-gc to latest
  operator/CHANGELOG.md
  operator/go.mod
  operator/go.sum
Labels: size/XS, sig/operator

#6749 operator: Update Loki operand to v2.6.1
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/S, sig/operator

#6753 Fix cache instrumentation
  pkg/storage/chunk/cache/cache.go
  pkg/storage/store.go
Labels: size/XS

#6763 Rephrase error message (indexgateway->groupcache)
  pkg/loki/modules.go
Labels: size/XS

#6717 Update Memberlist dependency version; tidy and re-vendor
  go.mod
  go.sum
  vendor/github.com/hashicorp/memberlist/queue.go
  vendor/modules.txt
Labels: size/XS, dependencies

#6774 Backport Memberlist dependency version bump to k108
  go.mod
  go.sum
  vendor/github.com/hashicorp/memberlist/queue.go
  vendor/modules.txt
Labels: size/XS

#6733 Docs: Fix typo in 'trimPrefix' function signature
  docs/sources/logql/template_functions.md
Labels: size/XS, area/docs, type/docs

#6735 Docs: Fix YAML syntax and ConfigMap reference
  docs/sources/clients/promtail/installation.md
Labels: size/XS, area/docs, type/docs

#6784 chore(groupcache): disable hotcache for chunks
  pkg/storage/chunk/cache/groupcache.go
Labels: size/XS

#6752 Groupcache improvements
  pkg/loki/modules.go
  pkg/storage/chunk/cache/groupcache.go
  vendor/golang.org/x/net/http2/h2c/h2c.go
  vendor/modules.txt
Labels: size/M

#6751 Docs: Revise location of some LogQL examples; improve prose
  docs/sources/logql/log_queries.md
  docs/sources/logql/metric_queries.md
  docs/sources/logql/query_examples.md
Labels: size/L, area/docs, type/docs

#6793 chore(groupcache): Support per cache group capacity
  pkg/loki/modules.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_test.go
Labels: size/M

#6736 query-tee: support for multi backend response comparison and disabling query proxy for select backends
  cmd/querytee/main.go
  tools/querytee/proxy.go
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_metrics.go
  tools/querytee/proxy_test.go
Labels: size/L

#6796 Fix Promtail dashboard
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XS

#6791 docs: Fix a typo in architecture/components.md
  docs/sources/fundamentals/architecture/components.md
Labels: size/XS, area/docs, type/docs

#6798 chore(groupcache): Fix panic with stats collector wrapper
  pkg/storage/chunk/cache/cache.go
Labels: size/XS

#6806 Allow fifocache to be configured with groupcache
  pkg/storage/chunk/cache/cache.go
Labels: size/XS
