Repository grafana/loki, pull requests merged in 2022-08, with the labels that each got.

#6809 [jsonnet] only set the consul kvstore configs if memberlist is not being used
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6800 [jsonnet] populate the memberlist label by default
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6802 Run `loki -version` without needing a config defined
  cmd/loki/main.go
Labels: size/XS

#6727 Fix log messages for deletion requests
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
Labels: size/L

#6807 Open access to Minio console in dev setup.
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/dev/loki-boltdb-storage-s3/docker-compose.yml
Labels: size/XS

#6781 Remove reference to non-existent config field
  docs/sources/configuration/_index.md
Labels: size/XS, area/docs

#6456 deb and rpm packaging for all binaries
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  tools/nfpm.yaml
  tools/packaging/loki-postinstall.sh
  tools/packaging/loki.service
  tools/packaging/nfpm.jsonnet
  tools/packaging/nfpm.sh
  tools/packaging/promtail-postinstall.sh
  tools/packaging/promtail.service
  tools/packaging/verify-deb-install.sh
  tools/packaging/verify-rpm-install.sh
Labels: size/XL

#6820 chore(groupcache): Groupcache doesn't need global server handler anymore
  pkg/loki/modules.go
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_test.go
Labels: size/XS

#6810 Simplify shard membership calculations
  pkg/storage/stores/tsdb/index/shard.go
Labels: size/XS

#6815 doc(retention): Add clarity on default behavior.
  docs/sources/operations/storage/retention.md
Labels: size/XS, area/docs

#6819 Log stream flushes to see how many chunks we flush at a time
  docs/sources/upgrading/_index.md
  pkg/ingester/flush.go
  pkg/storage/chunk/client/local/boltdb_index_client.go
Labels: size/S, area/docs

#6827 Treat version flag at any position
  cmd/loki/main.go
  pkg/loki/config_wrapper.go
Labels: size/S

#6777 Promtail: Add new target for receiving GCP PubSub Push messages
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/gcplog/metrics.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  clients/pkg/promtail/targets/gcplog/push_target.go
  clients/pkg/promtail/targets/gcplog/push_target_test.go
  clients/pkg/promtail/targets/gcplog/push_translation.go
  clients/pkg/promtail/targets/gcplog/push_translation_test.go
  clients/pkg/promtail/targets/gcplog/target.go
  clients/pkg/promtail/targets/gcplog/target_test.go
  clients/pkg/promtail/targets/gcplog/targetmanager.go
  clients/pkg/promtail/targets/heroku/target.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/serverutils/config.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
Labels: size/XXL, area/docs, type/docs

#6754 Change existing labeler action to use type/docs label
  .github/labeler.yml
Labels: size/XS, type/docs

#6766 fix(logql): Make `LabelSampleExtractor` work as expected when label doesn't exist in logline
  CHANGELOG.md
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
Labels: size/L

#6799 Adding properties file
  operator/bundle/metadata/properties.yaml
Labels: size/XS, sig/operator

#6808 Add groupcache timeouts
  pkg/storage/chunk/cache/groupcache.go
Labels: size/S

#6833 Support building against Go 1.19
  go.mod
  go.sum
  vendor/go4.org/unsafe/assume-no-moving-gc/untested.go
  vendor/modules.txt
Labels: size/XS

#6834 Improve error message when entry is too far behind
  pkg/chunkenc/interface.go
  pkg/chunkenc/interface_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/M

#6843 operator: Use mod readonly when building container
  operator/Dockerfile
Labels: size/XS, sig/operator

#6841 [TSDB] Indexgateway Protobuf refactor
  pkg/logproto/compat.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/alias.go
  pkg/querier/queryrange/queryrangebase/definitions/definitions.pb.go
  pkg/querier/queryrange/queryrangebase/definitions/definitions.proto
  pkg/querier/queryrange/queryrangebase/definitions/interface.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.proto
  pkg/querier/queryrange/shard_resolver.go
  pkg/storage/stores/index/stats/stats.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client_test.go
  pkg/storage/stores/indexshipper/gatewayclient/index_gateway_grpc_pool.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_gateway_store_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/compat.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
Labels: size/XXL

#6837 Delete requests processing improvements
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
Labels: size/L

#6851 Only process deletes in batches
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
Labels: size/M

#6852 [TSDB] Ingester Index Sampling
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/logproto/indexgateway.pb.go
  pkg/logproto/indexgateway.proto
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/ingester_querier.go
  pkg/storage/async_store.go
Labels: size/XXL

#6853 Fix context propagation for child spans in shard resolver
  pkg/querier/queryrange/shard_resolver.go
Labels: size/XS

#6828 promtail/client: add bot fields
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/fields.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
Labels: size/XS, type/docs

#6821 embedded-cache: Bring `fifocache` and `groupcache` into single tent.
  CHANGELOG.md
  cmd/loki/loki-local-config.yaml
  docs/sources/upgrading/_index.md
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_test.go
Labels: size/L, type/docs

#6856 chore(makefile): Remove `NETGO` check after building loki binaries.
  Makefile
Labels: size/S

#6836 [jsonnet] don't deploy consul if we're using memberlist
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6859 test(promtail): Fix flaky test with promtail bind port.
  clients/pkg/promtail/promtail_test.go
  clients/pkg/promtail/server/server.go
  go.mod
  go.sum
  vendor/github.com/weaveworks/common/instrument/instrument.go
  vendor/github.com/weaveworks/common/server/server.go
  vendor/modules.txt
Labels: size/M

#6866 avoid creating multiple tenant heads in tsdb during a race
  pkg/storage/stores/tsdb/head_manager.go
Labels: size/M

#6846 Existing limits were low for large envs
  production/ksonnet/loki/distributor.libsonnet
Labels: size/XS

#6854 Add ability to limit the impact of pathological delete requests.
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/upgrading/_index.md
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  pkg/loki/loki_test.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_delete_requests_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_delete_requests_client_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/util.go
  pkg/storage/stores/indexshipper/compactor/deletion/util_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/validation.go
  pkg/storage/stores/indexshipper/compactor/deletionmode/mode.go
  pkg/storage/stores/indexshipper/compactor/deletionmode/mode_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/XL, type/docs

#6869 update deletion docs
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/logs-deletion.md
Labels: size/XS, type/docs

#6860 Add delete api validations
  docs/sources/api/_index.md
  integration/loki_micro_services_delete_test.go
  pkg/loki/modules.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_delete_requests_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_delete_requests_client_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/util.go
Labels: size/XL, type/docs

#6871 Clarify delete upgrade path
  docs/sources/upgrading/_index.md
Labels: size/XS, type/docs

#6861 Docs: improve wording and grammar
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/M, type/docs

#6872 Remove unused code
  pkg/storage/stores/indexshipper/compactor/deletion/tenant_request_handler_test.go
Labels: size/S

#6879 Add timeouts to deletions
  docs/sources/configuration/_index.md
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/metrics.go
  pkg/storage/stores/indexshipper/compactor/index_set.go
  pkg/storage/stores/indexshipper/compactor/retention/expiration.go
  pkg/storage/stores/indexshipper/compactor/retention/retention.go
  pkg/storage/stores/indexshipper/compactor/retention/retention_test.go
  pkg/storage/stores/indexshipper/compactor/retention/util_test.go
  pkg/storage/stores/indexshipper/compactor/testutil.go
  pkg/storage/stores/shipper/index/compactor/compacted_index.go
  pkg/storage/stores/shipper/index/compactor/compacted_index_test.go
  pkg/storage/stores/shipper/index/compactor/iterator.go
  pkg/storage/stores/shipper/index/compactor/iterator_test.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  tools/tsdb/tsdb-map/main.go
Labels: size/L, type/docs

#6882 [bugfix] fixes issues sharding series by storageref vs fingerprint in…
  pkg/storage/stores/tsdb/head.go
Labels: size/M

#6880 Store request latency metrics
  pkg/storage/store.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/metrics.go
Labels: size/L

#6889 Logql analyzer page cherry picks
  docs/sources/logql/analyzer.md
  docs/sources/logql/analyzer/handlebars.js
  docs/sources/logql/analyzer/script.js
  docs/sources/logql/analyzer/style.css
Labels: size/XXL, type/docs

#6656 [promtail] Add support for journal matches (only conjuntions)
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/journal/journaltarget.go
  clients/pkg/promtail/targets/journal/journaltarget_test.go
  docs/sources/clients/promtail/scraping.md
Labels: size/M, type/docs

#6878 fix(stats_collector): Do not collect stats for failed requests.
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
Labels: size/S

#6898 Fix free port allocation flake
  integration/cluster/cluster.go
Labels: size/M, kind/chore

#6897 Update alpine and golang base images
  .drone/drone.jsonnet
  .drone/drone.yml
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M, sig/operator

#6900 Docs: add minimal docs explaining how to use the LogQL Analyzer
  docs/sources/logql/analyzer.md
Labels: size/S, type/docs

#6865 logcli: Add missing environment variables in flags description
  cmd/logcli/main.go
Labels: size/S

#6899 Update build-image to 0.23.0
  .circleci/config.yml
  .drone/drone.yml
  Makefile
Labels: size/M

#6890 Propagate error detail properly in all cases
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction_test.go
Labels: kind/bug, size/L

#6907 operator: Adding valid subscription annotation to metadata
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#6914 [QueryTee] Detects issuer via useragent in querytee reqs
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_metrics.go
Labels: size/M

#6888 memberlist: allow consul deployment
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6918 [jsonnet] Fix conditional for deploying consul when not using memberlist
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#6911 Remove unnecessary spin up of mock
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client_test.go
Labels: size/XS, kind/chore

#6917 reintroduces now deprecated+noop deletion configs for compatibility
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/validation/limits.go
Labels: size/M

#6921 Update documentation deletion_mode and allow_deleted configuration values
  docs/sources/configuration/_index.md
Labels: size/S, type/docs

#6923 operator: Reconcile owner reference for existing objects
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/internal/manifests/mutate.go
  operator/internal/manifests/mutate_test.go
Labels: size/M, sig/operator

#6913 Improve error message
  pkg/querier/querier.go
Labels: size/XS

#6934 log query which causes panic in logql.clone
  pkg/logql/rangemapper.go
Labels: size/XS

#6935 operator: Change Loki Operator namespace to openshift-operators-redhat in the CSV
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#6937 Fix topk and bottomk operations with int <= 0
  CHANGELOG.md
  pkg/logql/rangemapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/M

#6933 docs:Add documentation for TLS configuration parameters for HTTP and gRPC
  docs/sources/configuration/_index.md
Labels: size/M, type/docs

#6801 Add operational guide for autoscaling
  docs/sources/operations/autoscaling_queriers.md
Labels: size/L, area/docs, type/docs

#6938 Docs: Remove comparisons page from docs
  docs/sources/fundamentals/overview/comparisons.md
Labels: size/M, backport release-2.6.x

#6939 [TSDB] disables bloom filters for tsdb index on ingesters
  pkg/logproto/extensions.go
  pkg/storage/stores/index/stats/stats.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#6941 Implement the stream sharder and shard iter
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/streamsharder.go
  pkg/distributor/streamsharder_test.go
  pkg/loki/modules.go
Labels: size/L

#6551 Setting sane defaults for ruler in SSD "read" mode
  pkg/loki/modules.go
  pkg/ruler/base/storage.go
Labels: stale, size/S

#6942 Modify sharding to not duplicate all entries for all shards
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/streamsharder.go
  pkg/distributor/streamsharder_test.go
Labels: size/L

#6926 feat: add kms ecryption
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
Labels: size/XS

#6591 docs: Fixed examples within Loki and Promtail docs
  docs/sources/clients/promtail/installation.md
  docs/sources/installation/simple-scalable-helm.md
Labels: size/L, area/docs, type/docs

#6962 Register all available Go metrics
  pkg/loki/modules.go
Labels: size/S

#6961 Lambda-Promtail: Allow numbers in LB name regex
  tools/lambda-promtail/lambda-promtail/s3.go
Labels: size/XS

#6963 nomad production: Fix Loki distributor in production Nomad job and docs.
  operator/internal/manifests/var.go
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
Labels: size/S, sig/operator

#6964 Evenly spread distributors across available nodes
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
Labels: size/M, type/docs

#6903 Shard deletes requests based on time ranges
  docs/sources/api/_index.md
  docs/sources/configuration/_index.md
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_store.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_store_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/noop_delete_requests_store.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/util.go
Labels: size/XXL, type/docs

#6835 Adapt queryTimeout to be a per-tenant configuration
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/logcli/client/file.go
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logql/limits.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_range_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#6952 Loki: Implement stream sharding
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/streamsharder.go
  pkg/distributor/streamsharder_test.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#6804 compactor: prioritize newer tables when compacting. add operator flags to compac…
  docs/sources/configuration/_index.md
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/compactor_test.go
Labels: size/M, type/docs

#6971 Add deletion metrics to the documentation
  docs/sources/operations/observability.md
Labels: size/S, type/docs

#6972 Return Querier/QueryTimeout YAML configuration
  pkg/querier/http.go
  pkg/querier/querier.go
Labels: size/S

#6967 Use backticks for code syntax.
  docs/sources/api/_index.md
Labels: size/XS, type/docs

#6958 Support helm migration from current grafana/loki chart
  production/helm/README.md.gotmpl
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
  production/helm/loki/templates/NOTES.txt
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/gateway/_helpers-gateway.tpl
  production/helm/loki/templates/gateway/configmap-gateway.yaml
  production/helm/loki/templates/gateway/deployment-gateway.yaml
  production/helm/loki/templates/gateway/hpa.yaml
  production/helm/loki/templates/gateway/ingress-gateway.yaml
  production/helm/loki/templates/gateway/poddisruptionbudget-gateway.yaml
  production/helm/loki/templates/gateway/secret-gateway.yaml
  production/helm/loki/templates/gateway/service-gateway.yaml
  production/helm/loki/templates/monitoring/dashboards/configmap-1.yaml
  production/helm/loki/templates/monitoring/dashboards/configmap-2.yaml
  production/helm/loki/templates/read/_helpers-read.tpl
  production/helm/loki/templates/read/poddisruptionbudget-read.yaml
  production/helm/loki/templates/read/service-read-headless.yaml
  production/helm/loki/templates/read/service-read.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/service-memberlist.yaml
  production/helm/loki/templates/single-binary/_helpers-single-binary.tpl
  production/helm/loki/templates/single-binary/pdb.yaml
  production/helm/loki/templates/single-binary/service-headless.yaml
  production/helm/loki/templates/single-binary/service.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/tokengen/_helpers.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/templates/tokengen/role-tokengen.yaml
  production/helm/loki/templates/tokengen/rolebinding-tokengen.yaml
  production/helm/loki/templates/tokengen/serviceaccount-tokengen.yaml
  production/helm/loki/templates/write/_helpers-write.tpl
  production/helm/loki/templates/write/poddisruptionbudget-write.yaml
  production/helm/loki/templates/write/service-write-headless.yaml
  production/helm/loki/templates/write/service-write.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/XL

#6817 compactor: adds tunable to control upload parallelism
  docs/sources/configuration/_index.md
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/table.go
  pkg/storage/stores/indexshipper/compactor/table_test.go
Labels: size/M, type/docs

#6976 [Doc] Fixed comma and missing "of" in observability.md
  docs/sources/operations/observability.md
Labels: size/XS, type/docs

#6970 [fix panic] s3: fix object nil point
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/object_client.go
Labels: size/XS

#5977 lambda-promtail: Add support for Kinesis data stream events
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/kinesis_test.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/testdata/kinesis-event.json
Labels: size/L, area/docs, type/docs

#6979 update to alpine:3.6.2
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M

#6983 Loki: add `__line__` and `__timestamp__` to label_format
  CHANGELOG.md
  docs/sources/logql/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/M, type/docs

#6715 Docs: update `split_queries_by_interval` documentation to have the correct explanation for how to disable.
  docs/sources/configuration/_index.md
Labels: size/XS, area/docs, backport release-2.6.x, type/docs

#6978 Remove deprecated helm chart source code
  production/helm/README.md
  production/helm/fluent-bit/.helmignore
  production/helm/fluent-bit/Chart.yaml
  production/helm/fluent-bit/README.md
  production/helm/fluent-bit/templates/NOTES.txt
  production/helm/fluent-bit/templates/_helpers.tpl
  production/helm/fluent-bit/templates/clusterrole.yaml
  production/helm/fluent-bit/templates/clusterrolebinding.yaml
  production/helm/fluent-bit/templates/configmap.yaml
  production/helm/fluent-bit/templates/daemonset.yaml
  production/helm/fluent-bit/templates/podsecuritypolicy.yaml
  production/helm/fluent-bit/templates/role.yaml
  production/helm/fluent-bit/templates/rolebinding.yaml
  production/helm/fluent-bit/templates/service-headless.yaml
  production/helm/fluent-bit/templates/serviceaccount.yaml
  production/helm/fluent-bit/templates/servicemonitor.yaml
  production/helm/fluent-bit/values.yaml
  production/helm/loki-stack/.helmignore
  production/helm/loki-stack/Chart.yaml
  production/helm/loki-stack/README.md
  production/helm/loki-stack/requirements.yaml
  production/helm/loki-stack/templates/NOTES.txt
  production/helm/loki-stack/templates/_helpers.tpl
  production/helm/loki-stack/templates/datasources.yaml
  production/helm/loki-stack/templates/tests/loki-test-configmap.yaml
  production/helm/loki-stack/templates/tests/loki-test-pod.yaml
  production/helm/loki-stack/values.yaml
  production/helm/promtail/.helmignore
  production/helm/promtail/Chart.yaml
  production/helm/promtail/README.md
  production/helm/promtail/templates/NOTES.txt
  production/helm/promtail/templates/_helpers.tpl
  production/helm/promtail/templates/clusterrole.yaml
  production/helm/promtail/templates/clusterrolebinding.yaml
  production/helm/promtail/templates/configmap.yaml
  production/helm/promtail/templates/daemonset.yaml
  production/helm/promtail/templates/podsecuritypolicy.yaml
  production/helm/promtail/templates/role.yaml
  production/helm/promtail/templates/rolebinding.yaml
  production/helm/promtail/templates/service-headless.yaml
  production/helm/promtail/templates/service-syslog.yaml
  production/helm/promtail/templates/serviceaccount.yaml
  production/helm/promtail/templates/servicemonitor.yaml
  production/helm/promtail/values.yaml
Labels: size/XXL

#6990 querier deployment rollingupdate works as a percentage to allow faste…
  production/ksonnet/loki/querier.libsonnet
Labels: size/XS

#6171 Logql Analyzer
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  cmd/logql-analyzer/Dockerfile
  cmd/logql-analyzer/docker-compose.yaml
  cmd/logql-analyzer/main.go
  pkg/logql/log/labels.go
  pkg/logql/log/pipeline.go
  pkg/logqlanalyzer/analyzer.go
  pkg/logqlanalyzer/analyzer_test.go
  pkg/logqlanalyzer/http.go
Labels: size/XL

#6996 Docs: Fix default max_chunk_age
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs

#6988 Helm: Add helm ci
  .github/workflows/helm-ci.yml
  production/helm/ct.yaml
  production/helm/loki/.gitignore
  production/helm/loki/.helmignore
  production/helm/loki/templates/gateway/deployment-gateway.yaml
Labels: size/M, area/helm

#6238 [docs] document logfmt pipeline stage
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/json.md
  docs/sources/clients/promtail/stages/logfmt.md
Labels: size/M, area/docs, backport release-2.6.x, type/docs

#6950 Make TSDB store singleton resettable
  pkg/storage/factory.go
  pkg/storage/stores/tsdb/store.go
Labels: size/S

#6997 operator: Fixing logcli pod image value for operator addons
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
Labels: size/XS, sig/operator

#6803 compactor: prefetch existing compacted user index files in parallel
  pkg/storage/stores/shipper/index/compactor/table_compactor.go
  pkg/storage/stores/shipper/index/compactor/table_compactor_test.go
Labels: size/L

#7002 doc(community): Update community call timings.
  docs/sources/community/getting-in-touch.md
Labels: size/S, type/docs

#7004 [TSDB] 600MB max per shard in query planning
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
Labels: size/S

#6977 Loki: Modify ingesters to return rate-limited streams to distributors
  go.mod
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/XL

#6993 [bugfix] fix flush.go nil pointer panic
  pkg/ingester/flush.go
Labels: size/XS

#6974 Helm: Upgrade Minio chart dependency to 4.0.12.
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/NOTES.txt
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
  tools/dev/k3d/Makefile
  tools/dev/k3d/README.md
Labels: size/S, area/helm

#7012 Generate Helm chart README.
  .github/workflows/helm-ci.yml
  production/helm/ct.yaml
  production/helm/loki/Chart.lock
  production/helm/loki/README.md
  production/helm/loki/docs/examples/enterprise/overrides-enterprise-gcs.yaml
  production/helm/loki/docs/examples/oss/overrides-oss-gcs.yaml
  production/helm/loki/templates/monitoring/servicemonitor.yaml
  production/helm/loki/templates/securitycontextconstraints.yaml
  production/helm/loki/values.yaml
  tools/dev/k3d/chartfile.yaml
Labels: size/M

#7005 Hide duplicates caused by stream sharding
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/storage/async_store_test.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/L
