Repository grafana/loki, pull requests merged in 2022-01, with the labels that each got.

#5006 fix splitting of queries when step is larger than split interval
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/M

#5027 docs: fix yaml grammar mistakes
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#5024 Remove querier.query-ingesters-within check when sharding is enabled
  pkg/loki/modules.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/M

#5016 Docs: SSD mode read target runs the compactor
  docs/sources/fundamentals/architecture/deployment-modes.md
Labels: size/XS

#5023 Move querier.split-queries-by-interval to a per-tenant configuration
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/configuration/query-frontend.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  pkg/querier/queryrange/roundtrip.go
  production/docker/config/loki-docker-memberlist-boltdb-shipper.yaml
  production/ksonnet/loki/config.libsonnet
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/M

#4982 Copy `cortex/pkg/querier/astmapper` package dependency into Loki
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/logql/sharding.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/test_utils.go
  pkg/querier/astmapper/astmapper.go
  pkg/querier/astmapper/embedded.go
  pkg/querier/astmapper/parallel.go
  pkg/querier/astmapper/shard_summer.go
  pkg/querier/astmapper/subtree_folder.go
  pkg/querier/queryrange/querysharding.go
  pkg/storage/batch.go
  pkg/storage/chunk/schema.go
  pkg/storage/chunk/schema_test.go
  pkg/storage/chunk/series_store.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
Labels: size/XL

#5011 Docs: Add doc for limit param max_concurrent_tail_requests
  docs/sources/configuration/_index.md
Labels: size/XS

#4983 Copy `cortex/pkg/distributor` package dependency into Loki
  pkg/distributor/clientpool/ingester_client_pool.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_ring.go
  pkg/ingester/client/client.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki_test.go
  pkg/querier/ingester_querier.go
  pkg/querier/querier_mock_test.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/distributor.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/ha_tracker.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/ha_tracker.pb.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/ha_tracker.proto
  vendor/github.com/cortexproject/cortex/pkg/distributor/ha_tracker_http.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/http_admin.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/http_server.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/ingestion_rate_strategy.go
  vendor/github.com/cortexproject/cortex/pkg/distributor/query.go
  vendor/modules.txt
Labels: size/M

#4978 Copy `cortex/pkg/ruler/rulestorage` package dependency into Loki
  pkg/loki/loki.go
  pkg/ruler/ruler.go
  pkg/ruler/rulestore/store.go
Labels: size/M

#4962 Copy `cortex/pkg/scheduler` package dependency into Loki
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
  pkg/querier/worker/scheduler_processor.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/user_queues.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/scheduler/schedulerpb/scheduler.proto
  vendor/modules.txt
Labels: size/L

#5022 adds instrumentation to azure object client
  pkg/storage/chunk/azure/blob_storage_client.go
Labels: size/M

#4938 Add distributor ring page
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loki/modules.go
  pkg/util/http.go
  pkg/validation/limits.go
Labels: size/L

#4942 Allow to disable http2 for GCS.
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/cassandra/fixtures.go
  pkg/storage/chunk/cassandra/storage_client.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/gcp/instrumentation.go
  pkg/storage/chunk/objectclient/client.go
  pkg/storage/chunk/openstack/swift_object_client.go
  pkg/storage/chunk/storage/factory.go
  pkg/storage/chunk/util/parallel_chunk_fetch.go
  pkg/storage/chunk/util/parallel_chunk_fetch_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
Labels: size/L

#5013 [new feature] logql: extrapolate unwrapped rate function
  pkg/logql/engine_test.go
  pkg/logql/functions.go
Labels: size/L

#5017 Docs: improve Promtail installation prose
  docs/sources/clients/promtail/installation.md
Labels: size/S

#5029 Chore: use `spanlogger` from `dskit`
  pkg/logql/engine.go
  pkg/querier/querier.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/stats.go
  pkg/storage/async_store.go
  pkg/storage/chunk/aws/dynamodb_storage_client.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/gcp/bigtable_index_client.go
  pkg/storage/chunk/series_store.go
  pkg/storage/chunk/storage/caching_index_client.go
  pkg/storage/chunk/util/parallel_chunk_fetch.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/tenant/resolver.go
  pkg/util/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/spanlogger/noop.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: size/M

#5032 feat(docs): auto assign type/docs label to docs project
  .github/issue_commands.json
  .github/workflows/issue_commands.yml
Labels: size/M

#4968 temporary fix for the ruler joining the ingester ring
  pkg/loki/config_wrapper.go
Labels: size/XS, backport release-2.4.1

#5015 Docs: revise block names (ring and filesystem) and correct spelling
  docs/sources/configuration/_index.md
Labels: size/M

#4884 Pre-allocate chunk buffer size
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/aws/s3_storage_client_test.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client_test.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/gcp/gcs_object_client_test.go
  pkg/storage/chunk/inmemory_storage_client.go
  pkg/storage/chunk/local/fs_object_client.go
  pkg/storage/chunk/objectclient/client.go
  pkg/storage/chunk/openstack/swift_object_client.go
  pkg/storage/chunk/openstack/swift_object_client_test.go
  pkg/storage/chunk/storage_client.go
  pkg/storage/stores/shipper/storage/client.go
Labels: size/L

#4949 Log time in queue per request
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/chunkenc/memchunk_test.go
  pkg/iter/entry_iterator_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/loki/modules.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/stats.go
  pkg/scheduler/scheduler.go
  pkg/storage/batch_test.go
  pkg/util/httpreq/tags.go
  pkg/util/httpreq/tags_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#5025 Update hack_operator_make_run.md
  operator/docs/hack_operator_make_run.md
Labels: size/XS

#4947 Support Redis Cluster Configuration Endpoint
  docs/sources/configuration/_index.md
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/redis_client.go
Labels: size/M

#5037 Backport #4968: temporary fix for the ruler joining the ingester ring (#4968)
  pkg/loki/config_wrapper.go
Labels: size/XS

#5038 Promtail: fix exclude_user_data description
  docs/sources/clients/promtail/configuration.md
Labels: size/XS

#4979 Fix typo 'Registring'->'Registering'
  operator/main.go
Labels: size/XS

#5039 Remove unnecessary ticker in the tail loop
  pkg/ingester/tailer.go
Labels: size/S

#5036 Chore: Copy `cortex/util/math` into Loki
  pkg/ingester/instance.go
  pkg/storage/chunk/aws/dynamodb_storage_client.go
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/gcp/bigtable_index_client.go
  pkg/storage/chunk/gcp/bigtable_object_client.go
  pkg/storage/chunk/schema_config.go
  pkg/storage/chunk/util/util.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/util/math.go
  pkg/util/math/math.go
Labels: size/M

#5041 Improve title of the chunk dashboard.
  production/loki-mixin/dashboards/loki-chunks.libsonnet
Labels: size/XS

#4950 Loki: Implement common net interface/instance addr
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/lokifrontend/frontend/v2/frontend.go
Labels: size/L

#5040 Improve error message if incoming logs timestamp is far too behind.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/validation/validate.go
Labels: size/M

#5043 Promtail: Add lock of mutex when using fileEventWatchers
  clients/pkg/promtail/targets/file/filetargetmanager.go
Labels: size/XS

#5044 Copy `cortex/pkg/frontend` package dependency into Loki
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontendv1pb/frontend.pb.go
  pkg/lokifrontend/frontend/v1/frontendv1pb/frontend.proto
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.pb.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.proto
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
  pkg/scheduler/scheduler.go
  vendor/modules.txt
Labels: size/L

#5050 Chore: Remove `cortex/util/test` dependency
  pkg/distributor/distributor_test.go
  pkg/ruler/registry_test.go
  pkg/ruler/storage/instance/instance_test.go
  pkg/util/test/poll.go
  vendor/modules.txt
Labels: size/XS

#5056 Docs: add an empty subsection for v2.4.2 bug fix items
  docs/sources/release-notes/v2-4.md
Labels: size/XS

#5052 Store metrics queueTime in seconds
  docs/sources/api/_index.md
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#5060 Fix race conditions in frontend_scheduler_worker.
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
Labels: size/S

#5031 [new] promtail: add readline rate limit
  clients/cmd/promtail/promtail-local-limit-config.yaml
  clients/pkg/logentry/stages/pipeline.go
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/config/config_test.go
  clients/pkg/promtail/limit/config.go
  clients/pkg/promtail/promtail.go
Labels: size/M

#4988 Define Ingester interface to enable wrapping.
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/transfer.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L

#5067 Add an egress bytes total metric to the azure client.
  CHANGELOG.md
  pkg/storage/chunk/azure/blob_storage_client.go
Labels: size/S

#5026 compactor changes for building per user index files in boltdb shipper
  pkg/storage/chunk/local/boltdb_index_client.go
  pkg/storage/chunk/local/boltdb_index_client_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
  pkg/storage/stores/shipper/compactor/index_set.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/storage/client.go
  pkg/storage/stores/shipper/storage/client_test.go
  pkg/storage/stores/shipper/storage/index_set.go
  pkg/storage/stores/shipper/table_client.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/util.go
  pkg/storage/stores/shipper/util/util_test.go
Labels: size/XXL

#5054 Simpler new chunk key v12
  CHANGELOG.md
  cmd/migrate/main.go
  pkg/ingester/ingester.go
  pkg/loki/modules.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/chunk/aws/dynamodb_storage_client.go
  pkg/storage/chunk/aws/dynamodb_storage_client_test.go
  pkg/storage/chunk/aws/fixtures.go
  pkg/storage/chunk/bench_test.go
  pkg/storage/chunk/cache/background_test.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/cassandra/storage_client.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_test.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/chunk_test.go
  pkg/storage/chunk/composite_store.go
  pkg/storage/chunk/gcp/bigtable_object_client.go
  pkg/storage/chunk/gcp/fixtures.go
  pkg/storage/chunk/grpc/grpc_server_mock_test.go
  pkg/storage/chunk/grpc/storage_client.go
  pkg/storage/chunk/inmemory_storage_client.go
  pkg/storage/chunk/local/fixtures.go
  pkg/storage/chunk/objectclient/client.go
  pkg/storage/chunk/schema.go
  pkg/storage/chunk/schema_config.go
  pkg/storage/chunk/schema_config_test.go
  pkg/storage/chunk/series_store.go
  pkg/storage/chunk/series_store_test.go
  pkg/storage/chunk/storage/by_key_test.go
  pkg/storage/chunk/storage/chunk_client_test.go
  pkg/storage/chunk/storage/factory.go
  pkg/storage/chunk/testutils/testutils.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/retention/iterator_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
  pkg/storage/util_test.go
Labels: size/XXL

#4899 expand ruler ring section to add num_tokens property
  docs/sources/configuration/_index.md
Labels: size/M

#5078 Loki: Implement custom /config handler (#4785)
  cmd/loki/main.go
  pkg/loki/loki.go
  pkg/loki/loki_test.go
Labels: size/L

#5069 Docs: Revise hedging configuration block descriptions
  docs/sources/configuration/_index.md
Labels: size/M

#5075 Fixes a possible cancellation issue in the frontend
  pkg/querier/queryrange/limits.go
Labels: size/M

#5063 Fix deadlock in disconnecting querier
  pkg/lokifrontend/frontend/transport/handler_test.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/lokifrontend/frontend/v1/queue_test.go
  pkg/lokifrontend/frontend/v2/frontend_test.go
  pkg/querier/worker/frontend_processor_test.go
  pkg/querier/worker/worker_test.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/scheduler.go
  vendor/google.golang.org/grpc/test/bufconn/bufconn.go
  vendor/modules.txt
Labels: size/XXL

#5087 Removes split-by upstream validation
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#5081 Add the option to configure memory ballast for Loki
  CHANGELOG.md
  cmd/loki/main.go
  docs/sources/configuration/_index.md
  docs/sources/operations/scalability.md
  pkg/loki/loki.go
Labels: size/S

#4879 LogQL: add __line__ function to | line_format template
  CHANGELOG.md
  docs/sources/logql/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/M

#5080 Handle `context` cancellation in some of the `querier` downstream requests
  pkg/storage/batch.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/objectclient/client.go
  pkg/storage/chunk/util/parallel_chunk_fetch.go
Labels: size/S

#5083 [enhancement] querier cache: WriteBackCache should be off query path
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/chunk_store.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/util_test.go
Labels: size/M

#5098 Fixes metric name for hedging object store requests
  pkg/storage/chunk/aws/s3_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/openstack/swift_object_client.go
Labels: size/XS

#5091 better defaults for flush queue parallelism
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/ingester/ingester.go
Labels: size/XS

#5077 improve default config values
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/ingester/ingester.go
  pkg/loki/loki.go
  pkg/querier/querier.go
Labels: size/M

#5102 Enable merge union strategy for CHANGELOG.md.
  .gitattributes
Labels: size/XS

#4925 update helm docs, add simple scalable
  docs/sources/installation/_index.md
  docs/sources/installation/helm.md
  docs/sources/installation/microservices-helm.md
  docs/sources/installation/simple-scalable-helm.md
Labels: size/XL

#5103 Fixes HTTP2 removal for GCS
  docs/sources/configuration/_index.md
  pkg/storage/chunk/gcp/gcs_object_client.go
  pkg/storage/chunk/gcp/instrumentation.go
Labels: size/M

#4996 Update Docker compose example
  production/docker/.gitignore
  production/docker/README.md
  production/docker/chunks/.gitignore
  production/docker/config/loki-docker-memberlist-boltdb-shipper.yaml
  production/docker/docker-compose-ha-memberlist.yaml
Labels: size/M

#4792 Docs: Fix documentation with correct default values and add missing options
  docs/sources/configuration/_index.md
Labels: size/L

#5107 fluentd: Fix bug that caused lines to be dropped when containing non utf-8 characters
  CHANGELOG.md
  Makefile
  clients/cmd/fluentd/.gitignore
  clients/cmd/fluentd/.rubocop.yml
  clients/cmd/fluentd/Dockerfile
  clients/cmd/fluentd/README.md
  clients/cmd/fluentd/bin/setup
  clients/cmd/fluentd/bin/test
  clients/cmd/fluentd/docker/docker-compose.yml
  clients/cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
  clients/cmd/fluentd/spec/gems/fluent/plugin/data/non_utf8.log
  clients/cmd/fluentd/spec/gems/fluent/plugin/loki_output_spec.rb
Labels: size/L

#5104 Backport 5077: improve default config values (#5077)
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/ingester/ingester.go
  pkg/loki/loki.go
  pkg/querier/querier.go
Labels: size/M

#5115 Backport 4792: Docs: Fix documentation with correct default values and add missing options (#4792)
  docs/sources/configuration/_index.md
Labels: size/L

#5068 Copy querier subpackages dependency into Loki
  Makefile
  go.mod
  pkg/loki/loki.go
  pkg/querier/chunkstore/chunkstore.go
  pkg/querier/lazyquery/lazyquery.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/instrumentation.go
  pkg/querier/queryrange/queryrangebase/limits.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/queryable.go
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.proto
  pkg/querier/queryrange/queryrangebase/querysharding.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/queryrangebase/split_by_interval.go
  pkg/querier/queryrange/queryrangebase/step_align.go
  pkg/querier/queryrange/queryrangebase/test_utils.go
  pkg/querier/queryrange/queryrangebase/util.go
  pkg/querier/queryrange/queryrangebase/value.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
  pkg/querier/series/series_set.go
  pkg/ruler/memstore.go
  vendor/modules.txt
Labels: size/XXL

#5120 Backport 5105 to release 2.4
  docs/sources/release-notes/v2-4.md
Labels: size/M

#5047 Copy `cortex/pkg/querier/stats` package dependency into Loki
  pkg/lokifrontend/frontend/transport/handler.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontendv1pb/frontend.pb.go
  pkg/lokifrontend/frontend/v1/frontendv1pb/frontend.proto
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_test.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.pb.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.proto
  pkg/querier/stats/stats.go
  pkg/querier/stats/stats.pb.go
  pkg/querier/stats/stats.proto
  pkg/querier/stats/time_middleware.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
Labels: size/XL

#5121 Update to 2.4.2 release
  docs/sources/installation/docker.md
  docs/sources/maintaining/release.md
  go.mod
  production/docker-compose.yaml
  production/docker/docker-compose-ha-memberlist.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/simple-scalable/docker-compose.yaml
  tools/promtail.sh
Labels: size/M, backport release-2.4

#5118 Add missing forked gateway tests
  pkg/storage/tsdb/testutil/block_mock.go
  pkg/storage/tsdb/testutil/objstore.go
  pkg/storegateway/bucket_index_metadata_fetcher_test.go
  pkg/storegateway/bucket_store_inmemory_server.go
  pkg/storegateway/bucket_store_metrics_test.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/chunk_bytes_pool_test.go
  pkg/storegateway/gateway_ring_test.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/metadata_fetcher_filters_test.go
  pkg/storegateway/metadata_fetcher_metrics_test.go
  pkg/storegateway/partitioner_test.go
  pkg/storegateway/sharding_strategy_test.go
Labels: size/XXL

#5125 Remove split-queries-by-interval validation
  pkg/querier/queryrange/queryrangebase/roundtrip.go
Labels: size/XS

#5113 Fix cancel issue between Query Frontend and Query Schdeduler
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
  pkg/lokifrontend/frontend/v2/frontend_test.go
Labels: size/M

#5133 Document query limit parameter default.
  docs/sources/api/_index.md
Labels: size/XS

#4855 Jsonnet: Let compactor access the runtime_config
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/XS

#5124 Querier worker/inflight metrics
  pkg/loki/modules.go
  pkg/querier/worker/metrics.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
  pkg/querier/worker_service.go
  pkg/querier/worker_service_test.go
Labels: size/M

#5137 Test: Fix test in compactor/retention/expiration_test.go on slow machines
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
Labels: size/XS

#5127 Update the operational dashboard.
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/L

#5141 Remove unused `storegateway` base
  pkg/storegateway/bucket_index_metadata_fetcher.go
  pkg/storegateway/bucket_index_metadata_fetcher_test.go
  pkg/storegateway/bucket_store_inmemory_server.go
  pkg/storegateway/bucket_store_metrics.go
  pkg/storegateway/bucket_store_metrics_test.go
  pkg/storegateway/bucket_stores.go
  pkg/storegateway/bucket_stores_test.go
  pkg/storegateway/chunk_bytes_pool.go
  pkg/storegateway/chunk_bytes_pool_test.go
  pkg/storegateway/gateway.go
  pkg/storegateway/gateway_http.go
  pkg/storegateway/gateway_ring.go
  pkg/storegateway/gateway_ring_test.go
  pkg/storegateway/gateway_test.go
  pkg/storegateway/metadata_fetcher_filters.go
  pkg/storegateway/metadata_fetcher_filters_test.go
  pkg/storegateway/metadata_fetcher_metrics.go
  pkg/storegateway/metadata_fetcher_metrics_test.go
  pkg/storegateway/partitioner.go
  pkg/storegateway/partitioner_test.go
  pkg/storegateway/sharding_strategy.go
  pkg/storegateway/sharding_strategy_test.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/bucketindex/index.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/bucketindex/loader.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/bucketindex/markers.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/bucketindex/markers_bucket_client.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/bucketindex/storage.go
  vendor/github.com/cortexproject/cortex/pkg/storage/tsdb/bucketindex/updater.go
  vendor/github.com/grafana/dskit/runutil/runutil.go
  vendor/modules.txt
Labels: size/XXL

#4960 Doc: Fix broken `template_function` doc link
  docs/sources/logql/log_queries.md
Labels: size/XS, backport release-2.4

#5144 Ruler: Fix remote write basic auth credentials
  CHANGELOG.md
  pkg/ruler/config.go
  pkg/ruler/registry_test.go
Labels: size/XS

#5106 Docs: Update memory ballast documentation
  docs/sources/configuration/_index.md
  docs/sources/operations/scalability.md
Labels: size/XS

#4891 [optimization] cache prometheus : fix "loki_cache_request_duration_seconds_bucket" ‘status_code’ label always equals "200"
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/chunk/cache/background.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/cache_gen.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/cache/fifo_cache_test.go
  pkg/storage/chunk/cache/instrumented.go
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/cache/memcached_test.go
  pkg/storage/chunk/cache/mock.go
  pkg/storage/chunk/cache/redis_cache.go
  pkg/storage/chunk/cache/redis_cache_test.go
  pkg/storage/chunk/cache/snappy.go
  pkg/storage/chunk/cache/tiered.go
  pkg/storage/chunk/cache/tiered_test.go
  pkg/storage/chunk/chunk_store_utils.go
  pkg/storage/chunk/series_store.go
  pkg/storage/chunk/storage/caching_index_client.go
  pkg/storage/chunk/storage/caching_index_client_test.go
Labels: size/L

#5155 Revert operator's loki-config changes
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/XS

#5158 Retry pulling Cloudflare logs after a stream error
  clients/pkg/promtail/targets/cloudflare/target.go
  clients/pkg/promtail/targets/cloudflare/target_test.go
  clients/pkg/promtail/targets/cloudflare/util_test.go
Labels: size/M

#5163 Fix encoding error in fluentd client
  CHANGELOG.md
  clients/cmd/fluentd/fluent-plugin-grafana-loki.gemspec
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
  clients/cmd/fluentd/spec/gems/fluent/plugin/loki_output_spec.rb
Labels: size/M

#5168 Add `nil` check for Ruler BasicAuth config.
  pkg/ruler/config.go
Labels: size/XS

#4667 Package logcli as rpm and deb.
  Makefile
  loki-build-image/Dockerfile
  tools/nfpm.yaml
Labels: size/S

#5170 Fix promtail deadlock
  CHANGELOG.md
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/filetargetmanager_test.go
  clients/pkg/promtail/targets/manager.go
Labels: size/M

#5171 Support "POST" method for distributor ring
  pkg/loki/modules.go
Labels: size/XS

#5165 Copy `cortex/tools/querytee` package dependency into Loki
  .golangci.yml
  cmd/querytee/main.go
  cmd/querytee/response_comparator.go
  cmd/querytee/response_comparator_test.go
  tools/querytee/instrumentation.go
  tools/querytee/proxy.go
  tools/querytee/proxy_backend.go
  tools/querytee/proxy_backend_test.go
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_endpoint_test.go
  tools/querytee/proxy_metrics.go
  tools/querytee/proxy_test.go
  tools/querytee/response_comparator.go
  tools/querytee/response_comparator_test.go
  vendor/github.com/cortexproject/cortex/tools/LICENSE
  vendor/modules.txt
Labels: size/XXL

#5178 Handle `context` cancellation in some of the `querier` store.index-cache-read.
  pkg/storage/chunk/series_store.go
Labels: size/XS

#5149 loki: Move VerifyConfig after PrintConfig and LogConfig
  cmd/loki/main.go
Labels: size/S

#5172 Avoid splitting large range vector aggregation.
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/L

#5181 align metric queries by step and other queries by split interval
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/L

#5189 Remove temporary ruler ring key fix
  pkg/loki/config_wrapper.go
  pkg/ruler/base/ruler.go
Labels: size/XS

#5160 add objects list caching for boltdb-shipper index store to reduce object storage list api calls
  pkg/storage/stores/shipper/storage/cached_client.go
  pkg/storage/stores/shipper/storage/cached_client_test.go
  pkg/storage/stores/shipper/storage/client.go
  pkg/storage/stores/shipper/storage/prefixed_object_client.go
Labels: size/L

#5093 [enhancement] querier : Add "query_memory_only" to make loki have option to rely only on memory availability like google monarch.
  pkg/loki/loki.go
  pkg/querier/querier.go
Labels: size/M

#5179 Remove instance level streams lock
  pkg/ingester/checkpoint.go
  pkg/ingester/flush.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/replay_controller.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map.go
  pkg/ingester/streams_map_test.go
  pkg/ingester/transfer.go
  pkg/ingester/transfer_test.go
Labels: size/L

#5213 Update docker.md
  docs/sources/installation/docker.md
Labels: size/XS

#5193 per user index changes on the write path
  pkg/storage/chunk/local/boltdb_index_client.go
  pkg/storage/chunk/local/boltdb_index_client_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table_test.go
  pkg/storage/stores/shipper/compactor/index_set.go
  pkg/storage/stores/shipper/compactor/retention/iterator_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/table.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/storage/stores/shipper/uploads/table_manager.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/util.go
Labels: size/L

#5217 step align start and end time of the original query while splitting it
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/M

#5222 fix broken boltdb-shipper test
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/storage/stores/shipper/downloads/index_set_test.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/testutil/testutil.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/uploads/table_test.go
Labels: size/L

#5219 Update Loki Team members in the Governance doc.
  docs/sources/community/governance.md
Labels: size/XS

#5202 [instrument] cache: add tracing instrumentation when error !=nil
  pkg/storage/chunk/cache/instrumented.go
Labels: size/S

#5204 Default max_outstanding_per_tenant to 2048
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/lokifrontend/frontend/v1/frontend.go
Labels: size/XS

#5180 Update to Unofficial clients for JS
  docs/sources/clients/_index.md
Labels: size/XS

#5196 Copy `cortex/pkg/prom1` package dependency into Loki
  pkg/prom1/storage/metric/metric.go
  pkg/prom1/storage/metric/metric_test.go
  pkg/prom1/storage/metric/sample.go
  pkg/querier/base/distributor_queryable.go
  pkg/querier/base/distributor_queryable_test.go
  pkg/querier/base/querier_test.go
  pkg/querier/base/testutils.go
  pkg/querier/series/series_set.go
  pkg/querier/testutils.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/encoding/chunk.go
Labels: size/L

#5151 Copy `cortex/pkg/cortexpb` package dependency into Loki
  pkg/ingester/checkpoint.go
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
  pkg/ingester/checkpoint_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
  pkg/ingester/instance.go
  pkg/ingester/recovery.go
  pkg/logproto/compat.go
  pkg/logproto/compat_test.go
  pkg/logproto/metrics.pb.go
  pkg/logproto/metrics.proto
  pkg/logproto/timeseries.go
  pkg/logproto/timeseries_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.proto
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/value.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/ruler/base/api.go
  pkg/ruler/base/compat.go
  pkg/ruler/base/compat_test.go
  pkg/ruler/base/pusher_mock_test.go
  pkg/ruler/base/ruler.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/base/ruler.proto
  pkg/ruler/base/ruler_test.go
  pkg/ruler/rulespb/compat.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/ruler/rulespb/rules.proto
  pkg/ruler/rulestore/bucketclient/bucket_client_test.go
Labels: size/XXL

#5227 Add `MaxSurge` and `MaxUnavailable` strategy to all Loki k8 workloads.
  production/ksonnet/loki/distributor.libsonnet
  production/ksonnet/loki/gateway.libsonnet
  production/ksonnet/loki/querier.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
  production/ksonnet/loki/ruler.libsonnet
Labels: size/S

#5126 Improve docs on how to install logcli from source
  docs/sources/getting-started/logcli.md
Labels: size/S

#4911 Provide Docker target and discovery in Promtail.
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/docker/metrics.go
  clients/pkg/promtail/targets/docker/target.go
  clients/pkg/promtail/targets/docker/target_group.go
  clients/pkg/promtail/targets/docker/target_test.go
  clients/pkg/promtail/targets/docker/targetmanager.go
  clients/pkg/promtail/targets/docker/targetmanager_test.go
  clients/pkg/promtail/targets/docker/testdata/flog.log
  clients/pkg/promtail/targets/manager.go
  clients/pkg/promtail/targets/target/target.go
  docs/sources/clients/docker-driver/_index.md
  docs/sources/clients/promtail/configuration.md
  vendor/github.com/docker/docker/pkg/stdcopy/stdcopy.go
  vendor/modules.txt
Labels: size/XL

#5230 Bump logstash plugin gem
  clients/cmd/logstash/logstash-output-loki.gemspec
Labels: size/XS

#5190 [querier] Abort a query in limitedRoundTripper if parallelism is 0
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/M

#5057 Start refactor of storage (chunks) clients metrics into structs
  cmd/migrate/main.go
  pkg/logcli/query/query.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/base/storage.go
  pkg/storage/chunk/azure/blob_storage_client.go
  pkg/storage/chunk/azure/blob_storage_client_test.go
  pkg/storage/chunk/storage/factory.go
  pkg/storage/chunk/storage/factory_test.go
  pkg/storage/hack/main.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/retention/iterator_test.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/stores/shipper/compactor/retention/util_test.go
  pkg/storage/stores/shipper/table_client_test.go
Labels: size/L

#5232 Update loki-mixin GCS queries in the Loki operational dashboard
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/XS

#5234 Ignore missing stream while querying from ingester
  pkg/ingester/instance.go
Labels: size/XS

#5159 <Loki> Update fluentd-loki-output plugin doc to show default value for line_format
  docs/sources/clients/fluentd/_index.md
Labels: size/XS

#5210 Lock consistencyMtx outside locking chunkMtx
  pkg/ingester/flush.go
  pkg/ingester/instance.go
  pkg/ingester/stream.go
  pkg/ingester/streams_map.go
  pkg/ingester/streams_map_test.go
Labels: size/L

#5246 Promtail: skip glob search if filetarget path is an existing file and not a directory
  clients/pkg/promtail/targets/file/filetarget.go
Labels: size/S

#5241 doc: fix typo
  docs/sources/clients/logstash/_index.md
Labels: size/XS

#5250 Build: update Go version in build image to latest and bump build image version
  Makefile
  loki-build-image/Dockerfile
Labels: size/S

#5240 makefile: Fix docker-driver build
  Makefile
Labels: size/S

#5253 refactor: use `T.TempDir` to create temporary test directory
  CHANGELOG.md
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/querier/base/chunk_tar_test.go
  pkg/querier/base/querier_test.go
  pkg/ruler/base/api_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/manager_test.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/registry_test.go
  pkg/ruler/rulestore/local/local_test.go
  pkg/ruler/storage/cleaner/cleaner_test.go
  pkg/ruler/storage/instance/instance_test.go
  pkg/ruler/storage/wal/wal_test.go
  pkg/storage/chunk/local/boltdb_index_client_test.go
  pkg/storage/chunk/local/fs_object_client_test.go
  pkg/storage/chunk/storage/factory_test.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/compactor/compactor_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_table_test.go
  pkg/storage/stores/shipper/compactor/table_test.go
  pkg/storage/stores/shipper/downloads/table_manager_test.go
  pkg/storage/stores/shipper/downloads/table_test.go
  pkg/storage/stores/shipper/storage/client_test.go
  pkg/storage/stores/shipper/table_client_test.go
  pkg/storage/stores/shipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/uploads/table_test.go
  pkg/storage/stores/shipper/util/util_test.go
  pkg/storage/tsdb/testutil/objstore.go
Labels: size/XL

#5249 Push: add deflate compression in post requests
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/M

#5164 Copy `cortex/pkg/ingester/client` package dependency into Loki
  pkg/ingester/client/compat.go
  pkg/ingester/client/fnv.go
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/querier/base/chunk_store_queryable.go
  pkg/querier/base/distributor_queryable.go
  pkg/querier/base/distributor_queryable_test.go
  pkg/querier/base/duplicates_test.go
  pkg/querier/base/querier_test.go
  pkg/querier/base/testutils.go
  pkg/querier/base/timeseries_series_set.go
  pkg/querier/base/timeseries_series_set_test.go
  pkg/querier/testutils.go
  pkg/storage/chunk/chunk_test.go
  pkg/storage/chunk/testutils/testutils.go
  pkg/storage/hack/main.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/storage/util_test.go
  pkg/util/chunkcompat/compat.go
Labels: size/XXL

#5139 Copy `cortex/pkg/configs` package dependency into Loki
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  pkg/configs/client/client.go
  pkg/configs/client/configs_test.go
  pkg/configs/userconfig/config.go
  pkg/configs/userconfig/config_test.go
  pkg/ruler/base/storage.go
  pkg/ruler/rulestore/config.go
  pkg/ruler/rulestore/configdb/store.go
  pkg/ruler/rulestore/configdb/store_test.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/ast.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/engine.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/functions.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/fuzz.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/lex.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/parse.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/printer.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/quantile.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/test.go
  vendor/github.com/cortexproject/cortex/pkg/configs/legacy_promql/value.go
  vendor/modules.txt
Labels: size/L

#5243 Refactor/remove global splitby
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/loki/loki.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/validation/limits.go
Labels: size/L

#5223 fluent-bit: Attempt to unmarshal nested json.
  clients/cmd/fluent-bit/loki.go
  clients/cmd/fluent-bit/loki_test.go
Labels: size/M

#5261 use default retention period to check user index may have expired chunks when user does not have custom retention
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
Labels: size/L

#5262 Ingester: remove the labelFilter
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: size/L

#5244 Logstash: Add config option which allows seting up an allowlist for labels to be mapped to Loki
  clients/cmd/logstash/lib/logstash/outputs/loki.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/entry.rb
  clients/cmd/logstash/logstash-output-loki.gemspec
  clients/cmd/logstash/loki.conf
  clients/cmd/logstash/spec/outputs/loki/entry_spec.rb
  clients/cmd/logstash/spec/outputs/loki_spec.rb
  docs/sources/clients/logstash/_index.md
Labels: size/M

#5264 Remove `cortexpb` dependency from Loki packages. Use only `logproto` now.
  pkg/ingester/client/compat.go
  pkg/ingester/client/fnv.go
  pkg/ingester/instance.go
  pkg/querier/querier.go
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/stores/shipper/downloads/index_set.go
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/uploads/table.go
  pkg/util/extract/extract.go
  pkg/util/http_test.go
  pkg/util/limiter/query_limiter.go
  pkg/util/validation/errors.go
  pkg/util/validation/validate.go
  vendor/github.com/cortexproject/cortex/pkg/cortexpb/compat.go
  vendor/github.com/cortexproject/cortex/pkg/cortexpb/cortex.pb.go
  vendor/github.com/cortexproject/cortex/pkg/cortexpb/cortex.proto
  vendor/github.com/cortexproject/cortex/pkg/cortexpb/timeseries.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/client.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/compat.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/cortex_util.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/custom.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/dep.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/fnv.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/ingester.pb.go
  vendor/github.com/cortexproject/cortex/pkg/ingester/client/ingester.proto
  vendor/modules.txt
Labels: size/L

#5238 Promtail: fix TargetManager.run() not exit after stop is called
  clients/pkg/promtail/targets/docker/targetmanager.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
Labels: size/M

#5268 Fix transitive dependency failure while building logstash plugin
  clients/cmd/logstash/Dockerfile
Labels: size/XS

#5269 Remove `cortex` references from `go.mod` and makefile
  Makefile
  go.mod
  go.sum
  vendor/modules.txt
Labels: size/XS

#5229 Return early if push payload does not contain data
  pkg/distributor/distributor.go
Labels: size/S

#5274 Promtail docs: Fix link to `unpack` LogQL documentation
  docs/sources/clients/promtail/stages/pack.md
Labels: size/XS

#5207 Update local configs to fix issues with incorrect addresses
  cmd/loki/loki-docker-config.yaml
Labels: size/XS

#5186 Adding a docs page that helps users understand memberlist a bit more
  docs/sources/fundamentals/architecture/empty_ingester.png
  docs/sources/fundamentals/architecture/full_ingester_ring.png
  docs/sources/fundamentals/architecture/full_scheduler_ring.png
  docs/sources/fundamentals/architecture/memberlist.md
  docs/sources/fundamentals/architecture/rings.md
Labels: size/L

#5148 Auto-expire old items from FIFO cache
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/config_wrapper.go
  pkg/loki/modules.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/cache/fifo_cache_test.go
  pkg/storage/chunk/storage/caching_fixtures.go
  pkg/storage/chunk/storage/caching_index_client_test.go
Labels: size/L

#5042 Loki: Add timing info to the log line for downloading and opening index tables
  pkg/storage/stores/shipper/util/util.go
Labels: size/XS

#5285 Cleanup `util/validation` code.
  pkg/util/validation/errors.go
  pkg/util/validation/validate.go
Labels: size/L
