Repository grafana/loki, pull requests merged in 2022-10, with the labels that each got.

#7257 Fix typo in flags definitions
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/shipper/shipper_index_client.go
Labels: size/S

#7270 Add support for username to redis cache configuration
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/storage/chunk/cache/redis_client.go
Labels: size/XS, type/docs

#7300 Bugfix include cache generations on querier response
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader.go
  pkg/util/server/middleware.go
Labels: size/M

#7320 Added mapstructure tag to promtail configs structs
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/limit/config.go
  clients/pkg/promtail/positions/positions.go
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/file/filetarget.go
Labels: size/M

#7323 adds result cache key version comparison metrics
  pkg/querier/queryrange/metrics.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/M

#7305 update regex for matching nlb logs while using lambda promtail
  tools/lambda-promtail/lambda-promtail/s3.go
Labels: size/XS

#7326 pkg/ruler/rulestore/configdb: Preallocate memory
  pkg/ruler/rulestore/configdb/store.go
Labels: size/XS

#7295 operator: Add extended-validation for rules on OpenShift
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/loki/v1beta1/alertingrule_types.go
  operator/apis/loki/v1beta1/alertingrule_webhook.go
  operator/apis/loki/v1beta1/recordingrule_types.go
  operator/apis/loki/v1beta1/recordingrule_webhook.go
  operator/apis/loki/v1beta1/v1beta1.go
  operator/apis/loki/v1beta1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/config/webhook/manifests.yaml
  operator/go.mod
  operator/internal/validation/alertingrule.go
  operator/internal/validation/alertingrule_test.go
  operator/internal/validation/openshift/alertingrule.go
  operator/internal/validation/openshift/alertingrule_test.go
  operator/internal/validation/openshift/common.go
  operator/internal/validation/openshift/recordingrule.go
  operator/internal/validation/openshift/recordingrule_test.go
  operator/internal/validation/recordingrule.go
  operator/internal/validation/recordingrule_test.go
  operator/main.go
Labels: size/XXL, sig/operator

#7298 operator: Move Loki operand from v2.6.1 to main-ec0bf70
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
Labels: size/M, sig/operator

#6954 Use a line-buffered logger to deamplify write syscalls
  clients/cmd/promtail/main.go
  clients/pkg/logentry/stages/drop_test.go
  clients/pkg/logentry/stages/labelallow_test.go
  clients/pkg/logentry/stages/labeldrop_test.go
  clients/pkg/logentry/stages/multiline_test.go
  clients/pkg/logentry/stages/pack_test.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/windows/target_test.go
  cmd/logql-analyzer/main.go
  cmd/loki/main.go
  cmd/querytee/main.go
  go.mod
  go.sum
  pkg/loki/loki.go
  pkg/storage/stores/indexshipper/compactor/retention/util_test.go
  pkg/storage/stores/shipper/index/compactor/util_test.go
  pkg/util/log/log.go
  vendor/github.com/go-kit/log/line_buffer.go
  vendor/modules.txt
Labels: size/L

#7272 operator: Use cluster monitoring alertmanager by default on openshift clusters
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/internal/handlers/internal/openshift/alertmanager.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/openshift/build.go
  operator/internal/manifests/openshift/build_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/options.go
  operator/internal/manifests/openshift/rbac.go
  operator/internal/manifests/openshift/serviceaccount.go
  operator/internal/manifests/openshift/serviceaccount_test.go
  operator/internal/manifests/openshift/var.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/var.go
Labels: size/XL, sig/operator

#7328 Fix internal server bootstrap for query frontend
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/loki_test.go
Labels: size/M

#7332 Add compactor_address to fix startup
  production/docker/config/loki.yaml
  production/docker/docker-compose.yaml
Labels: size/XS

#7334 Updating loki-build-image to Go 1.19
  .drone/drone.jsonnet
  .drone/drone.yml
  docs/sources/maintaining/release-loki-build-image.md
  loki-build-image/Dockerfile
Labels: size/S, type/docs

#7325 docs: Document setting up command completion for logcli
  CHANGELOG.md
  docs/sources/tools/logcli.md
Labels: size/S, type/docs

#7329 operator: Use quayio v2.7.0-pre image for openshift overlay
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
Labels: size/XS, sig/operator

#7337 Patching loki-build-image with latest golangci-lint version
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#7333 feat(lambda-promtail): add bearer token support
  tools/lambda-promtail/README.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/template.yaml
  tools/lambda-promtail/variables.tf
Labels: size/M

#7243 Upgrade to Go 1.19
  .circleci/config.yml
  .drone/drone.yml
  .golangci.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  go.mod
  go.sum
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  pkg/storage/chunk/client/grpc/grpc.pb.go
  tools/lambda-promtail/Dockerfile
  vendor/github.com/grafana/regexp/exec.go
  vendor/github.com/grafana/regexp/regexp.go
  vendor/github.com/grafana/regexp/syntax/doc.go
  vendor/github.com/grafana/regexp/syntax/parse.go
  vendor/github.com/grafana/regexp/syntax/prog.go
  vendor/modules.txt
Labels: size/L, sig/operator

#7338 mmap tsdb index file while opening it for querying
  pkg/storage/stores/tsdb/compact_test.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/identifier.go
  pkg/storage/stores/tsdb/index/index.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/util_test.go
Labels: size/L

#7340 Restoring lint checks that were previously disabled
  .golangci.yml
  clients/cmd/fluent-bit/out_grafana_loki.go
  clients/pkg/logentry/stages/metrics.go
  clients/pkg/logentry/stages/pack.go
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/syslog/transport.go
  pkg/canary/reader/reader.go
  pkg/distributor/distributor.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/logql/log/parser_hints.go
  pkg/logql/rangemapper.go
  pkg/logqlmodel/stats/context.go
  pkg/querier/astmapper/shard_summer.go
  pkg/querier/astmapper/subtree_folder.go
  pkg/querier/worker_service.go
  pkg/ruler/base/error_translate_queryable.go
  pkg/ruler/base/ruler.go
  pkg/ruler/rulestore/local/local.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/stores/shipper/index/compactor/compacted_index.go
  pkg/storage/stores/shipper/index/compactor/table_compactor.go
  pkg/storage/stores/tsdb/manager.go
  pkg/util/flagext/bytesize.go
  pkg/util/log.go
  pkg/util/log/log.go
  pkg/util/log/wrappers.go
  pkg/util/marshal/legacy/marshal.go
Labels: size/L

#7342 Loki: Add sharding support for negative/zeroed desired rate
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#7301 Service selector for single binary deployment fix.
  production/helm/loki/templates/single-binary/service.yaml
Labels: size/XS, area/helm

#7345 [loki helm chart] fixed to pass CI
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS

#7176 Implement ingester API to return stream rates
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
Labels: size/XXL

#7346 Clarify how and where to download the Loki config file from
  CHANGELOG.md
  docs/sources/installation/local.md
Labels: size/XS, type/docs

#7341 Upgrade operator gh workflows to go1.19
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
Labels: size/S

#7311 Loki: Per-tenant stream sharding
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/shardstreams/config.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/loki/modules.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#7347 Adding Promtail and Heroku blogpost files to `examples/`
  examples/README.md
  examples/promtail-heroku/Dockerfile
  examples/promtail-heroku/README.md
  examples/promtail-heroku/config.yml
  examples/promtail-heroku/heroku.yml
Labels: size/M

#7360 Fix Flaky Integration Tests
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/loki_simple_scalable_test.go
  integration/loki_single_binary_test.go
  pkg/loki/modules.go
Labels: size/L

#7313 [dashboards] update dashboards for zone aware ingesters
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/loki-mixin/dashboards/recording-rules.libsonnet
  production/promtail-mixin/jsonnetfile.lock.json
Labels: size/XL

#7322 operator: Add TLS profile support for Loki server and client HTTP and GRPC TLS options
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/config/v1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/cmd/loki-broker/main.go
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/internal/handlers/internal/tlsprofile/tlsprofile.go
  operator/internal/handlers/internal/tlsprofile/tlsprofile_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/build.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/options.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
  operator/internal/manifests/ruler.go
Labels: size/XL, sig/operator

#7362 TSDB explicit fingerprint
  pkg/storage/stores/tsdb/head.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/head_wal.go
  pkg/storage/stores/tsdb/head_wal_test.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#7367 lock boltdb and tsdb index while queries are in process
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/index_set.go
  pkg/storage/stores/indexshipper/uploads/index_set_test.go
  pkg/storage/stores/indexshipper/uploads/table.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/indexshipper/uploads/table_test.go
  pkg/storage/stores/shipper/index/querier.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
Labels: size/L

#7375 documentation: correct yaml file
  docs/sources/installation/microservices-helm.md
Labels: size/XS, type/docs

#7304 Import Canary dashboard into Loki mixin.
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/loki-canary-dashboard.libsonnet
  production/loki-mixin/jsonnetfile.json
  production/loki-mixin/jsonnetfile.lock.json
Labels: size/L

#7286 Provision alerts for Loki Canary in Helm Chart.
  production/helm/loki/src/alerts.yaml
Labels: size/S, area/helm

#7363 area(promtail): add -check-syntax functionality
  clients/cmd/promtail/main.go
  docs/sources/clients/promtail/troubleshooting.md
Labels: size/S, type/docs

#7274 CONTRIBUTING: fix layout
  CONTRIBUTING.md
Labels: size/M

#7317 promtail/scraping.md: Fix 404
  docs/sources/clients/promtail/scraping.md
Labels: size/XS, type/docs

#7312 logging: Change Docker target discovery log level from Error to Info
  CHANGELOG.md
  clients/pkg/promtail/targets/docker/target_group.go
  docs/sources/upgrading/_index.md
Labels: size/XS, type/docs

#7247 [new feature] promtail: Add config reload endoint / signal to promtail
  clients/cmd/promtail/main.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/promtail_test.go
  clients/pkg/promtail/server/server.go
  clients/pkg/promtail/targets/manager.go
Labels: size/L

#7246 chunks: improve readability of compression benchmarks
  pkg/chunkenc/memchunk_test.go
Labels: size/M

#7386 add promtail reload changelog and doc
  CHANGELOG.md
  clients/pkg/promtail/server/server.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/configuration/_index.md
Labels: size/S, type/docs

#7361 Loki: Renames metric 'loki_log_messages_total' to 'loki_internal_log_messages_total'
  CHANGELOG.md
  docs/sources/operations/observability.md
  docs/sources/upgrading/_index.md
  pkg/util/log/log.go
Labels: size/M, type/docs

#7391 Fix Flaky Distributor Test
  pkg/distributor/distributor_test.go
Labels: size/S

#7262 [helm loki] add support for custom analytics config
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#7388 Update installation.md
  docs/sources/clients/promtail/installation.md
Labels: size/XS, type/docs

#7378 [docs: logql-analyzer] changed url for main branch
  docs/sources/logql/analyzer/script.js
Labels: size/XS, type/docs

#7393 Fix stream sharding
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_metrics.go
Labels: size/M

#7397 Create automated SBOM reports on Release
  .github/workflows/syft-sbom-ci
Labels: size/S

#7402 Fix promtail scrape config job name validation
  clients/pkg/promtail/targets/lokipush/pushtargetmanager.go
  clients/pkg/promtail/targets/lokipush/pushtargetmanager_test.go
Labels: size/S

#7398 [loki-canary] Allow insecure TLS connections
  CHANGELOG.md
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
Labels: size/M, type/docs

#7405 [promtail] log: simplify log, only print hash
  clients/pkg/promtail/promtail.go
Labels: size/XS

#7407 Provide example policy for S3 storage.
  docs/sources/operations/storage/_index.md
Labels: size/S, type/docs

#7379 [release-2.6.x] auto-deploy on Tag or Main
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  cmd/logql-analyzer/Dockerfile
  cmd/logql-analyzer/docker-compose.yaml
  cmd/logql-analyzer/main.go
  pkg/logql/log/labels.go
  pkg/logql/log/pipeline.go
  pkg/logqlanalyzer/analyzer.go
  pkg/logqlanalyzer/analyzer_test.go
  pkg/logqlanalyzer/http.go
Labels: size/XL, backport

#7417 Bump tail dependency to address windows locking issues
  go.mod
  go.sum
  vendor/github.com/hpcloud/tail/tail.go
  vendor/github.com/hpcloud/tail/watch/file_posix.go
  vendor/github.com/hpcloud/tail/watch/file_windows.go
  vendor/github.com/hpcloud/tail/watch/inotify.go
  vendor/github.com/hpcloud/tail/watch/polling.go
  vendor/github.com/hpcloud/tail/watch/watch.go
  vendor/modules.txt
Labels: size/XS

#7420 promtail: Fix exposed metric documentation for request_duration_seconds
  docs/sources/operations/observability.md
Labels: size/XS, type/docs

#7401 Promtail: Add handler timeout for GCP Logs Push target
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/gcplog/push_target.go
  clients/pkg/promtail/targets/gcplog/push_target_test.go
  docs/sources/clients/promtail/configuration.md
Labels: size/L, type/docs

#7418 operator: Update golang and dependencies
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  operator/.bingo/Variables.mk
  operator/.bingo/bingo.mod
  operator/.bingo/bingo.sum
  operator/.bingo/controller-gen.mod
  operator/.bingo/controller-gen.sum
  operator/.bingo/gofumpt.mod
  operator/.bingo/gofumpt.sum
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/hugo.mod
  operator/.bingo/hugo.sum
  operator/.bingo/kind.mod
  operator/.bingo/kind.sum
  operator/.bingo/kustomize.mod
  operator/.bingo/kustomize.sum
  operator/.bingo/logcli.mod
  operator/.bingo/logcli.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/promtool.mod
  operator/.bingo/promtool.sum
  operator/.bingo/variables.env
  operator/.golangci.yaml
  operator/CHANGELOG.md
  operator/apis/config/v1/groupversion_info.go
  operator/apis/loki/v1/groupversion_info.go
  operator/cmd/loki-broker/main.go
  operator/config/crd/bases/loki.grafana.com_alertingrules.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_recordingrules.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/controllers/loki/internal/management/state/state_test.go
  operator/go.mod
  operator/go.sum
  operator/internal/external/k8s/client.go
  operator/internal/external/k8s/k8sfakes/fake_client.go
  operator/internal/external/k8s/k8sfakes/fake_client_extensions.go
  operator/internal/handlers/internal/gateway/tenant_configmap_test.go
  operator/internal/handlers/internal/gateway/tenant_secrets_test.go
  operator/internal/handlers/internal/rules/rules_test.go
  operator/internal/handlers/internal/tlsprofile/tlsprofile_test.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/openshift/rbac.go
  operator/internal/manifests/openshift/var.go
  operator/internal/manifests/storage/schema.go
  operator/internal/metrics/metrics.go
  operator/internal/status/components_test.go
  operator/internal/status/lokistack_test.go
  operator/internal/status/storage_test.go
Labels: size/XXL, sig/operator

#7422 Loki mixin: Correct Loki datasource variable name.
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled-ssd/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
Labels: size/M

#7421 Promtail: correctly hashes the config on reload
  clients/pkg/promtail/promtail.go
Labels: size/XS

#7415 operator: Add alert relabel config
  operator/CHANGELOG.md
  operator/apis/loki/v1beta1/rulerconfig_types.go
  operator/apis/loki/v1beta1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
Labels: size/XL, sig/operator

#7424 Add helm-docs to build image.
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#7423 Fix enable of internal server for modules
  pkg/loki/loki.go
  pkg/loki/loki_test.go
Labels: size/S

#7434 Do not log 'unable to read rules directory' at startup if directory hasn't been created yet
  pkg/ruler/base/mapper.go
  pkg/ruler/base/mapper_test.go
Labels: size/S

#7438 operator: Regenerate manifests
  operator/bundle/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
Labels: size/M, sig/operator

#7396 fluentd: Add un-escaping of control characters in JSON
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#7440 Add Li Guozhong as a maintainer
  docs/sources/community/governance.md
Labels: size/XS, type/docs

#7444 Results cache fix improvements
  pkg/logql/downstream.go
  pkg/logql/engine_test.go
  pkg/logqlmodel/metadata/context.go
  pkg/logqlmodel/metadata/context_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/queryrangebase/middleware.go
  pkg/querier/queryrange/queryrangebase/middleware_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/util/server/middleware.go
Labels: size/L

#7437 operator: Fix Custom TLS profile setting for LokiStack on OpenShift
  operator/CHANGELOG.md
  operator/internal/manifests/build.go
  operator/internal/manifests/build_test.go
Labels: size/M, sig/operator

#7442 Add remote schema option
  docs/sources/tools/logcli.md
Labels: size/XS, type/docs

#7426 Add compactor delete client tls client config
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
Labels: size/M

#7414 Promtail: Add basic tracing support
  CHANGELOG.md
  clients/cmd/promtail/main.go
  clients/pkg/promtail/config/config.go
  docs/sources/clients/promtail/configuration.md
  pkg/tracing/config.go
Labels: size/M, type/docs

#7449 operator: Upgrade operator-sdk to v1.24.1
  operator/.bingo/Variables.mk
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
Labels: size/S

#7463 Promtail: Add fields for cloudflare
  clients/pkg/promtail/targets/cloudflare/fields.go
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs

#7466 Change `master` to `main` and include `.md` ext.
  docs/sources/community/governance.md
Labels: size/XS, type/docs

#7427 Loki: Implement random entries assignment when sharding
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/L

#7479 Add envFrom to the tokengen job
  production/helm/loki/README.md
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#7484 Update helm chart version
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/S, area/helm

#7468 Revert "fluentd: Add un-escaping of control characters in JSON"
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/XS, backport release-2.7.x

#7359 Enable Loki to configure Alertmanagers per tenant
  docs/sources/configuration/_index.md
  pkg/ruler/base/compat.go
  pkg/ruler/base/manager.go
  pkg/ruler/base/manager_test.go
  pkg/ruler/base/notifier.go
  pkg/ruler/base/notifier_test.go
  pkg/ruler/base/ruler.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/config/alertmanager.go
  pkg/ruler/ruler.go
  pkg/util/validation/limits.go
  pkg/validation/limits.go
  production/docker/config/alertmanager.yml
  production/docker/config/loki.yaml
  production/docker/docker-compose.yaml
Labels: size/XL, type/docs, backport release-2.7.x

#7432 Helm: Replace incorrect key loki.authEnabled in example override values
  production/helm/loki/docs/examples/oss/overrides-oss-gcs.yaml
Labels: size/XS, area/helm

#7236 [helm] Mimic loki service account with canary account
  production/helm/loki/templates/loki-canary/_helpers.tpl
  production/helm/loki/templates/loki-canary/serviceaccount.yaml
Labels: size/XS, area/helm

#7489 Docs: Add max_streams to Promtail configuration doc
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs, backport release-2.7.x

#7235 Loki: Remove RatelimitedStream proto
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/XL

#7331 [Helm] Add flags needed for migration from distributed
  production/helm/loki/README.md
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#7126 Remove groupcache
  cmd/loki/loki-local-config.yaml
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  go.mod
  go.sum
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_ringmanager.go
  pkg/storage/chunk/cache/groupcache_stats.go
  pkg/storage/chunk/cache/groupcache_test.go
  vendor/github.com/grafana/groupcache_exporter/.gitignore
  vendor/github.com/grafana/groupcache_exporter/LICENSE
  vendor/github.com/grafana/groupcache_exporter/README.md
  vendor/github.com/grafana/groupcache_exporter/exporter.go
  vendor/github.com/mailgun/groupcache/v2/.gitignore
  vendor/github.com/mailgun/groupcache/v2/.travis.yml
  vendor/github.com/mailgun/groupcache/v2/CHANGELOG
  vendor/github.com/mailgun/groupcache/v2/LICENSE
  vendor/github.com/mailgun/groupcache/v2/README.md
  vendor/github.com/mailgun/groupcache/v2/byteview.go
  vendor/github.com/mailgun/groupcache/v2/consistenthash/consistenthash.go
  vendor/github.com/mailgun/groupcache/v2/groupcache.go
  vendor/github.com/mailgun/groupcache/v2/groupcachepb/example.proto
  vendor/github.com/mailgun/groupcache/v2/groupcachepb/groupcache.pb.go
  vendor/github.com/mailgun/groupcache/v2/groupcachepb/groupcache.proto
  vendor/github.com/mailgun/groupcache/v2/http.go
  vendor/github.com/mailgun/groupcache/v2/lru/lru.go
  vendor/github.com/mailgun/groupcache/v2/peers.go
  vendor/github.com/mailgun/groupcache/v2/proto.sh
  vendor/github.com/mailgun/groupcache/v2/singleflight/singleflight.go
  vendor/github.com/mailgun/groupcache/v2/sinks.go
  vendor/github.com/segmentio/fasthash/fnv1/hash.go
  vendor/github.com/segmentio/fasthash/fnv1/hash32.go
  vendor/modules.txt
Labels: size/XXL, type/docs

#7503 Remove groupcache (#7126) [Backport to v2.7.x]
  cmd/loki/loki-local-config.yaml
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  go.mod
  go.sum
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/groupcache.go
  pkg/storage/chunk/cache/groupcache_ringmanager.go
  pkg/storage/chunk/cache/groupcache_stats.go
  pkg/storage/chunk/cache/groupcache_test.go
  vendor/github.com/grafana/groupcache_exporter/.gitignore
  vendor/github.com/grafana/groupcache_exporter/LICENSE
  vendor/github.com/grafana/groupcache_exporter/README.md
  vendor/github.com/grafana/groupcache_exporter/exporter.go
  vendor/github.com/mailgun/groupcache/v2/.gitignore
  vendor/github.com/mailgun/groupcache/v2/.travis.yml
  vendor/github.com/mailgun/groupcache/v2/CHANGELOG
  vendor/github.com/mailgun/groupcache/v2/LICENSE
  vendor/github.com/mailgun/groupcache/v2/README.md
  vendor/github.com/mailgun/groupcache/v2/byteview.go
  vendor/github.com/mailgun/groupcache/v2/consistenthash/consistenthash.go
  vendor/github.com/mailgun/groupcache/v2/groupcache.go
  vendor/github.com/mailgun/groupcache/v2/groupcachepb/example.proto
  vendor/github.com/mailgun/groupcache/v2/groupcachepb/groupcache.pb.go
  vendor/github.com/mailgun/groupcache/v2/groupcachepb/groupcache.proto
  vendor/github.com/mailgun/groupcache/v2/http.go
  vendor/github.com/mailgun/groupcache/v2/lru/lru.go
  vendor/github.com/mailgun/groupcache/v2/peers.go
  vendor/github.com/mailgun/groupcache/v2/proto.sh
  vendor/github.com/mailgun/groupcache/v2/singleflight/singleflight.go
  vendor/github.com/mailgun/groupcache/v2/sinks.go
  vendor/github.com/segmentio/fasthash/fnv1/hash.go
  vendor/github.com/segmentio/fasthash/fnv1/hash32.go
  vendor/modules.txt
Labels: size/XXL, type/docs

#7485 Add how to connect to Azure using Service Principal
  docs/sources/storage/_index.md
Labels: size/M, type/docs

#7492 Improve rate store refresh latency
  pkg/distributor/ratestore.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_rate_calculator.go
  pkg/ingester/stream_rate_calculator_test.go
Labels: size/L

#7497 Index gw lock bugfix
  pkg/storage/stores/indexshipper/downloads/table.go
Labels: size/L

#7469 Loki: log when a query starts in the logql engine
  pkg/logql/engine.go
Labels: size/XS

#7502 tsdb post compaction cleanup
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/index/index.go
Labels: size/M

#7481 [mixin] Add cortex-gw-internal to dashboards
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/M

#7229 [helm] Add a loki canary test to the helm chart
  .drone/drone.jsonnet
  .drone/drone.yml
  .github/workflows/helm-ci.yml
  .gitignore
  Makefile
  flake.nix
  nix/default.nix
  production/helm/ct.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/ci/default-values.yaml
  production/helm/loki/ci/enterprise.yaml
  production/helm/loki/ci/ingress-values.yaml
  production/helm/loki/ci/persistence-values.yaml
  production/helm/loki/src/helm-test/Dockerfile
  production/helm/loki/src/helm-test/README.md
  production/helm/loki/src/helm-test/canary_test.go
  production/helm/loki/src/helm-test/default.nix
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/tests/_helpers.tpl
  production/helm/loki/templates/tests/test-canary.yaml
  production/helm/loki/templates/validate.yaml
  production/helm/loki/values.yaml
  tools/dev/k3d/environments/enterprise-logs/spec.json
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/XL, area/helm

#7456 Make 2.7.0 section
  CHANGELOG.md
Labels: size/XS, backport release-2.7.x

#7460 Few small changelog changes
  CHANGELOG.md
Labels: size/XS, backport release-2.7.x

#7457 Add 2.7.0 section to upgrading doc
  docs/sources/upgrading/_index.md
Labels: size/XS, type/docs, backport release-2.7.x

#7512 Fix drone signature
  .drone/drone.yml
Labels: size/XS

#7511 Add GCP Logs push target Promtail docs
  docs/sources/clients/promtail/gcp-logs-diagram.png
  docs/sources/clients/promtail/gcplog-cloud.md
  docs/sources/clients/promtail/scraping.md
Labels: size/M, type/docs

#7534 Improves performance of distributor validations
  pkg/distributor/validator.go
Labels: size/XS

#7034 Document new Helm Charts
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  docs/Makefile
  docs/sources/installation/_index.md
  docs/sources/installation/helm/_index.md
  docs/sources/installation/helm/concepts.md
  docs/sources/installation/helm/configure-storage/index.md
  docs/sources/installation/helm/install-monolithic/index.md
  docs/sources/installation/helm/install-scalable/index.md
  docs/sources/installation/helm/monitor-and-alert/index.md
  docs/sources/installation/helm/reference.md
  docs/sources/installation/helm/upgrade-from-2.x/index.md
  docs/sources/installation/microservices-helm.md
  docs/sources/installation/simple-scalable-helm.md
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
  production/helm/loki/reference.md.gotmpl
  production/helm/loki/templates/NOTES.txt
Labels: size/XXL, area/helm, type/docs

#7517 Hardcode ring.WriteNoExtend for distributor push operations
  pkg/distributor/distributor.go
Labels: size/XS

#7528 [Helm] Fix invalid ruler config when filesystem storage is used
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/L, area/helm

#7556 Ensure labels on sharded streams are sorted before they're sent anywhere
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/S

#7561 promtail: register reload metrics after running options
  clients/pkg/promtail/promtail.go
Labels: size/S

#7548 Prevent IndexShipper from leaking mutex accesses.
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/index_set.go
  pkg/storage/stores/indexshipper/uploads/index_set_test.go
  pkg/storage/stores/indexshipper/uploads/table.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/indexshipper/uploads/table_test.go
  pkg/storage/stores/shipper/index/querier.go
  pkg/storage/stores/shipper/index/table_manager.go
  pkg/storage/stores/shipper/index/table_manager_test.go
  pkg/storage/stores/shipper/index/table_test.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multi_file_index_test.go
  pkg/storage/stores/tsdb/store.go
Labels: size/XL

#7542 Add way to override userId for caching
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/M

#7560 Shard streams round-robin rather in batches.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/shard_tracker.go
  pkg/distributor/shard_tracker_test.go
Labels: size/L
