Repository grafana/loki, pull requests merged in 2022-04, with the labels that each got.

#5739 operator: change uuids to tenant name in doc
  operator/CHANGELOG.md
  operator/docs/forwarding_logs_to_gateway.md
Labels: size/XS

#5051 [new] promtail pipeline: Promtail Rate Limit stage #5048
  clients/pkg/logentry/stages/limit.go
  clients/pkg/logentry/stages/limit_test.go
  clients/pkg/logentry/stages/stage.go
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/stages/limit.md
Labels: size/L

#5761 Promtil: Fix a panic when using the loki push api target.
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
  clients/pkg/promtail/targets/lokipush/pushtargetmanager.go
Labels: size/S, backport release-2.5.x

#5768 Loki: Increase flush_op_timeout default from 10s to 10m
  docs/sources/configuration/_index.md
  pkg/ingester/ingester.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/XS, backport release-2.5.x

#5737 Docs: Document Promtail global rate limiting
  CHANGELOG.md
  clients/pkg/promtail/limit/config.go
  docs/sources/clients/promtail/configuration.md
Labels: size/M

#5772 Loki: Revert #4845 which changed the format of errors from the API
  docs/sources/upgrading/_index.md
  pkg/distributor/http.go
  pkg/loki/loki.go
  pkg/lokifrontend/frontend/transport/handler.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
Labels: size/L, backport release-2.5.x

#5767 Loki: Add more details about usage reporting to the docs and default config files.
  cmd/loki/loki-docker-config.yaml
  cmd/loki/loki-local-config.yaml
  docs/sources/configuration/_index.md
Labels: size/M, backport release-2.5.x

#5776 Build: update package for fuzzer after refactoring
  Makefile
  pkg/logql/syntax/fuzz.go
  pkg/logql/syntax/fuzz_test.go
Labels: size/XS

#5775 golangci-lint: Check for pointers to enclosing loop variables
  .golangci.yml
  pkg/storage/stores/shipper/downloads/table_manager_test.go
Labels: size/XS

#5715 Allow promtail to push RFC5424 formatted syslog messages
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/syslog/syslogtarget.go
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
Labels: size/M, component/promtail

#5481 Add a DeletionMode config variable
  CHANGELOG.md
  pkg/loki/modules.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store_test.go
  pkg/storage/stores/shipper/compactor/deletion/mode.go
  pkg/storage/stores/shipper/compactor/deletion/mode_test.go
  pkg/storage/stores/shipper/compactor/deletion/noop_delete_requests_store.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
  pkg/storage/stores/shipper/compactor/deletion/validation.go
  pkg/storage/stores/shipper/compactor/deletion/validation_test.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
Labels: size/L

#5780 Update alpine images to 3.15.4
  CHANGELOG.md
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/S, backport release-2.5.x

#5788 [release-2.5.x] Promtail: Rename config name limit_config to limits_config (#5707)
  clients/cmd/promtail/promtail-local-limit-config.yaml
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/config/config_test.go
  clients/pkg/promtail/promtail.go
Labels: size/S

#5796 fix boltdb-shipper doc
  docs/sources/operations/storage/boltdb-shipper.md
Labels: size/XS

#5792 Return bad request for multi-tenant tail.
  pkg/querier/http.go
  tools/dev/loki-boltdb-storage-s3/config/datasource.yaml
Labels: size/S

#5740 Promtail docs: fix metrics stage document
  docs/sources/clients/promtail/stages/metrics.md
Labels: size/XS

#5783 Tsdb/compaction
  .gitignore
  pkg/storage/tsdb/bounds.go
  pkg/storage/tsdb/bounds_test.go
  pkg/storage/tsdb/compact.go
  pkg/storage/tsdb/compact_test.go
  pkg/storage/tsdb/index/builder.go
  pkg/storage/tsdb/index/chunk.go
  pkg/storage/tsdb/index/index.go
  pkg/storage/tsdb/index/index_test.go
  pkg/storage/tsdb/index/pool.go
  pkg/storage/tsdb/multi_file_index.go
  pkg/storage/tsdb/multi_file_index_test.go
  pkg/storage/tsdb/pool.go
  pkg/storage/tsdb/querier.go
  pkg/storage/tsdb/querier_test.go
  pkg/storage/tsdb/single_file_index.go
  pkg/storage/tsdb/single_file_index_test.go
  pkg/storage/tsdb/util_test.go
  tools/tsdb/tsdb-map/main.go
Labels: size/XL

#5818 fix missing file during rpm and deb packaging step
  Makefile
  tools/nfpm.yaml
Labels: size/S, backport release-2.5.x

#5819 2.5 changelog, release notes, and upgrade guide
  CHANGELOG.md
  docs/sources/installation/docker.md
  docs/sources/maintaining/release.md
  docs/sources/release-notes/v2-5.md
  docs/sources/upgrading/_index.md
  production/docker-compose.yaml
  production/docker/docker-compose-ha-memberlist.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/simple-scalable/docker-compose.yaml
  tools/promtail.sh
Labels: size/L, backport release-2.5.x

#5824 Build: Update drone to push images on tagged builds
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS, backport release-2.5.x

#5825 update drone to push images on tagged builds (#5824)
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#5826 Build: try fixing drone better
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#5827 try fixing drone again (#5826)
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#5662 Split by range of instant queries
  pkg/logql/downstream_test.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
  pkg/logql/test_utils.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_range.go
  pkg/querier/queryrange/split_by_range_test.go
Labels: size/XXL

#5829 [Optimization] boltdb readpath: reduce the code block affected by the lock tablesMtx in the TableManager.query() function
  pkg/storage/stores/shipper/uploads/table_manager.go
Labels: size/S

#5830 improve mutex locking when writing index in boltdb-shipper
  pkg/storage/stores/shipper/uploads/table.go
Labels: size/S

#5831 incorporate feedback on merged pr #5830
  pkg/storage/stores/shipper/uploads/table.go
Labels: size/S

#5837 TestPromtail: avoid hanging when test fails midway
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/promtail_test.go
Labels: size/XS

#5799 Fixes deduping when multiple timestamp are equal
  CHANGELOG.md
  pkg/ingester/ingester_test.go
  pkg/iter/cache.go
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
Labels: size/XL

#5840 usagestats tests: don't check unpredictable number
  pkg/usagestats/stats_test.go
Labels: size/XS

#5841 Makefile: run lint and tests with default garbage-collection
  Makefile
Labels: size/XS

#5749 lambda-promtail: fix typos in CloudFormation and Terraform files.
  tools/lambda-promtail/template.yaml
  tools/lambda-promtail/variables.tf
Labels: size/S

#5846 Add Heureka Group to adopters
  ADOPTERS.md
Labels: size/XS

#5839 promtail: Add ActiveTargets method
  CHANGELOG.md
  clients/pkg/promtail/promtail.go
Labels: size/XS

#5828 Fix wrong indentation in example config
  docs/sources/clients/lambda-promtail/_index.md
Labels: size/S

#5862 fix: adopters link for Heureka Group
  ADOPTERS.md
Labels: size/XS

#5863 Docs: add schema docs
  docs/sources/operations/storage/schema.md
  docs/sources/operations/storage/schema.png
Labels: size/M, backport release-2.5.x

#5307 cleanup: fix flaky test
  pkg/ruler/registry_test.go
  pkg/ruler/storage/instance/instance.go
  pkg/ruler/storage/instance/manager.go
Labels: size/M

#5860 Improve kafka discovery test.
  clients/pkg/promtail/targets/kafka/target_syncer_test.go
Labels: size/XS

#5868 Minor fix in docs/sources/logql/log_queries.md
  docs/sources/logql/log_queries.md
Labels: size/XS

#5838 GCS: refactor creation of http client
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/gcp/instrumentation.go
Labels: size/M

#5881 Update dskit to v0.0.0-20220331160727-49faf69f72ca.
  clients/cmd/promtail/main.go
  clients/pkg/promtail/targets/kafka/target_syncer.go
  clients/pkg/promtail/targets/kafka/target_syncer_test.go
  go.mod
  go.sum
  pkg/loki/config_wrapper_test.go
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/config_test.go
  pkg/storage/bucket/gcs/bucket_client.go
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config_test.go
  pkg/storage/bucket/sse_bucket_client_test.go
  pkg/storage/chunk/cache/redis_client.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/cassandra/storage_client.go
  pkg/storage/chunk/client/cassandra/storage_client_test.go
  vendor/github.com/grafana/dskit/flagext/secret.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/memberlist/kv_init_service.go
  vendor/github.com/grafana/dskit/kv/memberlist/status.gohtml
  vendor/github.com/grafana/dskit/kv/multi.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/status.gohtml
  vendor/modules.txt
Labels: size/M

#5869 Docs: Improve the new schema docs
  docs/sources/operations/storage/schema.md
Labels: size/S, backport release-2.5.x

#5800 Return HTTP 400 when multiple tenants are present in push.
  pkg/distributor/http.go
  pkg/loki/modules.go
  pkg/querier/http_test.go
Labels: size/M

#5890 Promtail: Remove excessive underscore from `dockerLabelLogStream`
  clients/pkg/promtail/targets/docker/targetmanager.go
Labels: size/XS

#5861 Add more function comments to the rangemapper implementation
  pkg/logql/rangemapper.go
Labels: size/M

#5884 operator: Update Loki operand to v2.5.0
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/options.go
  operator/internal/manifests/var.go
  operator/main.go
Labels: size/M, sig/operator

#5887 Docs: Fix the command line description of the grpc_server_max_send_msg_size parameter
  docs/sources/configuration/_index.md
Labels: size/XS

#5888 loki: Fix common config net interface name overwritten by ring common config
  CHANGELOG.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
Labels: size/M

#5358 Add a Ring to IndexGateway
  CHANGELOG.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/factory.go
  pkg/storage/stores/shipper/gateway_client.go
  pkg/storage/stores/shipper/gateway_client_test.go
  pkg/storage/stores/shipper/index_gateway_grpc_pool.go
  pkg/storage/stores/shipper/indexgateway/config.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/indexgateway/lifecycle.go
  pkg/storage/stores/shipper/shipper_index_client.go
Labels: size/XL, component/index-gateway

#5899 Upgrade golang version to v1.17.9
  Makefile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/calculator.Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M

#5821 Enable tenant ID selection for multi-tenant queries.
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
Labels: size/L

#5873 docs: fix query_ingester_only config
  docs/sources/configuration/_index.md
  pkg/querier/querier.go
Labels: size/XS

#5900 Upgrade golang version to v1.17.9 correctly tag build image
  .drone/drone.jsonnet
  .drone/drone.yml
  CHANGELOG.md
  Makefile
Labels: size/XS

#5902 Loki: Don't use boltdb-shipper if gateway communication isn't available
  pkg/storage/factory.go
Labels: size/XS

#5901 Update golangci-lint in build image
  .drone/drone.jsonnet
  loki-build-image/Dockerfile
Labels: size/XS

#5893 operator: Align PVC storage size requests for all lokistack t-shirt sizes
  operator/CHANGELOG.md
  operator/internal/manifests/internal/sizes.go
Labels: kind/bug, size/XS, sig/operator

#5907 operator: Do not include non-static labels in pod selectors
  operator/.bingo/Variables.mk
  operator/.bingo/kustomize.mod
  operator/.bingo/kustomize.sum
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/kustomization.yaml
  operator/config/overlays/openshift/kustomization.yaml
  operator/config/overlays/production/kustomization.yaml
Labels: size/L, sig/operator

#5910 Fixes a panic when response is nil in the index-gw
  pkg/storage/stores/series/series_index_gateway_store.go
Labels: size/S

#5917 Only run boltdb-shipper when appropriate.
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/gateway_client.go
Labels: size/S

#5908 Include tenant ID label in label values.
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
Labels: size/S

#5923 Fixes the index-gateway when using the ring
  pkg/loki/modules.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/gateway_client.go
Labels: size/XS

#5864 Implements TSDB Head
  pkg/storage/stores/tsdb/head.go
  pkg/storage/stores/tsdb/head_read.go
  pkg/storage/stores/tsdb/index/chunk.go
  pkg/storage/stores/tsdb/index/fingerprint.go
  pkg/storage/stores/tsdb/index/fingerprint_test.go
  pkg/storage/stores/tsdb/index/index.go
  pkg/storage/stores/tsdb/index/postings.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/XL

#5932 Loki: Fix issue with recent change to flush code
  pkg/ingester/flush.go
Labels: size/S

#5916 Fix SSD Docker installation
  docs/sources/installation/simple-scalable-docker.md
  production/simple-scalable/docker-compose.yaml
Labels: size/S, backport release-2.5.x

#4977 Add SIG operator team to governance doc
  docs/sources/community/governance.md
Labels: stale, size/XS, sig/operator

#5935 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#5934 Docs: Correct bad links in the best practice docs
  docs/sources/best-practices/_index.md
Labels: size/XS

#5945 store: fix bug in getting chunk ids from ingesters when using boltdb-shipper
  pkg/loki/modules.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
Labels: size/M

#5705 build generic index shipper to be shared between boltdb-shipper and tsdb-shipper
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/downloads/testutil.go
  pkg/storage/stores/indexshipper/downloads/util.go
  pkg/storage/stores/indexshipper/index/index.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/index_set.go
  pkg/storage/stores/indexshipper/uploads/index_set_test.go
  pkg/storage/stores/indexshipper/uploads/table.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/indexshipper/uploads/table_test.go
  pkg/storage/stores/indexshipper/uploads/testutil.go
  pkg/storage/stores/shipper/shipper_index_client.go
Labels: size/XXL

#5944 Docs: Fix typo in 429 exceeded rate limit error message
  pkg/util/validation/limits.go
  pkg/validation/validate.go
Labels: size/XS

#5947 chore: Fix flaky test with `TestSingleIdx`.
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/XS

#5850 [promtail] Add a log message stating that client level stream lag labels are deprecated
  clients/pkg/promtail/client/client.go
Labels: size/XS

#5954 boltdb-shipper: common index set should not expire before any of the user index sets
  pkg/storage/stores/shipper/downloads/table.go
  pkg/storage/stores/shipper/downloads/table_test.go
Labels: size/S

#5925 Other: Improve check-drone-drift script
  .drone/drone.yml
  Makefile
  tools/check-drone-drift.sh
Labels: size/M

#5929 operator: Bump operator-sdk to v1.19.1
  operator/.bingo/Variables.mk
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
Labels: size/M

#5959 fix index gateway chunk refs response (#5957)
  pkg/storage/stores/shipper/indexgateway/gateway.go
Labels: size/XS

#5924 Other: trigger build of loki-build-image:0.20.3
  docs/sources/maintaining/release-loki-build-image.md
  loki-build-image/Dockerfile
Labels: size/M, area/docs

#5885 Other: Update pr template
  .github/pull_request_template.md
Labels: size/S

#5951 Fix query filtering
  pkg/ingester/ingester.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/S

#5969 Add query filtering to the tailer
  pkg/querier/querier.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
Labels: size/XS

#5973 Loki: Make DNS resolver configurable in Gateway
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/gateway.libsonnet
Labels: size/XS

#5961 redact s3 credential values when printing config to logs
  pkg/loki/config_wrapper_test.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/M

#5966 Add changelog entry for split by range of instant queries
  CHANGELOG.md
  pkg/logql/rangemapper.go
Labels: size/XS

#5980 Do not parse string of empty matchers
  pkg/logql/syntax/parser.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
Labels: size/S

#5979 Call correct method on index store
  pkg/storage/stores/series/series_index_gateway_store.go
Labels: size/XS

#5981 Loki: remove typo error in gateway config
  production/ksonnet/loki/gateway.libsonnet
Labels: size/XS

#5982 Add string representation of boltdb shipper mode
  pkg/storage/stores/shipper/shipper_index_client.go
Labels: size/S

#5984 Querier: prevent unnecessary calls to ingesters
  CHANGELOG.md
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L

#5661 Invalidate caches on delete
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/modules.go
  pkg/lokifrontend/config.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_store_test.go
  pkg/storage/stores/shipper/compactor/deletion/noop_delete_requests_store.go
  pkg/storage/stores/shipper/compactor/deletion/request_handler.go
  pkg/storage/stores/shipper/compactor/generationnumber/gennumber_client.go
  pkg/storage/stores/shipper/compactor/generationnumber/gennumber_client_test.go
  pkg/storage/stores/shipper/compactor/generationnumber/gennumber_loader.go
  pkg/storage/stores/shipper/compactor/generationnumber/gennumber_loader_test.go
  pkg/storage/stores/shipper/compactor/generationnumber/metrics.go
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/config.libsonnet
Labels: size/XL

#5904 Use new build image 0.20.3
  .drone/drone.yml
  .golangci.yml
  Makefile
  pkg/ingester/ingester.go
  pkg/storage/stores/tsdb/index/index.go
Labels: size/S

#5785 Ensure proto definitions are formatted [1/2]
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#5992 fixed gelfTarget of promtail
  clients/pkg/promtail/targets/gelf/gelftarget.go
  clients/pkg/promtail/targets/gelf/gelftarget_test.go
  go.mod
  go.sum
  vendor/github.com/grafana/go-gelf/v2/LICENSE
  vendor/github.com/grafana/go-gelf/v2/gelf/defragmentator.go
  vendor/github.com/grafana/go-gelf/v2/gelf/message.go
  vendor/github.com/grafana/go-gelf/v2/gelf/reader.go
  vendor/github.com/grafana/go-gelf/v2/gelf/tcpreader.go
  vendor/github.com/grafana/go-gelf/v2/gelf/tcpwriter.go
  vendor/github.com/grafana/go-gelf/v2/gelf/udpwriter.go
  vendor/github.com/grafana/go-gelf/v2/gelf/utils.go
  vendor/github.com/grafana/go-gelf/v2/gelf/writer.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/gopkg.in/Graylog2/go-gelf.v2/gelf/reader.go
  vendor/modules.txt
Labels: size/L

#6015 Remove references to cortex
  docs/sources/configuration/_index.md
  pkg/storage/chunk/client/azure/blob_storage_client.go
Labels: size/M

#5987 operator: logerr v2 update
  operator/CHANGELOG.md
  operator/cmd/loki-broker/main.go
  operator/cmd/size-calculator/main.go
  operator/controllers/internal/management/state/state.go
  operator/controllers/internal/management/state/state_test.go
  operator/controllers/lokistack_controller.go
  operator/controllers/lokistack_controller_test.go
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/internal/gateway/base_domain.go
  operator/internal/handlers/internal/gateway/modes.go
  operator/internal/handlers/internal/gateway/tenant_configmap.go
  operator/internal/handlers/internal/gateway/tenant_configmap_test.go
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/internal/secrets/secrets.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/build.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/internal/alerts/build.go
  operator/internal/manifests/internal/config/build.go
  operator/internal/manifests/internal/gateway/build.go
  operator/internal/manifests/mutate.go
  operator/internal/manifests/mutate_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/service_monitor.go
  operator/internal/sizes/predict.go
  operator/internal/status/components.go
  operator/internal/status/lokistack.go
  operator/internal/status/status.go
  operator/main.go
Labels: size/L, sig/operator

#6025 Disable calling new index-gateway client's API.
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_gateway_store_test.go
Labels: size/M, backport k95

#6026 Remove empty match within concat of regex
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
Labels: size/S

#6034 Revendor `grafana/tail` to fix promtail symlink behavior
  go.mod
  go.sum
  vendor/github.com/hpcloud/tail/tail_posix.go
  vendor/modules.txt
Labels: size/XS

#6042 Loki: Add a configurable ability to fudge incoming timestamps for guaranteed query sort order when receiving entries for the same stream that have duplicate timestamps.
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
Labels: size/L

#5946 Add better observability to queryReadiness
  pkg/storage/stores/shipper/downloads/table_manager.go
Labels: size/XS

#5939 Docs: revise getting started guide
  docs/sources/getting-started/_index.md
  docs/sources/getting-started/get-logs-into-loki.md
  docs/sources/getting-started/simple-scalable-test-environment.png
  docs/sources/installation/simple-scalable-docker.md
  docs/sources/operations/grafana.md
  docs/sources/operations/troubleshooting.md
  docs/sources/tools/_index.md
  docs/sources/tools/logcli.md
  examples/README.md
  examples/getting-started/README.md
  examples/getting-started/docker-compose.yaml
  examples/getting-started/loki-config.yaml
  examples/getting-started/promtail-local-config.yaml
  production/simple-scalable/.dockerignore
  production/simple-scalable/.gitignore
  production/simple-scalable/promtail-config.yaml
Labels: size/L, backport release-2.5.x

#6028 Add query scheduler to "Read Resources" mixin dashboard
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Labels: size/S

#6051 Docs: PR 5387 redo - Warn ECS users to avoid plain text creds
  docs/sources/clients/aws/ecs/_index.md
Labels: size/XS, backport release-2.5.x

#6046 Chore: Upgrade inet.af/netaddr for compatibility with Go 1.18
  go.mod
  go.sum
  vendor/go4.org/unsafe/assume-no-moving-gc/untested.go
  vendor/inet.af/netaddr/fuzz.go
  vendor/inet.af/netaddr/ipset.go
  vendor/inet.af/netaddr/netaddr.go
  vendor/modules.txt
Labels: size/L

#6045 Improve series store index queries
  pkg/storage/stores/series/index/caching_index_client.go
  pkg/storage/stores/series/index/schema_util.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series/series_store_utils.go
Labels: size/M

#6048 operator: Merge gh index page with README.md to link to docs
  operator/README.md
  operator/index.md
Labels: size/M, sig/operator, area/docs

#5879 Add filter parameter to rebound so lines can be deleted by the compactor
  CHANGELOG.md
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/facade.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/loki/modules.go
  pkg/storage/chunk/bigchunk.go
  pkg/storage/chunk/interface.go
  pkg/storage/stores/shipper/compactor/compactor.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request.go
  pkg/storage/stores/shipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/shipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/shipper/compactor/deletion/validation.go
  pkg/storage/stores/shipper/compactor/deletion/validation_test.go
  pkg/storage/stores/shipper/compactor/retention/expiration.go
  pkg/storage/stores/shipper/compactor/retention/expiration_test.go
  pkg/storage/stores/shipper/compactor/retention/retention.go
  pkg/storage/stores/shipper/compactor/retention/retention_test.go
  pkg/util/filter/filter_function.go
Labels: size/XL

#5998 docker-compose: Disable auth in Grafana
  tools/dev/loki-boltdb-storage-s3/docker-compose.yml
Labels: size/XS

#6000 Ensure proto definitions are formatted [2/2]
  .drone/drone.yml
  Makefile
  pkg/ingester/checkpoint.pb.go
  pkg/ingester/checkpoint.proto
  pkg/ingester/client/ingester.pb.go
  pkg/ingester/client/ingester.proto
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logproto/metrics.proto
  pkg/logqlmodel/stats/stats.proto
  pkg/lokifrontend/frontend/v1/frontendv1pb/frontend.proto
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.proto
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.proto
  pkg/querier/stats/stats.proto
  pkg/ruler/base/ruler.proto
  pkg/ruler/rulespb/rules.pb.go
  pkg/ruler/rulespb/rules.proto
  pkg/scheduler/schedulerpb/scheduler.proto
  pkg/storage/chunk/client/grpc/grpc.proto
  pkg/storage/stores/series/index/caching_index_client.proto
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.pb.go
  pkg/storage/stores/shipper/indexgateway/indexgatewaypb/gateway.proto
Labels: size/XXL

#6014 Add IndexGateway Query Readiness Duration panel to `Loki - Reads Resources` dashboard in production/loki-mixin
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Labels: component/loki, size/XS

#6018 Decrease log level for "failed to put to memcached"
  pkg/storage/chunk/cache/memcached.go
Labels: size/XS

#6044 Improve batching in boltdb index
  pkg/storage/chunk/client/local/boltdb_index_client.go
  pkg/storage/chunk/client/local/boltdb_index_client_test.go
Labels: size/L

#6030 Add metrics to range mapper
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/mapper_metrics.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/querier/queryrange/metrics.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_range.go
Labels: size/L

#6055 Improve index entries deduping and concurrency
  pkg/storage/stores/shipper/util/queries.go
  pkg/storage/stores/shipper/util/queries_test.go
Labels: size/L
