Repository grafana/loki, pull requests merged in 2022-11, with the labels that each got.

#7558 Remove CTA per @grafanawriter.
  docs/sources/installation/_index.md
Labels: size/XS, type/docs

#7526 Add terraform snippets to Promtail GCP Logs documentation
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/M, type/docs

#7562 Adds extra docs to flehs out ParseLabels implementation
  pkg/logql/syntax/parser.go
Labels: size/S

#7557 Remove CTA per @grafanawriter.
  docs/sources/_index.md
Labels: type/docs

#7547 Fixing a typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#7211 fix(loki-canary): Send to Loki after updating `totalEntries`.
  pkg/canary/writer/writer.go
Labels: size/XS

#7428 [CI] improvement of code coverage check
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#7525 [Helm] Add toggle for MetricsInstance
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/monitoring/metrics-instance.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#7564 Track rates per stream and per tenant
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_test.go
  pkg/distributor/shard_tracker.go
  pkg/distributor/shard_tracker_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_rate_calculator.go
  pkg/ingester/stream_rate_calculator_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/XL

#7559 Remove CTA per @grafanawriter.
  docs/sources/getting-started/_index.md
Labels: size/XS, type/docs

#7577 Fix Promtail GCP Logs diagram route
  docs/sources/clients/promtail/gcplog-cloud.md
Labels: size/XS, type/docs

#7579 Retry pr
  cmd/logcli/main.go
  docs/sources/tools/logcli.md
  pkg/logcli/client/client.go
Labels: size/L, type/docs

#7580 Fix Hugo build for docs
  docs/sources/installation/helm/_index.md
  docs/sources/installation/helm/concepts.md
Labels: size/XS, type/docs

#7581 add user-id transformer for logs results cache
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/log_result_cache_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#7514 [helm] Document helm migration from `loki-distributed`
  docs/sources/installation/helm/migrate-from-distributed/index.md
Labels: size/L, type/docs

#7583 Reduce number of locks and partition by tenant and stream hash
  pkg/ingester/stream_rate_calculator.go
Labels: size/M

#7522 Improves performance of json responses
  pkg/util/marshal/marshal.go
Labels: size/S

#7596 operator: Fix lookup CA Bundle options on fresh install
  operator/CHANGELOG.md
  operator/internal/handlers/internal/certificates/options.go
Labels: size/XS, sig/operator

#7453 Add single compactor http client for delete and gennumber clients
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/stores/indexshipper/compactor/compactor_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
Labels: size/L, backport release-2.7.x

#7448 operator: Add TLS support for compactor client
  operator/CHANGELOG.md
  operator/internal/manifests/querier.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/service_test.go
Labels: size/M, sig/operator

#7592 operator: Update API docs generation using gen-crd-api-reference-docs
  operator/.bingo/Variables.mk
  operator/.bingo/gen-crd-api-reference-docs.mod
  operator/.bingo/gen-crd-api-reference-docs.sum
  operator/.bingo/hugo.mod
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/Makefile
  operator/apis/config/v1/doc.go
  operator/apis/loki/register.go
  operator/apis/loki/v1/doc.go
  operator/apis/loki/v1/groupversion_info.go
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1beta1/doc.go
  operator/apis/loki/v1beta1/groupversion_info.go
  operator/config/docs/config.json
  operator/config/docs/templates/members.tpl
  operator/config/docs/templates/pkg.tpl
  operator/config/docs/templates/type.tpl
  operator/docs/operator/api.md
  operator/docs/operator/feature-gates.md
  operator/website/config.toml
Labels: size/XXL, sig/operator

#7599 Keep rates in the ratestore for 10 minutes
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_test.go
Labels: size/M

#7604 [Docs] Typo on Helm Install Loki in Scaleable mode
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/XS, type/docs

#7538 Loki: Fix index_set log message
  pkg/storage/stores/indexshipper/downloads/index_set.go
Labels: size/XS

#7582 Improve CRI format documentation
  docs/sources/clients/promtail/stages/cri.md
Labels: size/XS, type/docs

#7461 Promtail: Fix collecting userdata field from Windows Event Log
  CHANGELOG.md
  clients/pkg/promtail/targets/windows/format.go
  clients/pkg/promtail/targets/windows/target_test.go
Labels: size/XS

#7532 Querier: remove expensive & low-value debug log line
  pkg/storage/stores/series/index/caching_index_client.go
Labels: size/XS

#7606 added empty changelog section for the next release
  CHANGELOG.md
Labels: size/M

#7609 use fifocache.duration instead of fifocache.interval in warn deprecated
  pkg/storage/chunk/cache/fifo_cache.go
Labels: size/XS

#7602 Loki: implement decolorize filter
  CHANGELOG.md
  clients/pkg/logentry/stages/decolorize.go
  clients/pkg/logentry/stages/decolorize_test.go
  clients/pkg/logentry/stages/stage.go
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/decolorize.md
  docs/sources/logql/log_queries.md
  docs/sources/logql/query_examples.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser_test.go
Labels: size/XXL, type/docs

#7266 loki helm chart: fix indentation in single-binary pdb template
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/single-binary/pdb.yaml
Labels: size/XS, area/helm

#7612 operator: Increase lint timeout to 5m0s
  operator/Makefile
Labels: size/XS, sig/operator

#6908 Add docs for jsonnet SSD example
  production/ksonnet/loki-simple-scalable/example/README.md
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
Labels: size/S

#7527 [Helm] fix typos in parameter descriptions
  docs/sources/installation/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#7618 updated chart version to 3.3.2 to release merged changes
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#7622 Docs: Add missing changelog entry for stream sharding
  CHANGELOG.md
Labels: size/XS, backport release-2.7.x

#6464 fluent-bit: clarify docs, use 1.9.9
  Makefile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/fluent-bit/README.md
Labels: size/M

#5970 fix ingester: grpc method=/logproto.Querier/Query fail.
  pkg/ingester/instance.go
Labels: size/S

#7392 batchRetries to countersWithHost
  clients/pkg/promtail/client/client.go
Labels: size/XS

#6725 [fix] cassandra: reconnection when k8s cassandra pods restart
  pkg/storage/chunk/client/cassandra/storage_client.go
  pkg/storage/chunk/client/cassandra/table_client.go
Labels: size/L

#7394 [bugfix] add Promtail cloudflare close
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/target.go
  clients/pkg/promtail/targets/cloudflare/target_test.go
  clients/pkg/promtail/targets/cloudflare/util_test.go
Labels: size/L

#7555 Loki: Implement timeouts migration
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/loki/loki.go
  pkg/validation/limits.go
Labels: size/M

#7631 Swap direction in "The label identifier is always on the right side of the operation." sentence
  docs/sources/logql/log_queries.md
Labels: size/XS, type/docs

#7535 [Helm] Create metricsInstance only if available
  production/helm/loki/templates/monitoring/metrics-instance.yaml
Labels: size/XS, area/helm

#5400 promtail/server: Disable profiling by default
  CHANGELOG.md
  clients/pkg/promtail/server/server.go
  docs/sources/clients/promtail/configuration.md
Labels: keepalive, size/M, type/docs

#7637 Mention default port in docs
  docs/sources/operations/observability.md
Labels: size/XS, type/docs

#7588 modify usage stat metric unit to match definition
  pkg/ingester/flush.go
Labels: size/XS

#7587 Promtail: Add go build tag promtail_journal_enabled
  CHANGELOG.md
  Makefile
  README.md
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  clients/pkg/promtail/targets/journal/journaltarget.go
  clients/pkg/promtail/targets/journal/journaltarget_test.go
  clients/pkg/promtail/targets/journal/journaltargetmanager.go
  clients/pkg/promtail/targets/journal/journaltargetmanager_linux.go
  docs/sources/upgrading/_index.md
Labels: size/M, type/docs

#6360 fix: Hide this error message when ctx timeout occurs in s3.getObject
  CHANGELOG.md
  pkg/storage/batch.go
Labels: size/XS

#7645 Replace person with team for documentation reviews
  .github/CODEOWNERS
Labels: size/XS

#7634 Documentation: Add a more complex template example
  docs/sources/clients/promtail/stages/template.md
Labels: size/S, type/docs

#7632 lambda-promtail: Add kinesis data stream to use in terraform
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/README.md
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
Labels: size/M, type/docs

#7646 Update maintainers of documentation.
  MAINTAINERS.md
Labels: size/XS

#7651 adds Dropbox to the adopters list
  ADOPTERS.md
Labels: size/XS

#7617 operator: Modify ingestionRate for respective shirt size
  operator/CHANGELOG.md
  operator/internal/manifests/internal/sizes.go
Labels: size/XS, sig/operator

#7653 Promtail docs: Fix docker stage code example
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs

#7638 [helm] Ignore single binary headless service from service-monitor
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/service-headless.yaml
Labels: size/XS, area/helm

#7462 Promtail: Exclude event message
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/windows/format.go
  clients/pkg/promtail/targets/windows/target_test.go
  docs/sources/clients/promtail/configuration.md
Labels: size/M, type/docs

#7627 Loki: Add querier config to loki helm
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#7662 Add config changes to upgrade guide
  CHANGELOG.md
  docs/sources/upgrading/_index.md
Labels: size/S, type/docs, backport release-2.7.x

#7661 Add 2.7 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v2-7.md
Labels: size/M, type/docs, backport release-2.7.x

#7670 docs: Fix refs on helm docs that breaks rendering new docs
  docs/sources/installation/helm/_index.md
  docs/sources/installation/helm/concepts.md
Labels: size/XS, type/docs

#7668 docs/upgrading: Add a note about windows event log fix
  docs/sources/upgrading/_index.md
Labels: size/XS, type/docs

#7384 operator: Add provision for the user to set proxy env variables in the loki pods
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/docs/operator/feature-gates.md
  operator/go.mod
  operator/go.sum
  operator/internal/manifests/compactor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#7684 docs(embedded-cache): Add missing docs on config page.
  CHANGELOG.md
  docs/sources/configuration/_index.md
Labels: size/M, type/docs, backport release-2.7.x

#7702 operator: Fix broken links in README.md
  operator/README.md
Labels: size/S, sig/operator

#7711 operator: Remove default value from replicationFactor field
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
Labels: size/S, sig/operator

#7672 docs(v2.7.0): Minor tweaks on 2.7 release notes
  docs/sources/release-notes/v2-7.md
Labels: size/XS, type/docs, backport release-2.7.x

#7682 operator: Refactor proxy env variables
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/internal/openshift/proxy.go
  operator/internal/handlers/internal/openshift/proxy_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/proxy_env.go
  operator/internal/manifests/proxy_env_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#7716 operator: Migrate API docs generation tool
  operator/.bingo/Variables.mk
  operator/.bingo/gen-crd-api-reference-docs.mod
  operator/.bingo/gen-crd-api-reference-docs.sum
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/docs/operator/api.md
  operator/docs/operator/feature-gates.md
Labels: size/L, sig/operator

#7718 operator: Fix api doc generation
  operator/Makefile
  operator/docs/operator/api.md
Labels: size/S, sig/operator

#7721 Serialize query JSON response in a stream.
  pkg/loghttp/entry.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
Labels: size/L

#7720 fix bugs in processing delete requests with line filters and add proper tests
  CHANGELOG.md
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
Labels: size/L

#7681 Just remove some spaces
  production/docker/config/promtail.yaml
Labels: size/XS

#7736 Make the `test` stage depend on `check-generated-files`
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#7537 Correct Helm documentation aliases.
  docs/sources/installation/helm/_index.md
  docs/sources/installation/helm/concepts.md
  docs/sources/installation/helm/configure-storage/index.md
  docs/sources/installation/helm/install-monolithic/index.md
  docs/sources/installation/helm/install-scalable/index.md
  docs/sources/installation/helm/monitor-and-alert/index.md
  docs/sources/installation/helm/reference.md
  docs/sources/installation/helm/upgrade-from-2.x/index.md
  production/helm/loki/reference.md.gotmpl
Labels: size/M, area/helm, type/docs

#7458 Update references to 2.6.1 binaries to 2.7.0
  docs/sources/installation/docker.md
  docs/sources/installation/local.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
  tools/promtail.sh
Labels: size/L, type/docs, backport release-2.7.x

#7740 operator: Fix handling of Request requeues
  operator/controllers/loki/alertingrule_controller.go
  operator/controllers/loki/certrotation_controller.go
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/recordingrule_controller.go
  operator/controllers/loki/rulerconfig_controller.go
Labels: size/M, sig/operator

#7743 helm/loki: Allow to provide selector for Loki persistence volume
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#7744 operator: Fix object storage TLS spec CAKey descriptor
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#7746 helm/loki: Remove extra `/` if `registry` or `repository` is empty
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#7635 Refactor nix to make it easier to import into other projects
  flake.nix
  nix/README.md
  nix/build-vars.nix
  nix/default.nix
  nix/generate-build-vars.sh
  nix/loki.nix
Labels: size/L

#7695 [helm] Fix read-only /tmp in single-binary mode
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/S, area/helm

#7725 changed the URL to LogQL Analyzer backend v2.7.0
  docs/sources/logql/analyzer/script.js
Labels: size/XS, type/docs

#7731 Examples: Add healthckecks in docker example
  CHANGELOG.md
  examples/getting-started/docker-compose.yaml
Labels: size/S

#7752 [loki-mixin] Improve error logs query in operational dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/S

#7738 operator: Move Loki TLS configuration into ConfigMap
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/config.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/service.go
  operator/internal/manifests/service_test.go
Labels: size/XXL, sig/operator

#7755 Only check mixin on file changes.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#7756 [loki-mixin] Make "Success Rate" panels in operational dashboard more accurate
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/M

#7759 config: Improve error message loading config with ENV variables.
  CHANGELOG.md
  pkg/util/cfg/files.go
Labels: size/XS

#7747 Only release Helm Chart when version changed.
  .github/workflows/helm-release.yaml
Labels: size/XS

#7663 Update release instructions
  docs/sources/maintaining/release.md
Labels: size/XS, type/docs

#7758 Fix label selector for gateway service in operational dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/M

#7745 Return error on JSON serialization error.
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
Labels: size/M

#7530 [helm] Fix incorrect ingress paths when using single binary deployment
  docs/Makefile
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/ingress.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#7715 [CI/CD] fixed step `deploy`
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#7708 Loki: Fix multitenant querying
  CHANGELOG.md
  integration/cluster/cluster.go
  integration/multi_tenant_queries_test.go
  pkg/logql/engine.go
  pkg/querier/http.go
  pkg/querier/queryrange/querysharding.go
Labels: size/L, backport release-2.7.x

#7767 operator: Fix docs AWS storage uses bucketnames
  operator/docs/lokistack/object_storage.md
Labels: size/XS, sig/operator

#7770 chore(tools): Update promtail image version
  tools/promtail.sh
Labels: size/XS

#7769 Split parallelism across Period Configs
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/limits.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/queryrangebase/util.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/validation/limits.go
Labels: size/L

#7772 Add closing code block backticks
  docs/sources/logql/template_functions.md
Labels: size/XS, type/docs

#7774 [release-2.7.x] backport of #7715
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S, backport

#7785 Querier/Ruler: query blocker
  CHANGELOG.md
  docs/sources/operations/blocking-queries.md
  pkg/logcli/client/file.go
  pkg/logql/blocker.go
  pkg/logql/blocker_test.go
  pkg/logql/engine.go
  pkg/logql/limits.go
  pkg/logqlmodel/error.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/server/error.go
  pkg/util/validation/blocked_queries.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#7786 Recut k126 with #7785
  CHANGELOG.md
  docs/sources/operations/blocking-queries.md
  pkg/logcli/client/file.go
  pkg/logql/blocker.go
  pkg/logql/blocker_test.go
  pkg/logql/engine.go
  pkg/logql/limits.go
  pkg/logqlmodel/error.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/server/error.go
  pkg/util/validation/blocked_queries.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#7593 Promtail: Add tenant label to client drop metrics and logs
  CHANGELOG.md
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/client_test.go
Labels: size/M

#7779 [Docs] Fix helm loki examples links
  production/helm/loki/docs/examples/README.md
Labels: size/XS, area/helm

#7776 [Docs] Typo: Fix path build promtail
  docs/sources/community/contributing.md
Labels: size/XS, type/docs

#7793 Update delve version to be compatible with Go 1.19
  cmd/loki/Dockerfile.debug
  loki-build-image/Dockerfile
Labels: size/XS

#7795 Improvements to loki-build-image build & release process
  .drone/drone.jsonnet
  .drone/drone.yml
  docs/sources/maintaining/release-loki-build-image.md
  loki-build-image/version-updater.sh
Labels: size/M, type/docs

#7796 Completing step 2 of updating loki-build-image
  .circleci/config.yml
  .drone/drone.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/querytee/Dockerfile.cross
  docs/sources/maintaining/release-loki-build-image.md
  operator/Dockerfile.cross
Labels: size/M, sig/operator, type/docs

#7797 docs(embedded-cache): config uses embedded_cache
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs

#7652 Update Ingester Rate Calculations
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream_rate_calculator.go
  pkg/ingester/stream_rate_calculator_test.go
Labels: size/L

#7800 fifocache config is deprecated. use embedded-cache instead
  pkg/loki/modules.go
Labels: size/XS

#7690 Docs - Move PR's in CHANGELOG.md that weren't actually implemented in 2.7.x
  CHANGELOG.md
Labels: size/XS

#7790 Log rule changes through API.
  pkg/ruler/base/api.go
Labels: size/S

#7791 helm/loki: Allow to override default loki `target`
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#7753 operator: Check for mandatory CA configmap name in ObjectStorageTLS spec
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/bases/loki-operator.clusterserviceversion.yaml
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
Labels: size/M, sig/operator

#7302 fluent-bit: Update the Fluent Bit plugin README with correct golang minimum version
  clients/cmd/fluent-bit/README.md
Labels: size/XS

#7380 [performance] metrics query: range vector support streaming agg when no overlap
  CHANGELOG.md
  pkg/logql/evaluator.go
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
Labels: size/XL

#7656 Provide Terraform script for setting up S3 and document role based access.
  docs/sources/installation/helm/configure-storage/index.md
  docs/sources/operations/storage/_index.md
  docs/sources/storage/_index.md
  production/terraform/modules/s3/main.tf
  production/terraform/modules/s3/outputs.tf
  production/terraform/modules/s3/variables.tf
  production/terraform/modules/s3/versions.tf
Labels: size/L, type/docs

#7762 Loki: Add new sharding metrics (histogram based)
  pkg/distributor/ratestore.go
  pkg/distributor/ratestore_metrics.go
Labels: size/S

#7808 operator: Replace fifocache usage by embedded_cache
  operator/CHANGELOG.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/L, sig/operator

#7809 operator: Fix histogram-based alerting rules
  operator/CHANGELOG.md
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
Labels: size/XS, sig/operator

#7784 [bugfix] Remove hardwired '127.0.0.1' values in default addresses
  CHANGELOG.md
  pkg/loki/modules.go
  pkg/querier/worker_service.go
Labels: size/S

#7812 operator: Fix alert unit tests
  operator/internal/manifests/internal/alerts/testdata/test.yaml
Labels: size/XS, sig/operator

#7701 loki-canary: respect `useTLS` flag when `push` mode is enabled.
  cmd/loki-canary/main.go
  pkg/canary/writer/push.go
  pkg/canary/writer/push_test.go
Labels: size/S

#7771 promtail: Handle nil error on target Details() call
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/target.go
  clients/pkg/promtail/targets/docker/target.go
Labels: size/S

#7804 use grpc for communicating with compactor for query time filtering of data requested for deletion
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/common/common.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/storage/stores/indexshipper/compactor/client/grpc.go
  pkg/storage/stores/indexshipper/compactor/client/grpc/grpc.pb.go
  pkg/storage/stores/indexshipper/compactor/client/grpc/grpc.proto
  pkg/storage/stores/indexshipper/compactor/client/http.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/compactor_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_manager_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/grpc_request_handler.go
  pkg/storage/stores/indexshipper/compactor/deletion/grpc_request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/deletion/metrics.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_client.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_client_test.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader_test.go
Labels: size/XXL, type/docs

#7500 [Helm] Add support for azure blob storage
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/serviceaccount.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#7607 [release-2.7.x] Add single compactor http client for delete and gennumber clients
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/stores/indexshipper/compactor/compactor_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
Labels: size/L

#7814 fix lint issues from PR 7804
  clients/pkg/promtail/targets/cloudflare/fields.go
  clients/pkg/promtail/targets/lokipush/pushtargetmanager_test.go
  integration/loki_micro_services_delete_test.go
  pkg/logql/syntax/lex.go
  pkg/logqlmodel/logqlmodel.go
  pkg/logqlmodel/metadata/context_test.go
  pkg/querier/queryrange/queryrangebase/middleware_test.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/storage/stores/indexshipper/compactor/client/grpc.go
  pkg/storage/stores/indexshipper/compactor/client/http.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_request.go
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/indexshipper/compactor/deletion/grpc_request_handler_test.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader.go
  pkg/util/marshal/marshal.go
Labels: size/M

#7576 [Helm] Remove unused value and set default values explicitly
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#7815 operator: Apply delete client changes for compat with release-2.7.x
  operator/CHANGELOG.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/XS, sig/operator
