Repository grafana/loki, pull requests merged in 2023-11, with the labels that each got.

#11101 Update the helm-chart-testing action in the CI
  .github/workflows/helm-ci.yml
Labels: size/XS

#11102 Remove timeout parameter
  .github/workflows/helm-ci.yml
  production/helm/ct.yaml
Labels: size/XS, area/helm

#11097 Bring back RED metrics for querier when processing scheduler requests.
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/instrument.go
Labels: size/M, type/bug, backport k173

#11086 Helm: Allow topologySpreadConstraints
  CHANGELOG.md
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/gateway/deployment-gateway.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#11051 Stop using global logger in modules
  CHANGELOG.md
  clients/pkg/promtail/targets/windows/target.go
  cmd/querytee/main.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/recovery.go
  pkg/ingester/recovery_test.go
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/config.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/tail.go
  pkg/querier/tail_test.go
  pkg/storage/chunk/client/aws/metrics_autoscaling_test.go
  pkg/storage/chunk/client/testutils/testutils.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/series/index/table_manager.go
  pkg/storage/stores/series/index/table_manager_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/util/net.go
  tools/querytee/instrumentation.go
  tools/querytee/proxy_endpoint.go
Labels: size/L

#10989 embedded cache refactoring
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/embeddedcache_test.go
Labels: size/L

#11070 Add series population to tokenizer
  pkg/storage/bloom/v1/bloom_tokenizer.go
  tools/tsdb/bloom-tester/lib.go
Labels: size/M

#11114 Update golangci-lint to 1.55.1.
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#11118 Use newest build image 0.31.2 with golangci-lint update.
  .drone/drone.yml
  .golangci.yml
  Makefile
  clients/pkg/logentry/stages/metrics.go
  clients/pkg/logentry/stages/pack_test.go
  integration/cluster/cluster.go
  pkg/bloomgateway/querier_test.go
  pkg/bloomgateway/sharding.go
  pkg/logcli/client/client.go
  pkg/logcli/query/part_file.go
  pkg/loghttp/push/otlp_test.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/querier/http.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/worker_service_test.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/filter/buckets.go
  pkg/storage/bloom/v1/filter/partitioned.go
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/chunk/client/congestion/config.go
  pkg/storage/config/store.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client_test.go
  tools/deprecated-config-checker/main.go
  tools/doc-generator/writer.go
  tools/tsdb/bloom-tester/concurrent.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/lrucache_test.go
  tools/tsdb/bloom-tester/main.go
  tools/tsdb/bloom-tester/metrics.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/readlib_test.go
Labels: size/L

#11113 Check switches on syntax.Expr for exhaustiveness.
  .golangci.yml
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/optimize.go
  pkg/logql/rangemapper.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/walk.go
  pkg/logql/syntax/walk_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/M

#10978 docs: add migration guide for tsdb
  docs/sources/setup/migrate/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
Labels: size/M, type/docs

#11026 add documentation on how to use otel collector for ingesting logs to loki
  docs/sources/send-data/_index.md
  docs/sources/send-data/otel/_index.md
Labels: size/L, type/docs

#11124 [Style] Data source as two words.
  docs/sources/configure/examples/query-frontend.md
  docs/sources/get-started/_index.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/troubleshooting.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/visualize/grafana.md
Labels: size/S, type/docs

#11125 [Style] Update timeseries to time series.
  docs/sources/query/_index.md
Labels: size/XS, type/docs

#11082 Add dashboard changes for migrating from cortex_ metrics to loki_ metrics
  docs/sources/configure/_index.md
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/distributor/clientpool/ingester_client_pool.go
  pkg/distributor/distributor.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier_test.go
  pkg/ruler/base/manager.go
  pkg/ruler/base/manager_metrics.go
  pkg/ruler/base/manager_metrics_test.go
  pkg/storage/chunk/client/aws/metrics_autoscaling.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client_test.go
  production/helm/loki/src/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Labels: size/L, area/helm, type/docs

#11110 Change default of metrics.namespace
  CHANGELOG.md
  cmd/migrate/main.go
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_test.go
  pkg/loki/loki.go
Labels: size/M, type/docs

#11109 Update changed metrics in docs
  docs/sources/operations/autoscaling_queriers.md
  docs/sources/operations/observability.md
  docs/sources/operations/scalability.md
  docs/sources/operations/shuffle-sharding/_index.md
Labels: size/S, type/docs

#11104 Jsonnet: Fix unit used by per-pod latency panel
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/L

#11023 operator: Disable update of repo-internal dependencies
  .github/renovate.json
Labels: size/XS

#11013 Helm: Add support for dnsmasq
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/gateway/deployment-gateway.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#11126 add tests for log volume middleware
  pkg/querier/queryrange/volume_test.go
Labels: size/M

#11096 add vulnerability scanning github action
  .github/workflows/vulnerability-scan.yml
Labels: size/M

#11128 Fix typos in helm chart upgrade guide
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Labels: size/S, type/docs, backport release-2.9.x

#9609 Correct checksum config path for Helm chart.
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#11130 Build loki-build-image for multiple architectures.
  .drone/docker-manifest-build-image.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  docs/sources/community/maintaining/release/patch-go-version.md
  loki-build-image/Dockerfile
Labels: size/L, type/docs

#11056 [release-2.9.x] fix: respect query matcher in ingester when getting label values (#10375)
  CHANGELOG.md
  pkg/ingester/ingester.go
Labels: size/S

#11074 fix(tools/lambda-promtail): not evaluate empty string for drop_labels
  CHANGELOG.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/main_test.go
Labels: size/S

#11121 fix: All lifecycler cfgs ref a valid IPv6 addr and port combination
  CHANGELOG.md
  pkg/distributor/distributor_ring.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/ring/ring_config.go
Labels: size/S, type/bug, backport release-2.9.x

#11127 Use correct plugin name for fluentbit ecs task
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#11106 operator: Update skipRange for next OpenShift release
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#11129 operator: Update deps to secure webhooks for CVE-2023-44487
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community/manager_auth_proxy_patch.yaml
  operator/go.mod
  operator/go.sum
Labels: size/M, sig/operator

#11147 Extract query tags from HTTP requests.
  pkg/querier/queryrange/codec.go
  pkg/util/httpreq/tags.go
Labels: size/S, missing-labels, backport k173, backport k174

#11164 Loki: fix mapping of non-retryable error codes
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/querier/worker/util.go
Labels: size/M

#11157 Revert "Introduces cache to TSDB postings (#9621)"
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  pkg/storage/stores/shipper/indexshipper/tsdb/util_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Labels: size/XXL, type/docs, type/bug

#11168 Backport 11157 to k174.
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  pkg/storage/stores/shipper/indexshipper/tsdb/util_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Labels: size/XXL, type/docs

#11115 Add first step for creating a single bloom from series
  docs/sources/configure/_index.md
  pkg/bloomcompactor/TODO.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/stores/shipper/bloomshipper/client.go
Labels: size/L, type/docs

#11136 always align volume range timestamp to end of step
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/volume.go
  pkg/querier/queryrange/volume_test.go
Labels: size/M

#11148 Default build-image target arch to amd64
  Makefile
Labels: size/XS

#11176 Propagate query metrics and cache num information.
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/definitions/interface.go
  pkg/querier/queryrange/queryrangebase/middleware.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/views.go
Labels: size/M

#11178 Return checksum from BuildFrom function
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
Labels: size/M

#11133 Tokenizer tests and TokenizeLine updates
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/readlib_test.go
Labels: size/L

#11151 config: remove flags & YAML settings deprecated in 2.9.x
  CHANGELOG.md
  clients/cmd/promtail/main.go
  clients/pkg/logentry/stages/drop_test.go
  clients/pkg/logentry/stages/labelallow_test.go
  clients/pkg/logentry/stages/labeldrop_test.go
  clients/pkg/logentry/stages/multiline_test.go
  clients/pkg/logentry/stages/pack_test.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/windows/target_test.go
  cmd/logql-analyzer/main.go
  cmd/loki/main.go
  cmd/querytee/main.go
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_test.go
  pkg/compactor/client/http.go
  pkg/compactor/compactor.go
  pkg/compactor/retention/util_test.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/loki/loki.go
  pkg/ruler/base/compat.go
  pkg/ruler/base/compat_test.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util_test.go
  pkg/util/log/log.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deleted-config.yaml
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
  tools/doc-generator/parse/root_blocks.go
  tools/tsdb/helpers/setup.go
  tools/tsdb/migrate-versions/main.go
Labels: size/L, type/docs

#11180 Fix S3 Helm example
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10899 feat(logstash): clients logstash output structured metadata support
  clients/cmd/logstash/lib/logstash/outputs/loki.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/batch.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/entry.rb
  clients/cmd/logstash/logstash-output-loki.gemspec
  clients/cmd/logstash/loki-metadata.conf
  clients/cmd/logstash/loki.conf
  clients/cmd/logstash/spec/outputs/loki/entry_spec.rb
  clients/cmd/logstash/spec/outputs/loki_spec.rb
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/send-data/logstash/_index.md
Labels: size/L, type/docs

#11187 chore(jsonnet): Upgrade memcached-exporter to `0.11.3`
  production/ksonnet/loki/images.libsonnet
Labels: size/XS

#11200 Update to latest version of doc-validator
  .github/workflows/doc-validator.yml
Labels: size/XS

#11204 Followups #11154
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/job.go
  pkg/bloomcompactor/metrics.go
Labels: size/S

#10956 Define QueryResponse and QueryRequest protobufs.
  .golangci.yml
  CHANGELOG.md
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/loki/loki.go
  pkg/lokifrontend/frontend/transport/roundtripper.go
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
  pkg/lokifrontend/frontend/v2/frontend_test.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.pb.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.proto
  pkg/lokifrontend/frontend/v2/testdata/k173.bin
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/extensions_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/marshal_test.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/definitions/interface.go
  pkg/querier/queryrange/queryrangebase/middleware.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/views.go
  pkg/querier/stats/stats.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/querier/worker/util.go
  pkg/querier/worker/util_test.go
  pkg/querier/worker/worker.go
  pkg/querier/worker_service.go
  pkg/scheduler/limits/definitions.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/scheduler_test.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/scheduler/schedulerpb/scheduler.proto
  pkg/scheduler/testdata/frontend_to_scheduler_k173.bin
  pkg/scheduler/testdata/scheduler_to_querier_k173.bin
  pkg/util/httpgrpc/carrier.go
  pkg/util/httpreq/headers.go
  pkg/util/limiter/combined_limits.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/XXL, type/docs

#11203 Enable/disable bloom gateway per tenant
  docs/sources/configure/_index.md
  pkg/bloomgateway/client.go
  pkg/bloomgateway/config.go
  pkg/bloomgateway/sharding.go
  pkg/validation/limits.go
Labels: size/S, type/docs

#11209 populate empty resonse for IndexStatsResponse and VolumeResponse
  .github/workflows/vulnerability-scan.yml
  pkg/querier/queryrange/codec.go
Labels: size/S

#11224 [k174] populate empty resonse for IndexStatsResponse and VolumeResponse
  .github/workflows/vulnerability-scan.yml
  pkg/querier/queryrange/codec.go
Labels: size/XS, backport, type/bug

#11207 Return error if span context was not found
  pkg/scheduler/scheduler.go
  pkg/util/httpgrpc/carrier.go
Labels: size/S

#11230 Increase test coverage for AST serialization to >94%.
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/serialize_test.go
Labels: size/L

#11234 [bloom-compactor] Move meta.json creation at the end of compaction cycle
  pkg/bloomcompactor/TODO.md
  pkg/bloomcompactor/bloomcompactor.go
Labels: size/M

#11235 [bloom-compactor] Add configs to enable compactor per tenant
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/sharding_test.go
  pkg/validation/limits.go
Labels: size/S, type/docs

#10909 lambda-promtail: fix IAM policy for clouddwatch log stream
  tools/lambda-promtail/main.tf
Labels: size/XS

#8452 Update nix configuration
  .github/workflows/nix-ci.yaml
  .golangci.yml
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays/golangci-lint.nix
  nix/overlays/helm-docs.nix
  nix/packages/chart-releaser.nix
  nix/packages/faillint.nix
  nix/packages/loki.nix
  pkg/analytics/seed_test.go
  pkg/chunkenc/memchunk_test.go
  pkg/compactor/compactor_test.go
  pkg/distributor/instance_count_test.go
  pkg/iter/entry_iterator_test.go
  pkg/logql/range_vector_test.go
  pkg/loki/modules_test.go
  pkg/querier/querier_test.go
  pkg/storage/batch_test.go
  pkg/storage/chunk/client/local/boltdb_index_client_test.go
  tools/tsdb/tsdb-map/main_test.go
Labels: size/L

#11240 Do not run snyk pr comment workflow on forks
  .github/workflows/snyk-pr-comment.yml
  .github/workflows/trivy-pr-comment.yml
Labels: size/M

#11245 Fix per-pod panel unit (from 'ms' to 's')
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/S

#11232 operator: Update dependencies and dev tools
  operator/.bingo/Variables.mk
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/controllers/loki/alertingrule_controller.go
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/controllers/loki/lokistack_zone_labeling_controller.go
  operator/controllers/loki/lokistack_zone_labeling_controller_test.go
  operator/controllers/loki/recordingrule_controller.go
  operator/docs/operator/feature-gates.md
  operator/go.mod
  operator/go.sum
  operator/internal/external/k8s/builder.go
  operator/internal/external/k8s/client.go
  operator/internal/external/k8s/k8sfakes/fake_builder.go
  operator/internal/external/k8s/k8sfakes/fake_client.go
  operator/internal/handlers/internal/storage/ca_configmap_test.go
  operator/internal/status/lokistack.go
  operator/internal/validation/alertingrule.go
  operator/internal/validation/alertingrule_test.go
  operator/internal/validation/lokistack.go
  operator/internal/validation/lokistack_test.go
  operator/internal/validation/recordingrule.go
  operator/internal/validation/recordingrule_test.go
  operator/internal/validation/rulerconfig.go
  operator/internal/validation/rulerconfig_test.go
  operator/main.go
Labels: size/XL, sig/operator

#11195 ksonnet: generate tsdb_shipper storage_config even if using_boltdb_shipper is false
  CHANGELOG.md
  production/ksonnet/loki/shipper.libsonnet
Labels: size/XS

#11255 iterable tokenizer w/ comparison benching
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
Labels: size/L

#11248 inverts the logic when testing a block against a list of chunks
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
Labels: size/M

#11237 boundscheck & partitioning fingerprints between blocks
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/util.go
Labels: size/L

#9884 compactor: do not block compation when retention is taking too long
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/compactor/metrics.go
  pkg/compactor/table.go
  pkg/compactor/table_locker.go
Labels: size/L

#11243 inflight-logging: Add extra metadata to inflight requests logging
  CHANGELOG.md
  Makefile
  pkg/logql/blocker.go
  pkg/logql/blocker_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/roundtrip.go
  pkg/ruler/compat.go
  pkg/ruler/evaluator_jitter.go
  pkg/ruler/evaluator_remote.go
  pkg/util/hash_fp.go
Labels: size/L

#10932 operator: Adds new value v13 to schema
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/hack/lokistack_dev.yaml
  operator/hack/lokistack_gateway_dev.yaml
  operator/hack/lokistack_gateway_ocp.yaml
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
Labels: size/XL, sig/operator

#11022 operator: Remove outdated BoltDB dashboards
  operator/CHANGELOG.md
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/jsonnet/config.libsonnet
Labels: size/L, sig/operator

#11263 compaction: Separate metrics for tracking retention and compaction
  integration/loki_micro_services_delete_test.go
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/compactor/metrics.go
  production/loki-mixin-compiled-ssd/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin/dashboards/loki-retention.libsonnet
Labels: size/XL

#11251 Propagate trace ID with HTTP gRPC request.
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/instrument.go
Labels: size/S, missing-labels, backport k174, backport k175

#11268 [k174] Propagate trace ID with HTTP gRPC request. (#11251)
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/instrument.go
Labels: size/M

#11272 tokenizer v1 cleanup
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/lib_test.go
  tools/tsdb/bloom-tester/metrics.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/readlib_test.go
Labels: size/XXL

#11226 Fixed the grammatical mistake in an _index.md file
  docs/sources/alert/_index.md
Labels: size/XS, type/docs

#11242 Fix Typo in the _index.md
  docs/sources/setup/install/helm/configure-storage/_index.md
Labels: size/XS, type/docs

#11278 back-port inflight-logging: Add extra metadata to inflight requests logging
  CHANGELOG.md
  Makefile
  pkg/logql/blocker.go
  pkg/logql/blocker_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/roundtrip.go
  pkg/ruler/compat.go
  pkg/ruler/evaluator_jitter.go
  pkg/ruler/evaluator_remote.go
  pkg/util/hash_fp.go
Labels: size/L

#11186 [helm] Fix tracing configuration
  docs/sources/operations/troubleshooting.md
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#11276 utilities for reducing ngram allocations in token iterator construction
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
Labels: size/L

#11280 do not run retention loop when retention is not enabled
  pkg/compactor/compactor.go
Labels: size/M

#11246 Send query plan to querier.
  pkg/logcli/client/file.go
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
  pkg/logproto/indexgateway.pb.go
  pkg/logproto/indexgateway.proto
  pkg/logproto/sketch.pb.go
  pkg/logproto/sketch.proto
  pkg/logql/blocker.go
  pkg/logql/blocker_test.go
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/explain_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/test_utils.go
  pkg/querier/plan/plan.go
  pkg/querier/plan/plan_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_range.go
  pkg/querier/queryrange/split_by_range_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/queryrange/stats_test.go
  pkg/querier/worker/util_test.go
  pkg/ruler/evaluator_local.go
Labels: size/XL

#11291 Set query plan when copying LokiRequest
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
Labels: size/S

#11131 Added a new paragraph in the contribution guide about an error because it occurred to me and may occur to others also.
  CONTRIBUTING.md
Labels: size/XS

#11285 Fix bloom compactor startup when using unsupported index type
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/bloomcompactor_test.go
  pkg/bloomcompactor/sharding.go
  pkg/util/ring/sharding.go
Labels: size/L

#11214 made some typo changes in the caching.md file
  docs/sources/operations/caching.md
Labels: size/XS, type/docs, backport release-2.9.x

#11265 Update _index.md
  docs/sources/send-data/promtail/cloud/ec2/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#11300 Fix bloom compactor startup duplicate metric registration
  pkg/bloomcompactor/bloomcompactor.go
  production/docker/config/loki.yaml
Labels: size/XS

#11191 [Docs] Update Helm installation to include backend
  docs/sources/send-data/promtail/pipelines.md
  docs/sources/send-data/promtail/stages/match.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/L, type/docs

#11199 Document caveats for 2.x to 3.x loki helm chart upgrades
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Labels: size/S, type/docs

#11091 operator: Add automatic stream sharding support
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/sizes.go
Labels: size/XL, sig/operator

#11288 operator: Fix custom CA for object-store in ruler component
  operator/CHANGELOG.md
  operator/internal/manifests/ruler.go
Labels: size/XS, sig/operator

#11307 Revert "Compression of bloom blocks (#11267)"
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/bloom/v1/archive.go
  pkg/storage/bloom/v1/block_writer.go
  pkg/storage/bloom/v1/reader.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
Labels: size/L

#11201 bloom blocks downloading queue
  docs/sources/configure/_index.md
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/sharding.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/block_writer.go
  pkg/storage/bloom/v1/reader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#11313 bug(volume): return 400 error for invalid volume request
  clients/pkg/logentry/logql/parser.go
  pkg/logql/syntax/parser.go
  pkg/logqlmodel/error.go
  pkg/util/server/error.go
Labels: size/S

#11181 Bloom Gateway: Implement chunk filtering using workers that multiplex requests
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
  pkg/bloomgateway/worker.go
  pkg/querier/worker/worker.go
  pkg/queue/queue.go
  pkg/queue/util.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/XXL

#11321 Make Blooms-Gateway queue settings configurable
  docs/sources/configure/_index.md
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/config.go
  pkg/bloomgateway/sharding.go
Labels: size/M, type/docs

#11087 mixins: Adds structured metadata panels
  CHANGELOG.md
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/L

#11326 backporting #11199 to release-2.9.x branch
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Labels: size/S, type/docs

#11327 Fix broken Promtail link
  docs/sources/best-practices/_index.md
Labels: size/XS, type/docs

#11325 Categorized Labels: Return empty JSON object if no parsed nor structured metadata labels
  integration/loki_micro_services_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
Labels: size/S

#11094 operator: Add support for blocking queries per tenant
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/apis/loki/v1beta1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/config_test.go
  operator/internal/manifests/internal/config/build.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/options_test.go
  operator/internal/metrics/metrics.go
Labels: size/XL, sig/operator

#11329 Initial pass at metrics for bloom tokenizer
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  tools/tsdb/bloom-tester/lib.go
Labels: size/M

#11256 Helm: Add swift credentials and container name to common config
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#11145 Fix minimum Go version for module
  go.mod
  go.sum
Labels: size/M

#11337 Fix `or` filter not being stringified correctly
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/L
