Repository grafana/loki, pull requests merged in 2023-10, with the labels that each got.

#10562 operator: Add memberlist IPv6 support
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/v1.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/memberlist.go
  operator/internal/manifests/var.go
  operator/internal/validation/lokistack.go
  operator/internal/validation/lokistack_test.go
Labels: size/L, sig/operator

#10715 operator: Allow endpoint_suffix in azure object storage secret
  operator/CHANGELOG.md
  operator/docs/lokistack/object_storage.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/options.go
Labels: size/M, sig/operator

#10745 Update headings in deployment modes topic
  docs/sources/get-started/deployment-modes.md
Labels: size/XS, type/docs, backport release-2.9.x

#10736 Add deprecation node for write dedupe cache
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/storage/config/store.go
  pkg/storage/store.go
Labels: size/S, type/docs

#10778 Fix graphic link in Deployment Modes topic
  docs/sources/get-started/deployment-modes.md
Labels: size/XS, type/docs, backport release-2.9.x

#10613 Helm: allow GrafanaAgent tolerations
  CHANGELOG.md
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/monitoring/grafana-agent.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#10599 clients/pkg/promtail: tests no longer listen on 0.0.0.0
  clients/pkg/promtail/promtail_test.go
Labels: size/S

#10709 Do not transfer off chunks on ingester shutdown
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/ingester/checkpoint_test.go
  pkg/ingester/client/client.go
  pkg/ingester/flush.go
  pkg/ingester/ingester.go
  pkg/ingester/transfer.go
  pkg/ingester/transfer_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#10762 Update README file for docs
  CONTRIBUTING.md
  docs/README.md
Labels: size/M, type/docs

#10784 docs: fix promtail configuration sample for compressed files
  docs/sources/send-data/promtail/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10717 operator: Allow SSE settings in S3 object storage secret
  operator/CHANGELOG.md
  operator/docs/lokistack/object_storage.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/options.go
Labels: size/XL, sig/operator

#10519 helm: Add complete object schema to single-binary volumeClaimTemplate to avoid synchronization issues
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/S, area/helm

#10338 Helm: Allow emptyDir data volumes for backend and write
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#10795 operator: Update tools and dependencies
  .github/workflows/operator.yaml
  operator/.bingo/Variables.mk
  operator/.bingo/controller-gen.mod
  operator/.bingo/controller-gen.sum
  operator/.bingo/gofumpt.mod
  operator/.bingo/gofumpt.sum
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/kind.mod
  operator/.bingo/kind.sum
  operator/.bingo/kustomize.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/promtool.mod
  operator/.bingo/promtool.sum
  operator/.bingo/variables.env
  operator/apis/config/v1/zz_generated.deepcopy.go
  operator/apis/loki/go.mod
  operator/apis/loki/go.sum
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/apis/loki/v1beta1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_alertingrules.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_recordingrules.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/config/rbac/role.yaml
  operator/config/webhook/manifests.yaml
  operator/go.mod
  operator/go.sum
  operator/internal/manifests/internal/config/build_test.go
Labels: size/XL, sig/operator

#10768 Index Gateway: Set some concurrency limits around concurrent index table processing
  pkg/storage/stores/shipper/indexshipper/downloads/index_set.go
  pkg/storage/stores/shipper/indexshipper/downloads/table.go
  pkg/storage/stores/shipper/indexshipper/shipper.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_shipper_querier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index.go
Labels: size/M

#10780 Format + Library for building bloom filter "blocks" from chunks
  go.mod
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/pool.go
  pkg/chunkenc/pool_test.go
  pkg/chunkenc/symbols_test.go
  pkg/storage/bloom/spec.go
  pkg/storage/bloom/v1/TODO.md
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/block_writer.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_querier.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_querier.go
  pkg/storage/bloom/v1/index_test.go
  pkg/storage/bloom/v1/util.go
  pkg/util/encoding/encoding.go
Labels: size/XXL

#10804 Update build image to go 1.21.2 and alpine 3.18.4
  loki-build-image/Dockerfile
  loki-build-image/README.md
Labels: size/M

#10808 Force new build of build image
  loki-build-image/Dockerfile
Labels: size/XS

#10805 Update Go version to 1.21.2 in Dockerfiles
  .drone/drone.yml
  Makefile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  tools/lambda-promtail/Dockerfile
Labels: size/M

#10815 Pin grafana/docs-base image version.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#10833 Install docker buildx on build image.
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#10816 chore(renovate): Move the config to `.github` directory
  .github/renovate.json
  dependabot.yml
Labels: size/XS

#10838 Fix docker buildx install
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/XS

#10785 config: better defaults for querier max concurrency
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/querier/querier.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
  pkg/querier/worker_service.go
Labels: size/L, type/docs

#10843 Upgrade to Prometheus@4b9c19fe5510
  go.mod
  go.sum
  pkg/push/go.mod
  pkg/push/go.sum
  pkg/push/types.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  vendor/github.com/grafana/loki/pkg/push/types.go
  vendor/github.com/hashicorp/consul/api/acl.go
  vendor/github.com/hashicorp/consul/api/agent.go
  vendor/github.com/hashicorp/consul/api/api.go
  vendor/github.com/hashicorp/consul/api/config_entry.go
  vendor/github.com/hashicorp/consul/api/config_entry_jwt_provider.go
  vendor/github.com/hashicorp/consul/api/health.go
  vendor/github.com/hashicorp/consul/api/operator_audit.go
  vendor/github.com/hashicorp/consul/api/operator_raft.go
  vendor/github.com/hashicorp/consul/api/operator_usage.go
  vendor/github.com/hashicorp/consul/api/prepared_query.go
  vendor/github.com/prometheus/prometheus/discovery/manager.go
  vendor/github.com/prometheus/prometheus/model/labels/labels.go
  vendor/github.com/prometheus/prometheus/model/labels/labels_stringlabels.go
  vendor/github.com/prometheus/prometheus/model/rulefmt/rulefmt.go
  vendor/github.com/prometheus/prometheus/model/textparse/openmetricsparse.go
  vendor/github.com/prometheus/prometheus/model/textparse/promparse.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.pb.go
  vendor/github.com/prometheus/prometheus/prompb/io/prometheus/client/metrics.proto
  vendor/github.com/prometheus/prometheus/promql/engine.go
  vendor/github.com/prometheus/prometheus/promql/functions.go
  vendor/github.com/prometheus/prometheus/promql/quantile.go
  vendor/github.com/prometheus/prometheus/rules/manager.go
  vendor/github.com/prometheus/prometheus/scrape/scrape.go
  vendor/github.com/prometheus/prometheus/storage/buffer.go
  vendor/github.com/prometheus/prometheus/storage/merge.go
  vendor/github.com/prometheus/prometheus/storage/remote/azuread/azuread.go
  vendor/github.com/prometheus/prometheus/storage/remote/codec.go
  vendor/github.com/prometheus/prometheus/storage/remote/read_handler.go
  vendor/github.com/prometheus/prometheus/tsdb/compact.go
  vendor/github.com/prometheus/prometheus/tsdb/db.go
  vendor/github.com/prometheus/prometheus/tsdb/exemplar.go
  vendor/github.com/prometheus/prometheus/tsdb/head.go
  vendor/github.com/prometheus/prometheus/tsdb/head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postings.go
  vendor/github.com/prometheus/prometheus/tsdb/index/postingsstats.go
  vendor/github.com/prometheus/prometheus/tsdb/ooo_head_read.go
  vendor/github.com/prometheus/prometheus/tsdb/querier.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/checkpoint.go
  vendor/github.com/prometheus/prometheus/tsdb/wlog/wlog.go
  vendor/github.com/prometheus/prometheus/util/annotations/annotations.go
  vendor/github.com/prometheus/prometheus/util/stats/timer.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/modules.txt
Labels: size/M, type/chore

#10845 Fix some typos
  pkg/logql/syntax/extractor.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
Labels: size/XS, type/chore

#10793 config: loki better defaults
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  pkg/compactor/compactor.go
  pkg/ingester/ingester.go
  pkg/lokifrontend/config.go
  pkg/scheduler/scheduler.go
  pkg/storage/chunk/cache/memcached.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#10850 Remove -ingester.max-transfer-retries
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/wal.libsonnet
Labels: size/S

#10813 Helm: Fix GrafanaAgent tolerations scope
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/monitoring/grafana-agent.yaml
Labels: size/S, area/helm

#10411 clients/pkg/promtail/targets/gcplog: avoid listening on 0.0.0.0
  clients/pkg/promtail/targets/gcplog/push_target_test.go
  clients/pkg/promtail/targets/gcplog/target_test.go
Labels: size/M

#10849 helpers for tar+gz over bloom blocks
  pkg/storage/bloom/v1/TODO.md
  pkg/storage/bloom/v1/archive.go
  pkg/storage/bloom/v1/archive_test.go
Labels: size/L

#10857 test(TestRuleEval): Increase timeout on this integration test
  integration/loki_rule_eval_test.go
Labels: size/M

#10733 Support case insensetive logql keywords
  CHANGELOG.md
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
Labels: size/S

#10801 Replace `LokiLabelNamesRequest` with `logproto.LabelRequest`.
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/stats.go
Labels: size/L

#10854 operator: Add missing marker/sweeper panels in retention dashboard
  operator/CHANGELOG.md
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-retention.json
  operator/jsonnet/config.libsonnet
Labels: size/XL, sig/operator

#10798 fix(promtail): prevent panic due to duplicate metric registration after reloaded
  CHANGELOG.md
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/wal/watcher_metrics.go
Labels: size/M

#10848 fix(promtail): correctly parse list of drop stage sources from YAML
  CHANGELOG.md
  clients/pkg/logentry/stages/drop.go
  clients/pkg/logentry/stages/drop_test.go
Labels: size/S

#10877 Changes and updates to bloom-tester code
  tools/tsdb/bloom-tester/Dockerfile
  tools/tsdb/bloom-tester/Makefile
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/lib_test.go
  tools/tsdb/bloom-tester/lrucache.go
  tools/tsdb/bloom-tester/main.go
  tools/tsdb/bloom-tester/metrics.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/tokenizer.go
  tools/tsdb/bloom-tester/tokenizer_test.go
Labels: size/XXL

#10874 operator: Bump deps to address CVE-2023-39325 and CVE-2023-44487
  operator/CHANGELOG.md
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/go.mod
  operator/go.sum
Labels: size/M, sig/operator

#10880 jsonnet: add index-gateway headless service
  production/ksonnet/loki/index-gateway.libsonnet
Labels: size/XS

#10876 [BloomShipper] updated bloom shipper to extract the block using the library
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
Labels: size/M

#10890 [release-2.8.x] fix failing test
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
Labels: size/XS

#10755 feat(lambda/promtail): support dropping labels
  CHANGELOG.md
  tools/lambda-promtail/README.md
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/main_test.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
Labels: size/L

#10794 Move standalone examples to a new top-level section
  Makefile
  docs/sources/configure/_index.md
  docs/sources/configure/examples/_index.md
  docs/sources/configure/examples/configuration-examples.md
  docs/sources/configure/examples/query-frontend.md
  docs/sources/configure/examples/yaml/1-Local-Configuration-Example.yaml
  docs/sources/configure/examples/yaml/10-Expanded-S3-Snippet.yaml
  docs/sources/configure/examples/yaml/11-COS-HMAC-Example.yaml
  docs/sources/configure/examples/yaml/12-COS-APIKey-Example.yaml
  docs/sources/configure/examples/yaml/13-COS-Trusted-Profile-Example.yaml
  docs/sources/configure/examples/yaml/15-Memberlist-Ring-Snippet.yaml
  docs/sources/configure/examples/yaml/16-(Deprecated)-Cassandra-Snippet.yaml
  docs/sources/configure/examples/yaml/17-(Deprecated)-S3-And-DynamoDB-Snippet.yaml
  docs/sources/configure/examples/yaml/2-S3-Cluster-Example.yaml
  docs/sources/configure/examples/yaml/3-S3-Without-Credentials-Snippet.yaml
  docs/sources/configure/examples/yaml/4-GCS-Example.yaml
  docs/sources/configure/examples/yaml/5-BOS-Example.yaml
  docs/sources/configure/examples/yaml/6-Compactor-Snippet.yaml
  docs/sources/configure/examples/yaml/7-Schema-Migration-Snippet.yaml
  docs/sources/configure/examples/yaml/8-alibaba-cloud-storage-Snippet.yaml
  docs/sources/configure/examples/yaml/9-S3-With-SSE-KMS-Snippet.yaml
  docs/sources/configure/examples/yaml/README.txt
  docs/sources/configure/index.template
Labels: size/M, type/docs

#10886 Blooms/chunk check
  pkg/storage/bloom/v1/TODO.md
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_test.go
Labels: size/L

#10894 Jsonnet: update index gateway client to use headless service, fix a bug in index gateway storage config application
  CHANGELOG.md
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/shipper.libsonnet
Labels: size/S

#10752 promtail: enable structured_metadata convert labels
  CHANGELOG.md
  clients/pkg/logentry/stages/structuredmetadata.go
  clients/pkg/logentry/stages/structuredmetadata_test.go
  docs/sources/send-data/promtail/stages/structured_metadata.md
Labels: size/M, type/docs

#10907 Add local service object
  production/ksonnet/loki/index-gateway.libsonnet
Labels: size/XS

#10906 ruler: Support `writeNotify` on Loki ruler
  CHANGELOG.md
  pkg/ruler/storage/instance/instance.go
  pkg/ruler/storage/instance/instance_test.go
  pkg/ruler/storage/wal/wal.go
Labels: size/S

#10911 [release-2.9.x] add release notes for 2.9.2
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs, product-approved

#10912 [release-2.9.x] add changelog for 2.9.2
  CHANGELOG.md
Labels: size/S

#10910 ksonnet: remove usage of already deleted config match_max_concurrent
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#10782 Add basic structure of bloom gateways
  docs/sources/configure/_index.md
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/config.go
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/bloomgateway/ringmanager.go
  pkg/bloomgateway/sharding.go
  pkg/distributor/clientpool/ingester_client_pool.go
  pkg/distributor/distributor.go
  pkg/ingester/client/client.go
  pkg/logproto/bloomgateway.pb.go
  pkg/logproto/bloomgateway.proto
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/storage/factory.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
  pkg/storage/stores/shipper/bloomshipper/store.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/gateway_test.go
  pkg/util/limiter/combined_limits.go
  pkg/validation/limits.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/XXL, type/docs

#10898 moves boomfilters lib into loki
  go.mod
  go.sum
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/filter/boom.go
  pkg/storage/bloom/v1/filter/boom_test.go
  pkg/storage/bloom/v1/filter/buckets.go
  pkg/storage/bloom/v1/filter/buckets_test.go
  pkg/storage/bloom/v1/filter/partitioned.go
  pkg/storage/bloom/v1/filter/partitioned_test.go
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/filter/scalable_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/metrics.go
  tools/tsdb/bloom-tester/readlib.go
  vendor/github.com/d4l3k/messagediff/.coveralls.yml
  vendor/github.com/d4l3k/messagediff/.gitignore
  vendor/github.com/d4l3k/messagediff/.travis.yml
  vendor/github.com/d4l3k/messagediff/CHANGELOG.md
  vendor/github.com/d4l3k/messagediff/LICENSE
  vendor/github.com/d4l3k/messagediff/README.md
  vendor/github.com/d4l3k/messagediff/bypass.go
  vendor/github.com/d4l3k/messagediff/bypasssafe.go
  vendor/github.com/d4l3k/messagediff/messagediff.go
  vendor/github.com/owen-d/BoomFilters/LICENSE
  vendor/github.com/owen-d/BoomFilters/boom/classic.go
  vendor/github.com/owen-d/BoomFilters/boom/counting.go
  vendor/github.com/owen-d/BoomFilters/boom/countmin.go
  vendor/github.com/owen-d/BoomFilters/boom/cuckoo.go
  vendor/github.com/owen-d/BoomFilters/boom/deletable.go
  vendor/github.com/owen-d/BoomFilters/boom/hyperloglog.go
  vendor/github.com/owen-d/BoomFilters/boom/inverse.go
  vendor/github.com/owen-d/BoomFilters/boom/minhash.go
  vendor/github.com/owen-d/BoomFilters/boom/stable.go
  vendor/github.com/owen-d/BoomFilters/boom/topk.go
  vendor/modules.txt
Labels: size/XL

#10919 chore(renovate): make sure to `go mod tidy` after upgrade
  .github/renovate.json
Labels: size/XS

#10920 Bloom library performance updates
  tools/tsdb/bloom-tester/Dockerfile
  tools/tsdb/bloom-tester/Makefile
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/lib_test.go
  tools/tsdb/bloom-tester/lrucache.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/readlib_test.go
  tools/tsdb/bloom-tester/tokenizer.go
  tools/tsdb/bloom-tester/tokenizer_test.go
Labels: size/XXL

#10918 [Post release] release-2.9.2: update changelog
  CHANGELOG.md
Labels: size/XS

#10889 [release-2.8.x] upgrade to go 1.20.10
  clients/cmd/promtail/Dockerfile
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  operator/Dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/S, sig/operator

#10924 operator: Update Loki operand to v2.9.2
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#10925 chore: update examples, docs to use the latest loki version
  docs/sources/community/maintaining/release/_index.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/send-data/promtail/installation.md
  docs/sources/setup/install/docker.md
  docs/sources/setup/install/local.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M, type/docs

#10748 Add service structure for bloom-compactor
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/ringmanager.go
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/builder_test.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/XL, type/docs

#10928 [release-2.8.x] update build image to use go1.20.10
  .drone/drone.yml
  Makefile
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
  loki-build-image/Dockerfile
Labels: size/M

#10930 [release-2.8.x] update changelog for v2.8.6
  CHANGELOG.md
Labels: size/XS

#10935 [release-2.8.x] add release notes for 2.8.6
  docs/sources/release-notes/v2-8.md
Labels: size/XS, type/docs

#10921 Fixing 404s
  docs/sources/get-started/labels/bp-labels.md
Labels: size/XS, type/docs, backport release-2.9.x

#10929 [release-2.8.x] add release notes for 2.8.6
  CHANGELOG.md
  docs/sources/release-notes/v2-8.md
Labels: size/S, type/docs

#10923 Blooms/merge-iters
  pkg/storage/bloom/v1/TODO.md
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/dedupe.go
  pkg/storage/bloom/v1/dedupe_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_querier.go
  pkg/storage/bloom/v1/merge.go
  pkg/storage/bloom/v1/merge_test.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/bloom/v1/util_test.go
Labels: size/L

#10922 Spell out Kubernetes in docs
  docs/sources/community/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/operations/zone-ingesters.md
  docs/sources/send-data/fluentd/_index.md
  docs/sources/setup/upgrade/_index.md
Labels: size/M, type/docs

#10902 Helm: Removed extra check preventing Grafana dashboards from getting created
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/monitoring/dashboards/configmap-1.yaml
  production/helm/loki/templates/monitoring/dashboards/configmap-2.yaml
Labels: size/S, area/helm

#10927 Update dskit to 7b512eb.
  docs/sources/configure/_index.md
  go.mod
  go.sum
  pkg/analytics/seed_test.go
  pkg/loki/modules.go
  pkg/loki/runtime_config_test.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/log/ratelimit.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/replication_set_tracker.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/modules.txt
Labels: size/S, type/docs

#10933 Jsonnet: fix jsonnet from previous change
  production/ksonnet/loki/shipper.libsonnet
Labels: size/XS

#10605 helm: fix singleBinary missing anotations
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/S, area/helm

#10926 Adjust bloom gateway request structure
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/logproto/bloomgateway.pb.go
  pkg/logproto/bloomgateway.proto
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/L

#10896 Use lazy bloom filter
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/dedupe_test.go
  pkg/storage/bloom/v1/filter/buckets.go
  pkg/storage/bloom/v1/filter/buckets_test.go
  pkg/storage/bloom/v1/filter/partitioned.go
  pkg/storage/bloom/v1/filter/partitioned_test.go
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/filter/scalable_test.go
  pkg/storage/bloom/v1/merge_test.go
Labels: size/XL

#10931 Unify ring managers across components
  docs/sources/configure/_index.md
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/ringmanager.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/config.go
  pkg/compactor/compactor.go
  pkg/distributor/distributor.go
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/scheduler/lifecycle.go
  pkg/scheduler/ringmanager.go
  pkg/scheduler/scheduler.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/config.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/lifecycle.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/ringmanager.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/shufflesharding.go
  pkg/util/ring/ring.go
  pkg/util/ring/ring_config.go
  pkg/util/ring/ring_test.go
  pkg/util/ring/ringmanager.go
Labels: size/XXL, type/docs

#10955 Add NewBlockOptions constructor
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/index_querier.go
Labels: size/S

#10531 helm: add support for configuring distributor
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#10953 Install dlv 1.21.1 on Docker Compose dev env.
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
Labels: size/XS

#10959 Loki: introduce an exponential backoff on failed query retries.
  CHANGELOG.md
  pkg/querier/queryrange/queryrangebase/retry.go
Labels: size/S

#10639 Fix docs for fluentd client
  docs/sources/send-data/fluentd/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10966 clients: update fluentd base container
  clients/cmd/fluentd/Dockerfile
Labels: size/XS

#10958 Revert scalable monolithic to SSD
  docs/sources/get-started/deployment-modes.md
  docs/sources/operations/authentication.md
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/size/_index.md
Labels: size/M, type/docs, backport release-2.9.x

#10970 Manual backport #10958
  docs/sources/get-started/deployment-modes.md
  docs/sources/operations/authentication.md
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/size/_index.md
Labels: size/M, type/docs

#10960 Docs: LogQL `offset` modifier
  docs/sources/query/metric_queries.md
Labels: size/XS, type/docs, backport release-2.9.x

#10976 Introduce worker queue in bloom gateway
  go.mod
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/queue/dequeue_qos_test.go
  pkg/queue/mapping.go
  pkg/queue/mapping_test.go
  pkg/queue/metrics.go
  pkg/queue/queue.go
  pkg/queue/queue_test.go
  pkg/queue/tenant_queues.go
  pkg/queue/tenant_queues_test.go
  pkg/queue/treequeue.go
  pkg/queue/treequeue_test.go
  pkg/scheduler/scheduler.go
  pkg/util/active_user.go
Labels: size/XL

#10977 Deprecated/Deleted Config Checker tool
  .github/pull_request_template.md
  tools/deprecated-config-checker/README.md
  tools/deprecated-config-checker/checker/checker.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deleted-config.yaml
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/main.go
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Labels: size/XL

#10984 Bloomgateway: Use RUnlock to unlock RLock instead
  pkg/bloomgateway/bloomgateway.go
Labels: size/XS

#10542 chore(ksonnet): Simplify configuration of ingester deployment
  CHANGELOG.md
  production/ksonnet/enterprise-logs/main.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/multi-zone.libsonnet
  production/ksonnet/loki/rollout-operator.libsonnet
  production/ksonnet/loki/shipper.libsonnet
  production/ksonnet/loki/wal.libsonnet
Labels: size/L

#10983 Recover querier handler from panic.
  pkg/loki/modules.go
  pkg/util/server/recovery.go
  pkg/util/server/recovery_test.go
Labels: size/S

#10987 docs: Update sampling.md
  docs/sources/send-data/promtail/stages/sampling.md
Labels: size/XS, type/docs

#10705 promtail/client: note client config is not deprecated
  clients/pkg/promtail/client/config.go
Labels: size/XS

#11001 Fix flaky bloomgateway test case
  pkg/bloomgateway/bloomgateway_test.go
Labels: size/XS

#10688 Turn frontend Tripperware into a Middleware.
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/config.go
  pkg/lokifrontend/frontend/downstream_roundtripper.go
  pkg/lokifrontend/frontend/transport/handler.go
  pkg/lokifrontend/frontend/transport/roundtripper.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_test.go
  pkg/querier/limits/definitions.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits/defitions.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/volume.go
  pkg/util/limiter/combined_limits.go
  pkg/util/querylimits/propagation.go
  pkg/util/querylimits/tripperware.go
Labels: size/XXL

#11007 Fix typo in Loki authentication docs
  docs/sources/operations/authentication.md
Labels: size/XS, type/docs, backport release-2.9.x

#11015 Fix ring start up errors
  pkg/loki/modules.go
Labels: size/XS

#10419 Flag categorize labels on streams response
  go.mod
  integration/client/client.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/compactor/retention/retention_test.go
  pkg/iter/entry_iterator.go
  pkg/loghttp/entry.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/log/fmt.go
  pkg/logql/log/ip.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
  pkg/loki/modules.go
  pkg/push/push.pb.go
  pkg/push/push.proto
  pkg/push/types.go
  pkg/push/types_test.go
  pkg/querier/http.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/serialize.go
  pkg/storage/lazy_chunk_test.go
  pkg/util/httpreq/encoding_flags.go
  pkg/util/marshal/labels.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
  vendor/github.com/grafana/loki/pkg/push/push.pb.go
  vendor/github.com/grafana/loki/pkg/push/push.proto
  vendor/github.com/grafana/loki/pkg/push/types.go
  vendor/modules.txt
Labels: size/XXL

#10996 operator: Prepare community release v0.5.0
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
Labels: size/L, sig/operator

#10846 Add span logFields: wait_goroutine_capacity_time_ms and min_weighted_…
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
Labels: size/M

#11029 WIP: return empty responses for logproto request types from
  pkg/logproto/compat.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/limits_test.go
Labels: size/M

#11049 Remove `GetHeaders` from `logproto.VolumeResponse`.
  pkg/logproto/compat.go
  pkg/querier/handler.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/limits_test.go
Labels: size/S

#11042 Initialize the request codec in the module chain.
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/S

#11038 config: Remove already deprecated `store.max-look-back-period`.
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/loki/loki.go
  pkg/storage/config/store.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deleted-config.yaml
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
Labels: size/M, type/docs

#11052 Update _index.md
  docs/sources/send-data/promtail/stages/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10957 Initial loki bloom creation library
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/lib_test.go
  tools/tsdb/bloom-tester/lrucache.go
  tools/tsdb/bloom-tester/lrucache_test.go
  tools/tsdb/bloom-tester/metrics.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/tokenizer.go
Labels: size/XXL

#11062 Return empty responses for logproto request types from (#11029)
  pkg/logproto/compat.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/limits_test.go
Labels: size/M

#11020 ksonnet: do not deploy table manager when shipper is in-use
  CHANGELOG.md
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/S

#11067 Stop processing split queries on first error.
  pkg/querier/queryrange/limits/definitions.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/S, type/bug, backport k173

#11053 add secret scanning workflow
  .github/workflows/secret-scanning.yml
Labels: size/S, area/security

#11064 Improve observability of index queries
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/http.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/stats.go
Labels: size/L

#11068 Update GEL ksonnet to latest Loki version
  production/ksonnet/enterprise-logs/jsonnetfile.lock.json
Labels: size/S

#10997 Bug(LogQL): Fix mismatch results on `scalar` and `vector` binary ops
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/L

#10971 add scan-vulnerabilities make target
  .gitignore
  Makefile
Labels: size/S

#11085 Instrument querier inflight requests.
  pkg/loki/modules.go
  pkg/querier/queryrange/instrument.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/M

#11079 Support categorized labels in Tailing
  pkg/ingester/tailer.go
  pkg/ingester/tailer_test.go
  pkg/iter/categorized_labels_iterator.go
  pkg/iter/categorized_labels_iterator_test.go
  pkg/logql/engine.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/tail.go
  pkg/querier/tail_test.go
  pkg/util/httpreq/encoding_flags.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
  pkg/util/marshal/tail.go
  pkg/util/unmarshal/unmarshal_test.go
Labels: size/XL

#11090 Backport instrumentation and recovery.
  pkg/loki/modules.go
  pkg/querier/queryrange/instrument.go
  pkg/util/server/recovery.go
  pkg/util/server/recovery_test.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/M

#10096 Storage: Allow setting a constant prefix for all created keys
  CHANGELOG.md
  docs/sources/configure/_index.md
  pkg/compactor/compactor.go
  pkg/storage/chunk/client/prefixed_object_client.go
  pkg/storage/factory.go
  pkg/storage/factory_test.go
  pkg/storage/stores/shipper/indexshipper/storage/cached_client_test.go
  pkg/storage/stores/shipper/indexshipper/storage/client.go
  pkg/storage/stores/shipper/indexshipper/storage/prefixed_object_client.go
Labels: size/L, type/docs
