Repository grafana/loki, pull requests merged in 2023-09, with the labels that each got.

#10421 Add deprecations to next release notes
  docs/sources/release-notes/next.md
Labels: size/XS, type/docs

#10412 [promtail] include the size of non-indexed labels into batch size
  clients/pkg/promtail/client/batch.go
  clients/pkg/promtail/client/batch_test.go
  clients/pkg/promtail/client/client_test.go
Labels: size/S

#10423 Update to latest dskit version for SpanLogger changes
  docs/sources/configure/_index.md
  go.mod
  go.sum
  pkg/util/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: size/M, type/docs

#10427 Fix typo "most be" -> "must be"
  docs/sources/send-data/promtail/stages/metrics.md
Labels: size/XS, type/docs

#10434 Remove unnecessary code after dskit log.Interface has been dereleased
  clients/cmd/docker-driver/main.go
  clients/cmd/fluent-bit/loki.go
  clients/cmd/promtail/main.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  cmd/loki/main.go
  pkg/util/log.go
  pkg/util/log/log.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main.go
Labels: size/M

#10221 Allow using the forget button when access via the internal server
  CHANGELOG.md
  pkg/loki/modules.go
Labels: size/S, missing-labels, backport release-2.8.x

#10441 [backport release-2.9.x] Add docs for non-indexed labels (#10073)
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/match.md
  docs/sources/clients/promtail/stages/non_indexed_labels.md
  docs/sources/get-started/architecture.md
  docs/sources/get-started/labels/_index.md
  docs/sources/get-started/labels/bp-labels.md
  docs/sources/get-started/labels/non-indexed-labels.md
  docs/sources/reference/api.md
Labels: size/L, type/docs

#10445 Update release notes for 2.9
  docs/sources/release-notes/next.md
Labels: size/XS, type/docs

#10435 Chore(storage): Simplify store interfaces and abstractions (pt 1)
  pkg/loki/loki.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/storage/batch_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_test.go
Labels: size/L

#10447 Add terraform example in ruler docs
  docs/sources/alert/_index.md
Labels: size/M, type/docs

#10431 docs: append logfmt parser improvements to release notes
  docs/sources/release-notes/next.md
Labels: size/XS, type/docs

#10402 per tenant gate for structured metadata feature
  docs/sources/configure/_index.md
  docs/sources/send-data/promtail/stages/structured_metadata.md
  integration/cluster/cluster.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Labels: size/M, type/docs

#8420 Add LID for improving Index Gateway sharding
  docs/sources/community/lids/0004-IndexGatewaySharding.md
  docs/sources/community/lids/index-gw-sharding-diagram.svg
Labels: size/L, type/docs, lid

#10458 Update next.md
  docs/sources/release-notes/next.md
Labels: size/XS, type/docs

#10465 Make the Store field of the Loki struct an interface type
  pkg/loki/loki.go
Labels: size/XS

#10459 [Docs] Update warning on structured metadata topic
  docs/sources/get-started/labels/structured-metadata.md
Labels: size/XS, type/docs

#10460 [Docs] Minor update to more user friendly link text
  docs/sources/alert/_index.md
Labels: size/XS, type/docs

#10470 changelog update 2.9.0
  CHANGELOG.md
Labels: size/XS, type/docs

#10471 prepare upgrade guide v2.9.0
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#10472 Image bumps and docs upgrades for Loki v2.9.0
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/setup/install/docker.md
  examples/getting-started/docker-compose.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M, sig/operator, type/docs

#10451 Upgrade thanos objstore
  CHANGELOG.md
  go.mod
  go.sum
  pkg/storage/bucket/prefixed_bucket_client.go
  pkg/storage/bucket/sse_bucket_client.go
  vendor/github.com/thanos-io/objstore/CHANGELOG.md
  vendor/github.com/thanos-io/objstore/README.md
  vendor/github.com/thanos-io/objstore/inmem.go
  vendor/github.com/thanos-io/objstore/objstore.go
  vendor/github.com/thanos-io/objstore/prefixed_bucket.go
  vendor/github.com/thanos-io/objstore/providers/azure/azure.go
  vendor/github.com/thanos-io/objstore/providers/filesystem/filesystem.go
  vendor/github.com/thanos-io/objstore/providers/gcs/gcs.go
  vendor/github.com/thanos-io/objstore/providers/s3/s3.go
  vendor/github.com/thanos-io/objstore/providers/swift/swift.go
  vendor/github.com/thanos-io/objstore/testing.go
  vendor/github.com/thanos-io/objstore/tracing/opentracing/opentracing.go
  vendor/modules.txt
Labels: size/S

#10474 partially revert image bumps from `operator`
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/S, sig/operator

#10478 Backport 10399 to release 2.9.x
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S, type/docs

#10481 Freeze v2.9.0 release notes on `main`
  docs/sources/release-notes/next.md
  docs/sources/release-notes/v2-9.md
Labels: size/M, type/docs

#10482 Backport 10481 to release 2.9.x
  docs/sources/release-notes/next.md
  docs/sources/release-notes/v2-9.md
Labels: size/M, type/docs

#10462 [Style updates] Capitalize Loki when referring to project.
  docs/sources/community/design-documents/labels.md
  docs/sources/get-started/components.md
  docs/sources/operations/observability.md
  docs/sources/query/logcli.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/logstash/_index.md
  docs/sources/send-data/promtail/configuration.md
  docs/sources/setup/migrate/migrate-to-three-scalable-targets/index.md
Labels: size/S, type/docs

#10416 lambda-promtail: Add support for WAF logs in S3
  CHANGELOG.md
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
  tools/lambda-promtail/testdata/waflog.log.gz
Labels: size/L

#10486 Steven 2 9 cleanup
  docs/sources/release-notes/next.md
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs, backport release-2.9.x

#10461 [Docs] Create top level Manage section
  docs/sources/operations/_index.md
  docs/sources/operations/authentication.md
  docs/sources/operations/automatic-stream-sharding.md
  docs/sources/operations/autoscaling_queriers.md
  docs/sources/operations/blocking-queries.md
  docs/sources/operations/caching.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/operations/multi-tenancy.md
  docs/sources/operations/observability.md
  docs/sources/operations/overrides-exporter.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/operations/scalability.md
  docs/sources/operations/shuffle-sharding/_index.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/storage/filesystem.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/schema/_index.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/tsdb.md
  docs/sources/operations/storage/wal.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/zone-ingesters.md
  docs/sources/setup/install/_index.md
  docs/sources/storage/_index.md
Labels: size/L, type/docs

#10426 Lambda Promtail: Add logs:PutSubscriptionFilter to Lambda Promtail role
  tools/lambda-promtail/template.yaml
Labels: size/XS

#10491 chore: add 2.9.x entry to release-notes index page
  docs/sources/release-notes/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10495 Pin version of plugins/manifest image in Drone pipeline
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#10497 post-release: Changelog adjustments on `main` branch
  CHANGELOG.md
Labels: size/M

#10214 Helm: Add service labels and annotations
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/service-backend-headless.yaml
  production/helm/loki/templates/backend/service-backend.yaml
  production/helm/loki/templates/gateway/service-gateway.yaml
  production/helm/loki/templates/loki-canary/service.yaml
  production/helm/loki/templates/read/service-read-headless.yaml
  production/helm/loki/templates/read/service-read.yaml
  production/helm/loki/templates/single-binary/service-headless.yaml
  production/helm/loki/templates/single-binary/service.yaml
  production/helm/loki/templates/table-manager/service-table-manager.yaml
  production/helm/loki/templates/write/service-write-headless.yaml
  production/helm/loki/templates/write/service-write.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#10498 changelog: move promtail specific entries to it's own section
  CHANGELOG.md
Labels: size/XS

#10418 operator: Use a condition to warn when labels for zone-awareness are empty
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/docs/operator/api.md
  operator/internal/status/lokistack.go
  operator/internal/status/lokistack_test.go
Labels: size/M, sig/operator

#10490 update README links
  README.md
  docs/README.md
Labels: type/docs

#10503 Fix alias to redirect `/docs/loki/<LOKI_VERSION>/configuration/` to `/docs/loki/<LOKI_VERSION>/configure/`
  docs/sources/configure/_index.md
  docs/sources/configure/index.template
Labels: size/S, type/docs, backport release-2.9.x

#10487 Don't use unsafe string for label names in the UnpackParser
  pkg/logql/log/parser.go
Labels: size/XS

#9399 Loki Helm: add sidecar to find loki rules in configmaps and secrets
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/clusterrole.yaml
  production/helm/loki/templates/backend/clusterrolebinding.yaml
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/role.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#10507 [k166 ] Backport `unpack` parser fix
  pkg/logql/log/parser.go
Labels: size/XS, type/docs

#10508 [2.9.x] Backport `unpack` parser fix
  pkg/logql/log/parser.go
Labels: size/XS, type/docs

#10506 Fix alias to redirect `/docs/loki/<LOKI_VERSION>/best-practices/` to `/docs/loki/latest/get-started/labels/bp-labels/`
  docs/sources/get-started/labels/bp-labels.md
Labels: size/XS, type/docs, backport release-2.9.x

#10505 [release-2.9.x] Fix alias to redirect `/docs/loki/<LOKI_VERSION>/configuration/` to `/docs/loki/<LOKI_VERSION>/configure/`
  docs/sources/configure/_index.md
  docs/sources/configure/index.template
Labels: size/S, backport, type/docs

#10510 Fix broken redirect
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs

#10449 Add support for EventBridge s3 events in lambda-promtail
  tools/lambda-promtail/lambda-promtail/eventbridge.go
  tools/lambda-promtail/lambda-promtail/eventbridge_test.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/testdata/eventbridge-s3-event.json
Labels: size/L

#10536 Reflect 2.9 upgrade notes on main
  docs/sources/setup/upgrade/_index.md
Labels: size/M, type/docs

#10463 [Docs] Separate command and result
  docs/sources/community/contributing.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/operations/troubleshooting.md
  docs/sources/release-notes/cadence.md
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/send-data/promtail/cloud/eks/_index.md
  docs/sources/send-data/promtail/cloud/gcp/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/L, type/docs

#10546 Corrected typo in index.md file
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10539 operator: Update Loki operand to v2.9.0
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#10550 Fix regression when parsing numbers in Push request
  pkg/loghttp/query.go
  pkg/util/unmarshal/unmarshal_test.go
Labels: size/L

#10534 Remove backup index writer from TSDB configuration
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/storage/store.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/store.go
Labels: size/M, type/docs

#10454 chore(storage): Simplify store interfaces and abstractions (pt 2)
  clients/pkg/promtail/client/client_test.go
  cmd/migrate/main.go
  integration/loki_micro_services_delete_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/shipper/index/compactor/util_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/util_test.go
Labels: size/L

#10552 Add limits
  docs/sources/configure/_index.md
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Labels: size/M, type/docs

#10559 fix xss vulnerability
  pkg/sizing/http.go
Labels: size/XS

#10564 Update version of loki referenced in docker files to 2.9.0
  docs/sources/setup/install/docker.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
Labels: size/M, type/docs

#10566 [Docs] Add upgrade link to Manage page.
  docs/sources/operations/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10573 Update alpine versions
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: product-approved, backport release-2.8.x, backport release-2.9.x

#10567 Return `StepResult` from `StepEvaluator.Next()`.
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/matrix.go
  pkg/logql/matrix_test.go
  pkg/logql/range_vector.go
  pkg/logql/range_vector_test.go
  pkg/logql/step_evaluator.go
  pkg/logql/vector.go
Labels: size/L

#10586 indexshipper/storage: fix race conditions (#10314)
  CHANGELOG.md
  pkg/storage/stores/indexshipper/storage/cached_client.go
  pkg/storage/stores/indexshipper/storage/cached_client_test.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
Labels: size/L

#10588 Prepare release 2.9.1
  CHANGELOG.md
  docs/sources/release-notes/v2-9.md
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/setup/install/docker.md
Labels: size/M, type/docs

#10558 operator: Upgrade dashboards for for Loki v2.9.0
  operator/CHANGELOG.md
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/jsonnet/config.libsonnet
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/XL, sig/operator

#10593 Add 2.8.5 references
  CHANGELOG.md
  docs/sources/clients/docker-driver/_index.md
  docs/sources/release-notes/v2-8.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M, type/docs

#10545 operator: Update gateway arguments to enable namespace extraction
  operator/CHANGELOG.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/configure.go
Labels: size/S, sig/operator

#10556 [Docs] Fix 404s/broken links in main branch
  docs/sources/setup/install/helm/monitor-and-alert/with-grafana-cloud.md
Labels: size/XS, type/docs

#10590 Update references to 2.8.5
  CHANGELOG.md
  docs/sources/release-notes/v2-8.md
Labels: size/S, type/docs

#10587 Fix bug in cache of the index object client
  CHANGELOG.md
  pkg/storage/stores/indexshipper/storage/cached_client.go
  pkg/storage/stores/indexshipper/storage/cached_client_test.go
Labels: size/M

#10591 Fix wrong Alpine version in CHANGELOG
  CHANGELOG.md
Labels: size/XS

#10526 chore(docs): Fix structured_metadata usage
  docs/sources/send-data/promtail/stages/structured_metadata.md
Labels: size/XS, type/docs, backport release-2.9.x

#10597 Reflect release 2.9.1 on main branch
  CHANGELOG.md
  docs/sources/release-notes/v2-9.md
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/setup/install/docker.md
Labels: size/M, type/docs

#10600 operator: Update Loki operand to v2.9.1
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#10606 operator: Update example configurations to use demo size
  operator/apis/loki/v1beta1/lokistack_types.go
  operator/docs/enhancements/retention_support.md
  operator/docs/operator/api.md
  operator/hack/lokistack_dev.yaml
  operator/hack/lokistack_gateway_dev.yaml
  operator/hack/lokistack_gateway_ocp.yaml
  operator/internal/external/k8s/client.go
  operator/internal/manifests/rules_config.go
  operator/internal/validation/lokistack.go
Labels: size/S, sig/operator, kind/feature

#10615 clients/pkg/promtail/targets/gcplog: fix spelling error
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
Labels: size/XS

#10611 clients/pkg/promtail/client: better error on nil metrics
  clients/pkg/promtail/client/client.go
Labels: size/XS

#10616 clients,pkg: use http.NewRequestWithContext
  clients/pkg/promtail/client/client.go
  pkg/canary/writer/push.go
Labels: size/S

#10518 chore(storage): Refactor store factory
  pkg/loki/modules.go
  pkg/storage/chunk/client/client.go
  pkg/storage/chunk/client/testutils/inmemory_storage_client.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/factory.go
  pkg/storage/factory_test.go
Labels: size/XL

#10571 [Docs] Fix 404s/broken links in 2.9 branch
  docs/sources/operations/recording-rules.md
  docs/sources/setup/install/helm/monitor-and-alert/with-grafana-cloud.md
Labels: size/XS, type/docs

#10555 [Docs] Fix 404s/broken links in 2.8 branch
  docs/sources/installation/helm/monitor-and-alert/with-grafana-cloud.md
  docs/sources/operations/recording-rules.md
Labels: size/XS, type/docs

#10632 Fix object store type for table manager
  pkg/storage/factory.go
Labels: size/XS

#10540 Add CloudFormation template for lambda + EventBridge setup
  docs/sources/send-data/lambda-promtail/_index.md
  tools/lambda-promtail/README.md
  tools/lambda-promtail/template-eventbridge.yaml
Labels: size/L, type/docs

#10633 docs: master tag hasn't been pushed for almost 2 years
  docs/sources/send-data/fluentd/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10634 Don't allow unbounded parallelism when downloading indices
  pkg/storage/stores/indexshipper/downloads/index_set.go
Labels: size/XS, product-approved, backport k168

#10631 Fix race condition when stopping to tail files
  CHANGELOG.md
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/tailer.go
Labels: size/L

#10640 fluentd docs: fix broken link
  clients/cmd/fluentd/README.md
Labels: size/XS

#10637 [docs] Replace ampersand with the word "and"
  docs/sources/alert/_index.md
  docs/sources/community/design-documents/2020-09-Write-Ahead-Log.md
  docs/sources/community/design-documents/2021-01-Ordering-Constraint-Removal.md
  docs/sources/get-started/components.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/scalability.md
  docs/sources/operations/storage/wal.md
  docs/sources/release-notes/cadence.md
  docs/sources/send-data/promtail/stages/template.md
  docs/sources/setup/migrate/migrate-to-three-scalable-targets/index.md
  docs/sources/storage/_index.md
Labels: size/M, type/docs

#10646 docs/scripts: Update Loki OSS release guide
  docs/sources/community/maintaining/release.md
  docs/sources/community/maintaining/release/1-create-release-branch.md
  docs/sources/community/maintaining/release/2-backport-commits.md
  docs/sources/community/maintaining/release/3-prepare-release-notes.md
  docs/sources/community/maintaining/release/4-prepare-changelog.md
  docs/sources/community/maintaining/release/5-document-metrics-configurations-changes.md
  docs/sources/community/maintaining/release/6-prepare-upgrade-guide.md
  docs/sources/community/maintaining/release/7-update-version-numbers.md
  docs/sources/community/maintaining/release/8-tag-release.md
  docs/sources/community/maintaining/release/9-publish-release.md
  docs/sources/community/maintaining/release/README.md
  docs/sources/community/maintaining/release/concepts/version.md
  tools/release_update_tags.sh
Labels: size/XL, type/docs

#10655 Remove legacy ingester shutdown handler
  CHANGELOG.md
  docs/sources/reference/api.md
  docs/sources/setup/upgrade/_index.md
  pkg/ingester/ingester.go
  pkg/loki/modules.go
Labels: size/M, type/docs

#10656 Log process startup and running time
  cmd/loki/main.go
  pkg/loki/loki.go
Labels: size/S

#10670 drone(docker-driver): Fetch tags before pushing image during release
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#10671 drone(docker-driver): Fetch tags before pushing image during release
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#10452 helm: improve gitops compatibility
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/monitoring/servicemonitor.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/S, area/helm

#10673 Docs: Fix broken link on WAL page
  docs/sources/operations/storage/wal.md
Labels: size/XS, type/docs

#10603 Fix: Sidecar configuration for Backend
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
Labels: size/S, area/helm

#10659 Define sketches for quantiles.
  go.mod
  go.sum
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logproto/sketch.pb.go
  pkg/logproto/sketch.proto
  pkg/logql/range_vector.go
  pkg/logql/sketch/quantile.go
  pkg/logql/sketch/quantile_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  vendor/github.com/DataDog/sketches-go/LICENSE
  vendor/github.com/DataDog/sketches-go/LICENSE-3rdparty.csv
  vendor/github.com/DataDog/sketches-go/NOTICE
  vendor/github.com/DataDog/sketches-go/ddsketch/ddsketch.go
  vendor/github.com/DataDog/sketches-go/ddsketch/encoding/encoding.go
  vendor/github.com/DataDog/sketches-go/ddsketch/encoding/flag.go
  vendor/github.com/DataDog/sketches-go/ddsketch/mapping/bit_operation_helper.go
  vendor/github.com/DataDog/sketches-go/ddsketch/mapping/cubically_interpolated_mapping.go
  vendor/github.com/DataDog/sketches-go/ddsketch/mapping/index_mapping.go
  vendor/github.com/DataDog/sketches-go/ddsketch/mapping/linearly_interpolated_mapping.go
  vendor/github.com/DataDog/sketches-go/ddsketch/mapping/logarithmic_mapping.go
  vendor/github.com/DataDog/sketches-go/ddsketch/pb/sketchpb/ddsketch.pb.go
  vendor/github.com/DataDog/sketches-go/ddsketch/stat/summary.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/bin.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/buffered_paginated.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/collapsing_highest_dense_store.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/collapsing_lowest_dense_store.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/dense_store.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/sparse.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/store.go
  vendor/github.com/influxdata/tdigest/.gitignore
  vendor/github.com/influxdata/tdigest/LICENSE
  vendor/github.com/influxdata/tdigest/README.md
  vendor/github.com/influxdata/tdigest/centroid.go
  vendor/github.com/influxdata/tdigest/tdigest.go
  vendor/modules.txt
Labels: size/L

#10187 azure: add connection-string
  CHANGELOG.md
  docs/sources/configure/_index.md
  docs/sources/setup/install/helm/reference.md
  docs/sources/storage/_index.md
  go.mod
  go.sum
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/config.go
  pkg/storage/bucket/azure/config_test.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client_test.go
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
  vendor/github.com/thanos-io/objstore/CHANGELOG.md
  vendor/github.com/thanos-io/objstore/README.md
  vendor/github.com/thanos-io/objstore/objstore.go
  vendor/github.com/thanos-io/objstore/providers/azure/azure.go
  vendor/github.com/thanos-io/objstore/providers/azure/helpers.go
  vendor/modules.txt
Labels: size/L, area/helm, type/docs

#10667 docs: Make `release` steps in `_index.md`
  docs/sources/community/maintaining/release/_index.md
Labels: size/XS, type/docs

#10675 dependabot: Fix accessing secerets via environmental variables.
  .github/workflows/dependabot_reviewer.yml
Labels: size/XS

#10676 chore: Missed version updates.
  docs/sources/operations/loki-canary/_index.md
  docs/sources/send-data/promtail/installation.md
  docs/sources/setup/install/local.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/M, type/docs

#10672 Revise documentation about Loki architecture
  docs/sources/get-started/architecture.md
  docs/sources/operations/storage/legacy-storage.md
Labels: size/L, type/docs

#10620 cache: Enable embedded cache if no other cache is configured.
  CHANGELOG.md
  cmd/migrate/main.go
  docs/sources/configure/_index.md
  docs/sources/configure/query-frontend.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_test.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/embeddedcache_test.go
  pkg/storage/chunk/cache/fifo_cache.go
  pkg/storage/chunk/tests/caching_fixtures_test.go
  pkg/storage/config/store.go
  pkg/storage/factory.go
  pkg/storage/stores/series/index/caching_index_client_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/tsdb/cached_postings_index_test.go
Labels: size/XXL, type/docs

#10684 Docs: Remove experimental flag from GELF support in Promtail
  docs/sources/send-data/promtail/scraping.md
Labels: size/XS, type/docs

#10677 Promtail: Remove deprecated stream_lag_labels setting
  CHANGELOG.md
  clients/cmd/promtail/main.go
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/config.go
  clients/pkg/promtail/config/config.go
  docs/sources/send-data/promtail/configuration.md
Labels: size/S, component/promtail, type/docs

#10666 Docs: Revise components page
  docs/sources/get-started/components.md
Labels: size/L, type/docs

#10654 Restructure API reference documentation
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/reference/api.md
  docs/sources/send-data/k6/_index.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/configuration.md
Labels: size/XXL, type/docs

#10686 Fix internal reference in API docs
  docs/sources/reference/api.md
Labels: size/XS, type/docs

#10687 [sharding] [bugfix] Correctly account for child groupings in count/min/max sharding
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/extractor.go
Labels: size/M

#10689 Ingester: Change log line level and make jitter potentially longer.
  CHANGELOG.md
  pkg/ingester/ingester.go
Labels: size/XS

#10685 remove queryrange.VolumeRequest as it is not used
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
Labels: size/S

#10698 Update structured-metadata docs
  docs/sources/get-started/labels/structured-metadata.md
Labels: size/XS, type/docs

#10701 Check that evaluator isn't nil
  pkg/logql/evaluator.go
Labels: size/XS

#10694 Add urls to connect Grafana (on Docker) to Loki (local buid instance)
  docs/sources/visualize/grafana.md
Labels: size/XS, type/docs

#10710 doc: Add patching vulnerabilities step on release doc
  Makefile
  docs/sources/community/maintaining/release/_index.md
  docs/sources/community/maintaining/release/backport-commits.md
  docs/sources/community/maintaining/release/create-release-branch.md
  docs/sources/community/maintaining/release/document-metrics-configurations-changes.md
  docs/sources/community/maintaining/release/patch-go-version.md
  docs/sources/community/maintaining/release/patch-vulnerabilities.md
  docs/sources/community/maintaining/release/prepare-changelog.md
  docs/sources/community/maintaining/release/prepare-release-notes.md
  docs/sources/community/maintaining/release/prepare-upgrade-guide.md
  docs/sources/community/maintaining/release/publish-release.md
  docs/sources/community/maintaining/release/tag-release.md
  docs/sources/community/maintaining/release/update-version-numbers.md
Labels: size/L, type/docs

#10704 Check for nil StepResult.
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
Labels: size/M, type/bug, backport k168

#10665 doc: log retention page improvements
  docs/sources/operations/storage/retention.md
  pkg/validation/limits.go
Labels: size/L, type/docs

#10722 Doc: Fix link typos in documentation
  docs/sources/get-started/overview.md
Labels: size/XS, type/docs, backport release-2.9.x

#10700 Rename NewShipper to NewIndexClient
  pkg/storage/factory.go
  pkg/storage/stores/shipper/shipper_index_client.go
Labels: size/M

#10713 helm: add namespace settings where missing
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/monitoring/grafana-agent.yaml
  production/helm/loki/templates/monitoring/logs-instance.yaml
  production/helm/loki/templates/monitoring/pod-logs.yaml
  production/helm/loki/templates/monitoring/servicemonitor.yaml
  production/helm/loki/templates/write/hpa.yaml
  production/helm/loki/templates/write/poddisruptionbudget-write.yaml
  production/helm/loki/templates/write/service-write-headless.yaml
  production/helm/loki/templates/write/service-write.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/S, area/helm

#10589 [docs] Update deployment modes topic and graphics
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/microservices-mode.png
  docs/sources/get-started/monolithic-mode.png
  docs/sources/get-started/scalable-monolithic-mode.png
  docs/sources/get-started/simple-scalable.png
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/size/_index.md
Labels: size/L, type/docs, backport release-2.9.x

#10732 Remove that the Ruler WAL is a coming soon feature
  docs/sources/alert/_index.md
Labels: size/XS, type/docs, backport release-2.9.x

#10742 Update getting-in-touch.md
  docs/sources/community/getting-in-touch.md
Labels: size/XS, type/docs

#10693 embedded cache: update metric namespace and remove duplicate metrics
  CHANGELOG.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/embeddedcache_test.go
Labels: size/L, type/docs

#10720 operator: Change default replication factor of 1x.medium to 2
  operator/CHANGELOG.md
  operator/internal/manifests/internal/sizes.go
Labels: size/XS, sig/operator
