Repository grafana/loki, pull requests merged in 2023-06, with the labels that each got.

#9395 Loki helm: Add Ingress labels for Loki gateway helm chart
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/gateway/ingress-gateway.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#9457 operator: Set seccomp profile to runtime default for all variants
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/cmd/loki-broker/main.go
  operator/config/manager/manager.yaml
  operator/config/overlays/community-openshift/controller_manager_config.yaml
  operator/config/overlays/community/controller_manager_config.yaml
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/config/overlays/openshift/kustomization.yaml
  operator/config/overlays/openshift/manager_security_context_patch.yaml
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/securitycontext.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#9598 operator: Remove general production use warning
  operator/README.md
Labels: size/XS, sig/operator

#9585 Fix: HPA for single binary deployment
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/hpa.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#9529 Fix cacheGen for index stats reqs
  pkg/loki/modules.go
Labels: size/S

#9604 Querier: configurable writeback queue bytes size
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/storage/chunk/cache/background.go
  pkg/storage/chunk/cache/background_test.go
Labels: size/L, type/docs

#9552 Add span events for index stats and result cache
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/storage/stores/tsdb/index_client.go
Labels: size/M

#9506 Fix typo in log_queries docs
  docs/sources/query/log_queries/_index.md
Labels: size/S, type/docs

#9612 marshal tests: make random quantities more obvious
  pkg/util/marshal/marshal_test.go
Labels: size/XS

#9614 k152 frontend fix
  pkg/util/time.go
  pkg/util/time_test.go
Labels: size/S, type/docs

#9615 Revert "revert count unflused chunks (#9504)"
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
Labels: size/S

#9622 Fix comment and indentation in gateway config of SSD helm chart
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#9629 Fix duplicate label values from ingester streams
  CHANGELOG.md
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
Labels: size/S, type/bug, backport release-2.8.x

#9632 k152: Regex line/label filters return original regex when `String` is called (#9584)
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
  pkg/logql/matchers_test.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/parser_test.go
  pkg/loki/runtime_config_test.go
  pkg/storage/store_test.go
Labels: size/L

#9471 query-scheduler: fix query distribution in SSD mode
  CHANGELOG.md
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/loki_rule_eval_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/worker_service.go
  pkg/scheduler/lifecycle.go
  pkg/scheduler/ringmanager.go
  pkg/scheduler/scheduler.go
  pkg/util/cfg/dynamic.go
Labels: size/XL, type/bug, backport release-2.8.x

#9579 Fix configmap checksum in table manager deployment template
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/table-manager/deployment-table-manager.yaml
Labels: size/XS, area/helm

#9597 [logcli] fixed query command that is run against user's bucket with TSDB index enabled
  CHANGELOG.md
  pkg/logcli/query/query.go
Labels: size/XS

#9630 operator: Expose per_stream_rate_limit & burst
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1beta1/lokistack_types_test.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/lokistack/sop.md
  operator/docs/operator/api.md
  operator/internal/manifests/config_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#9642 Fix configmap checksum in read sts
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/read/statefulset-read.yaml
Labels: size/S, area/helm

#9569 Canary: Refactor how the direct Canary push works
  cmd/loki-canary/main.go
  pkg/canary/writer/push.go
  pkg/canary/writer/push_test.go
  pkg/canary/writer/stream.go
  pkg/canary/writer/writer.go
Labels: size/L

#9659 Distributor: Make key configurable when logging failures
  docs/sources/configuration/_index.md
  pkg/distributor/writefailures/cfg.go
  pkg/distributor/writefailures/manager.go
Labels: size/S, type/docs

#9599 Docs: replace `k6 Cloud` mention
  docs/sources/clients/k6/write-scenario.md
Labels: size/XS, type/docs

#9650 config: ensure storage config defaults apply to named stores
  CHANGELOG.md
  pkg/loki/config_wrapper_test.go
  pkg/storage/factory.go
  pkg/storage/factory_test.go
  pkg/storage/store_test.go
  tools/doc-generator/parse/parser.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/L

#9672 add "alignLeft" and "alignRight" functions
  CHANGELOG.md
  docs/sources/query/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/L, type/docs

#9669 feat(promtail): add CF ClientRequestSource field
  clients/pkg/promtail/targets/cloudflare/fields.go
  docs/sources/clients/promtail/configuration.md
Labels: size/S, type/docs

#8886 Fix date template function with epoch times
  CHANGELOG.md
  docs/sources/query/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/M, type/docs

#9671 backport PR #9659
  docs/sources/configuration/_index.md
  pkg/distributor/writefailures/cfg.go
  pkg/distributor/writefailures/manager.go
Labels: size/S, type/docs

#9537 Add config to avoid caching stats for recent data
  docs/sources/configuration/_index.md
  pkg/querier/queryrange/index_stats_cache.go
  pkg/querier/queryrange/index_stats_cache_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/async_store.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#9573 feat(lambda-promtail): add cloudfront log file ingestion support
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
  tools/lambda-promtail/testdata/cloudfront.log.gz
Labels: size/L, type/docs

#9649 Improve docs for empty value in cache compression config
  docs/sources/configuration/_index.md
  pkg/querier/queryrange/queryrangebase/results_cache.go
Labels: size/S, type/docs

#9686 Revert 9217 chaudum/tsdb chunkrefs pool (#9685)
  operator/apis/loki/v1beta1/lokistack_types_test.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multi_file_index_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/M, sig/operator

#9684 Fix promtail cluster template not finding all clusters.
  CHANGELOG.md
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XS

#9689 operator: Fix availability of demo LokiStack size
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
Labels: size/S, sig/operator

#9662 Fix Ruler remote write panic
  pkg/ruler/storage/instance/instance.go
  pkg/ruler/storage/instance/instance_test.go
Labels: size/M

#9698 Update README.md
  tools/lambda-promtail/README.md
Labels: size/XS

#9673 Helm: add support for additional labels on loki-canary pods
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#9680 k150 with stats cache changes
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/index_stats_cache.go
  pkg/querier/queryrange/index_stats_cache_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/async_store.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#9508 Promtail: improve behavior of partial lines
  CHANGELOG.md
  clients/pkg/logentry/stages/extensions.go
  clients/pkg/logentry/stages/extensions_test.go
  clients/pkg/logentry/stages/stage.go
  docs/sources/clients/promtail/stages/cri.md
Labels: size/L, type/docs

#9707 Add handling of timezones in unixToTime tests
  pkg/logql/log/fmt_test.go
Labels: size/S

#9706 packaging: fix postinst on debian oses
  tools/packaging/promtail-postinstall.sh
Labels: size/XS

#9704 Series volume endpoint
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/loghttp/query.go
  pkg/logproto/compat.go
  pkg/logproto/indexgateway.pb.go
  pkg/logproto/indexgateway.proto
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/index/labelvolume/labelvolume.go
  pkg/storage/stores/index/seriesvolume/volume.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/util_test.go
  pkg/util/marshal/marshal.go
Labels: size/XXL

#9670 Update that Loki accepts out-of-order rewrites by default.
  docs/sources/fundamentals/architecture/components/_index.md
Labels: size/XS, type/docs

#9658 Removing 'please' from the docs.
  docs/sources/clients/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/community/design-documents/labels.md
  docs/sources/community/lids/template.md
  docs/sources/installation/sizing/index.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/zone-ingesters.md
  docs/sources/query/logcli.md
  docs/sources/reference/api.md
  docs/sources/release-notes/next.md
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-4.md
  docs/sources/release-notes/v2-5.md
  docs/sources/release-notes/v2-6.md
  docs/sources/release-notes/v2-7.md
  docs/sources/release-notes/v2-8.md
  docs/sources/upgrading/_index.md
Labels: size/M, type/docs

#9715 revert(9476): Bringback async store like before for the queriers
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/async_store.go
  pkg/storage/factory.go
  pkg/storage/store.go
Labels: size/M

#9713 Revert "Add summary stats and metrics for stats cache (#9536)"
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/M

#9721 Revert "Add summary stats and metrics for stats cache (#9536)"
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/M

#9717 TOC Sync: Move files under Get Started.
  docs/sources/fundamentals/_index.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/architecture.md
  docs/sources/get-started/chunks_diagram.png
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/get-started/labels.md
  docs/sources/get-started/loki-overview-1.png
  docs/sources/get-started/loki-overview-2.png
  docs/sources/get-started/loki_architecture_components.svg
  docs/sources/get-started/microservices-mode.png
  docs/sources/get-started/monolithic-mode.png
  docs/sources/get-started/overview.md
  docs/sources/get-started/ring-overview.png
  docs/sources/get-started/simple-scalable-test-environment.png
  docs/sources/get-started/simple-scalable.png
  docs/sources/installation/helm/install-monolithic/index.md
  docs/sources/installation/helm/install-scalable/index.md
  docs/sources/installation/sizing/index.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/tsdb.md
  docs/sources/release-notes/v2-4.md
Labels: size/L, type/docs

#9723 Jsonnet: add dns+ to join_members in memberlist config
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#9691 Update PR template to include add to release notes label
  .github/pull_request_template.md
Labels: size/XS

#9690 helm: make ServiceMonitor cluster label respect clusterLabelOverride
  production/helm/loki/templates/monitoring/servicemonitor.yaml
Labels: size/XS, area/helm

#9637 query-scheduler: fix query distribution in SSD mode (#9471)
  CHANGELOG.md
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/worker_service.go
  pkg/scheduler/lifecycle.go
  pkg/scheduler/ringmanager.go
  pkg/scheduler/scheduler.go
  pkg/util/cfg/dynamic.go
Labels: size/XL

#9693 Add keep stage to LogQL
  CHANGELOG.md
  docs/sources/query/log_queries/_index.md
  pkg/logql/log/drop_labels_test.go
  pkg/logql/log/keep_labels.go
  pkg/logql/log/keep_labels_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/prettier.go
Labels: size/L, type/docs

#9678 helm: fix resource not respect namespace
  production/helm/loki/templates/config.yaml
Labels: size/XS, area/helm

#9616 Loki ECS Client: Update Name in Options config
  docs/sources/clients/aws/ecs/_index.md
Labels: size/XS, type/docs

#9611 Remove some unused code
  pkg/logproto/compat.go
  pkg/logproto/compat_test.go
  pkg/querier/series/series_set.go
  pkg/ruler/evaluator_remote.go
Labels: size/L

#9613 stores/series tests: use abstractions over Labels
  pkg/storage/stores/series/series_store_test.go
Labels: size/L

#9725 fix(async_store): Fix the `storageconfig.EnableAsyncStore` config
  pkg/loki/modules.go
Labels: size/XS

#9720 Log push failures per-entry instead of in batches
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/distributor/writefailures/manager.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/loghttp/push/push.go
  pkg/loki/modules.go
Labels: size/L

#9741 Adding 3 existing maintainers, and our newest one: Ashwanth!
  docs/sources/community/governance.md
Labels: size/XS, type/docs, backport release-2.8.x

#9735 operator: adjusts 1x.extra-small resources according to findings
  operator/CHANGELOG.md
  operator/internal/manifests/internal/sizes.go
Labels: size/S, sig/operator

#9733 Fix config as a secret mount for single binary statefulset
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/S, area/helm

#9746 Loki: Humanize downloaded file size (bytes format)
  pkg/storage/stores/indexshipper/storage/util.go
Labels: size/XS

#9742 helm: table_manager configmap volume
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/table-manager/deployment-table-manager.yaml
Labels: size/S, area/helm

#9748 Loki: Report event for `GetChunkRef` instead of SpanLogging
  pkg/storage/stores/tsdb/index_client.go
Labels: size/XS

#9751 operator: fix replica count for 1x.ExtraSmall
  operator/internal/manifests/internal/sizes.go
Labels: size/S, sig/operator

#9710 Add shuffle sharding to index gateway
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/shipper/indexgateway/config.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/ringmanager.go
  pkg/storage/stores/shipper/indexgateway/shufflesharding.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/util/limiter/combined_limits.go
  pkg/util/ring.go
  pkg/util/ring_test.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#9752 Add shuffle sharding to index gateway (#9710)
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/shipper/indexgateway/config.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/ringmanager.go
  pkg/storage/stores/shipper/indexgateway/shufflesharding.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/util/limiter/combined_limits.go
  pkg/util/ring.go
  pkg/util/ring_test.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#9566 Add version to TSDB index builder struct
  pkg/storage/stores/tsdb/builder.go
  pkg/storage/stores/tsdb/builder_test.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/querier_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/util_test.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main.go
Labels: size/L

#9703 Convert SeriesVolume response to prometheus-style
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/http_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/stores/index/seriesvolume/volume.go
  pkg/storage/stores/index/seriesvolume/volume_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/XL

#9769 changelog: moving unreleased changes to the main section
  CHANGELOG.md
Labels: size/XS

#9763 Bugfix: Fix logic of offset operator in instant query splitting
  CHANGELOG.md
  pkg/logql/downstream_test.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
Labels: size/M

#9774 Remove unused Value field
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/http_test.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/async_store_test.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/seriesvolume/volume.go
  pkg/storage/stores/index/seriesvolume/volume_test.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/L

#8506 Helm: Add priorityClassName for Grafana Agent and Loki Canary
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/loki-canary/_helpers.tpl
  production/helm/loki/templates/monitoring/_helpers-monitoring.tpl
  production/helm/loki/templates/monitoring/grafana-agent.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#9760 helm: add updateStategy for canary pods
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#9773 Fix instant query summary split stats
  CHANGELOG.md
  pkg/logql/downstream_test.go
  pkg/logql/mapper_stats.go
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
  pkg/logqlmodel/stats/context.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_range.go
  pkg/querier/queryrange/stats.go
Labels: size/L

#9754 store: fix incorrect usage of period config in table range
  CHANGELOG.md
  integration/cluster/cluster.go
  integration/cluster/schema.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  pkg/loki/modules.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Labels: size/L, type/bug

#9782 fix integration test for multiple periods
  .drone/drone.jsonnet
  .drone/drone.yml
  integration/loki_micro_services_test.go
Labels: size/S

#9780 Migrate individual chunks as opposed to all chunks.
  cmd/migrate/main.go
Labels: size/M

#9757 caching: do not try to fill the gap in log results cache when the new query interval does not overlap the cached query interval
  CHANGELOG.md
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/log_result_cache_test.go
  pkg/storage/chunk/cache/mock.go
Labels: size/L, type/bug, backport release-2.8.x

#8406 loki: enable PathPrefix for queryHandler endpoints
  pkg/loki/modules.go
  pkg/querier/worker_service.go
  pkg/querier/worker_service_test.go
Labels: size/XS

#9057 loser tree: allow sequences to contain maxVal
  pkg/util/loser/tree.go
  pkg/util/loser/tree_test.go
Labels: size/M

#9028 Update _index.md
  docs/sources/clients/docker-driver/_index.md
Labels: size/XS, type/docs

#8439 Helm: Add PDB when gateway autoscaling is enabled
  production/helm/loki/templates/gateway/poddisruptionbudget-gateway.yaml
Labels: size/XS, area/helm

#9020 Helm: add additionalRuleLabels to PrometheusRule alerts
  docs/sources/installation/helm/reference.md
  production/helm/loki/src/alerts.yaml.tpl
  production/helm/loki/templates/monitoring/loki-alerts.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8987 Promtail: Fix file descriptor leak
  CHANGELOG.md
  clients/pkg/promtail/targets/journal/journaltarget.go
Labels: size/S

#8708 loki chart: fix service/ingress mapping
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#8657 Helm - Loki: Fix empty starting line in runtimeConfig
  production/helm/loki/templates/runtime-configmap.yaml
Labels: size/XS, area/helm

#8984 upgrade version nginxinc/nginx-unprivileged to 1.23
  docs/sources/installation/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#9776 Log Volume: Do the prometheus-format conversion in dedicated middleware
  pkg/ingester/instance.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/http_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/stores/index/seriesvolume/volume.go
  pkg/storage/stores/index/seriesvolume/volume_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/XL

#9797 Add per-tenant request counter metric to index gateway server
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/stores/shipper/indexgateway/grpc.go
Labels: size/M

#9804 Add per-tenant request counter metric to index gateway server (#9797)
  CHANGELOG.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/stores/shipper/indexgateway/grpc.go
Labels: size/M

#9809 disabled indexGateway client for boltdbShipper in migration tool.
  cmd/migrate/main.go
Labels: size/XS

#9811 adds tsdb-max-bytes-per-shard limit
  docs/sources/configuration/_index.md
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#9807 Return all errors for a failed push request
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/util/errors.go
Labels: size/M

#9796 Failures logging: avoid logging generic errors
  pkg/distributor/http.go
  pkg/distributor/writefailures/manager.go
  pkg/ingester/stream.go
Labels: size/XS

#9626 logfmt: add --strict flag to enable strict parsing, perform nostrict parsing by default
  CHANGELOG.md
  docs/sources/query/log_queries/_index.md
  docs/sources/upgrading/_index.md
  pkg/logql/log/logfmt/decode.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/optimize.go
  pkg/logql/rangemapper.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/syntax/prettier.go
Labels: size/XL, type/docs

#9790 jsonnet: add tsdb config in jsonnet
  CHANGELOG.md
  docs/sources/installation/tanka.md
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/index-gateway.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/shipper.libsonnet
Labels: size/M, type/docs

#9041 loki: upgrade version grafana-agent-operator
  production/helm/loki/Chart.lock
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/S, area/helm

#9816 Add back cache stats for index stats requests
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/M

#9812 Implement series volume range queries
  pkg/loghttp/query.go
  pkg/logproto/compat.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/series_volume.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/util/time.go
  pkg/util/time_test.go
Labels: size/XXL

#9819 LogPushFailures: Log the tenant id
  pkg/distributor/distributor.go
  pkg/distributor/writefailures/manager.go
Labels: size/XS

#9805 Helm: remove PVC retention policy in single-binary mode when persistence is disabled
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/S, area/helm

#9822 Replace flaky server for log level handler test.
  pkg/util/log/log_test.go
Labels: size/S

#9827 Cherry pick logs changes
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http.go
  pkg/distributor/writefailures/manager.go
  pkg/ingester/stream.go
  pkg/util/errors.go
Labels: size/L

#9830 operator: Expose limits config setting cardinality_limit
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#9828 uses lowercase standard for logging and adds total bytes to shard res…
  pkg/querier/queryrange/shard_resolver.go
Labels: size/XS

#9823 all: remove repetitive the
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1beta1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  pkg/chunkenc/memchunk.go
Labels: size/M, sig/operator

#9791 helm: support endpoint_suffix for azure storage
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#9813 Support content negotiation between query frontend and querier.
  CHANGELOG.md
  docs/sources/configuration/_index.md
  integration/loki_micro_services_test.go
  pkg/querier/http.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/index_stats_cache_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/definitions/interface.go
  pkg/querier/queryrange/queryrangebase/marshaling_test.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/query_range_test.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/queryrangebase/value.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/stats.go
  pkg/querier/worker_service_test.go
  pkg/util/marshal/marshal.go
  pkg/util/server/middleware.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
Labels: size/XL, type/docs

#9838 Fix link to blog in readme
  README.md
Labels: size/XS

#9798 index: allow refreshing index file names cache for specific tables
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/table.go
  pkg/storage/stores/indexshipper/downloads/index_set.go
  pkg/storage/stores/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/downloads/table_test.go
  pkg/storage/stores/indexshipper/storage/cached_client.go
  pkg/storage/stores/indexshipper/storage/cached_client_test.go
  pkg/storage/stores/indexshipper/storage/client.go
  pkg/storage/stores/indexshipper/storage/client_test.go
  pkg/storage/stores/indexshipper/storage/index_set.go
  pkg/storage/stores/indexshipper/table_client.go
Labels: size/L

#9800 Loki Promtail: Don't Create home directory for `promtail` user in promtail-postinstall.sh
  tools/packaging/promtail-postinstall.sh
Labels: size/XS

#9820 Update tanka.md
  docs/sources/installation/tanka.md
Labels: size/XS, type/docs

#9437 Only modify identical timestamps when increment-duplicate-timestamps enabled
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#9393 Documentation: limits_config.enforce_metric_name removed
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs
