Repository grafana/loki, pull requests merged in 2023-03, with the labels that each got.

#8643 Clean up scheduler code to prepare upcoming changes
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/scheduler.go
Labels: size/L, kind/chore, component/scheduler

#8666 operator: Fix version inconsistency in generated OpenShift bundle
  operator/CHANGELOG.md
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#8646 Optimize .+ regex line filter
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
Labels: size/S

#8667 WAL: store pointers in record pool
  clients/pkg/promtail/wal/wal.go
  pkg/ingester/wal.go
  pkg/ingester/wal/encoding_test.go
  pkg/ingester/wal/recordpool.go
Labels: size/M

#8682 Querier/Ruler: add histogram to track fetched chunk size distribution
  CHANGELOG.md
  pkg/storage/chunk/fetcher/fetcher.go
Labels: size/S

#8668 Loki Getting Started: Fix example query that was not working
  docs/sources/getting-started/_index.md
Labels: size/S, type/docs

#8685 doc(best-practices): Update default value of `max_chunk_age`.
  docs/sources/best-practices/_index.md
Labels: size/XS, type/docs

#8664 Cross build Promtail for ARM with journald support.
  Makefile
Labels: size/XS, backport release-2.7.x, missing-labels

#8697 Loki: Stop running tickers on deletes
  pkg/storage/stores/indexshipper/compactor/deletion/delete_requests_client.go
  pkg/storage/stores/indexshipper/compactor/generationnumber/gennumber_loader.go
Labels: size/XS

#8659 Use Line Filters in StringLabelFilter
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/syntax/ast.go
Labels: size/L

#8696 Make Loki Overrides public.
  pkg/loki/common/common.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#8342 Update retention_support.md
  operator/docs/enhancements/retention_support.md
Labels: kind/feature, size/XS, sig/operator

#8707 operator: Fix gateway's nodeSelector and tolerations
  operator/CHANGELOG.md
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
Labels: size/M, sig/operator

#8695 Promtail: Stop ticker to avoid leaking
  clients/pkg/promtail/positions/positions.go
Labels: size/XS, component/promtail, type/bug

#8706 Tools: add tool to determine which release (if any) a commit appears in
  tools/which-release.sh
Labels: size/S

#8731 [Docs] Fixing broken link.
  docs/sources/clients/promtail/scraping.md
Labels: size/XS, type/docs, type/bug

#8735 Loki-Mixin: Remove query-readiness panel
  production/loki-mixin-compiled-ssd/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Labels: size/L

#8665 deletion: fix issue in processing delete requests with tsdb index
  CHANGELOG.md
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
Labels: size/S

#8691 Implement hierarchical queues for query scheduler
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/scheduler/queue/leafqueue.go
  pkg/scheduler/queue/leafqueue_test.go
  pkg/scheduler/queue/mapping.go
  pkg/scheduler/queue/mapping_test.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/scheduler.go
Labels: size/XL, component/scheduler

#8734 Reimplement JsonExpressionParser in terms of jsonparser
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/L

#8739 Reimplement Unpack in terms of jsonparser rather than jsoniter
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/M

#8749 Use changed metric in operational dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/M

#8757 Change severity of PromtailFileMissing alert to warning
  production/promtail-mixin/alerts.libsonnet
Labels: size/XS

#8758 Modify debug loki build to work on any architecture, including ARM
  cmd/loki/Dockerfile.debug
Labels: size/S

#8727 Add initial implementation of per-query limits
  CHANGELOG.md
  docs/sources/configuration/_index.md
  integration/client/client.go
  integration/per_request_limits_test.go
  pkg/logql/engine.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip.go
  pkg/util/limiter/combined_limits.go
  pkg/util/querylimits/grpc.go
  pkg/util/querylimits/grpc_test.go
  pkg/util/querylimits/limiter.go
  pkg/util/querylimits/limiter_test.go
  pkg/util/querylimits/middleware.go
  pkg/util/querylimits/middleware_test.go
  pkg/util/querylimits/propagation.go
  pkg/util/querylimits/propagation_test.go
  pkg/util/querylimits/tripperware.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/XL, type/docs

#8769 Changes from linter
  clients/pkg/logentry/stages/stage.go
  clients/pkg/promtail/client/manager_test.go
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/utils/entries.go
  clients/pkg/promtail/utils/entries_test.go
  clients/pkg/promtail/wal/reader.go
  clients/pkg/promtail/wal/writer_test.go
  pkg/logql/log/ip.go
  pkg/logql/log/label_filter.go
  pkg/logql/log/parser_test.go
  pkg/ruler/compat.go
  pkg/ruler/grouploader.go
  pkg/ruler/grouploader_test.go
  pkg/ruler/memstore.go
  pkg/ruler/memstore_test.go
Labels: size/M

#8753 Loki: Change the behavior of the 0 value for retention_period to disable retention.
  CHANGELOG.md
  docs/sources/configuration/_index.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/upgrading/_index.md
  pkg/loki/runtime_config_test.go
  pkg/storage/stores/indexshipper/compactor/retention/expiration.go
  pkg/storage/stores/indexshipper/compactor/retention/expiration_test.go
  pkg/storage/stores/indexshipper/compactor/retention/retention_test.go
  pkg/validation/limits.go
Labels: size/L, type/docs, backport release-2.7.x

#8775 Remove print statements introduced by #8727.
  pkg/util/querylimits/limiter.go
  pkg/util/querylimits/propagation.go
  pkg/util/querylimits/tripperware.go
  tools/dev/loki-boltdb-storage-s3/config/datasource.yaml
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/S

#8761 Loki: remove `subqueries` from metrics.go logging and replace it with separate split and shard counters
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L, type/docs

#8764 Loki: add lines processed to metrics.go
  pkg/logql/metrics.go
Labels: size/XS

#8774 Loki: Add new logql template functions `bytes`, `duration`, `unixEpochMillis`, `unixEpochNanos`, `toDateInZone`, `b64Enc`, and `b64Dec`
  CHANGELOG.md
  docs/sources/logql/template_functions.md
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/XL, type/docs

#8777 Impose per-request limit on label queries.
  integration/client/client.go
  integration/per_request_limits_test.go
  pkg/loki/modules.go
Labels: size/M

#8744 Ruler: remote rule evaluation
  CHANGELOG.md
  docs/sources/configuration/_index.md
  integration/client/client.go
  integration/cluster/cluster.go
  integration/cluster/ruler.go
  integration/loki_rule_eval_test.go
  integration/util/merger.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/series/series_set.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/config.go
  pkg/ruler/evaluator.go
  pkg/ruler/evaluator_local.go
  pkg/ruler/evaluator_remote.go
  pkg/ruler/ruler.go
  production/docker/config/loki.yaml
  production/docker/docker-compose.yaml
  production/docker/rules/docker/rules.yml
Labels: size/XXL, type/docs

#8771 operator: Update Loki operand to v2.7.4
  operator/CHANGELOG.md
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#8678 gofmt is needed for the build
  .golangci.yml
  flake.nix
  nix/faillint.nix
  pkg/ruler/base/ruler.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/stores/indexshipper/compactor/compactor_test.go
  pkg/util/log/line_buffer_test.go
  tools/doc-generator/main.go
Labels: size/L

#8791 operator: Expand OLM skip range for OpenShift Logging 5.7 release
  operator/CHANGELOG.md
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/XS, sig/operator

#8793 Integration Tests: allow loki logs to be optionally output in integration tests
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/loki_rule_eval_test.go
  integration/loki_simple_scalable_test.go
  integration/loki_single_binary_test.go
  integration/multi_tenant_queries_test.go
  integration/per_request_limits_test.go
Labels: size/S

#8796 Revert "Implement hierarchical queues for query scheduler"
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/scheduler/queue/leafqueue.go
  pkg/scheduler/queue/leafqueue_test.go
  pkg/scheduler/queue/mapping.go
  pkg/scheduler/queue/mapping_test.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/scheduler.go
Labels: size/XL

#8799 fix to-string for noop label filters
  pkg/logql/log/label_filter.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/parser_test.go
Labels: kind/bug, size/M, type/bug, product-approved, backport release-2.8.x, backport k141

#8645 [release 2.7.x] Fixing broken link and removing out of date blog post.
  docs/sources/operations/scalability.md
Labels: size/XS, type/docs

#8192 operator: Allow multiple matchers for multi-tenancy with Network tenant
  operator/CHANGELOG.md
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/opa_openshift.go
Labels: size/S, sig/operator

#8808 Retention: add selector detail to docs
  docs/sources/operations/storage/retention.md
Labels: size/XS, type/docs

#8743 operator: Add alerting style guide validation
  operator/CHANGELOG.md
  operator/apis/loki/v1/v1.go
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/hack/lokirules_ocp.yaml
  operator/internal/validation/openshift/alertingrule.go
  operator/internal/validation/openshift/alertingrule_test.go
  operator/internal/validation/openshift/common.go
Labels: size/L, sig/operator

#8748 operator: Add alertingrule tenant id label for all rules
  operator/CHANGELOG.md
  operator/internal/manifests/internal/rules/marshal.go
  operator/internal/manifests/internal/rules/marshal_test.go
Labels: size/S, sig/operator

#8789 Fix: Ensure query limits tripperware wraps frontend.
  integration/loki_micro_services_test.go
  pkg/loki/loki.go
Labels: size/M

#8798 prepare changelog for 2.8 release
  CHANGELOG.md
Labels: size/XS, product-approved, backport release-2.8.x

#8823 Allow math on errors
  pkg/logql/evaluator.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_test.go
  pkg/logqlmodel/error.go
Labels: size/L

#8656 helm chart: fix role/PSP mapping
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/role.yaml
Labels: size/XS, area/helm

#8822 Add yaml linting step to helm ci
  .github/workflows/helm-ci.yml
  Makefile
  production/helm/loki/Makefile
  production/helm/loki/src/.yamllint.yaml
  production/helm/loki/src/alerts.yaml
Labels: size/L, area/helm

#8672 operator: Add support for memberlist bind network configuration
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/compactor.go
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/memberlist.go
  operator/internal/manifests/memberlist_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/var.go
Labels: size/XXL, sig/operator

#8815 operator: Fix publishing operator bundle on quay.io
  .github/workflows/operator-images.yaml
Labels: size/XS

#8805 TOC Sync: Move alerting and recording rules under Alert.
  docs/sources/alert/_index.md
  docs/sources/operations/blocking-queries.md
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-4.md
Labels: size/S, type/docs

#8806 TOC Sync: Move grafana file under Visualize.
  docs/sources/visualize/grafana.md
Labels: size/S, type/docs

#8778 Fix word confusions
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/stages/regex.md
Labels: size/S, type/docs

#8750 refactor(lambda-promtail): apply terraform best practices
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/moves.tf
  tools/lambda-promtail/variables.tf
Labels: size/L

#8804 Backporting update to 2.7.x release.
  docs/sources/operations/troubleshooting.md
  docs/sources/upgrading/_index.md
Labels: size/S, type/docs, type/bug

#8786 Loki: Add a `prepare-shutdown` endpoint
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/ingester/ingester.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M, type/docs

#7127 [new feature] promtail: Add a Promtail stage for probabilistic sampling
  clients/pkg/logentry/stages/sampling.go
  clients/pkg/logentry/stages/sampling_test.go
  clients/pkg/logentry/stages/stage.go
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/sampling.md
Labels: size/L, type/docs

#8829 chore: Fix spelling of "syncing"
  pkg/storage/stores/series/index/table_manager.go
Labels: size/XS

#8836 Removing backend target from SSD docker setup
  production/docker/config/loki.yaml
  production/docker/docker-compose.yaml
Labels: size/M

#8752 Scheduler: Add query fairness control across multiple actors within a tenant
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend_scheduler_worker.go
  pkg/querier/queryrange/codec.go
  pkg/scheduler/queue/dequeue_qos_test.go
  pkg/scheduler/queue/leafqueue.go
  pkg/scheduler/queue/leafqueue_test.go
  pkg/scheduler/queue/mapping.go
  pkg/scheduler/queue/mapping_test.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/tenant_queues_test.go
  pkg/scheduler/scheduler.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/scheduler/schedulerpb/scheduler.proto
  pkg/util/httpreq/headers.go
  pkg/util/httpreq/tags.go
Labels: size/XXL, type/docs

#8816 Print duration in error messages with more readable.
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/limits.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/indexshipper/compactor/compactor_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/util/validation/validate.go
Labels: size/S

#8848 Ruler: rule evaluation jitter
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/modules.go
  pkg/ruler/base/ruler.go
  pkg/ruler/evaluator_jitter.go
  pkg/ruler/evaluator_jitter_test.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#8853 unpack: fix panic on processing empty line
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: kind/bug, size/S, type/bug

#8854 Remove ./tools/fetch-tags invocation from Makefile
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  tools/fetch-tags
Labels: size/S

#8855 ksonnet/loki: Add gRPC port to compactor mixin
  CHANGELOG.md
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/XS

#8763 Label selector optimizations
  pkg/logql/log/filter.go
  pkg/logql/matchers_test.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/parser_test.go
  pkg/loki/runtime_config_test.go
  pkg/storage/store_test.go
  pkg/util/matchers.go
  pkg/util/regex.go
Labels: size/L

#8857 operator: Update Dockerfile to go1.20 images
  operator/Dockerfile
  operator/Dockerfile.cross
Labels: size/XS, sig/operator

#7451 operator: Add support for rules configmap sharding
  operator/CHANGELOG.md
  operator/hack/large-rules-app.yaml
  operator/hack/large-rules-infra.yaml
  operator/internal/handlers/internal/rules/cleanup.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/build.go
  operator/internal/manifests/options.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/ruler_test.go
  operator/internal/manifests/rules_config.go
  operator/internal/manifests/rules_config_test.go
  operator/internal/manifests/shard_rules_configmap.go
  operator/internal/manifests/var.go
Labels: size/XXL, sig/operator

#8859 (chore): remove incorrect cache config preample
  docs/sources/configuration/_index.md
  pkg/storage/config/store.go
  pkg/storage/factory.go
Labels: size/L, type/docs, backport release-2.8.x

#8785 Ruler: remote rule evaluation hardening
  docs/sources/configuration/_index.md
  docs/sources/operations/scalability.md
  pkg/loki/modules.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/evaluator_local.go
  pkg/ruler/evaluator_remote.go
  pkg/ruler/evaluator_remote_test.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#8852 Loki: Add route_randomly to Redis options
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/storage/chunk/cache/redis_client.go
Labels: size/S, type/docs

#8861 operator: Pin go version used in netlify env
  operator/netlify.toml
Labels: size/XS, sig/operator

#8870 update on Running Promtail on AWS EC2 tutorial
  docs/sources/clients/aws/ec2/_index.md
Labels: size/XS, type/docs

#8724 Short circuit parsers
  docs/sources/logql/log_queries/_index.md
  docs/sources/upgrading/_index.md
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/parser_test.go
Labels: size/L, type/docs

#8873 Correcting typos merged in #8870.
  docs/sources/clients/aws/ec2/_index.md
Labels: size/XS, type/docs

#8856 Rename LeafQueue to TreeQueue
  pkg/scheduler/queue/mapping.go
  pkg/scheduler/queue/mapping_test.go
  pkg/scheduler/queue/tenant_queues.go
  pkg/scheduler/queue/treequeue.go
  pkg/scheduler/queue/treequeue_test.go
Labels: size/M

#8841 Document how to install Loki and Promtail using APT/DNF.
  docs/sources/installation/local.md
Labels: size/S, type/docs

#8880 mixins: Normalize headless service name for query-frontend/scheduler
  CHANGELOG.md
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/query-frontend.libsonnet
  production/ksonnet/loki/query-scheduler.libsonnet
Labels: size/M

#8742 tsdb: sample chunk info from tsdb index to limit the amount of chunkrefs we read from index
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_read.go
  pkg/storage/stores/tsdb/index/index.go
  pkg/storage/stores/tsdb/index/index_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/querier.go
  pkg/storage/stores/tsdb/querier_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/XL

#8851 Define `RequiredLabels` query limit.
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/logcli/client/file.go
  pkg/logql/limits.go
  pkg/logql/log/parser_hints.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/querylimits/limiter.go
  pkg/util/querylimits/limiter_test.go
  pkg/util/querylimits/middleware_test.go
  pkg/util/querylimits/propagation.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#8670 Max bytes read limit
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/util/querylimits/limiter.go
  pkg/util/querylimits/limiter_test.go
  pkg/util/querylimits/middleware_test.go
  pkg/util/querylimits/propagation.go
  pkg/util/querylimits/propagation_test.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#8888 Loki: Add more spans to write path
  pkg/distributor/distributor.go
  pkg/ingester/stream.go
Labels: size/L

#8871 Canary: support filtering / parsing logs with LogQL
  cmd/loki-canary/main.go
  pkg/canary/reader/reader.go
Labels: size/S

#8669 WAL: remove ePool that is unused
  pkg/ingester/wal/recordpool.go
Labels: size/S

#8637 Iterators: re-implement mergeEntryIterator using loser.Tree for performance
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/querier/tail.go
  pkg/querier/tail_test.go
  pkg/util/loser/tree.go
  pkg/util/loser/tree_test.go
Labels: size/L

#8882 Extract scheduler queue metrics into separate field
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/scheduler/queue/dequeue_qos_test.go
  pkg/scheduler/queue/metrics.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/scheduler.go
Labels: size/L

#8891 Extend scheduler queue metrics with enqueue/dequeue counters
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/scheduler/queue/metrics.go
  pkg/scheduler/queue/queue.go
  pkg/scheduler/scheduler.go
Labels: size/M

#8898 Promtail: Fix examples how to build it
  README.md
  docs/sources/upgrading/_index.md
Labels: size/XS, type/docs

#8651 operator: Prepare community release v0.2.0
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manager/kustomization.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
Labels: size/L, sig/operator

#8732 azure: respect retry config before cancelling the context
  CHANGELOG.md
  pkg/storage/chunk/client/azure/blob_storage_client.go
Labels: size/XS

#8919 Update changelog for 2.7.5 release
  CHANGELOG.md
Labels: size/XS

#8890 Short circuit parsing when label matchers are present
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline.go
Labels: size/L

#8925 Update version used in production scripts
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/job.nomad.hcl
Labels: size/M

#8911 operator: Update LokiStack annotation on RulerConfig delete
  operator/CHANGELOG.md
  operator/controllers/loki/internal/lokistack/ruler_config_discovery.go
  operator/controllers/loki/internal/lokistack/update.go
  operator/controllers/loki/rulerconfig_controller.go
Labels: size/M, sig/operator

#8924 Add release notes for v2.7.5 release
  docs/sources/release-notes/v2-7.md
Labels: size/S, type/docs

#8909 Split index request in 24h intervals
  CHANGELOG.md
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/L

#8931 operator: Fix calculator dockerfile
  operator/calculator.Dockerfile
Labels: size/XS, sig/operator

#8918 Implement `RequiredNumberLabels` query limit
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/querylimits/limiter.go
  pkg/util/querylimits/limiter_test.go
  pkg/util/querylimits/middleware_test.go
  pkg/util/querylimits/propagation.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#8912 operator: Add missing replaces directives for release v0.2.0
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#8914 Automatically Reorder Pipeline Filters
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/M

#8938 Log when returning query-time limit
  pkg/util/querylimits/limiter.go
Labels: size/S

#8832 Give examples for all cache configurations.
  docs/sources/operations/caching.md
Labels: size/M, type/docs

#8930 operator: Fix makefile target operatorhub
  operator/CHANGELOG.md
  operator/hack/.checked-pr-template.md
  operator/hack/operatorhub.sh
Labels: size/M, sig/operator

#8302 Promtail WAL support: Implement reader side
  clients/pkg/promtail/client/client_test.go
  clients/pkg/promtail/client/client_writeto.go
  clients/pkg/promtail/client/client_writeto_test.go
  clients/pkg/promtail/client/manager.go
  clients/pkg/promtail/client/manager_test.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/promtail_wal_test.go
  clients/pkg/promtail/utils/remotewrite_server.go
  clients/pkg/promtail/wal/watcher.go
  clients/pkg/promtail/wal/watcher_metrics.go
  clients/pkg/promtail/wal/watcher_test.go
  clients/pkg/promtail/wal/writer.go
  clients/pkg/promtail/wal/writer_test.go
Labels: size/XXL

#8946 Revert high cardinality metric in scheduler
  pkg/scheduler/queue/metrics.go
  pkg/scheduler/queue/queue.go
Labels: size/XS, product-approved, backport k143

#8947 Enforce per tenant queue size
  pkg/scheduler/queue/queue.go
  pkg/scheduler/queue/queue_test.go
  pkg/scheduler/queue/tenant_queues.go
Labels: size/M, product-approved, backport k143

#8940 Rename config for enforcing a minimum number of label matchers
  docs/sources/configuration/_index.md
  pkg/util/querylimits/propagation.go
  pkg/validation/limits.go
Labels: size/S, type/docs

#8824 Expose optional label matcher for label values handler
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/ingester/ingester.go
  pkg/loghttp/labels.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/stats.go
  pkg/storage/stores/series/series_store_test.go
Labels: size/L, type/docs, backport release-2.7.x, type/bug, backport release-2.8.x

#8957 Remove dedupe cache from operations documentation.
  docs/sources/operations/caching.md
  production/ksonnet/loki/boltdb_shipper.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/memcached.libsonnet
Labels: size/M, type/docs

#8960 [release-2.8.x] Expose optional label matcher for label values handler (#8824)
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/ingester/ingester.go
  pkg/loghttp/labels.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/stats.go
  pkg/storage/stores/series/series_store_test.go
Labels: size/L, type/docs

#8971 Fix fetched chunk from store size in metric
  CHANGELOG.md
  pkg/storage/chunk/fetcher/fetcher.go
Labels: size/XS

#8927 Loki: Improve spans usage
  docs/sources/configuration/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/ratestore.go
  pkg/ingester/stream.go
  pkg/logql/engine.go
  pkg/querier/http.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/storage/chunk/client/util/parallel_chunk_fetch.go
  pkg/storage/chunk/fetcher/fetcher.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/tsdb/index_client.go
Labels: size/L, type/docs

#8975 tsdb: use unique uploader name while building tsdb index filename, same as boltdb-shipper
  pkg/storage/store_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/tsdb/identifier.go
  pkg/storage/stores/tsdb/store.go
Labels: size/M

#8343 Loki: Add a limit for the [range] value on range queries
  docs/sources/configuration/_index.md
  pkg/logcli/client/file.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/limits.go
  pkg/logql/log/filter.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/shardmapper.go
  pkg/logql/syntax/ast.go
  pkg/logqlmodel/error.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/querylimits/limiter.go
  pkg/util/querylimits/limiter_test.go
  pkg/util/querylimits/middleware_test.go
  pkg/util/querylimits/propagation.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#8961 [release-2.7] Expose optional label matcher for label values handler (#8824)
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/ingester/ingester.go
  pkg/loghttp/labels.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/stats.go
  pkg/storage/stores/series/series_store_test.go
Labels: size/L, type/docs

#8979 Loki: Fixes incorrect query result when querying with start time == end time
  CHANGELOG.md
  pkg/querier/queryrange/downstreamer.go
Labels: size/XS

#8970 [doc] client : ilogtail loki integration
  docs/sources/clients/_index.md
Labels: size/XS, type/docs

#8977 Redefine 1x.extra-small to have 0 requirements.
  operator/apis/loki/v1/lokistack_types.go
  operator/internal/manifests/internal/sizes.go
Labels: size/M, sig/operator

#8944 Diff configs script
  tools/diff-config.sh
Labels: size/M

#8942 typo and phrasing
  docs/sources/clients/promtail/_index.md
Labels: size/XS, type/docs, Q1CX

#8929 Update contains and hasPrefix/hasSuffix with the correct examples
  docs/sources/logql/template_functions.md
Labels: size/XS, type/docs, Q1SE

#8893 Adding release cadence docs
  docs/sources/community/getting-in-touch.md
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/cadence.md
Labels: size/M, type/docs

#8869 Loki Canary: Enable insecure-skip-verify for all requests
  cmd/loki-canary/main.go
  pkg/canary/reader/reader.go
Labels: size/S

#8847 Docs: Improve time range documentation
  docs/sources/api/_index.md
Labels: size/XS, type/docs

#8966 Docs: Fix typos and grammar
  docs/sources/alert/_index.md
  docs/sources/clients/k6/write-scenario.md
  docs/sources/clients/promtail/configuration.md
  docs/sources/fundamentals/architecture/components/_index.md
  docs/sources/installation/helm/migrate-from-distributed/index.md
  docs/sources/installation/helm/reference.md
  docs/sources/operations/storage/wal.md
  docs/sources/storage/_index.md
  docs/sources/upgrading/_index.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8270 Update rbac.authorization.k8s.io/v1beta1 to rbac.authorization.k8s.io/v1
  tools/helm.yaml
Labels: size/XS

#8779 Loki: Add UsageStatsURL to usagestats Config
  docs/sources/configuration/_index.md
  pkg/usagestats/reporter.go
  pkg/usagestats/reporter_test.go
  pkg/usagestats/stats.go
Labels: size/S, type/docs

#8755 index-gateway: fix failure in initializing index gateway when boltdb-shipper is not being used
  CHANGELOG.md
  pkg/loki/modules.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
Labels: size/M

#8747 Add projected volume type to psp
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/podsecuritypolicy.yaml
Labels: size/XS, area/helm

#8904 Fix the link in the Azure Event Hubs doc
  docs/sources/clients/promtail/scraping.md
Labels: size/XS, component/promtail, type/docs

#8733 Fix dns-port in network-policy
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/networkpolicy.yaml
Labels: size/XS, area/helm
