Repository grafana/loki, pull requests merged in 2023-07, with the labels that each got.

#9842 address feedback on pr 9798
  docs/sources/configuration/_index.md
  pkg/storage/stores/indexshipper/storage/cached_client.go
Labels: size/S, type/docs

#9852 ksonnet: refer to tsdb_shipper_shared_store only if using_tsdb_shipper is true
  production/ksonnet/loki/shipper.libsonnet
Labels: size/XS

#9853 cache: fix a mistake in returning cached error in the index list cache
  pkg/storage/stores/indexshipper/storage/cached_client.go
  pkg/storage/stores/indexshipper/storage/cached_client_test.go
Labels: size/L

#9859 operator: Regenerate bundles after docs change
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/L, sig/operator

#9863 promtail: apply defaults to HTTP client config
  CHANGELOG.md
  clients/pkg/promtail/client/config.go
  clients/pkg/promtail/client/config_test.go
Labels: size/M

#9010 helm: fix dashboard multiple levels
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/src/dashboards/loki-logs.json
Labels: size/S, area/helm

#9857 Queriers: Stop emitting spans for every objectstorage call
  CHANGELOG.md
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/util/instrument/instrument.go
  pkg/util/instrument/instrument_test.go
Labels: size/L

#9868 Switch on pointer `*logproto.SeriesResponse` in JSON serialization.
  pkg/querier/http_test.go
  pkg/querier/queryrange/marshal.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
Labels: size/M

#9875 Switch on pointer `*logproto.SeriesResponse` in JSON serialization.
  pkg/querier/http_test.go
  pkg/querier/queryrange/marshal.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
Labels: size/M

#9867 Migrate tool: Fetch chunks as big batch, only go one by one in case of an error
  cmd/migrate/main.go
Labels: size/M

#9638 Docs: add reference to flog CLI args
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs

#9832 Get basic statistics from series volume requests
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/stats_test.go
Labels: size/M

#9879 TOC Sync: Move configuration files under Configure
  Makefile
  docs/sources/alert/_index.md
  docs/sources/best-practices/_index.md
  docs/sources/clients/fluentbit/_index.md
  docs/sources/clients/fluentd/_index.md
  docs/sources/clients/lambda-promtail/_index.md
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/stages/limit.md
  docs/sources/clients/promtail/stages/match.md
  docs/sources/clients/promtail/troubleshooting/_index.md
  docs/sources/configure/_index.md
  docs/sources/configure/examples.md
  docs/sources/configure/examples/1-Local-Configuration-Example.yaml
  docs/sources/configure/examples/10-S3-And-DynamoDB-With-KMS-Snippet.yaml
  docs/sources/configure/examples/11-COS-HMAC-Example.yaml
  docs/sources/configure/examples/12-COS-APIKey-Example.yaml
  docs/sources/configure/examples/13-COS-Trusted-Profile-Example.yaml
  docs/sources/configure/examples/2-S3-Cluster-Example.yaml
  docs/sources/configure/examples/3-S3-Without-Credentials-Snippet.yaml
  docs/sources/configure/examples/4-BOS-Example.yaml
  docs/sources/configure/examples/5-S3-And-DynamoDB-Snippet.yaml
  docs/sources/configure/examples/6-Cassandra-Snippet.yaml
  docs/sources/configure/examples/7-Schema-Migration-Snippet.yaml
  docs/sources/configure/examples/8-GCS-Snippet.yaml
  docs/sources/configure/examples/9-Expanded-S3-Snippet.yaml
  docs/sources/configure/examples/alibaba-cloud-storage-config.yaml
  docs/sources/configure/index.template
  docs/sources/configure/query-frontend.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/operations/automatic-stream-sharding.md
  docs/sources/operations/blocking-queries.md
  docs/sources/operations/overrides-exporter.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/scalability.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/tsdb.md
  docs/sources/release-notes/v2-4.md
  docs/sources/release-notes/v2-5.md
  docs/sources/release-notes/v2-6.md
  docs/sources/storage/_index.md
  docs/sources/upgrading/_index.md
Labels: size/L, type/docs

#9870 Update version in docker driver command.
  docs/sources/clients/docker-driver/_index.md
Labels: size/M, type/docs

#9881 Update redirects to use new alias format. (part 1 of 2)
  docs/sources/alert/_index.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/architecture.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/get-started/labels.md
  docs/sources/get-started/overview.md
  docs/sources/query/_index.md
  docs/sources/query/analyzer.md
  docs/sources/query/ip.md
  docs/sources/query/log_queries/_index.md
  docs/sources/query/logcli.md
  docs/sources/query/metric_queries.md
  docs/sources/query/query_examples.md
  docs/sources/query/template_functions.md
  docs/sources/visualize/grafana.md
Labels: size/M, type/docs

#9891 helm: fix formatting in CHANGELOG.md
  production/helm/loki/CHANGELOG.md
Labels: size/XS, area/helm

#9359 Request to change the loki-overview-2 image
  docs/sources/get-started/loki-overview-2.png
Labels: size/XS, type/docs

#9896 Document deadlocked Docker daemon workaround.
  docs/sources/clients/docker-driver/_index.md
Labels: size/XS, type/docs

#9848 [Docs] - Add example of Conditional OR to IP Filter
  docs/sources/query/ip.md
Labels: size/S, type/docs

#9833 Add limit to the series volume endpoint
  docs/sources/configure/_index.md
  pkg/storage/stores/index/seriesvolume/volume.go
  pkg/storage/stores/index/seriesvolume/volume_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/stores/tsdb/store.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#9888 Query ingesters for SeriesVolume in single binary
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L

#9878 Add targetLabels to SeriesVolume requests
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/series_volume.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/indexgateway/shufflesharding.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/util_test.go
  pkg/util/series_volume.go
Labels: size/XL

#9913 Update go version to 1.20.6
  .drone/drone.jsonnet
  .drone/drone.yml
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M, sig/operator

#9918 Use Debian Bullseye
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#9919 Build gotestum, helm-docs and others on bullseye
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#9915 Bump tail dependency to address issue in retry logic
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/grafana/tail/tail.go
  vendor/github.com/grafana/tail/watch/polling.go
  vendor/modules.txt
Labels: size/XS

#9914 Update go build image
  .drone/drone.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/querytee/Dockerfile.cross
  operator/Dockerfile.cross
Labels: size/M, sig/operator

#9920 updated to the latest version of dskit
  docs/sources/configure/_index.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/worker/worker.go
  pkg/ruler/base/lifecycle.go
  pkg/ruler/base/lifecycle_test.go
  pkg/scheduler/lifecycle.go
  pkg/storage/chunk/client/gcp/bigtable_index_client.go
  pkg/storage/factory.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/shipper/indexgateway/lifecycle.go
  vendor/github.com/grafana/dskit/dns/miekgdns/resolver.go
  vendor/github.com/grafana/dskit/flagext/bytes.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/client.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/consul/mock.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/kv/mock.go
  vendor/github.com/grafana/dskit/loser/loser.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler_delegates.go
  vendor/github.com/grafana/dskit/ring/client/pool.go
  vendor/github.com/grafana/dskit/ring/doc.go
  vendor/github.com/grafana/dskit/ring/flush.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/ownership_priority_queue.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/replication_set_tracker.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/spread_minimizing_token_generator.go
  vendor/github.com/grafana/dskit/ring/token_generator.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/runutil/runutil.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/modules.txt
Labels: size/M, type/docs

#9911 Remove aliases to current location.
  docs/sources/alert/_index.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/architecture.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/get-started/labels.md
  docs/sources/get-started/overview.md
  docs/sources/query/_index.md
  docs/sources/query/analyzer.md
  docs/sources/query/ip.md
  docs/sources/query/log_queries/_index.md
  docs/sources/query/logcli.md
  docs/sources/query/metric_queries.md
  docs/sources/query/query_examples.md
  docs/sources/query/template_functions.md
  docs/sources/visualize/grafana.md
Labels: size/S, type/docs

#9910 Fix image links in moved files.
  docs/sources/get-started/architecture.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/get-started/overview.md
Labels: size/S, type/docs

#9927 Remove unused package pkg/prom1
  pkg/prom1/storage/metric/metric.go
  pkg/prom1/storage/metric/metric_test.go
  pkg/prom1/storage/metric/sample.go
Labels: size/L

#9694 Add metadata to push payload
  integration/client/client.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  pkg/loghttp/entry.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logproto/alias.go
  pkg/logproto/timeseries.go
  pkg/push/go.mod
  pkg/push/go.sum
  pkg/push/push.pb.go
  pkg/push/push.proto
  pkg/push/types.go
  pkg/push/types_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
  pkg/util/unmarshal/legacy/unmarshal_test.go
  pkg/util/unmarshal/unmarshal.go
  pkg/util/unmarshal/unmarshal_test.go
  vendor/github.com/grafana/loki/pkg/push/push.pb.go
  vendor/github.com/grafana/loki/pkg/push/push.proto
  vendor/github.com/grafana/loki/pkg/push/types.go
Labels: size/XL

#9894 Clarify that label filter expressions are not supported in promtail.
  clients/pkg/logentry/stages/match_test.go
  docs/sources/clients/promtail/stages/match.md
Labels: size/S, type/docs

#9923 Remove goroutines from limiter middleware.
  pkg/querier/queryrange/limits.go
Labels: size/M

#9890 Update redirects to use new alias format. (part 2 of 2)
  docs/sources/community/contributing.md
  docs/sources/community/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/community/design-documents/2020-09-Write-Ahead-Log.md
  docs/sources/community/design-documents/2021-01-Ordering-Constraint-Removal.md
  docs/sources/community/design-documents/_index.md
  docs/sources/community/design-documents/labels.md
  docs/sources/community/getting-in-touch.md
  docs/sources/community/governance.md
  docs/sources/community/lids/0001-Introduction.md
  docs/sources/community/lids/0002-RemoteRuleEvaluation.md
  docs/sources/community/lids/0003-QueryFairnessInScheduler.md
  docs/sources/community/lids/_index.md
  docs/sources/community/maintaining/_index.md
  docs/sources/community/maintaining/release-loki-build-image.md
  docs/sources/community/maintaining/release.md
  docs/sources/get-started/_index.md
  docs/sources/reference/_index.md
  docs/sources/reference/api.md
  docs/sources/visualize/grafana.md
Labels: size/M, type/docs

#9930 operator: Use PodAntiAffinity for all components
  operator/CHANGELOG.md
  operator/internal/manifests/distributor.go
  operator/internal/manifests/distributor_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/node_placement_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/querier_test.go
  operator/internal/manifests/var.go
Labels: size/XL, sig/operator

#9916 Remove unused fallback in index gateway client store
  pkg/storage/store.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_gateway_store_test.go
Labels: size/L

#9904 WriteFailures: Add metrics to increase monitoring
  pkg/distributor/distributor.go
  pkg/distributor/writefailures/manager.go
  pkg/distributor/writefailures/manager_test.go
  pkg/distributor/writefailures/metrics.go
  pkg/ingester/ingester.go
  pkg/loki/modules_test.go
Labels: size/M

#9946 Remove ./tools/fetch-tags invocation from Makefile (#8854)
  Makefile
  tools/fetch-tags
Labels: size/XS

#9503 operator: Add Pod annotations with node topology labels to support zone aware scheduling
  operator/CHANGELOG.md
  operator/apis/loki/v1/v1.go
  operator/controllers/loki/lokistack_zone_labeling_controller.go
  operator/controllers/loki/lokistack_zone_labeling_controller_test.go
  operator/internal/handlers/lokistack_enable_zone_awareness.go
  operator/internal/handlers/lokistack_enable_zone_awareness_test.go
  operator/internal/manifests/config.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/distributor_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/indexgateway_test.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/ingester_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/node_placement.go
  operator/internal/manifests/node_placement_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/querier_test.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/ruler_test.go
  operator/internal/manifests/var.go
  operator/main.go
Labels: size/XXL, sig/operator

#9935 Call FetchChunks in parallel from series index store
  pkg/storage/stores/series/series_index_store.go
Labels: size/M

#9949 reset pipeline caches when tailing rather than making a new pipeline
  CHANGELOG.md
  pkg/ingester/tailer.go
  pkg/logql/log/labels.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
Labels: size/L, type/bug

#9953 Revert "updated to the latest version of dskit"
  docs/sources/configure/_index.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/worker/worker.go
  pkg/ruler/base/lifecycle.go
  pkg/ruler/base/lifecycle_test.go
  pkg/scheduler/lifecycle.go
  pkg/storage/chunk/client/gcp/bigtable_index_client.go
  pkg/storage/factory.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/shipper/indexgateway/lifecycle.go
  vendor/github.com/grafana/dskit/dns/miekgdns/resolver.go
  vendor/github.com/grafana/dskit/flagext/bytes.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/client.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/consul/mock.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/kv/mock.go
  vendor/github.com/grafana/dskit/loser/loser.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler_delegates.go
  vendor/github.com/grafana/dskit/ring/client/pool.go
  vendor/github.com/grafana/dskit/ring/doc.go
  vendor/github.com/grafana/dskit/ring/flush.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/ownership_priority_queue.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/replication_set_tracker.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/spread_minimizing_token_generator.go
  vendor/github.com/grafana/dskit/ring/token_generator.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/runutil/runutil.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/modules.txt
Labels: size/M, type/docs

#9937 Remove Prometheus dependency for push pkg
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/push/go.mod
  pkg/push/go.sum
  pkg/push/types.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
  pkg/util/unmarshal/legacy/unmarshal_test.go
  pkg/util/unmarshal/unmarshal_test.go
  vendor/github.com/grafana/loki/pkg/push/types.go
Labels: size/M

#9950 operator: Gateway pods do not need to have INSTANCE_AVAILABILITY_ZONE env set in their containers
  operator/internal/manifests/node_placement.go
Labels: size/S, sig/operator

#9808 Include entry metadata bytes in metrics tracking ingestion stats
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/L

#9795 operator: add initContainer to pods of zone aware components
  operator/CHANGELOG.md
  operator/internal/handlers/lokistack_enable_zone_awareness_test.go
  operator/internal/manifests/node_placement.go
  operator/internal/manifests/node_placement_test.go
Labels: size/L, sig/operator

#9963 operator: Fix application tenant alertmanager configuration
  operator/CHANGELOG.md
  operator/controllers/loki/lokistack_controller.go
  operator/internal/handlers/internal/openshift/alertmanager.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/var.go
Labels: size/L, sig/operator

#9951 Docs : fix promtal typo
  docs/sources/installation/local.md
Labels: size/XS, type/docs, backport release-2.7.x

#9700 Add non-indexed metadata to chunks
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/pool.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/util_test.go
  pkg/ingester/checkpoint.go
  pkg/ingester/stream.go
  pkg/storage/lazy_chunk_test.go
Labels: size/XXL

#9975 Loki: Fix a merge error when getting rules from sharded rulers using …
  pkg/ruler/base/ruler.go
Labels: size/XS

#9971 operator: Add namespace and tenantId labels to RecordingRules
  operator/CHANGELOG.md
  operator/apis/loki/v1/recordingrule_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/config/crd/bases/loki.grafana.com_recordingrules.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/internal/manifests/internal/rules/marshal.go
  operator/internal/manifests/internal/rules/marshal_test.go
  operator/internal/manifests/openshift/recordingrule_test.go
  operator/internal/manifests/openshift/recordngrule.go
  operator/internal/manifests/rules_config.go
Labels: size/L, sig/operator

#9976 Fix buffered iterator
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
Labels: size/M

#9978 [jsonnet] removed deprecated policy.v1beta1
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/ingester.libsonnet
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/S, type/docs

#9961 loki: Add `CODEOWNERS` file
  CODEOWNERS
Labels: size/XS

#9983 Loki: add 'post_filter_lines' stat for tracking how many lines are match a queries filter expression(s)
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/recovery_test.go
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/http_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#9934 add sharded to querystats bytes processed
  pkg/logql/metrics.go
Labels: size/S

#9931 operator: Custom configuration for LokiStack admin groups
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/opa_openshift.go
Labels: size/L, sig/operator

#9985 Use series hash to identify uniques in merge.
  pkg/ingester/instance.go
  pkg/logproto/extensions.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
Labels: size/L

#9912 Break up and move Best Practices topic.
  docs/sources/configure/bp-configure.md
  docs/sources/configure/query-frontend.md
  docs/sources/get-started/bp-labels.md
  docs/sources/get-started/hash-rings.md
Labels: size/L, type/docs

#9997 New build image for release branches
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
  loki-build-image/README.md
Labels: size/S

#9972 operator: Fix OIDC.IssuerCAPath by updating it to type CASpec
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/internal/gateway/tenant_secrets_test.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/internal/gateway/build_test.go
  operator/internal/manifests/var.go
Labels: size/XL, sig/operator

#9993 Improve observability for non-indexed labels usage
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/http_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#9945 helm: Allow altering the canary label name
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#10000 helm: add `/config` proxy_pass to nginx gateway
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#10011 Support non-indexed labels in WAL
  pkg/ingester/recovery_test.go
  pkg/ingester/wal/encoding.go
  pkg/ingester/wal/encoding_test.go
Labels: size/L

#9986 [promtail] non_indexed_labels stage
  clients/pkg/logentry/stages/labels.go
  clients/pkg/logentry/stages/nonindexedlabels.go
  clients/pkg/logentry/stages/nonindexedlabels_test.go
  clients/pkg/logentry/stages/stage.go
Labels: size/L, component/promtail

#9944 Backport go 1.20.6 to 2.8
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/L, sig/operator

#10006 Update _index.md
  docs/sources/community/lids/_index.md
Labels: size/XS, type/docs, Q2SE

#10017 Change "tenant" to "org_id"
  pkg/distributor/writefailures/manager.go
Labels: size/XS

#10007 Drop :z from the podman mount command to make it work on macOS
  docs/Makefile
Labels: size/XS, type/docs

#9908 Refactor Promtail's `client.Manager` to do multi client instantiation
  clients/pkg/promtail/client/logger.go
  clients/pkg/promtail/client/manager.go
  clients/pkg/promtail/client/manager_test.go
  clients/pkg/promtail/client/multi.go
  clients/pkg/promtail/client/multi_test.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/promtail_test.go
Labels: size/XL

#9988 Allow volume to be aggregated by label
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/loghttp/query.go
  pkg/loghttp/query_test.go
  pkg/logproto/indexgateway.pb.go
  pkg/logproto/indexgateway.proto
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/series_volume.go
  pkg/querier/queryrange/series_volume_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/index/seriesvolume/volume.go
  pkg/storage/stores/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/lazy_index.go
  pkg/storage/stores/tsdb/multi_file_index.go
  pkg/storage/stores/tsdb/multitenant.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/util_test.go
  pkg/util/marshal/marshal.go
  pkg/util/series_volume.go
Labels: size/XXL

#9702 Metadata to labels result and filtering support
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
Labels: size/XL

#10014 Add 2.8.3 release to changelog
  CHANGELOG.md
Labels: size/S

#10016 Update docs to 2.8.3
  docs/sources/setup/install/docker.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
Labels: size/M, type/docs

#10024 Make naming consistent for non-Indexed labels
  integration/client/client.go
  integration/loki_micro_services_test.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/util_test.go
  pkg/loghttp/push/push.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
Labels: size/L

#10025 chore(loki): `dependabot` enhancements
  .github/dependabot.yml
Labels: size/S

#10028 Use go 1.20.6 in 2.7 branch
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/L, sig/operator

#10042 Update changelog to include 2.7.6
  CHANGELOG.md
Labels: size/S

#10020 Update _index.md
  docs/sources/storage/_index.md
Labels: size/XS, type/docs

#10043 docs: fixed typos in caching.md
  docs/sources/operations/caching.md
Labels: size/XS, type/docs

#9966 add stats, volume, and volume_range commands to logcli
  .gitignore
  cmd/logcli/main.go
  pkg/logcli/client/client.go
  pkg/logcli/client/file.go
  pkg/logcli/index/stats.go
  pkg/logcli/index/volume.go
  pkg/logcli/print/print.go
  pkg/logcli/print/print_test.go
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
  pkg/logcli/query/tail.go
  pkg/logcli/query/utils.go
  pkg/logcli/util/util.go
Labels: size/XXL

#10045 sort sort log volumes by size
  pkg/querier/queryrange/series_volume.go
  pkg/querier/queryrange/series_volume_test.go
Labels: size/M

#10046 Delete incomplete comment.
  clients/pkg/promtail/promtail.go
Labels: size/XS

#10010 feat(promtail): retrieve BotTags field from cloudflare
  CHANGELOG.md
  clients/pkg/promtail/targets/cloudflare/fields.go
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs

#9898 Helm: Fix loki helm chart helper function for loki.host to explicitly include gateway port
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#10053 Add drone support for loki operator/v* tags
  .drone/docker-manifest-operator.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#10060 update drone signature
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#10058 Loki: Tweak how we handle X-Query-Tags header
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/util/httpreq/tags.go
  pkg/util/httpreq/tags_test.go
Labels: size/S

#10009 helm: add custom labels for loki ingress
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/ingress.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#10055 Remove redundant spans
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/storage/stores/index/index.go
Labels: size/M

#10044 implementing string interning to optimize resource usage for storing and processing non-indexed labels
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/pool.go
  pkg/chunkenc/symbols.go
  pkg/chunkenc/symbols_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
Labels: size/XXL

#10018 fix(compactor): fix Content-Type for `GET /loki/api/v1/delete` api
  pkg/storage/stores/indexshipper/compactor/deletion/request_handler.go
Labels: size/XS

#10056 Update authentication.md
  docs/sources/operations/authentication.md
Labels: size/XS, type/docs

#10047 add volume and volume_range docs
  docs/sources/reference/api.md
Labels: size/S, type/docs, add-to-release-notes

#10059 logcli: fix volume routes, add targetLabels and aggregateByLabels
  cmd/logcli/main.go
  pkg/logcli/client/client.go
  pkg/logcli/client/file.go
  pkg/logcli/index/volume.go
  pkg/logcli/query/query_test.go
  pkg/logcli/volume/volume.go
Labels: size/L

#9964 lambda-promtail: Support SNS events
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
  tools/lambda-promtail/lambda-promtail/sqs.go
  tools/lambda-promtail/lambda-promtail/sqs_test.go
Labels: size/L, type/docs

#10065 fix: parse expression error message based on record or alert
  CHANGELOG.md
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
Labels: size/M

#10026 Fix missing alibabacloud ruler storage type
  CHANGELOG.md
  pkg/ruler/base/storage.go
Labels: size/XS

#10075 Remove recommendation for Tanak installation.
  docs/sources/installation/_index.md
Labels: size/XS, type/docs

#10081 Add support for cross arch for fluent-bit-plugin-loki image
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  clients/cmd/fluent-bit/Dockerfile
Labels: size/L

#10076 Only aggregate labels or series based on requested
  pkg/ingester/instance.go
  pkg/storage/stores/tsdb/single_file_index.go
Labels: size/M, type/bug, backport k160

#10050 operator: Prepare community release v0.4.0
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manager/kustomization.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
  operator/hack/operatorhub.sh
Labels: size/L, sig/operator

#10086 drone: Fix manifest-operator pipeline waiting for deps
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#10087 update drone signature
  .drone/drone.yml
Labels: size/XS

#10084 Fix operator-bundle action syntax error
  .github/workflows/operator-bundle.yaml
Labels: size/XS

#10082 Add `_extracted` to non-indexed labels with same name as stream labels
  pkg/logql/log/labels.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/pipeline_test.go
Labels: size/M

#10090 Do not send back non-indexed labels for each entry in query response
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
Labels: size/M

#10089 tools: Add support for operator/v* tags
  tools/image-tag
Labels: size/XS

#10091 Update dskit
  docs/sources/configure/_index.md
  go.mod
  go.sum
  pkg/distributor/distributor_ring.go
  pkg/distributor/instance_count_test.go
  pkg/loki/modules.go
  pkg/querier/worker/worker.go
  pkg/ruler/base/lifecycle.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_ring.go
  pkg/scheduler/lifecycle.go
  pkg/storage/chunk/client/gcp/bigtable_index_client.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/shipper/indexgateway/lifecycle.go
  pkg/util/ring_config.go
  vendor/github.com/grafana/dskit/dns/miekgdns/resolver.go
  vendor/github.com/grafana/dskit/flagext/bytes.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/client.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/consul/mock.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/kv/mock.go
  vendor/github.com/grafana/dskit/loser/loser.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler_delegates.go
  vendor/github.com/grafana/dskit/ring/client/pool.go
  vendor/github.com/grafana/dskit/ring/doc.go
  vendor/github.com/grafana/dskit/ring/flush.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/ownership_priority_queue.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/replication_set_tracker.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/spread_minimizing_token_generator.go
  vendor/github.com/grafana/dskit/ring/token_generator.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/runutil/runutil.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/modules.txt
Labels: size/M, type/docs

#10061 Loki: add an expirmental l2 chunks cache
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/cache/mock.go
  pkg/storage/chunk/fetcher/fetcher.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/config/store.go
  pkg/storage/store.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/util_test.go
Labels: size/L

#10077 Lambda Promtail - Add functions to ungzip incoming data from Cross-Account AWS Kinesis/CloudWatch
  tools/lambda-promtail/lambda-promtail/kinesis.go
Labels: size/M

#10097 Loki: change the prefix for the l2 chunks cache
  pkg/storage/store.go
Labels: size/XS

#10099 Logging improvements for volume requests
  pkg/logql/metrics.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/series_volume.go
  pkg/querier/queryrange/stats.go
Labels: size/M

#10103 Ruler: compare header with `strings.EqualFold`
  pkg/ruler/registry.go
Labels: size/XS

#10005 log: Use dskit/log.BufferedLogger instead of LineBufferedLogger
  pkg/util/log/line_buffer_test.go
  pkg/util/log/log.go
  vendor/github.com/grafana/dskit/log/buffered.go
  vendor/modules.txt
Labels: size/L

#10110 operator: Fix replication factor for 1x-extra-small size
  operator/internal/manifests/internal/sizes.go
Labels: size/XS, sig/operator

#9992 Jsonet: Fixes typo in shipper.libjsonnet
  production/ksonnet/loki/shipper.libsonnet
Labels: size/XS

#10121 [GEL jsonnet] fixed PDB creation
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/ingester.libsonnet
Labels: size/XS
