Repository grafana/loki, pull requests merged in 2023-01, with the labels that each got.

#8025 make query-frontend service grpc lb friendly
  production/ksonnet/loki/query-frontend.libsonnet
Labels: size/XS

#8027 chore(promtail): Make `batchwait` and `batchsize` config explicit with yaml tags.
  CHANGELOG.md
  clients/pkg/promtail/client/config.go
Labels: size/XS

#8022 Use gotestsum to run unit tests
  loki-build-image/Dockerfile
Labels: size/S

#8018 Improve comments on sample timestamp validation errors
  pkg/validation/validate.go
Labels: size/S

#8029 Update build image and use in drone yaml
  .drone/drone.yml
  Makefile
Labels: size/M

#7925 fix bugs in logs results caching and its tests
  CHANGELOG.md
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/log_result_cache_test.go
Labels: size/L

#7416 Helm: Use stable autoscaling/v2 if possible
  CHANGELOG.md
  production/helm/loki/templates/gateway/hpa.yaml
Labels: size/XS, area/helm

#8037 fix(logql): fix caseinsensitive search in filter
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
Labels: size/S

#8028 Fix chunks-inspect reports zstd compressed chunks as lz4-256k
  cmd/chunks-inspect/loki.go
Labels: size/XS

#8019 Fix Issue 6929 - Duplicate log lines querying Loki
  production/docker/config/nginx.conf
  production/docker/config/prometheus.yaml
  production/docker/docker-compose.yaml
Labels: size/S

#8007 Docs: Fix promtail installation doc
  docs/sources/clients/promtail/installation.md
Labels: size/XS, type/docs

#8010 [Helm] Add the ability to specify container lifecycle
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/gateway/deployment-gateway.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8024 [loki-canary] Support passing loki address as environment variable
  CHANGELOG.md
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
Labels: size/L, type/docs

#7964 Loki: add a 'since' query parameter for easier querying using relative time
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/loghttp/params.go
  pkg/loghttp/params_test.go
Labels: size/L, type/docs

#8052 [loki-canary] Fix changelog
  CHANGELOG.md
Labels: size/XS

#8061 chore(ci): Remove CircleCI
  .circleci/config.yml
  CHANGELOG.md
  README.md
Labels: size/M

#8047 dashboards: add k8s resource requests to CPU and memory panels
  .drone/drone.yml
  CHANGELOG.md
  production/loki-mixin-compiled-ssd/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled-ssd/dashboards/loki-retention.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
Labels: size/L

#8068 operator: Use lokistack-gateway replicas from size table
  operator/CHANGELOG.md
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
Labels: size/S, sig/operator

#8073 Add loki-operator multi-arch image manifest
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#6633 ksonnet/loki: Hide keys that reference loki image
  production/ksonnet/loki/images.libsonnet
Labels: size/S

#7946 config_wrapper: Add support for named stores
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/config_wrapper_test.go
  pkg/storage/config/schema_config.go
  pkg/storage/factory.go
  pkg/storage/factory_test.go
  pkg/storage/store_test.go
  tools/doc-generator/parse/parser.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/XL, type/docs

#8080 Helm: Fix loki helm chart podLog relabelings template nindent
  production/helm/loki/templates/monitoring/pod-logs.yaml
Labels: size/XS, area/helm

#8083 Add docker-driver pipeline
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/M

#7640 [helm] Add a flag to enable/disable persistentVolumeClaimRetentionPolicy feature
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#7901 Add stream sharding docs
  docs/sources/operations/automatic-stream-sharding.md
Labels: size/M, type/docs

#8035 [Docs] Remove outdated canary logo
  docs/sources/operations/canary.png
  docs/sources/operations/loki-canary.md
Labels: size/XS, type/docs

#7995 Helm: add support for memcached client addresses
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#8004 [Helm] Add the ability to add extraObjects
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/extra-manifests.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#7594 Add config for optional pod labels
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/gateway/deployment-gateway.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8075 Fixed typo in Helm values docs
  docs/sources/installation/helm/reference.md
  production/helm/loki/reference.md.gotmpl
Labels: size/XS, area/helm, type/docs

#8078 Use GiB and bytes for sizing tool.
  docs/sources/installation/sizing/index.md
  pkg/sizing/algorithm.go
  pkg/sizing/algorithm_test.go
  pkg/sizing/http.go
Labels: size/S, type/docs

#8059 Lambda-promtail: Add skip tls verify option
  tools/lambda-promtail/README.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/template.yaml
  tools/lambda-promtail/variables.tf
Labels: size/M

#6612 Append .x to the versioned directories for the website sync (#6611)
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS

#6606 Publish backported documentation to the v2.0.x release directory
  .github/workflows/publish.yml
Labels: size/XS

#6605 Remove publish workflow as backports should go to release-2.2.1
  .github/workflows/publish.yml
Labels: size/M

#8099 Helm: Remove signing of helm charts
  .github/workflows/helm-release.yaml
  production/helm/cr.yaml
Labels: size/XS, area/helm

#8093 Add drone env vars to test output to distinguish the 2 unit test runs.
  Makefile
  clients/pkg/promtail/promtail_test.go
Labels: size/XS

#8062 Update publishing workflows to use PATs with fine-grained access control
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/S, backport release-2.5.x, backport release-2.6.x, type/docs, backport release-2.7.x

#7973 Promtail: Add configuration to drop batches when rate limited by Loki
  CHANGELOG.md
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/client_test.go
  clients/pkg/promtail/client/config.go
  docs/sources/clients/promtail/configuration.md
Labels: size/L, type/docs

#8064 [helm] fix race between minio bucket job and enterprise tokengen job
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  tools/dev/k3d/Makefile
  tools/dev/k3d/environments/helm-cluster/values/enterprise-logs.yaml
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/M, area/helm

#8108 Change delimiter in test "sed" command to ':'
  Makefile
Labels: size/XS

#7868 lambda-promtail: Add support for VPC flow Logs to lambda-promtail
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/testdata/albaccesslog.log.gz
  tools/lambda-promtail/testdata/vpcflowlog.log.gz
  tools/lambda-promtail/variables.tf
Labels: size/L, type/docs

#8109 Fixed a typo and made a small edit to the Helm monolithic setup doc.
  docs/sources/installation/helm/install-monolithic/index.md
Labels: size/XS, type/docs

#7654 Fix json stage fields in example
  clients/pkg/promtail/scrapeconfig/scrapeconfig_test.go
Labels: size/S

#7643 Add dependabot.yml to ignore ieproxy dependency version
  dependabot.yml
Labels: size/XS

#7521 Promtail Docs: Clarifiy labels and timestamps set by cri stage
  docs/sources/clients/promtail/stages/cri.md
Labels: size/XS, type/docs

#7778 Add toggle for persistence disk in single-binary mode
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8079 Enhance sizing tool documentation.
  docs/sources/installation/_index.md
  docs/sources/installation/sizing/index.md
Labels: size/S, type/docs

#8114 Remove CircleCI config
  .circleci/config.yml
  README.md
Labels: size/M

#8115 Remove Circle CI config and reference
  .circleci/config.yml
  README.md
Labels: size/M

#8111 Install build dependencies to cross build promtail.
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#8102 [release-2.5.x] Update publishing workflows to use PATs with fine-grained access control (#8062)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/S, backport

#8104 Remove public key used for signing helm charts as we are removing chart signing
  production/helm/public.pgp
Labels: size/M, area/helm

#8116 operator: Fix docs minio storage uses bucketnames instead of bucketname
  operator/docs/lokistack/object_storage.md
Labels: size/XS, sig/operator

#8001 operator: Add API validation to Alertmanager header auth config
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/loki/v1beta1/rulerconfig_types.go
  operator/apis/loki/v1beta1/v1beta1.go
  operator/bundle/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/crd/bases/config.grafana.com_projectconfigs.yaml
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
  operator/config/webhook/manifests.yaml
  operator/internal/validation/rulerconfig.go
  operator/internal/validation/rulerconfig_test.go
  operator/main.go
Labels: size/L, sig/operator

#8122 Remove flaky helm test
  integration/loki_simple_scalable_test.go
Labels: size/M

#8056 Loki Improvement Documents (LIDs)
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/sources/lids/0001-Introduction.md
  docs/sources/lids/_index.md
  docs/sources/lids/template.md
Labels: size/L, type/docs

#8113 Helm: Add missing azure check
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#8124 Minor fixups to LIDs
  docs/sources/lids/0001-Introduction.md
  docs/sources/lids/_index.md
  docs/sources/lids/template.md
Labels: size/S, type/docs

#7869 update local docker-compose file to provision the Loki data source
  production/README.md
  production/docker-compose.yaml
Labels: size/S

#8103 [release-2.6.x] Update publishing workflows to use PATs with fine-grained access control (#8062)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/S

#7882 Promtail: Improve LabelsMap CPU performance
  clients/pkg/promtail/client/batch.go
  clients/pkg/promtail/client/batch_test.go
Labels: size/M, component/promtail

#7975 feat(logql): Support drop labels in logql pipeline
  CHANGELOG.md
  docs/sources/logql/log_queries.md
  pkg/logql/log/drop_labels.go
  pkg/logql/log/drop_labels_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/prettier.go
Labels: size/L, type/docs

#8043 helm: fix autoscaling/v2 template
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/gateway/hpa.yaml
Labels: size/S, area/helm

#8126 Go mod tidy
  go.mod
Labels: size/XS

#8071 Helm: fix ruler config storage regression
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#7990 helm: Add `appProtocol: tcp` to headless grpc ports
  production/helm/loki/templates/read/service-read-headless.yaml
  production/helm/loki/templates/write/service-write-headless.yaml
Labels: size/XS, area/helm

#7723 Improve the JSON parser performance.
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/util.go
Labels: size/L

#8128 Correct template and LID
  docs/sources/lids/0001-Introduction.md
  docs/sources/lids/template.md
Labels: size/XS, type/docs

#8130 Fixing test regression
  pkg/logql/log/pipeline_test.go
Labels: size/XS

#7292 Fix logentry drop to more intuitively match numeric fields (fixes #7011)
  CHANGELOG.md
  clients/pkg/logentry/stages/drop.go
  clients/pkg/logentry/stages/drop_test.go
Labels: size/L

#8132 Update README.md
  production/docker/README.md
Labels: size/XS

#7886 Fix labels for alerts
  production/helm/loki/src/alerts.yaml
  production/loki-mixin-compiled-ssd/alerts.yaml
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin/alerts.libsonnet
Labels: size/M, area/helm

#8131 Cross build Promtail for ARM with journald support.
  .drone/drone.yml
  CHANGELOG.md
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/querytee/Dockerfile.cross
  operator/Dockerfile.cross
Labels: size/M, sig/operator

#7959 Docs: fix helm ssd typo
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/XS, type/docs

#7829 resolves #5950 (input header error)
  clients/pkg/promtail/targets/docker/target.go
  clients/pkg/promtail/targets/docker/target_test.go
  clients/pkg/promtail/targets/docker/targetmanager_test.go
Labels: size/M

#7540 Loki: Add support for Azure Workload Identity authentication
  docs/sources/configuration/_index.md
  docs/sources/installation/helm/reference.md
  go.mod
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client_test.go
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
  vendor/github.com/stretchr/testify/suite/doc.go
  vendor/github.com/stretchr/testify/suite/interfaces.go
  vendor/github.com/stretchr/testify/suite/stats.go
  vendor/github.com/stretchr/testify/suite/suite.go
  vendor/modules.txt
Labels: size/L, area/helm, type/docs

#7039 [jsonnet] port some common jsonnet for statefulset and ingester creation
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/ingester.libsonnet
Labels: size/L

#8137 lambda-promtail: remove duplicate key in terraform config sample
  tools/lambda-promtail/main.tf
Labels: size/XS

#4812 Documentation: Add installation instructions for Istio
  docs/sources/installation/istio.md
Labels: size/L, type/docs

#8139 operator: Fix docs for OpenShift Data Foundation storage uses bucketnames instead of bucketname
  operator/docs/lokistack/object_storage.md
Labels: size/XS, sig/operator

#8135 Helm: Use image tag for version labels in kubernetes resources
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#7799 Update README.md
  production/helm/loki/README.md
Labels: size/XS, area/helm, backport release-2.7.x, missing-labels

#8142 run 'make doc' and commit the changes
  docs/sources/configuration/_index.md
Labels: size/XS, type/docs

#8145 fixes bug with queryIngesterWithin logic in asyncStore ingester stats…
  pkg/logproto/extensions.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
Labels: size/L

#7158 lambda-promtail-: fix parse kinesis timestamp
  tools/lambda-promtail/lambda-promtail/kinesis.go
Labels: size/XS

#8155 Update vendored dskit
  go.mod
  go.sum
  pkg/storage/chunk/cache/memcached_client.go
  pkg/storage/chunk/cache/memcached_client_test.go
  pkg/storage/chunk/cache/memcached_test.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/internal/slices/slices.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/ring/client/pool.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/util/string_utils.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/github.com/grafana/gomemcache/memcache/options.go
  vendor/modules.txt
Labels: size/M, dependencies

#8156 Fix link to CONTRIUTING.md in PR template
  .github/pull_request_template.md
Labels: size/XS

#8157 Emit help message when check-mod fails
  Makefile
Labels: size/XS

#8162 Removing "replace" directive for line-buffered logger
  go.mod
  go.sum
  pkg/util/log/line_buffer.go
  pkg/util/log/line_buffer_test.go
  pkg/util/log/log.go
  vendor/modules.txt
Labels: size/L

#8165 doc(distributor): Clarify `distributor.max-line-size` flag.
  docs/sources/configuration/_index.md
  pkg/validation/limits.go
Labels: size/XS, type/docs

#8153 promtail: Add `max-line-size` limit to drop on client side
  CHANGELOG.md
  clients/cmd/docker-driver/loki.go
  clients/cmd/fluent-bit/client.go
  clients/cmd/fluent-bit/dque.go
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/client_test.go
  clients/pkg/promtail/client/logger.go
  clients/pkg/promtail/client/multi.go
  clients/pkg/promtail/client/multi_test.go
  clients/pkg/promtail/limit/config.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
Labels: size/L

#8167 Minor LID fixes
  docs/sources/lids/0001-Introduction.md
  docs/sources/lids/template.md
Labels: size/XS, type/docs

#8138 Alerts: Exclude '/schedulerpb.SchedulerForQuerier/QuerierLoop' route in LokiRequestLatency alert
  production/loki-mixin-compiled-ssd/alerts.yaml
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin/alerts.libsonnet
Labels: size/XS

#8183 Revert "[loki-canary] Support passing loki address as environment variable (#8024)"
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
Labels: size/L, type/docs, component/loki-canary

#8081 [helm] allow provisioned tokens to be created in different namespaces
  .github/workflows/helm-ci.yml
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
  production/helm/loki/ci/default-values.yaml
  production/helm/loki/ci/enterprise.yaml
  production/helm/loki/ci/ingress-values.yaml
  production/helm/loki/ci/three-targets.yaml
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/gateway/configmap-gateway.yaml
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/templates/loki-canary/service.yaml
  production/helm/loki/templates/loki-canary/serviceaccount.yaml
  production/helm/loki/templates/monitoring/_helpers-monitoring.tpl
  production/helm/loki/templates/monitoring/grafana-agent.yaml
  production/helm/loki/templates/monitoring/logs-instance.yaml
  production/helm/loki/templates/monitoring/metrics-instance.yaml
  production/helm/loki/templates/monitoring/pod-logs.yaml
  production/helm/loki/templates/monitoring/prometheus-alerts.yaml
  production/helm/loki/templates/monitoring/prometheus-rules.yaml
  production/helm/loki/templates/monitoring/servicemonitor.yaml
  production/helm/loki/templates/provisioner/_helpers.yaml
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/provisioner/role-provisioner.yaml
  production/helm/loki/templates/provisioner/rolebinding-provisioner.yaml
  production/helm/loki/templates/provisioner/serviceaccount-provisioner.yaml
  production/helm/loki/templates/tokengen/clusterrole-tokengen.yaml
  production/helm/loki/templates/tokengen/clusterrolebinding-tokengen.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/templates/tokengen/serviceaccount-tokengen.yaml
  production/helm/loki/values.yaml
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/environments/helm-cluster/values/enterprise-logs.yaml
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/L, area/helm, type/docs

#8173 operator: Remove custom webhook cert mounts for OLM-based deployment
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/openshift/kustomization.yaml
  operator/config/overlays/openshift/manager_webhook_patch.yaml
  operator/config/overlays/openshift/webhook_service_annotations_patch.yaml
Labels: size/S, sig/operator

#8186 fix broken drone image for arm builds
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#8177 limits: add tenant to log lines for per-stream rate-limited and out-of-order errors
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/XS

#8038 operator: Add watch on the Alertmanager in OCP's user-workload-monitoring namespace
  operator/CHANGELOG.md
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
Labels: size/M, sig/operator

#8175 Do not run release stage when check stage fails
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#8196 fix: deadlink in the docker client documentation
  docs/sources/clients/docker-driver/configuration.md
Labels: size/XS, type/docs

#8199 support single & double hyphen arguments in version printing
  pkg/loki/config_wrapper.go
Labels: size/S

#8198 [helm] Fix self-monitoring tenant secret
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  tools/dev/k3d/README.md
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/M, area/helm

#8184 Revert "[loki-canary] Support passing loki address as environment variable (#8024)" (#8183)
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary.md
Labels: size/L, type/docs, component/loki-canary

#8098 Helm: Add Table Manager support to Loki helm chart
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/table-manager/_helpers-table-manager.tpl
  production/helm/loki/templates/table-manager/deployment-table-manager.yaml
  production/helm/loki/templates/table-manager/service-table-manager.yaml
  production/helm/loki/templates/table-manager/servicemonitor-table-manager.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#8096 doc(promtail): Doc about how log rotate works with promtail.
  CHANGELOG.md
  docs/sources/clients/promtail/logrotation-components.png
  docs/sources/clients/promtail/logrotation-copy-and-truncate.png
  docs/sources/clients/promtail/logrotation-rename-and-create.png
  docs/sources/clients/promtail/logrotation.md
Labels: size/L, type/docs

#6324 Remove the stream lag metric.
  clients/cmd/docker-driver/loki.go
  clients/cmd/fluent-bit/buffer.go
  clients/cmd/fluent-bit/client.go
  clients/cmd/fluent-bit/dque.go
  clients/cmd/fluent-bit/loki.go
  clients/cmd/fluent-bit/out_grafana_loki.go
  clients/cmd/promtail/main.go
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/client_test.go
  clients/pkg/promtail/client/logger.go
  clients/pkg/promtail/client/logger_test.go
  clients/pkg/promtail/client/multi.go
  clients/pkg/promtail/client/multi_test.go
  clients/pkg/promtail/config/config_test.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/promtail_test.go
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
Labels: size/L

#7129 Helm chart: Add enableServiceLinks
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/gateway/deployment-gateway.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#7733 Helm: Add ingester config in helm values
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8172 [docs] Clarify for what version the Helm chart docs are applicable
  docs/sources/installation/helm/_index.md
  docs/sources/installation/helm/reference.md
  production/helm/loki/reference.md.gotmpl
Labels: size/S, area/helm, type/docs

#8194 Helm: Fix components notes
  production/helm/loki/templates/NOTES.txt
Labels: size/XS, area/helm

#8179 Helm - Loki: Introduce runtimeConfig
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/read/deployment-read.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/runtime-configmap.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8208 promtail: Fix title and image path on `logrotation` doc
  docs/sources/clients/promtail/logrotation.md
Labels: size/XS, type/docs

#8202 promtail: Add doc for `max-line-size` flag.
  CHANGELOG.md
  clients/pkg/promtail/limit/config.go
  clients/pkg/promtail/promtail.go
  docs/sources/clients/promtail/configuration.md
Labels: size/S, type/docs

#6569 Docs: Add doc-validator tool to lint technical documentation
  .github/workflows/doc-validator.yml
  docs/Makefile
  docs/sources/_index.md
  docs/sources/api/_index.md
Labels: size/L, type/docs

#8211 Use latest release of doc-validator image
  .github/workflows/doc-validator.yml
Labels: size/XS

#8210 Removing duplicated limits file and refactored references
  docs/sources/configuration/_index.md
  docs/sources/configuration/index.template
  pkg/querier/testutils.go
  pkg/ruler/base/error_translate_queryable.go
  pkg/ruler/base/ruler.go
  pkg/util/validation/exporter.go
  pkg/util/validation/limits.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#8206 updating troubleshooting and upgrade changelog
  docs/sources/operations/troubleshooting.md
  docs/sources/upgrading/_index.md
Labels: size/S, type/docs

#8213 Remove template alias from Helm chart reference
  docs/sources/installation/helm/reference.md
  production/helm/loki/reference.md.gotmpl
Labels: size/XS, area/helm, type/docs

#8217 place canary docs in their own package and fix links+description
  docs/sources/operations/loki-canary/_index.md
  docs/sources/operations/loki-canary/loki-canary-block.png
Labels: size/XS, type/docs

#8216 Docs fix: add missing sections on index.template file
  docs/sources/configuration/_index.md
  docs/sources/configuration/index.template
Labels: size/L, type/docs

#8221 Update doc-validator to latest release
  .github/workflows/doc-validator.yml
Labels: size/XS

#8212 ingester: Add `ingester_memory_streams_labels_bytes` metric
  CHANGELOG.md
  pkg/ingester/instance.go
Labels: size/XS

#8223 distributor: Fix `loki_mutated_bytes_total` metric increment
  pkg/distributor/distributor.go
Labels: size/XS

#8205 [loki-canary] Support passing loki address as environment variable
  cmd/loki-canary/main.go
  docs/sources/operations/loki-canary/_index.md
Labels: size/S, type/docs

#8224 Loki: Remove validation of matchers when performing label values lookup.
  pkg/logql/evaluator_test.go
  pkg/logql/log/drop_labels.go
  pkg/logql/log/parser.go
  pkg/logql/syntax/parser.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
Labels: size/M

#8226 Loki: Remove validation of matchers when performing label values lookup. (#8224)
  pkg/logql/evaluator_test.go
  pkg/logql/log/drop_labels.go
  pkg/logql/log/parser.go
  pkg/logql/syntax/parser.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
Labels: size/M

#8227 Remove dependency on thanos-io/thanos
  go.mod
  go.sum
  pkg/loki/modules.go
  pkg/storage/chunk/cache/memcached_client.go
  pkg/storage/chunk/client/local/fs_object_client.go
  pkg/storage/stores/tsdb/testutil/block_mock.go
  vendor/github.com/grafana/dskit/dns/godns/resolver.go
  vendor/github.com/grafana/dskit/dns/miekgdns/lookup.go
  vendor/github.com/grafana/dskit/dns/miekgdns/resolver.go
  vendor/github.com/grafana/dskit/dns/provider.go
  vendor/github.com/grafana/dskit/dns/resolver.go
  vendor/github.com/grafana/dskit/runutil/runutil.go
  vendor/github.com/thanos-io/thanos/LICENSE
  vendor/github.com/thanos-io/thanos/pkg/block/metadata/hash.go
  vendor/github.com/thanos-io/thanos/pkg/block/metadata/markers.go
  vendor/github.com/thanos-io/thanos/pkg/block/metadata/meta.go
  vendor/github.com/thanos-io/thanos/pkg/errutil/multierror.go
  vendor/github.com/thanos-io/thanos/pkg/extprom/extprom.go
  vendor/github.com/thanos-io/thanos/pkg/extprom/testing.go
  vendor/github.com/thanos-io/thanos/pkg/extprom/tx_gauge.go
  vendor/github.com/thanos-io/thanos/pkg/runutil/runutil.go
  vendor/github.com/thanos-io/thanos/pkg/testutil/testorbench.go
  vendor/github.com/thanos-io/thanos/pkg/testutil/testutil.go
  vendor/modules.txt
Labels: size/L

#8230 Docker compose: Update loki and promtail version tags to 2.7.1
  production/docker-compose.yaml
Labels: size/XS

#8241 Match version flag using regex
  pkg/loki/config_wrapper.go
Labels: size/S

#8243 Do not exit when using `stream_lag_labels` setting
  clients/cmd/promtail/main.go
  clients/pkg/promtail/client/config.go
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/config/config_test.go
  docs/sources/clients/promtail/configuration.md
  tools/kafka/README.md
Labels: size/S, type/docs

#8244 Loki: Log hashed queries emitted by `metrics.go`
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
Labels: size/M

#8245 stores/series: always return entries to pool
  pkg/storage/stores/series/series_index_store.go
Labels: size/M

#8236 Helm: Add initContainers to write, backend, singleBinary templates
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8228 Enalbe multi tenant queries on Helm test chart.
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
  tools/dev/k3d/environments/helm-cluster/values/enterprise-logs.yaml
Labels: size/XS

#8242 Benchmark_store_SelectSample: stop accumulating results
  pkg/storage/store_test.go
Labels: size/XS

#8248 [Docs] Adding context to Istio installation.
  docs/sources/fundamentals/architecture/rings/_index.md
  docs/sources/installation/helm/reference.md
  docs/sources/installation/istio.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8048 tsdb docs first pass
  docs/sources/operations/storage/tsdb.md
  docs/sources/storage/_index.md
Labels: size/M, type/docs

#8256 Only print logger error when required
  pkg/util/log/log.go
Labels: size/XS, backport release-2.7.x, type/bug, product-approved

#8251 index-store: fix indexing of chunks overlapping multiple schemas
  CHANGELOG.md
  pkg/storage/store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#8257 Setting Julie Stickler as codeowner for docs
  .github/CODEOWNERS
Labels: size/XS

#8258 fixed logql-analyzer
  pkg/logqlanalyzer/analyzer.go
  pkg/logqlanalyzer/analyzer_test.go
Labels: size/M

#8235 Helm: Add selector to backend's volumeClaimTemplates
  production/helm/loki/templates/backend/statefulset-backend.yaml
Labels: size/XS, area/helm

#8215 Make secret job fail when not logged in
  tools/dev/k3d/Makefile
  tools/dev/k3d/environments/enterprise-logs/main.jsonnet
  tools/dev/k3d/environments/enterprise-logs/spec.json
Labels: size/L

#7890 enable responsive table
  docs/sources/installation/helm/reference.md
  production/helm/loki/reference.md.gotmpl
Labels: size/XS, area/helm, type/docs

#8250 logs more metadata when failing to recover head from WAL in TSDB
  pkg/storage/stores/tsdb/head_manager.go
Labels: size/XS

#8218 [helm] add local k3d loki cluster
  Makefile
  tools/dev/k3d/Makefile
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/environments/helm-cluster/values/enterprise-logs.yaml
  tools/dev/k3d/environments/helm-cluster/values/loki.yaml
  tools/dev/k3d/environments/loki-distributed/main.jsonnet
  tools/dev/k3d/environments/loki-distributed/spec.json
  tools/dev/k3d/environments/loki-distributed/values/default/config.libsonnet
  tools/dev/k3d/environments/loki-distributed/values/default/values.libsonnet
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/XL

#8263 fix remaining docs issues
  Makefile
  docs/sources/configuration/examples.md
  docs/sources/operations/storage/tsdb.md
Labels: size/XS, type/docs

#8193 Helm: Generalize enableStatefulSetAutoDeletePVC
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs
