Repository grafana/loki, pull requests merged in 2023-12, with the labels that each got.

#11304 Remove obsolete empty test in middleware.
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#11344 config: fix index periodic config unmarshal
  pkg/storage/config/schema_config.go
  pkg/storage/config/schema_config_test.go
Labels: size/M

#11324 Bloom-Gateway: Use pools to reduce allocations
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/querier.go
Labels: size/M

#11353 Wait for all workers to stop when stopping blockdownloader
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader_test.go
Labels: size/S

#11328 operator: Run unit tests of API module as well
  operator/Makefile
  operator/apis/loki/go.sum
  operator/apis/loki/v1beta1/lokistack_types_test.go
Labels: size/M, sig/operator

#11308 fluent-bit: Redact basic auth credentials from fluent-bit logging
  clients/cmd/fluent-bit/out_grafana_loki.go
Labels: size/XS

#11312 jsonnet: add memberlist_ring_enabled check condition for consul_config_map
  CHANGELOG.md
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#11319 Helm: Add extraContainers to write pods
  CHANGELOG.md
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#11338 Bloom tokenization performance tweaks
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
Labels: size/M

#11284 config: adds `frontend.max-query-capacity` to tune per-tenant query capacity
  CHANGELOG.md
  docs/sources/configure/_index.md
  pkg/bloomgateway/bloomgateway.go
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/lokifrontend/frontend/v1/queue_test.go
  pkg/queue/dequeue_qos_test.go
  pkg/queue/queue.go
  pkg/queue/queue_test.go
  pkg/queue/tenant_queues.go
  pkg/queue/tenant_queues_test.go
  pkg/scheduler/limits/definitions.go
  pkg/scheduler/limits/definitions_test.go
  pkg/scheduler/scheduler.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/validation/exporter.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#11360 Bloom Gateway: process blocks immediately when they are available
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/worker.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/L

#11317 De-duplicate common prefixes as returned for individual buckets
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/M

#11211 Update log configuration
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Labels: size/S, type/docs, backport release-2.9.x

#9683 Update template_functions.md
  docs/sources/query/template_functions.md
Labels: size/XS, type/docs

#11386 Fix `getFromThrough()` function for ShortRefs
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
Labels: size/M

#11380 Bloom-Gateway cache
  docs/sources/configure/_index.md
  pkg/bloomgateway/cache.go
  pkg/bloomgateway/cache_test.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/config.go
  pkg/bloomgateway/querier.go
  pkg/logproto/compat.go
  pkg/logproto/compat_test.go
  pkg/logqlmodel/stats/context.go
  pkg/loki/modules.go
  pkg/storage/chunk/cache/resultscache/cache.go
  pkg/storage/chunk/cache/resultscache/config.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#11340 operator: Add tools to test on Azure
  operator/hack/deploy-azure-storage-secret.sh
  operator/hack/lokistack_gateway_ocp_azure.yaml
Labels: size/M, sig/operator

#11335 lambda-promtail: cloudwatch: add '__aws_log_type' label
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/cw_test.go
Labels: size/M

#11233 Remove querier wait time metric.
  pkg/loki/modules.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/frontend_processor_test.go
  pkg/querier/worker/processor_manager.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
  pkg/querier/worker_service.go
  pkg/queue/metrics.go
  pkg/queue/queue.go
Labels: size/M

#11402 Wrap VolumeResponse.
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/marshal_test.go
Labels: size/S

#11412 compactor: fix metric name for a compactor
  pkg/compactor/metrics.go
Labels: size/XS

#10417 Approximate `quantile_over_time`
  CHANGELOG.md
  docs/sources/configure/_index.md
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream_test.go
  pkg/ingester/tailer.go
  pkg/ingester/tailer_test.go
  pkg/loghttp/tail.go
  pkg/loghttp/tail_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/explain.go
  pkg/logql/explain_test.go
  pkg/logql/optimize.go
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/quantile_over_time_sketch_test.go
  pkg/logql/range_vector_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/sketch/quantile.go
  pkg/logql/sketch/quantile_test.go
  pkg/logql/step_evaluator.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/clone.go
  pkg/logql/syntax/clone_test.go
  pkg/logqlmodel/logqlmodel.go
  pkg/loki/config_compat.go
  pkg/lokifrontend/frontend/v2/frontend_test.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/marshal_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/storage/store_test.go
  pkg/storage/util_test.go
  tools/dev/loki-boltdb-storage-s3/compose-up.sh
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/XXL, type/docs, add-to-release-notes

#11426 Support tail requests with protobuf encoding.
  docs/sources/configure/_index.md
  integration/client/client.go
  integration/loki_micro_services_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
Labels: size/L, type/docs

#11357 operator: Fix storing authentication credentials in the Loki ConfigMap
  operator/CHANGELOG.md
  operator/cmd/loki-broker/main.go
  operator/docs/lokistack/object_storage.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/compactor_test.go
  operator/internal/manifests/config.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/distributor_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/indexgateway_test.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/ingester_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/querier.go
  operator/internal/manifests/querier_test.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/ruler_test.go
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
  operator/internal/manifests/storage/options.go
  operator/internal/manifests/storage/schema_test.go
  operator/internal/manifests/storage/var.go
  operator/internal/manifests/var.go
Labels: size/XXL, sig/operator

#11389 Bloom Compactor: Optimize check for fingerprint ownership
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
  pkg/bloomutils/iter.go
  pkg/bloomutils/ring.go
  pkg/bloomutils/ring_test.go
  pkg/storage/bloom/v1/iter.go
  pkg/storage/bloom/v1/iter_test.go
Labels: size/XL

#11445 Fix typo
  docs/sources/setup/install/istio.md
Labels: size/XS, type/docs, backport release-2.9.x

#11446 Shortcut callback execution if there are 1 or fewer elements
  pkg/storage/stores/shipper/indexshipper/downloads/index_set.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index.go
Labels: size/S

#11363 bugfix(memcached): Make `memcached` batch fetch truely context aware
  CHANGELOG.md
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/cache/memcached_client_test.go
  pkg/storage/chunk/cache/memcached_test.go
Labels: size/L

#11447 Avoid reading block files into memory
  pkg/bloomcompactor/chunkcompactor.go
  pkg/bloomcompactor/chunkcompactor_test.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
Labels: size/L

#11444 alphabetize headings and add mini-TOC
  docs/sources/send-data/promtail/scraping.md
Labels: size/XL, type/docs

#11401 Fixing links
  docs/sources/best-practices/_index.md
Labels: size/XS, type/docs

#11434 Helm: Added topologySpreadConstraints to read deployment component
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/read/deployment-read.yaml
Labels: size/S, area/helm

#11350 Update Getting Started topic and graphics
  docs/sources/get-started/_index.md
  docs/sources/get-started/get-started-flog.png
  docs/sources/get-started/grafana-query-builder.png
  docs/sources/get-started/loki-install.png
  docs/sources/get-started/loki-overview-1.png
  docs/sources/get-started/quick-start.md
  docs/sources/get-started/simple-scalable-test-environment.png
  examples/getting-started/docker-compose.yaml
Labels: size/L, type/docs

#11448 operator: Update Loki operand to v2.9.3
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#11425 Helm: add cilium networkpolicies
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/ciliumnetworkpolicy.yaml
  production/helm/loki/templates/networkpolicy.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#11473 operator: Adds structured metadata dashboards
  operator/CHANGELOG.md
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-chunks.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-retention.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/jsonnet/config.libsonnet
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/L, sig/operator

#11449 Map rpc Status back to user error
  integration/client/client.go
  integration/loki_micro_services_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/worker/util.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
Labels: size/L

#11394 BloomShipper: add cache for downloaded blocks
  docs/sources/configure/_index.md
  go.mod
  pkg/logqlmodel/stats/context.go
  pkg/storage/chunk/cache/cache.go
  pkg/storage/chunk/cache/embeddedcache.go
  pkg/storage/chunk/cache/embeddedcache_test.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader_test.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  vendor/k8s.io/utils/keymutex/hashed.go
  vendor/k8s.io/utils/keymutex/keymutex.go
  vendor/modules.txt
Labels: size/XL, type/docs

#11479 Revert "bugfix(memcached): Make `memcached` batch fetch truely context aware"
  CHANGELOG.md
  pkg/storage/chunk/cache/memcached.go
  pkg/storage/chunk/cache/memcached_client_test.go
  pkg/storage/chunk/cache/memcached_test.go
Labels: size/L

#11460 Compress bloom data before uploading it to object storage
  pkg/bloomcompactor/bloomcompactor.go
Labels: size/M

#11478 fix image links in getting started
  docs/sources/get-started/quick-start.md
Labels: size/XS, type/docs

#11482 Chore: Spelling fix for linter
  pkg/queue/queue.go
Labels: size/XS

#11462 Add trivy filesystem scanning
  .github/workflows/snyk-pr-comment.yml
  .github/workflows/trivy-pr-comment.yml
  Makefile
Labels: size/M

#11477 Support GET for /ingester/shutdown
  CHANGELOG.md
  docs/sources/reference/api.md
  pkg/loki/modules.go
Labels: size/XS, type/docs

#11489 Implement default DFS traversal visitor for LogQL expressions
  pkg/logql/syntax/visit.go
  pkg/logql/syntax/visit_test.go
  pkg/logql/syntax/walk.go
Labels: size/L

#10650 frontend: Use `net.JoinHostPort` to support IPv6 addresses
  CHANGELOG.md
  clients/pkg/promtail/discovery/consulagent/consul.go
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/querier/worker_service.go
  pkg/storage/chunk/cache/memcached_client.go
Labels: size/S

#11488 Refactor Distributor.Push() to be able to Tee log streams.
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#11397 Add jsonnet lib for deploying Bloom Compactor and Bloom Gateway
  production/ksonnet/loki/bloom-compactor.libsonnet
  production/ksonnet/loki/bloom-gateway.libsonnet
  production/ksonnet/loki/bloomfilters.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/loki/loki.libsonnet
Labels: size/L

#11497 Always set matcher in label filter deserialization.
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/serialize_test.go
Labels: size/XS

#11458 Helm: add support for setting an s3 backoff_config via the loki helm chart
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#11490 Helm: Use `/ingester/shutdown` endpoint in write pod for `preStop` hook
  CHANGELOG.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/S, area/helm

#11493 Implement hooks to instrument query pipelines
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/pipeline.go
  pkg/querier/querier_mock_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Labels: size/L

#11496 Add log duplication (tee-ing) in the Distributor
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/tee.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#11158 operator: Add warning for old schema configuration
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/controllers/loki/lokistack_controller.go
  operator/docs/operator/api.md
  operator/internal/status/conditions.go
  operator/internal/status/conditions_test.go
  operator/internal/status/lokistack.go
  operator/internal/status/lokistack_test.go
  operator/internal/status/status.go
  operator/internal/status/status_test.go
Labels: size/XL, sig/operator

#11514 Clone filterer of label filter
  pkg/logql/log/label_filter.go
  pkg/logql/syntax/clone.go
  pkg/logql/syntax/clone_test.go
Labels: size/M

#11501 operator: Apply linter on all test files
  operator/.golangci.yaml
  operator/controllers/loki/certrotation_controller_test.go
  operator/controllers/loki/internal/management/state/state_test.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/internal/certrotation/build_test.go
  operator/internal/certrotation/rotation_test.go
  operator/internal/certrotation/target_test.go
  operator/internal/handlers/dashboards_create_test.go
  operator/internal/handlers/dashboards_delete_test.go
  operator/internal/handlers/internal/certificates/options_test.go
  operator/internal/handlers/internal/gateway/modes_test.go
  operator/internal/handlers/internal/gateway/tenant_configsecret_test.go
  operator/internal/handlers/internal/gateway/tenant_secrets_test.go
  operator/internal/handlers/internal/openshift/proxy_test.go
  operator/internal/handlers/internal/rules/rules_test.go
  operator/internal/handlers/internal/rules/secrets_test.go
  operator/internal/handlers/internal/tlsprofile/tlsprofile_test.go
  operator/internal/handlers/lokistack_check_cert_expiry_test.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/handlers/lokistack_enable_zone_awareness_test.go
  operator/internal/handlers/lokistack_rotate_certs_test.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor_test.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/gateway_tenants_test.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/internal/gateway/build_test.go
  operator/internal/manifests/internal/rules/marshal_test.go
  operator/internal/manifests/memberlist_test.go
  operator/internal/manifests/mutate_test.go
  operator/internal/manifests/node_placement_test.go
  operator/internal/manifests/openshift/alertingrule_test.go
  operator/internal/manifests/openshift/build_test.go
  operator/internal/manifests/openshift/recordingrule_test.go
  operator/internal/manifests/options_test.go
  operator/internal/manifests/proxy_env_test.go
  operator/internal/manifests/rules_config_test.go
  operator/internal/manifests/service_monitor_test.go
  operator/internal/status/components_test.go
  operator/internal/status/conditions_test.go
  operator/internal/status/lokistack_test.go
  operator/internal/status/status_test.go
  operator/internal/status/storage_test.go
  operator/internal/validation/alertingrule_test.go
  operator/internal/validation/lokistack_test.go
  operator/internal/validation/openshift/alertingrule_test.go
  operator/internal/validation/openshift/recordingrule_test.go
  operator/internal/validation/recordingrule_test.go
  operator/internal/validation/rulerconfig_test.go
Labels: size/L, sig/operator

#11498 Optimize series response format by using repeated fileds.
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/logproto/compat_test.go
  pkg/logproto/extensions.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/http_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/marshal_test.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/views.go
  pkg/querier/queryrange/views_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
Labels: size/XL

#11486 Run compaction over existing bloom blocks
  pkg/bloomcompactor/TODO.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/chunkcompactor.go
  pkg/bloomcompactor/chunkcompactor_test.go
  pkg/bloomcompactor/mergecompactor.go
  pkg/bloomcompactor/utils.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/storage/stores/shipper/bloomshipper/compress_utils.go
Labels: size/L

#11529 Jsonnet: Fix and update loki-mixin panels
  production/helm/loki/src/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/L, area/helm

#11528 Add context and tenant to pipeline/extractor wrappers
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/pipeline.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Labels: size/M

#11492 Bloom querying: Propagate line filters from querier to bloom filter
  cmd/migrate/main.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/cache_test.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/bloomgateway/util.go
  pkg/bloomgateway/worker.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/logproto/bloomgateway.pb.go
  pkg/logproto/bloomgateway.proto
  pkg/logproto/compat.go
  pkg/logproto/compat_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/clone.go
  pkg/logql/syntax/linefilter.go
  pkg/logql/syntax/linefilter_test.go
  pkg/logql/syntax/visit.go
  pkg/querier/querier_mock_test.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/chunk/predicate.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util_test.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client.go
  pkg/storage/util_test.go
Labels: size/XL

#11531 operator: Refactor ensureObjectStoreCredentials in manifests/storage package
  operator/internal/manifests/storage/configure.go
Labels: size/L, sig/operator

#11536 Bloom Compactor: Fix panic at startup if multiple TSDB period configs are defined
  pkg/bloomcompactor/bloomcompactor.go
  pkg/loki/modules.go
Labels: size/S

#11533 operator: Add serviceaccount per lokistack resource
  operator/CHANGELOG.md
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/manifests/build.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/serviceaccount.go
  operator/internal/manifests/serviceaccount_test.go
Labels: size/L, sig/operator

#11537 Fix panic in bloom gateway client
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/loki/modules.go
Labels: size/M

#11505 structured metadata: track usage of structured metadata in queries
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/ingester/instance_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/context_test.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/storage/store_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#11502 Update installation.md: Install using apt or rpm
  docs/sources/send-data/promtail/installation.md
Labels: size/XS, type/docs

#11534 Benchmark and improve sketch join
  pkg/logql/engine.go
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/quantile_over_time_sketch_test.go
  pkg/querier/queryrange/marshal.go
Labels: size/L

#11551 Do not reflect label names in request metrics' "route" label
  CHANGELOG.md
  pkg/querier/queryrange/codec.go
Labels: size/XS, backport release-2.9.x

#11545 Revendor gomemcache to import deadline fix
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/modules.txt
Labels: size/XS

#11553 Cherry pick #11551 into k179
  CHANGELOG.md
  pkg/querier/queryrange/codec.go
Labels: size/XS
