Repository grafana/loki, pull requests merged in 2023-02, with the labels that each got.

#8326 Display Memory request in sizing tool.
  docs/sources/installation/sizing/index.md
  pkg/sizing/algorithm.go
Labels: size/S, type/docs

#8352 Helm: Align ingress timeout and size limits.
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#8308 operator: Cleanup ruler resources when disabled
  operator/CHANGELOG.md
  operator/internal/handlers/internal/rules/cleanup.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: size/L, sig/operator

#8363 Cosmetic lint warning fixes
  clients/cmd/promtail/main.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/pull_target_test.go
  cmd/loki-canary/main.go
  pkg/logproto/alias.go
Labels: size/S

#8348 Prepare 2.7.3 changelog and release notes
  CHANGELOG.md
  docs/sources/release-notes/v2-7.md
Labels: size/S, type/docs

#8366 chore: Vendor `runtimeconfig` package patch
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/multierror/multierror.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/runtimeconfig/manager.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/modules.txt
Labels: size/XS

#8367 Bump new loki/promtail versions in ksonnet libs
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/XS

#8371 Loki: Add the ability to wait on SIGTERM before shutting down
  docs/sources/configuration/_index.md
  pkg/loki/loki.go
Labels: size/M, type/docs

#8372 Reflect release 2.7.3 on main branch
  CHANGELOG.md
  docs/sources/installation/docker.md
  docs/sources/release-notes/v2-7.md
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
Labels: size/M, area/helm, type/docs

#8375 Snyk Workflow add
  .github/workflows/snyk.yml
Labels: size/S

#8378 Update GEL plugin in k3d env to latest
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/S

#8387 Pin windows build Go version
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#8383 Add table of Loki versions in helm chart
  production/README.md
Labels: size/S

#8389 Fix comparison in a delete request integration test
  integration/client/client.go
  integration/loki_micro_services_delete_test.go
Labels: size/XS

#8391 index-store: fix indexing of chunks overlapping multiple schemas (#8251)
  .drone/drone.jsonnet
  .drone/drone.yml
  CHANGELOG.md
  pkg/storage/store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/tsdb/store.go
Labels: size/L

#6371 feat(promtail): add more complex options of dropping logs at the drop stage
  CHANGELOG.md
  clients/pkg/logentry/stages/drop.go
  clients/pkg/logentry/stages/drop_test.go
  docs/sources/clients/promtail/stages/drop.md
Labels: size/L, type/docs

#7472 Promtail: Add custom headers on push requests (#7470)
  CHANGELOG.md
  clients/pkg/promtail/client/client.go
  clients/pkg/promtail/client/config.go
  clients/pkg/promtail/config/config_test.go
  docs/sources/clients/promtail/configuration.md
Labels: size/M, type/docs

#7474 Fix the ruler alertmanager_client documentation
  docs/sources/configuration/_index.md
Labels: size/M, type/docs

#7624 Jsonnet: Allows gateway tenant ID to be configured
  docs/sources/configuration/_index.md
  production/ksonnet/loki/gateway.libsonnet
Labels: size/M, type/docs

#8247 [Mixin] Update clusterlabel usage
  CHANGELOG.md
  production/loki-mixin-compiled-ssd/alerts.yaml
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled-ssd/rules.yaml
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin-compiled/rules.yaml
  production/loki-mixin/alerts.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/loki-mixin/recording_rules.libsonnet
Labels: size/L

#7693 docs(monitor-and-alert): Fix typo in ServiceMonitor spelling
  docs/sources/installation/helm/monitor-and-alert/index.md
Labels: size/XS, type/docs

#8360 Upstream additional multi-zone ingester jsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/memberlist.libsonnet
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/L

#8390 Fixing typo in 2.7.x branch.
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/XS, type/docs

#8413 [LogCLI] Load tenant-specific schema config file when using `--remote-schema`
  CHANGELOG.md
  docs/sources/tools/logcli.md
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
Labels: size/M, type/docs

#7208 LogQL: [optimization] syntax: Replace "panic" in "/pkg/logql/syntax" with "error"
  pkg/ingester/instance.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/evaluator_test.go
  pkg/logql/log/label_filter.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/extractor.go
  pkg/logql/syntax/parser.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/queryrange/shard_resolver.go
Labels: size/L

#8397 operator: Update operand Loki to v2.7.3
  operator/CHANGELOG.md
  operator/bundle/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/config/overlays/production/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/internal/manifests/var.go
Labels: size/S, sig/operator

#8425 Skip image validation
  .github/workflows/doc-validator.yml
Labels: size/XS

#8421 Update fluent-plugin-grafana-loki to Ruby 3.2
  clients/cmd/fluentd/Dockerfile
  clients/cmd/fluentd/fluent-plugin-grafana-loki.gemspec
Labels: size/XS

#8411 operator: Bump bundle OCP max version property to 4.15
  operator/bundle/metadata/properties.yaml
Labels: size/XS, sig/operator

#8426 Bump version of `fluent-plugin-grafana-loki` to 1.2.20
  clients/cmd/fluentd/Makefile
  clients/cmd/fluentd/fluent-plugin-grafana-loki.gemspec
Labels: size/XS, component/fluent-plugin-grafana-loki

#8428 Remove call to action from 2.7 release.
  docs/sources/_index.md
  docs/sources/getting-started/_index.md
  docs/sources/installation/_index.md
  examples/README.md
Labels: size/XS, type/docs

#8267 Promtail WAL support: Implement writer side
  clients/pkg/promtail/client/client_test.go
  clients/pkg/promtail/client/manager.go
  clients/pkg/promtail/client/manager_test.go
  clients/pkg/promtail/client/test_server.go
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/utils/entries.go
  clients/pkg/promtail/utils/entries_test.go
  clients/pkg/promtail/wal/config.go
  clients/pkg/promtail/wal/reader.go
  clients/pkg/promtail/wal/wal.go
  clients/pkg/promtail/wal/writer.go
  clients/pkg/promtail/wal/writer_test.go
Labels: size/XXL

#8412 operator: Add missing release section into the changelog
  operator/CHANGELOG.md
Labels: size/XS, sig/operator

#8429 Fix numbering issue in second procedure.
  docs/sources/installation/local.md
Labels: size/S, type/docs

#8423 Add OVHcloud to sizing tool
  pkg/sizing/node.go
Labels: size/S

#8435 Update publishing workflows to use organization secret
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/M

#8430 Fix broken cross-reference in Helm installation.
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/XS, type/docs

#8436 Fix flaky `TestMicroServicesDeleteRequest` integration test
  integration/loki_micro_services_delete_test.go
Labels: size/S

#8382 Promtail: Add event log message stage
  CHANGELOG.md
  clients/pkg/logentry/stages/eventlogmessage.go
  clients/pkg/logentry/stages/eventlogmessage_test.go
  clients/pkg/logentry/stages/stage.go
  docs/sources/clients/promtail/pipelines.md
  docs/sources/clients/promtail/scraping.md
  docs/sources/clients/promtail/stages/eventlogmessage.md
Labels: size/XL, type/docs

#8442 [jsonnet] fix import ordering in loki.libsonnet
  production/ksonnet/loki/loki.libsonnet
Labels: size/XS

#8441 Correct sizing tool unit in help text.
  docs/sources/installation/sizing/index.md
Labels: size/XS, type/docs

#8449 Fix namespace rendering in provisioner job
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
Labels: size/S, area/helm

#8398 Helm: Add podlabels to backend
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8454 Improve installation instructions
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/S, type/docs

#8446 [Helm] Allow to configure publishNotReadyAddresses on memberlist service
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/service-memberlist.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8392 Usage stats reporter: fix to remove duplicate if block
  pkg/usagestats/reporter.go
Labels: size/XS

#8364 Put instance_addr in proper place in loki-local-config (#6106)
  cmd/loki/loki-local-config.yaml
Labels: size/XS

#8379 add section to prom operator instructions about necessary label
  docs/sources/installation/helm/monitor-and-alert/index.md
Labels: size/S, type/docs

#8427 [helm] set compactor address
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/validate.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8457 logs sharding astmapperware to spans in addition to logs
  pkg/querier/queryrange/querysharding.go
Labels: size/S

#8448 Fix parsing of vector expression
  CHANGELOG.md
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/parser_test.go
  pkg/querier/queryrange/querysharding.go
Labels: size/M

#8461 More precise sharding logic for `on|ignoring`
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/parser_test.go
Labels: size/M

#8438 Swift: Allow to configure swift with the internal endpoint
  docs/sources/configuration/_index.md
  pkg/storage/bucket/swift/config.go
  pkg/storage/chunk/client/openstack/swift_object_client.go
Labels: size/XS, type/docs

#8445 [helm] Bump to Loki 2.7.3
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/ci/default-values.yaml
  production/helm/loki/ci/enterprise.yaml
  production/helm/loki/ci/ingress-values.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8477 [helm] Fix read-only /tmp in 3 targets mode
  production/helm/loki/templates/backend/statefulset-backend.yaml
Labels: size/XS, area/helm

#8431 Updated CONTRIBUTING file for docs.
  CONTRIBUTING.md
  docs/README.md
Labels: size/S, type/docs

#8482 Loki: Process "Limited" queries sequentially and not in parallel
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/L

#8487 Loki: set a maximum number of shards for "limited" queries instead of fixed number
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/shard_resolver.go
Labels: size/M

#8479 Helm: add debug option to helm command for verbose output on local development
  tools/dev/k3d/Makefile
Labels: size/M

#8494 correctly calculate max shards
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
Labels: size/M

#8459 [release-2.6.x] Update publishing workflows to use organization secret (#8435)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/M, backport

#8458 [release-2.7.x] Update publishing workflows to use organization secret (#8435)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/M, backport

#8460 [release-2.5.x] Update publishing workflows to use organization secret (#8435)
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/M, backport

#8496 Recut k136
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/shard_resolver_test.go
Labels: size/L

#8277 Loki Documentation: corrected config example for loki.storage
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/S, type/docs

#8490 helm: values to override read/write/backend paths in gateway config
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8502 Helm: add sleep argument to helm makefile on local development
  tools/dev/k3d/Makefile
Labels: size/M

#8503 Temporarily unpublish Analyzer page.
  docs/sources/logql/analyzer.md
Labels: size/XS, backport release-2.6.x, type/docs, backport release-2.7.x, docs-p1

#8469 DynamoDB: Accept a KMS key for DynamoDB tables
  Makefile
  docs/sources/configuration/_index.md
  docs/sources/configuration/examples.md
  docs/sources/configuration/examples/10-S3-And-DynamoDB-With-KMS-Snippet.yaml
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
  pkg/storage/chunk/client/aws/dynamodb_table_client.go
Labels: size/L, type/docs

#8513 helm: azure config: don't set use_federated_token if false
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#8507 operator: update assume-no-moving-gc to fix go 1.20
  operator/go.mod
Labels: size/XS, sig/operator

#8491 Backporting fix for broken link.
  docs/sources/installation/helm/install-scalable/index.md
Labels: size/S, type/docs

#8515 Helm: Remove unrelease setting from Helm chart configuration file
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#8510 Fix missing braces for service stanza
  production/nomad/loki-distributed/job.nomad.hcl
Labels: size/XS

#7308 operator: Provide community operator bundle
  operator/Makefile
  operator/bundle/community/bundle.Dockerfile
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/metadata/annotations.yaml
  operator/bundle/community/tests/scorecard/config.yaml
  operator/bundle/openshift/bundle.Dockerfile
  operator/bundle/openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/metadata/annotations.yaml
  operator/bundle/openshift/metadata/properties.yaml
  operator/bundle/openshift/tests/scorecard/config.yaml
  operator/config/manager/kustomization.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/kustomization.yaml
  operator/config/manifests/kustomization.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/kustomization.yaml
  operator/config/overlays/community/controller_manager_config.yaml
  operator/config/overlays/community/kustomization.yaml
  operator/config/overlays/community/manager_auth_proxy_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_run_flags_patch.yaml
  operator/config/overlays/community/manager_webhook_patch.yaml
  operator/config/overlays/community/prometheus_service_monitor_patch.yaml
  operator/config/overlays/community/webhookcainjection_patch.yaml
  operator/config/overlays/production/manager_auth_proxy_patch.yaml
  operator/config/overlays/production/prometheus_service_monitor_patch.yaml
  operator/docs/operator/hack_loki_operator.md
  operator/docs/operator/storage_size_calculator.md
  operator/docs/prologue/quickstart.md
  operator/hack/.operatorhub-pr-template.md
  operator/hack/operatorhub.sh
Labels: size/XXL, sig/operator

#8531 fix panics when cloning a special query
  CHANGELOG.md
  pkg/logql/optimize_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/walk_test.go
  pkg/querier/queryrange/split_by_range_test.go
Labels: size/M

#8536 operator: Update Promtail and LogCLI addons to v2.7.3
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
Labels: size/XS, sig/operator

#8537 Fetch all entries with logcli if limit==0.
  CHANGELOG.md
  cmd/logcli/main.go
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
Labels: size/M

#8521 Fixed XSS on LogQL Analyzer page
  docs/sources/logql/analyzer.md
  docs/sources/logql/analyzer/script.js
Labels: size/XS, type/docs

#8518 logcli: Add parallel flags
  CHANGELOG.md
  cmd/logcli/main.go
  docs/sources/tools/logcli.md
  pkg/logcli/output/default.go
  pkg/logcli/output/jsonl.go
  pkg/logcli/output/output.go
  pkg/logcli/output/raw.go
  pkg/logcli/query/part_file.go
  pkg/logcli/query/query.go
  pkg/logcli/query/query_test.go
Labels: size/XL, type/docs

#8547 Fix regression in lambda-promtail tool that yields incorrect label names
  tools/lambda-promtail/Makefile
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
Labels: size/XXL

#8548 lambda-promtail: Add option to omit extra labels prefix `__extra_`
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/template.yaml
  tools/lambda-promtail/variables.tf
Labels: size/M

#8553 Fix logcli parallel download deadlock.
  pkg/logcli/query/query.go
Labels: size/XS

#8373 Document memcached configuration for caching.
  docs/sources/installation/helm/install-scalable/index.md
  docs/sources/operations/caching.md
Labels: size/M, type/docs

#8497 fix(promtail): Make `cri` tags streams aware.
  clients/pkg/logentry/stages/extensions.go
  clients/pkg/logentry/stages/extensions_test.go
  clients/pkg/logentry/stages/pipeline.go
Labels: size/L

#8549 lambda-promtail: various terraform fixes
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
  tools/lambda-promtail/versions.tf
Labels: size/L

#8560 Replace deprecated inet.af/netaddr
  go.mod
  go.sum
  pkg/logql/log/ip.go
  vendor/go4.org/intern/LICENSE
  vendor/go4.org/intern/README.md
  vendor/go4.org/intern/intern.go
  vendor/go4.org/netipx/.gitignore
  vendor/go4.org/netipx/.gitmodules
  vendor/go4.org/netipx/AUTHORS
  vendor/go4.org/netipx/LICENSE
  vendor/go4.org/netipx/README.md
  vendor/go4.org/netipx/ipset.go
  vendor/go4.org/netipx/mask6.go
  vendor/go4.org/netipx/netipx.go
  vendor/go4.org/netipx/uint128.go
  vendor/go4.org/unsafe/assume-no-moving-gc/LICENSE
  vendor/go4.org/unsafe/assume-no-moving-gc/README.md
  vendor/go4.org/unsafe/assume-no-moving-gc/assume-no-moving-gc.go
  vendor/go4.org/unsafe/assume-no-moving-gc/untested.go
  vendor/inet.af/netaddr/README.md
  vendor/inet.af/netaddr/fuzz.go
  vendor/inet.af/netaddr/netaddr.go
  vendor/modules.txt
Labels: size/XXL

#8404 helm: make multi tenant easy: use tenant id from nginx $remote_user
  docs/sources/installation/helm/reference.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#8552 feat: add ready endoint to loki-push-api server
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
  docs/sources/clients/promtail/configuration.md
Labels: size/M, type/docs

#8231 Lambda-promtail: Add support for processing SQS messages, add promtailClient Type, add logger, upgrade dependencies and fix unexpected flushing behaviors
  CHANGELOG.md
  docs/sources/clients/lambda-promtail/_index.md
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/logger.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/main_test.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/promtail_client.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/sqs.go
  tools/lambda-promtail/lambda-promtail/sqs_test.go
Labels: size/L, type/docs

#8575 Update build image to go 1 20 1 and alpine 3 16 4
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/M

#3493 feature: geoip stage in promtail
  CHANGELOG.md
  clients/pkg/logentry/stages/geoip.go
  clients/pkg/logentry/stages/geoip_test.go
  clients/pkg/logentry/stages/match.go
  clients/pkg/logentry/stages/stage.go
  docs/sources/clients/promtail/stages/_index.md
  docs/sources/clients/promtail/stages/geoip.md
  go.mod
  go.sum
  vendor/github.com/oschwald/geoip2-golang/.gitignore
  vendor/github.com/oschwald/geoip2-golang/.gitmodules
  vendor/github.com/oschwald/geoip2-golang/.golangci.toml
  vendor/github.com/oschwald/geoip2-golang/LICENSE
  vendor/github.com/oschwald/geoip2-golang/README.md
  vendor/github.com/oschwald/geoip2-golang/reader.go
  vendor/github.com/oschwald/maxminddb-golang/.gitignore
  vendor/github.com/oschwald/maxminddb-golang/.gitmodules
  vendor/github.com/oschwald/maxminddb-golang/.golangci.toml
  vendor/github.com/oschwald/maxminddb-golang/LICENSE
  vendor/github.com/oschwald/maxminddb-golang/README.md
  vendor/github.com/oschwald/maxminddb-golang/decoder.go
  vendor/github.com/oschwald/maxminddb-golang/deserializer.go
  vendor/github.com/oschwald/maxminddb-golang/errors.go
  vendor/github.com/oschwald/maxminddb-golang/mmap_unix.go
  vendor/github.com/oschwald/maxminddb-golang/mmap_windows.go
  vendor/github.com/oschwald/maxminddb-golang/node.go
  vendor/github.com/oschwald/maxminddb-golang/reader.go
  vendor/github.com/oschwald/maxminddb-golang/reader_appengine.go
  vendor/github.com/oschwald/maxminddb-golang/reader_other.go
  vendor/github.com/oschwald/maxminddb-golang/traverse.go
  vendor/github.com/oschwald/maxminddb-golang/verifier.go
  vendor/modules.txt
Labels: size/L, type/docs

#8370 [RFR] fix vector() function produces wrong timestamp on instant query
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
Labels: size/M

#8587 Use golangci-lint v1.51.2 in build image
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#8486 Fix ruler deadlock
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/ruler/grouploader.go
  pkg/ruler/grouploader_test.go
  pkg/ruler/memstore.go
  pkg/ruler/memstore_test.go
Labels: size/XL

#8579 operator: Remove deprecated field querier.engine.timeout
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/sizes.go
Labels: size/S, sig/operator

#8591 Loki: Fix memchunk headblock filter
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
Labels: size/XS

#6675 Add logfmt selective label extraction
  CHANGELOG.md
  docs/sources/logql/log_queries/_index.md
  pkg/logql/log/json_expr.go
  pkg/logql/log/logfmt/lexer.go
  pkg/logql/log/logfmt/logfmtexpr.y
  pkg/logql/log/logfmt/logfmtexpr.y.go
  pkg/logql/log/logfmt/logfmtexpr_test.go
  pkg/logql/log/logfmt/parser.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/log/x_expr.go
  pkg/logql/optimize.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/syntax/prettier.go
Labels: keepalive, size/XL, type/docs

#8594 Revert "Loki: Fix memchunk headblock filter"
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
Labels: size/XS

#8577 operator: Store gateway tenant information in secret instead of configmap
  operator/CHANGELOG.md
  operator/internal/handlers/internal/gateway/tenant_configsecret.go
  operator/internal/handlers/internal/gateway/tenant_configsecret_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/internal/config/build_test.go
Labels: size/L, sig/operator

#8578 operator: Refactor status update to reduce API calls
  operator/CHANGELOG.md
  operator/controllers/loki/lokistack_controller.go
  operator/internal/status/components.go
  operator/internal/status/components_test.go
  operator/internal/status/lokistack.go
  operator/internal/status/lokistack_test.go
  operator/internal/status/status.go
  operator/internal/status/status_test.go
Labels: size/XXL, sig/operator

#8595 Clean up CHANGELOG
  CHANGELOG.md
Labels: size/XS

#8583 Use 0.28.1 build image and update go and alpine versions
  .drone/drone.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  clients/pkg/promtail/targets/testutils/testutils.go
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  integration/shared_test.go
  operator/Dockerfile.cross
  pkg/canary/comparator/comparator.go
  pkg/chunkenc/memchunk_test.go
  pkg/logql/engine_test.go
  pkg/util/metrics_helper_test.go
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/L, sig/operator, area/helm

#8467 Helm enterprise-logs: update kubernetes secrets creation
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/tokengen/clusterrole-tokengen.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  tools/dev/k3d/README.md
Labels: size/M, area/helm

#8561 Define Container for Codespaces
  .devcontainer/devcontainer.json
  loki-build-image/version-updater.sh
Labels: size/S

#8351 Iterators: re-implement entrySortIterator using loserTree for performance
  pkg/iter/entry_iterator.go
  pkg/util/loser/tree.go
  pkg/util/loser/tree_test.go
Labels: size/L

#8596 chore: Cleanup label extraction expression
  pkg/logql/log/label_extraction_expr.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/log/x_expr.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/parser_test.go
Labels: size/L

#8593 Fix typos
  docs/sources/installation/helm/monitor-and-alert/index.md
Labels: size/XS, type/docs, backport release-2.7.x

#8580 production: Add missing string formatter token to nginx.conf config map
  production/ksonnet/loki/gateway.libsonnet
Labels: size/XS

#8614 [release-2.7.x] fix(promtail): Make `cri` tags streams aware. (#8497)
  CHANGELOG.md
  clients/pkg/logentry/stages/extensions.go
  clients/pkg/logentry/stages/extensions_test.go
  clients/pkg/logentry/stages/pipeline.go
Labels: size/L, backport, type/bug

#8601 Helm: update changelog with changes from PR #8467
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#8603 Helm: update changelog CI comment
  production/helm/loki/CHANGELOG.md
Labels: size/XS, area/helm

#8331 Helm chart auto update
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/L

#8618 Helm chart auto update (#8331)
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/L

#8619 [release-2.7.x] Update build image to go 1 20 1 and alpine 3 16 4 (#8575)
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/M, backport, type/bug

#8498 Helm: fix enterprise-logs license secret name
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/docs/examples/enterprise/README.md
  production/helm/loki/docs/examples/enterprise/enterprise-secrets.yaml
  production/helm/loki/docs/examples/enterprise/overrides-enterprise-gcs.yaml
Labels: size/M, area/helm

#8622 [release-2.7.x] Use golangci-lint v1.51.2 in build image (#8587)
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S, backport, type/bug

#8623 [release-2.7.x] Use 0.28.1 build image and update go and alpine versions (#8583)
  .drone/drone.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  clients/pkg/promtail/promtail_test.go
  clients/pkg/promtail/targets/testutils/testutils.go
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  go.mod
  go.sum
  integration/shared_test.go
  operator/Dockerfile.cross
  pkg/canary/comparator/comparator.go
  pkg/chunkenc/memchunk_test.go
  pkg/logql/engine_test.go
  pkg/util/metrics_helper_test.go
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
  vendor/go4.org/unsafe/assume-no-moving-gc/assume-no-moving-gc.go
  vendor/go4.org/unsafe/assume-no-moving-gc/untested.go
  vendor/modules.txt
Labels: size/L, backport, sig/operator, area/helm, type/bug

#8626 Docs: Update references from 2.7.{2,3} to 2.7.4
  docs/sources/installation/docker.md
  docs/sources/installation/local.md
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  production/nomad/loki-distributed/README.md
  production/nomad/loki-distributed/job.nomad.hcl
  production/nomad/loki-simple/README.md
  production/nomad/loki-simple/job.nomad.hcl
  production/nomad/loki/README.md
  production/nomad/loki/job.nomad.hcl
Labels: size/M, type/docs

#8629 Docs: Add release notes for 2.7.4
  docs/sources/release-notes/v2-7.md
Labels: size/S, type/docs

#8492 Loki cloud integration instructions (and necessary mixin changes)
  docs/sources/installation/helm/monitor-and-alert/_index.md
  docs/sources/installation/helm/monitor-and-alert/with-grafana-cloud.md
  docs/sources/installation/helm/monitor-and-alert/with-local-monitoring.md
  docs/sources/installation/helm/reference.md
  production/helm/loki/values.yaml
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/mixin-ssd.libsonnet
  tools/dev/k3d/Makefile
  tools/dev/k3d/environments/helm-cluster/empty.jsonnet
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/environments/helm-cluster/values/enterprise-logs-cloud-monitoring.yaml
  tools/dev/k3d/environments/helm-cluster/values/kube-state-metrics.yaml
Labels: size/L, area/helm, type/docs

#8632 Fixing broken link and removing out of date blog post.
  docs/sources/operations/scalability.md
Labels: size/XS, backport release-2.6.x, type/docs, backport release-2.7.x, type/bug

#8640 added missed binaries required to run `./tools/image-tag` script
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#8641 [logcli] set default instead of error for parallel-max-workers validation
  cmd/logcli/main.go
Labels: size/XS

#8642 added missed binaries required to run `./tools/image-tag` script
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#8633 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/M

#8650 Ruler: do not keep appending logger keys
  pkg/ruler/base/ruler.go
Labels: size/S

#8474 S3: add support for s3 session token
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/loki/config_wrapper_test.go
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/M, type/docs

#8585 LID: Improve scheduler to control QoS across users within a tenant
  docs/sources/lids/0003-QueryFairnessInScheduler.md
  docs/sources/lids/scheduler-component-diagram.plantuml
  docs/sources/lids/scheduler-component-diagram.png
  docs/sources/lids/scheduler-proposal-1-component-diagram.plantuml
  docs/sources/lids/scheduler-proposal-1-component-diagram.png
  docs/sources/lids/scheduler-proposal-2-component-diagram.plantuml
  docs/sources/lids/scheduler-proposal-2-component-diagram.png
  docs/sources/lids/scheduler-sequence-diagram.plantuml
  docs/sources/lids/scheduler-sequence-diagram.png
Labels: size/L, type/docs

#8489 Optimize Promtail wal writer to batch both series and entries record
  clients/pkg/promtail/wal/wal.go
  clients/pkg/promtail/wal/writer_test.go
Labels: size/M
