Repository grafana/loki, pull requests merged in 2023-04, with the labels that each got.

#8988 Promtail: Prevent logging errors on normal shutdown
  CHANGELOG.md
  clients/pkg/promtail/targets/journal/journaltarget.go
Labels: size/S

#8996 remove redundant splitby middleware
  pkg/querier/queryrange/roundtrip.go
Labels: size/XS

#8381 operator: Enhancement Proposal for Zone Aware Replication
  operator/docs/enhancements/zone_aware_replication.md
Labels: kind/feature, size/L, sig/operator

#8985 Change loki version in docs for 2.8 release
  docs/sources/installation/docker.md
  docs/sources/upgrading/_index.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  tools/diff-metrics.sh
Labels: size/M, type/docs, missing-labels, backport release-2.8.x

#9000 [release-2.8.x] Change loki version in docs for 2.8 release (#8985)
  docs/sources/installation/docker.md
  docs/sources/upgrading/_index.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  tools/diff-metrics.sh
Labels: size/M, backport, type/docs

#9003 Update helm and jsonnet for 2.8 release
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/S, area/helm, type/docs, product-approved, backport release-2.8.x

#8959 Align common instance_addr with memberlist advertise_addr
  CHANGELOG.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
Labels: size/XS, missing-labels, backport release-2.8.x

#9005 operator: Restore minimum PVC sizes for 1x.extra-small
  operator/apis/loki/v1/lokistack_types.go
  operator/internal/manifests/internal/sizes.go
Labels: size/S, sig/operator

#9002 I do not think we have circleci jobs anymore
  docs/sources/maintaining/release.md
Labels: size/XS, type/docs

#8991 Trigger `deploy` CI step only on push to main or tag of new release
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#8983 Docs: Mention python-logging-loki as an unofficial client
  docs/sources/clients/_index.md
Labels: size/XS, type/docs

#8995 Mixins: check that `memcached_index_writes` exists before using it in `boltdb_shipper`
  CHANGELOG.md
  production/ksonnet/loki/boltdb_shipper.libsonnet
Labels: size/S

#8994 Promtail: Add `decompression` configuration
  CHANGELOG.md
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/file/decompresser.go
  clients/pkg/promtail/targets/file/decompresser_test.go
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
  docs/sources/clients/promtail/_index.md
  docs/sources/clients/promtail/configuration.md
Labels: size/L, type/docs

#8998 operator: Remove static placeholder suffix for openshift bundle
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manager/kustomization.yaml
Labels: size/S, sig/operator

#9004 Add 2.8 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v2-8.md
Labels: size/M, type/docs, backport release-2.8.x

#8968 Eager stream merge
  pkg/logql/downstream.go
  pkg/logqlmodel/metadata/context.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
Labels: size/XL

#9015 add 2.8 release date
  CHANGELOG.md
Labels: size/XS, type/docs, product-approved, backport release-2.8.x

#9013 Add goimports to Loki build image.
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#9016 chore(format_query): Change response type to `application/json`
  CHANGELOG.md
  docs/sources/api/_index.md
  pkg/loki/format_query_handler.go
  pkg/loki/format_query_handler_test.go
Labels: size/L, type/docs

#9019 Remove unnecessary build image step.
  docs/sources/maintaining/release-loki-build-image.md
Labels: size/XS, type/docs

#9011 Rename per-request query limits.
  integration/loki_micro_services_test.go
  pkg/util/querylimits/propagation.go
  pkg/util/querylimits/propagation_test.go
Labels: size/XS

#9012 Check that code has been formatted.
  .devcontainer/devcontainer.json
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/M

#8958 operator: Align common instance addr with memberlist advertise addr
  operator/CHANGELOG.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/S, sig/operator

#9038 sbom action namechange
  .github/workflows/syft-sbom-ci.yml
Labels: size/XS

#8978 operator: Add watch for the object storage secret
  operator/CHANGELOG.md
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
Labels: size/M, sig/operator

#9040 operator: Update Loki dependency to v2.8.0
  operator/apis/loki/v1/v1.go
  operator/go.mod
  operator/go.sum
  operator/internal/validation/openshift/common.go
Labels: size/XL, sig/operator

#9025 These features did not make the release
  docs/sources/release-notes/v2-8.md
Labels: size/XS, type/docs, missing-labels, type/bug, backport release-2.8.x

#9048 Fix CHANGELOG link
  docs/sources/release-notes/v2-8.md
Labels: size/XS, type/docs

#9050 Fail through to next middleware when querySizeLimit cannot be applied
  pkg/querier/queryrange/limits.go
Labels: size/XS, type/bug, backport k144

#9042 Fix CHANGELOG to accurately reflect what's in 2.8
  CHANGELOG.md
Labels: size/M

#9054 Fix CHANGELOG link
  docs/sources/release-notes/v2-8.md
Labels: size/XS, type/docs

#9065 makes test pass for 0 sharding factor (equivalent to no sharding)
  pkg/storage/stores/tsdb/index/shard.go
Labels: size/XS

#9039 Loki: log all trace ID's but include `sampled=true` when the trace is logged
  pkg/logql/metrics_test.go
  pkg/util/log/wrappers.go
Labels: size/S

#9086 Loki: Fix span event logging on rate store
  pkg/distributor/ratestore.go
Labels: size/S

#9099 Estimate chunk size on compaction looking at data uncompressed size
  CHANGELOG.md
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
Labels: size/XS

#8894 Helm: Removed support for PodDisruptionBudget in policy/v1alpha1 and upgraded it to policy/v1
  CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/backend/poddisruptionbudget-backend.yaml
  production/helm/loki/templates/gateway/poddisruptionbudget-gateway.yaml
  production/helm/loki/templates/read/poddisruptionbudget-read.yaml
  production/helm/loki/templates/single-binary/pdb.yaml
  production/helm/loki/templates/write/poddisruptionbudget-write.yaml
Labels: size/S, area/helm

#9095 Add journald support to Promtail amd64 binary builds
  Makefile
Labels: size/XS, component/promtail, type/bug, product-approved, backport release-2.8.x

#9096 Proportional TSDB index stats for chunks partially fitting in queried time range.
  CHANGELOG.md
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
Labels: size/L

#9106 Bump go from 1.20.1 -> 1.20.3
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  go.mod
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M, sig/operator, area/helm, backport release-2.7.x, product-approved, backport release-2.8.x

#8874 promtail: support configurable polling interval
  CHANGELOG.md
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/filetargetmanager_test.go
  clients/pkg/promtail/targets/file/tailer.go
  clients/pkg/promtail/targets/manager.go
  docs/sources/clients/promtail/configuration.md
  go.mod
  go.sum
  vendor/github.com/grafana/tail/tail.go
  vendor/github.com/grafana/tail/watch/polling.go
  vendor/modules.txt
Labels: size/L, type/docs

#9116 [release-2.8.x] Bump go from 1.20.1 -> 1.20.3 (#9106)
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  go.mod
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M, backport, sig/operator, area/helm

#9117 [release-2.7.x] Backport 9106 to release 2.7.x
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  go.mod
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M, backport, sig/operator, area/helm

#9121 Sanitize label keys in the unpack parser
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/S

#9124 Fix comment in `buildChunkMetas ` test function
  pkg/storage/stores/tsdb/compactor_test.go
Labels: size/XS

#9049 operator: Revert 1x.extra-small changes, add 1x.tiny-test
  operator/CHANGELOG.md
  operator/apis/loki/v1/lokistack_types.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#9134 Fix parsing of long queries
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/query_scanner.go
Labels: size/XL

#7754 index-shipper: add support for multiple stores
  CHANGELOG.md
  docs/sources/upgrading/_index.md
  integration/client/client.go
  integration/cluster/cluster.go
  integration/cluster/schema.go
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/util/merger.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/config/schema_config.go
  pkg/storage/config/schema_config_test.go
  pkg/storage/factory.go
  pkg/storage/factory_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/indexshipper/downloads/table_manager.go
  pkg/storage/stores/indexshipper/downloads/table_manager_test.go
  pkg/storage/stores/indexshipper/shipper.go
  pkg/storage/stores/indexshipper/uploads/table_manager.go
  pkg/storage/stores/indexshipper/uploads/table_manager_test.go
  pkg/storage/stores/shipper/index/table_manager.go
  pkg/storage/stores/shipper/index/table_manager_test.go
  pkg/storage/stores/shipper/indexgateway/gateway.go
  pkg/storage/stores/shipper/indexgateway/gateway_test.go
  pkg/storage/stores/shipper/shipper_index_client.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/index_shipper_querier.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/store.go
Labels: size/XXL, type/docs

#9130 Pass engine opts down to middlewares
  CHANGELOG.md
  pkg/loki/modules.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/split_by_range.go
  pkg/querier/queryrange/split_by_range_test.go
Labels: size/L

#9137 Move misplaced recent changes in changelog to Loki Enhancements
  CHANGELOG.md
Labels: size/S

#9142 Backport Fix parsing of long queries (#9134) to k145
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/query_scanner.go
Labels: size/XL, backport

#9138 Update _index.md
  docs/sources/fundamentals/overview/_index.md
Labels: size/XS, type/docs, Q1SE

#9133 Removed deprecated navigation names
  docs/sources/installation/helm/monitor-and-alert/with-grafana-cloud.md
Labels: size/XS, type/docs, area/docs

#9126 Use centralized make-docs script from Writers' Toolkit
  .gitignore
  docs/Makefile
  docs/docs.mk
  docs/variables.mk
Labels: size/L, type/docs

#9125 Docs: Replace mimir example config path with a loki one
  docs/sources/operations/scalability.md
Labels: size/XS, type/docs

#9093 Makefile: Support debug build for `logcli`.
  Makefile
Labels: size/XS

#9092 Docs: add missing configuration option
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs

#9085 Update configuration.md
  docs/sources/clients/promtail/configuration.md
Labels: size/XS, type/docs

#9082 Fixing spelling errors and incorrect units
  docs/sources/clients/promtail/_index.md
Labels: size/XS, type/docs

#9037 Docs: update template function
  docs/sources/logql/template_functions.md
Labels: size/S, type/docs, Q1SE

#9044 gcplog: improve formatter
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/gcplog/formatter.go
  clients/pkg/promtail/targets/gcplog/formatter_test.go
  clients/pkg/promtail/targets/gcplog/pull_target.go
  clients/pkg/promtail/targets/gcplog/push_target.go
  clients/pkg/promtail/targets/gcplog/push_translation.go
  docs/sources/clients/promtail/configuration.md
  docs/sources/clients/promtail/scraping.md
Labels: size/L, type/docs

#9061 Update replication factor impact to read path
  docs/sources/fundamentals/architecture/components/_index.md
Labels: size/XS, type/docs, Q1SE

#9032 Updated Scalability benefit to call out decoupled read/write paths an…
  docs/sources/fundamentals/overview/_index.md
Labels: size/XS, type/docs, Q1SE

#9146 Revert "Use centralized make-docs script from Writers' Toolkit (#9126)"
  .gitignore
  docs/Makefile
  docs/docs.mk
  docs/variables.mk
Labels: size/L, type/docs

#9156 expiration: do not drop index if period is a zero value
  CHANGELOG.md
  pkg/storage/stores/indexshipper/compactor/retention/expiration.go
  pkg/storage/stores/indexshipper/compactor/retention/expiration_test.go
Labels: size/M

#9161 Skip pipelines that require secrets in forks
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/M

#9088 Fix comment in helm values.yaml
  docs/sources/installation/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#9024 upgrade go to 1.20 in nix flake
  flake.lock
  flake.nix
  nix/overlays/golangci-lint.nix
  nix/overlays/helm-docs.nix
  pkg/util/ring_test.go
Labels: size/L

#9063 Add release notes appender action
  .github/workflows/append-release-notes.yml
  docs/sources/release-notes/next.md
Labels: size/M, type/docs, add-to-release-notes

#9074 Tools/index analyzer
  pkg/storage/config/schema_config.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  tools/tsdb/index-analyzer/analytics.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/index-analyzer/util.go
Labels: size/L

#9170 [helm] Bump GEL version, default to 3 scalable targets
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
  tools/dev/k3d/environments/helm-cluster/spec.json
  tools/dev/k3d/environments/helm-cluster/values/enterprise-logs.yaml
  tools/dev/k3d/jsonnetfile.lock.json
Labels: size/M, area/helm, type/docs

#9165 Fix pipeline skipping in forks
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#9098 Give config snippets for automatic stream sharding.
  docs/sources/operations/automatic-stream-sharding.md
Labels: size/M, type/docs

#9169 Update weights for Helm Charts topics
  docs/sources/installation/helm/concepts.md
  docs/sources/installation/helm/configure-storage/index.md
  docs/sources/installation/helm/install-monolithic/index.md
  docs/sources/installation/helm/install-scalable/index.md
  docs/sources/installation/helm/migrate-from-distributed/index.md
  docs/sources/installation/helm/migrate-to-three-scalable-targets/index.md
  docs/sources/installation/helm/monitor-and-alert/_index.md
  docs/sources/installation/helm/monitor-and-alert/with-grafana-cloud.md
  docs/sources/installation/helm/monitor-and-alert/with-local-monitoring.md
  docs/sources/installation/helm/reference.md
  docs/sources/installation/helm/upgrade-from-2.x/index.md
  production/helm/loki/reference.md.gotmpl
Labels: size/M, type/docs

#8972 Cache index stats requests
  CHANGELOG.md
  pkg/querier/queryrange/index_stats_cache.go
  pkg/querier/queryrange/index_stats_cache_test.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/util/time.go
Labels: size/L

#8566 logcli: Allow negative filters when omitting stream selector with --stdin
  CHANGELOG.md
  cmd/logcli/main.go
Labels: size/S

#7545 logql: handle negative offset
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/parser_test.go
Labels: size/S

#9162 operator: Add a PodDisruptionBudget to lokistack-gateway
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/gateway_test.go
  operator/internal/manifests/mutate.go
  operator/internal/manifests/mutate_test.go
Labels: size/L, sig/operator

#9145 [release-2.8.x] Update helm and jsonnet for 2.8 release (#9003)
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/S, backport, area/helm, type/docs

#9070 Tsdb/v3
  pkg/logproto/extensions.go
  pkg/storage/stores/index/stats/stats.go
  pkg/storage/stores/tsdb/head_read.go
  pkg/storage/stores/tsdb/index/chunk.go
  pkg/storage/stores/tsdb/index/chunk_test.go
  pkg/storage/stores/tsdb/index/index.go
  pkg/storage/stores/tsdb/index/index_test.go
  pkg/storage/stores/tsdb/index/pool.go
  pkg/storage/stores/tsdb/index_client.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/querier.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/util/encoding/encoding.go
Labels: size/XXL

#9157 Loki: Add debug event to ingester `GetStreamRates`
  pkg/distributor/ratestore.go
  pkg/ingester/ingester.go
Labels: size/S

#9180 Ingester: Reuse allocations on `GetStreamRates`
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: size/M

#9177 Flag to disable index stats cache
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/querier/queryrange/queryrangebase/roundtrip.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/M, type/docs

#9185 Prevent redis client from incorrectly choosing cluster mode with local address
  CHANGELOG.md
  pkg/storage/chunk/cache/redis_client.go
  pkg/storage/chunk/cache/redis_client_test.go
Labels: size/L, backport release-2.7.x, type/bug, backport release-2.8.x

#9194 Logcli - Better logging when object cannot get loaded from object store
  pkg/logcli/query/query.go
  pkg/storage/chunk/client/object_client.go
Labels: size/S

#9175 Update prepare shutdown
  CHANGELOG.md
  docs/sources/api/_index.md
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  pkg/ingester/flush.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/metrics.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
Labels: size/L, type/docs

#9188 operator: Add PodDisruptionBudgets to the query path
  operator/CHANGELOG.md
  operator/internal/manifests/build_test.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/indexgateway_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/querier_test.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
Labels: size/L, sig/operator

#9160 Loki microservices tanka: add some ingester replicas
  CHANGELOG.md
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/XS

#9176 Loki: Fix wrong association of PSRL when sharding is enabled
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/M, type/bug, backport release-2.8.x

#9201 removes 20 user test from compaction; seems redundant and hits timeouts
  pkg/storage/stores/tsdb/compactor_test.go
Labels: size/XS

#9168 Re-add helm configuration for Azure OIDC federation
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#8951 [opt] s3: add s3 client http timeout for GetObject or PutObject
  docs/sources/configuration/_index.md
  pkg/storage/chunk/client/aws/s3_storage_client.go
Labels: size/S, type/docs

#8879 Docs: Add operational docs for query fairness within tenants
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/query-fairness/hierarchical-queues.png
Labels: size/L, type/docs

#8500 Change GeneratorURL to use configurable Grafana explore URL
  docs/sources/configuration/_index.md
  pkg/ruler/base/compat.go
  pkg/ruler/base/ruler.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/compat.go
Labels: size/M, type/docs

#9220 POST /loki/api/v1/push should not be on query path
  docs/sources/api/_index.md
Labels: size/XS, type/docs

#9147 Bring back centralized docs toolkit (undo revert in #9146)
  Makefile
  docs/Makefile
  docs/docs.mk
  docs/make-docs
  docs/variables.mk
Labels: size/L, type/docs

#9184 Bump dskit from 528d8a7 to 1725bcc
  CHANGELOG.md
  docs/sources/configuration/_index.md
  go.mod
  go.sum
  pkg/loki/config_wrapper_test.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/ring_config.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/etcd/mock.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/limiter/rate_limiter.go
  vendor/github.com/grafana/dskit/loser/loser.go
  vendor/github.com/grafana/dskit/modules/modules.go
  vendor/github.com/grafana/dskit/netutil/netutil.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/noop.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tenant/tenant.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/modules.txt
Labels: size/L, type/docs

#8067 Distributor: Add AutoForget support
  CHANGELOG.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_ring.go
  pkg/distributor/distributor_test.go
  pkg/distributor/instance_count.go
  pkg/distributor/instance_count_test.go
Labels: size/L

#9253 Fix output of limited response body when remote rule evaluation fails
  pkg/ruler/evaluator_remote.go
Labels: size/XS

#9255 Do not use IPv6 when getting addr from ring
  pkg/distributor/distributor_ring.go
  pkg/loki/config_wrapper_test.go
Labels: size/XS

#9241 Update CHANGELOG and release notes
  CHANGELOG.md
  docs/sources/release-notes/v2-8.md
Labels: size/S, type/docs

#9264 Upgrade alpine 3.16.4 -> 3.16.5
  CHANGELOG.md
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  production/helm/loki/src/helm-test/Dockerfile
  tools/lambda-promtail/Dockerfile
Labels: size/M, area/helm, type/bug, product-approved, backport release-2.8.x

#9269 Finalize 2.8.1 changelog and release notes
  .drone/drone.jsonnet
  .drone/drone.yml
  CHANGELOG.md
  docs/sources/release-notes/v2-8.md
Labels: size/M, type/docs

#9272 Finalize 2.8.1 changelog and release notes
  CHANGELOG.md
  docs/sources/release-notes/v2-8.md
Labels: size/M, type/docs

#9276 start writing tsdb v3
  pkg/storage/stores/tsdb/index/index.go
Labels: size/XS

#9275 tsdb migrate versions
  pkg/storage/stores/tsdb/builder.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/compactor_test.go
  pkg/storage/stores/tsdb/identifier.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/querier_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/util_test.go
  tools/tsdb/migrate-versions/main.go
  tools/tsdb/migrate-versions/main_test.go
Labels: size/XL

#9245 operator: Replace deprecated MinIO environment variables
  operator/config/overlays/development/minio/deployment.yaml
Labels: size/XS, sig/operator

#7447 compactor: multi-store support
  docs/sources/configuration/_index.md
  docs/sources/upgrading/_index.md
  integration/cluster/cluster.go
  integration/loki_micro_services_delete_test.go
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/modules.go
  pkg/storage/config/schema_config.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  pkg/storage/stores/indexshipper/compactor/compactor_test.go
  pkg/storage/stores/indexshipper/compactor/retention/marker.go
  pkg/storage/stores/indexshipper/compactor/retention/retention.go
  pkg/storage/stores/indexshipper/compactor/retention/retention_test.go
Labels: size/XL, type/docs

#9284 Mark template as draft to unpublish.
  docs/sources/lids/template.md
Labels: size/XS, type/docs, type/bug, backport release-2.8.x

#9244 [loki] Replace deprecated MinIO environment variables
  examples/getting-started/docker-compose.yaml
  production/docker/docker-compose.yaml
Labels: size/XS

#9254 GitHub Actions - Replace `::set-output` by new format
  .github/workflows/helm-ci.yml
  .github/workflows/operator-images.yaml
Labels: size/S

#9298 operator: Update skipRange for 5.8 release
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#9213 Loki microservices tanka: remove useless PVC
  production/ksonnet/loki/ingester.libsonnet
Labels: size/XS

#9301 Revert "start writing tsdb v3"
  pkg/storage/stores/tsdb/index/index.go
Labels: size/XS

#9266 HTTP: Reuse `buffer.Bytes()` when decompressing
  pkg/util/http.go
  pkg/util/http_loki_test.go
Labels: size/M

#9314 Remove shutdown marker file when shutting down
  pkg/ingester/ingester.go
  pkg/loki/loki.go
Labels: size/S

#9299 Expose signature version property for s3 storage configs
  docs/sources/installation/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/reference.md.gotmpl
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#9265 Distributor: Modify `createShard` to create slice with more precise size
  pkg/distributor/distributor.go
Labels: size/S

#9300 Fix GF_INSTALL_PLUGINS syntax for k3d env GEL plugin
  tools/dev/k3d/environments/helm-cluster/main.jsonnet
Labels: size/XS

#9260 operator: Add PodDisruptionBudget to lokistack-ingestion path
  operator/CHANGELOG.md
  operator/internal/manifests/distributor.go
  operator/internal/manifests/distributor_test.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/ingester_test.go
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#9212 Rename usagestats to analytics
  CHANGELOG.md
  docs/sources/configuration/_index.md
  pkg/analytics/reporter.go
  pkg/analytics/reporter_test.go
  pkg/analytics/seed.go
  pkg/analytics/seed_test.go
  pkg/analytics/stats.go
  pkg/analytics/stats_test.go
  pkg/distributor/distributor.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/metrics.go
  pkg/loghttp/push/push.go
  pkg/logql/metrics.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/store.go
  pkg/storage/stores/indexshipper/compactor/compactor.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/L, type/docs

#9337 fix flaky integration TestMicroServicesDeleteRequest test
  integration/loki_micro_services_delete_test.go
Labels: size/XS

#9329 operator: Add default PodAntiAffinity to Ingester
  operator/CHANGELOG.md
  operator/internal/manifests/build_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/ingester_test.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/query-frontend_test.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/ruler_test.go
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#9327 Bump helm and jsonnet to latest version
  docs/sources/installation/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
Labels: size/S, area/helm, type/docs, product-approved, backport release-2.8.x

#9339 Add default PodAntiAffinity to Ruler
  operator/CHANGELOG.md
  operator/internal/manifests/ingester_test.go
  operator/internal/manifests/ruler_test.go
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#9342 Pin manifests plugin version
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#8662 LogQL: Introduce `distinct`
  CHANGELOG.md
  docs/sources/logql/log_queries/_index.md
  pkg/logql/log/distinct.go
  pkg/logql/log/distinct_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/prettier.go
Labels: size/L, type/docs

#9345 Loki microservices Tanka: remove unintended override
  production/ksonnet/loki/memberlist.libsonnet
Labels: size/XS

#9328 fixes bug during chunk iteration using markers
  pkg/storage/stores/tsdb/index/chunk_test.go
  pkg/storage/stores/tsdb/index/index.go
Labels: size/M

#9216 operator: Prepare community release v0.3.0
  operator/CHANGELOG.md
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
  operator/hack/operatorhub.sh
Labels: size/L, sig/operator

#9332 Revert "Revert "start writing tsdb v3""
  pkg/storage/stores/tsdb/index/index.go
Labels: size/XS
