Repository grafana/loki, pull requests merged in 2024-01, with the labels that each got.

#11566 Bloomshipper: Use `model.Time` in `MetaRef` and `BlockRef`
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/chunkcompactor.go
  pkg/bloomcompactor/chunkcompactor_test.go
  pkg/bloomcompactor/mergecompactor.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/L

#11568 Docs: Fix link to `ecs-task.json` file in ECS instructions
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/cloud/ecs/ecs-task.json
Labels: size/XS, type/docs

#11475 Run checks in GitHub actions.
  .github/workflows/checks.yml
Labels: size/S

#11573 Add tenant to tee
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/tee.go
Labels: size/S

#11544 Merge quantile sketches as they arrive
  pkg/logql/downstream.go
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/test_utils.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
Labels: size/L

#11539 feat(caching): Support caching `/series` and `/labels` query results
  CHANGELOG.md
  cmd/loki/loki-local-with-memcached.yaml
  docs/sources/configure/_index.md
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/labels_cache.go
  pkg/querier/queryrange/labels_cache_test.go
  pkg/querier/queryrange/limits/definitions.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/log_result_cache_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/series_cache.go
  pkg/querier/queryrange/series_cache_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/split_by_range_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#11546 [bloom-compactor] remove BloomCompactorMinTableAge check
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/validation/limits.go
Labels: size/S, type/docs

#11585 revert map pooling from #11484
  pkg/logql/log/fmt.go
  pkg/logql/log/labels.go
Labels: size/M

#11579 Docs: Adding example in API docs for querying against Grafana Cloud log tenant
  docs/sources/reference/api.md
Labels: size/XS, type/docs

#11571 Add metrics.go log line when reading from an ingester
  CHANGELOG.md
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/logql/metrics.go
Labels: size/L

#11561 Change ddsketch mapping to improve performance.
  go.mod
  go.sum
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/quantile_over_time_sketch_test.go
  pkg/logql/sketch/quantile.go
  vendor/github.com/DataDog/sketches-go/ddsketch/ddsketch.go
  vendor/github.com/DataDog/sketches-go/ddsketch/mapping/index_mapping.go
  vendor/github.com/DataDog/sketches-go/ddsketch/store/buffered_paginated.go
  vendor/modules.txt
Labels: size/M

#11591 [bloom-compactor] Clean up work to create blooms
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/chunkcompactor.go
  pkg/bloomcompactor/chunkcompactor_test.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/compress_utils.go
Labels: size/L

#11581 Update API docs
  docs/sources/reference/api.md
Labels: size/XS, type/docs, backport release-2.9.x

#11594 Manual backport #11581
  docs/sources/reference/api.md
Labels: type/docs

#11586 Update descriptions
  docs/sources/configure/bp-configure.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/architecture.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/labels/bp-labels.md
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/get-started/quick-start.md
  docs/sources/operations/automatic-stream-sharding.md
  docs/sources/operations/autoscaling_queriers.md
  docs/sources/operations/blocking-queries.md
  docs/sources/operations/caching.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/operations/multi-tenancy.md
  docs/sources/operations/overrides-exporter.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/shuffle-sharding/_index.md
  docs/sources/operations/storage/filesystem.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/tsdb.md
  docs/sources/operations/storage/wal.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/zone-ingesters.md
  docs/sources/query/_index.md
  docs/sources/query/ip.md
  docs/sources/query/logcli.md
  docs/sources/query/metric_queries.md
  docs/sources/query/query_examples.md
  docs/sources/query/template_functions.md
  docs/sources/reference/_index.md
  docs/sources/reference/api.md
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/send-data/docker-driver/configuration.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/fluentd/_index.md
  docs/sources/send-data/k6/log-generation.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/send-data/k6/write-scenario.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/logrotation/_index.md
  docs/sources/send-data/promtail/troubleshooting/_index.md
  docs/sources/setup/install/helm/_index.md
  docs/sources/setup/install/helm/configure-storage/_index.md
  docs/sources/setup/install/helm/install-monolithic/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/install/helm/monitor-and-alert/_index.md
  docs/sources/setup/install/helm/monitor-and-alert/with-grafana-cloud.md
  docs/sources/setup/install/helm/monitor-and-alert/with-local-monitoring.md
  docs/sources/setup/install/istio.md
  docs/sources/setup/install/local.md
  docs/sources/setup/install/tanka.md
  docs/sources/setup/size/_index.md
  docs/sources/storage/_index.md
Labels: size/L, type/docs, backport release-2.9.x

#11595 fix: use syntax.MustClone to avoid panics when cloning expressions
  pkg/logql/rangemapper.go
  pkg/logql/rangemapper_test.go
Labels: size/M

#11601 Ruler: protect overrides map with mutex when accessing tenant configs
  CHANGELOG.md
  pkg/ruler/registry.go
  pkg/ruler/registry_test.go
Labels: size/M, type/bug, backport release-2.8.x, backport release-2.9.x

#11604 compactor" track number of times table compactions were skipped consecutively
  pkg/compactor/compactor.go
  pkg/compactor/compactor_test.go
  pkg/compactor/metrics.go
Labels: size/S

#11600 deletion: delete chunk overlapping multiple tables when processing oldest table that has it indexed
  pkg/compactor/retention/retention.go
  pkg/compactor/retention/retention_test.go
Labels: size/M

#11420 Promtail: show a clearer reason in "disable watchConfig" log message when server is disabled
  CHANGELOG.md
  clients/pkg/promtail/promtail.go
  clients/pkg/promtail/server/server.go
Labels: size/M

#11606 Restore previous behaviour of no trailing newlines in HTTP error response bodies
  CHANGELOG.md
  pkg/querier/http_test.go
  pkg/querier/queryrange/serialize_test.go
  pkg/util/server/error.go
  pkg/util/server/error_test.go
Labels: size/S, type/bug

#11597 Docs: Add a note about Loki labels format
  docs/sources/get-started/labels/_index.md
Labels: size/XS, type/docs

#9831 Promtail: Fix excludepath not evaluated on newly added files
  CHANGELOG.md
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
Labels: size/S, component/promtail

#11612 Ruler: catering for another data race in tenant config
  pkg/ruler/registry.go
Labels: size/XS

#11618 Update paths in cloud config topics
  docs/sources/send-data/promtail/cloud/ec2/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/cloud/eks/_index.md
Labels: size/XS, type/docs

#11609 docs: Fix the link to the docker-driver documention
  clients/cmd/docker-driver/README.md
Labels: size/XS

#11607 labels/line formatter pooling panic fix
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/labels.go
Labels: size/M, type/bug, backport k184

#11621 [area/loki]: Added "swift" type object storage to resolve Loki HELM Chart error
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#11615 Documentation: Update template_functions.md
  docs/sources/query/template_functions.md
Labels: size/XS, type/docs, backport release-2.9.x

#11628 Do not attempt to shard quantile_over_time if feature flag is disabled.
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/M, type/bug, backport k183, backport k184

#11481 operator: adds AWS sts support
  operator/CHANGELOG.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
  operator/internal/manifests/storage/options.go
  operator/internal/manifests/storage/var.go
Labels: size/XL, sig/operator

#11608 Bump build image
  .devcontainer/devcontainer.json
  .drone/drone.yml
  .github/workflows/checks.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  loki-build-image/README.md
  operator/Dockerfile.cross
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-boltdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
  tools/tsdb/bloom-tester/Dockerfile
Labels: size/L, sig/operator, area/helm

#11635 Support sharding of binary operation for non shardable side.
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
  tools/dev/loki-boltdb-storage-s3/config/loki.yaml
Labels: size/L, type/bug, backport k183, backport k184

#11548 Update _index.md
  docs/sources/send-data/fluentbit/_index.md
Labels: size/M, type/docs, backport release-2.9.x

#11643 Publish loki-build-image 0.33.0 for ARM as well.
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#11620 operator: Fixes Ruler RBAC to allow it to send alerts to UWM AM
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/lokistack_controller.go
  operator/internal/manifests/openshift/rbac.go
Labels: size/M, sig/operator

#11651 Skip optimization for DownstreamSampleExpr
  pkg/logql/optimize.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/M, type/bug, backport k183, backport k184

#11642 Validate dev cluster config in CI
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
Labels: size/S

#11654 Cache: correctly check background cache size
  CHANGELOG.md
  pkg/storage/chunk/cache/background.go
Labels: size/XS, type/bug, backport release-2.8.x, backport release-2.9.x

#11624 operator: React to changes in ConfigMap used for storage CA
  operator/CHANGELOG.md
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/internal/handlers/internal/storage/ca_configmap.go
  operator/internal/handlers/internal/storage/ca_configmap_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: size/L, sig/operator

#11657 fix(log results cache): compose empty response based on the request
  CHANGELOG.md
  pkg/querier/queryrange/log_result_cache.go
  pkg/querier/queryrange/log_result_cache_test.go
Labels: size/M, type/bug, backport release-2.8.x, backport release-2.9.x, backport k184

#11535 Query-frontend: customisable query splitting for queries overlapping `query_ingester_within` window
  CHANGELOG.md
  docs/sources/configure/_index.md
  pkg/loki/modules.go
  pkg/querier/queryrange/limits/definitions.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/splitters.go
  pkg/util/config.go
  pkg/util/time.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#11638 Bloom compactor/debug compacting with existing metas
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/compress_utils.go
Labels: size/M

#11626 docs: Update _index.md addressing #11575
  docs/sources/send-data/fluentbit/_index.md
Labels: size/M, type/docs, backport release-2.9.x

#11663 Fix backend target in docker compose
  production/docker/config/loki.yaml
  production/docker/config/prometheus.yaml
  production/docker/docker-compose.yaml
Labels: size/M

#11587 fix: align semantics of metric and log query label extraction
  CHANGELOG.md
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_hints_test.go
Labels: size/M, type/bug, backport release-2.9.x, backport k184

#11645 Add e2e tests for bloom filtering
  integration/client/client.go
  integration/cluster/cluster.go
  integration/loki_micro_services_test.go
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/worker.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
  pkg/storage/stores/shipper/bloomshipper/store.go
  pkg/storage/stores/shipper/indexshipper/indexgateway/gateway.go
Labels: size/XL

#11633 feat: Add tracing integration to profiling.
  CHANGELOG.md
  cmd/loki/main.go
  pkg/tracing/config.go
  vendor/github.com/grafana/dskit/spanprofiler/README.md
  vendor/github.com/grafana/dskit/spanprofiler/spanprofiler.go
  vendor/github.com/grafana/dskit/spanprofiler/tracer.go
  vendor/modules.txt
Labels: size/S

#11637 mixins: add route to write Distributor Latency dashboard
  CHANGELOG.md
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/S

#11671 operator: updates mixins to fix structured metadata dashboards
  operator/CHANGELOG.md
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/jsonnet/config.libsonnet
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#11648 helm: added missing namespace to query-scheduler-discovery service
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/query-scheduler-discovery.yaml
Labels: size/XS, area/helm

#11649 [bloom-compactor] downloading chunks in batches
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/chunkcompactor.go
  pkg/bloomcompactor/chunkcompactor_test.go
  pkg/bloomcompactor/chunksbatchesiterator.go
  pkg/bloomcompactor/chunksbatchesiterator_test.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/mergecompactor.go
  pkg/bloomcompactor/sharding_test.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#11670 Update query_examples.md
  docs/sources/query/query_examples.md
Labels: size/XS, type/docs

#11592 operator: Refactor CreateOrUpdateLokiStack handler
  operator/internal/handlers/internal/gateway/base_domain.go
  operator/internal/handlers/internal/gateway/gateway.go
  operator/internal/handlers/internal/gateway/gateway_test.go
  operator/internal/handlers/internal/gateway/modes.go
  operator/internal/handlers/internal/gateway/modes_test.go
  operator/internal/handlers/internal/gateway/tenant_configsecret.go
  operator/internal/handlers/internal/gateway/tenant_configsecret_test.go
  operator/internal/handlers/internal/gateway/tenant_secrets.go
  operator/internal/handlers/internal/gateway/tenant_secrets_test.go
  operator/internal/handlers/internal/rules/cleanup.go
  operator/internal/handlers/internal/rules/cleanup_test.go
  operator/internal/handlers/internal/rules/config.go
  operator/internal/handlers/internal/rules/rules.go
  operator/internal/handlers/internal/rules/rules_test.go
  operator/internal/handlers/internal/storage/ca_configmap.go
  operator/internal/handlers/internal/storage/ca_configmap_test.go
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/handlers/internal/storage/storage.go
  operator/internal/handlers/internal/storage/storage_test.go
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: size/XXL, sig/operator

#11511 chore(promtail): Use minimal init config in rpm/deb packaging.
  CHANGELOG.md
  tools/packaging/nfpm.jsonnet
  tools/packaging/promtail-minimal-config.yaml
  tools/packaging/verify-deb-install.sh
  tools/packaging/verify-rpm-install.sh
Labels: size/M, product-approved, backport release-2.9.x

#11682 feat(metadata cache): adds max_metadata_cache_freshness
  CHANGELOG.md
  docs/sources/configure/_index.md
  pkg/querier/queryrange/labels_cache.go
  pkg/querier/queryrange/labels_cache_test.go
  pkg/querier/queryrange/limits/definitions.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/series_cache.go
  pkg/querier/queryrange/series_cache_test.go
  pkg/validation/limits.go
Labels: size/L, type/docs, backport k185

#11666 Update MAINTAINERS.md
  MAINTAINERS.md
Labels: size/XS

#11685 fix: remove shared state noParserHints to avoid data race
  pkg/logql/log/labels.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_test.go
Labels: size/L

#11677 Bloom gateway: Add metrics for store operations and chunk ref counts
  integration/loki_micro_services_test.go
  integration/parse_metrics.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/worker.go
Labels: size/L

#11241 Add capability to disable specific alert rules Loki
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/src/alerts.yaml.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#11701 Loki: increase the limit for query length from 5k to 128k
  pkg/logql/syntax/parser.go
Labels: size/XS

#11705 chore(build): fix flaky validate examples step
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/XS

#11678 operator: Replace deprecated ctrl-runtime cfg with custom package
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/config/v1/zz_generated.deepcopy.go
  operator/config/docs/config.json
  operator/docs/operator/feature-gates.md
  operator/go.mod
  operator/internal/config/loader.go
  operator/internal/config/options.go
  operator/main.go
Labels: size/L, sig/operator

#11692 Fluentbit: Wrap errors without throwing away the original error message
  clients/cmd/fluent-bit/config.go
Labels: size/S

#11703 [TSDB][bug] retain previously rotated tsdb heads for one cycle to serve queries
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
Labels: size/L

#11712 fixes seek in bloom blocks to correctly return the first fp >= target_fp
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_querier.go
Labels: size/M

#11563 Fix duplicate logs from docker containers
  CHANGELOG.md
  clients/pkg/promtail/targets/docker/target.go
  clients/pkg/promtail/targets/docker/target_test.go
  clients/pkg/promtail/targets/docker/testdata/flog_after_restart.log
Labels: size/M

#11723 Fix flaky block downloader test
  pkg/storage/stores/shipper/bloomshipper/block_downloader_test.go
Labels: size/S

#11724 Remove unnecessary wrapper around bloom shipper
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/worker.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/store.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
Labels: size/L

#11733 Fix flaky `TestMultiTenantQuery` integration test
  integration/multi_tenant_queries_test.go
Labels: size/S

#11716 jsonnet: fix unicode quotes in jsonnet to avoid tools failing to parse it properly
  production/ksonnet/loki/gateway.libsonnet
Labels: size/XS

#11499 Add query-frontend option to select request headers in query logs
  CHANGELOG.md
  docs/sources/configure/_index.md
  pkg/lokifrontend/frontend/transport/handler.go
  pkg/lokifrontend/frontend/transport/handler_test.go
Labels: size/M, type/docs

#11718 operator: Upgrade k8s.io, sigs.k8s.io and openshift deps
  operator/CHANGELOG.md
  operator/apis/loki/go.mod
  operator/apis/loki/go.sum
  operator/apis/loki/v1beta1/rulerconfig_types_test.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/go.mod
  operator/go.sum
  operator/internal/config/options.go
  operator/internal/handlers/dashboards_create.go
  operator/internal/handlers/lokistack_check_cert_expiry_test.go
  operator/internal/handlers/lokistack_create_or_update_test.go
  operator/internal/handlers/lokistack_rotate_certs_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/config_test.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/mutate_test.go
  operator/internal/manifests/openshift/configure.go
  operator/internal/manifests/openshift/route.go
  operator/internal/manifests/openshift/serviceaccount.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/securitycontext.go
  operator/internal/manifests/serviceaccount.go
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
  operator/internal/manifests/storage/var.go
  operator/internal/manifests/var.go
  operator/internal/validation/rulerconfig_test.go
  operator/main.go
Labels: size/XXL, sig/operator

#11513 operator: Add a custom metric that collects Lokistacks requiring a schema upgrade
  operator/CHANGELOG.md
  operator/docs/lokistack/sop.md
  operator/internal/handlers/lokistack_create_or_update.go
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
  operator/internal/metrics/metrics.go
Labels: size/M, sig/operator

#11725 [blooms][testware] Adds testing for the merge builder, sourcing multiple blocks
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/merge_test.go
Labels: size/L

#11722 gateway: fix crash on ipv4 only systems
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#11739 Remove unnecessary wrapper around v1.Request
  pkg/bloomgateway/multiplexing.go
Labels: size/S

#11741 Fix jsonnet config for bloom gateway blocks cache
  production/ksonnet/loki/bloom-gateway.libsonnet
Labels: size/XS

#11726 Fix flaky bloom filter e2e test
  integration/loki_micro_services_test.go
Labels: size/S

#11143 otel: add support for per tenant configuration for mapping otlp data to loki format
  CHANGELOG.md
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  docs/sources/configure/_index.md
  pkg/distributor/http.go
  pkg/distributor/limits.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_config.go
  pkg/loghttp/push/otlp_config_test.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/XL, type/docs

#11707 Release loki v2.8.8
  CHANGELOG.md
  docs/sources/release-notes/v2-8.md
Labels: size/M, type/docs

#11758 Release 2.9.4
  CHANGELOG.md
  docs/sources/release-notes/v2-9.md
Labels: size/M, type/docs

#11761 Update patch versions in docs and YAML files to v2.8.8
  docs/sources/clients/docker-driver/_index.md
  docs/sources/installation/docker.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/release_update_tags.sh
Labels: size/M, type/docs

#11760 Update patch version in docs and yaml files for v2.9.4
  docs/sources/get-started/deployment-modes.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/send-data/docker-driver/_index.md
  docs/sources/send-data/promtail/installation.md
  docs/sources/setup/install/docker.md
  docs/sources/setup/install/local.md
  examples/getting-started/docker-compose.yaml
  production/docker-compose.yaml
  production/docker/docker-compose.yaml
  production/ksonnet/loki-canary/config.libsonnet
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki-simple-scalable/images.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/promtail/config.libsonnet
  tools/release_update_tags.sh
Labels: size/M, type/docs

#11735 [Fix] OR statements not being evaluated as part of nested line filters
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/parser_test.go
Labels: size/M

#11755 [Blooms] Specs out BloomGenerator
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/v2spec.go
  pkg/bloomcompactor/v2spec_test.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/dedupe_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/merge_test.go
  pkg/storage/bloom/v1/test_util.go
Labels: size/L

#11771 reset the basemap when the labelsbuilder is reset
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
Labels: size/M

#11770 Bloom Gateway: Fix panic in chunk removal after receiving query results
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
Labels: size/M

#11750 Extend `TestPartitionFingerprintRange` test case
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
Labels: size/M

#11776 fix(background cache): increment queue size exactly once
  CHANGELOG.md
  pkg/storage/chunk/cache/background.go
  pkg/storage/chunk/cache/background_extra_test.go
  pkg/storage/chunk/cache/background_test.go
Labels: size/S, type/bug, backport release-2.8.x, backport release-2.9.x, backport k186

#11747 Fix the ObjectExists method on FSObjectClient
  pkg/storage/chunk/client/local/fs_object_client.go
  pkg/storage/chunk/client/local/fs_object_client_test.go
Labels: size/XS

#11784 Bloom Shipper: Fix bug in block boundary check
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/worker.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
Labels: size/L

#11787 [Blooms] Fix panic when accessing page outside of page bounds
  pkg/storage/bloom/v1/index_querier.go
  pkg/storage/bloom/v1/index_test.go
Labels: size/S

#11333 feat: add release please config
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  Makefile
  pkg/querier/queryrange/limits_test.go
Labels: size/M

#11788 accidentally merged this from ##11333
  pkg/querier/queryrange/limits_test.go
Labels: size/XS

#11782 Note the helm chart and docs do not agree
  docs/sources/get-started/deployment-modes.md
Labels: size/XS, type/docs

#11778 operator: Update Loki operand to v2.9.4
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#11785 Add timing metrics for compaction
  .drone/drone.jsonnet
  .drone/drone.yml
  integration/loki_micro_services_test.go
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/metrics.go
Labels: size/L

#11799 Add test-target-branch stage to drone again
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: size/S

#11777 <Promtail>: Fix flaky docker test
  clients/pkg/promtail/targets/docker/target_test.go
Labels: size/M

#11793 [Blooms] Refactoring bloom compactor to isolate state from logic
  integration/loki_micro_services_test.go
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/mergecompactor.go
  pkg/bloomcompactor/v2spec.go
  pkg/bloomcompactor/v2spec_test.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/metrics.go
  pkg/storage/bloom/v1/tokenizer_test.go
  pkg/storage/bloom/v1/util.go
Labels: size/L

#11524 operator: Add OpenShift CloudCredentials support for AWS STS
  operator/CHANGELOG.md
  operator/apis/config/v1/projectconfig_types.go
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/rbac/role.yaml
  operator/controllers/loki/credentialsrequests_controller.go
  operator/controllers/loki/credentialsrequests_controller_test.go
  operator/controllers/loki/internal/lokistack/credentialsrequest_discovery.go
  operator/controllers/loki/internal/lokistack/credentialsrequest_discovery_test.go
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/docs/operator/api.md
  operator/docs/operator/feature-gates.md
  operator/go.mod
  operator/go.sum
  operator/hack/deploy-aws-storage-secret.sh
  operator/internal/handlers/credentialsrequest_create.go
  operator/internal/handlers/credentialsrequest_create_test.go
  operator/internal/handlers/credentialsrequest_delete.go
  operator/internal/handlers/credentialsrequest_delete_test.go
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/handlers/internal/storage/storage.go
  operator/internal/handlers/internal/storage/storage_test.go
  operator/internal/manifests/compactor.go
  operator/internal/manifests/distributor.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/indexgateway.go
  operator/internal/manifests/ingester.go
  operator/internal/manifests/openshift/credentialsrequest.go
  operator/internal/manifests/openshift/credentialsrequest_test.go
  operator/internal/manifests/openshift/options.go
  operator/internal/manifests/openshift/var.go
  operator/internal/manifests/querier.go
  operator/internal/manifests/query-frontend.go
  operator/internal/manifests/ruler.go
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
  operator/internal/manifests/storage/options.go
  operator/internal/manifests/storage/var.go
  operator/internal/manifests/var.go
  operator/main.go
Labels: size/XXL, sig/operator

#11803 Docs: Fixed docker_sd_configs top level key name
  docs/sources/send-data/promtail/configuration.md
Labels: size/XS, type/docs

#11789 feat: add release please config (#11333)
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  Makefile
Labels: size/L

#11807 fix: action repo reference
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/XS

#11576 area/grafana-agent-operator: Bumped grafana-agent-operator version
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.lock
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/S, area/helm

#11800 Update Helm chart docs and yaml
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#11809 (chore) Bloom Gateway: Avoid unnecessary merging of tasks prior to passing them to the FusedQuerier
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/worker.go
Labels: size/L

#11792 Bloom Gateway: Make tasks cancelable
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/worker.go
Labels: size/XL

#11812 Bloom Gateway: Extract processing logic from bloom worker into separate struct
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/util_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
Labels: size/XL

#11797 DequeueMany fix
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/worker.go
  pkg/queue/queue.go
  pkg/queue/queue_test.go
Labels: size/L

#11810 [Bloom] Keyspace aware bloom creation, library utilities
  pkg/bloomcompactor/v2_meta.go
  pkg/bloomcompactor/v2controller.go
  pkg/bloomcompactor/v2controller_test.go
  pkg/bloomcompactor/v2spec.go
  pkg/storage/bloom/v1/bounds.go
  pkg/storage/bloom/v1/bounds_test.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier.go
Labels: size/XL

#11798 docs: fix runtime_config example
  docs/sources/configure/_index.md
  docs/sources/configure/index.template
Labels: size/XS, type/docs

#11824 operator: Improve messages for errors in storage secret
  operator/CHANGELOG.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/handlers/internal/storage/storage_test.go
Labels: size/L, sig/operator

#11827 Change distributor latency to have a regular expression equals
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/S

#11690 Adding annotations support for statefulset-read.yaml
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/read/statefulset-read.yaml
Labels: size/S, area/helm

#11828 Bloom shipper: Restructure bloom store
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
  pkg/storage/stores/shipper/bloomshipper/fetcher_test.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/XXL

#11837 otlp: fix otlp service.name check when no resource attributes are defined
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
Labels: size/M

#11795 docs: fix row_shards doc
  docs/sources/configure/_index.md
  pkg/storage/config/schema_config.go
Labels: size/XS, type/docs

#11831 Bloom/controller wiring
  pkg/bloomcompactor/v2_meta.go
  pkg/bloomcompactor/v2controller.go
  pkg/bloomcompactor/v2controller_test.go
  pkg/bloomcompactor/v2spec.go
  pkg/bloomgateway/multiplexing.go
  pkg/storage/bloom/v1/bounds.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/dedupe.go
  pkg/storage/bloom/v1/dedupe_test.go
  pkg/storage/bloom/v1/util.go
Labels: size/L

#11839 (chore) Bloom shipper: Replace `Keyspace` struct with `v1.FingerprintBounds`
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/util_test.go
  pkg/bloomgateway/worker.go
  pkg/storage/bloom/v1/bounds.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/fetcher_test.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
Labels: size/L

#11843 Structured metadata docs update
  docs/sources/get-started/labels/structured-metadata.md
Labels: size/M, type/docs, backport release-2.9.x

#11845 Manual backport for #11843
  docs/sources/get-started/labels/structured-metadata.md
Labels: size/M, type/docs
