Repository grafana/loki, pull requests merged in 2024-06, with the labels that each got.

#13066 fix(operator): Use a minimum value for replay memory ceiling
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/options.go
Labels: size/M, sig/operator

#13105 chore(operator): prepare community release v0.6.1
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
Labels: size/L, sig/operator

#13094 docs: Fix link in examples
  examples/README.md
Labels: size/XS

#11982 feat: API: Expose optional label matcher for label names API
  docs/sources/reference/loki-http-api.md
  pkg/indexgateway/gateway.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/labels_cache.go
  pkg/querier/queryrange/labels_cache_test.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/index/index.go
  pkg/storage/stores/series/series_index_gateway_store.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client.go
  pkg/storage/util_test.go
Labels: size/L, type/docs

#13104 feat(canary): Add test to check query results with and without cache.
  clients/cmd/promtail/promtail-local-config.yaml
  cmd/loki-canary/main.go
  pkg/canary/comparator/comparator.go
  pkg/canary/comparator/comparator_test.go
  pkg/canary/reader/reader.go
Labels: size/L

#13074 refactor(blooms): Build new metas and blocks
  pkg/bloombuild/builder/batch.go
  pkg/bloombuild/builder/batch_test.go
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/builder/config.go
  pkg/bloombuild/builder/metrics.go
  pkg/bloombuild/builder/spec.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/common/tsdb.go
  pkg/bloombuild/common/tsdb_test.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/protos/compat.go
  pkg/bloombuild/protos/types.pb.go
  pkg/bloombuild/protos/types.proto
  pkg/loki/modules.go
Labels: size/XXL

#13091 feat: Support negative numbers in LogQL
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser_test.go
Labels: size/M

#13117 fix: Do not filter out chunks for store when `From==Through` and `From==start`
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/composite_store_test.go
Labels: size/S, type/bug, backport k205

#13120 chore(operator): update the release-please config for next release
  operator/release-please-config.json
Labels: size/XS, sig/operator

#13122 fix(operator): Improve API documentation for schema version
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/docs/operator/api.md
Labels: size/L, sig/operator

#13128 feat(detected-labels): include labels with cardinality > 1
  pkg/querier/queryrange/roundtrip.go
Labels: size/XS

#12810 feat(promtail): Support of RFC3164 aka BSD Syslog
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/syslog/syslogparser/syslogparser.go
  clients/pkg/promtail/targets/syslog/syslogparser/syslogparser_test.go
  clients/pkg/promtail/targets/syslog/syslogtarget.go
  clients/pkg/promtail/targets/syslog/syslogtarget_test.go
  clients/pkg/promtail/targets/syslog/transport.go
  docs/sources/send-data/promtail/configuration.md
  go.mod
  go.sum
  vendor/github.com/leodido/go-syslog/v4/.gitignore
  vendor/github.com/leodido/go-syslog/v4/.goreleaser.yml
  vendor/github.com/leodido/go-syslog/v4/LICENSE
  vendor/github.com/leodido/go-syslog/v4/README.md
  vendor/github.com/leodido/go-syslog/v4/common/common.rl
  vendor/github.com/leodido/go-syslog/v4/common/facility.go
  vendor/github.com/leodido/go-syslog/v4/common/functions.go
  vendor/github.com/leodido/go-syslog/v4/common/severity.go
  vendor/github.com/leodido/go-syslog/v4/makefile
  vendor/github.com/leodido/go-syslog/v4/nontransparent/parser.go
  vendor/github.com/leodido/go-syslog/v4/nontransparent/parser.go.rl
  vendor/github.com/leodido/go-syslog/v4/nontransparent/trailer_type.go
  vendor/github.com/leodido/go-syslog/v4/octetcounting/parser.go
  vendor/github.com/leodido/go-syslog/v4/octetcounting/scanner.go
  vendor/github.com/leodido/go-syslog/v4/octetcounting/tokens.go
  vendor/github.com/leodido/go-syslog/v4/options.go
  vendor/github.com/leodido/go-syslog/v4/rfc3164/machine.go
  vendor/github.com/leodido/go-syslog/v4/rfc3164/machine.go.rl
  vendor/github.com/leodido/go-syslog/v4/rfc3164/options.go
  vendor/github.com/leodido/go-syslog/v4/rfc3164/parser.go
  vendor/github.com/leodido/go-syslog/v4/rfc3164/syslog_message.go
  vendor/github.com/leodido/go-syslog/v4/rfc3164/year.go
  vendor/github.com/leodido/go-syslog/v4/rfc5424/builder.go
  vendor/github.com/leodido/go-syslog/v4/rfc5424/builder.go.rl
  vendor/github.com/leodido/go-syslog/v4/rfc5424/machine.go
  vendor/github.com/leodido/go-syslog/v4/rfc5424/machine.go.rl
  vendor/github.com/leodido/go-syslog/v4/rfc5424/options.go
  vendor/github.com/leodido/go-syslog/v4/rfc5424/parser.go
  vendor/github.com/leodido/go-syslog/v4/rfc5424/syslog_message.go
  vendor/github.com/leodido/go-syslog/v4/syslog.go
  vendor/modules.txt
Labels: size/L, type/docs

#13022 fix(mixins): Align loki-writes mixins with loki-reads
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/XL

#13130 fix(blooms): bloomshipper no longer returns empty metas on fetch
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
Labels: size/S

#13137 feat: Tune Patterns query drain instance
  pkg/pattern/drain/drain.go
  pkg/pattern/ingester_querier.go
  pkg/pattern/ingester_querier_test.go
  pkg/pattern/metrics.go
Labels: size/M

#13139 refactor(blooms): Limit task retries in bloom planner
  docs/sources/shared/configuration.md
  pkg/bloombuild/planner/config.go
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/task.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#13083 feat: Updated SS and microservices deployment docs
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/XL, type/docs, backport release-3.0.x

#13146 fix: Add copyString function to symbolizer to avoid retaining memory
  pkg/chunkenc/symbols.go
Labels: size/XS

#13039 perf: Introduce fixed size memory pool for bloom querier
  pkg/bloombuild/builder/spec_test.go
  pkg/bloomcompactor/spec_test.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/util_test.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_querier.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/stores/shipper/bloomshipper/cache.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/util/flagext/csv.go
  pkg/util/flagext/csv_test.go
  pkg/util/mempool/bucket.go
  pkg/util/mempool/metrics.go
  pkg/util/mempool/pool.go
  pkg/util/mempool/pool_test.go
  tools/bloom/inspector/main.go
Labels: size/XL

#13162 fix(regression): reverts grafana/loki#13039 to prevent use-after-free corruptions
  pkg/bloombuild/builder/spec_test.go
  pkg/bloomcompactor/spec_test.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/util_test.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_querier.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/stores/shipper/bloomshipper/cache.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/util/flagext/csv.go
  pkg/util/flagext/csv_test.go
  pkg/util/mempool/bucket.go
  pkg/util/mempool/metrics.go
  pkg/util/mempool/pool.go
  pkg/util/mempool/pool_test.go
  tools/bloom/inspector/main.go
Labels: size/XL

#13127 docs: Loki landing page
  docs/sources/_index.md
Labels: size/M, type/docs, backport release-3.0.x

#13153 refactor(blooms): Delete outdated metas
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/task.go
  pkg/bloombuild/planner/versioned_range.go
  pkg/bloombuild/planner/versioned_range_test.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/XXL

#13167 fix: Fix bloom deleter PR after merge
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/versioned_range.go
  pkg/bloombuild/planner/versioned_range_test.go
Labels: size/M

#13169 fix(orFilters): fix multiple or filters would get wrong filtertype
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/parser_test.go
Labels: size/M

#13161 fix: add retry middleware to the "limited" query roundtripper
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#13134 fix: properly return http status codes from ingester to querier for RPC function calls
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/util/server/error.go
Labels: size/M

#13171 fix: Correctly encode step when translating proto to http internally
  pkg/logproto/compat.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
Labels: size/L

#13173 fix(otel): Map 500 errors to 503
  pkg/distributor/http.go
  pkg/distributor/http_test.go
Labels: size/M

#13140 feat: Add backoff to flush op
  docs/sources/shared/configuration.md
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_test.go
Labels: size/L, type/docs

#13165 chore(blooms): Some boom gateway cleanups
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/util.go
Labels: size/L

#13174 fix: errors reported by the race detector
  pkg/analytics/reporter.go
  pkg/analytics/reporter_test.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/task.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/util_test.go
  pkg/chunkenc/memchunk_test.go
Labels: size/L

#13114 fix: Fix duplicate enqueue item problem in bloom download queue when do sync download
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
  pkg/storage/stores/shipper/bloomshipper/fetcher_test.go
Labels: size/M

#13188 docs: Update Get-Started Labels
  docs/sources/get-started/labels/_index.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#13176 feat: Update Loki monitoring docs to new meta monitoring helm
  docs/sources/setup/install/helm/monitor-and-alert/with-grafana-cloud.md
  docs/sources/setup/install/helm/monitor-and-alert/with-local-monitoring.md
Labels: size/XL, type/docs, backport release-3.0.x

#13182 fix(operator): add alertmanager client config to ruler template
  operator/apis/loki/v1/rulerconfig_types.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/XL, sig/operator

#13213 docs: fix query example for labels and values
  docs/sources/reference/loki-http-api.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#13212 docs: remove redundant backticks from http api documentation
  docs/sources/reference/loki-http-api.md
Labels: size/XS, type/docs, backport release-3.0.x

#13218 fix: add detected_level info when the info word appears on log message
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/S

#13219 docs(helm): Fix broken `Values.yaml` link in the examples docs
  production/helm/loki/docs/examples/enterprise/README.md
  production/helm/loki/docs/examples/oss/README.md
Labels: size/XS, area/helm

#13223 feat: Optimize log parsing performance by using unsafe package
  pkg/distributor/distributor.go
Labels: size/M

#13221 fix: Init internal server log along with loki's server instance
  cmd/loki/main.go
Labels: size/XS

#13227 chore: Update go.etcd.io/bbolt to v1.3.8
  go.mod
  go.sum
  pkg/storage/stores/shipper/indexshipper/boltdb/table.go
  vendor/go.etcd.io/bbolt/.gitignore
  vendor/go.etcd.io/bbolt/.travis.yml
  vendor/go.etcd.io/bbolt/Makefile
  vendor/go.etcd.io/bbolt/README.md
  vendor/go.etcd.io/bbolt/bolt_arm64.go
  vendor/go.etcd.io/bbolt/bolt_mips64x.go
  vendor/go.etcd.io/bbolt/bolt_mipsx.go
  vendor/go.etcd.io/bbolt/bolt_openbsd.go
  vendor/go.etcd.io/bbolt/bolt_ppc.go
  vendor/go.etcd.io/bbolt/bolt_ppc64.go
  vendor/go.etcd.io/bbolt/bolt_ppc64le.go
  vendor/go.etcd.io/bbolt/bolt_riscv64.go
  vendor/go.etcd.io/bbolt/bolt_s390x.go
  vendor/go.etcd.io/bbolt/bolt_unix.go
  vendor/go.etcd.io/bbolt/bolt_unix_aix.go
  vendor/go.etcd.io/bbolt/bolt_windows.go
  vendor/go.etcd.io/bbolt/boltsync_unix.go
  vendor/go.etcd.io/bbolt/bucket.go
  vendor/go.etcd.io/bbolt/compact.go
  vendor/go.etcd.io/bbolt/cursor.go
  vendor/go.etcd.io/bbolt/db.go
  vendor/go.etcd.io/bbolt/doc.go
  vendor/go.etcd.io/bbolt/errors.go
  vendor/go.etcd.io/bbolt/freelist.go
  vendor/go.etcd.io/bbolt/mlock_unix.go
  vendor/go.etcd.io/bbolt/mlock_windows.go
  vendor/go.etcd.io/bbolt/node.go
  vendor/go.etcd.io/bbolt/page.go
  vendor/go.etcd.io/bbolt/tx.go
  vendor/modules.txt
Labels: size/S

#13228 chore: Checkin missing etcd.io/bbolt vendor files
  vendor/go.etcd.io/bbolt/bolt_loong64.go
  vendor/go.etcd.io/bbolt/tx_check.go
Labels: size/XS

#13240 ci: fix accidentally skipped package failures
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/release.yml
  Makefile
Labels: size/S

#13235 docs: Update OTLP endpoint
  docs/sources/reference/loki-http-api.md
  docs/sources/send-data/otel/_index.md
Labels: size/S, type/docs

#13207 docs: Update timestamp topic
  docs/sources/send-data/promtail/stages/timestamp.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#13239 fix: Redo ingester profile tagging
  pkg/ingester/ingester.go
Labels: size/L

#13226 feat: Added getting started video for ingesting Otel logs
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#13248 fix: separates directory creation from permission checks
  pkg/storage/chunk/client/util/util.go
  pkg/storage/chunk/client/util/util_test.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/M

#13231 fix: update fixed limit once streams ownership re-checked
  pkg/ingester/recalculate_owned_streams.go
  pkg/ingester/recalculate_owned_streams_test.go
Labels: size/XS

#13107 fix(helm): fix extraObjects
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/extra-manifests.yaml
Labels: size/XS, area/helm

#13232 feat: improve Owned Streams feature observability
  pkg/ingester/owned_streams.go
Labels: size/S

#13260 fix(mixin): various latency panels in operational dashboard should have ms unit type instead of seconds
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/M

#13263 chore: Change default version to Alertmanager APIv2
  docs/sources/shared/configuration.md
  pkg/ruler/base/ruler.go
Labels: size/XS, type/docs

#13020 feat: collect and serve pre-aggregated bytes and counts
  cmd/loki/loki-local-config.yaml
  docs/sources/shared/configuration.md
  go.mod
  pkg/canary/comparator/comparator_test.go
  pkg/iter/sample_iterator.go
  pkg/loghttp/samples.go
  pkg/loghttp/samples_test.go
  pkg/logproto/compat.go
  pkg/logproto/extensions.go
  pkg/logproto/extensions_test.go
  pkg/logproto/pattern.pb.go
  pkg/logproto/pattern.proto
  pkg/logql/evaluator.go
  pkg/logql/range_vector.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/pattern/chunk/util.go
  pkg/pattern/drain/chunk.go
  pkg/pattern/drain/chunk_test.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_querier.go
  pkg/pattern/ingester_querier_test.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/instance_test.go
  pkg/pattern/iter/batch.go
  pkg/pattern/iter/batch_test.go
  pkg/pattern/iter/merge_pattern.go
  pkg/pattern/iter/merge_pattern_test.go
  pkg/pattern/iter/merge_sample.go
  pkg/pattern/iter/merge_sample_test.go
  pkg/pattern/iter/query_client.go
  pkg/pattern/metric/chunk.go
  pkg/pattern/metric/chunk_test.go
  pkg/pattern/metric/config.go
  pkg/pattern/metric/evaluator.go
  pkg/pattern/metric/evaluator_test.go
  pkg/pattern/metric/metrics.go
  pkg/pattern/ring_client.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
  pkg/pattern/tee.go
  pkg/querier/handler.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
Labels: size/XXL, type/docs

#13078 refactor(blooms): Add metrics for per-tenant tasks progress to planner
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
Labels: size/M

#13172 perf: Re-introduce fixed size memory pool for bloom querier
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/controller.go
  pkg/bloomcompactor/retention.go
  pkg/bloomcompactor/retention_test.go
  pkg/bloomcompactor/spec_test.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/resolver.go
  pkg/bloomgateway/util_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_querier.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  pkg/storage/stores/shipper/bloomshipper/cache.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/store.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
  pkg/util/flagext/csv.go
  pkg/util/flagext/csv_test.go
  pkg/util/mempool/allocator.go
  pkg/util/mempool/bucket.go
  pkg/util/mempool/metrics.go
  pkg/util/mempool/pool.go
  pkg/util/mempool/pool_test.go
  tools/bloom/inspector/main.go
Labels: size/XL

#13258 docs: fix typo causing broken link
  docs/sources/get-started/labels/bp-labels.md
Labels: size/XS, type/docs

#13264 chore: Update upgrade docs for -ruler.alertmanager-use-v2
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#13230 docs: Fix typos and style
  docs/sources/setup/install/local.md
Labels: size/L, type/docs, backport release-2.9.x, backport release-3.0.x

#13270 fix: remove tenant label tagging from profiles to reduce cardinality
  pkg/ingester/ingester.go
Labels: size/S

#13267 feat(wal): Add sizing information to writer and reader.
  pkg/pattern/iter/batch_test.go
  pkg/storage/wal/chunks/chunks_test.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
  pkg/storage/wal/testdata/generator.go
Labels: size/L

#13202 chore: download then extract in separate steps
  pkg/storage/stores/shipper/indexshipper/downloads/util.go
  pkg/storage/stores/shipper/indexshipper/storage/util.go
Labels: size/M

#9994 feat(ingester): Smooth out chunk flush operations
  pkg/ingester/flush.go
  pkg/ingester/ingester.go
Labels: size/M

#13194 chore(index-gateway): Improve instrumentation of index download/sync
  pkg/storage/stores/shipper/indexshipper/downloads/index_set.go
  pkg/storage/stores/shipper/indexshipper/downloads/metrics.go
  pkg/storage/stores/shipper/indexshipper/downloads/table.go
  pkg/storage/stores/shipper/indexshipper/downloads/table_manager.go
Labels: size/L

#13278 feat: Add settings for cpu/mutex/block profiling options
  cmd/loki/main.go
  docs/sources/shared/configuration.md
  pkg/loki/loki.go
  pkg/loki/profiling_config.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/M, type/docs

#13255 refactor: Remove unnecessary spanlogger usage
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/logqlmodel/stats/context.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/queryrange/stats.go
  pkg/storage/async_store.go
  pkg/storage/chunk/cache/resultscache/cache.go
  pkg/storage/chunk/client/util/parallel_chunk_fetch.go
  pkg/storage/stores/composite_store_entry.go
  pkg/storage/stores/series/series_index_store.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/indexshipper/storage/cached_client.go
Labels: size/L

#13283 fix(blooms): improves mempool metrics
  pkg/util/mempool/metrics.go
  pkg/util/mempool/pool.go
Labels: size/S

#13282 perf(blooms): mempool no longer zeroes out buffers unnecessarily
  pkg/util/mempool/pool.go
  pkg/util/mempool/pool_test.go
Labels: size/M

#13285 fix(blooms): ignores bloom filtering errors in bounded shard query planning
  pkg/indexgateway/gateway.go
Labels: size/XS

#13293 perf(mempool): Replace `sync.Mutex` with `sync.Once`
  pkg/util/mempool/pool.go
  pkg/util/mempool/pool_test.go
Labels: size/XS

#13294 feat(helm): Make gateway container port configurable.
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/gateway/deployment-gateway-nginx.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#13272 feat(wal): Benchmark and improve WAL writes using Reset.
  pkg/storage/wal/index/buffer.go
  pkg/storage/wal/index/index.go
  pkg/storage/wal/index/index_test.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/L

#13296 refactor(blooms): Bloom building integration test
  integration/bloom_building_test.go
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/loki/modules.go
Labels: size/L

#13288 perf(blooms): always return bloom pages to allocator
  pkg/bloomgateway/processor.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_querier.go
  pkg/storage/stores/shipper/bloomshipper/cache.go
Labels: size/M

#13303 fix(blooms): Fix panic in bloom gateway
  pkg/bloomgateway/processor.go
Labels: size/XS

#13302 docs: Replace instances of k6.io/docs with grafana.com/docs/k6
  docs/sources/send-data/k6/_index.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/send-data/k6/write-scenario.md
Labels: size/S, type/docs, backport release-2.9.x, backport release-3.0.x

#13309 docs: Update configuration.md
  docs/sources/send-data/docker-driver/configuration.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#13298 chore(mempool): Wait for buffer instead of returning error
  pkg/util/mempool/metrics.go
  pkg/util/mempool/pool.go
  pkg/util/mempool/pool_test.go
Labels: size/M

#13318 docs: Clarify Unit Requirement for Duration Comparison in Label Values
  docs/sources/query/log_queries/_index.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#13308 refactor(blooms): Do not use sleeps on integration test
  integration/bloom_building_test.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
Labels: size/M

#13306 refactor(blooms): Implement retry in builder
  docs/sources/shared/configuration.md
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/builder/config.go
Labels: size/L, type/docs

#13326 fix: Lint issues after merge to main
  integration/bloom_building_test.go
Labels: size/XS

#13084 feat: Collect duplicate log line metrics
  docs/sources/shared/configuration.md
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/util_test.go
  pkg/compactor/retention/retention_test.go
  pkg/distributor/writefailures/manager.go
  pkg/ingester/chunk_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/metrics.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/loki/runtime_config_test.go
  pkg/runtime/config.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/client/testutils/testutils.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/hack/main.go
  pkg/storage/store_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util.go
  pkg/storage/util_test.go
Labels: size/L, type/docs

#13315 feat: ingester-RF1 Push endpoint
  cmd/loki/loki-local-config.yaml
  docs/sources/shared/configuration.md
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/instance.go
  pkg/ingester-rf1/limiter.go
  pkg/ingester-rf1/mapper.go
  pkg/ingester-rf1/metrics.go
  pkg/ingester-rf1/owned_streams.go
  pkg/ingester-rf1/ring_client.go
  pkg/ingester-rf1/stream.go
  pkg/ingester-rf1/stream_rate_calculator.go
  pkg/ingester-rf1/streams_map.go
  pkg/ingester-rf1/tee.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester_test.go
  pkg/logproto/ingester-rf1.pb.go
  pkg/loki/loki.go
  pkg/push/push-rf1.pb.go
  pkg/querier/querier_mock_test.go
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
  pkg/storage/chunk/client/cassandra/storage_client.go
  pkg/storage/chunk/client/client.go
  pkg/storage/chunk/client/gcp/bigtable_object_client.go
  pkg/storage/chunk/client/grpc/storage_client.go
  pkg/storage/chunk/client/metrics.go
  pkg/storage/chunk/client/object_client.go
  pkg/storage/store.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/util_test.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
  vendor/github.com/grafana/loki/pkg/push/push-rf1.pb.go
  vendor/github.com/grafana/loki/pkg/push/push-rf1.proto
Labels: size/XXL, type/docs

#13332 chore(blooms): Various minor code cleanups
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
  pkg/bloomgateway/worker.go
Labels: size/M

#13331 refactor(blooms): more easily testable day partitioning
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
Labels: size/M

#13224 refactor: Introduce context cause to our code
  clients/pkg/promtail/discovery/consulagent/consul.go
  pkg/logql/evaluator.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/processor_manager.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/util.go
Labels: size/M

#13314 fix: stream ownership check
  pkg/ingester/instance.go
  pkg/ingester/metrics.go
  pkg/ingester/owned_streams.go
  pkg/ingester/recalculate_owned_streams.go
  pkg/ingester/recalculate_owned_streams_test.go
Labels: size/L

#13341 fix(blooms): Minor fixes and improvements for testing in dev
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/builder/metrics.go
  pkg/bloombuild/builder/spec.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
Labels: size/M

#13340 feat: convert WalSegmentWriter to io.ReadSeeker
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/L

#13343 fix(blooms): Remove unused arg
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/metrics.go
Labels: size/XS

#13329 perf: Prune unused pattern branches
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/stream.go
Labels: size/M

#13321 fix: support multi-zone ingesters when converting global to local limits for streams in limiter.go
  go.mod
  go.sum
  pkg/ingester/ingester_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  vendor/github.com/grafana/dskit/grpcutil/dns_resolver.go
  vendor/github.com/grafana/dskit/grpcutil/health_check.go
  vendor/github.com/grafana/dskit/httpgrpc/httpgrpc.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/etcd/mock.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/multi.go
  vendor/github.com/grafana/dskit/middleware/logging.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/grafana/dskit/spanprofiler/tracer.go
  vendor/modules.txt
Labels: size/L

#13344 docs: Label filter expression: Change unit suffix suffix to proper case whe…
  docs/sources/query/log_queries/_index.md
Labels: size/S, type/docs, backport release-2.9.x, backport release-3.0.x
