Repository grafana/loki, pull requests merged in 2024-08, with the labels that each got.

#13715 docs: fix broken links due to Alloy docs reorg
  docs/sources/send-data/alloy/examples/alloy-kafka-logs.md
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x

#13744 build: Update loki-build-image to Alpine 3.20.2
  .drone/drone.yml
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
  loki-build-image/Dockerfile
  loki-build-image/README.md
Labels: size/M

#13695 feat: Introduce wal segment read path.
  pkg/ingester-rf1/flush.go
  pkg/loki/modules.go
  pkg/querier-rf1/querier.go
  pkg/querier-rf1/wal/chunks.go
  pkg/querier-rf1/wal/chunks_test.go
  pkg/querier-rf1/wal/querier.go
  pkg/querier-rf1/wal/querier_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/postings.go
  pkg/storage/wal/chunks/chunks.go
  pkg/storage/wal/chunks/doc.go
  pkg/storage/wal/chunks/entry_iterator.go
  pkg/storage/wal/chunks/entry_iterator_test.go
  pkg/storage/wal/chunks/sample_iterator.go
  pkg/storage/wal/chunks/sample_iterator_test.go
  pkg/storage/wal/index/index.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/XXL

#13742 docs: Update the Visualize topic
  docs/sources/visualize/grafana.md
Labels: size/M, type/docs, backport release-3.0.x, backport release-3.1.x

#13720 fix: try reading chunks which have incorrect offset for blocks
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
Labels: size/L

#13746 chore(helm-chart): added SSE config into AWS storage config
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/M, area/helm

#13761 fix(break): helm: Fix how we set imagePullSecrets for enterprise-gateway and admin-api.
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/gateway/deployment-gateway-enterprise.yaml
Labels: size/S, area/helm

#13738 fix: Include whitespaces in extracted tokens
  pkg/pattern/tokenization/tokenization.go
  pkg/pattern/tokenization/tokenization_test.go
Labels: size/L

#13758 chore: Remove unused stream index from RF1 ingester
  pkg/ingester-rf1/instance.go
Labels: size/S

#13788 fix(helm): fixed memcached and provisioner templates
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/templates/provisioner/job-provisioner.yaml
Labels: size/S, area/helm

#13790 fix: panic when parsing and extracting JSON key values
  pkg/logql/log/parser_test.go
  pkg/logql/log/util.go
Labels: size/M

#13708 fix(operator): Don't overwrite annotations for LokiStack ingress resources
  operator/internal/manifests/mutate.go
Labels: size/XS, sig/operator

#13786 chore: Add metastore client as dep for rf1 querier & ignore auth for ListBlocks
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS

#13801 fix(ci): add cleanup step into job `dist`
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
Labels: size/S, type/bug

#13802 chore: [release-3.1.x] fix(ci): add cleanup step into job `dist`
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/S, backport, type/bug

#13803 chore: Turn off renovate on non-main branches
  .github/renovate.json
Labels: size/XS

#13810 fix(ci): fixed release-please manifest
  .release-please-manifest.json
Labels: type/bug, type/ci

#13729 chore: remove initial metric aggregation experiment
  docs/sources/shared/configuration.md
  go.mod
  pkg/canary/comparator/comparator_test.go
  pkg/loghttp/samples.go
  pkg/loghttp/samples_test.go
  pkg/logproto/compat.go
  pkg/logproto/extensions.go
  pkg/logproto/extensions_test.go
  pkg/logproto/pattern.pb.go
  pkg/logproto/pattern.proto
  pkg/logql/evaluator.go
  pkg/logql/range_vector.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/pattern/drain/chunk.go
  pkg/pattern/drain/chunk_test.go
  pkg/pattern/flush.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_querier.go
  pkg/pattern/ingester_querier_test.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/instance_test.go
  pkg/pattern/iter/batch.go
  pkg/pattern/iter/batch_test.go
  pkg/pattern/iter/merge.go
  pkg/pattern/iter/merge_sample.go
  pkg/pattern/iter/merge_sample_test.go
  pkg/pattern/iter/merge_test.go
  pkg/pattern/iter/query_client.go
  pkg/pattern/metric/chunk.go
  pkg/pattern/metric/chunk_test.go
  pkg/pattern/metric/config.go
  pkg/pattern/metric/evaluator.go
  pkg/pattern/metric/evaluator_test.go
  pkg/pattern/metric/metrics.go
  pkg/pattern/ring_client.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
  pkg/pattern/tee.go
  pkg/querier-rf1/handler.go
  pkg/querier-rf1/http.go
  pkg/querier-rf1/querier.go
  pkg/querier/handler.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/roundtrip.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
Labels: size/XXL, type/docs

#13830 chore: fix some comments
  clients/pkg/logentry/stages/pack_test.go
  clients/pkg/promtail/discovery/consulagent/consul_test.go
  integration/client/client.go
  operator/internal/manifests/serviceaccount.go
Labels: size/XS, sig/operator

#13747 docs: Recommended quickstart changes + Upgrade
  docs/sources/get-started/quick-start.md
  examples/getting-started/docker-compose.yaml
  examples/getting-started/loki-config.yaml
Labels: size/L, type/docs

#13743 fix: flaky test blockPlansForGaps
  pkg/bloombuild/planner/planner_test.go
Labels: size/XS

#13868 fix: Handle EOF when reading from some obj stores
  pkg/querier-rf1/wal/chunks.go
Labels: size/XS

#13787 feat(lambda-promtail): build lambda with zip file
  .gitignore
  tools/lambda-promtail/Dockerfile
  tools/lambda-promtail/README.md
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/versions.tf
Labels: size/M

#13899 chore(deps): Revert "chore(deps): update actions/labeler action to v5"
  .github/workflows/labeler.yml
Labels: size/XS

#13901 fix: Read "404" as object not exist
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/M

#13902 fix: Revert "fix: Include whitespaces in extracted tokens (#13738)"
  pkg/pattern/tokenization/tokenization.go
  pkg/pattern/tokenization/tokenization_test.go
Labels: size/L

#13783 chore: remove unused pattern tokenization form Loki
  pkg/pattern/tokenization/replacer.go
  pkg/pattern/tokenization/tokenization.go
  pkg/pattern/tokenization/tokenization_benchmark_test.go
  pkg/pattern/tokenization/tokenization_test.go
Labels: size/XXL

#13906 fix: Adjust tailer loop criteria so it is actually re-tested
  pkg/querier/tail.go
Labels: size/XS

#13911 chore: Update to labeler v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: size/S

#13731 feat: aggregate byte and count metrics
  cmd/loki/loki-local-config.yaml
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/pattern/aggregation/config.go
  pkg/pattern/aggregation/metrics.go
  pkg/pattern/aggregation/push.go
  pkg/pattern/aggregation/push_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_querier.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/metrics.go
  pkg/pattern/ring_client.go
  pkg/pattern/tee.go
  pkg/pattern/tee_service.go
  pkg/pattern/tee_service_test.go
  pkg/util/constants/levels.go
Labels: size/XXL, type/docs

#13904 chore(deps): Update dependencies, build version, and go version for lambda-promtail
  tools/lambda-promtail/Dockerfile
  tools/lambda-promtail/README.md
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  tools/lambda-promtail/lambda-promtail/cloudtrail.go
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/cw_test.go
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/kinesis_test.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
Labels: size/XXL

#13913 fix: split the error and agg metric cases for clarity
  pkg/pattern/tee_service.go
Labels: size/XS

#13760 feat(operator): Enable leader-election
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/config/overlays/community-openshift/controller_manager_config.yaml
  operator/config/overlays/community/controller_manager_config.yaml
  operator/config/overlays/development/controller_manager_config.yaml
  operator/config/overlays/openshift/controller_manager_config.yaml
Labels: size/S, sig/operator

#13924 chore(deps): update dskit 20240819
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/ingester/ingester_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ring_client.go
  pkg/querier/querier_mock_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/util/ring/ring_test.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/concurrency/runner.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/internal/math/math.go
  vendor/github.com/grafana/dskit/kv/memberlist/broadcast.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/ring_http.go
  vendor/github.com/grafana/dskit/ring/ring_status.gohtml
  vendor/github.com/grafana/dskit/ring/shard/shard.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tracing/tracing.go
  vendor/github.com/grafana/pyroscope-go/godeltaprof/internal/pprof/stub.go
  vendor/modules.txt
Labels: size/L, type/docs

#13922 fix: Improve execution speed for queries with label filters
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/M

#13915 chore: log the query from the request when we're unable to get a result from the results cache
  pkg/querier/queryrange/queryrangebase/results_cache.go
Labels: size/XS

#13928 chore(deps): update dskit 20240819 (#13924)
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/distributor/instance_count_test.go
  pkg/ingester/ingester_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ring_client.go
  pkg/querier/querier_mock_test.go
  pkg/ruler/base/lifecycle_test.go
  pkg/ruler/base/ruler_test.go
  pkg/util/ring/ring_test.go
  vendor/github.com/grafana/dskit/backoff/backoff.go
  vendor/github.com/grafana/dskit/concurrency/runner.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/internal/math/math.go
  vendor/github.com/grafana/dskit/kv/memberlist/broadcast.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/ring/basic_lifecycler.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/ring.pb.go
  vendor/github.com/grafana/dskit/ring/ring.proto
  vendor/github.com/grafana/dskit/ring/ring_http.go
  vendor/github.com/grafana/dskit/ring/ring_status.gohtml
  vendor/github.com/grafana/dskit/ring/shard/shard.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/failure_watcher.go
  vendor/github.com/grafana/dskit/services/manager.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tracing/tracing.go
  vendor/github.com/grafana/pyroscope-go/godeltaprof/internal/pprof/stub.go
  vendor/modules.txt
Labels: size/L, type/docs

#13930 fix: record datasample queries are limited query type
  pkg/logql/metrics.go
Labels: size/XS

#13938 chore(deps): LambdaPromtail - Bump to AmazonLinux 2023
  tools/lambda-promtail/Dockerfile
Labels: size/XS

#13939 chore(deps): lamba-promtail, move back to al2, update krb5-libs
  tools/lambda-promtail/Dockerfile
Labels: size/XS

#13925 chore: make mixin range interval configurable
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/config.libsonnet
  production/loki-mixin/jsonnetfile.lock.json
  production/loki-mixin/recording_rules.libsonnet
Labels: size/L

#13943 fix(cloud-mixin): Attribute OTLP route correctly to write path
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/M

#13948 fix: Read full buffer from storage when fetching a range
  pkg/querier-rf1/wal/chunks.go
Labels: size/XS

#13945 feat: ability to ignore cache for volume queries
  pkg/logproto/compat.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/queryrange/codec.go
Labels: size/S

#13958 feat: Limit to block ingestion until configured date
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Labels: size/L, type/docs

#13970 fix(detected labels): response when store label values are empty
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
Labels: size/M

#13965 chore(docs): Rewrite query acceleration docs
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/L, type/docs, feature/blooms

#13976 chore(jsonnet): Add backend component to loki-simple-scalable jsonnet
  production/ksonnet/loki-simple-scalable/backend.libsonnet
  production/ksonnet/loki-simple-scalable/loki.libsonnet
Labels: size/M

#13977 chore(jsonnet)!: convert read statefulset into deployment for loki-simple-scalable
  production/ksonnet/loki-simple-scalable/read.libsonnet
Labels: size/S

#13979 chore: Update kiwigrid/k8s-sidecar
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#13960 perf: Avoid looking up unnecessary TSDB symbols during Volume API
  pkg/ingester/instance_test.go
  pkg/storage/chunk/interface.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_read.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/querier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
Labels: size/L

#13975 chore: Rename `HeapIterator` to `MergeEntryIterator`
  pkg/iter/entry_iterator.go
  pkg/iter/entry_iterator_test.go
  pkg/querier/tail.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
Labels: size/M

#13987 docs: Update HTTP API docs for limit
  docs/sources/reference/loki-http-api.md
Labels: size/XS, type/docs

#13969 chore(blooms)!: Remove bloom compactor component
  docs/sources/operations/query-acceleration-blooms.md
  docs/sources/setup/upgrade/_index.md
  docs/sources/shared/configuration.md
  integration/bloom_building_test.go
  integration/cluster/cluster.go
  integration/loki_micro_services_test.go
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/builder/config.go
  pkg/bloomcompactor/batch.go
  pkg/bloomcompactor/batch_test.go
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/bloomcompactor_test.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/controller.go
  pkg/bloomcompactor/controller_test.go
  pkg/bloomcompactor/metrics.go
  pkg/bloomcompactor/retention.go
  pkg/bloomcompactor/retention_test.go
  pkg/bloomcompactor/spec.go
  pkg/bloomcompactor/spec_test.go
  pkg/bloomcompactor/tracker.go
  pkg/bloomcompactor/tracker_test.go
  pkg/bloomcompactor/tsdb.go
  pkg/bloomcompactor/tsdb_test.go
  pkg/bloomcompactor/versioned_range.go
  pkg/bloomcompactor/versioned_range_test.go
  pkg/bloomutils/ring.go
  pkg/bloomutils/ring_test.go
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/bloom.go
  pkg/util/limiter/combined_limits.go
  pkg/validation/exporter_test.go
  pkg/validation/limits.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/XXL, type/docs, feature/blooms

#13978 chore: Update nginx-unprivileged
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#13881 fix: Propagate headers/warnings/stats from quantile downstreams
  pkg/logql/accumulator.go
  pkg/logql/accumulator_test.go
Labels: size/M

#14012 fix(detected_labels): Add matchers to get labels from store"
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
Labels: size/S
