Repository grafana/loki, pull requests merged in 2024-12, with the labels that each got.

#15198 feat: Block scheduler scaffolding
  pkg/blockbuilder/architecture.md
  pkg/blockbuilder/builder/builder_test.go
  pkg/blockbuilder/builder/controller.go
  pkg/blockbuilder/builder/metrics.go
  pkg/blockbuilder/builder/pipeline.go
  pkg/blockbuilder/builder/pipeline_test.go
  pkg/blockbuilder/builder/slimgester.go
  pkg/blockbuilder/builder/storage.go
  pkg/blockbuilder/builder/storage_test.go
  pkg/blockbuilder/builder/transport.go
  pkg/blockbuilder/builder/tsdb.go
  pkg/blockbuilder/builder/worker.go
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/types/interfaces.go
  pkg/blockbuilder/types/job.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XL

#15201 refactor: kafka offset signals
  pkg/kafka/partition/reader_service.go
Labels: size/S

#15203 chore(deps): Move from base-nossl to static
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  production/helm/loki/src/helm-test/Dockerfile
Labels: size/M, area/helm

#15195 chore: switch promtails base image from debian to ubuntu
  Makefile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
Labels: size/S

#15208 chore: switch promtails base image from debian to ubuntu (backport release-3.2.x)
  Makefile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
Labels: size/S, backport, type/bug

#15200 feat(block-scheduler): adds service and basic planner support for scheduler
  docs/sources/shared/configuration.md
  pkg/blockbuilder/scheduler/kafkautil.go
  pkg/blockbuilder/scheduler/kafkautil_test.go
  pkg/blockbuilder/scheduler/metrics.go
  pkg/blockbuilder/scheduler/offsets_reader.go
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#15220 chore(blockbuilder): updates comments
  pkg/blockbuilder/types/grpc_transport.go
Labels: size/XS

#15215 docs: small clarification re: structured metadata
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#15166 docs: fixed typos/grammatical mistakes in metrics.md
  docs/sources/send-data/promtail/stages/metrics.md
Labels: size/XS, type/docs

#15222 feat: Add a metric ingestion time SM sanitization
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#15223 chore: split kafka reader ifc into reader and offset manager
  pkg/blockbuilder/builder/controller.go
  pkg/blockbuilder/builder/slimgester.go
  pkg/blockbuilder/scheduler/strategy_test.go
  pkg/kafka/partition/committer.go
  pkg/kafka/partition/committer_test.go
  pkg/kafka/partition/offset_manager.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_service.go
  pkg/loki/modules.go
Labels: size/L

#15246 chore: pass down reader metrics to avoid duplicate registration
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_service.go
  pkg/loki/modules.go
Labels: size/M

#15245 feat(blockbuilder): priority queue for job dispatching
  pkg/blockbuilder/scheduler/prioritiy_queue_test.go
  pkg/blockbuilder/scheduler/priority_queue.go
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
Labels: size/XL

#15224 feat: update blockbuilder to use scheduler for fetching jobs
  docs/sources/shared/configuration.md
  pkg/blockbuilder/builder/appender.go
  pkg/blockbuilder/builder/builder.go
  pkg/blockbuilder/builder/controller.go
  pkg/blockbuilder/builder/metrics.go
  pkg/blockbuilder/builder/slimgester.go
  pkg/blockbuilder/types/grpc_transport.go
  pkg/blockbuilder/types/interfaces.go
  pkg/blockbuilder/types/proto/blockbuilder.pb.go
  pkg/blockbuilder/types/proto/blockbuilder.proto
  pkg/loki/modules.go
Labels: size/XXL, type/docs

#15247 feat(blockbuilder): consolidate on record counting planner
  docs/sources/shared/configuration.md
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
Labels: size/L, type/docs

#15186 feat: Use context propagation to use the same ingester in GetChunksID
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
Labels: size/L

#15252 chore(backport): Add querier fix into k231
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
Labels: size/L

#15255 docs: fixing some Vale linter errors (#15212)
  docs/sources/configure/bp-configure.md
  docs/sources/configure/storage.md
  docs/sources/setup/upgrade/_index.md
Labels: size/L, type/docs

#15257 docs: fixing some Vale linter errors (#15212)
  docs/sources/configure/bp-configure.md
  docs/sources/configure/storage.md
  docs/sources/setup/upgrade/_index.md
Labels: size/L, type/docs

#15259 docs: fixing some Vale linter errors (#15212)
  docs/sources/configure/bp-configure.md
  docs/sources/configure/storage.md
  docs/sources/setup/upgrade/_index.md
Labels: size/L, type/docs

#15261 docs: fixing broken admonition
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#15207 fix(helm): yaml templates incorrectly annotated
  production/helm/loki/templates/compactor/statefulset-compactor.yaml
Labels: size/XS, area/helm

#15275 fix(blooms): Enable metas cache on backend when running in ssd mode
  pkg/loki/modules.go
Labels: size/XS

#15277 docs: Release notes for 3.2.2
  docs/sources/release-notes/v3-2.md
Labels: size/XS, type/docs, backport release-3.2.x, backport release-3.3.x

#15278 docs: Release notes for 3.3.2
  docs/sources/release-notes/v3-3.md
Labels: size/XS, type/docs, backport release-3.3.x

#14920 fix(helm): add default wal dir to ruler config
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#14834 chore: Update Minio helm chart dependency to 5.3.0
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.lock
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/S, area/helm

#15280 docs: Release notes for 2.9.11
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x, backport release-3.3.x

#15292 docs: Release notes for 2.9.11 (#15280)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#15291 docs: Release notes for 2.9.11 (#15280)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#15290 docs: Release notes for 2.9.11 (#15280)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#15296 fix(aggregated_metrics): Fix the IsError method causing retries
  pkg/util/http.go
  pkg/util/http_test.go
Labels: size/M, type/bug, backport k230

#15076 chore: Improve containsLower performance using quick rejection
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
Labels: size/L

#15300 fix(blooms): Fix check for skipping most recent data when filtering blooms
  pkg/bloomgateway/querier.go
  pkg/loki/modules.go
Labels: size/M, type/bug, backport k231

#15297 docs: correct dates in 2.9.x release notes
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs

#15217 fix: allow comparison against zero bytes
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/query_scanner.go
Labels: size/S

#15313 refactor(blockbuilder): transport job completion reports success
  pkg/blockbuilder/builder/builder.go
  pkg/blockbuilder/builder/worker.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/types/grpc_transport.go
  pkg/blockbuilder/types/interfaces.go
  pkg/blockbuilder/types/proto/blockbuilder.pb.go
  pkg/blockbuilder/types/proto/blockbuilder.proto
Labels: size/M

#15317 ci: remove weekly builds of docker driver
  .github/release-workflows.jsonnet
  .github/workflows/images.yml
Labels: size/L

#15302 fix: enable metric aggregation in `loki-local-config.yaml`
  cmd/loki/loki-local-config.yaml
Labels: size/XS, type/bug, backport release-3.3.x

#15272 feat: present DF bytes values in queryable format
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/detected_fields_test.go
Labels: size/M

#15308 ci: fix nix build
  .github/workflows/nix-ci.yaml
  CODEOWNERS
  flake.nix
  nix/default.nix
  nix/packages/faillint.nix
  nix/packages/loki.nix
  pkg/loki/loki_test.go
  pkg/loki/modules_test.go
Labels: size/L

#15192 fix(helm): Fix statefulset templates to not show diffs in ArgoCD
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/templates/compactor/statefulset-compactor.yaml
  production/helm/loki/templates/index-gateway/statefulset-index-gateway.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
  production/helm/loki/templates/ruler/statefulset-ruler.yaml
Labels: size/M, area/helm

#15314 refactor(kafka): partition lib refactor
  docs/sources/shared/configuration.md
  pkg/blockbuilder/scheduler/offsets_reader.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/kafka/config.go
  pkg/kafka/partition/committer.go
  pkg/kafka/partition/committer_test.go
  pkg/kafka/partition/kafkautil.go
  pkg/kafka/partition/kafkautil_test.go
  pkg/kafka/partition/offset_manager.go
  pkg/kafka/partition/reader_service.go
  pkg/loki/modules.go
Labels: size/L, type/docs

#15315 refactor(blockbuilder): transport splitting
  pkg/blockbuilder/architecture.md
  pkg/blockbuilder/builder/worker.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/types/grpc_transport.go
  pkg/blockbuilder/types/interfaces.go
  pkg/blockbuilder/types/proto/blockbuilder.pb.go
  pkg/blockbuilder/types/proto/blockbuilder.proto
  pkg/blockbuilder/types/scheduler_server.go
  pkg/blockbuilder/types/transport.go
  pkg/loki/modules.go
Labels: size/L

#15227 feat: Add TLS config to the analytics client
  docs/sources/shared/configuration.md
  pkg/analytics/reporter.go
  pkg/analytics/reporter_test.go
  pkg/analytics/stats.go
Labels: size/L, type/docs

#15179 chore: Document `approx_topk` keyword.
  docs/sources/query/metric_queries.md
Labels: size/S, type/docs, backport release-3.3.x

#15323 docs: Fixing some Vale linter errors
  docs/sources/send-data/alloy/examples/alloy-kafka-logs.md
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
  docs/sources/send-data/otel/otel-collector-getting-started.md
Labels: size/L, type/docs

#15333 ci: skip grafana/loki updates in renovate
  .github/renovate.json5
Labels: size/XS

#15335 chore: Renovate - Remove special case for lambda-promtail
  .github/renovate.json5
Labels: size/S

#15346 fix: Disable Helm test pod when test.enabled=false
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/tests/test-canary.yaml
Labels: size/XS, area/helm

#15063 fix(helm/loki): Allow prefixing of rollout-group value and ingester name
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/ingester/_helpers-ingester.tpl
  production/helm/loki/templates/ingester/poddisruptionbudget-ingester-rollout.yaml
  production/helm/loki/templates/ingester/poddisruptionbudget-ingester.yaml
  production/helm/loki/templates/ingester/service-ingester-zone-a-headless.yaml
  production/helm/loki/templates/ingester/service-ingester-zone-b-headless.yaml
  production/helm/loki/templates/ingester/service-ingester-zone-c-headless.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#15345 fix: Shut down delete client on local rule-evaluator
  pkg/loki/modules.go
Labels: size/S

#15360 fix: data race in bloombuild tests
  pkg/bloombuild/planner/planner_test.go
Labels: size/XS

#14507 fix(helm): add `appProtocol: tcp` to headless backend grpc ports
  production/helm/loki/templates/backend/service-backend-headless.yaml
Labels: size/XS, area/helm

#15152 docs: Logcli tutorial and sandbox
  docs/sources/query/logcli/_index.md
  docs/sources/query/logcli/getting-started.md
  docs/sources/query/logcli/logcli-tutorial.md
Labels: size/XL, type/docs, backport release-3.2.x, backport release-3.3.x

#15367 docs: removed compactor options from minIO deployment
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-monolithic/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/S, type/docs

#15279 ci: disable renovate toolchain updates
  .github/renovate.json5
Labels: size/XS

#15381 feat(lambda-promtail): Add terraform variable for s3 bucket notification filter prefix
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
Labels: size/XS

#15361 fix(ci): transform TestChunkSize into a benchmark
  pkg/chunkenc/memchunk_test.go
Labels: size/M

#13706 fix: Return error 422 (Unprocessable Content) when push request does not contain any streams
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/validate.go
Labels: size/S

#15385 fix(helm): Add conditional to include ruler config only when enabled
  production/helm/loki/CHANGELOG.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#13195 fix(azureblob): Return error if Azure returns no service principal token
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client_test.go
Labels: size/S

#15406 chore: Fix wording in Loki Operator ADOPTERS.md files
  operator/ADOPTERS.md
Labels: size/XS, sig/operator

#15407 chore: Introduce back phase for kafka delay metrics
  pkg/ingester/ingester.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_service.go
Labels: size/S

#15388 chore(block-scheduler): add scheduler grpc methods to auth mw ignore list
  pkg/blockbuilder/types/grpc_transport.go
  pkg/loki/loki.go
Labels: size/S

#15390 fix(block-scheduler): init record planner correctly
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
  pkg/loki/modules.go
Labels: size/M

#15376 docs: Update LogCLI topic
  docs/sources/query/logcli/_index.md
  docs/sources/query/logcli/getting-started.md
Labels: size/L, type/docs, backport release-3.2.x, backport release-3.3.x

#15413 docs: Update LogCLI topic (#15376)
  docs/sources/query/logcli/_index.md
  docs/sources/query/logcli/getting-started.md
Labels: size/L, type/docs

#15410 fix: data race / nil channel read in pattern aggregation push
  pkg/pattern/aggregation/push.go
  pkg/pattern/aggregation/push_test.go
Labels: size/S

#15420 fix: update-python-version-for-helm-ci
  .github/workflows/helm-ci.yml
Labels: size/XS

#15424 fix(deps): Downgrade hyperloglog to 0.2.0
  go.mod
  go.sum
  vendor/github.com/axiomhq/hyperloglog/hyperloglog.go
  vendor/github.com/axiomhq/hyperloglog/sparse.go
  vendor/github.com/kamstrup/intmap/.gitignore
  vendor/github.com/kamstrup/intmap/LICENSE
  vendor/github.com/kamstrup/intmap/README.md
  vendor/github.com/kamstrup/intmap/map64.go
  vendor/github.com/kamstrup/intmap/set.go
  vendor/modules.txt
Labels: size/S

#15423 fix: data race in distributor tests
  pkg/distributor/distributor_test.go
Labels: size/XS

#15411 feat: line_format bypass template execution if possible
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/M

#15426 fix(deps): Downgrade hyperloglog to 0.2.0 (#15424)
  go.mod
  go.sum
  vendor/github.com/axiomhq/hyperloglog/hyperloglog.go
  vendor/github.com/axiomhq/hyperloglog/sparse.go
  vendor/github.com/kamstrup/intmap/.gitignore
  vendor/github.com/kamstrup/intmap/LICENSE
  vendor/github.com/kamstrup/intmap/README.md
  vendor/github.com/kamstrup/intmap/map64.go
  vendor/github.com/kamstrup/intmap/set.go
  vendor/modules.txt
Labels: size/S

#15428 fix: remove unsafe pkg usage from util.mempool
  pkg/util/mempool/pool.go
Labels: size/S

#15438 docs: fix docs for bloom filters query acceleration hyperlink
  docs/sources/operations/bloom-filters.md
  docs/sources/query/query_acceleration.md
Labels: size/XS, type/docs, backport release-3.3.x

#15431 docs: adding exceptions to Vale rule
  docs/sources/setup/install/helm/reference.md
  docs/sources/shared/configuration.md
  docs/templates/configuration.template
  production/helm/loki/reference.md.gotmpl
Labels: size/M, area/helm, type/docs

#9119 docs: add URL to Log entry deletion page
  docs/sources/operations/storage/retention.md
Labels: size/S, type/docs

#15354 ci: fix the docker driver build
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  Makefile
Labels: size/L, type/bug, product-approved, backport release-3.3.x

#15465 fix: data race in ingester test
  pkg/ingester/ingester_test.go
  pkg/ingester/recalculate_owned_streams_test.go
Labels: size/S

#15463 docs: add exception to spelling rule
  docs/sources/community/governance.md
Labels: size/XS, type/docs

#15457 docs: fixing broken command
  docs/sources/send-data/promtail/cloud/eks/_index.md
Labels: size/S, type/docs, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x, backport release-3.3.x

#15462 docs: fix admonition, line spacing
  docs/sources/send-data/docker-driver/_index.md
Labels: size/S, type/docs

#15480 docs: fix admonition, line spacing (#15462)
  docs/sources/send-data/docker-driver/_index.md
Labels: size/S, type/docs

#15478 fix: fix the docker driver build (backport release-3.3.x)
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  Makefile
Labels: size/L, backport, type/bug, product-approved

#15386 chore: Update ASCII diagram of chunk binary encoding
  docs/sources/operations/storage/_index.md
  pkg/chunkenc/README.md
Labels: size/L, type/docs

#15466 fix: data race in chunk client hedging tests
  pkg/storage/chunk/client/hedging/hedging.go
  pkg/storage/chunk/client/hedging/hedging_test.go
Labels: size/S

#15485 docs: update docker-driver image reference
  docs/sources/send-data/docker-driver/_index.md
Labels: size/XS, type/docs

#15491 ci: remove test step from nix-ci
  .github/workflows/nix-ci.yaml
  flake.lock
Labels: size/S

#15450 perf: Improve `approx_topk` performance by reducing allocations.
  pkg/logql/count_min_sketch.go
  pkg/logql/count_min_sketch_test.go
  pkg/logql/sketch/cms.go
  pkg/logql/sketch/cms_test.go
  pkg/logql/sketch/hash.go
  pkg/logql/sketch/topk.go
Labels: size/L

#15498 test: Increase buffer size to prevent timeouts in tests
  pkg/pattern/aggregation/push_test.go
Labels: size/XS

#15481 fix(blooms): Match series to newest block only
  pkg/bloombuild/builder/builder.go
  pkg/bloomgateway/resolver.go
  pkg/bloomgateway/resolver_test.go
Labels: size/M

#15506 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15511 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15518 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15513 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15514 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15515 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15512 fix(ci): Revert "fixed `Publish Rendered Helm Chart Diff` workflow"
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#15487 docs: Loki 3.3.2 Release Notes
  docs/sources/release-notes/v3-3.md
Labels: size/S, type/docs, backport release-3.3.x

#15526 fix: structured metadata not always passed down for processing deletes
  pkg/logql/log/metrics_extraction.go
Labels: size/XS

#15383 fix(lambda-promtail): Remove s3 bucket ownership verification
  tools/lambda-promtail/lambda-promtail/s3.go
Labels: size/XS

#15549 fix(blockbuilder): copy entries returned by record decoder
  pkg/blockbuilder/builder/builder.go
Labels: size/XS

#15553 chore: add status page for block scheduler
  pkg/blockbuilder/scheduler/priority_queue.go
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/status.go
  pkg/blockbuilder/scheduler/status.gohtml
  pkg/blockbuilder/scheduler/status_test.go
  pkg/loki/modules.go
Labels: size/L

#15433 chore(block-builder): update block builder to use kafka clients directly
  pkg/blockbuilder/builder/builder.go
  pkg/loki/modules.go
Labels: size/L

#15560 feat(block-scheduler): introduce job lease and requeue expired jobs
  docs/sources/shared/configuration.md
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/queue_test.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/loki/modules.go
Labels: size/L, type/docs

#15562 chore(make): loki-local-image make target for building images on local machines
  Makefile
Labels: size/XS
