Repository grafana/loki, pull requests merged in 2024-05, with the labels that each got.

#12840 feat(blooms): ingester aware bounded impl
  pkg/loghttp/query.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/sharding/power.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L

#12851 chore(blooms): Remove ID field from task struct
  go.mod
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/worker.go
Labels: size/M

#12805 docs: update the lokitool docs
  docs/sources/alert/_index.md
  pkg/tool/printer/printer.go
Labels: size/M, type/docs

#12837 docs: order configuration template fileds alphabetically (#12771)
  .drone/drone.jsonnet
  .drone/drone.yml
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
  docs/sources/shared/configuration.md
  loki-build-image/Dockerfile
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/storage/chunk/client/grpc/grpc.pb.go
  tools/doc-generator/main.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/XXL, type/docs

#12863 feat(blooms): ignore individual bloom-gw failures
  pkg/bloomgateway/client.go
  pkg/bloomgateway/metrics.go
Labels: size/M

#12864 chore: reduces span footprint + double recording
  pkg/bloomgateway/querier.go
  pkg/logql/engine.go
  pkg/querier/handler.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/querier/worker/scheduler_processor.go
Labels: size/M

#12866 chore(blooms): additional spans for bloom read path
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/M

#12741 fix(packaging): Require online network in systemd unit file for Loki and Promtail
  tools/packaging/loki.service
  tools/packaging/promtail.service
Labels: size/S

#12867 ci: make renovate commits come in as fixes
  .github/renovate.json
Labels: size/XS

#12744 docs(helm): Improve the helm's NOTES.txt
  production/helm/loki/templates/NOTES.txt
Labels: size/L, area/helm

#12855 chore: Add dashboards for Bloom Compactor and Gateway
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-compactor.json
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-gateway.json
  production/loki-mixin-compiled/dashboards/loki-bloom-compactor.json
  production/loki-mixin-compiled/dashboards/loki-bloom-gateway.json
  production/loki-mixin/.lint
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/dashboard-bloom-compactor.json
  production/loki-mixin/dashboards/dashboard-bloom-gateway.json
  production/loki-mixin/dashboards/loki-bloom-compactor.libsonnet
  production/loki-mixin/dashboards/loki-bloom-gateway.libsonnet
Labels: size/XXL

#12833 docs: Consistent quoting in Template functions docs
  docs/sources/query/template_functions.md
Labels: size/L, type/docs

#12872 feat(detectedFields): add parser to response
  pkg/loghttp/detected.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/querier.go
  pkg/storage/detected/fields.go
  pkg/storage/detected/fields_test.go
Labels: size/M

#12873 fix: `codec` not initialized in downstream roundtripper
  pkg/lokifrontend/frontend/config.go
  pkg/lokifrontend/frontend/downstream_roundtripper.go
Labels: size/XS, type/bug, backport release-3.0.x

#12880 chore(instrumentation): reintroduce span propagation across scheduler boundaries
  pkg/querier/worker/scheduler_processor.go
Labels: size/S

#12874 chore(operator): Update Loki operand to v2.9.8
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#12881 docs: Update release notes for 2.9.8
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#12860 docs: add GEL install to the Helm page
  docs/sources/setup/install/helm/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#12884 docs: Update release notes for 2.9.8 (#12881)
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs

#12886 fix(helm): only default bucket names when using minio
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/helm-release.yaml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  .github/workflows/three-0-release.yml
  .github/workflows/three-zero-release.yml
  Makefile
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/ci/default-values.yaml
  production/helm/loki/ci/ingress-values.yaml
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/XXL, backport, area/helm, type/docs, type/bug, product-approved

#12887 fix(spans): corrects early-close for a few spans
  pkg/indexgateway/gateway.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/shard_resolver.go
Labels: size/S

#12651 fix: Fix log level detection
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/limits.go
  vendor/github.com/buger/jsonparser/.gitignore
  vendor/github.com/buger/jsonparser/.travis.yml
  vendor/github.com/buger/jsonparser/Dockerfile
  vendor/github.com/buger/jsonparser/LICENSE
  vendor/github.com/buger/jsonparser/Makefile
  vendor/github.com/buger/jsonparser/README.md
  vendor/github.com/buger/jsonparser/bytes.go
  vendor/github.com/buger/jsonparser/bytes_safe.go
  vendor/github.com/buger/jsonparser/bytes_unsafe.go
  vendor/github.com/buger/jsonparser/escape.go
  vendor/github.com/buger/jsonparser/fuzz.go
  vendor/github.com/buger/jsonparser/oss-fuzz-build.sh
  vendor/github.com/buger/jsonparser/parser.go
  vendor/modules.txt
Labels: size/L, type/docs

#12726 feat: Querier: Split gRPC client into two.
  docs/sources/shared/configuration.md
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
  tools/doc-generator/main.go
Labels: size/L, type/docs

#12889 chore(blooms): records more bloom iteration stats
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/metrics.go
Labels: size/L

#12900 fix(blooms): Fix `partitionSeriesByDay` function
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
Labels: size/M, type/bug, backport k201

#12895 fix(blooms): Clean block directories recursively on startup
  pkg/storage/stores/shipper/bloomshipper/cache.go
  pkg/storage/stores/shipper/bloomshipper/cache_test.go
Labels: size/M

#12869 fix: Fix nil pointer dereference in bloomstore initialisation
  pkg/loki/loki.go
Labels: size/XS

#12888 ci: force one time run of helm release for 5.48
  .github/workflows/helm-release.yaml
Labels: size/XS

#12903 fix: Invalidate caches when pipeline wrappers are disabled
  pkg/storage/chunk/cache/resultscache/cache.go
  pkg/storage/chunk/cache/resultscache/pipelinewrapper_keygen.go
  pkg/storage/chunk/cache/resultscache/pipelinewrapper_keygen_test.go
Labels: size/M

#12905 fix: Use an intermediate env variable in GH workflow
  .github/workflows/operator-check-prepare-release-commit.yml
Labels: size/XS

#12899 feat(detectedFields): Support multiple parsers to be returned for a single field
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/querier.go
  pkg/storage/detected/fields.go
  pkg/storage/detected/fields_test.go
Labels: size/M

#12915 chore: Call `shardstreams.Config` by value instead of by reference
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/limits.go
  pkg/distributor/ratestore_test.go
  pkg/distributor/shardstreams/config.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/loki/loki.go
  pkg/validation/limits.go
Labels: size/M, type/docs, backport release-3.0.x

#12878 fix(helm): Fix GEL image tag, bucket name and proxy URLs
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/gateway/deployment-gateway-enterprise.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#12917 docs: Backport 12915 to release 3.0.x
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/limits.go
  pkg/distributor/ratestore_test.go
  pkg/distributor/shardstreams/config.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/loki/loki.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#12916 docs: Don't allow running new and old querier worker grpc clients
  docs/sources/shared/configuration.md
  pkg/loki/config_wrapper.go
  pkg/querier/worker/worker.go
Labels: size/M, type/docs

#12817 style: fix function names
  pkg/ruler/evaluator_remote_test.go
  pkg/storage/bloom/v1/filter/partitioned.go
  pkg/storage/chunk/client/grpc/grpc_server_mock_test.go
Labels: size/XS

#12927 test: First pass at unregistering metrics so that we can run multiple tests
  pkg/compactor/deletion/delete_requests_client_test.go
  pkg/compactor/deletion/metrics.go
  pkg/loki/loki_test.go
  pkg/pattern/flush_test.go
  pkg/scheduler/scheduler_test.go
  pkg/storage/chunk/client/congestion/congestion_test.go
  pkg/storage/chunk/client/congestion/controller_test.go
  pkg/storage/chunk/client/congestion/metrics.go
  tools/tsdb/migrate-versions/main_test.go
Labels: size/M

#12795 fix(promtail): Fix bug with Promtail config reloading getting stuck indefinitely
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
Labels: size/L

#12926 fix: Optimize regular initialization
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/ruler/base/notifier.go
  pkg/storage/chunk/cache/resultscache/pipelinewrapper_keygen.go
  pkg/storage/chunk/cache/resultscache/pipelinewrapper_keygen_test.go
Labels: size/M

#12934 fix: Defer closing blocks iter after checking error from loadWorkForGap
  pkg/bloomcompactor/controller.go
Labels: size/XS

#12932 fix(helm): fixed ingress paths mapping
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: type/enhancement, size/L, area/helm, type/docs

#12939 fix(promtail): Fix bug with Promtail config reloading getting stuck i…
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
Labels: size/L

#12933 chore(logging): Add entry's timestamp when rejected with `too far behind`
  pkg/chunkenc/interface.go
  pkg/chunkenc/interface_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
Labels: size/S

#12949 fix: panics when ingester response is nil (#12946)
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/M

#12950 fix: panics when ingester response is nil (#12946)
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/M

#12920 test: Added more test data for pattern detection tests
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/testdata/agent-logfmt.txt
  pkg/pattern/drain/testdata/calico.txt
  pkg/pattern/drain/testdata/custom.txt
  pkg/pattern/drain/testdata/distributor-logfmt.txt
  pkg/pattern/drain/testdata/journald.txt
  pkg/pattern/drain/testdata/kafka.txt
  pkg/pattern/drain/testdata/kubernetes.txt
  pkg/pattern/drain/testdata/vault.txt
Labels: size/XXL

#12898 docs: fix typo ?
  docs/sources/get-started/components.md
Labels: size/XS, type/docs, backport release-3.0.x

#12940 docs: update NixOS wiki link
  nix/README.md
Labels: size/XS, type/docs

#12814 docs: Update _index.md
  docs/sources/send-data/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#11605 feat: improve performance of `first_over_time` and `last_over_time` queries by sharding them
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/explain.go
  pkg/logql/first_last_over_time.go
  pkg/logql/optimize.go
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/shardmapper.go
  pkg/logql/step_evaluator.go
  pkg/logql/syntax/ast.go
  pkg/logql/test_utils.go
Labels: size/XL

#12957 chore: backport first/last over time sharding into k202
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/explain.go
  pkg/logql/first_last_over_time.go
  pkg/logql/optimize.go
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/shardmapper.go
  pkg/logql/step_evaluator.go
  pkg/logql/syntax/ast.go
  pkg/logql/test_utils.go
Labels: size/XL

#12836 fix: fix parsing of default per tenant otlp config
  integration/cluster/cluster.go
  integration/loki_micro_services_test.go
  pkg/validation/limits.go
Labels: size/XS

#12959 fix(blooms): Disable metas cache on bloom gateway
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/validation.go
Labels: size/M

#12961 feat(bloom): Skip attempts to filter chunks for which blooms have not been built
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/loki/modules.go
Labels: size/M

#12918 feat: Add metrics for number of patterns detected & evicted
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/metrics.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_querier.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/metrics.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
Labels: size/L

#12816 perf: Improve Detected labels API
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/loghttp/labels.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/splitters.go
  pkg/querier/queryrange/stats.go
  pkg/storage/detected/labels.go
Labels: size/XL

#12976 perf: Replace channel check with atomic bool in tailer.send()
  pkg/ingester/tailer.go
  pkg/ingester/tailer_test.go
Labels: size/M

#12981 fix: Track bytes discarded by ingester.
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/recovery_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/tailer.go
  pkg/loki/modules.go
Labels: size/L

#12896 feat(cache): Add `Cache-Control: no-cache` support for Loki instant queries.
  cmd/logcli/main.go
  pkg/chunkenc/interface.go
  pkg/logcli/client/client.go
  pkg/logql/evaluator.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/storage/chunk/cache/resultscache/cache_test.go
Labels: size/L

#12982 docs(install-monolithic): add quotation marks
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/XS, type/docs

#12990 docs: Fix broken link in the release notes
  docs/sources/release-notes/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#12992 feat(blooms): Separate page buffer pools for series pages and bloom pages
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/util.go
Labels: size/M

#12975 feat: Added getting started video
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#12978 fix(indexstats): do not collect stats from "IndexStats" lookups for other query types
  pkg/ingester/tailer.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/S, type/bug, backport k203

#13001 chore: remove duplicate imports
  pkg/ingester/tailer.go
Labels: size/XS

#12985 feat: loki/main.go: Log which config file path is used on startup
  cmd/loki/main.go
Labels: size/XS

#12994 refactor(bloom planner): Compute gaps and build tasks from metas and TSDBs
  docs/sources/shared/configuration.md
  pkg/bloombuild/planner/config.go
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/tableIterator.go
  pkg/bloombuild/planner/task.go
  pkg/bloombuild/planner/tsdb.go
  pkg/bloombuild/planner/tsdb_test.go
  pkg/bloombuild/planner/util.go
  pkg/bloombuild/planner/util_test.go
  pkg/loki/modules.go
  pkg/util/limiter/combined_limits.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#12996 docs: update otlp ingestion with correct endpoint and add endpoint to reference api docs
  docs/sources/reference/loki-http-api.md
  docs/sources/send-data/otel/_index.md
Labels: size/S, type/docs, backport release-3.0.x

#13005 refactor(blooms): Add queue to bloom planner and enqueue tasks
  docs/sources/shared/configuration.md
  pkg/bloombuild/planner/config.go
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/task.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#13011 fix: Mixins - Add missing log datasource on loki-deletion
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/S

#13014 fix: remove unneccessary disk panels for ssd read path
  production/loki-mixin-compiled-ssd/dashboards/loki-reads-resources.json
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Labels: size/L

#13016 fix: upgrade old plugin for the loki-operational dashboard.
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/XL

#13012 fix: allow cluster label override in bloom dashboards
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-compactor.json
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-gateway.json
  production/loki-mixin-compiled/dashboards/loki-bloom-compactor.json
  production/loki-mixin-compiled/dashboards/loki-bloom-gateway.json
  production/loki-mixin/dashboards/loki-bloom-compactor.libsonnet
  production/loki-mixin/dashboards/loki-bloom-gateway.libsonnet
Labels: size/L

#13006 feat: new stream count limiter
  docs/sources/shared/configuration.md
  pkg/ingester/instance.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/owned_streams.go
  pkg/ingester/owned_streams_test.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#12701 feat: Added Interactive Sandbox to Quickstart tutorial
  docs/sources/get-started/quick-start.md
Labels: size/S, type/docs, backport release-3.0.x

#12023 feat: [helm] Support for PVC Annotations for Non-Distributed Modes
  docs/Makefile
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#13029 fix: change log level since this is a known case
  pkg/querier/queryrange/limits.go
Labels: size/XS

#12753 fix(helm): fix queryScheduler servicemonitor
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/query-scheduler/service-query-scheduler.yaml
Labels: size/S, area/helm

#13030 fix: not owned stream count
  pkg/ingester/limiter_test.go
  pkg/ingester/owned_streams.go
  pkg/ingester/owned_streams_test.go
Labels: size/M

#13015 refactor(blooms): Add RPC service for bloom-planner
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/task.go
  pkg/bloombuild/protos/compat.go
  pkg/bloombuild/protos/service.pb.go
  pkg/bloombuild/protos/service.proto
  pkg/bloombuild/protos/types.pb.go
  pkg/bloombuild/protos/types.proto
Labels: size/XL

#13010 fix: Fix panic on requesting out-of-order Pattern samples
  pkg/pattern/drain/chunk.go
  pkg/pattern/drain/chunk_test.go
Labels: size/M

#13025 docs: fix deployment mode in Helm example
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/XS, type/docs

#12968 feat(blooms): Add counter metric for blocks that are not available at query time
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/metrics.go
  pkg/bloomgateway/processor.go
Labels: size/M

#13024 fix(helm): fix query-frontend and ruler targetPort 'http-metrics' in Service template
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/templates/query-frontend/service-query-frontend-headless.yaml
  production/helm/loki/templates/ruler/service-ruler.yaml
Labels: size/S, area/helm

#12969 docs: update otlp ingestion docs to correct some info and add more details
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#12602 docs: Update Grafana Agent to Grafana Alloy
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/get-started/overview.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/release-notes/v3.0.md
  docs/sources/send-data/_index.md
  docs/sources/send-data/k6/log-generation.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/installation.md
  docs/sources/setup/install/helm/concepts.md
  docs/sources/setup/migrate/migrate-from-distributed/index.md
  docs/sources/setup/migrate/migrate-to-alloy/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
Labels: size/M, type/docs, backport release-3.0.x

#13056 docs: Update Grafana Agent to Grafana Alloy (#12602)
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/get-started/overview.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/release-notes/v3-0.md
  docs/sources/send-data/_index.md
  docs/sources/send-data/k6/log-generation.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/installation.md
  docs/sources/setup/install/helm/concepts.md
  docs/sources/setup/migrate/migrate-from-distributed/index.md
  docs/sources/setup/migrate/migrate-to-alloy/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
Labels: size/L, type/docs

#13062 fix: temporarily moving from alloy -> alloy dev
  examples/getting-started/docker-compose.yaml
Labels: size/XS

#13063 feat: Increase drain max depth from 8 -> 30
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_benchmark_test.go
  pkg/pattern/drain/drain_test.go
Labels: size/XL

#12925 feat: Add ingester_chunks_flush_failures_total
  pkg/ingester/flush.go
  pkg/ingester/metrics.go
Labels: size/XS

#13046 refactor(blooms): Builder retrieves tasks from planner
  docs/sources/shared/configuration.md
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/builder/config.go
  pkg/bloombuild/builder/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/protos/service.pb.go
  pkg/bloombuild/protos/service.proto
Labels: size/L, type/docs

#12999 fix: Fix incorrect sorting of chunks in bloom-filtered response since `ChunkRef.Cmp` method is used in reverse
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_test.go
Labels: size/S, feature/blooms

#13067 fix: Introduce feature flag for [last|first]_over_time sharding.
  docs/sources/shared/configuration.md
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper.go
  pkg/querier/queryrange/queryrangebase/roundtrip.go
Labels: size/M, type/docs, type/bug

#13069 feat: Add tokenizer interface for Drain Training
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_benchmark_test.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
Labels: size/XL

#13079 fix: Update expected patterns when pruning
  pkg/pattern/ingester_querier_test.go
Labels: size/S

#13070 docs: Republish the sizing calculator but don't list it in the table of contents and don't index it
  docs/sources/setup/size/_index.md
Labels: size/XS, type/docs, missing-labels, backport release-2.9.x, backport release-3.0.x

#13085 feat: Add utf8 support to Pattern Lexer to support utf8 chars
  pkg/logql/log/pattern/lexer.go
  pkg/logql/log/pattern/lexer.rl
  pkg/logql/log/pattern/lexer.rl.go
  pkg/logql/log/pattern/lexer_test.go
  pkg/logql/log/pattern/parser_test.go
  pkg/logql/log/pattern/pattern_test.go
  pkg/pattern/drain/drain_test.go
Labels: size/L

#13068 feat: add profile tagging to ingester
  pkg/ingester/ingester.go
Labels: size/L
