Repository grafana/loki, pull requests merged in 2024-04, with the labels that each got.

#12410 chore: remove experimental flags for l2 cache and memcached "addresses" config
  docs/sources/configure/_index.md
  pkg/storage/chunk/cache/memcached_client.go
  pkg/storage/config/store.go
Labels: size/S, type/docs

#12259 chore: delete request processing improvements
  docs/sources/configure/_index.md
  pkg/compactor/compactor.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/deletion/grpc_request_handler_test.go
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/deletion/request_handler_test.go
  pkg/compactor/deletion/tenant_delete_requests_client.go
  pkg/compactor/deletion/tenant_delete_requests_client_test.go
  pkg/compactor/deletion/tenant_request_handler_test.go
Labels: size/XL, type/docs

#12393 fix: fix span logging based on changes to request types timestamps
  pkg/logproto/compat_test.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/queryrangebase/query_range_test.go
  vendor/github.com/opentracing/opentracing-go/mocktracer/mocklogrecord.go
  vendor/github.com/opentracing/opentracing-go/mocktracer/mockspan.go
  vendor/github.com/opentracing/opentracing-go/mocktracer/mocktracer.go
  vendor/github.com/opentracing/opentracing-go/mocktracer/propagation.go
  vendor/modules.txt
Labels: size/L

#12409 docs: Update _index.md
  docs/sources/send-data/_index.md
Labels: size/XS, type/docs

#12417 fix: fix some comments
  clients/pkg/logentry/stages/extensions.go
  clients/pkg/logentry/stages/limit_test.go
Labels: size/XS

#12422 feat(detected_labels): Add pod as a detected label to demo
  pkg/querier/querier.go
Labels: size/XS

#12398 feat: add pattern match line filter
  CHANGELOG.md
  pkg/logql/log/filter.go
  pkg/logql/log/parser.go
  pkg/logql/log/pattern/ast.go
  pkg/logql/log/pattern/parser.go
  pkg/logql/log/pattern/pattern.go
  pkg/logql/log/pattern/pattern_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/expr.y
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/linefilter_test.go
  pkg/storage/bloom/v1/bloom_tester.go
  pkg/storage/bloom/v1/bloom_tester_test.go
Labels: size/L, add-to-release-notes

#12387 chore(blooms): Clean up bloom component configuration
  docs/sources/configure/_index.md
  integration/cluster/cluster.go
  pkg/bloomcompactor/retention_test.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/loki/modules_test.go
  pkg/storage/factory.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/store.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
Labels: size/M, type/docs

#12428 feat: add support for discovering and adding log levels as structured metadata
  docs/sources/configure/_index.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/loghttp/push/otlp.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#12423 docs: Adding upgrade link page to Operations
  docs/sources/operations/upgrade.md
Labels: size/S, type/docs

#11060 docs(operator): Add proposal for short-lived token authentication
  operator/docs/enhancements/short_lived_tokens_authentication.md
Labels: size/L, sig/operator, kind/feature

#12440 chore: Log level detection improvements
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/L

#12414 perf(bloomstore): Cache metas LIST operation
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/store.go
Labels: size/L

#12432 feat: Detected labels - get and filter labels from ingesters
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L

#12442 fix: Fixes detected labels API wiring
  pkg/querier/queryrange/codec.go
Labels: size/S

#12447 fix: Fix multi_tenant querier for detected labels
  pkg/querier/multi_tenant_querier.go
Labels: size/XS

#12425 feat: Enable warnings in Loki query responses
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/iter/entry_iterator.go
  pkg/iter/sample_iterator.go
  pkg/loghttp/query.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/accumulator.go
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logqlmodel/logqlmodel.go
  pkg/logqlmodel/metadata/context.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/prometheus.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/query_range.go
  pkg/querier/queryrange/queryrangebase/query_range_test.go
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.proto
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/queryrangebase/results_cache_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
  pkg/util/marshal/query.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/modules.txt
Labels: size/L

#12449 chore: make docs
  Makefile
Labels: size/XS

#12448 refactor!: refactor how we do defaults for runtime overrides
  CHANGELOG.md
  cmd/loki/main.go
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/runtime_config.go
  pkg/loki/runtime_config_test.go
  pkg/runtime/config.go
  production/ksonnet/loki/overrides.libsonnet
  tools/doc-generator/parse/root_blocks.go
Labels: size/L, type/docs

#12424 docs: add some docs around a schema value for new installs
  docs/sources/operations/storage/schema/_index.md
Labels: size/M, type/docs

#12451 feat: Enable automatic stream sharding by default
  docs/sources/setup/upgrade/_index.md
  pkg/distributor/shardstreams/config.go
  pkg/ingester/instance_test.go
Labels: size/S, type/docs

#12458 chore(blooms): bloom_client records cache locality score
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/metrics.go
Labels: size/M

#12465 chore: bump go and alpine version in build image
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/M

#12466 fix: Bugfixes for detected labels API
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
Labels: size/M

#12464 chore(deps): Use loki-build-image 0.33.1
  .devcontainer/devcontainer.json
  .drone/drone.yml
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/three-0-release.yml
  .github/workflows/three-zero-release.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/querytee/Dockerfile.cross
  loki-build-image/README.md
  operator/Dockerfile.cross
Labels: size/M, sig/operator

#12467 chore(deps): Bump golang to 1.21.9
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  tools/dev/loki-tsdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
  tools/tsdb/bloom-tester/Dockerfile
Labels: size/M

#12370 chore(operator): Update Loki operand to v2.9.6
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#12468 chore: New build image for release branches
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
  loki-build-image/README.md
Labels: size/M

#12453 feat!: enable structure metadata by default.
  docs/sources/configure/_index.md
  docs/sources/configure/examples/configuration-examples.md
  docs/sources/configure/examples/yaml/16-(Deprecated)-Cassandra-Snippet.yaml
  docs/sources/configure/examples/yaml/17-(Deprecated)-S3-And-DynamoDB-Snippet.yaml
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_delete_test.go
  integration/loki_micro_services_test.go
  integration/loki_rule_eval_test.go
  integration/loki_simple_scalable_test.go
  integration/loki_single_binary_test.go
  integration/per_request_limits_test.go
  pkg/loki/config_test.go
  pkg/loki/loki.go
  pkg/storage/config/schema_config.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#12472 docs: Add missing period to _index
  docs/sources/_index.md
Labels: size/XS, type/docs

#12475 refactor: do not force chunk_retain_period value for TSDB index type
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#12452 feat: enable caching of index stats results, volume results, series results and label results by default
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  pkg/loki/config_test.go
  pkg/loki/modules_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/M, type/docs

#12476 ci: update drone signature
  .drone/drone.yml
Labels: size/XS

#12479 feat: Detect level as structured metadata by default
  docs/sources/configure/_index.md
  integration/cluster/cluster.go
  pkg/distributor/distributor_test.go
  pkg/validation/limits.go
Labels: size/S, type/docs

#12439 chore: Minor changes to contributing doc and pr template for conventional commits
  .github/pull_request_template.md
  .github/workflows/append-release-notes.yml
  CONTRIBUTING.md
  docs/sources/community/maintaining/release/prepare-release-notes.md
Labels: size/M, type/docs

#12470 perf(blooms): Use jumpmap for client side sharding of the filter requests
  docs/sources/configure/_index.md
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_pool.go
  pkg/bloomgateway/client_pool_test.go
  pkg/bloomgateway/client_test.go
  pkg/bloomgateway/metrics.go
  pkg/loki/modules.go
  pkg/storage/chunk/cache/memcached_client.go
  pkg/util/discovery/dns.go
  pkg/util/jumphash/memcached_client_selector.go
  pkg/util/jumphash/memcached_client_selector_test.go
Labels: size/XL, type/docs

#12430 fix: Update deprecated angular graph panel in dashboards mixin
  production/loki-mixin-compiled-ssd/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled-ssd/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled-ssd/dashboards/loki-retention.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled-ssd/dashboards/loki-writes.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-deletion.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-retention.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/loki-mixin/jsonnetfile.lock.json
Labels: size/XXL

#12481 chore: remove experimental flags from features and configs which are no longer so.
  docs/sources/configure/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/stages/structured_metadata.md
  pkg/compactor/compactor.go
  pkg/distributor/distributor.go
  pkg/distributor/writefailures/cfg.go
  pkg/loki/loki.go
Labels: size/M, type/docs

#12181 fix(operator): Improve validation of provided S3 storage configuration
  operator/CHANGELOG.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/handlers/internal/storage/storage_test.go
  operator/internal/handlers/lokistack_create_or_update_test.go
Labels: size/L, sig/operator

#12483 chore(blooms): Clean up settings and make reasonable defaults
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/config.go
  pkg/loki/loki.go
  pkg/storage/factory.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/validation/limits.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/L, type/docs

#12455 docs: document pattern match filter
  docs/sources/query/_index.md
Labels: size/M, type/docs

#12463 fix(logql): Linefilter behaviour with chained `or`
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/L

#12480 ci: add github action to ensure drone is not broken
  .github/workflows/verify-drone.yml
Labels: size/M

#12478 docs: move Storage page under Configuration
  docs/sources/configure/storage.md
  docs/sources/operations/storage/_index.md
  docs/sources/release-notes/v2-9.md
  docs/sources/setup/install/helm/configure-storage/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
  docs/sources/setup/upgrade/_index.md
Labels: size/M, type/docs

#12486 docs: Documentation for Query Acceleration with Blooms
  docs/sources/get-started/components.md
  docs/sources/get-started/hash-rings.md
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/L, type/docs

#12434 Add blooms support to our distributed helm chart
  production/helm/loki/ci/distributed-values.yaml
  production/helm/loki/templates/bloomfilters/_helpers-bloom-compactor.tpl
  production/helm/loki/templates/bloomfilters/_helpers-bloom-gateway.tpl
  production/helm/loki/templates/bloomfilters/statefulset-bloom-compactor.yaml
  production/helm/loki/templates/bloomfilters/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/gateway/_helpers-gateway.tpl
  production/helm/loki/templates/pattern-ingester/_helpers-pattern-ingester.tpl
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
  production/helm/loki/values.yaml
Labels: size/XXL, area/helm

#12490 ci: migrate windows promtail tests to github action
  .drone/drone.jsonnet
  .drone/drone.yml
  .github/workflows/promtail-windows-test.yml
  .github/workflows/verify-drone.yml
Labels: size/M

#12488 chore: [release-2.9.x] Bump go to 1.21.9 and build image to 0.33.1
  .devcontainer/devcontainer.json
  .drone/drone.jsonnet
  .drone/drone.yml
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .golangci.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  clients/pkg/logentry/stages/metrics.go
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  operator/Dockerfile.cross
  pkg/logcli/client/client.go
  pkg/logcli/query/part_file.go
  pkg/logql/evaluator.go
  pkg/querier/http.go
  pkg/querier/queryrange/querysharding.go
  tools/doc-generator/writer.go
  tools/lambda-promtail/Dockerfile
Labels: size/L, sig/operator

#12494 fix(blooms): fixup bloom testing
  pkg/bloomgateway/processor.go
  pkg/storage/bloom/v1/bloom_tester.go
  pkg/storage/bloom/v1/bloom_tester_test.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/tokenizer.go
Labels: size/L

#12496 chore: add more validation at startup to make sure we have a proper schema, and necessary directories are created
  docs/sources/configure/examples/configuration-examples.md
  docs/sources/configure/examples/yaml/1-Local-Configuration-Example.yaml
  docs/sources/configure/examples/yaml/11-COS-HMAC-Example.yaml
  docs/sources/configure/examples/yaml/12-COS-APIKey-Example.yaml
  docs/sources/configure/examples/yaml/13-COS-Trusted-Profile-Example.yaml
  docs/sources/configure/examples/yaml/5-BOS-Example.yaml
  docs/sources/configure/examples/yaml/7-Schema-Migration-Snippet.yaml
  docs/sources/configure/examples/yaml/8-alibaba-cloud-storage-Snippet.yaml
  pkg/bloomcompactor/retention_test.go
  pkg/bloomcompactor/tsdb.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/ingester/index/multi.go
  pkg/ingester/index/multi_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance_test.go
  pkg/logcli/query/query_test.go
  pkg/loki/config_compat.go
  pkg/loki/config_test.go
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/loki/validation.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/queryrange/shard_resolver.go
  pkg/storage/config/schema_config.go
  pkg/storage/config/schema_config_test.go
  pkg/storage/factory.go
  pkg/storage/factory_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/types/types.go
  tools/tsdb/helpers/util.go
  tools/tsdb/migrate-versions/main.go
Labels: size/XL, type/docs

#12502 fix: use nanosecond precision for timestamp in compacted tsdb index file names
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier_test.go
Labels: size/S

#12405 ci: remove previous attempt at workflow that's outdated
  .github/workflows/three-0-release.yml
Labels: size/XL

#12509 feat: prepare 3.0 release
  .github/release-workflows.jsonnet
  .github/workflows/three-0-release.yml
  .github/workflows/three-zero-release.yml
Labels: size/XL

#12510 docs: Attempt to fix whatever broke the docs builds
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/operations/storage/retention.md
Labels: size/M, type/docs

#12513 docs: fix version in URLs
  docs/sources/configure/bp-configure.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/upgrade.md
  docs/sources/query/logcli.md
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-5.md
  docs/sources/release-notes/v2-9.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Labels: size/M, type/docs

#12514 fix: loki version prefix in Makefile
  Makefile
Labels: size/XS, product-approved, backport release-3.0.x

#12517 docs: document service_name label in upgrade guide
  docs/sources/setup/upgrade/_index.md
Labels: size/S, type/docs, product-approved, backport release-3.0.x

#12516 docs: proper fix for #12510
  docs/sources/community/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/configure/bp-configure.md
  docs/sources/configure/storage.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/get-started/quick-start.md
  docs/sources/operations/query-acceleration-blooms.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/upgrade.md
  docs/sources/query/logcli.md
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-5.md
  docs/sources/release-notes/v2-9.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/cloud/eks/_index.md
  docs/sources/setup/install/helm/configure-storage/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/install/tanka.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
  docs/sources/setup/upgrade/_index.md
Labels: size/L, type/docs

#12521 docs: backport #12516 to 3.0 branch
  docs/sources/community/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/configure/bp-configure.md
  docs/sources/configure/storage.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/quick-start.md
  docs/sources/operations/query-acceleration-blooms.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/upgrade.md
  docs/sources/query/logcli.md
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-5.md
  docs/sources/release-notes/v2-9.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/cloud/eks/_index.md
  docs/sources/setup/install/helm/configure-storage/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/install/tanka.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
  docs/sources/setup/upgrade/_index.md
Labels: size/L, type/docs

#12522 ci: remove 3.0 release off main
  .github/release-workflows.jsonnet
  .github/workflows/three-0-release.yml
  .github/workflows/three-zero-release.yml
Labels: size/XL

#12523 ci: remove major release pipeline
  .github/release-workflows.jsonnet
  .github/workflows/three-zero-release.yml
Labels: size/XL

#12525 docs: remove whitespace in links
  docs/sources/community/design-documents/2020-02-Promtail-Push-API.md
  docs/sources/configure/bp-configure.md
  docs/sources/configure/storage.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/get-started/quick-start.md
  docs/sources/operations/query-acceleration-blooms.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/operations/storage/_index.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/upgrade.md
  docs/sources/query/logcli.md
  docs/sources/release-notes/v2-3.md
  docs/sources/release-notes/v2-5.md
  docs/sources/release-notes/v2-9.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/cloud/eks/_index.md
  docs/sources/setup/install/helm/configure-storage/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
  docs/sources/setup/install/tanka.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
  docs/sources/setup/upgrade/_index.md
Labels: size/L, type/docs

#12437 feat: include the stream we failed to create in the stream limit error message
  pkg/ingester/ingester_test.go
  pkg/ingester/instance.go
  pkg/validation/validate.go
Labels: size/XS

#12508 docs: Loki 3.0 Release Notes
  docs/sources/operations/storage/retention.md
  docs/sources/release-notes/next.md
  docs/sources/release-notes/v3.0.md
Labels: size/M, type/docs, product-approved, backport release-3.0.x

#12526 docs: Update URLs to fix broken docs builds
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/operations/storage/retention.md
Labels: size/M, type/docs

#12528 docs: backporting #12508 to 30 branch
  docs/sources/operations/storage/retention.md
  docs/sources/release-notes/next.md
  docs/sources/release-notes/v3-0.md
Labels: size/M, type/docs

#12444 fix: close res body
  integration/client/client.go
Labels: size/XS

#12532 docs: fix up storage page front matter
  docs/sources/configure/storage.md
  docs/sources/operations/storage/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#10716 docs: Minor fixes to zone-ingesters documentation
  docs/sources/operations/zone-ingesters.md
Labels: size/M, type/docs

#12536 fix: make the tsdb filenames correctly reproducible from the identifier
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier_test.go
Labels: size/M

#12530 docs: Update Release Notes page wweights
  docs/sources/release-notes/v2-9.md
Labels: type/docs, backport release-3.0.x

#12485 ci: Revert "ci: create build image version with go 1.21.9 and golangci 1.51.2"
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/Dockerfile
Labels: size/S

#12533 docs: Correct release date for loki v3
  docs/sources/release-notes/v3.0.md
Labels: size/XS, type/docs, backport release-3.0.x

#12544 docs: fix changelog
  CHANGELOG.md
Labels: size/L, product-approved, backport release-3.0.x

#12546 docs: manual backport of #12533
  docs/sources/release-notes/v3-0.md
Labels: size/XS, type/docs

#12541 docs: update page weights and menutitle
  docs/sources/get-started/architecture.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/quick-start.md
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#12548 fix(helm): only default bucket names when using minio
  Makefile
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/ci/default-single-binary-values.yaml
  production/helm/loki/ci/default-values.yaml
  production/helm/loki/ci/ingress-values.yaml
  production/helm/loki/ci/legacy-monitoring-values.yaml
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#12469 fix(operator): Configure Loki to use virtual-host-style URLs for S3 AWS endpoints
  operator/CHANGELOG.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/options.go
Labels: size/L, sig/operator

#12553 chore: [main] chore(release-2.9.x): release 2.9.7
  CHANGELOG.md
Labels: size/XS, backport, product-approved, autorelease: pending

#12503 fix(operator): Bump golang builder to 1.21.9
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
Labels: size/XS, sig/operator

#12493 docs: Rename API file to support publishing in GEL docs
  docs/sources/alert/_index.md
  docs/sources/get-started/labels/bp-labels.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/wal.md
  docs/sources/reference/_index.md
  docs/sources/reference/loki-http-api.md
  docs/sources/release-notes/v3.0.md
  docs/sources/send-data/fluentd/_index.md
  docs/sources/send-data/k6/_index.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/configuration.md
  docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/upgrade-to-6x/index.md
Labels: size/M, type/docs

#12555 chore(blooms): Remove noisy log line in index gateways
  pkg/storage/stores/shipper/indexshipper/indexgateway/gateway.go
Labels: size/XS

#12557 docs: Manual backport of #12493
  docs/sources/alert/_index.md
  docs/sources/get-started/labels/bp-labels.md
  docs/sources/operations/storage/logs-deletion.md
  docs/sources/operations/storage/retention.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/wal.md
  docs/sources/reference/_index.md
  docs/sources/reference/loki-http-api.md
  docs/sources/release-notes/v3-0.md
  docs/sources/send-data/fluentd/_index.md
  docs/sources/send-data/k6/_index.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/configuration.md
  docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/upgrade-to-6x/index.md
Labels: size/M, type/docs

#12560 docs: update release notes for 2.9.7
  docs/sources/release-notes/v2-9.md
Labels: size/M, type/docs

#12450 chore(operator): adds the workflow for release-please
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-release-please.yml
  .release-please-manifest.json
  operator/docs/operator/release.md
  operator/release-please-config.json
Labels: size/L, sig/operator

#12568 chore(operator): cleanup changelog for release-please
  operator/CHANGELOG.md
Labels: size/XS, sig/operator

#12573 chore(operator): correct branch name on release-please workflows
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-release-please.yml
Labels: size/XS

#12489 feat: improve syntax parser for pattern
  pkg/logql/log/pattern/parser.go
  pkg/logql/log/pattern/parser_test.go
Labels: size/M

#12562 chore: helm: Add headless service to bloom-gateway
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/bloom-gateway/service-bloom-gateway-headless.yaml
Labels: size/M, area/helm

#12564 docs: Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#12576 docs(operator): improved docs to run using kind
  operator/docs/operator/hack_operator_make_run.md
Labels: size/XS, sig/operator

#12565 docs: Update 3.0 Release Notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v3.0.md
Labels: size/M, type/docs

#12581 docs: manual backport #12565
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v3-0.md
Labels: size/M, type/docs

#12584 test: 2 data race fixes
  pkg/storage/chunk/cache/embeddedcache_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/table_manager.go
Labels: size/XS

#12580 docs: add missing aliases for moved pages
  docs/sources/configure/storage.md
  docs/sources/reference/loki-http-api.md
Labels: size/S, type/docs

#12579 feat: add warnings to metadata context directly
  pkg/logqlmodel/metadata/context.go
Labels: size/XS

#12600 docs: delete microservices reference
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/XS, type/docs

#12597 test: Fix deadlock in table_manager relating to Stop/SyncTables
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/downloads/table_manager.go
Labels: size/M

#12617 docs: Update publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS

#12591 docs: helm: Update monolithic guide.
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/S, type/docs, backport release-3.0.x

#12482 fix: lambda-promtail, update s3 filename regex to allow finding of log files from AWS GovCloud regions
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
Labels: size/L

#12598 docs: hide the sizing calculator until updated
  docs/sources/setup/_index.md
  docs/sources/setup/install/_index.md
  docs/sources/setup/size/_index.md
Labels: size/XS, type/docs

#12578 docs: clarify upgrade behavior
  docs/sources/operations/scalability.md
  docs/sources/release-notes/v2-6.md
  docs/sources/setup/upgrade/_index.md
Labels: size/S, type/docs

#12628 feat: Enable log volume endpoint by default
  docs/sources/shared/configuration.md
  pkg/validation/limits.go
Labels: size/XS, type/docs

#12635 fix: fix setting of info log level when trying to detect level from log lines
  pkg/distributor/distributor.go
Labels: size/XS

#12631 docs: correct typo on api param
  docs/sources/reference/loki-http-api.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#12638 docs: manual backport of 12631
  docs/sources/reference/api.md
Labels: size/XS, type/docs

#12604 docs: add play link, correct errors to visualization instructions
  docs/sources/visualize/grafana.md
Labels: size/S, type/docs, backport release-2.9.x, backport release-3.0.x

#12623 docs: manual backport of #12578
  docs/sources/operations/scalability.md
  docs/sources/release-notes/v2-6.md
  docs/sources/setup/upgrade/_index.md
Labels: size/M, type/docs

#12640 docs: manual backport 12604
  docs/sources/visualize/grafana.md
Labels: size/M, type/docs

#12527 ci: add a github action for linting jsonnet
  .drone/drone.jsonnet
  .drone/drone.yml
  .github/workflows/lint-jsonnet.yml
  production/loki-mixin-compiled-ssd/alerts.yaml
  production/loki-mixin-compiled-ssd/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled-ssd/rules.yaml
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-mixin-recording-rules.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/rules.yaml
  production/loki-mixin/.lint
  production/loki-mixin/alerts.libsonnet
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/dashboard-recording-rules.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/promtail-mixin/.lint
  production/promtail-mixin/alerts.libsonnet
  production/promtail-mixin/dashboards.libsonnet
Labels: size/XXL

#12630 chore: Restructure `indexgateway` component package
  pkg/indexgateway/client.go
  pkg/indexgateway/client_pool.go
  pkg/indexgateway/client_test.go
  pkg/indexgateway/config.go
  pkg/indexgateway/gateway.go
  pkg/indexgateway/gateway_test.go
  pkg/indexgateway/grpc.go
  pkg/indexgateway/metrics.go
  pkg/indexgateway/shufflesharding.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/querier/querier.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/indexshipper/shipper.go
  pkg/util/limiter/combined_limits.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/L

#12644 fix: fix setting of info log level when trying to detect level from log lines
  pkg/distributor/distributor.go
Labels: size/XS

#12558 fix(blooms): Fix findGaps when ownership goes to MaxUInt64 and that is covered by existing meta
  pkg/bloomcompactor/controller.go
  pkg/bloomcompactor/controller_test.go
Labels: size/M

#12636 feat(blooms): record time spent resolving shards
  pkg/logql/metrics.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/storage/stores/index/index.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/M

#12567 fix: incorrect compactor matcher in loki-deletion dashboard mixin
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/S

#12662 docs: fix doc-validate errors due to config move
  docs/sources/alert/_index.md
  docs/sources/configure/bp-configure.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/operations/automatic-stream-sharding.md
  docs/sources/operations/blocking-queries.md
  docs/sources/operations/overrides-exporter.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/storage/schema/_index.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/tsdb.md
  docs/sources/release-notes/v2-4.md
  docs/sources/release-notes/v2-5.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/fluentd/_index.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/stages/limit.md
  docs/sources/send-data/promtail/troubleshooting/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
Labels: type/docs, backport release-2.9.x, backport release-3.0.x

#12665 docs: fix doc-validate errors due to config move (#12662)
  docs/sources/alert/_index.md
  docs/sources/configure/bp-configure.md
  docs/sources/get-started/components.md
  docs/sources/get-started/deployment-modes.md
  docs/sources/get-started/hash-rings.md
  docs/sources/operations/automatic-stream-sharding.md
  docs/sources/operations/blocking-queries.md
  docs/sources/operations/overrides-exporter.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/storage/boltdb-shipper.md
  docs/sources/operations/storage/schema/_index.md
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/operations/storage/tsdb.md
  docs/sources/release-notes/v2-4.md
  docs/sources/release-notes/v2-5.md
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/fluentd/_index.md
  docs/sources/send-data/lambda-promtail/_index.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/stages/limit.md
  docs/sources/send-data/promtail/troubleshooting/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
Labels: size/L, type/docs

#12650 fix: Add a missing `continue` in fuse which may cause incorrect bloom test result
  pkg/storage/bloom/v1/fuse.go
Labels: size/XS, feature/blooms

#12607 docs: add labels expressions to categories
  docs/sources/query/log_queries/_index.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#12654 chore: Update reads and reads resources dashs
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/XL

#12641 fix(helm): Removed duplicate bucketNames from documentation and fixed key name `deploymentMode`
  docs/sources/setup/install/helm/install-monolithic/_index.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/S, area/helm, type/docs

#12673 fix: Fix the lokitool imports
  cmd/lokitool/main.go
  pkg/tool/client/rules.go
  pkg/tool/commands/rules.go
  pkg/tool/commands/rules_test.go
  pkg/tool/printer/printer.go
  pkg/tool/printer/printer_test.go
  pkg/tool/rules/compare.go
  pkg/tool/rules/compare_test.go
  pkg/tool/rules/parser.go
  pkg/tool/rules/parser_test.go
  pkg/tool/rules/rules.go
  pkg/tool/rules/rules_test.go
Labels: size/M

#12672 chore(promtail): Update Promtail base image to Debian 12.5
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
Labels: size/M

#12677 docs: fix mal formed link
  docs/sources/send-data/promtail/installation.md
Labels: size/XS, type/docs, backport release-3.0.x

#12671 ci: Fix promtail windows test github action
  .github/workflows/promtail-windows-test.yml
Labels: size/XS

#12676 chore(operator): Update skipRange for next OpenShift release
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#12674 fix: crrect initialization of a few slices
  pkg/querier/ingester_querier.go
  pkg/storage/stores/series/series_index_store.go
Labels: size/XS

#12114 fix: Use to the proper config names in warning messages
  pkg/validation/validate.go
Labels: size/XS

#12656 fix: promtail race fixes
  clients/pkg/promtail/client/client_writeto_test.go
  clients/pkg/promtail/client/manager_test.go
  clients/pkg/promtail/promtail_wal_test.go
  clients/pkg/promtail/targets/cloudflare/util_test.go
  clients/pkg/promtail/targets/file/filetarget.go
  clients/pkg/promtail/targets/file/filetarget_test.go
  clients/pkg/promtail/targets/kafka/consumer_test.go
  clients/pkg/promtail/targets/kafka/target_syncer_test.go
  clients/pkg/promtail/targets/kafka/target_test.go
  clients/pkg/promtail/targets/kafka/topics_test.go
  clients/pkg/promtail/utils/entries_test.go
  clients/pkg/promtail/wal/watcher_test.go
  clients/pkg/promtail/wal/writer_test.go
Labels: size/L

#12685 feat: Add pattern ingester support in SSD mode
  docs/sources/setup/install/helm/reference.md
  pkg/loki/loki.go
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#12679 perf: TSDB: Add fast-path to `inversePostingsForMatcher`
  pkg/storage/stores/shipper/indexshipper/tsdb/querier.go
Labels: size/S

#12675 chore(helm): various helm fixes
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/src/helm-test/canary_test.go
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/backend/query-scheduler-discovery.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#11708 feat(operator): Add support for Swift TLS CA configuration
  operator/CHANGELOG.md
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
Labels: size/L, sig/operator

#12655 test: Add new tests for Drain pattern matching
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/testdata/agent-logfmt.txt
  pkg/pattern/drain/testdata/custom.txt
  pkg/pattern/drain/testdata/drone-json.txt
  pkg/pattern/drain/testdata/ingester-logfmt.txt
  pkg/pattern/ingester_querier.go
  pkg/pattern/stream.go
Labels: size/XXL

#12690 feat: Enable log volume endpoint by default in helm
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#12653 feat: add toleration for bloom components
  ADOPTERS.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/bloom-compactor/statefulset-bloom-compactor.yaml
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
Labels: size/S, area/helm, feature/blooms

#12659 fix: Ingester zoneAwareReplication
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
Labels: size/S, area/helm

#12411 fix: Missing password for Loki-Canary when loki.auth_enabled is true
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#12613 fix: mixin generation when cluster label is changed
  production/loki-mixin/alerts.libsonnet
  production/loki-mixin/dashboards/loki-canary-dashboard.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
  production/loki-mixin/dashboards/recording-rules.libsonnet
Labels: size/M

#12707 fix(mixin): dashboards $__auto fix
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Labels: size/S

#12706 ci: update build image to use newer versions of jsonnet and other related tools
  loki-build-image/Dockerfile
Labels: size/XS

#12682 fix: make detected fields work for both json and proto
  integration/client/client.go
  integration/explore_logs_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/detected/fields.go
Labels: size/L

#12708 fix: updated all dockerfiles go1.22
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/calculator.Dockerfile
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-tsdb-storage-s3/dev.dockerfile
  tools/lambda-promtail/Dockerfile
  tools/tsdb/bloom-tester/Dockerfile
Labels: size/M, sig/operator, area/helm

#12590 chore(helm): set Singlebinary as trigger for replicas
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/S, area/helm

#12693 chore(operator) Revert "feat(operator): Add support for Swift TLS CA configuration"
  operator/CHANGELOG.md
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
Labels: size/L, sig/operator

#12709 fix: Add missing OTLP endpoint to nginx config
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#12730 ci: update drone image version to 0.33.2
  .drone/drone.jsonnet
  .drone/drone.yml
  loki-build-image/README.md
Labels: size/S

#12733 docs: Fix mangled admonition block in alerting/recording rule docs
  docs/sources/alert/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#12725 docs: Add Azure example configuration snippets
  docs/sources/configure/examples/configuration-examples.md
  docs/sources/configure/examples/yaml/16-Azure-Account-Name-Example.yaml
  docs/sources/configure/examples/yaml/17-Azure-Service-Principal-Example.yaml
Labels: size/M, type/docs, backport release-2.9.x, backport release-3.0.x
