Repository grafana/loki, pull requests merged in 2024-10, with the labels that each got.

#14314 fix(operator): Use empty initiliazed pod status map when no pods
  operator/internal/status/components.go
  operator/internal/status/components_test.go
Labels: size/M, sig/operator

#14138 docs: Reorganize Query Templates page
  docs/sources/query/template_functions.md
Labels: size/XL, type/docs, backport release-2.9.x, backport release-3.0.x, backport release-3.1.x, backport k218

#14336 docs: Reorganize Query Templates page (#14138)
  docs/sources/query/template_functions.md
Labels: size/XL, type/docs

#14339 chore: Add contributing and versioning docs on helm chart
  .github/pull_request_template.md
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
Labels: size/S, area/helm

#14331 feat!(operator): Update Loki operand to v3.2.0
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#14239 feat: mixin / add loki compaction not successfull alert
  production/loki-mixin-compiled-ssd/alerts.yaml
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin/alerts.libsonnet
Labels: size/L

#14332 chore(operator): add JoaoBraveCoding to loki-operator owners
  CODEOWNERS
Labels: size/XS

#14304 feat(ingester): implement partition shuffle sharding for ingester
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/limits.go
  pkg/ingester/ingester.go
  pkg/ingester/limiter.go
  pkg/ingester/recalculate_owned_streams.go
  pkg/ingester/recalculate_owned_streams_test.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#14296 feat: Apply patterns line length limit to json message key
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
Labels: size/M

#14154 feat: ability to log stream selectors before service name detection
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/L

#14329 fix: Transform `ObjectExistsWithSize` into `GetAttributes`
  pkg/ingester-rf1/objstore/storage.go
  pkg/storage/chunk/client/alibaba/oss_object_client.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/chunk/client/congestion/controller.go
  pkg/storage/chunk/client/congestion/controller_test.go
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/ibmcloud/cos_object_client.go
  pkg/storage/chunk/client/local/fs_object_client.go
  pkg/storage/chunk/client/local/fs_object_client_test.go
  pkg/storage/chunk/client/object_client.go
  pkg/storage/chunk/client/openstack/swift_object_client.go
  pkg/storage/chunk/client/prefixed_object_client.go
  pkg/storage/chunk/client/testutils/inmemory_storage_client.go
  pkg/tool/audit/audit_test.go
Labels: size/L

#11495 feat: mixin, allow overriding of some labels by parameterizing mixin recording/alert rules
  production/loki-mixin/alerts.libsonnet
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/mixin-ssd.libsonnet
  production/loki-mixin/mixin.libsonnet
Labels: size/M

#14372 chore(storage/bloom/v1): bind bloom page size to max bloom size
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
Labels: size/M

#14350 feat: detected field values
  cmd/logcli/main.go
  docs/sources/setup/install/helm/reference.md
  pkg/ingester-rf1/ingester.go
  pkg/ingester/ingester.go
  pkg/logcli/client/client.go
  pkg/logcli/client/file.go
  pkg/logcli/detected/fields.go
  pkg/logcli/query/query_test.go
  pkg/loghttp/detected.go
  pkg/loghttp/params.go
  pkg/loghttp/query.go
  pkg/logproto/compat.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  pkg/lokifrontend/frontend/v1/frontend_test.go
  pkg/querier-rf1/http.go
  pkg/querier-rf1/querier.go
  pkg/querier/http.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/querier.go
  pkg/querier/queryrange/codec.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/detected_fields_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/splitters.go
  pkg/storage/detected/fields.go
  pkg/storage/detected/fields_test.go
  production/helm/loki/values.yaml
Labels: size/XL, area/helm, type/docs

#14371 chore(operator): Update skipRange for next release
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#14011 fix(helm): add missing `loki.storage.azure.chunkDelimiter` parameter to Helm chart
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#14368 fix(build): Use Debian Bullseye base image for build image
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  Makefile
  docs/sources/community/maintaining/release-loki-build-image.md
  loki-build-image/Dockerfile
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/storage/chunk/client/grpc/grpc.pb.go
Labels: size/M, type/build, type/docs, type/bug, backport release-3.1.x, backport release-3.2.x

#13745 docs: OpenTelemetry Collector Sandbox Tutorial
  docs/sources/send-data/otel/otel-collector-getting-started.md
Labels: size/L, type/docs

#14328 chore(operator): fix CI to use new Github app instead of PAT
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-publish-operator-hub.yml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
Labels: size/M

#14365 fix(ci): fixed `Publish Rendered Helm Chart Diff` workflow
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#14330 feat(kafka): Replay kafka from last commit before becoming ready
  docs/sources/shared/configuration.md
  pkg/ingester/ingester.go
  pkg/ingester/kafka_consumer.go
  pkg/kafka/config.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_test.go
  pkg/kafka/testkafka/cluster.go
Labels: size/L, type/docs

#14387 fix: Revert build image to Debian Bullseye to fix libc version issue in Promtail
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
  docs/sources/community/maintaining/release-loki-build-image.md
  loki-build-image/Dockerfile
  loki-build-image/README.md
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/storage/chunk/client/grpc/grpc.pb.go
Labels: size/L, type/docs

#14386 fix: Revert build image to Debian Bullseye to fix libc version issue in Promtail
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  Makefile
  docs/sources/community/maintaining/release-loki-build-image.md
  loki-build-image/Dockerfile
  loki-build-image/README.md
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/storage/chunk/client/grpc/grpc.pb.go
Labels: size/M, type/docs

#14359 feat(kafka): Implement limiter using partition ring for Kafka
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/owned_streams_test.go
  pkg/ingester/recalculate_owned_streams_test.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
Labels: size/L

#14391 test(kafka): Added additional test for kafka startup logic
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_test.go
Labels: size/M

#14303 fix(distributor): validate partition ring is kafka is enabled
  pkg/loki/modules.go
Labels: size/XS

#14393 fix(logql): Fix panic in json parsing when using empty array index
  go.mod
  go.sum
  pkg/logql/log/parser_test.go
  vendor/github.com/grafana/jsonparser/parser.go
  vendor/modules.txt
Labels: size/S, type/bug, backport release-3.1.x, backport release-3.2.x

#14408 fix: promtail config unmarshalling
  clients/pkg/promtail/config/config.go
Labels: size/XS

#14413 chore: Make metric for dequeued tasks in bloom-gateway a Histogram
  pkg/bloomgateway/metrics.go
  pkg/bloomgateway/worker.go
Labels: size/S

#14420 fix(storage/chunk/client/aws): have GetObject check for canceled context
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/S, type/bug, backport release-3.1.x, backport release-3.2.x, backport k223

#14426 fix(kafka): Set namespace for Loki kafka metrics
  pkg/distributor/distributor.go
  pkg/kafka/writer_client.go
Labels: size/M

#14425 chore: bump docker to 23.0.15
  go.mod
  go.sum
  vendor/github.com/docker/docker/client/container_wait.go
  vendor/github.com/docker/docker/pkg/ioutils/readers.go
  vendor/github.com/docker/docker/pkg/ioutils/writers.go
  vendor/modules.txt
Labels: size/XS

#14404 docs: Updated Promtail to Alloy
  docs/sources/setup/install/_index.md
Labels: size/S, type/docs

#14418 feat(kafka): Enable querier to optionally query partition ingesters
  .golangci.yml
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  vendor/github.com/grafana/dskit/ring/partition_instance_ring.go
  vendor/modules.txt
Labels: size/L, type/docs

#14436 chore: Log errors when processing a download task fails
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
Labels: size/XS

#14438 chore: Rename new querier flag to use dashes
  docs/sources/shared/configuration.md
  pkg/querier/querier.go
Labels: size/XS, type/docs

#14440 feat(Helm): Update Loki Helm chart for restricted environments
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
  production/helm/loki/templates/index-gateway/statefulset-index-gateway.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/templates/tokengen/clusterrole-tokengen.yaml
  production/helm/loki/templates/tokengen/clusterrolebinding-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#14446 chore: Add new field to "stats-report" log line in bloom gateway
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/stats.go
Labels: size/S

#14449 docs: remove reference to Agent Flow
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs

#14374 docs: Revise the LogQL Analyzer topic
  docs/sources/query/analyzer.md
  docs/sources/query/bp-query.md
  docs/sources/query/ip.md
  docs/sources/query/log_queries/_index.md
  docs/sources/query/metric_queries.md
  docs/sources/query/query_examples.md
  docs/sources/query/template_functions.md
Labels: size/L, type/docs

#14424 fix(ci): updated helm diff rendering workflow
  .github/workflows/helm-loki-ci.yml
Labels: size/S

#13827 docs: Update alloy-otel-logs.md to correct a typo
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x

#14444 fix: level detection for warning level
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M, type/bug, product-approved, backport k223

#14456 ci: speciy golangci-lint build tags at runtime
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  .golangci.yml
  Makefile
Labels: size/S

#14442 fix: nix build, downgrade toolchain to go1.23.1
  .github/workflows/nix-ci.yaml
  flake.lock
  go.mod
  nix/packages/faillint.nix
  nix/packages/loki.nix
Labels: size/M

#14452 docs: remove reference to Agent Flow (#14449)
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs

#14074 docs: corrected result for the `flags` field in the examples
  docs/sources/send-data/promtail/stages/cri.md
Labels: size/XS, type/docs

#14466 docs: update Helm installation topics
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/S, type/docs

#14473 docs: Update Promtail installation
  docs/sources/send-data/promtail/installation.md
Labels: size/M, type/docs

#14477 docs: Small update to install docs
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/XS, type/docs

#13605 feat(helm): add tolerations to pattern-ingester statefulset
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
Labels: size/XS, area/helm

#14445 chore(operator): Upgrade operator-sdk 1.37.0 and kind 0.23.0
  operator/.bingo/Variables.mk
  operator/.bingo/kind.mod
  operator/.bingo/kind.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community/manager_auth_proxy_patch.yaml
Labels: size/XXL, sig/operator

#14460 feat(kafka): Remove rate limits for kafka ingestion
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/limiter_test.go
  pkg/ingester/owned_streams_test.go
  pkg/ingester/recalculate_owned_streams_test.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/kafka/partition/reader.go
Labels: size/L

#14004 docs: Updated Fluent Bit docs to use official plugin + Sandbox
  docs/sources/send-data/fluentbit/_index.md
  docs/sources/send-data/fluentbit/community-plugin.md
  docs/sources/send-data/fluentbit/fluent-bit-loki-tutorial.md
  docs/sources/send-data/fluentbit/fluent-bit-plugin.md
Labels: size/XL, type/docs

#14487 feat(kafka): Add support for SASL auth to Kafka
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/kafka/client/logger.go
  pkg/kafka/client/reader_client.go
  pkg/kafka/client/reader_client_test.go
  pkg/kafka/client/writer_client.go
  pkg/kafka/client/writer_client_test.go
  pkg/kafka/config.go
  pkg/kafka/config_test.go
  pkg/kafka/partition/committer_test.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_test.go
  pkg/kafka/testkafka/cluster.go
  vendor/github.com/twmb/franz-go/pkg/sasl/plain/plain.go
  vendor/modules.txt
Labels: size/L, type/docs

#14464 fix: always write detected_level when enabled, even if unknown
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/XS

#14482 docs: update sample result on loki setup page
  docs/sources/setup/install/docker.md
Labels: size/S, type/docs

#14499 fix(logql): updated JSONExpressionParser not to unescape extracted values if it is JSON object.
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/M

#14501 ci: fix helm release
  .github/workflows/helm-release.yaml
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/helm-weekly-release.sh
  docs/Makefile
  flake.nix
Labels: size/L, type/docs

#14495 ci: add logql-analyzer CI
  .github/workflows/logql-analyzer.yml
Labels: size/L

#14515 fix(logql): A renamed label should use ParsedLabel category to take precendence
  pkg/logql/log/fmt.go
  pkg/logql/log/fmt_test.go
Labels: size/S, type/bug, backport k224

#13690 feat: Extract task computing into a strategy interface
  docs/sources/shared/configuration.md
  pkg/bloombuild/planner/config.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/strategies/factory.go
  pkg/bloombuild/planner/strategies/splitkeyspace.go
  pkg/bloombuild/planner/strategies/splitkeyspace_test.go
  pkg/bloombuild/planner/strategies/util.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#14505 feat(kafka): Start ingester flush loop before trying to catch up from Kafka
  pkg/ingester/ingester.go
Labels: size/XS

#14511 ci: fix logql analyzer
  .github/workflows/logql-analyzer.yml
  .github/workflows/scripts/helm-tagged-release.sh
  .github/workflows/scripts/helm-weekly-release.sh
Labels: size/S

#14519 ci: fix logql analyzer (backport release-3.1.x) [manual backport]
  .github/workflows/logql-analyzer.yml
  .github/workflows/scripts/helm-tagged-release.sh
  .github/workflows/scripts/helm-weekly-release.sh
Labels: size/L, backport, type/bug

#14518 ci: fix logql analyzer (backport release-3.2.x) [manual backport]
  .github/workflows/logql-analyzer.yml
  .github/workflows/scripts/helm-tagged-release.sh
  .github/workflows/scripts/helm-weekly-release.sh
Labels: size/L, backport, type/bug

#14521 test(bloombuild/planner/strategies): use require.ElementsMatch in test
  pkg/bloombuild/planner/strategies/splitkeyspace_test.go
Labels: size/XS

#14524 docs: Pre-format example for named_stores_config
  docs/sources/shared/configuration.md
  tools/doc-generator/parse/root_blocks.go
Labels: size/M, type/docs

#14527 fix(ci): updated release workflow to use github app token
  .github/release-workflows.jsonnet
  .github/workflows/release.yml
Labels: size/XS

#14536 chore(indexgateway): log trace ID in calls to GetChunkRef
  pkg/indexgateway/gateway.go
Labels: size/XS

#14525 fix(logcli): create new tail response for every line
  pkg/logcli/query/tail.go
Labels: size/XS

#14523 docs: update contributing guidelines for the helm chart
  production/helm/loki/CHANGELOG.md
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
Labels: area/helm, type/docs

#14259 chore: update path for local config in production readme
  production/README.md
Labels: size/XS

#14537 docs: Update release notes for 3.2.1
  docs/sources/release-notes/v3-1.md
  docs/sources/release-notes/v3-2.md
Labels: size/S, type/docs, backport release-3.2.x

#14540 docs: Update release notes for 3.2.1 (#14537)
  docs/sources/release-notes/v3-1.md
  docs/sources/release-notes/v3-2.md
Labels: size/S, type/docs

#14541 docs: Update release notes for 3.1.2 (#14538)
  docs/sources/release-notes/v3-1.md
Labels: size/S, type/docs

#14533 feat(helm): add configurable extraEnvFrom to admin-api and enterprisegw
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/gateway/deployment-gateway-enterprise.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#14545 chore: hide docs for thanos clients + restore original cli prefix
  docs/sources/shared/configuration.md
  pkg/loki/common/common.go
  pkg/storage/bucket/client.go
  pkg/storage/factory.go
Labels: size/M, type/docs

#14546 chore: thanos client remove `object-store.` prefix
  pkg/storage/bucket/client.go
Labels: size/XS, type/docs

#14306 chore: Improve logging of jumphash server selector
  pkg/bloomgateway/client_pool.go
  pkg/storage/chunk/cache/memcached_client.go
  pkg/util/jumphash/memcached_client_selector.go
  pkg/util/jumphash/memcached_client_selector_test.go
Labels: size/S

#14528 feat: Configurable list of json fields to mine patterns
  pkg/loki/modules.go
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_benchmark_test.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
  pkg/pattern/flush_test.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
  pkg/util/limiter/combined_limits.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L

#14526 feat(operator): Update Loki operand to v3.2.1
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#14529 chore(mixin): Update dashboards for bloom components
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-build.json
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-gateway.json
  production/loki-mixin-compiled/dashboards/loki-bloom-build.json
  production/loki-mixin-compiled/dashboards/loki-bloom-gateway.json
  production/loki-mixin/.lint
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/dashboard-bloom-build.json
  production/loki-mixin/dashboards/dashboard-bloom-gateway.json
  production/loki-mixin/dashboards/loki-bloom-build.libsonnet
Labels: size/XXL

#14539 chore(bloom): remove unused code from blooms
  pkg/bloombuild/builder/batch.go
  pkg/bloombuild/builder/batch_test.go
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/spec.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/common/tsdb.go
  pkg/bloombuild/common/tsdb_test.go
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/strategies/splitkeyspace.go
  pkg/bloombuild/planner/util.go
  pkg/bloombuild/planner/util_test.go
  pkg/bloombuild/protos/compat.go
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_pool.go
  pkg/bloomgateway/metrics.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/stats.go
  pkg/bloomgateway/util.go
  pkg/bloomgateway/util_test.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/block_writer.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_builder.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/bounds.go
  pkg/storage/bloom/v1/bounds_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/dedupe_test.go
  pkg/storage/bloom/v1/filter/buckets.go
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/filter/scalable_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/index_querier.go
  pkg/storage/bloom/v1/merge.go
  pkg/storage/bloom/v1/merge_test.go
  pkg/storage/bloom/v1/reader.go
  pkg/storage/bloom/v1/schema.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/bloom/v1/versioned_builder.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  pkg/storage/chunk/cache/resultscache/cache.go
Labels: size/XL

#14549 refactor: Extract common functionality to test utils pkg
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/plannertest/utils.go
  pkg/bloombuild/planner/retention_test.go
  pkg/bloombuild/planner/strategies/splitkeyspace_test.go
Labels: size/XL

#14551 fix(operator): Fix make build target for size-calculator
  operator/Makefile
Labels: size/XS, sig/operator

#14553 chore: Fix variable declaration for Bloom Build dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki-bloom-build.json
  production/loki-mixin-compiled/dashboards/loki-bloom-build.json
  production/loki-mixin/dashboards/loki-bloom-build.libsonnet
Labels: size/XS

#14434 feat(helm): Add kubeVersionOverride for Helm chart
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/templates/compactor/statefulset-compactor.yaml
  production/helm/loki/templates/index-gateway/statefulset-index-gateway.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#14560 docs: support clarification for filesystem
  docs/sources/operations/storage/filesystem.md
Labels: size/S, type/docs

#14559 chore: Update Helm docs regarding bloom components
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/S, type/docs

#14574 fix: lint errors
  pkg/bloombuild/builder/builder.go
Labels: size/XS

#14573 fix(operator): Fix building the size-calculator image
  operator/calculator.Dockerfile
Labels: size/XS, sig/operator

#14581 fix: Update renovate ignore for operator API with new module path
  .github/renovate.json
Labels: size/XS

#14587 fix(operator): correctly ignore again BlotDB dashboards
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/jsonnet/config.libsonnet
Labels: size/XL, sig/operator

#14547 feat: New bloom planning using chunk size TSDB stats
  docs/sources/shared/configuration.md
  integration/bloom_building_test.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/plannertest/utils.go
  pkg/bloombuild/planner/strategies/chunksize.go
  pkg/bloombuild/planner/strategies/chunksize_test.go
  pkg/bloombuild/planner/strategies/factory.go
  pkg/bloombuild/planner/strategies/splitkeyspace.go
  pkg/bloombuild/planner/strategies/splitkeyspace_test.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#14410 feat(operator)!: Provide default OTLP attribute configuration
  operator/api/loki/v1/lokistack_types.go
  operator/api/loki/v1/v1.go
  operator/api/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/config.go
  operator/internal/manifests/config_otlp.go
  operator/internal/manifests/config_otlp_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/openshift/otlp.go
  operator/internal/validation/lokistack.go
  operator/internal/validation/lokistack_test.go
Labels: size/XXL, sig/operator

#12924 feat: Allows to configure client_max_body_size
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#14583 docs: fix heading levels
  docs/sources/release-notes/v3-1.md
Labels: size/XS, type/docs, backport release-3.1.x, backport release-3.2.x

#14588 fix(s3): disable client retries when congestion control is enabled
  docs/sources/shared/configuration.md
  pkg/storage/factory.go
Labels: size/S, type/docs

#14599 docs: Fix Slack URL
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#14407 feat(operator): introduce 1x.pico size
  operator/api/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#14602 fix: correct OTLP documentation typo
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#14555 docs: Update docs for structured metadata blooms
  docs/sources/get-started/hash-rings.md
  docs/sources/get-started/quick-start.md
  docs/sources/operations/bloom-filters.md
  docs/sources/operations/query-acceleration-blooms.md
  docs/sources/query/query_accceleration.md
Labels: size/XL, type/docs

#14608 docs: Update _index.md #fix typos
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs

#14611 docs: Update _index.md #fix typos (#14608)
  docs/sources/get-started/_index.md
Labels: size/S, type/docs

#14571 feat(loki): include structured_metadata size while asserting rate limit
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/ingester-rf1/instance.go
  pkg/ingester-rf1/stream.go
  pkg/ingester/instance.go
  pkg/ingester/stream.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/push.go
  pkg/util/entry_size.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#14613 fix(operator): Disable log level discovery for OpenShift tenancy modes
  operator/internal/manifests/config.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/options.go
Labels: size/M, sig/operator

#11315 feat(storage): Azure backend using thanos.io/objstore
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/config.go
  pkg/storage/bucket/azure/config_test.go
  pkg/storage/bucket/object_client_adapter.go
  pkg/storage/bucket/object_client_adapter_test.go
  pkg/storage/chunk/client/azure/blob_storage_thanos_object_client.go
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/gcp/gcs_object_client_test.go
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client.go
  pkg/storage/factory.go
Labels: size/XL, type/docs

#14577 feat: Do not add empty blooms to offsets
  integration/bloom_building_test.go
  pkg/bloombuild/builder/spec.go
  pkg/storage/bloom/v1/bloom_builder.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_builder.go
  pkg/storage/bloom/v1/metrics.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/versioned_builder.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
Labels: size/L

#11221 feat(storage): AWS backend using thanos.io/objstore
  pkg/storage/bucket/client.go
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/bucket/s3/config_test.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_thanos_object_client.go
  pkg/storage/factory.go
  pkg/util/http.go
Labels: size/XL, type/docs

#14617 fix(mixins): retention dashboards fix metric name
  production/loki-mixin-compiled-ssd/dashboards/loki-retention.json
  production/loki-mixin-compiled/dashboards/loki-retention.json
  production/loki-mixin/dashboards/loki-retention.libsonnet
Labels: size/XS

#14630 fix(operator): Move OTLP attribute for statefulset name to stream labels
  operator/internal/manifests/openshift/otlp.go
Labels: size/XS, sig/operator

#14585 fix: fix bug in query result marshaling for invalid utf8 characters
  pkg/util/marshal/query.go
  pkg/util/marshal/query_test.go
Labels: size/M

#14619 fix: Add s3 principal to iam policy attached to sqs in lambda-promtail terraform code
  tools/lambda-promtail/sqs.tf
Labels: size/XS

#14632 fix: More correctly report starting phase during kafka-reader startup
  pkg/kafka/partition/reader.go
Labels: size/XS

#14634 fix(blooms): Check length of tasks before accessing first element in slice
  pkg/bloomgateway/bloomgateway.go
Labels: size/S

#14620 feat(operator): User-guide for OTLP configuration
  operator/docs/user-guides/open-telemetry.md
Labels: size/L, sig/operator

#11713 feat(ruler): enables ruler store that uses clients from thanos-io/objstore pkg
  docs/sources/shared/configuration.md
  pkg/configs/client/client.go
  pkg/configs/client/configs_test.go
  pkg/configs/userconfig/config.go
  pkg/configs/userconfig/config_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/ruler/base/storage.go
  pkg/ruler/rulestore/bucketclient/bucket_client.go
  pkg/ruler/rulestore/config.go
  pkg/ruler/rulestore/configdb/store.go
  pkg/ruler/rulestore/configdb/store_test.go
  pkg/storage/bucket/sse_bucket_client.go
  pkg/storage/bucket/user_bucket_client.go
  pkg/util/limiter/combined_limits.go
  pkg/validation/limits.go
  tools/doc-generator/parse/root_blocks.go
Labels: size/XXL, type/docs

#14633 docs: Fix formatting bug
  docs/sources/community/maintaining/release/backport-commits.md
Labels: size/S, type/docs, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x

#14641 chore(operator): Bump netlify environment
  operator/netlify.toml
Labels: size/XS, sig/operator

#14636 chore: Add chunk count from `GetChunkRef` call to stats context
  pkg/indexgateway/gateway.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logqlmodel/stats/context.go
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
  pkg/storage/stores/series/series_index_gateway_store.go
Labels: size/M

#14218 fix: promtail parser for azureeventhubs message without time field
  CHANGELOG.md
  clients/pkg/promtail/targets/azureeventhubs/parser.go
  clients/pkg/promtail/targets/azureeventhubs/parser_test.go
  clients/pkg/promtail/targets/azureeventhubs/testdata/message_without_time_and_time_stamp.json
  clients/pkg/promtail/targets/azureeventhubs/testdata/message_without_time_with_time_stamp.json
Labels: size/M

#14642 docs: Fix formatting bug (#14633)
  docs/sources/community/maintaining/release/backport-commits.md
Labels: size/S, type/docs

#14647 chore: Disable digest updates for Loki renovate config
  .github/renovate.json
Labels: size/XS

#14644 chore(operator): prepare community release v0.7.0
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
Labels: size/L, sig/operator

#14498 feat: Add support for partition ingester in dashboards
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-reads.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
  production/loki-mixin/dashboards/loki-writes.libsonnet
Labels: size/L

#14660 fix(operator): add 1x.pico OpenShift UI dropdown menu
  operator/api/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#14517 docs: Deploy Loki Helm on AWS guide
  docs/sources/setup/install/helm/_index.md
  docs/sources/setup/install/helm/deployment-guides/_index.md
  docs/sources/setup/install/helm/deployment-guides/aws.md
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-monolithic/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/XXL, type/docs

#14665 fix: Add tenant limits as dependency to pattern ingester
  pkg/loki/loki.go
Labels: size/XS

#14662 docs: Deploy Loki Helm on AWS guide (#14517)
  docs/sources/setup/install/helm/_index.md
  docs/sources/setup/install/helm/deployment-guides/_index.md
  docs/sources/setup/install/helm/deployment-guides/aws.md
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-monolithic/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/XXL, type/docs

#14663 docs: Deploy Loki Helm on AWS guide (#14517)
  docs/sources/setup/install/helm/_index.md
  docs/sources/setup/install/helm/deployment-guides/_index.md
  docs/sources/setup/install/helm/deployment-guides/aws.md
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-monolithic/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/XXL, type/docs

#14653 docs: Fixing two broken links
  docs/sources/query/bp-query.md
Labels: size/XS, type/docs

#14679 feat: add gauge loki_ingest_storage_reader_phase
  pkg/kafka/partition/reader.go
Labels: size/S

#14681 chore: move readerMetrics to separate file metrics.go
  pkg/kafka/partition/metrics.go
  pkg/kafka/partition/reader.go
Labels: size/L

#14661 fix(blooms): Exclude label filters where label name is part of the series labels.
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/cache.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/bloomgateway/util.go
  pkg/indexgateway/gateway.go
  pkg/logproto/bloomgateway.pb.go
  pkg/logproto/bloomgateway.proto
  pkg/logproto/compat.go
  pkg/storage/bloom/v1/bloom_tester.go
  pkg/storage/bloom/v1/bloom_tester_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
Labels: size/L

#14687 docs: AWS Cloud Guide Update
  docs/sources/setup/install/helm/deployment-guides/aws.md
Labels: size/M, type/docs

#14686 feat(blooms): Only write key and key=value to blooms
  docs/sources/operations/bloom-filters.md
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
Labels: size/XS, type/docs

#14675 docs: Add guidance to migrate to TSDB before upgrading
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#14676 docs: Reorganize the deployment modes topic
  docs/sources/get-started/deployment-modes.md
Labels: size/M, type/docs

#14401 docs: add info about remotewrite client config in ruler
  docs/sources/operations/recording-rules.md
  docs/sources/shared/configuration.md
  pkg/ruler/config.go
Labels: size/S, type/docs

#14703 docs: Updating a typo
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#14702 chore: add jaeger mixin to pattern ingester container
  production/ksonnet/loki/patterns.libsonnet
Labels: size/XS
