Repository grafana/loki, pull requests merged in 2024-09, with the labels that each got.

#14022 chore(ci): fix failing arm builds
  pkg/ingester-kafka/kafka/kafka_tee.go
Labels: size/XS, type/bug, backport k218

#13619 feat: Add persistence option to memcached on helm chart
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#13997 feat(blooms): Add bloom planner and bloom builder to `backend` target
  docs/sources/operations/query-acceleration-blooms.md
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/builder_test.go
  pkg/bloombuild/common/ringwatcher.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L, type/docs, feature/blooms

#14027 fix: do not retain span logger created with index set initialized at query time
  pkg/storage/stores/shipper/indexshipper/downloads/index_set.go
  pkg/storage/stores/shipper/indexshipper/downloads/index_set_test.go
  pkg/storage/stores/shipper/indexshipper/downloads/table.go
Labels: size/S

#14024 docs: rename v3.0.md to v3-0.md
  docs/sources/release-notes/v3-0.md
Labels: size/XS, type/docs

#14003 feat(helm): Replace bloom compactor with bloom planner and builder
  Makefile
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/distributed-values.yaml
  production/helm/loki/templates/bloom-builder/_helpers-bloom-builder.tpl
  production/helm/loki/templates/bloom-builder/deployment-bloom-builder.yaml
  production/helm/loki/templates/bloom-builder/hpa.yaml
  production/helm/loki/templates/bloom-builder/poddisruptionbudget-bloom-builder.yaml
  production/helm/loki/templates/bloom-builder/service-bloom-builder-headless.yaml
  production/helm/loki/templates/bloom-builder/service-bloom-builder.yaml
  production/helm/loki/templates/bloom-compactor/_helpers-bloom-compactor.tpl
  production/helm/loki/templates/bloom-planner/_helpers-bloom-planner.tpl
  production/helm/loki/templates/bloom-planner/service-bloom-planner-headless.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/values.yaml
Labels: size/XXL, area/helm, type/docs

#14041 chore: Remove call to deprecated rand.Seed()
  pkg/logql/sketch/topk_slow_test.go
  pkg/logql/sketch/topk_test.go
Labels: size/XS

#14042 feat(operator): Update Loki operand to v3.1.1
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
Labels: size/M, sig/operator

#14047 fix(`detected_fields`): return parsed labels when parsers are passed
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L, type/bug

#14048 docs: update template_functions.md to change argument order for `contains`
  docs/sources/query/template_functions.md
Labels: size/XS, type/docs

#14038 chore(blooms)!: Introduce a new block schema (V3)
  pkg/bloomgateway/processor.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/index.go
  pkg/storage/bloom/v1/index_builder.go
  pkg/storage/bloom/v1/index_querier.go
  pkg/storage/bloom/v1/index_test.go
  pkg/storage/bloom/v1/schema.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/util.go
  pkg/storage/bloom/v1/versioned_builder.go
  pkg/storage/bloom/v1/versioned_builder_test.go
Labels: size/XL

#14062 feat: add retries for s3 ObjectExists calls
  docs/sources/shared/configuration.md
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/L, type/docs

#14064 fix: correct _extracted logic in detected fields
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
Labels: size/XL, type/bug, product-approved, backport k218

#13446 feat(operator): Add support for Loki OTLP limits config
  operator/apis/loki/v1/lokistack_types.go
  operator/apis/loki/v1/v1.go
  operator/apis/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/validation/lokistack.go
  operator/internal/validation/lokistack_test.go
Labels: size/XXL, sig/operator

#14070 feat(max-allowed-line-length): add config to set `max-allowed-line-length` in pattern ingester
  docs/sources/shared/configuration.md
  pkg/pattern/drain/drain.go
  pkg/pattern/ingester.go
Labels: size/M, type/docs, product-approved, backport k218

#14078 chore(deps): Downgrade fake-gcs-server
  go.mod
  go.sum
  pkg/storage/chunk/client/gcp/fixtures.go
  vendor/github.com/fsouza/fake-gcs-server/LICENSE
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/bucket.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/config.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/json_response.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/mux_tranport.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/object.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/response.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/server.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/upload.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/xml_response.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/bucket.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/fs.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/lazy_file.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/memory.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/metadata.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/metadata_file.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/metadata_xattr.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/object.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/storage.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/time_darwin.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/time_linux.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/time_windows.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/writefile_unix.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/writefile_windows.go
  vendor/github.com/fsouza/fake-gcs-server/internal/checksum/checksum.go
  vendor/github.com/fsouza/fake-gcs-server/internal/notification/event.go
  vendor/github.com/gorilla/handlers/.editorconfig
  vendor/github.com/gorilla/handlers/.gitignore
  vendor/github.com/gorilla/handlers/LICENSE
  vendor/github.com/gorilla/handlers/Makefile
  vendor/github.com/gorilla/handlers/README.md
  vendor/github.com/gorilla/handlers/canonical.go
  vendor/github.com/gorilla/handlers/compress.go
  vendor/github.com/gorilla/handlers/cors.go
  vendor/github.com/gorilla/handlers/doc.go
  vendor/github.com/gorilla/handlers/handlers.go
  vendor/github.com/gorilla/handlers/logging.go
  vendor/github.com/gorilla/handlers/proxy_headers.go
  vendor/github.com/gorilla/handlers/recovery.go
  vendor/github.com/pkg/xattr/.gitignore
  vendor/github.com/pkg/xattr/LICENSE
  vendor/github.com/pkg/xattr/README.md
  vendor/github.com/pkg/xattr/xattr.go
  vendor/github.com/pkg/xattr/xattr_bsd.go
  vendor/github.com/pkg/xattr/xattr_darwin.go
  vendor/github.com/pkg/xattr/xattr_linux.go
  vendor/github.com/pkg/xattr/xattr_solaris.go
  vendor/github.com/pkg/xattr/xattr_unsupported.go
  vendor/modules.txt
Labels: size/M

#14085 chore: [k218] chore(deps): Downgrade fake-gcs-server
  go.mod
  go.sum
  pkg/storage/chunk/client/gcp/fixtures.go
  vendor/github.com/fsouza/fake-gcs-server/LICENSE
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/bucket.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/config.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/json_response.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/mux_tranport.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/object.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/response.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/server.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/upload.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/xml_response.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/bucket.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/fs.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/lazy_file.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/memory.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/metadata.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/metadata_file.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/metadata_xattr.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/object.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/storage.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/time_darwin.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/time_linux.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/time_windows.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/writefile_unix.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/writefile_windows.go
  vendor/github.com/fsouza/fake-gcs-server/internal/checksum/checksum.go
  vendor/github.com/fsouza/fake-gcs-server/internal/notification/event.go
  vendor/github.com/gorilla/handlers/.editorconfig
  vendor/github.com/gorilla/handlers/.gitignore
  vendor/github.com/gorilla/handlers/LICENSE
  vendor/github.com/gorilla/handlers/Makefile
  vendor/github.com/gorilla/handlers/README.md
  vendor/github.com/gorilla/handlers/canonical.go
  vendor/github.com/gorilla/handlers/compress.go
  vendor/github.com/gorilla/handlers/cors.go
  vendor/github.com/gorilla/handlers/doc.go
  vendor/github.com/gorilla/handlers/handlers.go
  vendor/github.com/gorilla/handlers/logging.go
  vendor/github.com/gorilla/handlers/proxy_headers.go
  vendor/github.com/gorilla/handlers/recovery.go
  vendor/github.com/pkg/xattr/.gitignore
  vendor/github.com/pkg/xattr/LICENSE
  vendor/github.com/pkg/xattr/README.md
  vendor/github.com/pkg/xattr/xattr.go
  vendor/github.com/pkg/xattr/xattr_bsd.go
  vendor/github.com/pkg/xattr/xattr_darwin.go
  vendor/github.com/pkg/xattr/xattr_linux.go
  vendor/github.com/pkg/xattr/xattr_solaris.go
  vendor/github.com/pkg/xattr/xattr_unsupported.go
  vendor/modules.txt
Labels: size/M, backport, type/bug, product-approved

#14081 feat: track discarded data by usageTracker
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#14068 fix: skipping label if it contains special symbol
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
Labels: size/M

#14025 fix(loki/production/docker-compose): upgrade loki and grafana production image tags to 3.1.1
  production/docker-compose.yaml
Labels: size/XS

#13900 chore: use quartz in metastore
  pkg/ingester-rf1/metastore/metastore.go
  pkg/ingester-rf1/metastore/metastore_hack.go
Labels: size/XS

#14020 chore: fix some function names
  pkg/bloombuild/planner/retention_test.go
  pkg/storage/chunk/client/grpc/grpc_server_mock_test.go
Labels: size/XS

#14061 feat(blooms)!: Index structured metadata into blooms
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/filter/scalable_test.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
  pkg/storage/bloom/v1/versioned_builder.go
  tools/bloom/inspector/main.go
Labels: size/L

#14100 docs: Update Release Notes for 2.9.10
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs, backport release-2.9.x

#14099 docs: Update Release Notes for 3.0.1
  docs/sources/release-notes/v3-0.md
Labels: size/XS, type/docs, backport release-3.0.x

#14098 docs: Update Release Notes for 3.1.1
  docs/sources/release-notes/v3-1.md
Labels: size/XS, type/docs, backport release-3.1.x

#14104 chore(deps): 3.1.x - lamba promtail updates
  tools/lambda-promtail/Dockerfile
  tools/lambda-promtail/README.md
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  tools/lambda-promtail/lambda-promtail/cloudtrail.go
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/cw_test.go
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/kinesis_test.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
Labels: size/XXL

#14105 chore(deps): 2.9.x - lamba promtail updates
  tools/lambda-promtail/Dockerfile
  tools/lambda-promtail/README.md
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  tools/lambda-promtail/lambda-promtail/cloudtrail.go
  tools/lambda-promtail/lambda-promtail/cw.go
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/kinesis_test.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
Labels: size/XXL

#14080 chore(operator): prepare community release v0.6.2
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
Labels: size/L, sig/operator

#14110 fix(blooms): Fix panic in initialisation of the bloom planner and builder
  pkg/loki/modules.go
Labels: size/S, type/bug, backport k218, backport k219

#14120 chore: Final batch of linting cleanup for Go 1.23 and newer golangci
  pkg/kafka/ingester/consumer.go
  pkg/kafka/ingester/partition_reader_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/sketch/topk.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/chunk/chunk.go
Labels: size/M

#14123 feat: add functions to common.libsonnet for warpstream
  production/ksonnet/loki/common.libsonnet
Labels: size/M

#14129 feat: revert "feat: add functions to common.libsonnet for warpstream"
  production/ksonnet/loki/common.libsonnet
Labels: size/M

#14097 chore(blooms): Expose series/stream metadata when iterating over blooms
  pkg/bloombuild/builder/spec_test.go
  pkg/storage/bloom/v1/block.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/versioned_builder.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  tools/bloom/inspector/main.go
Labels: size/L

#14119 chore(storage/bloom/v1): add ExtractTestableLabelMatchers
  pkg/logql/syntax/visit.go
  pkg/storage/bloom/v1/ast_extractor.go
  pkg/storage/bloom/v1/ast_extractor_test.go
Labels: size/L

#14124 fix(aggregated-metrics): correctly create logfmt string
  pkg/logql/metrics.go
  pkg/pattern/aggregation/push.go
  pkg/pattern/aggregation/push_test.go
  pkg/util/metrics_helper.go
  pkg/util/metrics_helper_test.go
Labels: size/M

#14111 chore: avoid some allocations in tsdb while reading posting offset table
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index_test.go
Labels: size/L

#14130 chore(bloomgateway): update bloom gateway to test for structured metadata blooms
  pkg/bloomgateway/bloomgateway.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/metrics.go
  pkg/bloomgateway/multiplexing.go
  pkg/bloomgateway/multiplexing_test.go
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/processor_test.go
  pkg/bloomgateway/stats.go
  pkg/storage/bloom/v1/ast_extractor.go
  pkg/storage/bloom/v1/bloom_tester.go
  pkg/storage/bloom/v1/bloom_tester_test.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/versioned_builder_test.go
Labels: size/XL

#14135 chore: replace remaining references to ExtractTestableLineFilters
  pkg/bloomgateway/querier.go
  pkg/bloomgateway/querier_test.go
  pkg/indexgateway/gateway.go
Labels: size/S

#14136 chore(ci): Temporarily remove Backport PR action
  .github/workflows/backport.yml
Labels: size/S

#14137 chore(blooms): Replace extracting line filters with extracting label filters
  pkg/indexgateway/gateway.go
  pkg/querier/queryrange/metrics.go
Labels: size/S

#14145 chore: Fix linter errors
  pkg/storage/bloom/v1/bloom_tester_test.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
Labels: size/S, backport k220

#14134 ci(helm): added workflow to see the diff
  .github/workflows/helm-loki-ci.yml
  .github/workflows/metrics-collector.yml
  production/helm/loki/scenarios/README.md
  production/helm/loki/scenarios/default-single-binary-values.yaml
  production/helm/loki/scenarios/default-values.yaml
  production/helm/loki/scenarios/images/added.png
  production/helm/loki/scenarios/images/img.png
  production/helm/loki/scenarios/images/modified.png
  production/helm/loki/scenarios/images/removed.png
  production/helm/loki/scenarios/ingress-values.yaml
  production/helm/loki/scenarios/legacy-monitoring-values.yaml
  production/helm/loki/scenarios/simple-scalable-aws-kube-irsa-values.yaml
Labels: size/L, area/helm

#13831 fix: Propagate query stats from quantile & topk queries
  pkg/logql/accumulator.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/marshal.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
Labels: size/S

#14152 chore(blooms): Remove excessive logging in fused querier
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/fuse.go
Labels: size/S

#14153 feat: add structured metadata to the promtail push API
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/lokipush/pushtarget_test.go
Labels: size/S

#14156 chore: restore backport creator workflow
  .github/workflows/backport.yml
Labels: size/M, type/bug, product-approved, backport k218

#13646 feat(mixins): Allow hiding useless rows in loki-operational
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/mixin.libsonnet
Labels: size/M

#13486 fix(mixins): disk space utilization panels with latest KSM versions
  production/loki-mixin-compiled-ssd/dashboards/loki-writes-resources.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
Labels: size/S

#14160 chore: Remove unused quantile merge step evaluator.
  pkg/logql/quantile_over_time_sketch.go
Labels: size/M

#13991 ci: Update workflows to use actions that don't need organization secrets
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/M, backport release-2.9.x, type/ci, backport release-3.0.x, backport release-3.1.x

#14161 chore(kafka): Refactor configurations and remove old modules
  docs/sources/shared/configuration.md
  pkg/ingester/ingester.go
  pkg/kafka/ingester/ingester.go
  pkg/kafka/partitionring/partition_ring.go
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#14158 chore: Remove outdate TODO file for bloom package
  pkg/storage/bloom/v1/TODO.md
Labels: size/S

#14168 chore(storage/bloom/v1): update comments on bloom test
  pkg/storage/bloom/v1/bloom_tester.go
  pkg/storage/bloom/v1/bloom_tester_test.go
Labels: size/S

#13914 docs: add `X-Scope-OrgID` header to Grafana datasource if multi-tenancy is enabled
  docs/sources/visualize/grafana.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x, backport k218

#13719 fix(promtail): validate scrape_config job name
  clients/pkg/promtail/config/config.go
  clients/pkg/promtail/config/config_test.go
Labels: size/M

#14173 ci(helm): update Kube Diff workflow
  .github/workflows/helm-loki-ci.yml
Labels: size/XS, area/helm

#14167 chore: Move compression utilities into separate package
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/common/tsdb.go
  pkg/bloombuild/planner/planner_test.go
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/interface_test.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/pool.go
  pkg/chunkenc/pool_test.go
  pkg/chunkenc/symbols.go
  pkg/chunkenc/symbols_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/util_test.go
  pkg/compactor/deletion/delete_requests_table.go
  pkg/compactor/index_set.go
  pkg/compactor/retention/retention_test.go
  pkg/compression/encoding.go
  pkg/compression/encoding_test.go
  pkg/compression/pool.go
  pkg/compression/pool_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/chunk_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/stream_test.go
  pkg/storage/bloom/v1/archive.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/schema.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/client/grpc/grpc_client_test.go
  pkg/storage/chunk/client/testutils/testutils.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/hack/main.go
  pkg/storage/store_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util.go
  pkg/storage/stores/shipper/indexshipper/uploads/index_set.go
  pkg/storage/util_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  tools/tsdb/migrate-versions/main.go
Labels: size/XXL

#14187 fix: Report PSRL error message correctly
  pkg/ingester/stream.go
Labels: size/XS

#14188 ci: temporarily disable the workflow for the PRs where PRs branch is from
  .github/workflows/helm-loki-ci.yml
Labels: size/XS

#14191 docs: Loki 3.2 Release Notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v3-1.md
  docs/sources/release-notes/v3-2.md
Labels: size/L, type/docs, backport release-3.2.x

#14181 ci: Use centralized 'Add to docs project' workflow with GitHub App auth
  .github/issue_commands.json
  .github/workflows/add-to-docs-project.yml
  .github/workflows/issue_commands.yml
Labels: size/M

#14183 chore: Clean up unused bloom filter related code
  docs/sources/shared/configuration.md
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/config.go
  pkg/bloombuild/builder/spec.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/planner/planner_test.go
  pkg/storage/bloom/spec.go
  pkg/storage/bloom/v1/bloom_tester.go
  pkg/storage/bloom/v1/bloom_tester_test.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/schema.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/tokenizer.go
  pkg/storage/bloom/v1/tokenizer_test.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  pkg/validation/limits.go
Labels: size/XXL, type/docs

#14174 feat: implement IsRetryableErr for S3ObjectClient
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client_test.go
Labels: size/L

#12870 feat: add missing cluster label to mixins
  production/helm/loki/src/alerts.yaml.tpl
  production/loki-mixin-compiled-ssd/alerts.yaml
  production/loki-mixin-compiled/alerts.yaml
  production/loki-mixin/alerts.libsonnet
Labels: size/M, area/helm

#14178 fix: mixins / loki-resources-overview panel layout
  production/loki-mixin-compiled-ssd/dashboards/loki-resources-overview.json
  production/loki-mixin/dashboards/loki-resources-overview.libsonnet
Labels: size/M

#14196 fix(log-to-span): timestamp.Time should be called with milliseconds
  pkg/querier/queryrange/codec.go
Labels: size/XS

#14169 docs: Update Loki components page with new bloom components
  docs/sources/get-started/components.md
Labels: size/M, type/docs

#14180 fix: mixin disk usage dashboards to ignore node exporter pod changes
  production/loki-mixin-compiled-ssd/dashboards/loki-resources-overview.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-resources-overview.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
Labels: size/M

#14201 fix(helm): Check for `rbac.namespaced` condition before creating roles
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/provisioner/role-provisioner.yaml
  production/helm/loki/templates/provisioner/rolebinding-provisioner.yaml
  production/helm/loki/templates/tokengen/clusterrole-tokengen.yaml
  production/helm/loki/templates/tokengen/clusterrolebinding-tokengen.yaml
Labels: size/S, area/helm

#14159 perf(blooms): Remove compression of `.tar` archived bloom blocks
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloomgateway/bloomgateway_test.go
  pkg/compression/encoding.go
  pkg/compression/fileext.go
  pkg/storage/bloom/v1/archive.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/stores/shipper/bloomshipper/cache.go
  pkg/storage/stores/shipper/bloomshipper/cache_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/compress_utils.go
  pkg/storage/stores/shipper/bloomshipper/compress_utils_test.go
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
  pkg/storage/stores/shipper/bloomshipper/fetcher_test.go
  pkg/storage/stores/shipper/bloomshipper/resolver.go
  pkg/storage/stores/shipper/bloomshipper/resolver_test.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
Labels: size/XL

#14208 fix: Wait for OwnedStreams service in Ingester startup
  pkg/ingester/ingester.go
Labels: size/XS

#14193 ci: release workflow needs to use the GH App token
  .github/release-workflows.jsonnet
  .github/workflows/release.yml
  Makefile
Labels: size/XS

#14128 fix(helm): Various fixes and enhancements for bloom components
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/bloom-builder/deployment-bloom-builder.yaml
  production/helm/loki/templates/bloom-builder/service-bloom-builder-headless.yaml
  production/helm/loki/templates/bloom-builder/service-bloom-builder.yaml
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/bloom-planner/service-bloom-planner-headless.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#14186 feat: Optionally ack writes to kafka on Push requests
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/ingester-kafka/kafka/kafka_tee.go
  pkg/kafka/tee/tee.go
  pkg/kafka/tee/tee_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#14217 fix: Add additional validation for timeout while retrieving headers
  pkg/storage/chunk/client/gcp/gcs_object_client.go
Labels: size/XS

#14221 fix: Expand matching for additional variations
  pkg/storage/chunk/client/gcp/gcs_object_client.go
Labels: size/XS

#14057 docs: Added new Query best practices page
  docs/sources/query/bp-query.md
  docs/sources/query/grafana-time-range-picker.png
Labels: size/M, type/docs

#13748 docs: Replace shortcodes on Storage topic
  docs/sources/configure/storage.md
Labels: size/S, type/docs, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x

#14226 fix: Update AWS storage timeout error for Go 1.23 behavior
  pkg/storage/chunk/client/aws/s3_storage_client.go
Labels: size/XS

#14144 docs: add additional clarification for single binary helm installation
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x

#14192 feat(kafka): Add Ingestion from Kafka in Ingesters
  docs/sources/shared/configuration.md
  pkg/ingester/downscale.go
  pkg/ingester/ingester.go
  pkg/ingester/kafka_consumer.go
  pkg/ingester/kafka_consumer_test.go
  pkg/kafka/config.go
  pkg/kafka/config_test.go
  pkg/kafka/encoding.go
  pkg/kafka/ingester/consumer.go
  pkg/kafka/ingester/consumer_test.go
  pkg/kafka/ingester/ingester.go
  pkg/kafka/ingester/ingester_test.go
  pkg/kafka/partition/committer.go
  pkg/kafka/partition/committer_test.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_test.go
  pkg/kafka/partitionring/parition_ring_test.go
  pkg/kafka/partitionring/partition_ring.go
  pkg/kafka/reader_client.go
  pkg/kafka/writer_client.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#14242 fix(kafka): Fixes partition selection in distributors
  pkg/distributor/distributor.go
Labels: size/S

#14241 fix(pattern): Fixes latency metric namespace for tee to pattern
  pkg/pattern/tee_service.go
Labels: size/XS

#14216 fix: remove usage of unsafe string in label adapter unmarshal
  go.mod
  pkg/push/types.go
  vendor/github.com/grafana/loki/pkg/push/types.go
  vendor/modules.txt
Labels: size/S

#14212 feat: move detected field logic to query frontend
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/detected_fields_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/XXL, product-approved, backport k220, backport k221

#14249 docs: Fix typo in query-acceleration-blooms
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x

#14252 docs: Fix typo in query-acceleration-blooms (#14249)
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/S, type/docs

#14253 docs: Fix typo in query-acceleration-blooms (#14249)
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/S, type/docs

#14250 chore: fix loki local config
  cmd/loki/loki-local-config.yaml
Labels: size/XS

#14131 feat(helm): :sparkles: add additional service annotations for components in distributed mode
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/bloom-builder/service-bloom-builder-headless.yaml
  production/helm/loki/templates/bloom-builder/service-bloom-builder.yaml
  production/helm/loki/templates/bloom-gateway/service-bloom-gateway-headless.yaml
  production/helm/loki/templates/bloom-planner/service-bloom-planner-headless.yaml
  production/helm/loki/templates/compactor/service-compactor.yaml
  production/helm/loki/templates/distributor/service-distributor-headless.yaml
  production/helm/loki/templates/distributor/service-distributor.yaml
  production/helm/loki/templates/index-gateway/service-index-gateway-headless.yaml
  production/helm/loki/templates/index-gateway/service-index-gateway.yaml
  production/helm/loki/templates/ingester/service-ingester-headless.yaml
  production/helm/loki/templates/ingester/service-ingester-zone-a-headless.yaml
  production/helm/loki/templates/ingester/service-ingester-zone-b-headless.yaml
  production/helm/loki/templates/ingester/service-ingester-zone-c-headless.yaml
  production/helm/loki/templates/ingester/service-ingester.yaml
  production/helm/loki/templates/querier/service-querier.yaml
  production/helm/loki/templates/query-frontend/service-query-frontend-headless.yaml
  production/helm/loki/templates/query-frontend/service-query-frontend.yaml
  production/helm/loki/templates/query-scheduler/service-query-scheduler.yaml
  production/helm/loki/templates/ruler/service-ruler.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#14246 chore(operator): fix API documentation relative to OTEL
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
Labels: size/L, sig/operator

#14262 docs: Fix link bracket for query-acceleration-blooms
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/XS, type/docs

#14255 fix: allow any level for aggregated metrics
  pkg/pattern/instance.go
Labels: size/S

#14049 fix: Memcached persistence
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#13572 feat: support ruler sidecar in singleBinary mode
  production/helm/loki/templates/backend/clusterrole.yaml
  production/helm/loki/templates/backend/clusterrolebinding.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/M, area/helm

#14237 fix: Rename mispelled filename
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/query-frontend/poddisruptionbudget-query-frontend.yaml
Labels: size/XS, area/helm

#14273 ci: remove drone, add GH action to build images
  .drone/docker-manifest-build-image.tmpl
  .drone/docker-manifest-ecr.tmpl
  .drone/docker-manifest-operator.tmpl
  .drone/docker-manifest.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
Labels: size/XXL

#14272 chore: Disable bloom filtering for bounded sharding strategy
  pkg/indexgateway/gateway.go
Labels: size/S

#14260 feat(jsonnet): Allow to name prefix zoned ingesters
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/XS

#14245 feat(distributors): Use a pool of worker to push to ingesters.
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
Labels: size/M, type/docs

#14211 chore: Allow setting annotations for memberlist and query-scheduler-discovery services
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/backend/query-scheduler-discovery.yaml
  production/helm/loki/templates/service-memberlist.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#14278 feat(kafka): enqueue commit offset only once per batch process
  pkg/ingester/kafka_consumer.go
  pkg/ingester/kafka_consumer_test.go
  pkg/kafka/ingester/consumer_test.go
  pkg/kafka/partition/committer.go
  pkg/kafka/partition/reader.go
Labels: size/M

#14269 ci: use GH app for helm workflows
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yaml
Labels: size/S

#14289 chore: Lint in prep for golangci compatible with Go 1.23
  pkg/logql/syntax/ast.go
  pkg/querier/queryrange/detected_fields_test.go
Labels: size/M

#13955 fix: allow rename of structuremetadata labels
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
Labels: size/L

#14292 fix: missing dep PartitionRing for Ingester
  pkg/loki/loki.go
Labels: size/XS

#14256 fix(sharding): apply offset to both `from` and `through` in shard request
  pkg/querier/queryrange/shard_resolver.go
Labels: size/S

#14297 fix(config): Copy Alibaba and IBM object storage configuration from common
  pkg/loki/config_wrapper.go
  pkg/loki/config_wrapper_test.go
Labels: size/L

#14287 fix(canary): Reconnect immediately upon tail max duration
  pkg/canary/reader/reader.go
Labels: size/XS

#14288 chore: refactor detected fields handler
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/detected_fields_test.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/L

#14294 chore: Move to Go 1.23.1, along with golangci update
  .devcontainer/devcontainer.json
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/lint-jsonnet.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/promtail-windows-test.yml
  .github/workflows/verify-release-workflow.yaml
  .golangci.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  loki-build-image/README.md
  production/helm/loki/src/helm-test/Dockerfile
  tools/dev/loki-tsdb-storage-s3/dev.dockerfile
Labels: size/L, sig/operator, area/helm

#14301 chore: Update for failing lint issue
  pkg/querier/queryrange/roundtrip.go
Labels: size/XS

#14257 chore: Clarify compression package
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/spec_test.go
  pkg/bloombuild/common/tsdb.go
  pkg/bloombuild/planner/planner_test.go
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/util_test.go
  pkg/compactor/deletion/delete_requests_table.go
  pkg/compactor/index_set.go
  pkg/compactor/retention/retention_test.go
  pkg/compression/codec.go
  pkg/compression/codec_test.go
  pkg/compression/encoding.go
  pkg/compression/fileext.go
  pkg/compression/pool.go
  pkg/compression/pool_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/chunk_test.go
  pkg/ingester/encoding_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/stream_test.go
  pkg/storage/bloom/v1/archive.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/bloom/v1/bloom.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/builder.go
  pkg/storage/bloom/v1/builder_test.go
  pkg/storage/bloom/v1/fuse_test.go
  pkg/storage/bloom/v1/schema.go
  pkg/storage/bloom/v1/test_util.go
  pkg/storage/bloom/v1/versioned_builder_test.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/client/grpc/grpc_client_test.go
  pkg/storage/chunk/client/testutils/testutils.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/hack/main.go
  pkg/storage/store_test.go
  pkg/storage/stores/series/series_store_test.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/fetcher_test.go
  pkg/storage/stores/shipper/bloomshipper/resolver.go
  pkg/storage/stores/shipper/bloomshipper/resolver_test.go
  pkg/storage/stores/shipper/bloomshipper/store_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util.go
  pkg/storage/stores/shipper/indexshipper/uploads/index_set.go
  pkg/storage/util_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  tools/tsdb/migrate-versions/main.go
Labels: size/XL

#14311 feat(helm): Allow setting node attributes to `tokengen` and `provisioner`
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/tokengen/job-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#14279 fix(operator): Add missing groupBy label for all rules on OpenShift
  operator/internal/manifests/openshift/alertingrule.go
  operator/internal/manifests/openshift/alertingrule_test.go
  operator/internal/manifests/openshift/opa_openshift.go
  operator/internal/manifests/openshift/recordingrule.go
  operator/internal/manifests/openshift/recordingrule_test.go
  operator/internal/manifests/openshift/recordngrule.go
Labels: size/L, sig/operator

#14308 feat(operator): Declare feature FIPS support for OpenShift only
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#14299 feat(fluentd-plugin-datadog-loki): support custom http headers
  clients/cmd/fluentd/lib/fluent/plugin/out_loki.rb
Labels: size/XS

#14270 ci: change backport action title
  .github/workflows/backport.yml
Labels: size/XS

#14290 ci: update loki version in helm chart weekly and on Loki release
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/helm-tagged-release.sh
  .github/workflows/scripts/helm-weekly-release.sh
  .github/workflows/verify-drone.yml
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#14320 feat: add query user and query source to "executing query" log lines
  pkg/logql/engine.go
  pkg/logql/engine_test.go
Labels: size/M

#14317 ci: make helm release manual
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yaml
Labels: size/S

#14281 feat(helm): update chart with loki version 3.2.0
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/S, area/helm
