Repository grafana/loki, pull requests merged in 2024-07, with the labels that each got.

#13316 fix(retry): fix retries when using protobuf encoding
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/queryrangebase/retry_test.go
Labels: size/M, type/bug, backport k209

#12176 fix(sharding): use without() grouping when merging `avg_over_time` shard results
  pkg/logql/downstream_test.go
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/M, type/bug, backport k209

#13360 refactor(blooms): Fix and improve build metrics
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
Labels: size/M

#13347 docs: Updated bucket names and added warning
  docs/sources/setup/install/helm/install-microservices/_index.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Labels: size/S, type/docs, backport release-3.0.x

#13361 refactor(blooms): Better task naming
  pkg/bloombuild/protos/compat.go
Labels: size/S

#13370 fix(blooms): ensure tokenizer cache is reset between series
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
Labels: size/M

#13368 perf: Gather aggregate per-line and per-tenant metrics for Drain patterns
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_benchmark_test.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/metrics.go
  pkg/pattern/instance.go
  pkg/pattern/metrics.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
Labels: size/L

#13322 docs: fix broken link and add alt text
  docs/sources/operations/storage/table-manager/_index.md
  docs/sources/send-data/promtail/cloud/ec2/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/configuration.md
  docs/sources/send-data/promtail/logrotation/_index.md
Labels: size/M, type/docs, backport release-3.0.x

#13330 docs: update Promtail doc
  docs/sources/send-data/promtail/_index.md
Labels: size/XS, type/docs, backport release-2.9.x, backport release-3.0.x

#13274 chore: [release-2.9.x] feat: Add ingester_chunks_flush_failures_total (#12925)
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  pkg/ingester/flush.go
  pkg/ingester/metrics.go
Labels: size/M, backport

#13386 docs: Loki 3.1 release notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v3-1.md
Labels: size/L, type/docs

#13369 feat(operator): Add support for the volume API
  operator/apis/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/internal/config/loki-runtime-config.yaml
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#13385 fix(blooms): Suppress error from resolving server addresses for blocks
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
Labels: size/M

#13363 fix(blooms): Delete outdated metas during planning
  pkg/bloombuild/planner/metrics.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/planner/versioned_range.go
  pkg/bloombuild/planner/versioned_range_test.go
Labels: size/L

#13376 perf: Limit tokens per pattern to 128
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
Labels: size/M

#13275 chore: [release-2.9.x]: feat: Add backoff to flush op
  docs/sources/configure/_index.md
  pkg/ingester/flush.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
  pkg/ingester/instance_test.go
Labels: size/L, type/docs

#13396 build: Update Loki build image to 0.33.4
  .devcontainer/devcontainer.json
  .drone/drone.yml
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
  clients/cmd/docker-driver/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  loki-build-image/README.md
  operator/Dockerfile.cross
Labels: size/M, sig/operator

#13397 feat: exclude in pattern tokens
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
Labels: size/L

#13398 chore: Update Docker images to Go 1.22.5
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  tools/go-version-bump.sh
  tools/lambda-promtail/Dockerfile
Labels: size/M

#13365 feat: Ingester RF-1
  cmd/loki/loki-local-config.yaml
  docs/sources/shared/configuration.md
  pkg/ingester-rf1/clientpool/client.go
  pkg/ingester-rf1/clientpool/ingester_client_pool.go
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/instance.go
  pkg/ingester-rf1/limiter.go
  pkg/ingester-rf1/mapper.go
  pkg/ingester-rf1/metrics.go
  pkg/ingester-rf1/owned_streams.go
  pkg/ingester-rf1/ring_client.go
  pkg/ingester-rf1/stream.go
  pkg/ingester-rf1/stream_rate_calculator.go
  pkg/ingester-rf1/streams_map.go
  pkg/ingester-rf1/tee.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester_test.go
  pkg/logproto/ingester-rf1.pb.go
  pkg/logproto/ingester-rf1.proto
  pkg/loki/config_wrapper.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/push/push-rf1.pb.go
  pkg/push/push-rf1.proto
  pkg/querier/querier_mock_test.go
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
  pkg/storage/chunk/client/cassandra/storage_client.go
  pkg/storage/chunk/client/client.go
  pkg/storage/chunk/client/gcp/bigtable_object_client.go
  pkg/storage/chunk/client/grpc/storage_client.go
  pkg/storage/chunk/client/metrics.go
  pkg/storage/chunk/client/object_client.go
  pkg/storage/store.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/util_test.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
  vendor/github.com/grafana/loki/pkg/push/push-rf1.pb.go
  vendor/github.com/grafana/loki/pkg/push/push-rf1.proto
Labels: size/XXL, type/docs

#13342 chore: adjusted SegmentWriter to the reader conversion
  pkg/storage/chunk/client/object_client.go
Labels: size/XS

#13377 feat: Use prefixed WAL storage path in Object Storage
  go.mod
  pkg/storage/chunk/client/object_client.go
Labels: size/XS

#13297 fix: querier address in SingleBinary mode
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#13390 docs: update _index.md to reflect config file name and location change
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs, backport release-3.0.x

#13404 chore: Improve performance of structured metadata
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/symbols.go
  pkg/chunkenc/symbols_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/util_test.go
  pkg/iter/entry_iterator.go
Labels: size/L

#13406 feat(loki): Do not enforce max-query-bytes-read and max-querier-bytes-read in limited tripperware
  docs/sources/shared/configuration.md
  pkg/querier/queryrange/roundtrip.go
  pkg/validation/limits.go
Labels: size/S, type/docs

#13410 test: Fix flaky congestion test
  pkg/storage/chunk/client/congestion/controller_test.go
Labels: size/XS

#13413 chore: Update missing entries from CHANGELOG.md
  CHANGELOG.md
Labels: size/M

#13412 fix: prepare 2.9.9 release
  CHANGELOG.md
Labels: size/S

#13384 feat: Drain uses different tokenizer based on log format
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_benchmark_test.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
  pkg/pattern/ingester_querier.go
  pkg/pattern/instance.go
  pkg/pattern/stream.go
Labels: size/L

#13417 chore: Update CHANGELOG.md
  CHANGELOG.md
Labels: size/S

#13419 chore: use read-only index store for ingester RF1
  pkg/loki/modules.go
Labels: size/XS

#13299 fix(operator): Watch for CredentialsRequests on CCOAuthEnv only
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
Labels: size/S, sig/operator

#13415 chore: Refactor storage interface for rf1
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/instance.go
  pkg/ingester-rf1/objstore/storage.go
  pkg/ingester-rf1/stream.go
  pkg/ingester/flush_test.go
  pkg/ingester/ingester_test.go
  pkg/loki/modules.go
  pkg/querier/querier_mock_test.go
  pkg/storage/chunk/client/alibaba/oss_object_client.go
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/chunk/client/cassandra/storage_client.go
  pkg/storage/chunk/client/client.go
  pkg/storage/chunk/client/congestion/controller.go
  pkg/storage/chunk/client/congestion/controller_test.go
  pkg/storage/chunk/client/gcp/bigtable_object_client.go
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/grpc/storage_client.go
  pkg/storage/chunk/client/ibmcloud/cos_object_client.go
  pkg/storage/chunk/client/local/fs_object_client.go
  pkg/storage/chunk/client/metrics.go
  pkg/storage/chunk/client/object_client.go
  pkg/storage/chunk/client/openstack/swift_object_client.go
  pkg/storage/chunk/client/prefixed_object_client.go
  pkg/storage/chunk/client/testutils/inmemory_storage_client.go
  pkg/storage/chunk/client/util/reader.go
  pkg/storage/store.go
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_test.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/util_test.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/XL

#13423 fix: Remove query size limit for detected fields
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#13424 chore: Set memberlist func for ingester-rf1 init
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS

#13422 feat(operator): Update Loki operand to v3.1.0
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/var.go
Labels: size/L, sig/operator

#13421 feat(api)!: Fail log queries when executed on instant query endpoint
  docs/sources/reference/loki-http-api.md
  integration/loki_micro_services_test.go
  pkg/logqlmodel/error.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/util/server/error.go
Labels: size/M, type/docs

#11506 feat(chunks-inspect): support structured metadata
  cmd/chunks-inspect/go.mod
  cmd/chunks-inspect/go.sum
  cmd/chunks-inspect/loki.go
  cmd/chunks-inspect/main.go
  cmd/chunks-inspect/memchunk.go
  cmd/chunks-inspect/time.go
Labels: size/XXL

#13328 fix(log results cache): include pipeline wrapper disabled in cache key
  pkg/querier/queryrange/log_result_cache.go
Labels: size/XS

#13439 docs: Add workaround instructions in upgrade guide for API changes
  docs/sources/setup/upgrade/_index.md
Labels: size/XS, type/docs

#13436 fix(gateway client): exit with nil pointer dereference panic when using ring mode
  pkg/indexgateway/client.go
Labels: size/XS

#13394 refactor(blooms): Improve task progress logging in builder
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/protos/compat.go
Labels: size/M

#13429 fix: Fixes pattern pruning stability
  pkg/pattern/ingester_querier.go
  pkg/pattern/ingester_querier_test.go
  pkg/pattern/testdata/patterns.txt
Labels: size/L

#13389 docs: remove duplicate buckets
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/XS, type/docs

#11888 docs: doc/promtail/journal: adds available labels paragraph
  docs/sources/send-data/promtail/configuration.md
Labels: size/M, type/docs, backport release-3.0.x, backport release-3.1.x

#13457 fix: Fix panic in BloomStore initialisation
  pkg/loki/loki.go
Labels: size/XS, type/bug, backport k209, backport k210

#13447 test: Add range aggregation test for instant queries
  pkg/logql/range_vector_test.go
Labels: size/L

#13464 feat: Pattern ingesters add a limiter for high eviction rate
  docs/sources/shared/configuration.md
  pkg/pattern/chunk/util.go
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/limiter.go
  pkg/pattern/drain/limiter_test.go
  pkg/pattern/drain/metrics.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/instance_test.go
  pkg/pattern/metrics.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
Labels: size/L, type/docs

#13466 feat(exporter): include boolean values in limit exporter
  pkg/validation/exporter.go
  pkg/validation/exporter_test.go
Labels: size/S

#13468 fix: Properly reset wal segment writer
  pkg/storage/wal/segment.go
Labels: size/XS

#13469 feat: RF1 improves replication stategy to support 1 replica
  pkg/ingester-rf1/ring_client.go
Labels: size/S

#13430 fix(operator): Support v3.1.0 in OpenShift dashboards
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-chunks.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-retention.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/jsonnet/config.libsonnet
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/XXL, sig/operator

#13118 fix: Update Loki v3 Helm statefulset-ingester.yaml template
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
Labels: size/XS, area/helm

#13480 docs: fix broken link
  docs/sources/get-started/labels/bp-labels.md
Labels: size/XS, type/docs

#13448 fix(query engine): Include lines with ts equal to end timestamp of the query range when executing range aggregations
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/storage/stores/shipper/indexshipper/tsdb/bounds.go
  pkg/storage/stores/shipper/indexshipper/tsdb/bounds_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index.go
Labels: size/M

#13428 feat: WAL Manager
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
Labels: size/L

#13158 fix: Fix HPA ingester typo
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/ingester/hpa.yaml
Labels: size/S, area/helm

#13450 fix(operator): Skip updating annotations for serviceaccounts
  operator/internal/manifests/mutate.go
Labels: size/XS, sig/operator

#13491 feat: Use WAL Manager
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/instance.go
  pkg/ingester-rf1/stream.go
Labels: size/L

#13490 feat: Add metrics to WAL Manager
  pkg/ingester-rf1/ingester.go
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
Labels: size/L

#13492 fix: backport #13485 to k210
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/first_last_over_time.go
Labels: size/M

#13496 chore: Remove un-used errors from WAL Manager
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
Labels: size/M

#13449 feat: downsample aggregated metrics
  docs/sources/shared/configuration.md
  pkg/pattern/flush.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance_test.go
  pkg/pattern/metric/chunk.go
  pkg/pattern/metric/chunk_test.go
  pkg/pattern/metric/config.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
Labels: size/L, type/docs

#13487 perf(blooms): Avoid tiny string allocations for insert cache
  pkg/storage/bloom/v1/bloom_tokenizer.go
Labels: size/S

#13500 fix(blooms): skip empty blooms on reads
  pkg/storage/bloom/v1/filter/scalable.go
  pkg/storage/bloom/v1/fuse.go
  pkg/storage/bloom/v1/fuse_test.go
Labels: size/M

#13502 fix: add logging to empty bloom
  pkg/bloomgateway/processor.go
  pkg/storage/bloom/v1/fuse.go
Labels: size/S

#13499 chore: Remove unused metrics from Ingester-RF1
  pkg/ingester-rf1/metrics.go
Labels: size/L

#13498 chore: Improve test coverage of WAL Manager
  pkg/storage/wal/manager_test.go
Labels: size/L

#13508 feat: improve placeholder replacement of byte sizes
  pkg/pattern/tokenization/replacer.go
  pkg/pattern/tokenization/tokenization_test.go
Labels: size/M

#13497 fix(operator): Remove duplicate conditions from status
  operator/internal/status/conditions.go
  operator/internal/status/conditions_test.go
Labels: size/L, sig/operator

#13506 fix(blooms): Remove backoff from notify planner
  pkg/bloombuild/builder/batch.go
  pkg/bloombuild/builder/builder.go
Labels: size/S

#13515 fix: detected fields incorrect type bug
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
Labels: size/L

#13529 docs: Add Explore Logs to Release Notes
  docs/sources/release-notes/v3-1.md
Labels: type/docs, backport release-3.1.x

#13531 feat: WAL Manager configuration options
  docs/sources/shared/configuration.md
  pkg/ingester-rf1/ingester.go
Labels: size/M, type/docs

#13510 feat: Add metrics for Ingester RF-1
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/metrics.go
  pkg/storage/wal/manager.go
  pkg/storage/wal/metrics.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/L

#13463 fix(operator): Allow structured metadata only if V13 schema provided
  operator/internal/handlers/internal/storage/storage.go
  operator/internal/handlers/internal/storage/storage_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
  operator/internal/manifests/storage/options.go
Labels: size/L, sig/operator

#13537 test: Add logging for empty blooms
  pkg/bloombuild/builder/spec.go
  pkg/bloomcompactor/spec.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
Labels: size/M

#13441 feat(helm): Support alibabacloud oss in helm chart
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS, area/helm

#13538 feat: Remove flush loop and queue from Ingester RF-1
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
Labels: size/L

#13543 chore: Use pool of bytes.Buffer instead of io.Pipe
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/M

#13541 fix: Fixes span name of serializeRounTripper
  pkg/querier/queryrange/serialize.go
Labels: size/XS

#13546 chore: Fix not ready error message in RF-1 Ingester
  pkg/loki/loki.go
Labels: size/XS

#13547 chore: Remove size and duration logs now we have metrics
  pkg/ingester-rf1/flush.go
Labels: size/S

#13544 chore: Remove unused const
  pkg/ingester-rf1/flush.go
Labels: size/S

#13542 chore: Use github.com/coder/quartz instead of time
  go.mod
  go.sum
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
  vendor/github.com/coder/quartz/.gitignore
  vendor/github.com/coder/quartz/LICENSE
  vendor/github.com/coder/quartz/README.md
  vendor/github.com/coder/quartz/clock.go
  vendor/github.com/coder/quartz/mock.go
  vendor/github.com/coder/quartz/real.go
  vendor/github.com/coder/quartz/ticker.go
  vendor/github.com/coder/quartz/timer.go
  vendor/modules.txt
Labels: size/M

#13549 chore: Clean up manager_test.go
  pkg/storage/wal/manager_test.go
Labels: size/L

#13551 chore: refactor WAL Manager
  pkg/storage/wal/manager.go
Labels: size/L

#13511 chore: Clean up old streams periodically in RF-1 ingester
  docs/sources/shared/configuration.md
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/ingester_test.go
  pkg/ingester-rf1/stream.go
Labels: size/L, type/docs

#13552 feat: Add CLI to inspect RF=1 WAL segments
  cmd/segment-inspect/.gitignore
  cmd/segment-inspect/README.md
  cmd/segment-inspect/go.mod
  cmd/segment-inspect/go.sum
  cmd/segment-inspect/main.go
Labels: size/XXL

#13555 fix: Fix log line for fingerprint not found
  pkg/storage/bloom/v1/fuse.go
Labels: size/XS

#13522 chore: Use filesystem backed writer for blooms
  integration/bloom_building_test.go
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/config.go
  pkg/bloombuild/builder/spec.go
  pkg/bloomcompactor/controller.go
  pkg/bloomcompactor/spec.go
  pkg/storage/bloom/v1/block_writer.go
  pkg/storage/bloom/v1/reader.go
Labels: size/L

#13553 chore: Remove redundant comments
  pkg/storage/wal/manager.go
Labels: size/S

#13557 fix: Fix panic in ingester.go
  pkg/ingester-rf1/ingester.go
Labels: size/XS

#13535 fix: Retain original values in logfmt pattern tokenizer
  pkg/pattern/drain/line_tokenizer.go
  pkg/pattern/drain/line_tokenizer_test.go
Labels: size/S

#13534 fix: Dedup pattern tokens on output
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/line_tokenizer.go
Labels: size/S

#13558 feat: Update doc-validator version
  .github/workflows/doc-validator.yml
Labels: size/XS

#13562 fix(operator): Set object storage for delete requests when using retention
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/XS, sig/operator

#13325 build: Loki build and Docker updates
  Makefile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  production/helm/loki/src/helm-test/Dockerfile
Labels: size/L, area/helm

#12846 fix: incorrect pod matcher for compactor in mixin when using ssd mode
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
Labels: size/S

#13570 feat: Track when builders are doing work with a gauge
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/builder/metrics.go
Labels: size/S

#13573 fix(blooms): Fix eviction of multiple blockcache items
  pkg/storage/stores/shipper/bloomshipper/blockscache.go
  pkg/storage/stores/shipper/bloomshipper/blockscache_test.go
Labels: size/M

#13581 chore: replace pkg/errors with errors
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/metastore/metastore.go
  pkg/ingester-rf1/stream.go
Labels: size/XS

#13582 chore: replace pkg/errors with errors
  pkg/pattern/metric/evaluator.go
Labels: size/XS

#13583 chore: replace pkg/errors with errors
  pkg/ingester/checkpoint.go
  pkg/ingester/index/multi.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/recovery_test.go
  pkg/ingester/stream.go
  pkg/ingester/wal.go
  pkg/ingester/wal/encoding.go
Labels: size/M

#13576 chore: shard limited queries with a fixed sharding factor
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#13568 chore: do not shard log queries with empty filter
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
Labels: size/S

#13098 feat: lambda-promtail; ensure messages to Kinesis are usable by refactoring parsing of KinesisEvent to match parsing of CWEvents + code cleanup
  tools/lambda-promtail/lambda-promtail/json_stream.go
  tools/lambda-promtail/lambda-promtail/kinesis.go
  tools/lambda-promtail/lambda-promtail/kinesis_test.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/promtail_client.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/testdata/kinesis-event.json
Labels: size/L

#13592 fix: fix retry code to handle grpc status codes. updated newer stats retries to be wrapped with spans
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/roundtrip.go
Labels: size/M

#13574 docs: add docs comparing native otlp ingestion vs loki exporter
  docs/sources/send-data/otel/native_otlp_vs_loki_exporter.md
Labels: size/L, type/docs, backport release-3.0.x, backport release-3.1.x

#13603 chore: Remove excessive logging from bloom gateway
  pkg/bloomgateway/processor.go
  pkg/bloomgateway/worker.go
Labels: size/XS

#13598 feat: Instrument metastore GRPC calls
  pkg/ingester-rf1/metastore/client/client.go
  pkg/loki/modules.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
Labels: size/M

#13599 feat: Instrument rf1 write path with tracing
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/stream.go
Labels: size/S

#13608 fix: remove retries on the stats handlers because they already retry
  pkg/querier/queryrange/roundtrip.go
Labels: size/XS, type/bug, backport k211, backport k212

#13604 feat(structured-metadata-api): add structured metadata to `/detected_fields` API
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/L

#13594 docs: small update to doc loki-http-api.md
  docs/sources/reference/loki-http-api.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x

#13622 fix(blooms): Cleanup temp blockdir in bloom compactor
  pkg/bloomcompactor/controller.go
Labels: size/S, type/bug

#13614 fix: Keep blocks referenced by newer metas
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloomgateway/processor.go
Labels: size/L, type/bug, feature/blooms

#13624 fix(blooms): Use correct key to populate blockscache at startup
  pkg/storage/stores/shipper/bloomshipper/cache.go
  pkg/storage/stores/shipper/bloomshipper/cache_test.go
Labels: size/XS, type/bug, backport k211, backport k212

#13627 chore: [k212] fix: Keep blocks referenced by newer metas
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
Labels: size/L, backport, type/bug, feature/blooms

#13629 fix(loki-mixin): Fix latency panel for Index Gateway
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
Labels: size/XS

#13613 feat(rf1): Store index ref in metastore
  pkg/ingester-rf1/metastore/metastorepb/metastore.pb.go
  pkg/ingester-rf1/metastore/metastorepb/metastore.proto
  pkg/querier/querier.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/S

#13051 fix(helm): fix imagePullSecrets for statefulset-results-cache
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
Labels: size/S, area/helm

#13148 feat(lambda-promtail): Adding S3 log parser support for AWS GuardDuty
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
  tools/lambda-promtail/main.tf
  tools/lambda-promtail/variables.tf
Labels: size/M

#13637 feat: Calculate the age of a WAL segment
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
Labels: size/L

#13636 feat(rf1): Add query path for the metastore
  pkg/ingester-rf1/metastore/metastore_state_list_blocks_for_query.go
  pkg/ingester-rf1/metastore/metastore_state_list_blocks_for_query_test.go
  pkg/ingester-rf1/metastore/metastorepb/metastore.pb.go
  pkg/ingester-rf1/metastore/metastorepb/metastore.proto
Labels: size/L

#13641 feat: remove mutexes from wal.SegmentWriter
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/L

#13639 feat: Add baseline rf1 querier component
  docs/sources/shared/configuration.md
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier-rf1/handler.go
  pkg/querier-rf1/http.go
  pkg/querier-rf1/querier.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
Labels: size/XXL, type/docs

#13643 fix: remove limit middleware for `detected_labels`
  pkg/querier/queryrange/roundtrip.go
Labels: size/S

#13650 feat: Implement GetObjectRange for all storage providers
  pkg/ingester-rf1/objstore/storage.go
  pkg/storage/chunk/client/alibaba/oss_object_client.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  pkg/storage/chunk/client/azure/blob_storage_client.go
  pkg/storage/chunk/client/baidubce/bos_storage_client.go
  pkg/storage/chunk/client/congestion/controller.go
  pkg/storage/chunk/client/congestion/controller_test.go
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/ibmcloud/cos_object_client.go
  pkg/storage/chunk/client/local/fs_object_client.go
  pkg/storage/chunk/client/object_client.go
  pkg/storage/chunk/client/openstack/swift_object_client.go
  pkg/storage/chunk/client/prefixed_object_client.go
  pkg/storage/chunk/client/testutils/inmemory_storage_client.go
Labels: size/L

#13644 chore: move timestamps into SegmentWriter
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/M

#13652 feat(detected-labels): remove cardinality filter
  pkg/querier/queryrange/roundtrip.go
Labels: size/XS

#13653 feat: add loki_ingester_rf1_segment_age_seconds metric
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
  pkg/ingester-rf1/metrics.go
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
  pkg/storage/wal/metrics.go
  pkg/storage/wal/segment.go
  pkg/storage/wal/segment_test.go
Labels: size/L

#13659 chore: Remove client header interceptors from metastore client
  docs/sources/shared/configuration.md
  pkg/ingester-rf1/metastore/client/client.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier-rf1/querier.go
Labels: size/S, type/docs

#13638 chore(helm): fix comment in values.yml
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#13367 docs: Send Data Alloy page + Interactive Examples
  docs/sources/send-data/alloy/_index.md
  docs/sources/send-data/alloy/examples/alloy-kafka-logs.md
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
Labels: size/XL, type/docs, backport release-3.0.x, backport release-3.1.x

#13656 fix(blooms): Improve error wrap to make ignoreNotFound work when fetching blocks
  pkg/storage/stores/shipper/bloomshipper/client.go
Labels: size/XS, feature/blooms

#13578 fix: special case the return values from a sharded first/last_over_time query
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/engine.go
  pkg/logql/first_last_over_time.go
  pkg/logql/test_utils.go
Labels: size/L

#13666 docs: Fixed link test
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
Labels: size/XS, type/docs, backport release-3.0.x, backport release-3.1.x

#13672 fix: fix a bug where AppendRequest with no entries triggers flush
  pkg/storage/wal/manager.go
  pkg/storage/wal/manager_test.go
  pkg/storage/wal/segment.go
Labels: size/M

#13674 feat: Ignore empty streams in distributor if all entries fail validation
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/S

#13661 fix: Handle block offset exceeding chunk length in memchunk.go
  pkg/chunkenc/memchunk.go
  pkg/storage/chunk/client/object_client.go
  pkg/storage/chunk/fetcher/fetcher.go
Labels: size/S

#13679 fix: add missing flush op timeout
  docs/sources/shared/configuration.md
  pkg/ingester-rf1/flush.go
  pkg/ingester-rf1/ingester.go
Labels: size/XS, type/docs

#13673 docs: State limitations of bloom filters
  docs/sources/operations/query-acceleration-blooms.md
Labels: size/XS, type/docs, backport release-3.0.x, feature/blooms, backport release-3.1.x

#13684 feat: instrument failed chunk encoding/decoding
  pkg/ingester/flush.go
  pkg/ingester/metrics.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/client/metrics.go
  pkg/storage/chunk/client/object_client.go
Labels: size/L, product-approved, backport k212

#13685 chore: [k212] feat: instrument failed chunk encoding/decoding
  pkg/ingester/flush.go
  pkg/ingester/metrics.go
  pkg/storage/chunk/chunk.go
  pkg/storage/chunk/client/metrics.go
  pkg/storage/chunk/client/object_client.go
Labels: size/L, backport, product-approved

#13680 chore: use native histogram for metastore_request_duration_seconds
  pkg/ingester-rf1/metastore/client/client.go
Labels: size/S

#13677 fix(blooms): Ship chunkrefs in task payload
  pkg/bloombuild/builder/builder.go
  pkg/bloombuild/common/tsdb.go
  pkg/bloombuild/planner/planner.go
  pkg/bloombuild/planner/planner_test.go
  pkg/bloombuild/protos/compat.go
  pkg/bloombuild/protos/types.pb.go
  pkg/bloombuild/protos/types.proto
Labels: size/L

#13512 feat(operator): Add alert for discarded samples
  operator/docs/lokistack/sop.md
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
  operator/internal/manifests/internal/alerts/testdata/test.yaml
Labels: size/M, sig/operator

#13693 chore: Use boltdb Batch API for metastore writes
  pkg/ingester-rf1/metastore/metastore_state_add_block.go
  pkg/ingester-rf1/metastore/metastore_state_test.go
Labels: size/M
