Repository grafana/loki, pull requests merged in 2025-02, with the labels that each got.

#16001 chore(blooms): Return decompression reader to pool
  pkg/storage/bloom/v1/index.go
Labels: size/XS

#16030 chore(ksonnet): add configs to use thanos object store
  production/ksonnet/loki/config.libsonnet
Labels: size/M

#16051 docs(thanos): unhide configuration docs for thanos storage clients
  docs/sources/shared/configuration.md
  pkg/loki/common/common.go
  pkg/loki/loki.go
  pkg/ruler/rulestore/config.go
  pkg/storage/factory.go
  tools/doc-generator/parse/parser.go
  tools/doc-generator/parse/root_blocks.go
  tools/doc-generator/writer.go
Labels: size/XXL, type/docs

#16052 chore(mixin): add thanos object store dashboard
  production/loki-mixin-compiled-ssd/dashboards/loki_thanos_object_storage.json
  production/loki-mixin-compiled/dashboards/loki_thanos_object_storage.json
  production/loki-mixin/.lint
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/loki-object-store.libsonnet
Labels: size/XXL

#16058 fix: reverts the tailwindcss upgrade that was breaking builds
  pkg/dataobj/explorer/ui/package-lock.json
  pkg/dataobj/explorer/ui/package.json
Labels: size/XS

#16060 chore(deps): Disable tailwind updates
  .github/renovate.json5
Labels: size/XS

#16059 fix: reverts the tailwindcss upgrade that was breaking builds
  .github/renovate.json5
  pkg/dataobj/explorer/ui/package-lock.json
  pkg/dataobj/explorer/ui/package.json
Labels: size/XS

#16066 chore: backport distributor constraint changes to k239
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/distributor.libsonnet
Labels: size/XS

#16064 chore: revert "fix: scheduling constraints (#16045)"
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/XS, product-approved, backport k239

#16013 chore(build): Update workflow to leverage updates to latest GH and Docker tags
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/S

#16069 chore(build): update release code k240
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/S

#16070 chore(build): Only use 64bit platforms for docker driver
  .github/release-workflows.jsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
Labels: size/XS

#16073 fix: Determine when all logs have been filtered
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loghttp/push/push.go
Labels: size/L

#16065 feat(dataobj): tenant partition consumer
  docs/sources/shared/configuration.md
  pkg/dataobj/builder.go
  pkg/dataobj/consumer/config.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/service.go
  pkg/kafka/partitionring/consumer/client.go
  pkg/loki/modules.go
Labels: size/M, type/docs

#16033 fix(engine): Fix `Walk()` function implementation on various `Expr` implementations
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/walk.go
  pkg/logql/syntax/walk_test.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/L

#16078 fix(ingest-limits): Add missing GRPC interceptors
  pkg/limits/frontend/client.go
  pkg/limits/frontend/client/client.go
Labels: size/S

#16083 fix: export ExcludedMetadataLabels so it can be extended in GEL
  pkg/util/entry_size.go
Labels: size/XS

#16081 docs: add match_first_network to docker_sd_configs docs
  docs/sources/send-data/promtail/configuration.md
Labels: size/XS, type/docs

#16055 chore(dataobj): Refactor processor & builder to separate concerns
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/dataobj/builder.go
  pkg/dataobj/builder_test.go
  pkg/dataobj/consumer/config.go
  pkg/dataobj/consumer/metrics.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/service.go
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metrics.go
  pkg/dataobj/uploader/metrics.go
  pkg/dataobj/uploader/uploader.go
  vendor/github.com/thanos-io/objstore/providers/filesystem/filesystem.go
  vendor/github.com/thanos-io/objstore/providers/gcs/gcs.go
  vendor/modules.txt
Labels: size/XL, type/docs

#16088 chore(dataobj): do not panic on unrecognized compression type
  pkg/dataobj/internal/dataset/page.go
Labels: size/XS

#16092 chore(build): Update loki release code for k239
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/S

#16096 ci: Fix `gochecksumtype` linter error
  pkg/logql/syntax/walk_test.go
Labels: size/XS

#16095 ci: fix docker driver platforms (fixes k239 release)
  .github/release-workflows.jsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
Labels: size/XS, type/bug, type/ci, backport k239

#16028 chore: LogQL syntax and AST simplification and cosistency
  Makefile
  pkg/logql/downstream_test.go
  pkg/logql/engine.go
  pkg/logql/log/drop_labels.go
  pkg/logql/log/drop_labels_test.go
  pkg/logql/log/keep_labels.go
  pkg/logql/log/keep_labels_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/optimize.go
  pkg/logql/range_vector_test.go
  pkg/logql/rangemapper.go
  pkg/logql/shardmapper_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/clone.go
  pkg/logql/syntax/expr.y.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/syntax/prettier.go
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/syntax.y
  pkg/logql/syntax/syntax.y.go
  pkg/logql/syntax/test_utils.go
  pkg/logql/syntax/visit.go
  pkg/logql/syntax/visit_test.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/XXL

#16098 chore: Update Golang in CI and build env to 1.23.6
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
  loki-build-image/README.md
  tools/lambda-promtail/Dockerfile
Labels: size/M, product-approved, type/ci, backport k239

#16100 feat(lambda-promtail): Improve relabel configuration parsing and testing
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/relabel.go
  tools/lambda-promtail/lambda-promtail/relabel_test.go
Labels: size/L

#15982 feat: Introduce policy stream mapping
  docs/sources/shared/configuration.md
  pkg/compactor/retention/expiration.go
  pkg/compactor/retention/expiration_test.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validation_metrics.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/instance.go
  pkg/ingester/stream.go
  pkg/validation/ingestion_policies.go
  pkg/validation/ingestion_policies_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  pkg/validation/validate.go
Labels: size/L, type/docs

#12746 fix(helm): Disable service monitor for nginx service
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/gateway/service-gateway.yaml
Labels: size/S, area/helm

#16103 chore(ksonnet): configure s3 object store region
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#16105 feat(policies): Add PoliciesStreamMapping to loghttp limits interface
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/M

#16112 fix(pattern): Correctly initialize overrides for pattern tee.
  pkg/loki/loki.go
Labels: size/XS

#16114 chore(dataobj): Add iterator for metastores
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metastore_test.go
Labels: size/L

#16104 docs: Fix config for stream policies mapping
  docs/sources/shared/configuration.md
  pkg/validation/limits.go
Labels: size/S, type/docs

#14417 ci: Remove "Add to docs project" workflow
  .github/workflows/add-to-docs-project.yml
Labels: size/S

#16117 docs: Add note to migration topic
  docs/sources/setup/upgrade/upgrade-to-6x/index.md
Labels: size/XS, type/docs

#16125 chore: avoid doing some unnecessary work while listing or merging sharded delete requests
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_store.go
  pkg/compactor/deletion/grpc_request_handler.go
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/deletion/util.go
Labels: size/M

#16128 feat(ingest-limits): Add kafka request read metrics
  pkg/limits/ingest_limits.go
Labels: size/S

#16126 chore(ksonnet): add ruler_storage section only if thanos storage is enabled
  production/ksonnet/loki/config.libsonnet
Labels: size/S

#16109 chore: Remove unnecessary errors from splitter.
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/split_by_interval.go
  pkg/querier/queryrange/split_by_interval_test.go
  pkg/querier/queryrange/splitters.go
Labels: size/M

#16110 chore: helm thanos support
  .github/workflows/helm-diff-ci.yml
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/scenarios/simple-thanos-values.yaml
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#16144 refactor(dataobj): Consolidate configuration and add querier support
  docs/sources/shared/configuration.md
  pkg/dataobj/config/config.go
  pkg/dataobj/consumer/config.go
  pkg/dataobj/consumer/service.go
  pkg/dataobj/explorer/config.go
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/querier/store.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/querier/store_combiner.go
  pkg/querier/store_combiner_test.go
  pkg/storage/config/schema_config.go
Labels: size/XXL, type/docs

#16146 chore(dataobj): Use kgo Balancer for dataobj-consumer
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/service.go
  pkg/kafka/partitionring/consumer/client.go
Labels: size/M

#16155 fix(promtail): windows forward event crash
  clients/pkg/promtail/targets/windows/win_eventlog/event.go
  clients/pkg/promtail/targets/windows/win_eventlog/win_eventlog.go
Labels: size/M

#16156 ci: standard format to be consistent
  .github/workflows/check.yml
  .github/workflows/images.yml
Labels: size/XL, component/ci

#16162 fix(ci): backport build info fixes into k239
  Makefile
  clients/cmd/promtail/Dockerfile
  cmd/logcli/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
Labels: size/S

#16166 chore(dataobj): pool instances of dataobj encoders
  pkg/dataobj/builder.go
  pkg/dataobj/pools.go
Labels: size/S

#16147 fix(metastore): empty object corrections
  go.mod
  go.sum
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metrics.go
  vendor/github.com/thanos-io/objstore/inmem.go
  vendor/github.com/thanos-io/objstore/objstore.go
  vendor/github.com/thanos-io/objstore/providers/filesystem/filesystem.go
  vendor/github.com/thanos-io/objstore/providers/gcs/gcs.go
  vendor/github.com/thanos-io/objstore/providers/s3/s3.go
  vendor/modules.txt
Labels: size/M

#16035 fix(operator): adjust PDBMinAvailable for 1x.pico size
  operator/internal/manifests/internal/sizes.go
Labels: size/XS, sig/operator

#16165 chore(ci): Republish lambda promtail images
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
Labels: size/XXL

#16169 fix(build): update build info 3 3 x
  Makefile
  clients/cmd/promtail/Dockerfile
  cmd/logcli/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
Labels: size/S

#16133 docs(thanos): add migration doc for thanos storage clients
  docs/sources/configure/examples/_index.md
  docs/sources/configure/examples/thanos-storage-configs.md
  docs/sources/setup/migrate/_index.md
  docs/sources/setup/migrate/migrate-storage-clients/_index.md
Labels: size/L, type/docs, backport k239

#16184 docs: correctly tag upgrade notes
  docs/sources/setup/upgrade/_index.md
Labels: size/S, type/docs, backport release-3.2.x, backport release-3.3.x, backport k239

#16189 feat: Account for policy when reporting seen resource and metadata labels
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
Labels: size/M

#16180 feat(metastore): Implement listing data object for a given tenant and timerange
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metastore_test.go
Labels: size/L

#15829 docs: getting started tutorial - Monitor K8s logs with Loki
  docs/sources/send-data/k8s-monitoring-helm/_index.md
Labels: size/L, type/docs

#16091 feat(helm): Allow provisioner to be namespaced
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/provisioner/role-provisioner.yaml
  production/helm/loki/templates/provisioner/rolebinding-provisioner.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#16207 docs: add upgrade notes for 3.4.x
  docs/sources/setup/upgrade/_index.md
Labels: size/S, type/docs, backport k239

#16171 docs: Release notes for Loki 3.4
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v3-4.md
Labels: size/L, type/docs, backport k239

#16214 fix(ci): Provide correct build info for release builds (#15939)
  clients/cmd/promtail/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
  cmd/querytee/Dockerfile
Labels: size/S

#16200 chore(dataobj): add predicate type for reading logs and streams
  pkg/dataobj/logs_reader.go
  pkg/dataobj/logs_reader_test.go
  pkg/dataobj/predicate.go
  pkg/dataobj/streams_reader.go
  pkg/dataobj/streams_reader_test.go
Labels: size/L

#16222 fix(dataobj): Fixes timerange matching for dataobj files
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metastore_test.go
Labels: size/L

#16190 feat(dataobj): Add methods for querying data objects metadata
  pkg/dataobj/builder.go
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/querier/metadata.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
  pkg/loki/modules.go
Labels: size/XL

#16227 docs: adding Promtail deprecation banners
  docs/sources/send-data/_index.md
  docs/sources/send-data/promtail/_index.md
  docs/sources/send-data/promtail/cloud/_index.md
  docs/sources/send-data/promtail/cloud/ec2/_index.md
  docs/sources/send-data/promtail/cloud/ecs/_index.md
  docs/sources/send-data/promtail/cloud/eks/_index.md
  docs/sources/send-data/promtail/cloud/gcp/_index.md
  docs/sources/send-data/promtail/configuration.md
  docs/sources/send-data/promtail/installation.md
  docs/sources/send-data/promtail/logrotation/_index.md
  docs/sources/send-data/promtail/pipelines.md
  docs/sources/send-data/promtail/scraping.md
  docs/sources/send-data/promtail/stages/_index.md
  docs/sources/send-data/promtail/stages/cri.md
  docs/sources/send-data/promtail/stages/decolorize.md
  docs/sources/send-data/promtail/stages/docker.md
  docs/sources/send-data/promtail/stages/drop.md
  docs/sources/send-data/promtail/stages/eventlogmessage.md
  docs/sources/send-data/promtail/stages/geoip.md
  docs/sources/send-data/promtail/stages/json.md
  docs/sources/send-data/promtail/stages/labelallow.md
  docs/sources/send-data/promtail/stages/labeldrop.md
  docs/sources/send-data/promtail/stages/labels.md
  docs/sources/send-data/promtail/stages/limit.md
  docs/sources/send-data/promtail/stages/logfmt.md
  docs/sources/send-data/promtail/stages/match.md
  docs/sources/send-data/promtail/stages/metrics.md
  docs/sources/send-data/promtail/stages/multiline.md
  docs/sources/send-data/promtail/stages/output.md
  docs/sources/send-data/promtail/stages/pack.md
  docs/sources/send-data/promtail/stages/regex.md
  docs/sources/send-data/promtail/stages/replace.md
  docs/sources/send-data/promtail/stages/sampling.md
  docs/sources/send-data/promtail/stages/static_labels.md
  docs/sources/send-data/promtail/stages/structured_metadata.md
  docs/sources/send-data/promtail/stages/template.md
  docs/sources/send-data/promtail/stages/tenant.md
  docs/sources/send-data/promtail/stages/timestamp.md
  docs/sources/send-data/promtail/troubleshooting/_index.md
  docs/sources/shared/promtail-deprecation.md
Labels: size/L, type/docs

#16181 chore: refactor delete requests store interface to prepare for replacing boltdb with sqlite for storing delete requests
  pkg/compactor/compactor.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/deletion/delete_requests_store.go
  pkg/compactor/deletion/delete_requests_store_test.go
  pkg/compactor/deletion/delete_requests_table.go
  pkg/compactor/deletion/noop_delete_requests_store.go
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/deletion/request_handler_test.go
Labels: size/XL

#16219 docs: Updates Loki release notes for 3.3.3
  docs/sources/release-notes/v3-3.md
Labels: size/S, type/docs, backport release-3.3.x

#16241 fix: remove unused variable in delete requests store code
  pkg/compactor/deletion/delete_requests_store.go
Labels: size/XS

#16243 docs: Release notes for 2.9.12
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs

#16062 feat: helm global values updates
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/bloom-builder/deployment-bloom-builder.yaml
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/templates/compactor/statefulset-compactor.yaml
  production/helm/loki/templates/distributor/deployment-distributor.yaml
  production/helm/loki/templates/index-gateway/statefulset-index-gateway.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/templates/overrides-exporter/deployment-overrides-exporter.yaml
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
  production/helm/loki/templates/querier/deployment-querier.yaml
  production/helm/loki/templates/query-frontend/deployment-query-frontend.yaml
  production/helm/loki/templates/query-scheduler/deployment-query-scheduler.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/ruler/statefulset-ruler.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#16057 fix(operator): Update OTLP user guide to reflect change in LokiStack
  operator/docs/user-guides/open-telemetry.md
Labels: size/S, sig/operator

#16182 feat(policies): Per policy enforced labels
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/M, type/docs

#16245 fix(dataobj): Fixes timerange predicate
  pkg/dataobj/predicate_test.go
  pkg/dataobj/streams_reader.go
Labels: size/L

#16250 chore: Revert the revert "fix: scheduling constraints (#16045)""
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/XS

#16233 feat(dataobj): cardinality estimation
  pkg/dataobj/internal/dataset/column_builder.go
  pkg/dataobj/internal/dataset/column_stats.go
  pkg/dataobj/internal/dataset/column_test.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/sections/logs/table.go
  pkg/dataobj/internal/sections/streams/streams.go
Labels: size/L

#16251 feat(dataob): Implement SelectSamples
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/metadata.go
  pkg/dataobj/querier/metadata_test.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
  pkg/iter/sample_iterator.go
  pkg/iter/sample_iterator_test.go
Labels: size/XXL

#16261 feat(dataobj): Implement SelectLogs using a topk min-heap
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/iter_test.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
Labels: size/XL

#16271 fix(ci): do not disable CGO in Makefile
  Makefile
Labels: size/XS, type/ci, backport release-3.4.x

#16273 feat(dataobj): Ensure constant sharding for the dataobj querier
  docs/sources/shared/configuration.md
  pkg/dataobj/querier/store.go
  pkg/loki/modules.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/config/schema_config.go
Labels: size/M, type/docs

#16260 docs: minor RN update
  docs/sources/release-notes/v3-4.md
Labels: size/XS, type/docs, backport release-3.4.x

#16275 chore: Clean go.mod file in cmd/dataobj-inspect directory
  cmd/dataobj-inspect/go.mod
  cmd/dataobj-inspect/go.sum
Labels: size/XL

#16278 docs: release notes for v3.4.2
  docs/sources/release-notes/v3-4.md
Labels: size/XS, type/docs, backport release-3.4.x

#16131 fix(approx_topk): Map approx_topk operation in all cases
  pkg/logql/shardmapper.go
  pkg/logql/shardmapper_test.go
Labels: size/L

#16258 docs: Update versions in docs
  docs/sources/operations/caching.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/setup/install/docker.md
  docs/sources/setup/install/install-from-source.md
  docs/sources/setup/install/local.md
  docs/sources/setup/install/tanka.md
Labels: type/docs, backport release-3.4.x

#16252 perf: Improve push.RetentionPeriodToString() efficiency
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/M

#16291 docs: fix spacing in Cardinality URL
  docs/sources/get-started/labels/cardinality.md
Labels: size/XS, type/docs, backport release-3.3.x, backport release-3.4.x

#16294 fix(deps): Loki 2.9.x Bump Alpine and Go versions
  cmd/loki/Dockerfile
Labels: size/XS

#16266 fix: change object_store.prefix to object_store.storage_prefix in helm
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/XS, area/helm, type/docs

#15997 feat(tools): Add stream metadata generator
  tools/stream-metadata-generator/Dockerfile
  tools/stream-metadata-generator/README.md
  tools/stream-metadata-generator/docker-compose.yaml
  tools/stream-metadata-generator/entrypoint.sh
  tools/stream-metadata-generator/loki-local-config.debug.yaml
  tools/stream-metadata-generator/main.go
Labels: size/XL

#16325 feat(dataobj/querier): Add logging and improve stream processing metrics
  pkg/dataobj/querier/metadata.go
  pkg/dataobj/querier/metadata_test.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
  pkg/loki/modules.go
Labels: size/L

#16203 feat: Add support for blocking a policy to be ingested
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  pkg/validation/validate.go
Labels: size/L, type/docs

#16342 chore: fix a panic in stream generator
  tools/stream-metadata-generator/main.go
Labels: size/XS

#16345 Patch k217 alloy v1.7 fork
  clients/pkg/promtail/targets/windows/win_eventlog/event.go
  clients/pkg/promtail/targets/windows/win_eventlog/win_eventlog.go
  go.mod
  go.sum
  pkg/analytics/seed.go
  pkg/analytics/stats.go
  pkg/loki/version_handler.go
  pkg/util/build/build.go
  pkg/util/build/prometheus_version.go
  vendor/github.com/julienschmidt/httprouter/.travis.yml
  vendor/github.com/julienschmidt/httprouter/LICENSE
  vendor/github.com/julienschmidt/httprouter/README.md
  vendor/github.com/julienschmidt/httprouter/path.go
  vendor/github.com/julienschmidt/httprouter/router.go
  vendor/github.com/julienschmidt/httprouter/tree.go
  vendor/github.com/klauspost/compress/zlib/reader.go
  vendor/github.com/klauspost/compress/zlib/writer.go
  vendor/github.com/prometheus/common/route/route.go
  vendor/github.com/prometheus/prometheus/util/httputil/compression.go
  vendor/github.com/prometheus/prometheus/util/httputil/context.go
  vendor/github.com/prometheus/prometheus/util/httputil/cors.go
  vendor/github.com/prometheus/prometheus/web/api/v1/api.go
  vendor/github.com/prometheus/prometheus/web/api/v1/codec.go
  vendor/modules.txt
Labels: size/L

#16349 feat(dataobj-querier): Fixes streams section sharding & instrumentation
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/metadata.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
  pkg/loki/modules.go
  pkg/querier/queryrange/querysharding.go
  pkg/querier/queryrange/querysharding_test.go
  pkg/querier/store_combiner.go
Labels: size/XL

#16348 chore: flush idle dataobjects after X seconds
  docs/sources/shared/configuration.md
  pkg/dataobj/consumer/config.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/service.go
Labels: size/L, type/chore, type/docs

#16358 chore: small fixes for #16348
  pkg/dataobj/consumer/config.go
  pkg/dataobj/consumer/partition_processor.go
Labels: size/S, type/chore

#16196 chore: add multi-variant query support to LogQL
  pkg/logql/engine.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/clone.go
  pkg/logql/syntax/clone_test.go
  pkg/logql/syntax/lex.go
  pkg/logql/syntax/lex_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/serialize_test.go
  pkg/logql/syntax/syntax.y
  pkg/logql/syntax/syntax.y.go
  pkg/logql/syntax/test_utils.go
  pkg/logql/syntax/visit.go
  pkg/logql/syntax/visit_test.go
  pkg/logql/syntax/walk_test.go
  pkg/logqlmodel/error.go
  pkg/querier/plan/plan_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/util/server/error.go
Labels: size/XL

#16370 chore(ui): Suppress debug log message from ckit
  pkg/ui/service.go
Labels: size/XS, backport, type/bug, backport k242

#16368 chore(operator): fix .golangci.yaml config file
  operator/.golangci.yaml
  operator/Makefile
Labels: size/S, sig/operator

#16360 feat(operator): Update Loki operand to v3.4.2
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/M, sig/operator

#15260 feat(operator): Add support for Swift TLS CA configuration
  operator/internal/manifests/storage/configure.go
  operator/internal/manifests/storage/configure_test.go
Labels: size/L, sig/operator

#16369 chore(helm): add missing check for adminAPI on enterprise
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/admin-api/service-admin-api.yaml
Labels: size/XS, area/helm

#16338 feat: enforce limits in distributors
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/limits/frontend/client/client.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/service_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/loki.go
  pkg/loki/modules.go
  tools/stream-metadata-generator/main.go
Labels: size/L, type/docs

#16381 chore: Move pool factory for ingest-limits-frontend client into package
  pkg/distributor/distributor.go
  pkg/limits/frontend/client/client.go
Labels: size/S

#16382 chore: Move client into package and add NewPoolFactory function
  pkg/limits/client/client.go
  pkg/limits/config.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/ingest_limits.go
Labels: size/L

#16387 fix: Fix blocked ingestion returned error when 260
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/validate.go
Labels: size/S

#16376 feat(dataobj): expose cardinality estimations in UI
  pkg/dataobj/explorer/inspect.go
  pkg/ui/frontend/src/components/explorer/file-metadata.tsx
  pkg/ui/frontend/src/types/explorer.ts
Labels: size/M

#16391 chore: Rename Explore Apps to App Drilldown
  docs/sources/get-started/labels/_index.md
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/send-data/k8s-monitoring-helm/_index.md
  docs/sources/visualize/grafana.md
Labels: size/M, type/docs, backport release-3.4.x

#16322 chore(dataobj): add "uncompressed size" column to streams section
  pkg/dataobj/builder.go
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.pb.go
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.proto
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/internal/sections/streams/streams_test.go
  pkg/dataobj/streams_reader.go
  pkg/dataobj/streams_reader_test.go
Labels: size/L

#16224 refactor: allow sample expressions to have multiple extractors
  docs/sources/shared/configuration.md
  pkg/chunkenc/dumb_chunk.go
  pkg/chunkenc/interface.go
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/variants.go
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/store.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/stream.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/extractor.go
  pkg/logql/syntax/extractor_test.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/test_utils.go
  pkg/querier/queryrange/roundtrip.go
  pkg/storage/batch.go
  pkg/storage/batch_test.go
  pkg/storage/lazy_chunk.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store.go
  pkg/util/deletion/deletion.go
Labels: size/XXL, type/docs

#16407 chore: log X-Query-Tags in the frontend executing query log message
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/logql/metrics_test.go
  pkg/querier/queryrange/roundtrip.go
  pkg/util/httpreq/tags.go
  pkg/util/httpreq/tags_test.go
Labels: size/L

#16394 chore: rename New to NewClient
  pkg/limits/client/client.go
  pkg/limits/frontend/client/client.go
  tools/stream-metadata-generator/main.go
Labels: size/S

#16413 fix: update crc64nvme to fix build issues with arm images
  go.mod
  go.sum
  vendor/github.com/minio/crc64nvme/crc64_amd64.s
  vendor/github.com/minio/crc64nvme/crc64_arm64.s
  vendor/github.com/minio/crc64nvme/crc64_other.go
  vendor/modules.txt
Labels: size/XS

#16419 feat: add a config option for custom GCS endpoints
  docs/sources/shared/configuration.md
  pkg/storage/chunk/client/gcp/gcs_object_client.go
Labels: size/S, type/docs

#16379 chore(analytics): Reduce logging for the analytics package
  pkg/analytics/reporter.go
Labels: size/XS

#16393 chore: fix flush process for dataobj
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
  pkg/dataobj/internal/sections/streams/streams.go
Labels: size/L, type/chore

#16317 feat(helm): Optionally add the operational UI
  docs/sources/operations/loki-ui/_index.md
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/Makefile
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/L, area/helm, type/docs

#16441 fix: Revert "feat: Assert for bad `max_query_lookback` config (#16362)"
  production/ksonnet/loki/common.libsonnet
  production/ksonnet/loki/overrides.libsonnet
Labels: size/M

#16418 chore(dataobj): Decode values in batches
  pkg/dataobj/internal/dataset/page_iter.go
  pkg/dataobj/internal/dataset/page_test.go
  pkg/dataobj/internal/dataset/value_encoding.go
  pkg/dataobj/internal/dataset/value_encoding_bitmap.go
  pkg/dataobj/internal/dataset/value_encoding_bitmap_test.go
  pkg/dataobj/internal/dataset/value_encoding_delta.go
  pkg/dataobj/internal/dataset/value_encoding_delta_test.go
  pkg/dataobj/internal/dataset/value_encoding_plain.go
  pkg/dataobj/internal/dataset/value_encoding_plain_test.go
Labels: size/L

#16399 feat(stream-metadata-generator): Add support for static partitions
  tools/stream-metadata-generator/main.go
Labels: size/S

#16398 feat(ingest-limits): Request stream usage for static partitions only
  docs/sources/shared/configuration.md
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/XXL, type/docs

#16445 chore(ui): Only rejoin new nodes and add back instrumentation
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/loki/modules.go
  pkg/ui/config.go
  pkg/ui/discovery.go
  pkg/ui/service.go
  production/helm/loki/README.md
  production/helm/loki/values.yaml
  vendor/github.com/grafana/ckit/metrics.go
  vendor/github.com/grafana/ckit/node.go
  vendor/modules.txt
Labels: size/L, area/helm, type/docs

#16443 fix(operator): Update maximum OpenShift version
  operator/bundle/openshift/metadata/properties.yaml
Labels: size/XS, sig/operator

#16409 refactor: use a more straightforward return value
  pkg/storage/chunk/client/alibaba/oss_object_client.go
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
Labels: size/XS

#16470 docs: fixed wording around configuration of UI
  docs/sources/operations/loki-ui/_index.md
Labels: size/XS, type/docs

#16468 fix(ruler): ensure test service shutdown is properly awaited
  pkg/ruler/base/api_test.go
Labels: size/XS

#16471 fix(queryrange): properly handle context cancellation in Downstreamer
  pkg/querier/queryrange/downstreamer.go
Labels: size/S

#16474 fix(memchunk): Skip a test that currently is not used in our main path
  pkg/chunkenc/memchunk_test.go
Labels: size/M

#16477 fix(ingest-limits): Consistent lock ordering
  pkg/limits/ingest_limits.go
Labels: size/XS, type/docs

#16478 feat(stream-metadata-generator): Support tenant prefix
  tools/stream-metadata-generator/main.go
Labels: size/XS

#16484 test: fix flaky multi extractor
  pkg/chunkenc/memchunk_test.go
Labels: size/M

#16429 chore(dataobj): introduce more efficient dataset reading
  pkg/dataobj/internal/dataset/column_iter.go
  pkg/dataobj/internal/dataset/column_reader.go
  pkg/dataobj/internal/dataset/column_reader_test.go
  pkg/dataobj/internal/dataset/column_test.go
  pkg/dataobj/internal/dataset/dataset.go
  pkg/dataobj/internal/dataset/dataset_iter.go
  pkg/dataobj/internal/dataset/dataset_sort.go
  pkg/dataobj/internal/dataset/dataset_sort_test.go
  pkg/dataobj/internal/dataset/page_iter.go
  pkg/dataobj/internal/dataset/page_reader.go
  pkg/dataobj/internal/dataset/page_reader_test.go
  pkg/dataobj/internal/dataset/page_test.go
  pkg/dataobj/internal/dataset/predicate.go
  pkg/dataobj/internal/dataset/reader.go
  pkg/dataobj/internal/dataset/reader_basic.go
  pkg/dataobj/internal/dataset/reader_basic_test.go
  pkg/dataobj/internal/dataset/reader_downloader.go
  pkg/dataobj/internal/dataset/reader_test.go
  pkg/dataobj/internal/dataset/row_range.go
  pkg/dataobj/internal/dataset/row_range_test.go
  pkg/dataobj/internal/dataset/row_ranges.go
  pkg/dataobj/internal/dataset/row_ranges_test.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/logs/table_merge.go
  pkg/dataobj/internal/sections/logs/table_test.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/internal/util/bitmask/bitmask.go
  pkg/dataobj/internal/util/bitmask/bitmask_test.go
Labels: size/XXL

#16490 chore: reduce ingest_limits.go to single mutex
  pkg/limits/ingest_limits.go
Labels: size/S

#16496 fix: remove check around evicted gauge
  pkg/limits/ingest_limits.go
Labels: size/XS

#16499 chore: add comments about delete and format line length
  pkg/limits/ingest_limits.go
Labels: size/S

#16426 chore: implement multi-variant queries
  cmd/loki/loki-local-config.yaml
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/variants.go
  pkg/ingester/instance_test.go
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/rangemapper.go
  pkg/logql/shardmapper.go
  pkg/logql/syntax/ast.go
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/XXL
