Repository grafana/loki, pull requests merged in 2025-08, with the labels that each got.

#18565 test: Introduce the Helm Chart Toolbox integration tests
  .github/workflows/helm-ci.yml
  production/helm/loki/test/integration/ingress/test-plan.yaml
  production/helm/loki/test/integration/single-binary/log-generator.yaml
  production/helm/loki/test/integration/single-binary/test-plan.yaml
Labels: size/L

#15882 feat(helm): adds a flag for tokengen rbac components so that they can be disabled optionally
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/tokengen/clusterrole-tokengen.yaml
  production/helm/loki/templates/tokengen/clusterrolebinding-tokengen.yaml
  production/helm/loki/templates/tokengen/serviceaccount-tokengen.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#18711 fix(deps): update dskit dependency
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/middleware/logging.go
  vendor/modules.txt
Labels: size/XS, dependencies

#16759 feat(helm): add tpl support for pattern_ingester and ingester_client
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/values.yaml
Labels: size/M, area/helm

#18715 fix: Update dskit to fix linux/arm build
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/ring/multi_partition_instance_ring.go
  vendor/modules.txt
Labels: size/XS, type/bug

#18525 feat(helm): Add readiness and liveness support for all memcached components
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/values.yaml
Labels: size/L

#18509 feat(helm): Expose all storage configuration
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/L

#18716 fix: Update dskit to fix linux/arm build (#18715)
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  vendor/github.com/grafana/dskit/middleware/logging.go
  vendor/github.com/grafana/dskit/ring/multi_partition_instance_ring.go
  vendor/modules.txt
Labels: size/XS

#18607 chore(helm): Add comments, clarifying ruler setup
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/XS

#18718 test: use static time to avoid flaky test
  pkg/pattern/stream_test.go
Labels: size/M

#18728 fix: register goldfish flags
  docs/sources/shared/configuration.md
  pkg/ui/config.go
Labels: size/S

#18712 feat: log ingestion policy when log_push_request is set
  pkg/distributor/http.go
Labels: size/XS

#18724 feat: add histogram to track the number of sections per tenant
  pkg/dataobj/consumer/logsobj/builder_metrics.go
  pkg/dataobj/consumer/logsobj/multi_tenant_builder.go
Labels: size/S

#18735 fix: multiple sections not working when reading metastore object
  pkg/dataobj/metastore/multi_tenant_updater.go
  pkg/dataobj/metastore/multi_tenant_updater_test.go
Labels: size/M

#18622 chore(dataobj): return Object on Builder.Flush
  pkg/dataobj/builder.go
  pkg/dataobj/consumer/logsobj/builder.go
  pkg/dataobj/consumer/logsobj/builder_test.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/dataobj.go
  pkg/dataobj/encoder.go
  pkg/dataobj/index/builder.go
  pkg/dataobj/index/builder_test.go
  pkg/dataobj/index/calculate.go
  pkg/dataobj/index/calculate_test.go
  pkg/dataobj/index/indexobj/builder.go
  pkg/dataobj/index/indexobj/builder_test.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/object_test.go
  pkg/dataobj/metastore/updater.go
  pkg/dataobj/metastore/updater_test.go
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/range_reader.go
  pkg/dataobj/sections/indexpointers/builder_test.go
  pkg/dataobj/sections/indexpointers/row_reader_test.go
  pkg/dataobj/sections/logs/builder_test.go
  pkg/dataobj/sections/logs/reader_test.go
  pkg/dataobj/sections/logs/row_reader_test.go
  pkg/dataobj/sections/pointers/builder_test.go
  pkg/dataobj/sections/pointers/row_reader_test.go
  pkg/dataobj/sections/streams/builder_test.go
  pkg/dataobj/sections/streams/row_reader_test.go
  pkg/dataobj/uploader/uploader.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/streams_view_test.go
  pkg/logql/bench/store_dataobj.go
Labels: size/XL

#18665 fix(helm): only validate the ruler key exists under loki.storage.bucketNames when an object storage bucket is being used
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/validate.yaml
Labels: size/S

#18740 fix(helm): Fix incorrect context references in Helm storage templates
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S

#18785 chore(deps): Downgrade kprom from v1.3.0 back to v1.2.1
  go.mod
  go.sum
  vendor/github.com/twmb/franz-go/plugin/kprom/config.go
  vendor/github.com/twmb/franz-go/plugin/kprom/kprom.go
  vendor/modules.txt
Labels: size/XS

#18787 chore: Pin kprom to 1.2.x range in Renovate config
  .github/renovate.json5
Labels: size/XS

#18555 chore(dataobj): Use storage prefix for metastore index lookups
  docs/sources/shared/configuration.md
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/index/builder.go
  pkg/dataobj/index/builder_test.go
  pkg/dataobj/metastore/config.go
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/object_test.go
  pkg/dataobj/metastore/updater.go
  pkg/dataobj/metastore/updater_test.go
  pkg/dataobj/querier/metadata_test.go
  pkg/dataobj/querier/store_test.go
  pkg/engine/engine.go
  pkg/engine/planner/physical/catalog.go
  pkg/logql/bench/store_dataobj.go
  pkg/logql/bench/store_dataobj_v2_engine.go
  pkg/logql/engine.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/http_test.go
Labels: size/L

#18795 fix(operator): upgrade OPA policy syntax for v1+
  operator/internal/manifests/internal/gateway/lokistack-gateway.rego
Labels: size/M

#18799 chore: move mocks into mock.go
  pkg/dataobj/consumer/mock_test.go
  pkg/dataobj/consumer/partition_processor_test.go
Labels: size/L

#18798 chore: use zero value for time in partition_processor.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
Labels: size/S

#18815 chore(dataobj): permit reading subset of section metadata
  pkg/dataobj/section.go
  pkg/dataobj/section_reader.go
  pkg/dataobj/sections/indexpointers/decoder.go
  pkg/dataobj/sections/logs/decoder.go
  pkg/dataobj/sections/pointers/decoder.go
  pkg/dataobj/sections/streams/decoder.go
Labels: size/M

#18802 chore: Use protobuf for encoding artifacts built by horizontally scalable compactor while processing delete requests
  pkg/compactor/client/client.go
  pkg/compactor/client/grpc.go
  pkg/compactor/client/grpc/grpc.pb.go
  pkg/compactor/client/grpc/grpc.proto
  pkg/compactor/client/http.go
  pkg/compactor/deletion/delete_request.go
  pkg/compactor/deletion/delete_request_batch.go
  pkg/compactor/deletion/delete_request_batch_test.go
  pkg/compactor/deletion/delete_request_test.go
  pkg/compactor/deletion/delete_requests_client.go
  pkg/compactor/deletion/delete_requests_client_test.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/deletion/delete_requests_store.go
  pkg/compactor/deletion/delete_requests_store_boltdb.go
  pkg/compactor/deletion/delete_requests_store_boltdb_test.go
  pkg/compactor/deletion/delete_requests_store_sqlite.go
  pkg/compactor/deletion/delete_requests_store_sqlite_test.go
  pkg/compactor/deletion/delete_requests_store_test.go
  pkg/compactor/deletion/deletion_manifest_builder.go
  pkg/compactor/deletion/deletion_manifest_builder_test.go
  pkg/compactor/deletion/deletionproto/custom.go
  pkg/compactor/deletion/deletionproto/types.pb.go
  pkg/compactor/deletion/deletionproto/types.proto
  pkg/compactor/deletion/grpc_request_handler.go
  pkg/compactor/deletion/grpc_request_handler_test.go
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/deletion/job_runner.go
  pkg/compactor/deletion/job_runner_test.go
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/deletion/request_handler_test.go
  pkg/compactor/deletion/tenant_delete_requests_client.go
  pkg/compactor/deletion/tenant_delete_requests_client_test.go
  pkg/compactor/jobqueue/queue.go
  pkg/compactor/ui.go
  pkg/querier/deletion/delete.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/tail/querier_test.go
  pkg/querier/tail/tail_mock_test.go
Labels: size/XXL

#18780 chore(dataobj): add ability to buffer pending sections to disk
  docs/sources/shared/configuration.md
  pkg/dataobj/builder.go
  pkg/dataobj/consumer/logsobj/builder.go
  pkg/dataobj/consumer/logsobj/builder_test.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
  pkg/dataobj/consumer/service.go
  pkg/dataobj/encoder.go
  pkg/dataobj/encoder_test.go
  pkg/dataobj/index/builder.go
  pkg/dataobj/index/builder_test.go
  pkg/dataobj/index/calculate_test.go
  pkg/dataobj/index/indexobj/builder.go
  pkg/dataobj/index/indexobj/builder_test.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/object_test.go
  pkg/dataobj/metastore/updater.go
  pkg/dataobj/metastore/updater_test.go
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/sections/indexpointers/builder_test.go
  pkg/dataobj/sections/indexpointers/row_reader_test.go
  pkg/dataobj/sections/logs/builder_test.go
  pkg/dataobj/sections/logs/reader_test.go
  pkg/dataobj/sections/logs/row_reader_test.go
  pkg/dataobj/sections/pointers/builder_test.go
  pkg/dataobj/sections/pointers/row_reader_test.go
  pkg/dataobj/sections/streams/builder_test.go
  pkg/dataobj/sections/streams/row_reader_test.go
  pkg/dataobj/snapshot.go
  pkg/dataobj/snapshot_test.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/streams_view_test.go
  pkg/logql/bench/store_dataobj.go
  pkg/loki/common/common.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  pkg/scratch/filesystem.go
  pkg/scratch/filesystem_test.go
  pkg/scratch/memory.go
  pkg/scratch/metrics.go
  pkg/scratch/scratch.go
  pkg/scratch/scratch_test.go
Labels: size/XXL

#18818 docs: Fix broken link to blog post on Single Store TSDB documentation page
  docs/sources/operations/storage/tsdb.md
Labels: size/XS, backport release-3.4.x, backport release-3.5.x

#18823 docs: backport link fix 3.5
  docs/sources/operations/storage/tsdb.md
Labels: size/XS, type/docs

#18824 docs: backport link fix 3.4
  docs/sources/operations/storage/tsdb.md
Labels: size/XS, type/docs

#18814 docs: fix small typo
  docs/sources/query/log_queries/_index.md
Labels: size/XS, backport release-3.4.x, backport release-3.5.x

#18827 docs: backport typo fix to 3.5
  docs/sources/query/log_queries/_index.md
Labels: size/XS, type/docs

#18822 chore(dataobj): remove support for deprecated fields (breaking change)
  pkg/dataobj/decoder.go
  pkg/dataobj/encoder.go
  pkg/dataobj/encoder_test.go
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/metrics.go
  pkg/dataobj/section.go
  pkg/dataobj/section_reader.go
Labels: size/L

#18821 chore: Refactor metastore Updater (breaking change)
  docs/sources/shared/configuration.md
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/index/builder.go
  pkg/dataobj/metastore/config.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/metrics.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/object_test.go
  pkg/dataobj/metastore/toc_writer.go
  pkg/dataobj/metastore/toc_writer_test.go
  pkg/dataobj/metastore/updater.go
  pkg/dataobj/metastore/updater_test.go
  pkg/dataobj/querier/store_test.go
  pkg/logql/bench/store_dataobj.go
Labels: size/XXL

#18832 chore(dataobj): introduce the concept of section info "extensions"
  pkg/dataobj/builder.go
  pkg/dataobj/builder_test.go
  pkg/dataobj/dataobj.go
  pkg/dataobj/decoder.go
  pkg/dataobj/encoder.go
  pkg/dataobj/encoder_test.go
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/section.go
  pkg/dataobj/section_reader.go
  pkg/dataobj/sections/indexpointers/encoder.go
  pkg/dataobj/sections/logs/encoder.go
  pkg/dataobj/sections/pointers/encoder.go
  pkg/dataobj/sections/streams/encoder.go
  pkg/dataobj/snapshot.go
Labels: size/L

#18797 chore(dataobj): read non-projected predicate columns
  pkg/dataobj/sections/logs/predicate.go
  pkg/dataobj/sections/logs/reader.go
  pkg/dataobj/sections/logs/reader_test.go
  pkg/logql/bench/generator_query.go
Labels: size/L

#18834 fix: dataobj-consumers did not commit offsets on idle flush
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
Labels: size/L

#18857 chore(dataobj): make section tenancy a global construct
  pkg/dataobj/builder.go
  pkg/dataobj/builder_test.go
  pkg/dataobj/dataobj.go
  pkg/dataobj/encoder.go
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/internal/metadata/logsmd/logsmd.pb.go
  pkg/dataobj/internal/metadata/logsmd/logsmd.proto
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.pb.go
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.proto
  pkg/dataobj/section.go
  pkg/dataobj/sections/indexpointers/encoder.go
  pkg/dataobj/sections/logs/encoder.go
  pkg/dataobj/sections/logs/logs.go
  pkg/dataobj/sections/pointers/encoder.go
  pkg/dataobj/sections/streams/encoder.go
  pkg/dataobj/sections/streams/streams.go
  pkg/dataobj/snapshot.go
Labels: size/L

#18889 chore(logql/bench): align data directory with production layout
  pkg/logql/bench/store_chunk.go
  pkg/logql/bench/store_dataobj.go
Labels: size/S

#18510 feat(helm): Support separate loki ruler storage configuration
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.schema.json
  production/helm/loki/values.yaml
Labels: size/M

#18549 feat(helm): Add health probes to bloom-builder
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/bloom-builder/deployment-bloom-builder.yaml
Labels: size/S

#18551 feat(helm): Add health probes to bloom-gateway
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/bloom-gateway/_helpers-bloom-gateway.tpl
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/values.yaml
Labels: size/M

#18916 fix: reset the last modified timestamp on flush
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
Labels: size/S

#18917 chore: improve flush unit tests with better separation
  pkg/dataobj/consumer/partition_processor_test.go
Labels: size/L

#18899 docs: remove Jaeger from troubleshooting
  docs/sources/operations/troubleshooting.md
Labels: size/S, type/docs, backport release-3.5.x

#18902 docs: Remove port number from OTEL endpoint
  docs/sources/reference/loki-http-api.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/otel/otel-collector-getting-started.md
Labels: size/S, type/docs, backport release-3.4.x, backport release-3.5.x

#18919 chore: add safety check for estimated size
  pkg/dataobj/consumer/mock_test.go
  pkg/dataobj/consumer/partition_processor.go
Labels: size/XS

#18924 docs: backport add note to retention topic
  docs/sources/operations/storage/retention.md
  docs/sources/send-data/otel/_index.md
Labels: size/S, type/docs

#18819 ci: Add Claude Code GitHub Workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: size/L

#18907 fix(helm): Roll back change to Thanos ruler storage
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/XS

#18926 feat: Default ingestion policy mappings merged with per-tenant mappings
  cmd/loki/main.go
  docs/sources/shared/configuration.md
  integration/cluster/cluster.go
  pkg/distributor/distributor.go
  pkg/validation/ingestion_policies.go
  pkg/validation/ingestion_policies_test.go
  pkg/validation/limits.go
Labels: size/L

#18928 chore: Make metastore event synchronous
  docs/sources/shared/configuration.md
  pkg/dataobj/consumer/mock_test.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
  pkg/dataobj/metastore/config.go
Labels: size/L

#18958 fix: update kfake to fix tests and revert go-redis
  go.mod
  go.sum
  pkg/kafka/client/reader_client_test.go
  pkg/kafka/client/writer_client_test.go
  vendor/github.com/redis/go-redis/v9/CHANGELOG.md
  vendor/github.com/redis/go-redis/v9/README.md
  vendor/github.com/redis/go-redis/v9/RELEASE-NOTES.md
  vendor/github.com/redis/go-redis/v9/bitmap_commands.go
  vendor/github.com/redis/go-redis/v9/command.go
  vendor/github.com/redis/go-redis/v9/error.go
  vendor/github.com/redis/go-redis/v9/generic_commands.go
  vendor/github.com/redis/go-redis/v9/hash_commands.go
  vendor/github.com/redis/go-redis/v9/internal/hashtag/hashtag.go
  vendor/github.com/redis/go-redis/v9/internal/pool/conn.go
  vendor/github.com/redis/go-redis/v9/internal/pool/pool.go
  vendor/github.com/redis/go-redis/v9/internal/proto/reader.go
  vendor/github.com/redis/go-redis/v9/options.go
  vendor/github.com/redis/go-redis/v9/osscluster.go
  vendor/github.com/redis/go-redis/v9/probabilistic.go
  vendor/github.com/redis/go-redis/v9/redis.go
  vendor/github.com/redis/go-redis/v9/ring.go
  vendor/github.com/redis/go-redis/v9/search_builders.go
  vendor/github.com/redis/go-redis/v9/search_commands.go
  vendor/github.com/redis/go-redis/v9/sentinel.go
  vendor/github.com/redis/go-redis/v9/set_commands.go
  vendor/github.com/redis/go-redis/v9/sortedset_commands.go
  vendor/github.com/redis/go-redis/v9/stream_commands.go
  vendor/github.com/redis/go-redis/v9/universal.go
  vendor/github.com/redis/go-redis/v9/vectorset_commands.go
  vendor/github.com/redis/go-redis/v9/version.go
  vendor/github.com/twmb/franz-go/pkg/kfake/00_produce.go
  vendor/github.com/twmb/franz-go/pkg/kfake/01_fetch.go
  vendor/github.com/twmb/franz-go/pkg/kfake/02_list_offsets.go
  vendor/github.com/twmb/franz-go/pkg/kfake/03_metadata.go
  vendor/github.com/twmb/franz-go/pkg/kfake/08_offset_commit.go
  vendor/github.com/twmb/franz-go/pkg/kfake/09_offset_fetch.go
  vendor/github.com/twmb/franz-go/pkg/kfake/10_find_coordinator.go
  vendor/github.com/twmb/franz-go/pkg/kfake/15_describe_groups.go
  vendor/github.com/twmb/franz-go/pkg/kfake/16_list_groups.go
  vendor/github.com/twmb/franz-go/pkg/kfake/18_api_versions.go
  vendor/github.com/twmb/franz-go/pkg/kfake/37_create_partitions.go
  vendor/github.com/twmb/franz-go/pkg/kfake/cluster.go
  vendor/github.com/twmb/franz-go/pkg/kfake/data.go
  vendor/github.com/twmb/franz-go/pkg/kfake/groups.go
  vendor/github.com/twmb/franz-go/pkg/kfake/topic_partition.go
  vendor/modules.txt
Labels: size/S

#18997 fix: update ckit
  go.mod
  go.sum
  vendor/github.com/grafana/ckit/internal/gossiphttp/message.go
  vendor/modules.txt
Labels: size/XS

#18978 chore: Add fixed ordering to edges in plan and only allow for single parent per plan node
  pkg/engine/planner/physical/optimizer_test.go
  pkg/engine/planner/physical/plan.go
  pkg/engine/planner/physical/plan_test.go
  pkg/engine/planner/physical/range_aggregate.go
Labels: size/L

#18880 chore: Support multi-tenancy in indexobj builder
  pkg/dataobj/consumer/mock_test.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/index/builder.go
  pkg/dataobj/index/calculate.go
  pkg/dataobj/index/calculate_test.go
  pkg/dataobj/index/indexobj/builder.go
  pkg/dataobj/index/indexobj/builder_test.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/metrics.go
  pkg/dataobj/metastore/multitenancy/timeranges.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/object_test.go
  pkg/dataobj/metastore/toc_writer.go
  pkg/dataobj/metastore/toc_writer_test.go
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/sections/indexpointers/builder.go
  pkg/dataobj/sections/pointers/builder.go
  pkg/logql/bench/store_dataobj.go
Labels: size/XL

#19011 docs: encourage new entries to make newline
  production/helm/loki/CHANGELOG.md
Labels: size/XS

#13474 feat(helm): Make access modes for persistence on all PVCs and StatefulSets editable
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/templates/compactor/statefulset-compactor.yaml
  production/helm/loki/templates/index-gateway/statefulset-index-gateway.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/ruler/statefulset-ruler.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
  production/helm/loki/values.yaml
Labels: size/L, area/helm

#18708 feat(helm): allow configuring service types
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/backend/service-backend.yaml
  production/helm/loki/templates/compactor/service-compactor.yaml
  production/helm/loki/templates/distributor/service-distributor.yaml
  production/helm/loki/templates/index-gateway/service-index-gateway.yaml
  production/helm/loki/templates/ingester/service-ingester.yaml
  production/helm/loki/templates/querier/service-querier.yaml
  production/helm/loki/templates/query-frontend/service-query-frontend.yaml
  production/helm/loki/templates/read/service-read.yaml
  production/helm/loki/templates/single-binary/service.yaml
  production/helm/loki/templates/write/service-write.yaml
  production/helm/loki/values.yaml
Labels: size/L

#19032 fix: panic in stats.go
  cmd/dataobj-inspect/stats.go
Labels: size/XS

#19033 feat: print the tenant in the dump and stats sub-commands
  cmd/dataobj-inspect/dump.go
  cmd/dataobj-inspect/stats.go
  pkg/dataobj/tools/stats.go
Labels: size/L

#19018 chore: fix metastore indexes being written with double prefixes
  pkg/dataobj/index/builder.go
Labels: size/S

#19041 fix: backoff cannot be canceled via ctx
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/toc_writer.go
  pkg/dataobj/metastore/toc_writer_test.go
  pkg/dataobj/querier/metadata_test.go
  pkg/dataobj/querier/store_test.go
Labels: size/L

#19038 docs: fixed an indentation typo at storage example.
  docs/sources/configure/storage.md
Labels: size/XS

#19047 docs: backport typo to 3.5 branch
  docs/sources/configure/storage.md
Labels: size/XS, type/docs

#18966 docs: fixing link to Helm docs
  production/helm/loki/README.md
  production/helm/loki/README.md.gotmpl
Labels: size/XS

#19040 chore(engine): Correctly free record allocations
  pkg/engine/executor/sortmerge.go
Labels: size/S

#19044 feat: add p50, p95 and p99 sections per tenant to stats
  cmd/dataobj-inspect/stats.go
  pkg/dataobj/tools/stats.go
Labels: size/M

#19055 chore: run go mod tidy on dataobj-inspect
  cmd/dataobj-inspect/go.mod
  cmd/dataobj-inspect/go.sum
Labels: size/S

#19025 docs: prep OTEL shared content
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/otel/native_otlp_vs_loki_exporter.md
  docs/sources/shared/otel.md
Labels: size/L, type/docs

#18370 fix: extended detected level for debug and critical level
  pkg/distributor/field_detection.go
  pkg/distributor/field_detection_test.go
Labels: size/L

#19063 chore: Fix index generation with filesystem
  pkg/dataobj/index/calculate.go
  pkg/dataobj/index/calculate_test.go
  pkg/logql/bench/store_dataobj.go
Labels: size/M

#19043 chore(operator): Apply modernize analyzer to the codebase
  operator/internal/handlers/lokistack_enable_zone_awareness.go
  operator/internal/handlers/lokistack_enable_zone_awareness_test.go
  operator/internal/manifests/gateway_tenants.go
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/mutate.go
  operator/internal/manifests/openshift/alertingrule.go
  operator/internal/manifests/openshift/recordingrule.go
  operator/internal/manifests/options.go
  operator/internal/manifests/rules_config_test.go
Labels: size/M, sig/operator

#19064 chore: Fix init of engine with metastore
  pkg/engine/engine.go
Labels: size/XS

#19054 feat: add p50, p95 and p99 section sizes per tenant
  cmd/dataobj-inspect/stats.go
  pkg/dataobj/tools/stats.go
Labels: size/M

#19060 fix: fix possible data loss in dataobj-consumers
  pkg/dataobj/consumer/consumer.go
Labels: size/S

#19068 fix: nil error returned when client closed
  pkg/dataobj/index/builder.go
Labels: size/XS

#19067 chore(rangeio): add tracing to rangeio.ReadRanges
  pkg/util/rangeio/rangeio.go
Labels: size/L

#19069 fix: records discarded if one fetch returns error
  pkg/dataobj/index/builder.go
Labels: size/S
