Repository grafana/loki, pull requests merged in 2025-03, with the labels that each got.

#16510 chore: add CLAUDE.md with development guide
  CLAUDE.md
Labels: size/M

#16439 feat(policies): Support global policy
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/validation/ingestion_policies.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#16487 chore: Add PDB for distributors
  production/ksonnet/loki/distributor.libsonnet
Labels: size/XS

#16537 fix: spelling mistake in assignedPartitions in ingest_limits.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
Labels: size/S

#16523 feat: Snapshopt stream overrides values on each request
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  pkg/compactor/retention/expiration.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/validation/ingestion_policies.go
Labels: size/L

#16289 docs: clarify OTEL endpoint
  docs/sources/release-notes/v3-3.md
  docs/sources/send-data/alloy/examples/alloy-kafka-logs.md
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
Labels: size/XS, type/docs, backport release-3.2.x, backport release-3.3.x, backport release-3.4.x

#16397 docs: update 3rd party python-logging-loki to V2 that supports headers
  docs/sources/send-data/_index.md
Labels: size/XS, type/docs, backport release-3.2.x, backport release-3.3.x, backport release-3.4.x

#16527 chore(build): Update to Go 1.24
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/promtail-windows-test.yml
  Makefile
  loki-build-image/Dockerfile
  loki-build-image/README.md
Labels: size/M

#16573 chore(ci): Renovate turn off automerge/approve
  .github/renovate.json5
Labels: size/XS

#16427 docs: remove deployment.environment from list of otel resource attrs stored as labels
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#16584 docs: remove deployment.environment from list of otel resource attrs …
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#16585 docs: remove deployment.environment from list of otel resource attrs …
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#16586 docs: remove deployment.environment from list of otel resource attrs …
  docs/sources/send-data/otel/_index.md
Labels: size/XS, type/docs

#16425 docs: add note about index cache and TSDB
  docs/sources/operations/caching.md
Labels: size/XS, type/docs

#16579 fix(nix): build with go 1.24
  .github/workflows/nix-ci.yaml
  flake.lock
  flake.nix
  nix/packages/loki.nix
  pkg/loki/loki_test.go
Labels: size/L

#16601 docs: fixed breaking tutorials
  docs/sources/send-data/alloy/examples/alloy-kafka-logs.md
  docs/sources/send-data/alloy/examples/alloy-otel-logs.md
Labels: size/S, type/docs

#16604 feat(metastore): Add initial interface for Metastore
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/updater.go
  pkg/dataobj/predicate.go
  pkg/dataobj/querier/metadata_test.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
  pkg/loki/modules.go
Labels: size/XL

#16403 feat(logical planning): Planner playground
  pkg/dataobj/planner/logical/aggregate_expr.go
  pkg/dataobj/planner/logical/aggregate_plan.go
  pkg/dataobj/planner/logical/binop.go
  pkg/dataobj/planner/logical/column.go
  pkg/dataobj/planner/logical/dataframe.go
  pkg/dataobj/planner/logical/expr.go
  pkg/dataobj/planner/logical/filter.go
  pkg/dataobj/planner/logical/format_tree.go
  pkg/dataobj/planner/logical/format_tree_test.go
  pkg/dataobj/planner/logical/limit.go
  pkg/dataobj/planner/logical/literal.go
  pkg/dataobj/planner/logical/plan.go
  pkg/dataobj/planner/logical/project.go
  pkg/dataobj/planner/logical/sort_expr.go
  pkg/dataobj/planner/logical/sort_plan.go
  pkg/dataobj/planner/logical/ssa.go
  pkg/dataobj/planner/logical/ssa_test.go
  pkg/dataobj/planner/logical/table.go
  pkg/dataobj/planner/schema/column.go
Labels: size/XXL

#16577 chore: auto-merge npm updates
  .github/renovate.json5
Labels: size/XS

#16631 chore(metastore): Fix stream read condition
  pkg/dataobj/metastore/object.go
Labels: size/XS

#16528 fix: increment UsageTracker.DiscardedBytesAdd() for ingestion policy discards
  pkg/distributor/distributor.go
Labels: size/XS

#16205 feat: Helm: Add extraContainers to backend pods
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#16336 docs(readme): remove word “both”
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#16602 feat: Add PartitionManager and move this out of ingest_limits.go
  go.mod
  go.sum
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  vendor/github.com/coder/quartz/.gitignore
  vendor/github.com/coder/quartz/LICENSE
  vendor/github.com/coder/quartz/README.md
  vendor/github.com/coder/quartz/clock.go
  vendor/github.com/coder/quartz/mock.go
  vendor/github.com/coder/quartz/real.go
  vendor/github.com/coder/quartz/ticker.go
  vendor/github.com/coder/quartz/timer.go
  vendor/modules.txt
Labels: size/XL

#16658 feat: add limits/frontend pkg
  pkg/limits/frontend/client/client.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/XL

#16632 perf(dataobj): improve parallelized read spead of Zstd
  pkg/dataobj/internal/dataset/page.go
  pkg/dataobj/internal/dataset/page_test.go
  pkg/dataobj/internal/dataset/testdata/access_logs.gz
Labels: size/L

#16432 ci: Use v2 deploy preview
  .github/workflows/deploy-pr-preview.yml
  docs/sources/get-started/_index.md
Labels: size/L, type/docs

#16664 feat(helm): Add `tpl()` support back to read, write and backend pods
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/XS, area/helm

#16681 fix(deps): Move to Go 1.23.7
  Makefile
Labels: size/XS

#16682 fix(deps): Move to Go 1.23.7
  .github/workflows/images.yml
  Makefile
Labels: size/S

#16684 ci: bump release lib to create branch on release
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/install_workflow_dependencies.sh
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate-gel.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#16605 chore(operator): Update build and runtime deps
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  operator/.bingo/Variables.mk
  operator/.bingo/controller-gen.mod
  operator/.bingo/controller-gen.sum
  operator/.bingo/gofumpt.mod
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/jb.mod
  operator/.bingo/jb.sum
  operator/.bingo/kind.mod
  operator/.bingo/kind.sum
  operator/.bingo/kustomize.mod
  operator/.bingo/kustomize.sum
  operator/.bingo/variables.env
  operator/Dockerfile
  operator/Dockerfile.cross
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/calculator.Dockerfile
  operator/cmd/loki-operator/main.go
  operator/config/crd/bases/loki.grafana.com_alertingrules.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_recordingrules.yaml
  operator/config/crd/bases/loki.grafana.com_rulerconfigs.yaml
  operator/go.mod
  operator/go.sum
  operator/internal/controller/loki/alertingrule_controller.go
  operator/internal/controller/loki/certrotation_controller.go
  operator/internal/controller/loki/certrotation_controller_test.go
  operator/internal/controller/loki/dashboards_controller.go
  operator/internal/controller/loki/lokistack_zone_labeling_controller.go
  operator/internal/controller/loki/recordingrule_controller.go
  operator/internal/controller/loki/rulerconfig_controller.go
  operator/internal/external/k8s/k8sfakes/fake_builder.go
  operator/internal/external/k8s/k8sfakes/fake_client.go
  operator/internal/manifests/build_test.go
  operator/netlify.toml
Labels: size/XL, sig/operator

#16696 feat: Do not enforce labels vs agg metric stream
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validator.go
Labels: size/M

#16705 feat: enforce limits in distributors
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L, type/docs

#16689 chore(dataobj): Download pages in 16MB batches
  pkg/dataobj/internal/encoding/dataset_logs.go
  pkg/dataobj/internal/encoding/dataset_streams.go
  pkg/dataobj/internal/encoding/decoder_range.go
  pkg/dataobj/internal/encoding/windowing.go
  pkg/dataobj/internal/encoding/windowing_test.go
Labels: size/XL

#16701 chore(dataobj): Wire dataset.Reader into dataobj.LogsReader and dataobj.StreamsReader
  pkg/dataobj/internal/dataset/predicate.go
  pkg/dataobj/internal/dataset/reader.go
  pkg/dataobj/internal/dataset/reader_basic.go
  pkg/dataobj/internal/dataset/reader_test.go
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/logs_reader.go
  pkg/dataobj/logs_reader_test.go
  pkg/dataobj/predicate_test.go
  pkg/dataobj/streams_reader.go
  pkg/dataobj/streams_reader_test.go
Labels: size/XL

#16709 docs: Patch release notes 2.9.12
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs, backport release-2.9.x

#16711 docs: Patch release notes 2.9.13 (backport release-2.9.x)
  docs/sources/release-notes/v2-9.md
Labels: size/XS, backport, type/docs

#16692 docs(LIDs): Add Loki mixin configuration improvements draft
  docs/sources/community/lids/__DRAFT__loki-mixin-configuration-improvements.md
Labels: size/M, type/docs, backport release-3.4.x

#16319 feat: add S3 chunk delimiter config to support MinIO running on Windows
  docs/sources/shared/configuration.md
  pkg/loki/config_wrapper_test.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
Labels: size/M, type/docs

#16715 docs: update RN with blog post
  docs/sources/release-notes/v2-9.md
  docs/sources/release-notes/v3-4.md
Labels: size/S, type/docs, backport release-3.4.x

#16735 chore: refactor how distributor enforces limits
  pkg/distributor/distributor.go
Labels: size/M

#16738 feat: use stream labels instead of hash in rate limit reasons
  pkg/distributor/distributor.go
Labels: size/S

#16741 chore: add tests for checking limits in distributor
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/M

#16299 fix(docs): add a note on docker configuration.md doc to explain accep…
  docs/sources/send-data/docker-driver/configuration.md
Labels: size/L, type/docs

#16746 fix(docs): add a note on docker configuration.md doc to explain accep…
  docs/sources/send-data/docker-driver/configuration.md
Labels: size/L, type/docs

#16710 chore: Implement basic skeleton for a physical plan
  pkg/dataobj/planner/physical/dataobjscan.go
  pkg/dataobj/planner/physical/expressions.go
  pkg/dataobj/planner/physical/expressions_test.go
  pkg/dataobj/planner/physical/filter.go
  pkg/dataobj/planner/physical/limit.go
  pkg/dataobj/planner/physical/plan.go
  pkg/dataobj/planner/physical/plan_test.go
  pkg/dataobj/planner/physical/planner.go
  pkg/dataobj/planner/physical/projection.go
  pkg/dataobj/planner/physical/sortmerge.go
  pkg/dataobj/planner/physical/visitor.go
  pkg/dataobj/planner/physical/visitor_test.go
Labels: size/XXL

#16629 chore(operator): CI take advantage of setup-go cache
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  operator/Makefile
Labels: size/M, sig/operator

#16716 chore: Add tree printer for physical plan
  .golangci.yml
  pkg/dataobj/planner/internal/tree/printer.go
  pkg/dataobj/planner/internal/tree/printer_test.go
  pkg/dataobj/planner/physical/printer.go
  pkg/dataobj/planner/physical/printer_test.go
Labels: size/L

#16733 feat(distributor): Add simulated latency
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/limits.go
  pkg/validation/limits.go
Labels: size/M, type/docs

#16754 feat: add dry-run mode for checking limits in distributors
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
Labels: size/S, type/docs

#16718 chore: convert multi-variant queries from global to per-tenant config
  docs/sources/shared/configuration.md
  pkg/logcli/client/file.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/limits.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/testutil/limits.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#16770 chore: remove unused code
  pkg/limits/frontend/service.go
Labels: size/XS

#16771 chore: move adapter to limits.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/limits.go
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
Labels: size/M

#16773 chore: move http.Handler to http.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/http.go
Labels: size/L

#16761 chore: Implement the logical plan formatter using the generic tree printer
  pkg/dataobj/planner/logical/format_tree.go
  pkg/dataobj/planner/logical/format_tree_test.go
Labels: size/XL

#16755 chore(docs): Update stack and build commands in README
  README.md
Labels: size/M

#16777 chore: Copy `aws.ConfigFromURL` function from `grafana/dskit`
  pkg/storage/chunk/client/aws/config.go
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
  pkg/storage/chunk/client/aws/s3_storage_client.go
  vendor/modules.txt
Labels: size/XS

#16774 chore: small code clean up, and removed some obvious comments
  pkg/limits/frontend/http.go
Labels: size/S

#16775 chore: move http.Handler to http.go
  pkg/limits/http.go
  pkg/limits/ingest_limits.go
Labels: size/L

#16779 chore: move config struct to it's own file
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
Labels: size/M

#16780 chore(operator): prepare community release v0.8.0
  operator/Makefile
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-metrics-token_v1_secret.yaml
  operator/bundle/community-openshift/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operator/bundle/community-openshift/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community-openshift/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community-openshift/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-reader_v1_serviceaccount.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-metrics-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator-controller-manager-read-metrics_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operator/bundle/community/manifests/loki-operator-manager-config_v1_configmap.yaml
  operator/bundle/community/manifests/loki-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  operator/bundle/community/manifests/loki-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operator/bundle/community/manifests/loki-operator-webhook-service_v1_service.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_alertingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki.grafana.com_recordingrules.yaml
  operator/bundle/community/manifests/loki.grafana.com_rulerconfigs.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/kustomization.yaml
  operator/config/overlays/community/kustomization.yaml
Labels: size/L, sig/operator

#16764 fix: remove colons from level detection
  pkg/distributor/field_detection.go
  pkg/distributor/field_detection_test.go
Labels: size/M

#16748 docs: fix broken links
  docs/sources/community/lids/0005-loki-mixin-configuration-improvements.md
  docs/sources/send-data/alloy/_index.md
Labels: size/S, type/docs

#16790 docs: fix broken links (#16748)
  docs/sources/community/lids/0005-loki-mixin-configuration-improvements.md
  docs/sources/send-data/alloy/_index.md
Labels: size/L, type/docs

#16791 docs: fix broken links (#16748)
  docs/sources/community/lids/0005-loki-mixin-configuration-improvements.md
  docs/sources/send-data/alloy/_index.md
Labels: size/L, type/docs

#16793 chore: remove backend from limits metrics
  pkg/limits/client/client.go
Labels: size/S

#16792 chore: refactor the limits frontend for better separation of concerns
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/gather.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
Labels: size/XXL

#16747 perf: Optimization pass for reading from dataobjs
  pkg/dataobj/builder.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/value.go
  pkg/dataobj/internal/dataset/value_encoding_plain.go
  pkg/dataobj/internal/dataset/value_encoding_plain_test.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/logs/iter_test.go
  pkg/dataobj/internal/sections/logs/logs.go
  pkg/dataobj/internal/sections/logs/logs_test.go
  pkg/dataobj/internal/sections/logs/table.go
  pkg/dataobj/internal/sections/logs/table_build.go
  pkg/dataobj/internal/sections/logs/table_test.go
  pkg/dataobj/logs_reader.go
  pkg/dataobj/logs_reader_test.go
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/store_test.go
Labels: size/XL

#16804 chore: namespace is not longer recommended, is semi-deprecated
  pkg/limits/frontend/frontend.go
Labels: size/S

#16805 chore: small rename
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
Labels: size/S

#16803 chore: clean up perReplicaSetPartitions in ring.go
  pkg/limits/frontend/ring.go
Labels: size/M

#16814 fix: fixes a data race I added changing this to a map
  pkg/limits/frontend/ring.go
Labels: size/M

#16815 chore: Move `pkg/dataobj/planner` to `pkg/engine/planner`
  pkg/engine/planner/internal/tree/printer.go
  pkg/engine/planner/internal/tree/printer_test.go
  pkg/engine/planner/logical/aggregate_expr.go
  pkg/engine/planner/logical/aggregate_plan.go
  pkg/engine/planner/logical/binop.go
  pkg/engine/planner/logical/column.go
  pkg/engine/planner/logical/dataframe.go
  pkg/engine/planner/logical/expr.go
  pkg/engine/planner/logical/filter.go
  pkg/engine/planner/logical/format_tree.go
  pkg/engine/planner/logical/format_tree_test.go
  pkg/engine/planner/logical/limit.go
  pkg/engine/planner/logical/literal.go
  pkg/engine/planner/logical/plan.go
  pkg/engine/planner/logical/project.go
  pkg/engine/planner/logical/sort_expr.go
  pkg/engine/planner/logical/sort_plan.go
  pkg/engine/planner/logical/ssa.go
  pkg/engine/planner/logical/ssa_test.go
  pkg/engine/planner/logical/table.go
  pkg/engine/planner/physical/dataobjscan.go
  pkg/engine/planner/physical/expressions.go
  pkg/engine/planner/physical/expressions_test.go
  pkg/engine/planner/physical/filter.go
  pkg/engine/planner/physical/limit.go
  pkg/engine/planner/physical/plan.go
  pkg/engine/planner/physical/plan_test.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/printer.go
  pkg/engine/planner/physical/printer_test.go
  pkg/engine/planner/physical/projection.go
  pkg/engine/planner/physical/sortmerge.go
  pkg/engine/planner/physical/visitor.go
  pkg/engine/planner/physical/visitor_test.go
  pkg/engine/planner/schema/column.go
Labels: size/L

#16734 feat(metastore): Implement Labels() and Values() on ObjectMetastore
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/object_test.go
Labels: size/L

#16525 feat(dataobj-explorer): Add stream distribution info to dataobj explorer UI
  pkg/dataobj/explorer/inspect.go
  pkg/ui/frontend/src/components/explorer/file-metadata.tsx
  pkg/ui/frontend/src/types/explorer.ts
Labels: size/M

#16818 fix: fix a panic in ServeHTTP where stream was nil
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/mock_test.go
Labels: size/L

#16673 chore(otel): Allow log attributes to be promoted to labels
  docs/sources/shared/configuration.md
  pkg/distributor/field_detection.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_config.go
  pkg/loghttp/push/otlp_test.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#16823 fix: bug where known streams could be rejected
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
Labels: size/L

#16820 chore: rename structs to use http prefix to differentiate from logproto
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
Labels: size/S

#16822 chore: small clean up of frontend.New
  pkg/limits/frontend/frontend.go
Labels: size/S

#16826 feat: return all reasons a stream was rejected from the frontend
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
Labels: size/M

#16830 chore: update the HTTP debug routes for ingest-limits
  pkg/limits/http.go
  pkg/loki/modules.go
Labels: size/S

#16829 chore: chose a better name for this method
  pkg/limits/frontend/ring.go
Labels: size/XS

#16831 chore: write unit tests for ServeHTTP in limits service
  pkg/limits/http.go
  pkg/limits/http_test.go
Labels: size/M

#16832 chore: move config to separate file config.go
  pkg/limits/config.go
  pkg/limits/ingest_limits.go
Labels: size/L

#16671 feat: helm log headers nginx config
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
Labels: size/S, area/helm

#16717 feat(ruler): add per-tenant configuration to disable WAL replay
  docs/sources/shared/configuration.md
  pkg/ruler/base/compat.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/registry.go
  pkg/ruler/registry_test.go
  pkg/ruler/storage/instance/instance.go
  pkg/ruler/storage/wal/wal.go
  pkg/ruler/storage/wal/wal_test.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#16825 feat: store details of processed streams while processing delete requests
  pkg/compactor/compactor.go
  pkg/compactor/deletion/delete_request.go
  pkg/compactor/deletion/delete_request_test.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/retention/expiration.go
  pkg/compactor/retention/expiration_test.go
  pkg/compactor/retention/retention.go
  pkg/compactor/retention/retention_test.go
  pkg/compactor/retention/series.go
  pkg/compactor/retention/util_test.go
  pkg/compactor/testutil.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/compacted_index.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/compacted_index_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/index.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/iterator.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/iterator_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/series.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/chunk.go
  pkg/tool/audit/audit.go
  pkg/tool/audit/audit_test.go
  tools/tsdb/tsdb-map/main.go
Labels: size/XXL

#16827 chore(ingest-limits): Add benchmark for update metadata
  pkg/limits/ingest_limits_bench_test.go
Labels: size/L

#16802 chore(dataobj): pass down line filters to logs reader
  pkg/dataobj/logs_reader.go
  pkg/dataobj/predicate.go
  pkg/dataobj/querier/store.go
  pkg/dataobj/querier/store_test.go
  pkg/engine/planner/internal/tree/printer.go
  pkg/engine/planner/physical/expressions.go
  pkg/limits/ingest_limits_test.go
Labels: size/L

#16844 chore(k246): Recut to include ingest limits fixes
  pkg/limits/client/client.go
  pkg/limits/config.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/gather.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
  pkg/limits/http.go
  pkg/limits/http_test.go
  pkg/limits/ingest_limits.go
  pkg/loki/modules.go
Labels: size/XXL

#16841 chore(engine): Update logical planner types to be structured as SSA
  pkg/engine/planner/internal/tree/printer.go
  pkg/engine/planner/logical/aggregate_expr.go
  pkg/engine/planner/logical/aggregate_plan.go
  pkg/engine/planner/logical/binop.go
  pkg/engine/planner/logical/builder.go
  pkg/engine/planner/logical/builder_convert.go
  pkg/engine/planner/logical/column.go
  pkg/engine/planner/logical/column_ref.go
  pkg/engine/planner/logical/dataframe.go
  pkg/engine/planner/logical/expr.go
  pkg/engine/planner/logical/filter.go
  pkg/engine/planner/logical/format_tree.go
  pkg/engine/planner/logical/format_tree_test.go
  pkg/engine/planner/logical/limit.go
  pkg/engine/planner/logical/literal.go
  pkg/engine/planner/logical/logical.go
  pkg/engine/planner/logical/logical_test.go
  pkg/engine/planner/logical/node_binop.go
  pkg/engine/planner/logical/node_limit.go
  pkg/engine/planner/logical/node_literal.go
  pkg/engine/planner/logical/node_maketable.go
  pkg/engine/planner/logical/node_return.go
  pkg/engine/planner/logical/node_select.go
  pkg/engine/planner/logical/node_sort.go
  pkg/engine/planner/logical/node_unaryop.go
  pkg/engine/planner/logical/plan.go
  pkg/engine/planner/logical/project.go
  pkg/engine/planner/logical/sort_expr.go
  pkg/engine/planner/logical/sort_plan.go
  pkg/engine/planner/logical/ssa.go
  pkg/engine/planner/logical/ssa_test.go
  pkg/engine/planner/logical/table.go
  pkg/engine/planner/physical/planner.go
Labels: size/XXL

#16848 chore: update images to Go 1.24
  .golangci.yml
  clients/cmd/fluent-bit/Dockerfile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  cmd/logcli/Dockerfile
  cmd/logql-analyzer/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki-canary/Dockerfile.cross
  cmd/loki/Dockerfile
  cmd/loki/Dockerfile.cross
  cmd/loki/Dockerfile.debug
  cmd/migrate/Dockerfile
  cmd/querytee/Dockerfile
  cmd/querytee/Dockerfile.cross
  loki-build-image/Dockerfile
  production/helm/loki/src/helm-test/Dockerfile
Labels: size/M, sig/operator, area/helm, product-approved, backport k246

#16857 chore: Update default `VERSION` in `tools/promtail.sh` to latest
  tools/promtail.sh
Labels: size/XS

#16863 chore: remove unused metric
  pkg/kafka/partition/reader.go
Labels: size/S

#16700 fix(helm): inadvertent accumulation of podLabels using merge
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/bloom-builder/deployment-bloom-builder.yaml
  production/helm/loki/templates/bloom-gateway/statefulset-bloom-gateway.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/templates/compactor/statefulset-compactor.yaml
  production/helm/loki/templates/distributor/deployment-distributor.yaml
  production/helm/loki/templates/index-gateway/statefulset-index-gateway.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/templates/overrides-exporter/deployment-overrides-exporter.yaml
  production/helm/loki/templates/pattern-ingester/statefulset-pattern-ingester.yaml
  production/helm/loki/templates/querier/deployment-querier.yaml
  production/helm/loki/templates/query-frontend/deployment-query-frontend.yaml
  production/helm/loki/templates/query-scheduler/deployment-query-scheduler.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/templates/ruler/statefulset-ruler.yaml
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/M, area/helm

#16864 feat: change loki_kafka_reader_receive_delay_seconds to gauge
  pkg/kafka/partition/reader.go
Labels: size/S

#16862 fix: Exclude aggregated metric streams from usage trackers in loghttp/push
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/S, component/distributor

#16878 chore: rename consumption lag variable
  pkg/kafka/partition/reader.go
Labels: size/S

#16883 fix: Exclude aggregated metric streams from usage trackers in loghttp/push (#16862)
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/S

#16879 fix: fix help message in metric
  pkg/kafka/partition/reader.go
Labels: size/XS

#16889 chore: revert changing histogram to gauge
  pkg/kafka/partition/reader.go
Labels: size/S

#16574 fix(operator): use description annotation for Prometheus alerts instead of message
  operator/internal/manifests/internal/alerts/prometheus-alerts.yaml
  operator/internal/manifests/internal/alerts/testdata/test.yaml
Labels: size/M, sig/operator

#16892 chore(engine): Add utility function `canExecuteWithNewEngine`
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/L

#16897 fix: histogram could measure up to 10 seconds of consumption lag, needs exponential buckets
  pkg/limits/ingest_limits.go
Labels: size/XS

#16896 chore: backport #16886 and #16897 to k247
  pkg/limits/ingest_limits.go
Labels: size/S

#16672 feat(logcli): Add timestamp format flag via cli argument for default output
  cmd/logcli/main.go
  pkg/logcli/output/default.go
  pkg/logcli/output/default_test.go
  pkg/logcli/output/output.go
  pkg/logcli/output/output_test.go
Labels: size/L

#16861 feat: return the jsonpath of json detected fields
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/ast_test.go
  pkg/querier/querier.go
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/detected_fields_test.go
Labels: size/XL

#16839 feat: add evictor
  pkg/limits/evict.go
  pkg/limits/evict_test.go
Labels: size/L

#16922 ci: remove weekly k-version of helm release
  .github/workflows/helm-weekly-release-pr.yaml
Labels: size/S

#16934 fix: Allow dashes in storage_prefix config
  docs/sources/shared/configuration.md
  pkg/storage/bucket/client.go
Labels: size/S, type/docs

#16924 fix: pattern ingester pushes detected level as structured metadata
  pkg/pattern/aggregation/push.go
  pkg/pattern/aggregation/push_test.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
Labels: size/M

#16942 docs: fix localhost link in logcli getting-started
  docs/sources/query/logcli/getting-started.md
Labels: size/XS, type/docs
