Repository grafana/loki, pull requests merged in 2025-06, with the labels that each got.

#17858 feat: add a fast path for consuming records from Kafka
  pkg/limits/consumer.go
  pkg/limits/consumer_test.go
  pkg/limits/service.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17899 chore: remove unused context from partition_manager.go
  pkg/limits/consumer_test.go
  pkg/limits/partition_lifecycler.go
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  pkg/limits/service_test.go
Labels: size/M

#17850 fix(ruler): Return StatusBadRequest on multiple org IDs
  pkg/ruler/base/api.go
  pkg/ruler/base/api_test.go
  pkg/ruler/base/ruler.go
Labels: size/L

#17904 feat: optimize rate buckets to avoid re-allocating slice
  pkg/limits/config.go
  pkg/limits/consumer_test.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_test.go
Labels: size/XL

#17815 fix(stream-generator): Split create/keep-alive streams routines
  tools/stream-generator/generator/config.go
  tools/stream-generator/generator/distributor.go
  tools/stream-generator/generator/kafka.go
  tools/stream-generator/generator/metrics.go
  tools/stream-generator/generator/service.go
Labels: size/L

#17932 chore: move limits into update cond to prepare for optimizing counting active streams
  pkg/limits/service.go
  pkg/limits/store.go
  pkg/limits/store_test.go
Labels: size/M

#17917 fix: Correct typo in appenPath function name
  tools/deprecated-config-checker/checker/checker.go
Labels: size/S

#17939 chore: fix lint again
  pkg/limits/store_bench_test.go
Labels: size/S

#17872 chore: improve logging of push request streams
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  docs/sources/shared/configuration.md
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/runtime/config.go
Labels: size/L

#17941 chore: remove deprecated config
  pkg/limits/config.go
Labels: size/XS

#17947 chore: remove MetadataTopic as it is unused
  pkg/limits/service.go
Labels: size/XS

#17946 chore: add a missing test case where timestamp is not at bucket start
  pkg/limits/store_test.go
Labels: size/M

#17841 chore(dataobj): Decompress zstd compressed pages upfront
  pkg/dataobj/internal/dataset/page.go
Labels: size/S

#17951 chore: faillint usage of opentracing in make lint
  Makefile
Labels: size/S

#17954 fix(operator): Update maximum OpenShift version
  operator/bundle/openshift/metadata/properties.yaml
Labels: size/XS

#17942 fix: Return defaults for non-existant tenants on applied limits endpoint
  pkg/loki/config_handler.go
Labels: size/XS

#17953 fix: avoid memory allocations when loading symbolizer from a flushed chunk
  pkg/chunkenc/symbols.go
  pkg/chunkenc/symbols_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
Labels: size/L

#17838 refactor(stringlabels): Support stringlabels in `logql/log` package
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/symbols_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/variants.go
  pkg/compactor/retention/retention_test.go
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/store_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery_test.go
  pkg/ingester/tailer_test.go
  pkg/logproto/compat.go
  pkg/logql/log/consolidated_variant_extractor.go
  pkg/logql/log/consolidated_variant_extractor_test.go
  pkg/logql/log/fmt_test.go
  pkg/logql/log/label_filter_test.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_slicelabels.go
  pkg/logql/log/labels_stringlabels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/parser_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/extractor_test.go
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/test_utils.go
  pkg/storage/lazy_chunk_test.go
  pkg/storage/store_test.go
Labels: size/XL

#17966 feat: add metric that tracks unanswered streams
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/M

#17967 fix(engine): Fix out-of-bounds panic in SortMerge implementation
  pkg/engine/executor/sortmerge.go
Labels: size/XS

#17955 chore(dataobj): Use pooled buffers when decoding pages
  pkg/dataobj/internal/dataset/page.go
  pkg/dataobj/internal/dataset/page_reader.go
Labels: size/S

#17060 docs: Update _index.md
  docs/sources/operations/storage/schema/_index.md
Labels: size/XS, type/docs

#17978 docs: backport 17060 to 3.4 branch
  docs/sources/operations/storage/schema/_index.md
Labels: size/XS, type/docs

#17979 chore: put noun at start of metric
  pkg/limits/frontend/ring.go
Labels: size/XS

#17737 feat: persist patterns as aggregated metrics
  .gitignore
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/validator.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/push.go
  pkg/logproto/extensions.go
  pkg/logproto/pattern.pb.go
  pkg/logproto/pattern.proto
  pkg/pattern/aggregation/config.go
  pkg/pattern/aggregation/push.go
  pkg/pattern/aggregation/push_test.go
  pkg/pattern/chunk/util.go
  pkg/pattern/drain/chunk.go
  pkg/pattern/drain/chunk_test.go
  pkg/pattern/drain/drain.go
  pkg/pattern/drain/drain_benchmark_test.go
  pkg/pattern/drain/drain_test.go
  pkg/pattern/drain/log_cluster.go
  pkg/pattern/flush.go
  pkg/pattern/ingester.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/iter/batch.go
  pkg/pattern/iter/batch_test.go
  pkg/pattern/iter/iterator.go
  pkg/pattern/iter/iterator_test.go
  pkg/pattern/iter/merge.go
  pkg/pattern/iter/merge_test.go
  pkg/pattern/iter/query_client.go
  pkg/pattern/metrics.go
  pkg/pattern/pattern_config.go
  pkg/pattern/stream.go
  pkg/pattern/stream_test.go
  pkg/pattern/tee_service.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/limits/definitions.go
  pkg/querier/limits/validation.go
  pkg/querier/limits/validation_test.go
  pkg/querier/querier.go
  pkg/querier/testutil/limits.go
  pkg/util/constants/aggregated_metrics.go
  pkg/util/constants/internal_streams.go
  pkg/util/marshal/marshal.go
  pkg/util/marshal/marshal_test.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/XXL

#17992 ci: bump release pipeline to get GCS creds from vault
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/L

#18007 docs: Remove unmatched quote in logfmt.md
  docs/sources/send-data/promtail/stages/logfmt.md
Labels: size/XS

#18015 fix(ci): Update release code 3.4
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  Makefile
Labels: size/L

#18021 docs: manual backport 17007
  docs/sources/send-data/promtail/stages/logfmt.md
Labels: size/XS, type/docs

#18023 docs: manual backport 17007
  docs/sources/send-data/promtail/stages/logfmt.md
Labels: size/XS, type/docs

#18019 fix(ci): Pull in latest 2.9-specific release code
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/L

#18028 docs: backport shortcode addition to 3.5 branch
  docs/sources/query/log_queries/_index.md
  docs/sources/query/metric_queries.md
Labels: size/S, type/docs

#18030 chore(kafka): Cleanup deprecated fields address and client-id
  docs/sources/shared/configuration.md
  pkg/kafka/client/reader_client.go
  pkg/kafka/client/reader_client_test.go
  pkg/kafka/client/writer_client.go
  pkg/kafka/client/writer_client_test.go
  pkg/kafka/config.go
  pkg/kafka/config_test.go
  pkg/kafka/partitionring/consumer/client_test.go
  pkg/kafka/testkafka/cluster.go
Labels: size/L

#17996 feat: quick fix to produce a stream once per minute
  pkg/limits/limit.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#18042 docs: Update Release Notes 3.4.4
  docs/sources/release-notes/v3-4.md
Labels: size/XS, type/docs, backport-failed, backport release-3.4.x, backport release-3.5.x

#18044 docs: Update Release Notes 3.4.4 (#18042)
  docs/sources/release-notes/v3-4.md
Labels: size/S, type/docs

#18047 docs: Manual backport RN
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#18046 docs: Manual backport patch RN
  docs/sources/release-notes/v2-9.md
Labels: size/XS, type/docs

#18045 docs: manual backport RN 3.5 branch
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#18012 feat: adds distributor lag counter to push.go
  pkg/loghttp/push/push.go
Labels: size/S, component/distributor

#18051 feat: add latency metric to k258
  pkg/loghttp/push/push.go
Labels: size/S

#17972 chore: remove unused recheck period
  docs/sources/shared/configuration.md
  pkg/limits/frontend/config.go
Labels: size/XS

#17853 ci: use v2 of publishing workflow that checks out HEAD of version branch on tag events
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS

#18058 feat(compactor HS): add a job runner for processing of deletion jobs
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/deletion/job_runner.go
  pkg/compactor/deletion/job_runner_test.go
Labels: size/XL

#18064 fix: Fix nil pointer dereference in Volume method of the composite store
  pkg/storage/stores/composite_store_entry.go
Labels: size/XS, type/bug, backport k258

#18053 docs: update config option name
  docs/sources/get-started/hash-rings.md
Labels: size/XS, type/docs

#17997 chore(engine): implement range aggregation operator
  pkg/engine/executor/executor.go
  pkg/engine/executor/expressions.go
  pkg/engine/executor/range_aggregation.go
  pkg/engine/executor/range_aggregation_test.go
  pkg/engine/internal/types/column.go
Labels: size/L

#17991 chore: enforce max-query-series when returning shard results
  pkg/logql/accumulator.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/downstreamer_test.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/L

#18111 docs: Embed LogQL video in docs
  docs/sources/query/_index.md
Labels: size/XS

#18102 chore(engine): Map line filter expressions to data object predicates
  pkg/engine/executor/dataobjscan_predicate.go
  pkg/engine/executor/dataobjscan_predicate_test.go
  pkg/engine/internal/types/operators.go
Labels: size/L

#18125 feat(compactor HS): use streaming RPCs for interacting with job queue over grpc
  pkg/compactor/client/client.go
  pkg/compactor/client/grpc.go
  pkg/compactor/client/grpc/grpc.pb.go
  pkg/compactor/client/grpc/grpc.proto
  pkg/compactor/client/http.go
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/deletion/job_runner.go
  pkg/compactor/deletion/job_runner_test.go
  pkg/compactor/jobqueue/queue.go
  pkg/compactor/jobqueue/queue.pb.go
  pkg/compactor/jobqueue/queue.proto
  pkg/compactor/jobqueue/queue_test.go
Labels: size/XXL

#18100 chore(engine): adds vector aggregation planning and execution nodes
  pkg/engine/executor/executor.go
  pkg/engine/executor/range_aggregation.go
  pkg/engine/executor/range_aggregation_test.go
  pkg/engine/executor/vector_aggregate.go
  pkg/engine/executor/vector_aggregate_test.go
  pkg/engine/internal/types/aggregations.go
  pkg/engine/internal/types/column.go
  pkg/engine/planner/logical/builder.go
  pkg/engine/planner/logical/builder_convert.go
  pkg/engine/planner/logical/format_tree.go
  pkg/engine/planner/logical/format_tree_test.go
  pkg/engine/planner/logical/node_vector_aggregate.go
  pkg/engine/planner/physical/plan.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/vector_aggregate.go
  pkg/engine/planner/physical/visitor.go
  pkg/engine/planner/physical/visitor_test.go
Labels: size/XL

#17958 docs: Add topic for editing default OTEL labels
  docs/sources/get-started/labels/_index.md
  docs/sources/get-started/labels/bp-labels.md
  docs/sources/get-started/labels/cardinality.md
  docs/sources/get-started/labels/remove-default-labels.md
  docs/sources/get-started/labels/structured-metadata.md
Labels: size/L, type/docs

#18073 docs: update Promtail topic
  docs/sources/send-data/promtail/cloud/ec2/_index.md
Labels: size/M, type/docs

#18161 chore: move enable_multi_variant_queries to the correct config section
  cmd/loki/loki-local-config.yaml
Labels: size/XS

#18160 docs: Add GKE Instructions Link to Installation Readme
  docs/sources/setup/install/helm/_index.md
Labels: size/XS, backport release-3.4.x, backport release-3.5.x

#18169 docs: Add GCP to links, 3.5 branch
  docs/sources/setup/install/helm/_index.md
Labels: size/XS, type/docs

#18092 fix(limits): Set ready when all partitions ready
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  pkg/limits/service.go
Labels: size/L

#18152 docs: add redirect to fix broken links
  docs/sources/get-started/_index.md
Labels: size/XS, type/docs

#18176 chore: Improve error message for `maximum of series (%d) reached`
  pkg/logqlmodel/error.go
  pkg/querier/queryrange/limits.go
Labels: size/XS

#18215 fix(pattern): Fix feature flag for enabling pattern persistence
  pkg/pattern/ingester.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
Labels: size/M

#18220 docs: backport storage fix 3.5
  docs/sources/configure/storage.md
Labels: size/XS, type/docs

#18212 feat(compactor HS): store index updates per processed segment in the manifest to the object storage
  pkg/compactor/deletion/deletion_manifest_builder.go
  pkg/compactor/deletion/deletion_manifest_builder_test.go
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/jobqueue/queue.go
  pkg/compactor/jobqueue/queue_test.go
Labels: size/L

#18242 chore(blooms): Reduce memory footprint of download queue
  pkg/storage/stores/shipper/bloomshipper/fetcher.go
Labels: size/S

#18251 fix(frontend): allow resolution of v6 addresses.
  docs/sources/shared/configuration.md
  pkg/lokifrontend/frontend/config.go
  pkg/lokifrontend/frontend/v2/frontend.go
Labels: size/S

#18262 feat: Mark truncated log lines with identifier
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
Labels: size/L

#18282 chore(tailer): fix a flaky tests in tail/querier_test.go
  pkg/querier/tail/querier_test.go
Labels: size/XS
