Repository grafana/loki, pull requests merged in 2025-07, with the labels that each got.

#17814 style: Remove extra whitespace in HPA template
  production/helm/loki/README.md
  production/helm/loki/templates/read/hpa.yaml
Labels: size/XS, area/helm

#17629 fix(otlp): calculate entry metadata size before adding resource/scope attributes
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
Labels: size/L, opentelemetry, area/structured metadata

#18294 feat(compactor HS): add support for applying storage updates after finishing processing of deletion manifest
  pkg/compactor/compactor.go
  pkg/compactor/deletion/delete_request.go
  pkg/compactor/deletion/deletion_manifest_builder.go
  pkg/compactor/deletion/deletion_manifest_builder_test.go
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/deletion/job_runner.go
  pkg/compactor/deletion/job_runner_test.go
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/index_set.go
  pkg/compactor/index_set_test.go
  pkg/compactor/retention/retention.go
  pkg/compactor/retention/retention_test.go
  pkg/compactor/retention/util_test.go
  pkg/compactor/table.go
  pkg/compactor/table_test.go
  pkg/compactor/testutil.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/compacted_index.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/compacted_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor_test.go
Labels: size/XXL

#18281 chore(otlp): OTLP Metrics
  clients/pkg/logentry/stages/timestamp.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  go.mod
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/loghttp/push/usage_tracker.go
  pkg/push/push.pb.go
  pkg/push/push.proto
  pkg/util/constants/metrics_namespace.go
  pkg/util/spanlogger/spanlogger.go
  pkg/util/validation/validate.go
  pkg/validation/validate.go
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
  vendor/github.com/grafana/loki/pkg/push/push.pb.go
  vendor/github.com/grafana/loki/pkg/push/push.proto
  vendor/modules.txt
Labels: size/L

#18286 feat: return metric query partial results for drilldown
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/querier/limits/validation.go
  pkg/querier/limits/validation_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/util/constants/internal_streams.go
  pkg/util/httpreq/tags.go
  pkg/util/httpreq/tags_test.go
Labels: size/XL

#18324 chore(dataobj): avoid reading a predicate column more than once
  pkg/dataobj/internal/dataset/reader.go
Labels: size/S

#18328 chore(arrowtest): add utilities to construct arrow.Record from test rows
  pkg/util/arrowtest/arrowtest.go
  pkg/util/arrowtest/arrowtest_test.go
Labels: size/L

#18228 chore(engine): column expression evaluation for ambiguous column type look-ups
  pkg/engine/executor/expressions.go
  pkg/engine/executor/expressions_test.go
  pkg/engine/internal/types/column.go
Labels: size/L

#18296 chore(engine): allow v2 engine usage by instant queries endpoint
  pkg/querier/http.go
Labels: size/S

#18330 chore(engine): add implementation for performing topk across streams of Arrow records
  pkg/engine/executor/arrow_scalar_compare.go
  pkg/engine/executor/topk_batch.go
  pkg/engine/executor/topk_batch_test.go
  pkg/engine/internal/arrowagg/arrays.go
  pkg/engine/internal/arrowagg/arrowagg.go
  pkg/engine/internal/arrowagg/hash.go
  pkg/engine/internal/arrowagg/mapper.go
  pkg/engine/internal/arrowagg/records.go
  pkg/util/topk/topk.go
  pkg/util/topk/topk_test.go
Labels: size/XXL

#18309 docs(operator): Fix YAML configuration in user-guide
  operator/docs/user-guides/recover_ingester_pods_in_zone_failure_outages.md
Labels: size/S, sig/operator

#18348 fix(ci): Fix workflow timeout added in wrong format
  .github/workflows/operator-release-please.yml
Labels: size/XS

#17451 feat(helm): Add `block_builder` config to helm chart
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#17555 fix(helm): Allow metrics networkpolicy only from namespace
  production/helm/loki/templates/networkpolicy.yaml
Labels: size/XS, area/helm

#17742 feat(helm): Added trafficDistribution for service-distributor
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/distributor/service-distributor.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#17432 feat(helm): allow external memcached setup
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/chunks-cache/poddisruptionbudget-chunks-cache.yaml
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/templates/memcached/_memcached-svc.tpl
  production/helm/loki/templates/results-cache/poddisruptionbudget-results-cache.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm

#18360 feat(helm): Add non-default-values.yaml to increase test coverage
  production/helm/loki/ci/non-default-values.yaml
Labels: size/M

#18339 chore(dataobj): Improve performance of dataset.Value API
  pkg/dataobj/internal/dataset/column_stats.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/reader.go
  pkg/dataobj/internal/dataset/value.go
  pkg/dataobj/internal/dataset/value_encoding_plain.go
  pkg/dataobj/internal/dataset/value_test.go
  pkg/dataobj/sections/logs/row_predicate_order.go
Labels: size/L

#18167 fix: in helm chart fix indentation in nginx gateway config template handling
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/gateway/configmap-gateway.yaml
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#17364 feat(helm): add option to use deployment type instead of daemonset in canary
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/ci/non-default-values.yaml
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#18372 chore: Add pointers to dataobj-inspect UI
  pkg/dataobj/explorer/inspect.go
Labels: size/M

#18387 docs: Add section about restrictions on Tenant IDs
  docs/sources/operations/multi-tenancy.md
Labels: size/S, docs-p1, backport release-3.4.x, backport release-3.5.x

#18396 docs: Add Loki Community Call in further resources
  docs/sources/query/metric_queries.md
Labels: size/XS, backport release-3.4.x, backport release-3.5.x

#18407 ci: update docs workflows for zizmor
  .github/workflows/add-to-docs-project.yml
  .github/workflows/publish-technical-documentation-release.yml
Labels: size/XS, type/docs, type/ci

#18405 docs: backport 18396 to 3.4 branch
  docs/sources/query/metric_queries.md
Labels: size/XS, type/docs

#18404 docs: backport 18396 to 3.5 branch
  docs/sources/query/metric_queries.md
Labels: size/XS, type/docs

#18403 docs: backport 18387 to 3.4 branch
  docs/sources/operations/multi-tenancy.md
Labels: size/S, type/docs

#18412 fix(deps): Move to Go 1.24.5
  .github/workflows/images.yml
  Makefile
Labels: size/S

#18367 chore(engine): Sort entries in dataobj sections by timestamp descending
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/sections/logs/builder_test.go
  pkg/dataobj/sections/logs/reader_test.go
  pkg/dataobj/sections/logs/table_build.go
  pkg/dataobj/sections/logs/table_merge.go
  pkg/dataobj/sections/logs/table_test.go
  pkg/engine/engine.go
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/executor.go
  pkg/engine/executor/sortmerge.go
  pkg/engine/planner/logical/planner.go
  pkg/engine/planner/logical/planner_test.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/planner_test.go
  pkg/logql/bench/bench_test.go
  pkg/logql/bench/store_dataobj_v2_engine.go
  pkg/querier/http_test.go
  pkg/querier/querier_test.go
Labels: size/L

#18395 chore(engine): Prefetch inputs of SortMerge operator
  pkg/compactor/deletion/job_runner_test.go
  pkg/engine/executor/pipeline.go
  pkg/engine/executor/pipeline_test.go
  pkg/engine/executor/sortmerge.go
Labels: size/L

#18443 fix(ci): Fix lambda-promtail image build
  tools/lambda-promtail/Dockerfile
  tools/lambda-promtail/go.mod
  tools/lambda-promtail/go.sum
Labels: size/S, type/ci

#18411 docs: Update v3-5.md
  docs/sources/release-notes/v3-5.md
Labels: size/XS, type/docs

#15554 chore(helm): Add Memcached StatefulSet PVC labels to Helm Chart values
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/ci/non-default-values.yaml
  production/helm/loki/templates/memcached/_memcached-statefulset.tpl
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#16063 fix(helm): add flush=true to preStop hook
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/write/statefulset-write.yaml
Labels: size/XS, area/helm

#17362 fix(helm): Gateway Ingester endpoints points to inexistent service when zone aware replication is enabled
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/ingester/service-ingester.yaml
Labels: size/XS, area/helm

#18421 feat(compactor HS): Wire things up and add some metrics
  docs/sources/shared/configuration.md
  pkg/compactor/client/grpc.go
  pkg/compactor/compactor.go
  pkg/compactor/config.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/deletion_manifest_builder.go
  pkg/compactor/deletion/deletion_manifest_builder_test.go
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/deletion/job_runner.go
  pkg/compactor/deletion/job_runner_test.go
  pkg/compactor/deletion/metrics.go
  pkg/compactor/jobqueue/metrics.go
  pkg/compactor/jobqueue/queue.go
  pkg/compactor/jobqueue/queue_test.go
  pkg/compactor/jobqueue/worker.go
  pkg/compactor/jobqueue/worker_test.go
  pkg/compactor/worker.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XXL

#18470 fix: while validating logql expression, detect and validate expression in label_replace
  pkg/logql/syntax/parser.go
  pkg/logql/syntax/parser_test.go
Labels: size/S

#18473 docs: add lokitool download link
  docs/sources/alert/_index.md
Labels: size/S, type/docs

#18491 docs: Fix navigation for drilldown
  docs/sources/visualize/grafana.md
Labels: size/XS, type/docs

#18503 chore: clarify comments in labels.Labels.Range loop
  clients/pkg/promtail/targets/azureeventhubs/parser.go
  clients/pkg/promtail/targets/docker/target.go
  clients/pkg/promtail/targets/gcplog/formatter.go
  clients/pkg/promtail/targets/gelf/gelftarget.go
  clients/pkg/promtail/targets/heroku/target.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/syslog/syslogtarget.go
  pkg/storage/stores/series/index/schema.go
  pkg/storage/stores/series/index/schema_util.go
  pkg/storage/stores/series/series_store_utils.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/iterator_test.go
Labels: size/M

#18500 chore: Add indexes to LogQL benchmarks
  pkg/dataobj/index/builder.go
  pkg/dataobj/index/calculate.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/sections/pointers/builder.go
  pkg/dataobj/sections/pointers/iter.go
  pkg/dataobj/sections/pointers/row_reader.go
  pkg/logql/bench/bench_test.go
  pkg/logql/bench/store_dataobj.go
  pkg/logql/bench/store_dataobj_v2_engine.go
Labels: size/XL

#18511 chore: fix failing lint on main
  pkg/compactor/deletion/delete_request_batch.go
  pkg/compactor/deletion/job_builder.go
Labels: size/S, type/build, type/chore, backport k264

#18321 fix(helm): Fix PDB settings for chunksCache and resultsCache
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/chunks-cache/poddisruptionbudget-chunks-cache.yaml
  production/helm/loki/templates/results-cache/poddisruptionbudget-results-cache.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm

#18453 fix(helm): Add release namespace metadata to HorizontalPodAutoscaling that lack it
  production/helm/loki/templates/backend/hpa.yaml
  production/helm/loki/templates/distributor/hpa.yaml
  production/helm/loki/templates/read/hpa.yaml
  production/helm/loki/templates/single-binary/hpa.yaml
Labels: size/XS, area/helm

#18347 chore(helm): Improve health probe helper templates
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/bloom-gateway/_helpers-bloom-gateway.tpl
  production/helm/loki/templates/bloom-planner/_helpers-bloom-planner.tpl
  production/helm/loki/templates/compactor/_helpers-compactor.tpl
  production/helm/loki/templates/ingester/_helpers-ingester.tpl
  production/helm/loki/templates/pattern-ingester/_helpers-pattern-ingester.tpl
Labels: size/M, area/helm, helm-maintainers

#12911 fix: Loki chart fails to render proper YAML when add more than one ex…
  production/helm/loki/templates/extra-manifests.yaml
Labels: size/XS, area/helm, helm-maintainers

#18512 chore: fix failing lint on main
  pkg/compactor/deletion/delete_request_batch.go
  pkg/compactor/deletion/job_builder.go
Labels: size/S

#18517 chore: Fix slicelabels merge conflict
  pkg/dataobj/index/calculate.go
Labels: size/XS

#17024 fix(helm): fix storage_config when use_thanos_objstore is set to true
  production/helm/loki/CHANGELOG.md
  production/helm/loki/values.yaml
Labels: size/XS, area/helm

#17049 feat(helm): allow passing tenant password hash instead of password
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/ci/non-default-values.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm

#18501 chore(engine): Add support for regex and substr filters
  pkg/engine/executor/functions.go
  pkg/engine/executor/functions_test.go
Labels: size/XXL

#18105 feat(helm): add location snippet to nginx config
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/values.yaml
Labels: size/L, area/helm

#18526 feat(compactor HS): Fixes and changes for getting horizontally scalable compactor to work well
  pkg/compactor/compactor.go
  pkg/compactor/deletion/delete_request.go
  pkg/compactor/deletion/delete_request_batch.go
  pkg/compactor/deletion/delete_request_test.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/deletion/deletion_manifest_builder.go
  pkg/compactor/deletion/deletion_manifest_builder_test.go
  pkg/compactor/deletion/job_builder.go
  pkg/compactor/deletion/job_builder_test.go
  pkg/compactor/deletion/job_runner.go
  pkg/compactor/deletion/job_runner_test.go
  pkg/compactor/deletion/metrics.go
  pkg/compactor/jobqueue/metrics.go
  pkg/compactor/jobqueue/queue.go
  pkg/compactor/jobqueue/queue_test.go
Labels: size/L

#17937 fix(helm): move loki-sc-rules to second position in containers
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/ruler/statefulset-ruler.yaml
  production/helm/loki/templates/single-binary/statefulset.yaml
Labels: size/L, area/helm

#18529 chore: Use correct TimeRange predicate for indexpointers
  pkg/dataobj/sections/indexpointers/row_predicate_test.go
  pkg/dataobj/sections/indexpointers/row_reader.go
Labels: size/M

#18538 fix(ci): Read releaseLibRef from jsonnet.json lockfile
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M, type/ci

#18534 chore(engine): Add warning to response when query was executed with new engine
  pkg/engine/compat.go
  pkg/engine/compat_test.go
  pkg/engine/engine.go
Labels: size/M

#18560 ci: backport 18538 to 3.5
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#18562 ci: backport 18538 to 3.4
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#18553 chore(engine): Extend histogram buckets for metrics for the new query engine
  pkg/engine/metrics.go
Labels: size/M

#18499 chore(dataobj): store sort order information in section metadata
  pkg/dataobj/consumer/metrics.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/metadata/indexpointersmd/indexpointersmd.pb.go
  pkg/dataobj/internal/metadata/indexpointersmd/indexpointersmd.proto
  pkg/dataobj/internal/metadata/logsmd/logsmd.pb.go
  pkg/dataobj/internal/metadata/logsmd/logsmd.proto
  pkg/dataobj/internal/metadata/pointersmd/pointersmd.pb.go
  pkg/dataobj/internal/metadata/pointersmd/pointersmd.proto
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.pb.go
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.proto
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/sections/indexpointers/decoder.go
  pkg/dataobj/sections/indexpointers/indexpointers.go
  pkg/dataobj/sections/indexpointers/iter.go
  pkg/dataobj/sections/indexpointers/metrics.go
  pkg/dataobj/sections/indexpointers/row_reader.go
  pkg/dataobj/sections/indexpointers/stats.go
  pkg/dataobj/sections/logs/builder.go
  pkg/dataobj/sections/logs/decoder.go
  pkg/dataobj/sections/logs/encoder.go
  pkg/dataobj/sections/logs/iter.go
  pkg/dataobj/sections/logs/logs.go
  pkg/dataobj/sections/logs/metrics.go
  pkg/dataobj/sections/logs/row_reader.go
  pkg/dataobj/sections/logs/stats.go
  pkg/dataobj/sections/pointers/decoder.go
  pkg/dataobj/sections/pointers/decoder_metadata.go
  pkg/dataobj/sections/pointers/iter.go
  pkg/dataobj/sections/pointers/metrics.go
  pkg/dataobj/sections/pointers/pointers.go
  pkg/dataobj/sections/pointers/row_reader.go
  pkg/dataobj/sections/pointers/stats.go
  pkg/dataobj/sections/streams/decoder.go
  pkg/dataobj/sections/streams/iter.go
  pkg/dataobj/sections/streams/metrics.go
  pkg/dataobj/sections/streams/row_reader.go
  pkg/dataobj/sections/streams/stats.go
  pkg/dataobj/sections/streams/streams.go
  pkg/engine/engine.go
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
Labels: size/L

#18522 chore: Clean up docs Make variables
  docs/variables.mk
Labels: size/XS

#18583 chore(bench): add instant metric queries
  pkg/logql/bench/bench_test.go
  pkg/logql/bench/cmd/bench/main.go
  pkg/logql/bench/generator_query.go
  pkg/logql/bench/generator_test.go
Labels: size/L

#18523 fix: ensure we do not add duplicate structured metadata from stream labels and extracted map
  clients/pkg/logentry/stages/labels.go
  clients/pkg/logentry/stages/structuredmetadata.go
  clients/pkg/logentry/stages/structuredmetadata_test.go
Labels: size/M

#18588 feat(compactor HS): add a dashboard for monitoring deletion with horizontally scalable compactor
  production/loki-mixin/dashboards.libsonnet
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-deletion-horizontally-scalable.libsonnet
Labels: size/L

#18521 feat: filter tenant limits endpoint by allowlist
  docs/sources/shared/configuration.md
  pkg/loki/config_handler.go
  pkg/loki/loki.go
  pkg/loki/tenant_limits_handler_test.go
Labels: size/L

#18577 chore(engine): use columnar logs.Reader for DataObjScan
  docs/sources/shared/configuration.md
  pkg/dataobj/internal/arrowconv/arrowconv.go
  pkg/dataobj/internal/dataset/predicate.go
  pkg/dataobj/internal/dataset/reader.go
  pkg/dataobj/sections/logs/predicate.go
  pkg/dataobj/sections/logs/reader.go
  pkg/dataobj/sections/logs/reader_test.go
  pkg/dataobj/sections/streams/predicate.go
  pkg/dataobj/sections/streams/reader.go
  pkg/dataobj/sections/streams/reader_test.go
  pkg/engine/engine.go
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/dataobjscan_predicate.go
  pkg/engine/executor/dataobjscan_predicate_test.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/executor.go
  pkg/engine/executor/schema.go
  pkg/engine/executor/schema_test.go
  pkg/engine/executor/stream_injector.go
  pkg/engine/executor/stream_injector_test.go
  pkg/engine/executor/streams_view.go
  pkg/engine/executor/streams_view_test.go
  pkg/engine/executor/topk.go
  pkg/engine/executor/topk_test.go
  pkg/engine/executor/util_test.go
  pkg/logql/engine.go
  pkg/util/arrowtest/arrowtest.go
  pkg/util/arrowtest/arrowtest_test.go
Labels: size/XXL

#18589 fix: ensure to return delete requests only for the requested tanent
  pkg/compactor/deletion/delete_requests_store_boltdb.go
  pkg/compactor/deletion/delete_requests_store_boltdb_test.go
  pkg/compactor/deletion/delete_requests_store_test.go
Labels: size/M

#18606 docs(fix): Updated port expose for Alloy
  docs/sources/send-data/k8s-monitoring-helm/_index.md
Labels: size/XS

#18608 chore(engine): add predicate columns to projection list for metric queries
  pkg/engine/planner/physical/optimizer.go
  pkg/engine/planner/physical/optimizer_test.go
  pkg/engine/planner/physical/planner.go
Labels: size/L

#18614 fix: Remove duplicated metric from Kafka producer
  pkg/kafka/client/writer_client.go
Labels: size/M, type/bug, backport k265

#18621 fix: fix panic when closing uninitialized prefetchWrapper (backport #18592)
  pkg/engine/executor/pipeline.go
  pkg/engine/executor/pipeline_test.go
Labels: size/S

#18546 feat(helm): Add health probes to admin-api
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/values.yaml
Labels: size/M

#18400 feat(helm): Expose Loki UI in pure ingress
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm

#18536 feat(helm): allow setting labels for ingesters
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/ingester/statefulset-ingester-zone-a.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-b.yaml
  production/helm/loki/templates/ingester/statefulset-ingester-zone-c.yaml
  production/helm/loki/templates/ingester/statefulset-ingester.yaml
  production/helm/loki/values.yaml
Labels: size/S

#16776 fix(helm): create namespaced RBAC when sidecar is enabled
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/role.yaml
  production/helm/loki/templates/rolebinding.yaml
Labels: size/S, area/helm

#13781 fix(helm): Add validation for loki.storage.bucketNames
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/validate.yaml
Labels: size/S, area/helm

#18629 chore: use boltdb for tracking series processing progress in delete requests manager
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/retention/retention.go
Labels: size/L, type/chore, backport k265

#18643 test(kafka/partitionring/consumer): fix test flakiness
  pkg/kafka/partitionring/consumer/client_test.go
Labels: size/XS

#18619 feat(helm): Update Grafana Loki version to 3.5.3
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S

#18658 fix(docs): added instructions for how to upgrade zone-aware ingesters
  docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/upgrade-to-6x/index.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/scenarios/default-distributed-values.yaml
Labels: size/M

#18653 fix(helm): make loki.storage.bucketNames are optional, if builtin minio is enabled.
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/validate.yaml
Labels: size/XS

#18654 docs(compactor HS): add documentation for horizontally scalable compactor
  docs/sources/operations/storage/compactor-HS-seq-diagram.png
  docs/sources/operations/storage/compactor-horizontal-scaling.md
  docs/sources/shared/configuration.md
  pkg/compactor/jobqueue/worker.go
Labels: size/L, type/docs

#18648 chore(engine): add tracing instrumentation
  pkg/engine/engine.go
  pkg/engine/executor/executor.go
  pkg/engine/executor/pipeline.go
Labels: size/L

#18641 chore(engine): introduce merge node
  pkg/engine/executor/executor.go
  pkg/engine/executor/merge.go
  pkg/engine/executor/merge_test.go
  pkg/engine/planner/physical/merge.go
  pkg/engine/planner/physical/plan.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/printer.go
  pkg/engine/planner/physical/visitor.go
  pkg/engine/planner/physical/visitor_test.go
Labels: size/L

#18678 chore(dataobj): list pages across all columns in one request
  pkg/dataobj/internal/dataset/reader_downloader.go
Labels: size/M

#18663 fix(docs): added instructions for how to upgrade zone-aware ingesters…
  docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/upgrade-to-6x/index.md
  production/helm/loki/CHANGELOG.md
Labels: size/L
