Repository grafana/loki, pull requests merged in 2025-01, with the labels that each got.

#15541 fix: do not retain copy of chunk while indexing a new chunk in tsdb while processing delete requests
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
Labels: size/M

#15580 feat(block-scheduler): status page shows completed jobs
  pkg/blockbuilder/scheduler/priority_queue.go
  pkg/blockbuilder/scheduler/priority_queue_test.go
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/status.go
  pkg/blockbuilder/scheduler/status.gohtml
  pkg/blockbuilder/scheduler/status_preview_test.go
  pkg/blockbuilder/scheduler/status_test.go
Labels: size/L

#15525 fix: bytes unit detection in detected fields
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/detected_fields_test.go
Labels: size/M

#15579 fix(block-scheduler): one job per partition (local branch copy)
  docs/sources/shared/configuration.md
  pkg/blockbuilder/scheduler/scheduler.go
Labels: size/M, type/docs

#15603 feat: add kafka development environment
  .gitignore
  tools/dev/kafka/README.md
  tools/dev/kafka/docker-compose.yaml
  tools/dev/kafka/loki-local-config.debug.yaml
  tools/dev/kafka/provisioning/datasources/default.yml
Labels: size/L

#15605 feat: Skip writeback for chunks fetched by queriers older than a duration
  docs/sources/shared/configuration.md
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/fetcher/fetcher.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/config/store.go
  pkg/storage/store.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/util_test.go
Labels: size/L, type/docs

#15584 fix(typo): Change "did received" to "did receive" in NOTES.txt
  production/helm/loki/templates/NOTES.txt
Labels: size/XS, area/helm

#15534 docs: Fix Some Typo
  docs/sources/get-started/labels/_index.md
Labels: size/S, type/docs

#15399 docs: Update labels, add cardinality topic
  docs/sources/get-started/labels/_index.md
  docs/sources/get-started/labels/cardinality.md
Labels: size/L, type/docs, backport release-3.3.x

#15615 docs: Update labels, add cardinality topic (#15399)
  docs/sources/get-started/labels/_index.md
  docs/sources/get-started/labels/cardinality.md
Labels: size/L, type/docs

#15614 fix(blockbuilder): use index path prefix in objectclient for tsdb creation
  pkg/blockbuilder/builder/storage.go
Labels: size/XS

#15617 fix(blockbuilder): min job size
  docs/sources/shared/configuration.md
  pkg/blockbuilder/builder/tsdb.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
Labels: size/M, type/docs

#15488 docs: add curl commands
  docs/sources/get-started/quick-start.md
Labels: size/S, type/docs

#15188 feat: Detect fields based on per-tenant configuration and put them into structured metadata at ingest time
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/field_detection.go
  pkg/distributor/field_detection_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/logql/log/parser.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
Labels: size/L, type/docs

#15606 chore(dataobj): initial commit of value encoding
  pkg/dataobj/internal/dataset/dataset.go
  pkg/dataobj/internal/dataset/value.go
  pkg/dataobj/internal/dataset/value_encoding.go
  pkg/dataobj/internal/dataset/value_encoding_delta.go
  pkg/dataobj/internal/dataset/value_encoding_delta_test.go
  pkg/dataobj/internal/dataset/value_encoding_plain.go
  pkg/dataobj/internal/dataset/value_encoding_plain_test.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/streamio/streamio.go
  pkg/dataobj/internal/streamio/varint.go
Labels: size/XL

#15600 feat(lambda-promtail): add relabeling support for log entries
  docs/sources/send-data/lambda-promtail/_index.md
  tools/lambda-promtail/lambda-promtail/eventbridge.go
  tools/lambda-promtail/lambda-promtail/eventbridge_test.go
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/promtail.go
  tools/lambda-promtail/lambda-promtail/s3.go
Labels: size/L, type/docs

#15640 fix(partition-ingester): Add stream creation error logging
  pkg/ingester/instance.go
Labels: size/S

#15638 docs: add another third-party client
  docs/sources/send-data/_index.md
Labels: size/XS, type/docs

#15637 docs: add note to Helm values file
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#15632 docs: fix broken link
  docs/sources/send-data/promtail/_index.md
Labels: size/XS, type/docs

#15611 feat(logcli): Include common labels
  cmd/logcli/main.go
  pkg/logcli/index/volume.go
  pkg/logcli/print/print.go
  pkg/logcli/query/query.go
Labels: size/M

#15397 docs: Cloud Deployment Azure
  docs/sources/setup/install/helm/_index.md
  docs/sources/setup/install/helm/deployment-guides/_index.md
  docs/sources/setup/install/helm/deployment-guides/aws.md
  docs/sources/setup/install/helm/deployment-guides/azure.md
  docs/sources/setup/install/helm/install-microservices/_index.md
Labels: size/XL, type/docs

#15634 chore(dataobj): column building
  pkg/dataobj/internal/dataset/column.go
  pkg/dataobj/internal/dataset/column_builder.go
  pkg/dataobj/internal/dataset/column_iter.go
  pkg/dataobj/internal/dataset/column_test.go
  pkg/dataobj/internal/dataset/page.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/page_compress_writer.go
  pkg/dataobj/internal/dataset/page_iter.go
  pkg/dataobj/internal/dataset/page_test.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/result/result.go
  pkg/dataobj/internal/streamio/varint.go
Labels: size/XXL

#15601 fix: Fix loki ruler generator url left parameter url encoding
  pkg/ruler/base/ruler.go
  pkg/ruler/base/ruler_test.go
Labels: size/S

#15665 fix: RangeQuery goroutine leak
  pkg/querier/queryrange/downstreamer.go
Labels: size/S

#15559 perf(approx_topk): Reduce memory usage of HyperLogLog in approx_topk.
  pkg/logql/count_min_sketch.go
  pkg/logql/log/labels.go
  pkg/logql/log/parser_test.go
  pkg/logql/sketch/cms.go
Labels: size/S

#15648 feat(distributor): Add stream metadata writes to separate topic
  pkg/distributor/distributor.go
  pkg/kafka/encoding.go
  pkg/kafka/encoding_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/L

#15646 fix(deps): CVE updates for Loki 3.2.2
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: size/M

#15645 fix(deps): CVE updates for Loki 3.3.2
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: size/M

#15674 feat: add limits-frontend service
  pkg/limits/frontend/config.go
  pkg/limits/frontend/service.go
Labels: size/M

#15652 chore(dataobj): add Dataset with iteration and sorting support
  pkg/dataobj/internal/dataset/column.go
  pkg/dataobj/internal/dataset/dataset.go
  pkg/dataobj/internal/dataset/dataset_iter.go
  pkg/dataobj/internal/dataset/dataset_sort.go
  pkg/dataobj/internal/dataset/dataset_sort_test.go
  pkg/dataobj/internal/dataset/page.go
  pkg/dataobj/internal/dataset/value.go
Labels: size/XL

#15642 chore(block-scheduler): pin fallback offset during start-up
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/scheduler/status.go
  pkg/blockbuilder/scheduler/status_test.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
  pkg/kafka/partition/offset_manager.go
Labels: size/M, type/docs

#15630 feat: added support for overrides exporter
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/overrides-exporter/_helpers-overrides-exporter.tpl
  production/helm/loki/templates/overrides-exporter/deployment-overrides-exporter.yaml
  production/helm/loki/templates/overrides-exporter/poddisruptionbudget-overrides-exporter.yaml
  production/helm/loki/templates/overrides-exporter/service-overrides-exporter-headless.yaml
  production/helm/loki/templates/overrides-exporter/service-overrides-exporter.yaml
  production/helm/loki/values.yaml
Labels: size/XL, area/helm, type/docs

#15668 feat(ingest-limits): Add GRPC service to read per tenant stream limits from kafka
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/kafka/config.go
  pkg/kafka/encoding.go
  pkg/kafka/encoding_test.go
  pkg/kafka/limits/ingest_limits.go
  pkg/limits/frontend/service.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/loki.go
  pkg/loki/modules.go
  tools/dev/kafka/docker-compose.yaml
  tools/dev/kafka/loki-local-config.debug.yaml
Labels: size/L, type/docs

#14267 fix(promtail): Fix API level node filtering of Kubernetes SD to only fetch pod metadata for pods of the current node
  clients/pkg/promtail/targets/file/filetargetmanager.go
  clients/pkg/promtail/targets/file/filetargetmanager_test.go
Labels: size/M, component/promtail

#15683 chore: Remove crossbuild dockerfiles and their make targets, and *-image-push make targets
  Makefile
Labels: size/M

#15677 ci: Fix only run on fork guard
  .github/workflows/deploy-pr-preview.yml
Labels: size/XS

#15678 docs: fixed indentation for sandbox tags
  docs/sources/get-started/quick-start.md
Labels: size/XS, type/docs

#15167 docs: Add clarifications for ruler remote write config options
  docs/sources/shared/configuration.md
  pkg/ruler/config.go
Labels: size/S, type/docs

#15682 feat(distributor): Store no shard stream metadata only
  pkg/distributor/distributor.go
  pkg/distributor/tee_test.go
  pkg/kafka/encoding.go
  pkg/kafka/encoding_test.go
  pkg/pattern/tee_service.go
  pkg/pattern/tee_service_test.go
Labels: size/M

#15676 chore(dataobj): data object encoding and decoding
  pkg/dataobj/internal/encoding/dataset_streams.go
  pkg/dataobj/internal/encoding/decoder.go
  pkg/dataobj/internal/encoding/decoder_metadata.go
  pkg/dataobj/internal/encoding/decoder_readseeker.go
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/encoding/encoder_helpers.go
  pkg/dataobj/internal/encoding/encoder_streams.go
  pkg/dataobj/internal/encoding/encoding.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/encoding/pools.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.pb.go
  pkg/dataobj/internal/metadata/streamsmd/streamsmd.proto
Labels: size/XXL

#15707 fix: correct typo in architecture name (amr64 -> arm64)
  docs/sources/send-data/docker-driver/_index.md
Labels: size/XS, type/docs

#15712 fix(deps): Update Go for Loki 3.2
  Makefile
Labels: size/XS

#15719 chore(dataobj): add skeleton for public API to build objects
  pkg/dataobj/dataobj.go
Labels: size/M

#15701 docs: fix broken link to the docker plugin configuration page
  docs/sources/send-data/docker-driver/_index.md
Labels: size/XS, type/docs

#15726 docs: broken URLs fixed
  docs/sources/setup/install/helm/deployment-guides/aws.md
  docs/sources/setup/install/helm/deployment-guides/azure.md
Labels: size/XS, type/docs

#15699 docs: add info about compression
  docs/sources/configure/bp-configure.md
Labels: size/S, type/docs

#15720 chore(dataobj): logs section metadata and encoding/decoding
  pkg/dataobj/internal/encoding/dataset_logs.go
  pkg/dataobj/internal/encoding/decoder.go
  pkg/dataobj/internal/encoding/decoder_metadata.go
  pkg/dataobj/internal/encoding/decoder_readseeker.go
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/encoding/encoder_logs.go
  pkg/dataobj/internal/encoding/encoding.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/internal/metadata/logsmd/logsmd.pb.go
  pkg/dataobj/internal/metadata/logsmd/logsmd.proto
Labels: size/XL

#15709 ci: Fix syntax
  .github/workflows/deploy-pr-preview.yml
Labels: size/XS

#15735 chore: clone the context instead of using background context while pushing logs to ingesters from distributor
  pkg/distributor/distributor.go
Labels: size/XS

#15744 docs: fix missing deploymentMode: SingleBinary
  docs/sources/setup/install/helm/install-monolithic/_index.md
Labels: size/XS, type/docs

#15713 chore(dataobj): add streams tracking and encoding
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/internal/sections/streams/streams_test.go
Labels: size/L

#15758 chore(dataobj): track non-NULL values in pages/columns
  pkg/dataobj/internal/dataset/column.go
  pkg/dataobj/internal/dataset/column_builder.go
  pkg/dataobj/internal/dataset/column_test.go
  pkg/dataobj/internal/dataset/page.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/page_test.go
  pkg/dataobj/internal/encoding/dataset_logs.go
  pkg/dataobj/internal/encoding/dataset_streams.go
  pkg/dataobj/internal/encoding/encoder_logs.go
  pkg/dataobj/internal/encoding/encoder_streams.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
Labels: size/S

#15704 feat: Add a new `enforced_labels` limit
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  pkg/validation/validate.go
Labels: size/L, type/docs

#15766 chore: move limits to pkg/limits
  pkg/limits/ingest_limits.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XS

#15757 chore(dataobj): add logs tracking and encoding
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/logs/logs.go
  pkg/dataobj/internal/sections/logs/logs_test.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/internal/sections/streams/streams_test.go
Labels: size/XL

#15767 chore(dataobj): fix bug with partial reads of strings
  pkg/dataobj/internal/dataset/value_encoding_plain.go
  pkg/dataobj/internal/dataset/value_encoding_plain_test.go
Labels: size/M

#15764 feat: Add ExceedsLimits RPC to IngestLimits service
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/S

#15772 chore(dataobj): use logproto.Stream for single append
  pkg/dataobj/dataobj.go
Labels: size/XS

#15756 fix: don't send empty aggregated metric payloads
  pkg/pattern/aggregation/push.go
Labels: size/S

#15776 chore(dataobj): fix bug where instances of *bytes.Buffer are incorrectly shared
  pkg/dataobj/internal/encoding/encoder_logs.go
  pkg/dataobj/internal/encoding/encoder_streams.go
  pkg/dataobj/internal/encoding/encoder_test.go
Labels: size/M

#15780 chore(dataobj): support for building and flushing data objects
  pkg/dataobj/dataobj.go
  pkg/dataobj/dataobj_test.go
  pkg/dataobj/internal/dataset/column_builder.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/encoding/decoder_bucket.go
  pkg/dataobj/internal/encoding/decoder_metadata.go
  pkg/dataobj/internal/encoding/pools.go
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/logs/logs.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/pools.go
  pkg/dataobj/reader.go
Labels: size/XL

#15787 chore: Remove experimental bloom settings that have never been used or are not used any more
  docs/sources/shared/configuration.md
  pkg/bloomgateway/bloomgateway_test.go
  pkg/bloomgateway/cache.go
  pkg/bloomgateway/cache_test.go
  pkg/bloomgateway/client.go
  pkg/bloomgateway/config.go
  pkg/validation/limits.go
Labels: size/XL, type/docs

#15774 fix: prevent fast ascii comparison if char is not letter
  pkg/logql/log/filter.go
  pkg/logql/log/filter_test.go
  pkg/logql/syntax/ast_test.go
Labels: size/L, type/bug

#15779 feat(ingest-limits): Add gRPC service for internal communication between ingest-limits and ingest-limits-frontend
  pkg/limits/frontend/client.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/metrics.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/L

#15781 feat: create dskit service for limits_frontend
  docs/sources/shared/configuration.md
  pkg/limits/frontend/client.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L, type/docs

#15791 feat(dataobj): add support for loading config via flags
  pkg/dataobj/dataobj.go
Labels: size/S

#15792 chore(dataobj): use LRU cache for parsing labels
  pkg/dataobj/dataobj.go
Labels: size/S

#15793 feat(ingest-limits): Move config struct to new limits pkg
  docs/sources/shared/configuration.md
  pkg/kafka/config.go
  pkg/limits/config.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
  tools/dev/kafka/loki-local-config.debug.yaml
Labels: size/M, type/docs

#15796 chore(dataobj): Prefix bucket and cache built object until flushing succeeds
  pkg/dataobj/dataobj.go
  pkg/dataobj/dataobj_test.go
  pkg/dataobj/pools.go
  pkg/dataobj/reader.go
Labels: size/L

#15799 chore(dataobj): temporarily disable sorting
  pkg/dataobj/dataobj_test.go
  pkg/dataobj/internal/sections/logs/logs.go
  pkg/dataobj/internal/sections/logs/logs_test.go
Labels: size/M

#15730 chore(blockbuilder): cleanup
  pkg/blockbuilder/builder/builder.go
  pkg/blockbuilder/scheduler/priority_queue.go
  pkg/blockbuilder/scheduler/queue.go
  pkg/blockbuilder/scheduler/queue_test.go
  pkg/blockbuilder/scheduler/scheduler.go
  pkg/blockbuilder/scheduler/scheduler_test.go
  pkg/blockbuilder/scheduler/status.go
  pkg/blockbuilder/scheduler/status_preview_test.go
  pkg/blockbuilder/scheduler/status_test.go
  pkg/blockbuilder/scheduler/strategy.go
  pkg/blockbuilder/scheduler/strategy_test.go
  pkg/blockbuilder/types/job.go
  pkg/kafka/partition/offset_manager.go
  pkg/loki/modules.go
Labels: size/XXL

#15795 chore: rename StreamLimits to StreamUsage
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/S

#15803 chore(dataobj): instrument data objects
  pkg/dataobj/dataobj.go
  pkg/dataobj/dataobj_test.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/encoding/metrics.go
  pkg/dataobj/internal/sections/logs/logs.go
  pkg/dataobj/internal/sections/logs/logs_test.go
  pkg/dataobj/internal/sections/logs/metrics.go
  pkg/dataobj/internal/sections/streams/metrics.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/internal/sections/streams/streams_test.go
  pkg/dataobj/metrics.go
  pkg/dataobj/reader.go
Labels: size/XL

#10901 fix: area/helm: Fix Inconsistency between sidecar.securityContext and loki.containerSecurityContext
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/values.yaml
Labels: size/S, area/helm, type/docs

#15807 fix(helm): Update GEL Helm parameters to work with MinIO
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/gateway/deployment-gateway-enterprise.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#15790 chore: align delete request splits to shard interval
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/deletion/request_handler_test.go
Labels: size/L

#10527 docs: Fix JSON parser example
  docs/sources/query/log_queries/_index.md
Labels: size/XS, type/docs

#15824 chore(dataobj): fix dataobj_config metrics
  pkg/dataobj/dataobj.go
  pkg/dataobj/metrics.go
Labels: size/M

#15823 chore(dataobj): Add simple cmd to view columns of dataobj
  cmd/dataobj-inspect/go.mod
  cmd/dataobj-inspect/go.sum
  cmd/dataobj-inspect/main.go
  pkg/dataobj/tools/inspect.go
Labels: size/XL

#15800 feat(operator): Update Loki operand to v3.3.2
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community-openshift/manager_related_image_patch.yaml
  operator/config/overlays/community/manager_related_image_patch.yaml
  operator/config/overlays/development/manager_related_image_patch.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
  operator/docs/operator/compatibility.md
  operator/hack/addons_dev.yaml
  operator/hack/addons_ocp.yaml
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-chunks.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-reads.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-retention.json
  operator/internal/manifests/openshift/internal/dashboards/static/grafana-dashboard-lokistack-writes.json
  operator/internal/manifests/var.go
  operator/jsonnet/jsonnetfile.json
  operator/jsonnet/jsonnetfile.lock.json
Labels: size/L, sig/operator

#15808 chore(docs): Version updates for Loki install information
  docs/sources/setup/install/docker.md
  docs/sources/setup/install/install-from-source.md
  docs/sources/setup/install/local.md
  docs/sources/setup/install/tanka.md
Labels: size/M, type/docs, backport release-3.3.x

#15814 docs: Update titles of pages within the "Manage" section
  docs/sources/operations/authentication.md
  docs/sources/operations/automatic-stream-sharding.md
  docs/sources/operations/autoscaling_queriers.md
  docs/sources/operations/blocking-queries.md
  docs/sources/operations/bloom-filters.md
  docs/sources/operations/caching.md
  docs/sources/operations/loki-canary/_index.md
  docs/sources/operations/meta-monitoring/_index.md
  docs/sources/operations/meta-monitoring/mixins.md
  docs/sources/operations/multi-tenancy.md
  docs/sources/operations/overrides-exporter.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/recording-rules.md
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/operations/scalability.md
  docs/sources/operations/shuffle-sharding/_index.md
  docs/sources/operations/troubleshooting.md
  docs/sources/operations/upgrade.md
  docs/sources/operations/zone-ingesters.md
Labels: size/L, type/docs

#15828 chore(deps): Bump to Go 1.23.5
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
  loki-build-image/README.md
Labels: size/S

#15821 chore: fix missing module for ingest-limits-frontend
  pkg/loki/loki.go
Labels: size/XS

#15809 docs: Fillout metrics section of our WAL docs
  docs/sources/operations/storage/wal.md
Labels: size/XS, type/docs

#15833 chore(dataobj): improve performance of Streams.EstimatedSize
  pkg/dataobj/internal/sections/streams/streams.go
Labels: size/S

#15843 chore: Fix `unused-parameter` linter errors
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/loki/modules.go
Labels: size/M, type/bug, backport k238

#15846 chore(dataobj): reduce total allocations while encoding
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/encoding/encoder_logs.go
  pkg/dataobj/internal/encoding/encoder_streams.go
Labels: size/M

#15850 chore(dataobj): promote metadata types to hold uint64 instead of uint32
  pkg/dataobj/dataobj.go
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/encoding/encoder_logs.go
  pkg/dataobj/internal/encoding/encoder_streams.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/tools/inspect.go
Labels: size/M

#15856 fix: initialize IngestLimitsRing in IngestLimits service
  pkg/loki/loki.go
Labels: size/XS

#15867 docs: change order of TOC
  docs/sources/send-data/alloy/_index.md
  docs/sources/send-data/otel/_index.md
  docs/sources/send-data/promtail/_index.md
Labels: size/XS, type/docs

#15839 perf(ingester): refactor lock acquisitions related to `not_owned` series limit functionality
  pkg/ingester/instance.go
  pkg/ingester/limiter_test.go
  pkg/ingester/metrics.go
  pkg/ingester/owned_streams.go
  pkg/ingester/recalculate_owned_streams_test.go
Labels: size/M

#15794 feat(query-tee): improvements to skip samples outside comparison window
  cmd/querytee/main.go
  tools/querytee/proxy.go
  tools/querytee/proxy_endpoint.go
  tools/querytee/proxy_endpoint_test.go
  tools/querytee/proxy_metrics.go
  tools/querytee/proxy_test.go
  tools/querytee/response_comparator.go
  tools/querytee/response_comparator_test.go
Labels: size/L

#15855 fix: do not update delete requests tracking metrics for users whose delete requests are not supposed to be processed
  pkg/compactor/deletion/delete_requests_manager.go
Labels: size/S

#15812 chore: update usage tracker with received bytes on stream level instead of each log line
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/push.go
Labels: size/M

#15849 feat: create client for limits frontend to call limits service
  docs/sources/shared/configuration.md
  pkg/limits/frontend/client.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/service.go
  pkg/loki/modules.go
Labels: size/L, type/docs

#15852 feat: dedupe duplicate delete requests while loading them for processing in compactor
  pkg/compactor/deletion/delete_request.go
  pkg/compactor/deletion/delete_request_test.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
Labels: size/L

#15885 perf(ingester): refactor lock acquisitions related to `not_owned` series limit functionality (#15839)
  pkg/ingester/instance.go
  pkg/ingester/limiter_test.go
  pkg/ingester/metrics.go
  pkg/ingester/owned_streams.go
  pkg/ingester/recalculate_owned_streams_test.go
Labels: size/M

#15886 chore(deps): Update renovate configuration for more automation
  .github/renovate.json5
Labels: size/M

#15874 docs: Fix WAL numbering
  docs/sources/operations/storage/wal.md
Labels: size/M, type/docs

#15820 docs: Replace SSD sizing tool with cluster tiers for distributed/microservices mode
  docs/sources/setup/size/_index.md
Labels: size/L, type/docs

#15916 docs: Add notes on node types
  docs/sources/setup/size/_index.md
Labels: size/M, type/docs

#15917 chore: Retire sizing tool
  cmd/logql-analyzer/main.go
  pkg/sizing/algorithm.go
  pkg/sizing/algorithm_test.go
  pkg/sizing/helm.go
  pkg/sizing/http.go
  pkg/sizing/node.go
Labels: size/L

#15848 chore(dataobj): add compression ratio and final object size distributions
  pkg/dataobj/dataobj.go
  pkg/dataobj/internal/encoding/metrics.go
  pkg/dataobj/metrics.go
Labels: size/M

#15884 feat(ingest-limits): Add ExceedsLimit implementation
  docs/sources/shared/configuration.md
  pkg/limits/frontend/client.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XL, type/docs

#15908 feat(dataobj): Add a Explorer UI for dataobj
  .gitignore
  Makefile
  cmd/loki/Dockerfile
  docs/sources/shared/configuration.md
  pkg/dataobj/explorer/config.go
  pkg/dataobj/explorer/dist/assets/index-CWzBrpZu.js
  pkg/dataobj/explorer/dist/assets/style-Dz5w-Rts.css
  pkg/dataobj/explorer/dist/index.html
  pkg/dataobj/explorer/download.go
  pkg/dataobj/explorer/inspect.go
  pkg/dataobj/explorer/list.go
  pkg/dataobj/explorer/service.go
  pkg/dataobj/explorer/ui/Makefile
  pkg/dataobj/explorer/ui/index.html
  pkg/dataobj/explorer/ui/package-lock.json
  pkg/dataobj/explorer/ui/package.json
  pkg/dataobj/explorer/ui/postcss.config.js
  pkg/dataobj/explorer/ui/src/App.tsx
  pkg/dataobj/explorer/ui/src/components/common/DateWithHover.tsx
  pkg/dataobj/explorer/ui/src/components/common/ErrorContainer.tsx
  pkg/dataobj/explorer/ui/src/components/common/LoadingContainer.tsx
  pkg/dataobj/explorer/ui/src/components/explorer/FileList.tsx
  pkg/dataobj/explorer/ui/src/components/file-metadata/BackToList.tsx
  pkg/dataobj/explorer/ui/src/components/file-metadata/CompressionRatio.tsx
  pkg/dataobj/explorer/ui/src/components/file-metadata/FileMetadata.tsx
  pkg/dataobj/explorer/ui/src/components/layout/Breadcrumb.tsx
  pkg/dataobj/explorer/ui/src/components/layout/DarkModeToggle.tsx
  pkg/dataobj/explorer/ui/src/components/layout/Layout.tsx
  pkg/dataobj/explorer/ui/src/components/layout/ScrollToTopButton.tsx
  pkg/dataobj/explorer/ui/src/contexts/BasenameContext.tsx
  pkg/dataobj/explorer/ui/src/hooks/useExplorerData.ts
  pkg/dataobj/explorer/ui/src/hooks/useFileMetadata.ts
  pkg/dataobj/explorer/ui/src/index.css
  pkg/dataobj/explorer/ui/src/main.tsx
  pkg/dataobj/explorer/ui/src/pages/ExplorerPage.tsx
  pkg/dataobj/explorer/ui/src/pages/FileMetadataPage.tsx
  pkg/dataobj/explorer/ui/src/types/explorer.ts
  pkg/dataobj/explorer/ui/src/types/metadata.ts
  pkg/dataobj/explorer/ui/src/utils/format.ts
  pkg/dataobj/explorer/ui/tailwind.config.js
  pkg/dataobj/explorer/ui/vite.config.ts
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/XXL, type/docs

#15907 ci: Update loki-release workflows to build Docker images "natively"
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/runner.libsonnet
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  Makefile
Labels: size/XL

#10297 chore(fluent-bit): Improve error message when plugin startup fails
  clients/cmd/fluent-bit/out_grafana_loki.go
Labels: size/XS

#15930 chore: use json.NewDecoder to avoid buffering in bytes array
  pkg/limits/frontend/frontend.go
Labels: size/S

#15932 chore: Differentiate clients in limits package
  pkg/limits/frontend/client.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
Labels: size/M

#15936 chore: Fix Loki arm builds
  pkg/dataobj/internal/dataset/dataset_iter.go
  pkg/dataobj/internal/dataset/value_encoding_bitmap.go
Labels: size/XS

#15935 feat(thanos): rewrite azure blob keys using chunk delimiter
  pkg/storage/bucket/azure/bucket_client.go
  pkg/storage/bucket/azure/config.go
  pkg/storage/bucket/azure/key_rewrite_bucket.go
  pkg/storage/bucket/azure/key_rewrite_bucket_test.go
Labels: size/L

#15840 docs: Fix typos in limits.go
  docs/sources/shared/configuration.md
  pkg/validation/limits.go
Labels: size/XS, type/docs

#15910 docs: Update _index.md: add information about non-blocking mode to the documentation
  docs/sources/send-data/docker-driver/_index.md
Labels: size/XS, type/docs

#15968 chore: merge back delete request when we are done processing all its splits
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/deletion/delete_requests_store.go
  pkg/compactor/deletion/delete_requests_store_test.go
  pkg/compactor/deletion/noop_delete_requests_store.go
  pkg/compactor/deletion/request_handler.go
  pkg/compactor/deletion/request_handler_test.go
  pkg/storage/chunk/client/local/boltdb_index_client.go
  pkg/storage/chunk/client/local/boltdb_index_client_test.go
Labels: size/L

#15939 fix(ci): Provide correct build info for release builds
  Makefile
  clients/cmd/promtail/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
Labels: size/S

#15710 chore(operator): fix struct field name in comment
  operator/api/loki/v1/lokistack_types.go
  operator/api/loki/v1beta1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
Labels: size/M, sig/operator

#15915 fix: Adjust with offset in last, first and quantile over time queries.
  pkg/logql/downstream.go
  pkg/logql/downstream_test.go
  pkg/logql/first_last_over_time.go
  pkg/logql/quantile_over_time_sketch.go
  pkg/logql/range_vector_test.go
  pkg/logql/shardmapper.go
Labels: size/M, type/bug

#15857 feat(operator)!: Add configuration option for dropping OTLP attributes
  operator/api/loki/v1/lokistack_types.go
  operator/api/loki/v1/v1.go
  operator/api/loki/v1/zz_generated.deepcopy.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/config_otlp.go
  operator/internal/manifests/config_otlp_test.go
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/options.go
  operator/internal/manifests/openshift/otlp.go
  operator/internal/manifests/openshift/otlp/otlp.go
  operator/internal/validation/lokistack.go
  operator/internal/validation/lokistack_test.go
  operator/internal/validation/openshift/otlp.go
  operator/internal/validation/openshift/otlp_test.go
Labels: size/XXL, sig/operator

#15983 ci: Move IMAGE_TAG Dockerfile ARG into build phase
  clients/cmd/promtail/Dockerfile
  cmd/loki-canary-boringcrypto/Dockerfile
  cmd/loki-canary/Dockerfile
  cmd/loki/Dockerfile
  cmd/querytee/Dockerfile
Labels: size/S

#15980 feat: add client for limits-frontend service
  pkg/limits/frontend/client/client.go
Labels: size/L

#15984 fix(operator): Update skipRange in OpenShift variant
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Labels: size/S, sig/operator

#15978 fix: Fix label values query when server.http_path_prefix is set
  pkg/querier/queryrange/roundtrip.go
  pkg/querier/queryrange/roundtrip_test.go
Labels: size/M

#13116 fix: Export `exportTSInSecs` field in TSDB identifier to make sure correct gap calculation
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/identifier_test.go
Labels: size/M

#15994 fix(blooms): Initialize bloom gateway client only once
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#15875 refactor: Add retention hours to `discarded` metrics
  pkg/compactor/deletion/tenant_request_handler_test.go
  pkg/compactor/retention/expiration.go
  pkg/compactor/retention/expiration_test.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/validation_metrics.go
  pkg/distributor/validator.go
  pkg/distributor/validator_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/ingester.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/recalculate_owned_streams_test.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/util/time.go
  pkg/util/time_test.go
  pkg/validation/validate.go
Labels: size/L

#15969 chore(querier): Refactor the store and querier interface.
  pkg/compactor/deletion/delete_requests_store.go
  pkg/loki/modules.go
  pkg/querier/deletion/delete.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/limits/definitions.go
  pkg/querier/limits/validation.go
  pkg/querier/limits/validation_test.go
  pkg/querier/pattern/querier.go
  pkg/querier/querier.go
  pkg/querier/querier_mock_test.go
  pkg/querier/querier_test.go
  pkg/querier/tail/http.go
  pkg/querier/tail/http_test.go
  pkg/querier/tail/metrics.go
  pkg/querier/tail/querier.go
  pkg/querier/tail/querier_test.go
  pkg/querier/tail/tail.go
  pkg/querier/tail/tail_mock_test.go
  pkg/querier/tail/tail_test.go
  pkg/querier/tail_mock_test.go
  pkg/querier/testutil/iterator.go
  pkg/querier/testutil/limits.go
Labels: size/XXL

#15971 feat(ingest-limits): Add basic metrics
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/service.go
  pkg/limits/frontend/service_test.go
  pkg/limits/ingest_limits.go
  pkg/loki/modules.go
Labels: size/L

#16008 chore: upload delete requests table only when there are updates since last upload
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_table.go
Labels: size/S

#16015 chore(dataobj): support computation of min/max values in pages and columns
  pkg/dataobj/internal/dataset/column_builder.go
  pkg/dataobj/internal/dataset/column_test.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/value.go
  pkg/dataobj/internal/dataset/value_test.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/sections/logs/table.go
  pkg/dataobj/internal/sections/streams/streams.go
Labels: size/L

#16016 chore: remove ListenPort from initIngestLimitsRing
  pkg/loki/modules.go
Labels: size/XS

#16017 chore: rename client to ingester_client
  pkg/distributor/distributor.go
Labels: size/S

#15985 feat: add ring for ingest-limits-frontend
  docs/sources/shared/configuration.md
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/L, type/docs

#16020 chore(kafka): tenant prefix codec
  pkg/distributor/tenant_topic_tee.go
  pkg/distributor/tenant_topic_tee_test.go
Labels: size/L

#16007 chore(ksonnet)!: clean-up deprecated configs
  production/ksonnet/loki/config.libsonnet
  production/ksonnet/loki/images.libsonnet
  production/ksonnet/loki/loki.libsonnet
  production/ksonnet/loki/table-manager.libsonnet
Labels: size/L

#16026 feat: update log level discovery from json to detect nested fields
  docs/sources/shared/configuration.md
  pkg/distributor/field_detection.go
  pkg/distributor/field_detection_test.go
  pkg/distributor/limits.go
  pkg/distributor/validator.go
  pkg/validation/limits.go
Labels: size/L, type/docs

#16029 feat(ksonnet): Add no_schedule_constraints option to distributors
  production/ksonnet/loki/distributor.libsonnet
Labels: size/XS

#16032 chore(ksonnet): Add default setting for distributor.no_schedule_const…
  production/ksonnet/loki/config.libsonnet
Labels: size/XS

#16021 chore: rename pool to ingesterClients
  pkg/distributor/distributor.go
Labels: size/S

#16034 chore: fix missing initialization of ingest-limits-frontend-ring
  pkg/loki/config_wrapper.go
  pkg/loki/modules.go
Labels: size/S

#16027 docs(promtail): Add group permission note for journal
  docs/sources/send-data/promtail/configuration.md
Labels: size/XS, type/docs

#16045 fix: scheduling constraints
  production/ksonnet/loki/multi-zone.libsonnet
Labels: size/XS, product-approved, backport k239
