Repository grafana/loki, pull requests merged in 2025-05, with the labels that each got.

#16828 fix(helm): ensure global.extraEnv and global.extraEnvFrom applied to all resources consistently
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/admin-api/deployment-admin-api.yaml
  production/helm/loki/templates/backend/statefulset-backend.yaml
  production/helm/loki/templates/bloom-planner/statefulset-bloom-planner.yaml
  production/helm/loki/templates/read/deployment-read.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm

#17457 chore(tenant-topics): configurable throughput per partition
  docs/sources/shared/configuration.md
  pkg/distributor/tenant_topic_tee.go
Labels: size/S, type/docs

#17542 chore(ci): Adjust images jsonnet to match current yaml
  .github/release-workflows.jsonnet
  .github/workflows/images.yml
Labels: size/S

#16555 fix(objstore): Ruler not starting and incorrect mkdir path when Thanos Store is enabled
  pkg/loki/modules.go
Labels: size/M, type/bug, backport release-3.4.x

#17521 chore(otel): Push a metric for Loki exporter
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/push.go
Labels: size/S

#17031 chore(detected_labels): Add multi-tenant support for detected labels
  pkg/querier/multi_tenant_querier.go
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/querier_mock_test.go
  pkg/storage/detected/labels_test.go
Labels: size/L

#17525 feat: stop pushing to the metadata topic from distributors
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/L

#17546 feat: add exceeds limits RPC with no-op implementation
  pkg/limits/ingest_limits.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/S

#17549 chore: a bit of clean up in frontend.go
  pkg/limits/frontend/frontend.go
Labels: size/M

#17552 chore: use fmt.Sprintf in readyHandler
  pkg/loki/loki.go
Labels: size/S

#17550 chore: fix lint issues on main
  pkg/loki/modules.go
Labels: size/XS

#17551 fix: fix readiness check
  pkg/limits/frontend/frontend.go
  pkg/limits/ingest_limits.go
Labels: size/S

#17554 chore: make the limits-frontend no-op while we refactor it
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/gather.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/loki/modules.go
Labels: size/XXL

#17545 chore: update loki 3.4.2 -> 3.5.0
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Labels: size/XS, area/helm

#17548 docs: Update 'Configure storage' docs to clarify SingleBinary mode support for object storage
  docs/sources/setup/install/helm/configure-storage/_index.md
Labels: size/XS

#16497 docs: Getting started rewrite
  docs/sources/get-started/quick-start/_index.md
  docs/sources/get-started/quick-start/quick-start.md
  docs/sources/get-started/quick-start/tutorial.md
Labels: size/XL, type/docs

#17560 chore(ci): Update release workflow for shell escaping
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#17543 chore(ci): Pull in latest main for .github directory in release 3.5
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/install_workflow_dependencies.sh
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/backport.yml
  .github/workflows/check.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/dependabot_reviewer.yml
  .github/workflows/deploy-pr-preview.yml
  .github/workflows/helm-ci.yml
  .github/workflows/helm-diff-ci.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/images.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-jsonnet.yml
  .github/workflows/logql-analyzer.yml
  .github/workflows/metrics-collector.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/nix-ci.yaml
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-images.yaml
  .github/workflows/operator-publish-operator-hub.yml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  .github/workflows/patch-release-pr.yml
  .github/workflows/promtail-windows-test.yml
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
  .github/workflows/release.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/snyk.yml
  .github/workflows/syft-sbom-ci.yml
  .github/workflows/verify-release-workflow.yaml
  .github/zizmor.yaml
Labels: size/XXL

#17557 chore(ci): Update .github directory in release 2.9
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/labeler.yml
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/append-release-notes.yml
  .github/workflows/backport.yml
  .github/workflows/check.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/dependabot_reviewer.yml
  .github/workflows/doc-validator.yml
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yaml
  .github/workflows/issue_commands.yml
  .github/workflows/labeler.yml
  .github/workflows/metrics-collector.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/nix-ci.yaml
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-images.yaml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  .github/workflows/patch-release-pr.yml
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release.yml
  .github/workflows/snyk.yml
  .github/workflows/syft-sbom-ci.yml
  .github/zizmor.yaml
Labels: size/XL

#17535 docs: fix typos (#17534)
  docs/sources/operations/meta-monitoring/_index.md
  docs/sources/operations/meta-monitoring/deploy.md
  docs/sources/operations/meta-monitoring/mixins.md
Labels: size/L, type/docs

#17563 chore(ci): Pull in loki release for correct var name
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#17568 chore(engine): provide basic implementation of DataObjScan
  pkg/dataobj/querier/iter.go
  pkg/dataobj/querier/iter_test.go
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/dataobjscan_predicate.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
  pkg/engine/executor/pipeline_utils_test.go
  pkg/util/topk/topk.go
  pkg/util/topk/topk_test.go
Labels: size/XXL

#17578 chore(engine): Fix regression introduced with merging PR #17456
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/dataobjscan_test.go
Labels: size/S

#17586 chore(ci): Pull in latest loki-release code for Loki 3.5
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#17582 chore(ci): bump release code 2 9
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/check.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#17573 ci: update release lib
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#17587 docs: manual backport 17548
  docs/sources/setup/install/helm/configure-storage/_index.md
Labels: size/XS, type/docs

#17585 chore: remove tenant from ExceedsLimitsResponse
  pkg/distributor/distributor_test.go
  pkg/distributor/ingest_limits_test.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/M

#17576 feat: Re-implement ExceedsLimits in ingest-limits-frontend
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/XL

#17589 chore: update a couple comments that were out of date
  pkg/limits/frontend/frontend.go
Labels: size/S

#17590 chore: restructure some of our limits metrics
  pkg/limits/ingest_limits.go
Labels: size/M

#17591 chore: remove deprecated GetStreamUsage RPC
  pkg/limits/ingest_limits.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/S

#17583 chore(engine): Use configured storage bucket in execution context
  pkg/engine/engine.go
  pkg/engine/executor/executor.go
  pkg/loki/modules.go
  pkg/querier/http.go
Labels: size/M

#17594 fix: lint error in main branch
  pkg/limits/ingest_limits.go
Labels: size/XS

#17263 refactor(stringlabels): Support stringlabels in chunkenc
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/symbols.go
  pkg/chunkenc/symbols_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/unordered_test.go
  pkg/chunkenc/variants.go
  pkg/compactor/retention/expiration_test.go
  pkg/compactor/retention/series_test.go
  pkg/compactor/retention/util_test.go
  pkg/logql/log/labels.go
Labels: size/L

#17592 chore: move protos related to limits to limits package
  pkg/distributor/distributor_test.go
  pkg/distributor/ingest_limits.go
  pkg/distributor/ingest_limits_test.go
  pkg/kafka/encoding.go
  pkg/kafka/encoding_test.go
  pkg/limits/client/client.go
  pkg/limits/frontend/client/client.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/gather.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/limits/proto/limits.pb.go
  pkg/limits/proto/limits.proto
  pkg/limits/stream_metadata_bench_test.go
  pkg/limits/stream_metadata_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
  pkg/loki/modules.go
  tools/stream-generator/generator/kafka.go
Labels: size/XL

#17598 chore: move MetadataTopic function to limits package
  pkg/kafka/encoding.go
  pkg/limits/ingest_limits.go
  tools/stream-generator/generator/kafka.go
Labels: size/S

#17600 chore: add helpers for acquiring stripe locks
  pkg/limits/stream_metadata.go
Labels: size/L

#13057 chore: add v4 chunk format to chunks-inspect tool
  cmd/chunks-inspect/loki.go
  cmd/chunks-inspect/main.go
Labels: size/L

#17604 chore(ci): Do not run triage workflow when PR comes from a fork
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
Labels: size/S

#17605 chore: update loki UI partition ring kafka metric names
  pkg/ui/frontend/src/hooks/use-partition-ring.ts
Labels: size/XS

#17606 chore(ingest-limits): Merge proto stream-metadata size fields
  pkg/distributor/distributor_test.go
  pkg/distributor/ingest_limits.go
  pkg/distributor/ingest_limits_test.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/limits/proto/limits.pb.go
  pkg/limits/proto/limits.proto
  pkg/limits/stream_metadata_bench_test.go
  pkg/limits/stream_metadata_test.go
  tools/stream-generator/generator/kafka.go
Labels: size/L

#17608 chore(engine): Unify name and type of builtin columns
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/expressions_test.go
  pkg/engine/internal/datatype/util.go
  pkg/engine/internal/types/column.go
  pkg/engine/planner/logical/planner.go
  pkg/engine/planner/logical/planner_test.go
Labels: size/M

#17602 feat(ingest-limits): Append stream metadata records to kafka-based WAL
  pkg/limits/frontend/frontend.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/limits/mock_test.go
  pkg/limits/proto/limits.pb.go
  pkg/limits/proto/limits.proto
  pkg/limits/stream_metadata.go
  pkg/limits/stream_metadata_test.go
  pkg/limits/wal.go
Labels: size/XL

#17064 refactor: extractors can return multiple samples
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/variants.go
  pkg/dataobj/querier/iter.go
  pkg/ingester/instance_test.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/test_utils.go
  pkg/storage/batch_test.go
  pkg/storage/store_test.go
  pkg/util/sample.go
Labels: size/XL

#17621 feat(engine): Implements predicate mapping for DataObjScan
  pkg/engine/executor/dataobjscan_predicate.go
  pkg/engine/executor/dataobjscan_predicate_test.go
  pkg/engine/internal/datatype/literal.go
Labels: size/XL

#17613 fix(ingest-limits): Fix wal appender constructor
  pkg/limits/ingest_limits.go
  tools/dev/kafka/loki-local-config.debug.yaml
Labels: size/S

#17625 fix(ingest-limits): Add missing Overrides module dependency
  pkg/loki/loki.go
Labels: size/XS

#17537 chore(dataobj): fixes a memory aliasing bug in dataobj reader
  pkg/dataobj/internal/dataset/reader_basic.go
Labels: size/S

#17474 feat: Compactor deletion manifest builder
  pkg/compactor/deletion/delete_request.go
  pkg/compactor/deletion/delete_request_batch.go
  pkg/compactor/deletion/delete_request_batch_test.go
  pkg/compactor/deletion/delete_request_test.go
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
  pkg/compactor/deletion/deletion_manifest_builder.go
  pkg/compactor/deletion/deletion_manifest_builder_test.go
  pkg/compactor/retention/retention.go
  pkg/compactor/retention/util_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/iterator.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/tool/audit/audit_test.go
Labels: size/XXL

#17627 feat(engine, dataobj): logql bench wiring for new engine [non-fork]
  pkg/engine/engine.go
  pkg/engine/executor/dataobjscan.go
  pkg/engine/executor/dataobjscan_test.go
  pkg/engine/executor/limit.go
  pkg/engine/executor/sortmerge.go
  pkg/engine/executor/sortmerge_test.go
  pkg/engine/executor/util_test.go
  pkg/logql/bench/bench_test.go
  pkg/logql/bench/store_dataobj_v2_engine.go
Labels: size/L

#17663 fix: move the check for duplicate series up the call stack to fix an issue when retention is enabled
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/retention/retention.go
Labels: size/XS

#17661 chore: move MockLimits into existing mock file
  pkg/limits/ingest_limits_test.go
  pkg/limits/internal/testutil/mocks.go
  pkg/limits/limit.go
  pkg/limits/mock_test.go
Labels: size/M

#17671 chore: delete unused code
  pkg/limits/ingest_limits.go
Labels: size/S

#17669 chore: the number of stripes should be independent of the number of partitions
  pkg/limits/store.go
Labels: size/XS

#17682 chore: improve duplicate series detection while iterating table for retention/deletion
  pkg/compactor/retention/retention.go
  pkg/compactor/retention/retention_test.go
  pkg/compactor/retention/series.go
Labels: size/M

#17681 chore: remove redundant method from UsageStore
  pkg/limits/ingest_limits.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/XXL

#17693 chore: rename ingest_limits.go to service.go
  pkg/limits/service.go
  pkg/limits/service_test.go
Labels: size/XS

#17704 chore(dataobj): migrate to section-relative offsets
  pkg/dataobj/explorer/inspect.go
  pkg/dataobj/internal/encoding/dataset_logs.go
  pkg/dataobj/internal/encoding/dataset_streams.go
  pkg/dataobj/internal/encoding/decoder.go
  pkg/dataobj/internal/encoding/decoder_metadata.go
  pkg/dataobj/internal/encoding/decoder_range.go
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/encoding/encoder_logs.go
  pkg/dataobj/internal/encoding/encoder_streams.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/encoding/metrics.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/logs_reader.go
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/streams_reader.go
  pkg/dataobj/tools/inspect.go
Labels: size/XL

#17705 chore: remove cutoff from evict
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17706 chore: remove cutoff etc from [UsageStore.Update]
  pkg/limits/service.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17707 chore(ci): renaming zizmor from "yaml" to "yml"
  .github/zizmor.yml
Labels: size/XS

#17484 feat(operator): Allow using resource requests as limits
  operator/api/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/internal/manifests/build.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/internal/sizes.go
Labels: size/L, sig/operator

#17363 feat(operator): allow users to configure virtual-host-style for S3 secrets
  operator/docs/lokistack/object_storage.md
  operator/internal/handlers/internal/storage/secrets.go
  operator/internal/handlers/internal/storage/secrets_test.go
  operator/internal/manifests/storage/var.go
Labels: size/L, sig/operator

#17708 chore(dataobj): Migrate to dynamic section types
  pkg/dataobj/dataobj.go
  pkg/dataobj/explorer/inspect.go
  pkg/dataobj/internal/encoding/decoder.go
  pkg/dataobj/internal/encoding/decoder_range.go
  pkg/dataobj/internal/encoding/encoder.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/encoding/metrics.go
  pkg/dataobj/internal/encoding/section_type.go
  pkg/dataobj/internal/metadata/filemd/filemd.pb.go
  pkg/dataobj/internal/metadata/filemd/filemd.proto
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/logs_reader.go
  pkg/dataobj/streams_reader.go
  pkg/dataobj/tools/inspect.go
Labels: size/XL

#17714 chore(operator): Bump loki dep to v3
  operator/go.mod
  operator/go.sum
  operator/internal/validation/alertingrule.go
  operator/internal/validation/openshift/common.go
  operator/internal/validation/recordingrule.go
Labels: size/L

#17662 fix(querier): fixes panic when filtering agg metrics from nil resp
  pkg/querier/http.go
Labels: size/S, type/bug, backport k253

#17709 chore: add PartitionLifecycler to manage assignment and revocation
  pkg/limits/partition_lifecycler.go
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
Labels: size/L

#17739 chore(build): Bump loki-build-image for docker-driver
  clients/cmd/docker-driver/Dockerfile
Labels: size/XS, type/bug, backport release-3.5.x

#17234 fix(deps): Remove workspace files from ignore and regenerate vendor
  .gitignore
  vendor/cloud.google.com/go/go.work
  vendor/cloud.google.com/go/go.work.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/go.work
  vendor/zombiezen.com/go/sqlite/go.work
  vendor/zombiezen.com/go/sqlite/go.work.sum
Labels: size/XS

#17745 chore(deps): Remove unused consul dependency
  go.mod
  vendor/modules.txt
Labels: size/XS

#17758 chore: rename WindowSize to ActiveWindow
  docs/sources/shared/configuration.md
  pkg/limits/config.go
  pkg/limits/http.go
  pkg/limits/http_test.go
  pkg/limits/partition_lifecycler.go
  pkg/limits/playback_manager_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17760 chore: move Config struct out of UsageStore
  pkg/limits/playback_manager_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17761 chore: move Config struct out of PlaybackManager
  pkg/limits/partition_lifecycler.go
  pkg/limits/service.go
Labels: size/S

#17764 feat: adds User-Agent to distributor push logging
  pkg/loghttp/push/push.go
Labels: size/XS

#17765 chore: Rename Sender and PlaybackManager to Producer and Consumer
  pkg/limits/consumer.go
  pkg/limits/consumer_test.go
  pkg/limits/producer.go
  pkg/limits/producer_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
Labels: size/L

#17558 feat: update loki canary to support batched log push
  cmd/loki-canary/main.go
  pkg/canary/writer/batched_push.go
  pkg/canary/writer/push.go
  pkg/canary/writer/push_test.go
  pkg/canary/writer/writer.go
Labels: size/XL, component/loki-canary

#17768 chore: ServeHTTP should use ForTenant instead of All
  pkg/limits/http.go
Labels: size/XS

#17767 chore: remove unused rate limit adapter
  pkg/limits/limit.go
Labels: size/S

#17766 chore: rename struct back to Service
  pkg/limits/http.go
  pkg/limits/http_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/loki/loki.go
  pkg/loki/modules.go
Labels: size/M

#17772 chore: cleanup exported types in `pkg/limits`
  pkg/limits/consumer.go
  pkg/limits/consumer_test.go
  pkg/limits/evict.go
  pkg/limits/evict_test.go
  pkg/limits/frontend/cache.go
  pkg/limits/frontend/cache_test.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/gather.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/http.go
  pkg/limits/http_test.go
  pkg/limits/partition_lifecycler.go
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  pkg/limits/producer.go
  pkg/limits/producer_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/XL

#17774 chore: parallel kafka processing (#17262)
  docs/sources/shared/configuration.md
  pkg/ingester/ingester.go
  pkg/ingester/kafka_consumer.go
  pkg/ingester/kafka_consumer_test.go
  pkg/kafka/config.go
  pkg/kafka/encoding.go
Labels: size/L

#17777 chore(ci): Add relyance scanner
  .github/workflows/relyance.yml
  relyance.yaml
Labels: size/M

#17769 ci: edited the broken build badge to check
  README.md
Labels: size/XS

#17778 chore: add back deprecated config to avoid possible rollout issue
  pkg/limits/config.go
Labels: size/XS

#17787 chore(ci): Extract credentials from vault and generate tokens for Helm workflows
  .github/workflows/dependabot_reviewer.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/logql-analyzer.yml
Labels: size/L

#17786 chore: update tools configurations to change window_size to active_window
  tools/dev/kafka/loki-local-config.debug.yaml
  tools/stream-generator/loki-local-config.debug.yaml
Labels: size/XS

#17779 fix(limits): Fix ingest-limits eviction metric
  pkg/limits/service.go
Labels: size/XS

#17785 chore: fix metric counting active streams and total streams
  pkg/limits/service.go
Labels: size/M

#17784 chore(dataobj): fix regression in allocations of row readers
  pkg/dataobj/consumer/logsobj/builder.go
  pkg/dataobj/querier/iter.go
  pkg/dataobj/sections/logs/builder.go
  pkg/dataobj/sections/logs/builder_test.go
  pkg/dataobj/sections/logs/iter.go
  pkg/dataobj/sections/logs/iter_test.go
  pkg/dataobj/sections/logs/row_reader.go
  pkg/dataobj/sections/logs/table_build.go
  pkg/dataobj/sections/streams/builder.go
  pkg/dataobj/sections/streams/builder_test.go
  pkg/dataobj/sections/streams/iter.go
  pkg/dataobj/sections/streams/row_reader.go
  pkg/dataobj/sections/streams/row_reader_test.go
  pkg/engine/executor/dataobjscan.go
Labels: size/L

#17799 chore(operator): update CI to use credentials from vault
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-publish-operator-hub.yml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
Labels: size/L

#17800 chore(ui): update ckit dependency
  go.mod
  go.sum
  pkg/ui/service.go
  vendor/github.com/grafana/ckit/internal/gossiphttp/transport.go
  vendor/github.com/grafana/ckit/internal/messages/broadcast.go
  vendor/github.com/grafana/ckit/internal/messages/messages.go
  vendor/github.com/grafana/ckit/internal/messages/state.go
  vendor/github.com/grafana/ckit/node.go
  vendor/modules.txt
Labels: size/S

#17802 ci: bump release pipeline to fix permissions
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/release.yml
Labels: size/XS, type/bug, type/ci, backport release-3.5.x

#17804 fix(deps): Move to Go 1.24.2
  .github/workflows/images.yml
  Makefile
  clients/cmd/promtail/Dockerfile
  clients/cmd/promtail/Dockerfile.arm32
  clients/cmd/promtail/Dockerfile.cross
  clients/cmd/promtail/Dockerfile.debug
Labels: size/S

#17806 fix(deps): Move to Go 1.23.8
  .github/workflows/images.yml
  Makefile
Labels: size/S

#17809 chore(stream-generator): Support batch interval config
  tools/stream-generator/generator/config.go
  tools/stream-generator/generator/service.go
Labels: size/S

#17810 fix: set delete request batch to empty when we load to fail requests
  pkg/compactor/deletion/delete_requests_manager.go
Labels: size/XS

#17807 feat: purgo package update
  go.mod
  go.sum
  vendor/github.com/ebitengine/purego/dlfcn.go
  vendor/github.com/ebitengine/purego/dlfcn_darwin.go
  vendor/github.com/ebitengine/purego/internal/fakecgo/go_libinit.go
  vendor/github.com/ebitengine/purego/internal/fakecgo/symbols.go
  vendor/modules.txt
Labels: size/XS

#17808 fix(limits): Adapt defaults and expose evict interval
  docs/sources/shared/configuration.md
  pkg/limits/config.go
  pkg/limits/service.go
  pkg/limits/store_test.go
Labels: size/S

#17790 chore: should use quartz in partition lifecycler
  pkg/limits/partition_lifecycler.go
Labels: size/XS

#17773 chore(operator): improve documentation of disableRecommendedAttributes
  operator/api/loki/v1/lokistack_types.go
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community-openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki.grafana.com_lokistacks.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki.grafana.com_lokistacks.yaml
  operator/config/crd/bases/loki.grafana.com_lokistacks.yaml
  operator/config/manifests/community-openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/community/bases/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
  operator/docs/operator/api.md
  operator/docs/user-guides/open-telemetry.md
Labels: size/L

#17830 chore: rename dataobj consumer metrics
  pkg/dataobj/consumer/metrics.go
Labels: size/XS

#17816 fix: Implement approx-topk function on querier
  pkg/logql/count_min_sketch.go
  pkg/logql/downstream.go
  pkg/logql/evaluator.go
  pkg/logql/optimize.go
  pkg/logql/optimize_test.go
Labels: size/M

#17720 feat: [helm] Added affinity property to the loki-canary deamonset
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/loki-canary/daemonset.yaml
  production/helm/loki/values.yaml
Labels: size/S

#17063 fix(helm): add livenessProbe to read pods in Simple Scalable mode
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
  production/helm/loki/templates/read/deployment-read.yaml
  production/helm/loki/templates/read/statefulset-read.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#17848 chore: update go & delve in dev.dockerfile to 1.24
  tools/dev/loki-tsdb-storage-s3/dev.dockerfile
Labels: size/XS

#17849 chore: fix dev env tracing by pinning jaeger
  tools/dev/loki-tsdb-storage-s3/docker-compose.yml
Labels: size/XS

#17842 chore: Emit metastore event to kafka after object build
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/partition_processor_test.go
  pkg/dataobj/consumer/service.go
  pkg/dataobj/metastore/metastore.pb.go
  pkg/dataobj/metastore/metastore.proto
Labels: size/L

#17854 chore: use exported methods to differentiate internal methods
  pkg/limits/consumer.go
  pkg/limits/consumer_test.go
  pkg/limits/frontend/cache.go
  pkg/limits/frontend/cache_test.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/gather.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/http.go
  pkg/limits/partition_lifecycler.go
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  pkg/limits/producer.go
  pkg/limits/producer_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17616 feat(helm): Integrate the enterprise-provisioner into Loki helm chart
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/templates/_helpers.tpl
  production/helm/loki/templates/provisioner/job-provisioner.yaml
  production/helm/loki/templates/provisioner/role-provisioner.yaml
  production/helm/loki/templates/provisioner/rolebinding-provisioner.yaml
  production/helm/loki/templates/provisioner/serviceaccount-provisioner.yaml
  production/helm/loki/values.yaml
Labels: size/L

#17855 chore: move metrics into partition_manager.go and store.go
  pkg/limits/consumer_test.go
  pkg/limits/partition_manager.go
  pkg/limits/partition_manager_test.go
  pkg/limits/service.go
  pkg/limits/service_test.go
  pkg/limits/store.go
  pkg/limits/store_bench_test.go
  pkg/limits/store_test.go
Labels: size/L

#17894 fix: fix lint failure in retention.go
  pkg/compactor/retention/retention.go
Labels: size/XS
