Repository grafana/loki, pull requests merged in 2025-04, with the labels that each got.

#16915 feat(distributor): Add MaxRecvMsgSize config for uncompressed message size limits
  clients/pkg/promtail/scrapeconfig/scrapeconfig.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  docs/sources/setup/upgrade/_index.md
  docs/sources/shared/configuration.md
  pkg/distributor/distributor.go
  pkg/distributor/http.go
  pkg/distributor/http_test.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/util/http.go
  pkg/validation/validate.go
Labels: size/L, type/docs

#16989 chore(ast): Update WalkFn signature to return bool
  pkg/dataobj/querier/store.go
  pkg/engine/engine.go
  pkg/logql/downstream.go
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/optimize.go
  pkg/logql/rangemapper.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/test_utils.go
  pkg/logql/syntax/walk.go
  pkg/logql/syntax/walk_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/split_by_interval.go
Labels: size/L

#16992 docs: Clarify approx_topk is an experimental feature
  docs/sources/query/metric_queries.md
Labels: size/XS, type/docs, backport release-3.3.x, backport release-3.4.x

#16916 chore(planner): Convert AST into logical plan
  pkg/engine/internal/types/column.go
  pkg/engine/internal/types/operators.go
  pkg/engine/planner/logical/builder.go
  pkg/engine/planner/logical/logical.go
  pkg/engine/planner/logical/node_limit.go
  pkg/engine/planner/logical/planner.go
  pkg/engine/planner/logical/planner_test.go
  pkg/engine/planner/physical/limit.go
Labels: size/L

#16927 chore(engine): Unify `Literal` and `ColumnRef` across logical and physical plan
  pkg/engine/internal/types/column.go
  pkg/engine/internal/types/literal.go
  pkg/engine/internal/types/literal_test.go
  pkg/engine/internal/types/value.go
  pkg/engine/planner/logical/column_ref.go
  pkg/engine/planner/logical/format_tree_test.go
  pkg/engine/planner/logical/logical_test.go
  pkg/engine/planner/logical/node_literal.go
  pkg/engine/planner/logical/planner.go
  pkg/engine/planner/physical/expressions.go
  pkg/engine/planner/physical/expressions_test.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/planner_test.go
Labels: size/XL

#16965 chore(engine): Add simple plan optimizer
  pkg/engine/planner/physical/expressions.go
  pkg/engine/planner/physical/limit.go
  pkg/engine/planner/physical/optimizer.go
  pkg/engine/planner/physical/optimizer_test.go
  pkg/engine/planner/physical/plan.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/planner_test.go
  pkg/engine/planner/physical/printer.go
Labels: size/L

#16999 fix: revert remove colons from level detection
  pkg/distributor/field_detection.go
  pkg/distributor/field_detection_test.go
Labels: size/M, type/bug, backport k248, backport k247

#17006 chore(logql/bench): use benchstat naming conventions for benchmarks
  pkg/logql/bench/bench_test.go
Labels: size/XS

#17000 chore(engine): Add printer for Mermaid diagram format
  pkg/engine/planner/internal/tree/mermaid.go
  pkg/engine/planner/internal/tree/mermaid_test.go
  pkg/engine/planner/internal/tree/printer.go
  pkg/engine/planner/internal/tree/printer_test.go
  pkg/engine/planner/internal/tree/tree.go
  pkg/engine/planner/logical/format_tree.go
  pkg/engine/planner/logical/format_tree_test.go
  pkg/engine/planner/logical/logical_test.go
  pkg/engine/planner/logical/node_binop.go
  pkg/engine/planner/logical/node_limit.go
  pkg/engine/planner/logical/node_maketable.go
  pkg/engine/planner/logical/node_return.go
  pkg/engine/planner/logical/node_select.go
  pkg/engine/planner/logical/node_sort.go
  pkg/engine/planner/logical/node_unaryop.go
  pkg/engine/planner/logical/planner_test.go
  pkg/engine/planner/logical/printer.go
  pkg/engine/planner/physical/printer.go
Labels: size/L

#16665 feat: Meta Monitoring Loki v2 (Part 1) - Telemetry Collection
  production/helm/meta-monitoring/README.md
  production/helm/meta-monitoring/values.yaml
Labels: size/L, area/helm

#17011 feat: Add agent IPs to distributor log
  pkg/loghttp/push/push.go
Labels: size/XS

#16930 ci(helm-diff): fix name for distributed scenario
  .github/workflows/helm-diff-ci.yml
  production/helm/loki/scenarios/default-distributed-values.yaml
Labels: size/XS, area/helm

#17014 chore: update dependencies on 3.3.x
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/modules.txt
Labels: size/S

#17004 chore: some metrics changes to ingest-limits-frontend
  pkg/limits/frontend/frontend.go
Labels: size/S

#17021 fix(deps): update jwt and oauth2 dependencies for 3.3.x
  go.mod
  go.sum
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/ctxhttp/ctxhttp.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/publicsuffix/list.go
  vendor/modules.txt
Labels: size/XS

#17023 fix(deps): update jwt, oauth and go-redis dependencies
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/github.com/redis/go-redis/v9/.golangci.yml
  vendor/github.com/redis/go-redis/v9/README.md
  vendor/github.com/redis/go-redis/v9/command.go
  vendor/github.com/redis/go-redis/v9/hash_commands.go
  vendor/github.com/redis/go-redis/v9/options.go
  vendor/github.com/redis/go-redis/v9/osscluster.go
  vendor/github.com/redis/go-redis/v9/redis.go
  vendor/github.com/redis/go-redis/v9/ring.go
  vendor/github.com/redis/go-redis/v9/search_commands.go
  vendor/github.com/redis/go-redis/v9/sentinel.go
  vendor/github.com/redis/go-redis/v9/universal.go
  vendor/github.com/redis/go-redis/v9/version.go
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/ctxhttp/ctxhttp.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/publicsuffix/list.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/modules.txt
Labels: size/S

#16962 feat: Meta Monitoring Loki v2 (Part 2) - Loki Mixin's
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin-compiled/dashboards/loki-writes-resources.json
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-deletion.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-retention.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
Labels: size/XXL

#17009 ci: skip flaky analytics test
  pkg/analytics/seed_test.go
Labels: size/XS

#17028 fix: short circuit level detection when already detected
  pkg/distributor/field_detection.go
  pkg/distributor/field_detection_test.go
Labels: size/M, type/bug, backport k248

#17016 chore(engine): Integrate metastore into physical query planning
  pkg/dataobj/metastore/metastore.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/object_test.go
  pkg/engine/internal/types/literal.go
  pkg/engine/planner/logical/column_ref.go
  pkg/engine/planner/logical/format_tree.go
  pkg/engine/planner/logical/node_literal.go
  pkg/engine/planner/physical/context.go
  pkg/engine/planner/physical/context_test.go
  pkg/engine/planner/physical/expressions.go
  pkg/engine/planner/physical/expressions_test.go
  pkg/engine/planner/physical/optimizer.go
  pkg/engine/planner/physical/planner.go
  pkg/engine/planner/physical/planner_test.go
Labels: size/XL

#17026 fix(operator): Update memberlist when ingester becomes unhealthy
  operator/internal/manifests/internal/config/build_test.go
  operator/internal/manifests/internal/config/loki-config.yaml
Labels: size/M, sig/operator

#16937 fix(ingest-limits): Get usage from owing instances only
  docs/sources/shared/configuration.md
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/L, type/docs

#16933 chore: remove loki annotations from gateway nginx deployment
  production/helm/loki/scenarios/ingress-values.yaml
  production/helm/loki/scenarios/legacy-monitoring-values.yaml
  production/helm/loki/templates/gateway/deployment-gateway-nginx.yaml
Labels: size/XS, area/helm

#17017 chore(operator): move to golangci-lint v2
  .github/workflows/operator.yaml
  operator/.bingo/Variables.mk
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/variables.env
  operator/.golangci.yaml
  operator/cmd/size-calculator/main.go
  operator/internal/certrotation/rotation_test.go
  operator/internal/controller/loki/lokistack_controller.go
  operator/internal/controller/loki/lokistack_zone_labeling_controller.go
  operator/internal/handlers/internal/rules/rules.go
  operator/internal/manifests/build_test.go
  operator/internal/manifests/gateway.go
  operator/internal/manifests/service_monitor_test.go
  operator/internal/status/lokistack_test.go
Labels: size/XXL, sig/operator

#16997 fix: allow boolean numeric values in detected labels
  pkg/querier/querier.go
  pkg/querier/querier_test.go
Labels: size/M

#17040 chore: rate should be a uint64 as it cannot be negative
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/S

#17041 chore: rename RejectedStreams to ExceedsLimitsResult
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/logproto/logproto.pb.go
  pkg/logproto/logproto.proto
Labels: size/M

#17032 chore(engine): Wire up new execution engine
  docs/sources/shared/configuration.md
  integration/cluster/cluster.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/engine/internal/types/operators.go
  pkg/engine/planner/logical/planner.go
  pkg/engine/planner/logical/planner_test.go
  pkg/engine/planner/physical/context.go
  pkg/engine/planner/physical/context_test.go
  pkg/engine/planner/physical/planner.go
  pkg/logcli/client/file.go
  pkg/logcli/query/query_test.go
  pkg/logql/bench/bench_test.go
  pkg/logql/engine.go
  pkg/logql/test_utils.go
  pkg/loki/modules.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/querier.go
  pkg/ruler/evaluator_local.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/iterator.go
Labels: size/XL, type/docs

#17051 chore(logql/bench): Fix bug in bench data generation and update naming conventions
  pkg/logql/bench/bench_test.go
  pkg/logql/bench/cmd/bench/views/run.go
  pkg/logql/bench/generator_query.go
  pkg/logql/bench/store_chunk.go
Labels: size/S

#17054 fix: prevent panic when ContentLength is negative in Distributor RequestBodyTooLarge metrics
  pkg/distributor/http.go
  pkg/distributor/http_test.go
Labels: size/M, component/distributor

#17048 chore(metastore): Use constants for label names
  pkg/dataobj/metastore/metastore_test.go
  pkg/dataobj/metastore/object.go
  pkg/dataobj/metastore/updater.go
Labels: size/S

#17056 fix(push): Add guard clauses to prevent negative counter values
  pkg/distributor/http.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/L, component/distributor, type/bug, backport k248, backport k249

#17068 fix(json, structured metadata): correctly handle escaping in json parsing API
  pkg/loghttp/entry.go
  pkg/loghttp/entry_test.go
  pkg/loghttp/query.go
Labels: size/L

#13919 fix: Unescape JSON strucutred metadata string values
  pkg/loghttp/push/push_test.go
  pkg/loghttp/query.go
Labels: size/S

#17072 fix(json, structured metadata): json-parsing cleanup
  pkg/loghttp/entry.go
  pkg/loghttp/entry_test.go
  pkg/loghttp/push/push_test.go
  pkg/loghttp/query.go
Labels: size/L

#17070 fix(push): Add guard clauses to prevent negative counter values (backport k249)
  pkg/distributor/http.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
Labels: size/L, component/distributor, backport, type/bug

#16887 chore: apply series limit per variant for multi-variant queries
  pkg/chunkenc/memchunk_test.go
  pkg/logql/engine.go
  pkg/logql/engine_test.go
  pkg/logql/evaluator.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
  pkg/util/constants/variants.go
Labels: size/XL

#17067 fix: add a process to ingester's series function to get series from storage
  pkg/ingester/flush_test.go
  pkg/ingester/ingester.go
  pkg/ingester/ingester_test.go
Labels: size/L

#17077 fix: avoid copying label values from tsdb unless required
  pkg/storage/stores/shipper/indexshipper/tsdb/head_read.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/querier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
Labels: size/M

#17086 revert: avoid copying label values from tsdb unless required (backport k249)
  pkg/storage/stores/shipper/indexshipper/tsdb/head_read.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index/index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/querier.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
Labels: size/M

#17085 chore(ingest-limits): Rollout using both balancers
  pkg/limits/ingest_limits.go
Labels: size/S

#17088 refactor(stringlabels): Support stringlabels in querier tests
  pkg/querier/multi_tenant_querier_test.go
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/limits_test.go
  pkg/querier/queryrange/queryrangebase/promql_test.go
  pkg/querier/queryrange/queryrangebase/test_utils.go
  pkg/querier/queryrange/queryrangebase/test_utils_test.go
  pkg/querier/queryrange/queryrangebase/value_test.go
  pkg/querier/queryrange/roundtrip_test.go
  pkg/querier/queryrange/views_test.go
Labels: size/L

#17099 fix: wire up deletion series progress tracking
  pkg/compactor/compactor.go
  pkg/compactor/retention/expiration.go
  pkg/compactor/retention/retention.go
  pkg/compactor/retention/retention_test.go
Labels: size/S

#16964 feat(ingest-limits): Add partition id caching
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/limits/frontend/cache.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/loki/modules.go
  vendor/github.com/jellydator/ttlcache/v3/LICENSE
  vendor/github.com/jellydator/ttlcache/v3/README.md
  vendor/github.com/jellydator/ttlcache/v3/cache.go
  vendor/github.com/jellydator/ttlcache/v3/expiration_queue.go
  vendor/github.com/jellydator/ttlcache/v3/item.go
  vendor/github.com/jellydator/ttlcache/v3/metrics.go
  vendor/github.com/jellydator/ttlcache/v3/options.go
  vendor/modules.txt
Labels: size/XL, type/docs

#17089 feat: Optionally enable kafka histograms for read/write latency
  docs/sources/shared/configuration.md
  pkg/blockbuilder/builder/builder.go
  pkg/dataobj/consumer/service.go
  pkg/kafka/client/reader_client.go
  pkg/kafka/client/writer_client.go
  pkg/kafka/config.go
  pkg/kafka/partition/offset_manager.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_service.go
  pkg/limits/ingest_limits.go
Labels: size/M, type/docs

#17043 docs: update template_functions.md to change argument order for contains
  docs/sources/query/template_functions.md
Labels: size/XS, type/docs

#17102 refactor(stringlabels): Support stringlabels in loghttp, pattern and ruler tests.
  pkg/loghttp/entry_test.go
  pkg/loghttp/query_test.go
  pkg/pattern/aggregation/push_test.go
  pkg/ruler/base/notifier_test.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/memstore_test.go
  pkg/ruler/storage/instance/instance_test.go
  pkg/ruler/storage/wal/wal_test.go
  pkg/util/conv.go
  pkg/util/metrics_helper.go
Labels: size/L

#17115 chore: fix private interface had exported methods
  pkg/distributor/distributor.go
  pkg/distributor/ingest_limits.go
  pkg/distributor/ingest_limits_test.go
Labels: size/S

#17117 feat: add enforceLimits to ingest_limits.go
  pkg/distributor/ingest_limits.go
  pkg/distributor/ingest_limits_test.go
Labels: size/L

#17111 chore: Collect basic stats from dataobj queries
  pkg/dataobj/querier/iter.go
  pkg/logql/bench/bench_test.go
Labels: size/S

#17121 refactor(stringlabels): Support stringlabels ingester tests
  pkg/ingester/checkpoint_test.go
  pkg/ingester/flush_test.go
  pkg/ingester/instance_test.go
  pkg/ingester/kafka_consumer_test.go
  pkg/ingester/mapper_test.go
  pkg/ingester/recalculate_owned_streams_test.go
  pkg/ingester/recovery_test.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/ingester/tailer_test.go
Labels: size/L

#17104 fix(logql): Fix inconsistency with parsed field short circuiting
  pkg/logql/log/labels.go
  pkg/logql/log/parser.go
  pkg/logql/log/parser_hints.go
  pkg/logql/log/parser_test.go
Labels: size/L

#17127 chore: align benchmark results between chunks and dataobjs
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/logs/iter_test.go
  pkg/dataobj/internal/sections/logs/logs_test.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/internal/sections/streams/streams_test.go
  pkg/dataobj/querier/iter.go
  pkg/dataobj/streams_reader_test.go
  pkg/logql/bench/bench_test.go
Labels: size/L

#17132 chore(logql/bench): store proper timestamps in generated chunks
  pkg/logql/bench/store_chunk.go
Labels: size/XS

#17125 fix: fix timeout and series progress marker for same requests with different shards
  pkg/compactor/deletion/delete_requests_manager.go
  pkg/compactor/deletion/delete_requests_manager_test.go
Labels: size/M

#17209 fix(lint): fix k250 linter issues
  pkg/logql/bench/cmd/bench/views/run.go
Labels: size/S

#16988 perf: Reuse Values in dataobj.Reader to reduce allocs
  pkg/dataobj/internal/dataset/column_reader_test.go
  pkg/dataobj/internal/dataset/column_test.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/page_reader.go
  pkg/dataobj/internal/dataset/page_reader_test.go
  pkg/dataobj/internal/dataset/page_test.go
  pkg/dataobj/internal/dataset/reader_basic.go
  pkg/dataobj/internal/dataset/reader_basic_test.go
  pkg/dataobj/internal/dataset/reader_test.go
  pkg/dataobj/internal/dataset/row_ranges.go
  pkg/dataobj/internal/dataset/value.go
  pkg/dataobj/internal/dataset/value_encoding_plain.go
  pkg/dataobj/internal/dataset/value_encoding_plain_test.go
  pkg/dataobj/internal/dataset/value_test.go
  pkg/dataobj/internal/encoding/encoding_test.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.pb.go
  pkg/dataobj/internal/metadata/datasetmd/datasetmd.proto
  pkg/dataobj/internal/sections/logs/iter.go
  pkg/dataobj/internal/sections/logs/iter_test.go
  pkg/dataobj/internal/sections/logs/logs.go
  pkg/dataobj/internal/sections/logs/logs_test.go
  pkg/dataobj/internal/sections/logs/table.go
  pkg/dataobj/internal/sections/logs/table_build.go
  pkg/dataobj/internal/sections/streams/iter.go
  pkg/dataobj/internal/sections/streams/streams.go
  pkg/dataobj/internal/sections/streams/streams_test.go
  pkg/dataobj/internal/util/slicegrow/slicegrow.go
  pkg/dataobj/internal/util/symbolizer/symbolizer.go
  pkg/dataobj/logs_reader.go
  pkg/dataobj/logs_reader_test.go
  pkg/dataobj/querier/metadata.go
  pkg/dataobj/querier/store_test.go
  pkg/dataobj/streams_reader.go
Labels: size/XXL

#17124 feat: add tests for enforcing limits in distributors
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ingest_limits.go
  pkg/distributor/ingest_limits_test.go
Labels: size/L

#17128 feat(dataobj): Add query stats collection to the dataobj readers
  pkg/dataobj/internal/dataset/column_reader.go
  pkg/dataobj/internal/dataset/dataset.go
  pkg/dataobj/internal/dataset/reader.go
  pkg/dataobj/internal/dataset/reader_downloader.go
  pkg/dataobj/internal/dataset/value.go
  pkg/dataobj/querier/iter.go
  pkg/logql/bench/bench_test.go
  pkg/logqlmodel/stats/context.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/logqlmodel/stats/stats.proto
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus_test.go
  pkg/util/marshal/legacy/marshal_test.go
  pkg/util/marshal/marshal_test.go
Labels: size/L

#16835 docs: Meta Monitoring Loki v2 (Part 3) - documentation
  docs/sources/operations/meta-monitoring/_index.md
  docs/sources/operations/meta-monitoring/deploy.md
  docs/sources/operations/meta-monitoring/mixins.md
  docs/sources/setup/install/helm/monitor-and-alert/_index.md
  docs/sources/setup/install/helm/monitor-and-alert/with-grafana-cloud.md
  docs/sources/setup/install/helm/monitor-and-alert/with-local-monitoring.md
Labels: size/L, type/docs

#17228 fix(engine): Fix querier intitalisation
  pkg/loki/modules.go
Labels: size/S, type/bug, backport k250

#17227 chore(deps): Use updated prometheus/otlptranslate
  go.mod
  go.sum
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/loghttp/push/otlp.go
  pkg/logql/log/pipeline.go
  vendor/github.com/prometheus/otlptranslator/.gitignore
  vendor/github.com/prometheus/otlptranslator/.golangci.yml
  vendor/github.com/prometheus/otlptranslator/CODE_OF_CONDUCT.md
  vendor/github.com/prometheus/otlptranslator/LICENSE
  vendor/github.com/prometheus/otlptranslator/MAINTAINERS.md
  vendor/github.com/prometheus/otlptranslator/README.md
  vendor/github.com/prometheus/otlptranslator/SECURITY.md
  vendor/github.com/prometheus/otlptranslator/metric_name_builder.go
  vendor/github.com/prometheus/otlptranslator/normalize_label.go
  vendor/github.com/prometheus/otlptranslator/strconv.go
  vendor/modules.txt
Labels: size/S

#17216 refactor(stringlabels): Support stringlabels in log.StreamPipeline
  pkg/chunkenc/memchunk.go
  pkg/chunkenc/memchunk_test.go
  pkg/chunkenc/unordered.go
  pkg/chunkenc/variants.go
  pkg/compactor/deletion/delete_request.go
  pkg/dataobj/querier/iter.go
  pkg/ingester/instance_test.go
  pkg/ingester/tailer.go
  pkg/logcli/client/file.go
  pkg/logql/log/labels.go
  pkg/logql/log/labels_test.go
  pkg/logql/log/metrics_extraction.go
  pkg/logql/log/metrics_extraction_test.go
  pkg/logql/log/parser_hints_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
  pkg/logql/syntax/ast_test.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/test_utils.go
  pkg/logqlanalyzer/analyzer.go
  pkg/querier/queryrange/detected_fields_test.go
  pkg/storage/store_test.go
Labels: size/L

#17223 fix: fix bug where expectedStreamUsageRequest was not used
  pkg/limits/frontend/frontend_test.go
Labels: size/M

#17224 fix: fix a bug where limits were incorrect after grafana/loki#16937
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
Labels: size/M

#17214 feat(tools): Add stream generator
  tools/stream-generator/Dockerfile
  tools/stream-generator/README.md
  tools/stream-generator/distributor/client/client.go
  tools/stream-generator/docker-compose.yaml
  tools/stream-generator/entrypoint.sh
  tools/stream-generator/generator/config.go
  tools/stream-generator/generator/distributor.go
  tools/stream-generator/generator/kafka.go
  tools/stream-generator/generator/metrics.go
  tools/stream-generator/generator/service.go
  tools/stream-generator/loki-local-config.debug.yaml
  tools/stream-generator/main.go
Labels: size/XXL

#17103 chore(ingest-limits): Remove sticky-balancer
  pkg/limits/ingest_limits.go
Labels: size/S

#17235 chore(deps): Update grafana/dskit to latest commit
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/querier/queryrange/stats.go
  pkg/ruler/evaluator_remote.go
  pkg/storage/chunk/client/aws/dynamodb_storage_client.go
  pkg/storage/chunk/fetcher/fetcher.go
  vendor/github.com/grafana/dskit/clusterutil/cluster_validation_config.go
  vendor/github.com/grafana/dskit/clusterutil/clusterutil.go
  vendor/github.com/grafana/dskit/httpgrpc/server/server.go
  vendor/github.com/grafana/dskit/internal/slices/slices.go
  vendor/github.com/grafana/dskit/kv/consul/client.go
  vendor/github.com/grafana/dskit/kv/memberlist/kv_init_service.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_client.go
  vendor/github.com/grafana/dskit/kv/memberlist/memberlist_logger.go
  vendor/github.com/grafana/dskit/kv/memberlist/mergeable.go
  vendor/github.com/grafana/dskit/kv/memberlist/metrics.go
  vendor/github.com/grafana/dskit/middleware/grpc_cluster.go
  vendor/github.com/grafana/dskit/middleware/http_cluster.go
  vendor/github.com/grafana/dskit/middleware/logging.go
  vendor/github.com/grafana/dskit/middleware/middleware.go
  vendor/github.com/grafana/dskit/ring/client/pool.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/replication_set.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/server/server.go
  vendor/github.com/grafana/dskit/spanlogger/spanlogger.go
  vendor/github.com/grafana/dskit/test/poll.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/github.com/sercand/kuberesolver/v5/models.go
  vendor/github.com/sercand/kuberesolver/v6/.gitignore
  vendor/github.com/sercand/kuberesolver/v6/LICENSE
  vendor/github.com/sercand/kuberesolver/v6/README.md
  vendor/github.com/sercand/kuberesolver/v6/builder.go
  vendor/github.com/sercand/kuberesolver/v6/kubernetes.go
  vendor/github.com/sercand/kuberesolver/v6/models.go
  vendor/github.com/sercand/kuberesolver/v6/stream.go
  vendor/github.com/sercand/kuberesolver/v6/util.go
  vendor/modules.txt
Labels: size/M, type/docs, type/bug, backport k250

#17237 chore: backport ingest-limits fixes to k250
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/distributor/ingest_limits.go
  pkg/distributor/ingest_limits_test.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
Labels: size/XL

#17238 refactor(stringlabels): Support stringlabels in querier
  pkg/querier/querier.go
  pkg/querier/queryrange/detected_fields.go
  pkg/querier/queryrange/downstreamer.go
  pkg/querier/queryrange/parquet.go
  pkg/querier/queryrange/queryrangebase/value.go
  pkg/querier/queryrange/volume.go
Labels: size/M

#17242 docs: Update Release Notes for 2.9.14 release
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs, backport release-2.9.x, backport release-3.0.x, backport release-3.1.x, backport release-3.2.x, backport release-3.3.x, backport release-3.4.x

#17241 docs: Update RN for 3.3.4 release
  docs/sources/release-notes/v3-3.md
Labels: size/XS, type/docs, backport release-3.3.x, backport release-3.4.x

#17239 docs: Update RN for 3.4.3 release
  docs/sources/release-notes/v3-4.md
Labels: size/XS, type/docs, backport release-3.4.x

#17253 docs: Update Release Notes for 2.9.14 release (#17242)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#17252 docs: Update Release Notes for 2.9.14 release (#17242)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#17251 docs: Update Release Notes for 2.9.14 release (#17242)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#17250 docs: Update Release Notes for 2.9.14 release (#17242)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#17249 docs: Update Release Notes for 2.9.14 release (#17242)
  docs/sources/release-notes/v2-9.md
Labels: size/S, type/docs

#17243 refactor(stringlabels): Support stringlabels in ingester
  pkg/ingester/client/compat.go
  pkg/ingester/flush.go
  pkg/ingester/index/bitprefix_test.go
  pkg/ingester/index/index.go
  pkg/ingester/index/index_test.go
  pkg/ingester/index/multi.go
  pkg/ingester/instance.go
  pkg/ingester/mapper.go
Labels: size/L

#17101 feat: Add endpoint returning tenant configured limits
  pkg/loki/config_handler.go
  pkg/loki/loki.go
Labels: size/M

#17260 chore(engine): Add framework for query executor
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
  pkg/engine/executor/pipeline.go
  pkg/engine/planner/physical/plan.go
Labels: size/L

#17279 chore(dataobj): correct stats calculation for prepredicate bytes read
  pkg/dataobj/internal/dataset/dataset.go
  pkg/dataobj/internal/dataset/reader.go
  pkg/dataobj/internal/dataset/reader_test.go
Labels: size/L

#17289 chore: disable ui by default
  docs/sources/shared/configuration.md
  pkg/loki/modules.go
  pkg/loki/modules_test.go
  pkg/ui/config.go
Labels: size/M, type/docs, product-approved, backport k248, component/ui

#17294 docs: hide docs for experimental feature
  docs/sources/operations/loki-ui/_index.md
Labels: size/M, type/docs, backport k248

#17269 fix(docs): Update configuration.md
  docs/sources/send-data/docker-driver/configuration.md
Labels: size/XS, type/docs

#17266 docs: typo cluster size
  docs/sources/setup/size/_index.md
Labels: size/XS, type/docs

#17290 chore(dataobj,executor): CSV arrow batches & pipeline helpers
  pkg/engine/executor/pipeline_test.go
  vendor/github.com/apache/arrow-go/v18/arrow/csv/common.go
  vendor/github.com/apache/arrow-go/v18/arrow/csv/reader.go
  vendor/github.com/apache/arrow-go/v18/arrow/csv/transformer.go
  vendor/github.com/apache/arrow-go/v18/arrow/csv/writer.go
  vendor/modules.txt
Labels: size/L

#17264 chore(engine): Implement execution pipeline for the limit operator
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
  pkg/engine/executor/limit.go
  pkg/engine/executor/limit_test.go
  pkg/engine/executor/util_test.go
Labels: size/L

#15258 chore(Mixin): Fix per_namespace_label not used and add per_instance_label support
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/dashboard-utils.libsonnet
  production/loki-mixin/dashboards/loki-bloom-build.libsonnet
  production/loki-mixin/dashboards/loki-canary-dashboard.libsonnet
  production/loki-mixin/dashboards/loki-deletion.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
  production/loki-mixin/dashboards/loki-operational.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
  production/loki-mixin/dashboards/loki-resources-overview.libsonnet
  production/loki-mixin/dashboards/loki-retention.libsonnet
  production/loki-mixin/dashboards/loki-writes-resources.libsonnet
  production/loki-mixin/dashboards/recording-rules.libsonnet
Labels: size/M

#17316 chore: remove no-op code from ring tests
  pkg/limits/frontend/ring_test.go
Labels: size/S

#17311 chore(dataobj,testing,executor): pipeline equality testing
  pkg/engine/executor/executor.go
  pkg/engine/executor/limit.go
  pkg/engine/executor/limit_test.go
  pkg/engine/executor/pipeline_test.go
  pkg/engine/executor/pipeline_utils_test.go
Labels: size/L

#17312 feat(dataobj executor): project node
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
  pkg/engine/executor/pipeline_test.go
  pkg/engine/executor/project.go
  pkg/engine/executor/project_test.go
Labels: size/L

#17288 chore: separate out tests for GetPartitionConsumers
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/L

#17315 fix: fix single error prevents getting assigned partitions
  pkg/limits/frontend/cache.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/L

#17318 feat: support disabling the partition consumers cache
  docs/sources/shared/configuration.md
  go.mod
  go.sum
  pkg/limits/frontend/cache.go
  pkg/limits/frontend/cache_test.go
  pkg/limits/frontend/config.go
  pkg/limits/frontend/frontend.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/http.go
  pkg/limits/frontend/http_test.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
  pkg/loki/modules.go
  vendor/github.com/jellydator/ttlcache/v3/LICENSE
  vendor/github.com/jellydator/ttlcache/v3/README.md
  vendor/github.com/jellydator/ttlcache/v3/cache.go
  vendor/github.com/jellydator/ttlcache/v3/expiration_queue.go
  vendor/github.com/jellydator/ttlcache/v3/item.go
  vendor/github.com/jellydator/ttlcache/v3/metrics.go
  vendor/github.com/jellydator/ttlcache/v3/options.go
  vendor/modules.txt
Labels: size/XL, type/docs

#17332 fix: improve structured metadata label normalization performance
  pkg/chunkenc/symbols.go
  pkg/chunkenc/symbols_test.go
  pkg/logql/log/pipeline.go
  pkg/logql/log/pipeline_test.go
Labels: size/L

#17308 feat: refactors kafka/client to improve metric collection
  pkg/blockbuilder/builder/builder.go
  pkg/dataobj/consumer/metrics.go
  pkg/dataobj/consumer/partition_processor.go
  pkg/dataobj/consumer/service.go
  pkg/dataobj/metastore/metrics.go
  pkg/distributor/distributor.go
  pkg/distributor/tenant_topic_tee.go
  pkg/kafka/client/reader_client.go
  pkg/kafka/client/reader_client_test.go
  pkg/kafka/client/writer_client.go
  pkg/kafka/client/writer_client_test.go
  pkg/kafka/partition/committer.go
  pkg/kafka/partition/committer_test.go
  pkg/kafka/partition/offset_manager.go
  pkg/kafka/partition/reader.go
  pkg/kafka/partition/reader_service.go
  pkg/kafka/partition/reader_test.go
  pkg/kafka/partitionring/consumer/client.go
  pkg/kafka/partitionring/consumer/client_test.go
  pkg/limits/ingest_limits.go
  tools/stream-generator/generator/kafka.go
Labels: size/L, operational

#17337 fix: evict the limits cache once half the TTL has elapsed
  pkg/limits/frontend/cache.go
  pkg/limits/frontend/cache_test.go
Labels: size/M

#16958 feat: LID for query splitting
  docs/sources/community/lids/0006-api-expose-split.md
Labels: size/L, type/docs, backport release-3.4.x

#17380 chore: improve ring_test.go
  pkg/limits/frontend/frontend_test.go
  pkg/limits/frontend/mock_test.go
  pkg/limits/frontend/ring_test.go
Labels: size/L

#17365 chore: adds a simple noop object client
  pkg/storage/chunk/client/noop/noop_object_client.go
  pkg/storage/factory.go
  pkg/storage/types/types.go
Labels: size/M

#17379 docs: Loki 3.5 Release Notes
  docs/sources/release-notes/_index.md
  docs/sources/release-notes/v3-5.md
Labels: size/L, type/docs, backport k248

#17385 feat: adds partition-ingester push latency histogram
  pkg/ingester/kafka_consumer.go
Labels: size/S, component/ingester, operational

#17409 fix(ingest-limits): Disable auto commiting records
  pkg/limits/ingest_limits.go
Labels: size/XS

#17413 chore: bump lambda-promtail Dockerfile go version
  tools/lambda-promtail/Dockerfile
Labels: size/XS, type/build

#17377 feat: add method to get zone-aware partition consumers
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/L

#17415 chore: improve the test coverage for ring.go
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/M

#17416 chore: small test fixes
  pkg/limits/frontend/ring_test.go
Labels: size/S

#17428 fix: fix integer overrun when calculating parallelism for very long time range queries
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
Labels: size/S

#17430 fix: better fix integer overrun when calculating parallelism for very long time range queries
  pkg/querier/queryrange/limits.go
  pkg/querier/queryrange/limits_test.go
Labels: size/S

#17327 feat(dataobj, executor): filter node execution
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
  pkg/engine/executor/filter.go
  pkg/engine/executor/filter_test.go
Labels: size/L

#17411 chore(engine): Only use new engine if dataobjs are available in storage
  pkg/querier/http.go
Labels: size/XS

#17412 fix(mixins): fix label generation for Loki logs dashboard
  production/helm/meta-monitoring/values.yaml
  production/loki-mixin-compiled-ssd/dashboards/loki-deletion.json
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-deletion.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin/config.libsonnet
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-deletion.libsonnet
  production/loki-mixin/dashboards/loki-logs.libsonnet
Labels: size/L, area/helm

#17406 chore(engine): Implement execution pipeline for SortMerge operator
  pkg/engine/executor/executor.go
  pkg/engine/executor/executor_test.go
  pkg/engine/executor/expressions.go
  pkg/engine/executor/expressions_test.go
  pkg/engine/executor/sortmerge.go
  pkg/engine/executor/sortmerge_test.go
  pkg/engine/executor/util_test.go
Labels: size/L

#17372 fix(push): fix guard clauses to prevent error spam in logs
  pkg/loghttp/push/push.go
Labels: size/XS

#17441 chore: moves call to simulated latency to distributor.PushWithResolver
  pkg/distributor/distributor.go
Labels: size/XS, component/distributor

#14677 feat: hide __aggregated_metric__ in /series and /labels
  pkg/distributor/validator.go
  pkg/loghttp/push/push.go
  pkg/pattern/aggregation/push.go
  pkg/pattern/ingester_test.go
  pkg/pattern/instance.go
  pkg/pattern/tee_service.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/querier/limits/definitions.go
  pkg/querier/limits/validation.go
  pkg/querier/testutil/limits.go
  pkg/util/constants/aggregated_metrics.go
Labels: size/L, sig/operator, area/helm, type/docs

#17374 chore(engine): Add framework for function evaluation
  pkg/engine/executor/expressions.go
  pkg/engine/executor/expressions_test.go
  pkg/engine/executor/filter_test.go
  pkg/engine/executor/functions.go
  pkg/engine/internal/types/operators.go
Labels: size/L

#17150 fix(ingest-limits): Use stripe locking for metadata
  pkg/limits/http.go
  pkg/limits/http_test.go
  pkg/limits/ingest_limits.go
  pkg/limits/ingest_limits_bench_test.go
  pkg/limits/ingest_limits_test.go
  pkg/limits/stream_metadata.go
  pkg/limits/stream_metadata_bench_test.go
  pkg/limits/stream_metadata_test.go
Labels: size/XXL

#17447 chore(engine): Collect pipeline records into Loki result
  docs/sources/shared/configuration.md
  pkg/engine/compat.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/engine/executor/pipeline_test.go
  pkg/engine/executor/pipeline_utils.go
  pkg/engine/internal/types/column.go
  pkg/engine/planner/logical/planner.go
  pkg/engine/planner/logical/planner_test.go
  pkg/logql/engine.go
  pkg/logqlmodel/logqlmodel.go
Labels: size/XL, type/docs

#16978 feat(ui): Add ingest limits rings
  pkg/ui/frontend/dist/assets/data-viz-BuFFX-vG.js
  pkg/ui/frontend/dist/assets/data-viz-CL7w-2Lt.js
  pkg/ui/frontend/dist/assets/date-utils-B7GSU5zA.js
  pkg/ui/frontend/dist/assets/date-utils-D5i7Ep19.js
  pkg/ui/frontend/dist/assets/form-libs-B6JBoFJD.js
  pkg/ui/frontend/dist/assets/form-libs-BC53Arqz.js
  pkg/ui/frontend/dist/assets/index-BbvoJYjW.js
  pkg/ui/frontend/dist/assets/index-BbxlzNnT.js
  pkg/ui/frontend/dist/assets/query-management-COQdG7OW.js
  pkg/ui/frontend/dist/assets/query-management-D8IQJSUy.js
  pkg/ui/frontend/dist/assets/radix-core-BQsrZC3d.js
  pkg/ui/frontend/dist/assets/radix-core-mDeFS0Pz.js
  pkg/ui/frontend/dist/assets/radix-inputs-BPBG_BOm.js
  pkg/ui/frontend/dist/assets/radix-inputs-CUuf_8as.js
  pkg/ui/frontend/dist/assets/radix-layout-CAue-YU5.js
  pkg/ui/frontend/dist/assets/radix-navigation-D0pNP4jG.js
  pkg/ui/frontend/dist/assets/radix-navigation-WDVJ59Wc.js
  pkg/ui/frontend/dist/assets/react-core-D_V7s-9r.js
  pkg/ui/frontend/dist/assets/react-core-YHpNHmmd.js
  pkg/ui/frontend/dist/assets/react-router-BDU20MeH.js
  pkg/ui/frontend/dist/assets/react-router-CHYnaA34.js
  pkg/ui/frontend/dist/assets/style-DI43J1Sp.css
  pkg/ui/frontend/dist/assets/style-De_mcyPH.css
  pkg/ui/frontend/dist/assets/theme-utils-CNom64Sw.js
  pkg/ui/frontend/dist/assets/theme-utils-DhlUe4T2.js
  pkg/ui/frontend/dist/assets/ui-icons-BqZLUD1y.js
  pkg/ui/frontend/dist/assets/ui-icons-CjYyohUG.js
  pkg/ui/frontend/dist/assets/ui-utils-BNSC_Jv-.js
  pkg/ui/frontend/dist/assets/ui-utils-CrpwsBu-.js
  pkg/ui/frontend/dist/index.html
  pkg/ui/frontend/src/hooks/use-ring.ts
  pkg/ui/frontend/src/lib/ring-utils.ts
  pkg/ui/frontend/src/types/ring.ts
Labels: size/XL

#17437 fix(distributor): Disable metadata topic writes
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Labels: size/XS

#17452 chore: run `make lint` and fix one linter conversion complaint
  pkg/limits/frontend/ring.go
  pkg/querier/queryrange/limits.go
Labels: size/XS, type/chore, type/ci

#17450 chore: use nested if, it's much easier to reason about
  pkg/distributor/distributor.go
Labels: size/M

#17360 docs: correct spelling of lambda-promtail
  docs/sources/send-data/lambda-promtail/_index.md
Labels: size/XS, type/docs

#17118 docs(logcli): update command reference
  docs/sources/query/logcli/getting-started.md
Labels: size/XXL, type/docs

#17231 feat(helm): Enable rules sidecar for the ruler pods
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/CHANGELOG.md
  production/helm/loki/templates/ruler/statefulset-ruler.yaml
  production/helm/loki/values.yaml
Labels: size/M, area/helm, type/docs

#17469 fix: concurrent map access for processedSeries in delete requests manager
  pkg/compactor/deletion/delete_requests_manager.go
Labels: size/XS

#17470 fix: concurrent map access for processedSeries in delete requests manager (#17469)
  pkg/compactor/deletion/delete_requests_manager.go
Labels: size/XS

#17476 chore(ci): Set checkout actions to not persist credentials
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/install_workflow_dependencies.sh
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/workflows.jsonnet
  .github/workflows/backport.yml
  .github/workflows/dependabot_reviewer.yml
  .github/workflows/helm-ci.yml
  .github/workflows/helm-diff-ci.yml
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/images.yml
  .github/workflows/lint-jsonnet.yml
  .github/workflows/logql-analyzer.yml
  .github/workflows/metrics-collector.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/nix-ci.yaml
  .github/workflows/patch-release-pr.yml
  .github/workflows/promtail-windows-test.yml
  .github/workflows/publish-technical-documentation-next.yml
  .github/workflows/publish-technical-documentation-release.yml
  .github/workflows/release.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/syft-sbom-ci.yml
  .github/workflows/verify-release-workflow.yaml
Labels: size/L

#17478 ci: apply zizmor fixes for unpinned action versions
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/workflows/conventional-commits.yml
  .github/workflows/dependabot_reviewer.yml
  .github/workflows/helm-ci.yml
  .github/workflows/helm-diff-ci.yml
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/images.yml
  .github/workflows/lint-jsonnet.yml
  .github/workflows/logql-analyzer.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/nix-ci.yaml
  .github/workflows/operator-images.yaml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/syft-sbom-ci.yml
  .github/zizmor.yaml
Labels: size/L

#17477 chore(ci): Use pull_request trigger for backport workflow
  .github/workflows/backport.yml
Labels: size/M

#17479 chore(ci): Use pull_request trigger for labler workflow
  .github/workflows/labeler.yml
Labels: size/M

#17481 chore(ci): Disable persist-credentials for operator workflows
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-images.yaml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
Labels: size/S

#17482 chore(ci): Disable persist-credentials for helm workflows
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
Labels: size/S

#17480 chore(ci): adjust GH perms for non-generated workflows
  .github/workflows/backport.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/deploy-pr-preview.yml
  .github/workflows/helm-ci.yml
  .github/workflows/helm-diff-ci.yml
  .github/workflows/helm-release.yaml
  .github/workflows/helm-tagged-release-pr.yaml
  .github/workflows/helm-weekly-release-pr.yaml
  .github/workflows/lint-jsonnet.yml
  .github/workflows/metrics-collector.yml
  .github/workflows/nix-ci.yaml
  .github/workflows/operator-bundle.yaml
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-images.yaml
  .github/workflows/operator-publish-operator-hub.yml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
  .github/workflows/operator-scorecard.yaml
  .github/workflows/operator.yaml
  .github/workflows/promtail-windows-test.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/snyk.yml
  .github/workflows/syft-sbom-ci.yml
  .github/workflows/verify-release-workflow.yaml
Labels: size/L

#17483 chore(ci): Disable persist-credentials for operator-images workflows
  .github/workflows/operator-images.yaml
Labels: size/XS

#17485 ci: bump loki-release
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/L

#17486 chore(ci): Bump loki-release hash, update release-workflows
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/release-workflows.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
Labels: size/M

#17487 chore: update github workflow run blocks to use env variables
  .github/workflows/operator-check-prepare-release-commit.yml
  .github/workflows/operator-release-please.yml
  .github/workflows/operator-reusable-hub-release.yml
Labels: size/S

#17488 chore(ci): Fix cache poisoning report
  .github/workflows/promtail-windows-test.yml
Labels: size/XS

#17490 ci: update release-workflows.jsonnet to extract env vars
  .github/release-workflows.jsonnet
  .github/workflows/images.yml
Labels: size/L

#17498 ci: bump loki-release again
  .github/jsonnetfile.json
  .github/jsonnetfile.lock.json
  .github/vendor/github.com/grafana/loki-release/workflows/build.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/common.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/main.jsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/release.libsonnet
  .github/vendor/github.com/grafana/loki-release/workflows/validate.libsonnet
  .github/workflows/minor-release-pr.yml
  .github/workflows/patch-release-pr.yml
  .github/workflows/release.yml
  Makefile
Labels: size/L

#17499 ci: remove id-token read
  .github/release-workflows.jsonnet
  .github/workflows/check.yml
  .github/workflows/images.yml
Labels: size/XS

#17500 ci: use loki-gh-app for the labeler
  .github/workflows/backport.yml
  .github/workflows/labeler.yml
Labels: size/XS

#17502 chore(ci): update labeler permissions
  .github/release-workflows.jsonnet
  .github/workflows/labeler.yml
Labels: size/S

#17473 fix(ingest-limits): Query all assigned partitions
  pkg/limits/frontend/ring.go
  pkg/limits/frontend/ring_test.go
Labels: size/M

#16485 chore(dataobj): backfill sparse rows using EncodeN
  pkg/dataobj/internal/dataset/column_builder.go
  pkg/dataobj/internal/dataset/page_builder.go
  pkg/dataobj/internal/dataset/value_encoding_bitmap.go
  pkg/dataobj/internal/dataset/value_encoding_bitmap_test.go
Labels: size/L

#17512 chore(ci): Backport workflow use hash rather than version
  .github/workflows/backport.yml
Labels: size/XS

#16389 docs: Created migration guide from SSD -> Distributed
  docs/sources/setup/migrate/_index.md
  docs/sources/setup/migrate/ssd-to-distributed/_index.md
Labels: size/L, type/docs
