Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

Fix bucketNames example, too
  docs/sources/setup/install/helm/install-monolithic/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Tokenizer tests and TokenizeLine updates (#11133)
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/readlib_test.go
Owners: @grafana/loki-team

Update changelog.
  CHANGELOG.md
Owners: none

Ensure that a `nil` Matrix is not encoded as `null` but empty list.
  pkg/querier/queryrange/codec_test.go
  pkg/querier/queryrange/prometheus.go
Owners: @grafana/loki-team

remove storage section from config.yaml
  operator/internal/manifests/internal/config/loki-config.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

Add documentation for ruler_remote_write_config
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Remove deprecated ruler_remote_write_relabel_configs, ruler_remote_write_queue_capacity and ruler_remote_write_sigv4_config
  docs/sources/configure/_index.md
  docs/sources/operations/overrides-exporter.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Remove deprecated ruler_remote_write_queue_min_backoff, ruler_remote_write_queue_max_backoff and ruler_remote_write_queue_retry_on_ratelimit
  docs/sources/configure/_index.md
  docs/sources/operations/overrides-exporter.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Remove deprecated ruler_remote_write_timeout
  docs/sources/configure/_index.md
  docs/sources/operations/overrides-exporter.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Replace registry test with newFakeLimits
  pkg/ruler/registry_test.go
Owners: @grafana/loki-team

Remove deprecated ruler_remote_write_queue_max_shards and min_shards
  docs/sources/configure/_index.md
  docs/sources/operations/overrides-exporter.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Format
  pkg/ruler/registry.go
Owners: @grafana/loki-team

Remove deprecated ruler_remote_write_queue_batch_send_deadline and ruler_remote_write_queue_max_samples_per_send
  docs/sources/configure/_index.md
  docs/sources/operations/overrides-exporter.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Remove deprecated ruler_remote_write_url
  docs/sources/configure/_index.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Update docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

config: remove flags & YAML settings deprecated in 2.9.x (#11151)
  CHANGELOG.md
  clients/cmd/promtail/main.go
  clients/pkg/logentry/stages/drop_test.go
  clients/pkg/logentry/stages/labelallow_test.go
  clients/pkg/logentry/stages/labeldrop_test.go
  clients/pkg/logentry/stages/multiline_test.go
  clients/pkg/logentry/stages/pack_test.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  clients/pkg/promtail/targets/windows/target_test.go
  cmd/logql-analyzer/main.go
  cmd/loki/main.go
  cmd/querytee/main.go
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_test.go
  pkg/compactor/client/http.go
  pkg/compactor/compactor.go
  pkg/compactor/retention/util_test.go
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/loki/loki.go
  pkg/ruler/base/compat.go
  pkg/ruler/base/compat_test.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util_test.go
  pkg/util/log/log.go
  pkg/validation/limits.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deleted-config.yaml
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
  tools/doc-generator/parse/root_blocks.go
  tools/tsdb/helpers/setup.go
  tools/tsdb/migrate-versions/main.go
Owners: @grafana/loki-team, @grafana/docs-logs

[helm] Fix tracing configuration
  docs/sources/operations/troubleshooting.md
  docs/sources/setup/install/helm/reference.md
  production/helm/loki/Chart.yaml
  production/helm/loki/values.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

chore(jsonnet): Upgrade memcached-exporter to `0.11.3`
  production/ksonnet/loki/images.libsonnet
Owners: @grafana/loki-team

Bump MinIO Helm Chart to version 4.0.15
  production/helm/loki/Chart.lock
  production/helm/loki/Chart.yaml
Owners: @grafana/loki-team

Updated CHANGELOG.md
  production/helm/loki/CHANGELOG.md
Owners: none

Updated README.md with correct MinIO version
  production/helm/loki/README.md
Owners: @grafana/loki-team

Updated Chart.yaml with new version
  production/helm/loki/Chart.yaml
Owners: @grafana/loki-team

Fix S3 Helm example (#11180)
  docs/sources/setup/install/helm/install-monolithic/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Fix S3 Helm example (#11180)
  docs/sources/setup/install/helm/install-monolithic/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

[Docs] Update Helm installation to include backend
  docs/sources/send-data/promtail/pipelines.md
  docs/sources/send-data/promtail/stages/match.md
  docs/sources/setup/install/helm/install-scalable/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

[release-2.9.x] Fix S3 Helm example (#11190)
  docs/sources/setup/install/helm/install-monolithic/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

11194: fix conditional generating shipper storage config
  production/ksonnet/loki/shipper.libsonnet
Owners: @grafana/loki-team

update CHANGELOG
  CHANGELOG.md
Owners: none

[release-2.9.x] chore(docs): Fix structured_metadata usage (#10598)
  docs/sources/send-data/promtail/stages/structured_metadata.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update docs/sources/send-data/logstash/_index.md
  docs/sources/send-data/logstash/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update docs/sources/get-started/labels/structured-metadata.md
  docs/sources/get-started/labels/structured-metadata.md
Owners: @grafana/docs-logs, @grafana/loki-team

logstash output structured metadata support
  clients/cmd/logstash/lib/logstash/outputs/loki.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/batch.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/entry.rb
  clients/cmd/logstash/logstash-output-loki.gemspec
  clients/cmd/logstash/loki-metadata.conf
  clients/cmd/logstash/loki.conf
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/send-data/logstash/_index.md
Owners: @grafana/loki-team, @grafana/docs-logs

clients-logstash-output-structured-metadata-support
  clients/cmd/logstash/spec/outputs/loki/entry_spec.rb
  clients/cmd/logstash/spec/outputs/loki_spec.rb
Owners: @grafana/loki-team

feat(logstash): clients logstash output structured metadata support (#10899)
  clients/cmd/logstash/lib/logstash/outputs/loki.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/batch.rb
  clients/cmd/logstash/lib/logstash/outputs/loki/entry.rb
  clients/cmd/logstash/logstash-output-loki.gemspec
  clients/cmd/logstash/loki-metadata.conf
  clients/cmd/logstash/loki.conf
  clients/cmd/logstash/spec/outputs/loki/entry_spec.rb
  clients/cmd/logstash/spec/outputs/loki_spec.rb
  docs/sources/get-started/labels/structured-metadata.md
  docs/sources/send-data/logstash/_index.md
Owners: @grafana/loki-team, @grafana/docs-logs

Fix markdown files
  production/helm/loki/CHANGELOG.md
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Owners: @grafana/loki-team

Removing variable shadowing
  pkg/querier/queryrange/volume.go
Owners: @grafana/loki-team

Moves type assertion, handles unexpected type
  pkg/querier/queryrange/volume.go
Owners: @grafana/loki-team

chore(jsonnet): Upgrade memcached-exporter to `0.11.3` (#11187)
  production/ksonnet/loki/images.libsonnet
Owners: @grafana/loki-team

Checkin tests
  pkg/querier/queryrange/marshal_test.go
Owners: @grafana/loki-team
