Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

Cast volume response on receive.
  pkg/querier/queryrange/volume.go
Owners: @grafana/loki-team

Tet volume response JSOn marshalling.
  pkg/util/marshal/marshal_test.go
Owners: @grafana/loki-team

Unify and test setHeader
  pkg/querier/queryrange/extensions.go
  pkg/querier/queryrange/extensions_test.go
  pkg/querier/queryrange/views.go
Owners: @grafana/loki-team

Document caveats for 2.x to 3.x upgrades
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Test error codes
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/querier/stats/stats.go
  pkg/querier/worker/util.go
  pkg/querier/worker/util_test.go
Owners: @grafana/loki-team

Use error form error mapping
  pkg/querier/worker/util.go
  pkg/querier/worker/util_test.go
Owners: @grafana/loki-team

Remove inline Store interface from LokiStore struct
  pkg/storage/batch_test.go
  pkg/storage/store.go
  pkg/storage/store_test.go
Owners: @grafana/loki-team

Make ChunkFetcher and ChunkWriter accept PeriodConfig
  pkg/storage/chunk/cache/background_test.go
  pkg/storage/chunk/cache/cache_test.go
  pkg/storage/chunk/fetcher/fetcher.go
  pkg/storage/chunk/fetcher/fetcher_test.go
  pkg/storage/config/schema_config.go
  pkg/storage/factory_test.go
  pkg/storage/store.go
  pkg/storage/stores/series_store_write.go
  pkg/storage/stores/series_store_write_test.go
  pkg/storage/stores/testutils.go
Owners: @grafana/loki-team

Remove inline Store interface from AsyncStore struct
  pkg/storage/async_store.go
  pkg/storage/async_store_test.go
Owners: @grafana/loki-team

Move AsyncStore into pkg/storage/stores package
  pkg/loki/modules.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/async_store.go
  pkg/storage/stores/async_store_test.go
  pkg/storage/stores/composite_store_test.go
Owners: @grafana/loki-team

Resolve circular imports in test
  pkg/storage/batch_test.go
  pkg/storage/store_test.go
  pkg/storage/stores/async_store_test.go
  pkg/storage/stores/shipper/bloomshipper/TODO.md
  pkg/storage/stores/testutils.go
  pkg/storage/testutils.go
Owners: @grafana/loki-team

Remove inline ChunkWriter interfaces from storeEntry struct
  pkg/storage/stores/composite_store.go
  pkg/storage/stores/composite_store_entry.go
Owners: @grafana/loki-team

Remove TODO
  pkg/storage/store.go
  pkg/storage/stores/composite_store_entry.go
Owners: @grafana/loki-team

Remove accidentally commited file
  pkg/storage/stores/shipper/bloomshipper/TODO.md
Owners: @grafana/loki-team

Clean up test utils
  pkg/storage/store_test.go
  pkg/storage/stores/testutils.go
  pkg/storage/util_test.go
Owners: @grafana/loki-team

Make linter happy
  pkg/storage/stores/async_store.go
Owners: @grafana/loki-team

Update to latest version of doc-validator
  .github/workflows/doc-validator.yml
Owners: @grafana/loki-team

implemented bloom blocks downloading queue
  pkg/storage/bloom/v1/block_writer.go
  pkg/storage/bloom/v1/reader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader.go
  pkg/storage/stores/shipper/bloomshipper/block_downloader_test.go
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
  pkg/storage/stores/shipper/bloomshipper/config/config.go
  pkg/storage/stores/shipper/bloomshipper/shipper.go
  pkg/storage/stores/shipper/bloomshipper/shipper_test.go
  pkg/validation/limits.go
Owners: @grafana/loki-team

Update to latest version of doc-validator (#11200)
  .github/workflows/doc-validator.yml
Owners: @grafana/loki-team

Fix minimum Go version for module
  go.mod
  go.sum
Owners: @grafana/loki-team

Update image used for windows build
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

CR feedback
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/metrics.go
  pkg/bloomcompactor/sharding_test.go
  pkg/validation/limits.go
Owners: @grafana/loki-team

Fixes after merge
  pkg/bloomcompactor/bloomcompactor_test.go
Owners: @grafana/loki-team

More fixes
  docs/sources/configure/_index.md
  pkg/bloomcompactor/config.go
Owners: @grafana/docs-logs, @grafana/loki-team

Bloom-compactor Sharding (#11154)
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/bloomcompactor_test.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/job.go
  pkg/bloomcompactor/metrics.go
  pkg/bloomcompactor/sharding.go
  pkg/bloomcompactor/sharding_test.go
  pkg/bloomgateway/sharding.go
  pkg/loki/modules.go
  pkg/util/limiter/combined_limits.go
  pkg/util/ring/sharding.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

move 11195 to CHANGELOG fixes
  CHANGELOG.md
Owners: none

Add org id in encoding
  pkg/lokifrontend/frontend/v2/frontend.go
  pkg/querier/queryrange/codec.go
Owners: @grafana/loki-team

Followups #11154
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/job.go
  pkg/bloomcompactor/metrics.go
Owners: @grafana/loki-team

Enable/disable bloom gateway per tenant
  docs/sources/configure/_index.md
  pkg/bloomgateway/client.go
  pkg/bloomgateway/config.go
  pkg/bloomgateway/sharding.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

Improvement
  pkg/bloomcompactor/job.go
Owners: @grafana/loki-team

Set org id in tests
  pkg/querier/queryrange/codec_test.go
Owners: @grafana/loki-team

Followups #11154 (#11204)
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/job.go
  pkg/bloomcompactor/metrics.go
Owners: @grafana/loki-team

Return error if span context was not found
  pkg/scheduler/scheduler.go
  pkg/util/httpgrpc/carrier.go
  vendor/github.com/opentracing/opentracing-go/gocontext.go
  vendor/github.com/opentracing/opentracing-go/propagation.go
  vendor/github.com/opentracing/opentracing-go/tracer.go
Owners: @grafana/loki-team

Revert formatting of vendored files
  vendor/github.com/opentracing/opentracing-go/gocontext.go
  vendor/github.com/opentracing/opentracing-go/propagation.go
  vendor/github.com/opentracing/opentracing-go/tracer.go
Owners: @grafana/loki-team

Start serializing log range
  pkg/logql/serialize.go
  pkg/logql/syntax/walk.go
  vendor/github.com/json-iterator/go/iter_float.go
  vendor/github.com/json-iterator/go/iter_skip_strict.go
  vendor/github.com/json-iterator/go/reflect_dynamic.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_json_number.go
  vendor/github.com/json-iterator/go/reflect_json_raw_message.go
  vendor/github.com/json-iterator/go/reflect_map.go
  vendor/github.com/json-iterator/go/reflect_optional.go
  vendor/github.com/json-iterator/go/reflect_slice.go
  vendor/github.com/json-iterator/go/reflect_struct_encoder.go
Owners: @grafana/loki-team

Encode LogRange as serialized LogQL string
  pkg/logql/serialize.go
Owners: @grafana/loki-team

define log_selecotr and log_range
  pkg/logql/serialize.go
  pkg/logql/serialize_test.go
Owners: @grafana/loki-team

Call visit explicitly.
  pkg/logql/serialize.go
Owners: @grafana/loki-team

Serialize unwrap.
  pkg/logql/serialize.go
  pkg/logql/serialize_test.go
Owners: @grafana/loki-team

populate empty resonse for IndexStatsResponse and VolumeResponse Signed-off-by: Owen Diehl <ow.diehl@gmail.com>
  pkg/querier/queryrange/codec.go
Owners: @grafana/loki-team
