Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

[release-2.9.x] fix: All lifecycler cfgs ref a valid IPv6 addr and port combination (#11144)
  CHANGELOG.md
  pkg/distributor/distributor_ring.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/ring_config.go
Owners: @grafana/loki-team

Use correct plugin name for fluentbit ecs task (#11127)
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Use correct plugin name for fluentbit ecs task (#11127)
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

[release-2.9.x] Use correct plugin name for fluentbit ecs task (#11149)
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Revert "Default TARGETOS as well"
  loki-build-image/Dockerfile
Owners: @grafana/loki-team

Revert "Default build-image target arch to amd64"
  loki-build-image/Dockerfile
Owners: @grafana/loki-team

explicitly set DOCKER_BUILDKIT
  Makefile
Owners: @grafana/loki-team

remove log.use-buffered, log.use-sync
  clients/cmd/promtail/main.go
  clients/pkg/logentry/stages/drop_test.go
  clients/pkg/logentry/stages/labelallow_test.go
  clients/pkg/logentry/stages/labeldrop_test.go
  clients/pkg/logentry/stages/multiline_test.go
  clients/pkg/logentry/stages/pack_test.go
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  cmd/logql-analyzer/main.go
  cmd/loki/main.go
  cmd/querytee/main.go
  pkg/compactor/retention/util_test.go
  pkg/loki/loki.go
  pkg/storage/stores/shipper/indexshipper/boltdb/compactor/util_test.go
  pkg/util/log/log.go
  tools/tsdb/helpers/setup.go
  tools/tsdb/migrate-versions/main.go
Owners: @grafana/loki-team

add upgrade notes
  docs/sources/setup/upgrade/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

update deprecated config checker
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deleted-config.yaml
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/loki-team

add changelog
  CHANGELOG.md
  docs/sources/setup/upgrade/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

fix TestPusherAppendable
  pkg/ruler/base/compat.go
  pkg/ruler/base/compat_test.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/compat.go
  pkg/ruler/compat_test.go
Owners: @grafana/loki-team

fixup! fix TestPusherAppendable
  pkg/ruler/base/compat.go
  pkg/ruler/base/ruler_test.go
Owners: @grafana/loki-team

Bloom-compactor sharding
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/bloomcompactor_test.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/job.go
  pkg/bloomcompactor/metrics.go
  pkg/bloomcompactor/sharding.go
  pkg/bloomcompactor/sharding_test.go
  pkg/loki/modules.go
  pkg/util/limiter/combined_limits.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

fix promtail tests
  clients/pkg/promtail/targets/windows/target_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Owners: @grafana/loki-team

Revert "fix promtail tests"
  clients/pkg/promtail/targets/windows/target_test.go
  pkg/ingester/checkpoint_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Owners: @grafana/loki-team

only include promtail fixes
  clients/pkg/promtail/targets/windows/target_test.go
Owners: @grafana/loki-team

operator: Update skipRange for next OpenShift release (#11106)
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

operator: Update deps to secure webhooks for CVE-2023-44487 (#11129)
  operator/CHANGELOG.md
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community/manager_auth_proxy_patch.yaml
  operator/go.mod
  operator/go.sum
Owners: @grafana/loki-team, @periklis, @xperimental

Extract query tags from HTTP requests. (#11147)
  pkg/querier/queryrange/codec.go
  pkg/util/httpreq/tags.go
Owners: @grafana/loki-team

remove unordered writes config
  docs/sources/configure/_index.md
  docs/sources/configure/index.template
  docs/sources/operations/request-validation-rate-limits.md
  docs/sources/setup/upgrade/_index.md
  pkg/ingester/checkpoint_test.go
  pkg/ingester/instance.go
  pkg/ingester/instance_test.go
  pkg/ingester/limiter.go
  pkg/ingester/recovery.go
  pkg/ingester/stream.go
  pkg/ingester/stream_test.go
  pkg/ingester/streams_map_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deleted-config.yaml
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

add changelog
  CHANGELOG.md
Owners: none

fix mapping of non-retryable error codes
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/querier/worker/util.go
Owners: @grafana/loki-team

Test query tags propagation.
  pkg/querier/worker/scheduler_processor_test.go
Owners: @grafana/loki-team

Address feedback2 - use workingdir, use constants, remove objectStorageFileName logic, revise TODOs, fixups
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
Owners: @grafana/loki-team

Revert "Introduces cache to TSDB postings (#9621)"
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  pkg/storage/stores/shipper/indexshipper/tsdb/util_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Owners: @grafana/docs-logs, @grafana/loki-team

Apply suggestions from code review
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
Owners: @grafana/loki-team

Backport 11157 to k174.
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  pkg/storage/stores/shipper/indexshipper/tsdb/util_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Owners: @grafana/docs-logs, @grafana/loki-team

Add import of "fmt".
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
Owners: @grafana/loki-team

Loki: fix mapping of non-retryable error codes (#11164)
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/querier/worker/util.go
Owners: @grafana/loki-team

Revert "Introduces cache to TSDB postings (#9621)" (#11157)
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  pkg/storage/stores/shipper/indexshipper/tsdb/util_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Owners: @grafana/docs-logs, @grafana/loki-team

Loki: fix mapping of non-retryable error codes (#11164)
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/querier/worker/util.go
Owners: @grafana/loki-team

Extract query tags from HTTP requests. (#11147)
  pkg/querier/queryrange/codec.go
  pkg/util/httpreq/tags.go
Owners: @grafana/loki-team

Backport 11157 to k174. (#11168)
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/cached_postings_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/compactor.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/head_manager_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/index_client_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/manager.go
  pkg/storage/stores/shipper/indexshipper/tsdb/multi_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec.go
  pkg/storage/stores/shipper/indexshipper/tsdb/postings_codec_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index_test.go
  pkg/storage/stores/shipper/indexshipper/tsdb/store.go
  pkg/storage/stores/shipper/indexshipper/tsdb/util_test.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Owners: @grafana/docs-logs, @grafana/loki-team

[k174] Loki: fix mapping of non-retryable error codes (#11170)
  pkg/logql/engine.go
  pkg/logqlmodel/error.go
  pkg/querier/worker/util.go
Owners: @grafana/loki-team

[k174] Extract query tags from HTTP requests. (#11171)
  pkg/querier/queryrange/codec.go
  pkg/util/httpreq/tags.go
Owners: @grafana/loki-team

clean up
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
Owners: @grafana/loki-team

create one bloom-tokenizer
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

TODO list
  pkg/bloomcompactor/TODO.md
Owners: @grafana/loki-team

fix the build - TSDB signature changed after cache revert
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team
