Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

Skip roundtrip test
  pkg/logql/syntax/serialize_test.go
Owners: @grafana/loki-team

Revert changes to vendor
  vendor/github.com/json-iterator/go/iter_float.go
  vendor/github.com/json-iterator/go/iter_skip_strict.go
  vendor/github.com/json-iterator/go/reflect_dynamic.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_json_number.go
  vendor/github.com/json-iterator/go/reflect_json_raw_message.go
  vendor/github.com/json-iterator/go/reflect_map.go
  vendor/github.com/json-iterator/go/reflect_optional.go
  vendor/github.com/json-iterator/go/reflect_slice.go
  vendor/github.com/json-iterator/go/reflect_struct_encoder.go
Owners: @grafana/loki-team

make format
  pkg/ruler/base/client_pool_test.go
Owners: @grafana/loki-team

make documentation-helm-reference-check
  docs/sources/setup/install/helm/reference.md
Owners: @grafana/docs-logs, @grafana/loki-team

Ensure parsing a serialized LogQL AST results in the same AST.
  pkg/logql/syntax/parser_test.go
Owners: @grafana/loki-team

Test duration as well
  pkg/logql/syntax/parser_test.go
Owners: @grafana/loki-team

GCP implementation using thanos.io/objstore
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client.go
  pkg/storage/factory.go
Owners: @grafana/loki-team

Implemented all ObjectClient methods
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client.go
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client_test.go
  pkg/storage/factory.go
Owners: @grafana/loki-team

Cleaned up code
  pkg/storage/chunk/client/gcp/gcs_object_client.go
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client.go
  pkg/storage/factory.go
Owners: @grafana/loki-team

Change Iter options to be more standard
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client.go
Owners: @grafana/loki-team

Allow support for ruler to use thanos/obj storage
  pkg/loki/modules.go
  pkg/ruler/base/ruler_test.go
  pkg/ruler/base/storage.go
  pkg/storage/bucket/client.go
  pkg/storage/bucket/filesystem/config.go
  pkg/validation/limits.go
Owners: @grafana/loki-team

Bucket Client with new changes
  pkg/storage/bucket/client.go
  pkg/storage/bucket/filesystem/config.go
Owners: @grafana/loki-team

Cleaned up bucket/s3 to be more inline with mimir and new CLI
  pkg/storage/bucket/http/config.go
  pkg/storage/bucket/s3/bucket_client.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/bucket/s3/config_test.go
Owners: @grafana/loki-team

Factory changes
  pkg/storage/factory.go
Owners: @grafana/loki-team

Added AWS Thanos Object Client
  pkg/storage/chunk/client/aws/s3_thanos_object_client.go
  pkg/storage/chunk/client/aws/s3_thanos_object_client_test.go
Owners: @grafana/loki-team

Added hedging to AWS
  pkg/storage/chunk/client/aws/s3_thanos_object_client.go
Owners: @grafana/loki-team

Satisfy linter
  pkg/logql/syntax/serialize.go
Owners: @grafana/loki-team

Correct receiver name
  pkg/logql/log/label_filter.go
Owners: @grafana/loki-team

chore: follow-up to #11151 and #11025 (#11225)
  docs/sources/setup/install/helm/reference.md
  docs/sources/setup/upgrade/_index.md
  pkg/ruler/base/client_pool.go
  pkg/ruler/base/client_pool_test.go
  production/docker/config/loki.yaml
  production/helm/loki/values.yaml
  production/ksonnet/loki-simple-scalable/example/main.jsonnet
  production/ksonnet/loki/config.libsonnet
  production/nomad/loki-distributed/config.yml
  production/nomad/loki-simple/config.yml
  production/nomad/loki/config.yml
Owners: @grafana/docs-logs, @grafana/loki-team

Added ca-file CLI flag
  pkg/storage/bucket/http/config.go
  pkg/storage/bucket/s3/bucket_client.go
Owners: @grafana/loki-team

Correct VisitKeepLabel typo
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/walk.go
Owners: @grafana/loki-team

Serialize query AST to JSON. (#11123)
  pkg/logql/log/ip.go
  pkg/logql/log/label_filter.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/parser_test.go
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/serialize_test.go
  pkg/logql/syntax/walk.go
Owners: @grafana/loki-team

start defining query plan
  pkg/compactor/client/grpc/grpc.pb.go
  pkg/ingester/checkpoint.pb.go
  pkg/logqlmodel/stats/stats.pb.go
  pkg/lokifrontend/frontend/v2/frontendv2pb/frontend.pb.go
  pkg/push/push.pb.go
  pkg/querier/plan.go
  pkg/querier/queryrange/queryrange.pb.go
  pkg/querier/queryrange/queryrange.proto
  pkg/querier/queryrange/queryrangebase/definitions/definitions.pb.go
  pkg/querier/queryrange/queryrangebase/queryrange.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/ruler/base/ruler.pb.go
  pkg/ruler/rulespb/rules.pb.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/storage/chunk/client/grpc/grpc.pb.go
  pkg/storage/stores/series/index/caching_index_client.pb.go
Owners: @grafana/loki-team

try new span changes
  pkg/logql/engine.go
  pkg/lokifrontend/frontend/v1/frontend.go
  pkg/querier/handler.go
  pkg/querier/http.go
  pkg/querier/worker/frontend_processor.go
  pkg/storage/chunk/fetcher/fetcher.go
  pkg/storage/stores/shipper/indexshipper/tsdb/single_file_index.go
  pkg/util/tracing/span.go
  vendor/github.com/grafana/dskit/instrument/instrument.go
Owners: @grafana/loki-team

First pass, new code is commented out
  pkg/storage/stores/shipper/bloomshipper/client.go
Owners: @grafana/loki-team

update tests to do gzipping
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
Owners: @grafana/loki-team

populate empty map
  pkg/util/tracing/span.go
Owners: @grafana/loki-team

hacky changes
  pkg/logql/engine.go
  pkg/querier/queryrange/queryrangebase/results_cache.go
  pkg/querier/queryrange/serialize.go
  pkg/util/tracing/span.go
  vendor/github.com/grafana/dskit/middleware/http_tracing.go
Owners: @grafana/loki-team

Increase test coverage for AST serialization to >94%.
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/serialize_test.go
Owners: @grafana/loki-team

Fix CLI Args
  pkg/loki/common/common.go
  pkg/storage/bucket/s3/config.go
  pkg/storage/factory.go
Owners: @grafana/loki-team

Make linter happy
  pkg/logql/syntax/serialize.go
Owners: @grafana/loki-team

hacky http tracing a bit
  vendor/github.com/grafana/dskit/middleware/http_tracing.go
Owners: @grafana/loki-team

Rename IP field
  pkg/logql/syntax/serialize.go
Owners: @grafana/loki-team

operator: Update dependencies and dev tools
  operator/.bingo/Variables.mk
  operator/.bingo/golangci-lint.mod
  operator/.bingo/golangci-lint.sum
  operator/.bingo/operator-sdk.mod
  operator/.bingo/operator-sdk.sum
  operator/.bingo/variables.env
  operator/apis/config/v1/projectconfig_types.go
  operator/controllers/loki/alertingrule_controller.go
  operator/controllers/loki/lokistack_controller.go
  operator/controllers/loki/lokistack_controller_test.go
  operator/controllers/loki/lokistack_zone_labeling_controller.go
  operator/controllers/loki/lokistack_zone_labeling_controller_test.go
  operator/controllers/loki/recordingrule_controller.go
  operator/docs/operator/feature-gates.md
  operator/go.mod
  operator/go.sum
  operator/internal/external/k8s/builder.go
  operator/internal/external/k8s/client.go
  operator/internal/external/k8s/k8sfakes/fake_builder.go
  operator/internal/external/k8s/k8sfakes/fake_client.go
  operator/internal/handlers/internal/storage/ca_configmap_test.go
  operator/internal/status/lokistack.go
  operator/internal/validation/alertingrule.go
  operator/internal/validation/alertingrule_test.go
  operator/internal/validation/lokistack.go
  operator/internal/validation/lokistack_test.go
  operator/internal/validation/recordingrule.go
  operator/internal/validation/recordingrule_test.go
  operator/internal/validation/rulerconfig.go
  operator/internal/validation/rulerconfig_test.go
  operator/main.go
Owners: @grafana/loki-team, @periklis, @xperimental

Add changelog entry
  operator/CHANGELOG.md
Owners: none

Increase test coverage for AST serialization to >94%. (#11230)
  pkg/logql/syntax/serialize.go
  pkg/logql/syntax/serialize_test.go
Owners: @grafana/loki-team

Remove querier wait time metric.
  pkg/loki/modules.go
  pkg/querier/worker/frontend_processor.go
  pkg/querier/worker/frontend_processor_test.go
  pkg/querier/worker/processor_manager.go
  pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor_test.go
  pkg/querier/worker/worker.go
  pkg/querier/worker/worker_test.go
  pkg/querier/worker_service.go
  pkg/queue/metrics.go
  pkg/queue/queue.go
Owners: @grafana/loki-team

move meta creation outside
  pkg/bloomcompactor/TODO.md
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

fix up
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

fix up
  pkg/bloomcompactor/TODO.md
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team
