Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

Apply suggestions from code review
  docs/sources/send-data/otel/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

add a note on data querying
  docs/sources/send-data/otel/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Add default cse.
  pkg/logql/syntax/ast.go
Owners: @grafana/loki-team

Make cortex_distributor_ingester_clients configurable
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/distributor/clientpool/ingester_client_pool.go
  pkg/distributor/distributor.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
Owners: @grafana/loki-team

fix tests
  operator/internal/manifests/internal/config/loki-config.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

Fix tests and code
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client_test.go
Owners: @grafana/loki-team

Check switches on syntax.Expr for exhaustiveness. (#11113)
  .golangci.yml
  pkg/logql/engine.go
  pkg/logql/evaluator.go
  pkg/logql/optimize.go
  pkg/logql/rangemapper.go
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/walk.go
  pkg/logql/syntax/walk_test.go
  pkg/querier/multi_tenant_querier.go
  pkg/querier/queryrange/split_by_interval.go
Owners: @grafana/loki-team

Try with env var.
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

docs: add migration guide for tsdb (#10978)
  docs/sources/setup/migrate/_index.md
  docs/sources/setup/migrate/migrate-to-tsdb/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

add documentation on how to use otel collector for ingesting logs to loki (#11026)
  docs/sources/send-data/_index.md
  docs/sources/send-data/otel/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Only run on amd64
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

Reduce further.
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

Update the reference
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update changelog
  CHANGELOG.md
Owners: none

Use new metric name in integration test
  integration/loki_micro_services_test.go
Owners: @grafana/loki-team

Use constants
  pkg/loki/loki.go
Owners: @grafana/loki-team

Update migration docs
  docs/sources/setup/upgrade/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

fix: All lifecycler cfgs ref a valid IPv6 addr and port combination
  pkg/distributor/distributor_ring.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/ring/ring_config.go
Owners: @grafana/loki-team

Add deprecation notice
  docs/sources/configure/_index.md
  pkg/loki/loki.go
Owners: @grafana/docs-logs, @grafana/loki-team

Add changelog entry
  CHANGELOG.md
Owners: none

Address code review suggestions
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manager/kustomization.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

Define visitors.
  pkg/logql/syntax/ast.go
  pkg/logql/syntax/walk.go
Owners: @grafana/loki-team

Define root visitor.
  pkg/logql/syntax/walk.go
Owners: @grafana/loki-team

[Style] Data source as two words.
  docs/sources/configure/examples/query-frontend.md
  docs/sources/get-started/_index.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/troubleshooting.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/visualize/grafana.md
Owners: @grafana/docs-logs, @grafana/loki-team

[Style] Data source as two words. (#11124)
  docs/sources/configure/examples/query-frontend.md
  docs/sources/get-started/_index.md
  docs/sources/operations/query-fairness/_index.md
  docs/sources/operations/troubleshooting.md
  docs/sources/send-data/k6/query-scenario.md
  docs/sources/visualize/grafana.md
Owners: @grafana/docs-logs, @grafana/loki-team

Remove hack file amendments
  operator/hack/lokistack_gateway_ocp.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

Re-render bundles with imagePullPolicy set to IfNotPresent
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/openshift/manager_related_image_patch.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

Simplify validation
  operator/internal/validation/lokistack.go
Owners: @grafana/loki-team, @periklis, @xperimental

[Style] Update timeseries to time series.
  docs/sources/query/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

[Style] Update timeseries to time series. (#11125)
  docs/sources/query/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

add tests for log volume middleware
  pkg/querier/queryrange/volume_test.go
Owners: @grafana/loki-team

Start JSON serialization
  pkg/logql/serialize.go
  pkg/logql/syntax/walk.go
Owners: @grafana/loki-team

Use Docker config instead of user and password.
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

Replace metricsNamespace with loki in test
  pkg/bloomgateway/client_test.go
Owners: @grafana/loki-team

Fix review comments
  pkg/storage/store.go
Owners: @grafana/loki-team

Update pkg/loki/loki.go
  pkg/loki/loki.go
Owners: @grafana/loki-team

Update docs/sources/setup/upgrade/_index.md
  docs/sources/setup/upgrade/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update docs
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Reverse cortex and loki
  production/helm/loki/src/dashboards/loki-chunks.json
Owners: @grafana/loki-team

Reverse cortex and loki
  pkg/storage/chunk/client/aws/metrics_autoscaling.go
  production/loki-mixin-compiled-ssd/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
Owners: @grafana/loki-team
