Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @dependabot

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

# Make dependabot as codeowners for specific files to auto-merge dependencies PRs
go.mod @dependabot @grafana/loki-team
go.sum @dependabot @grafana/loki-team
/vendor @dependabot @grafana/loki-team

ruler: rename test variables
  pkg/ruler/base/ruler_test.go
Owners: @grafana/loki-team

Fix query_timeout warning messages (#10083)
  docs/sources/configure/_index.md
  pkg/loki/loki.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

ruler: added docs for limiting alerts and series
  docs/sources/alert/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

change to sorteablelabelmatchers.
  pkg/storage/stores/tsdb/cached_postings_index.go
Owners: @grafana/loki-team

Update scraping.md
  docs/sources/clients/promtail/scraping.md
Owners: @grafana/docs-logs, @grafana/loki-team

Introduces cache to TSDB postings (#9621)
  CHANGELOG.md
  docs/sources/configure/_index.md
  go.mod
  integration/loki_micro_services_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/store_test.go
  pkg/storage/stores/tsdb/cached_postings_index.go
  pkg/storage/stores/tsdb/cached_postings_index_test.go
  pkg/storage/stores/tsdb/compactor.go
  pkg/storage/stores/tsdb/head_manager.go
  pkg/storage/stores/tsdb/head_manager_test.go
  pkg/storage/stores/tsdb/index.go
  pkg/storage/stores/tsdb/index_client_test.go
  pkg/storage/stores/tsdb/manager.go
  pkg/storage/stores/tsdb/multi_file_index_test.go
  pkg/storage/stores/tsdb/postings_codec.go
  pkg/storage/stores/tsdb/postings_codec_test.go
  pkg/storage/stores/tsdb/single_file_index.go
  pkg/storage/stores/tsdb/single_file_index_test.go
  pkg/storage/stores/tsdb/store.go
  pkg/storage/stores/tsdb/util_test.go
  tools/tsdb/index-analyzer/main.go
  tools/tsdb/migrate-versions/main_test.go
  tools/tsdb/tsdb-map/main_test.go
Owners: @grafana/docs-logs, @grafana/loki-team, @dependabot

lambda-promtail: Support AWS Organization CloudTrail (#10147)
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/s3.go
  tools/lambda-promtail/lambda-promtail/s3_test.go
Owners: @grafana/loki-team
