Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

fix jsonnet format
  .drone/drone.jsonnet
Owners: @grafana/loki-team

Make complete pipeline conditional
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

Revert previous change
  .drone/drone.jsonnet
Owners: @grafana/loki-team

Generate drone yaml
  .drone/drone.jsonnet
Owners: @grafana/loki-team

Fun back and forth with condition
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

Update README
  production/helm/loki/README.md
Owners: @grafana/loki-team

always align volume range timestamp to end of step
  pkg/querier/queryrange/volume.go
  pkg/querier/queryrange/volume_test.go
Owners: @grafana/loki-team

Fix typos in helm chart upgrade guide (#11128)
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Owners: @grafana/docs-logs, @grafana/loki-team

fix test to match new range query ts logic
  pkg/querier/queryrange/roundtrip_test.go
Owners: @grafana/loki-team

Update readme
  production/helm/loki/README.md
Owners: @grafana/loki-team

Correct checksum config path for Helm chart. (#9609)
  production/helm/loki/Chart.yaml
  production/helm/loki/README.md
Owners: @grafana/loki-team

doc(CHANGELOG): add new entry
  CHANGELOG.md
Owners: none

fix(storage/chunk/cache): use opt renamed in v9
  pkg/storage/chunk/cache/redis_client.go
Owners: @grafana/loki-team

Return each set of skip tokens as their own slice in the slice of slices
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
Owners: @grafana/loki-team

modified the sentence in a more understandable way > > Signed-off-by: Bilal Khan <bilalkhanrecovered@gmail.com>
  README.md
Owners: @grafana/loki-team

modified the sentence in a more understandable way
  README.md
Owners: @grafana/loki-team

Use correct plugin name
  docs/sources/send-data/promtail/cloud/ecs/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update patch Go version documentation.
  docs/sources/community/maintaining/release/patch-go-version.md
Owners: @grafana/docs-logs, @grafana/loki-team

Update docs
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Build loki-build-image for multiple architectures. (#11130)
  .drone/docker-manifest-build-image.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  docs/sources/community/maintaining/release/patch-go-version.md
  loki-build-image/Dockerfile
Owners: @grafana/loki-team, @grafana/docs-logs

Build loki-build-image for multiple architectures. (#11130)
  .drone/docker-manifest-build-image.tmpl
  .drone/drone.jsonnet
  .drone/drone.yml
  Makefile
  docs/sources/community/maintaining/release/patch-go-version.md
  loki-build-image/Dockerfile
Owners: @grafana/loki-team, @grafana/docs-logs

[release-2.8.x] fix: respect query matcher in ingester when getting label values (#10375) (#11057)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/loki-team

[release-2.9.x] fix: respect query matcher in ingester when getting label values (#10375) (#11056)
  CHANGELOG.md
  pkg/ingester/ingester.go
Owners: @grafana/loki-team

doc(CHANGELOG): add new entry
  CHANGELOG.md
Owners: none

feat(tools/lambda-promtail): not evaluate empty string for drop_labels
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/main_test.go
Owners: @grafana/loki-team

operator: Update skipRange for next OpenShift release
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/manifests/openshift/bases/loki-operator.clusterserviceversion.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

fix(tools/lambda-promtail): Do not evaluate empty string for drop_labels (#11074)
  CHANGELOG.md
  tools/lambda-promtail/lambda-promtail/main.go
  tools/lambda-promtail/lambda-promtail/main_test.go
Owners: @grafana/loki-team

add support for per tenant configuration for mapping otlp data to loki format
  clients/pkg/promtail/targets/lokipush/pushtarget.go
  pkg/distributor/http.go
  pkg/distributor/limits.go
  pkg/loghttp/push/otlp.go
  pkg/loghttp/push/otlp_config.go
  pkg/loghttp/push/otlp_config_test.go
  pkg/loghttp/push/otlp_test.go
  pkg/loghttp/push/push.go
  pkg/loghttp/push/push_test.go
  pkg/validation/limits.go
Owners: @grafana/loki-team

fix: All lifecycler cfgs ref a valid IPv6 addr and port combination (#11121)
  CHANGELOG.md
  pkg/distributor/distributor_ring.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/ring/ring_config.go
Owners: @grafana/loki-team

fix: All lifecycler cfgs ref a valid IPv6 addr and port combination (#11121)
  CHANGELOG.md
  pkg/distributor/distributor_ring.go
  pkg/ruler/base/ruler_ring.go
  pkg/util/ring_config.go
Owners: @grafana/loki-team

feat(cmd/loki): embed LogCLI into Loki image
  cmd/loki/Dockerfile
Owners: @grafana/loki-team

doc(CHANGELOG): add new entry
  CHANGELOG.md
Owners: none

dock(src/query/logcli): excerp to raise awareness on LogCLI in Loki image
  docs/sources/query/logcli.md
Owners: @grafana/docs-logs, @grafana/loki-team

Extract query tags from HTTP requests.
  pkg/querier/queryrange/codec.go
  pkg/util/httpreq/tags.go
Owners: @grafana/loki-team

Adjust readlib to call bloom_tokenizer and use that tokenization code. Add test cases for chunkID prefix work
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
  pkg/storage/bloom/v1/tokenizer.go
  tools/tsdb/bloom-tester/readlib.go
  tools/tsdb/bloom-tester/readlib_test.go
Owners: @grafana/loki-team

Make format
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
Owners: @grafana/loki-team

Stylistic updates
  tools/tsdb/bloom-tester/readlib_test.go
Owners: @grafana/loki-team

Default build-image target arch to amd64
  loki-build-image/Dockerfile
Owners: @grafana/loki-team

Default TARGETOS as well
  loki-build-image/Dockerfile
Owners: @grafana/loki-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md
