Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

[bloom-compactor] Add configs to enable compactor per tenant
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/validation/limits.go
Owners: @grafana/loki-team

make doc
  docs/sources/configure/_index.md
  pkg/bloomcompactor/config.go
Owners: @grafana/docs-logs, @grafana/loki-team

Move compaction flag check to compact user level
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

fix tests
  pkg/bloomcompactor/sharding_test.go
Owners: @grafana/loki-team

skip tenant don't return
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

add todo
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

[bloom-compactor] Move meta.json creation at the end of compaction cycle (#11234)
  pkg/bloomcompactor/TODO.md
  pkg/bloomcompactor/bloomcompactor.go
Owners: @grafana/loki-team

change graph type from "graph" to "timeseries"
  production/loki-mixin/dashboards/dashboard-loki-logs.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Owners: @grafana/loki-team

propagate changes
  production/loki-mixin-compiled-ssd/dashboards/loki-logs.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-logs.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
Owners: @grafana/loki-team

Fix prom registry & common config
  pkg/loki/config_wrapper.go
  pkg/storage/chunk/client/aws/s3_thanos_object_client.go
  pkg/storage/factory.go
Owners: @grafana/loki-team

Move compression functions over to archive.go
  pkg/storage/bloom/v1/archive.go
  pkg/storage/bloom/v1/archive_test.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
Owners: @grafana/loki-team

Remove old comments
  pkg/storage/bloom/v1/archive.go
  pkg/storage/stores/shipper/bloomshipper/client.go
Owners: @grafana/loki-team

Use new functions that are over in archive.go instead of putting that stuff inline
  pkg/storage/stores/shipper/bloomshipper/client.go
Owners: @grafana/loki-team

Lint
  pkg/storage/bloom/v1/archive_test.go
Owners: @grafana/loki-team

Make format updates
  pkg/storage/stores/shipper/bloomshipper/client.go
  pkg/storage/stores/shipper/bloomshipper/client_test.go
Owners: @grafana/loki-team

Update pkg/querier/worker/scheduler_processor.go
  pkg/querier/worker/scheduler_processor.go
Owners: @grafana/loki-team

[bloom-compactor] Add configs to enable compactor per tenant (#11235)
  docs/sources/configure/_index.md
  pkg/bloomcompactor/bloomcompactor.go
  pkg/bloomcompactor/config.go
  pkg/bloomcompactor/sharding_test.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

Do not run vulnerability scans on forks
  .github/workflows/vulnerability-scan.yml
Owners: @grafana/loki-team

test without snyk token
  .github/workflows/vulnerability-scan.yml
Owners: @grafana/loki-team

Update flake
  flake.nix
Owners: @grafana/loki-team

remove obsolete overlays
  flake.nix
  nix/loki.nix
  nix/overlays/golangci-lint.nix
  nix/overlays/helm-docs.nix
Owners: @grafana/loki-team

Fix linter issues
  .golangci.yml
  pkg/chunkenc/memchunk_test.go
  pkg/iter/entry_iterator_test.go
  pkg/logql/range_vector_test.go
  pkg/querier/querier_test.go
  pkg/storage/batch_test.go
  pkg/storage/chunk/client/local/boltdb_index_client_test.go
  tools/tsdb/bloom-tester/concurrent.go
  tools/tsdb/bloom-tester/lib.go
  tools/tsdb/tsdb-map/main_test.go
Owners: @grafana/loki-team

Fix compactor test interface
  pkg/compactor/compactor_test.go
Owners: @grafana/loki-team

Move logcli, promtail, and canary into own nix pkgs
  flake.nix
  nix/default.nix
  nix/packages/chart-releaser.nix
  nix/packages/faillint.nix
  nix/packages/loki.nix
Owners: @grafana/loki-team

Break up nix GH action for speed, fix problems from rebase
  .github/workflows/nix-ci.yaml
  flake.lock
  tools/tsdb/bloom-tester/concurrent.go
  tools/tsdb/bloom-tester/lib.go
Owners: @grafana/loki-team

Set more ring instance addr to avoid interface lookup
  .github/workflows/nix-ci.yaml
  flake.nix
  nix/packages/loki.nix
  pkg/analytics/seed_test.go
  pkg/compactor/compactor_test.go
  pkg/distributor/instance_count_test.go
  pkg/loki/modules_test.go
Owners: @grafana/loki-team

always print build logs in ci
  .github/workflows/nix-ci.yaml
Owners: @grafana/loki-team

default instance addr for bloom gateway
  .github/workflows/nix-ci.yaml
  pkg/loki/modules_test.go
Owners: @grafana/loki-team

fix image tag substitution
  nix/packages/loki.nix
Owners: @grafana/loki-team

Set GOMODCACHE env var
  nix/packages/loki.nix
Owners: @grafana/loki-team

Fetch lambad-promtail deps
  flake.nix
  nix/packages/loki.nix
Owners: @grafana/loki-team

lambda-promtail: fix IAM policy for clouddwatch log stream (#10909)
  tools/lambda-promtail/main.tf
Owners: @grafana/loki-team

Helm: Allow per alert rule disabling on Loki
  production/helm/loki/src/alerts.yaml.tpl
  production/helm/loki/values.yaml
Owners: @grafana/loki-team

Update _index.md
  docs/sources/setup/install/helm/configure-storage/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Remove deprecated ruler_remote_write_headers
  docs/sources/configure/_index.md
  pkg/ruler/compat.go
  pkg/ruler/registry.go
  pkg/validation/limits.go
  pkg/validation/limits_test.go
  tools/deprecated-config-checker/checker/checker_test.go
  tools/deprecated-config-checker/deprecated-config.yaml
  tools/deprecated-config-checker/test-fixtures/config.yaml
  tools/deprecated-config-checker/test-fixtures/runtime-config.yaml
Owners: @grafana/docs-logs, @grafana/loki-team

Use in-built default queue config
  pkg/validation/limits_test.go
Owners: @grafana/loki-team

Add changelog
  CHANGELOG.md
Owners: none

logging: Add extra metadata to inflight requests
  pkg/logql/blocker.go
  pkg/logql/engine.go
  pkg/logql/metrics.go
  pkg/querier/queryrange/queryrangebase/retry.go
  pkg/querier/queryrange/roundtrip.go
  pkg/ruler/compat.go
  pkg/ruler/evaluator_jitter.go
  pkg/ruler/evaluator_remote.go
  pkg/util/queryutil/query.go
Owners: @grafana/loki-team

Fix docs
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Add thanos/objstore to common configuration
  pkg/loki/common/common.go
  pkg/loki/config_wrapper.go
  pkg/storage/chunk/client/gcp/gcs_thanos_object_client.go
  pkg/storage/factory.go
Owners: @grafana/loki-team
