Repository grafana/loki, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/loki-team, @grafana/docs-logs, @periklis, @xperimental, @grafana/observability-logs

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/loki-team

# Documentation.
/docs/ @grafana/docs-logs @grafana/loki-team

# Loki operator
/operator/ @grafana/loki-team @periklis @xperimental
/.github/workflows/operator* @grafana/loki-team @periklis @xperimental

# Logql grammar
# The observability logs team is listed as co-codeowner for grammar file. This is to receive notifications about updates, so these can be implemented in https://github.com/grafana/lezer-logql
/pkg/logql/syntax/expr.y @grafana/observability-logs @grafana/loki-team

# No owners - allows sub-maintainers to merge changes.
CHANGELOG.md

Add the compiled mixin files
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
Owners: @grafana/loki-team

Add ingester_flush_queue changes
  pkg/storage/chunk/client/aws/metrics_autoscaling.go
  production/helm/loki/src/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
Owners: @grafana/loki-team

The dynamo and cassandra metrics have started with loki_ a long time ago
  production/loki-mixin/dashboards/dashboard-loki-operational.json
Owners: @grafana/loki-team

Replace metricsNamespace with loki in test
  pkg/bloomgateway/client_test.go
Owners: @grafana/loki-team

Run fmt-jsonnet
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Owners: @grafana/loki-team

Fix missing ruler metrics
  pkg/ruler/base/manager.go
  pkg/ruler/base/manager_metrics.go
  pkg/ruler/base/manager_metrics_test.go
Owners: @grafana/loki-team

Add loki query to cortex query
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Owners: @grafana/loki-team

Make cortex_distributor_ingester_clients configurable
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/distributor/clientpool/ingester_client_pool.go
  pkg/distributor/distributor.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
Owners: @grafana/loki-team

Fix tests and code
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier_test.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client_test.go
Owners: @grafana/loki-team

Update the docs
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Fix review comments
  pkg/storage/store.go
Owners: @grafana/loki-team

Implement all visitors
  pkg/logql/serialize.go
  vendor/github.com/json-iterator/go/iter_float.go
  vendor/github.com/json-iterator/go/iter_skip_strict.go
  vendor/github.com/json-iterator/go/reflect_dynamic.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_json_number.go
  vendor/github.com/json-iterator/go/reflect_json_raw_message.go
  vendor/github.com/json-iterator/go/reflect_map.go
  vendor/github.com/json-iterator/go/reflect_optional.go
  vendor/github.com/json-iterator/go/reflect_slice.go
  vendor/github.com/json-iterator/go/reflect_struct_encoder.go
Owners: @grafana/loki-team

Test serializer
  pkg/logql/serialize_test.go
Owners: @grafana/loki-team

Add dashboard changes for migrating from cortex_ metrics to loki_ metrics (#11082)
  docs/sources/configure/_index.md
  pkg/bloomgateway/client.go
  pkg/bloomgateway/client_test.go
  pkg/distributor/clientpool/ingester_client_pool.go
  pkg/distributor/distributor.go
  pkg/loki/modules.go
  pkg/querier/ingester_querier.go
  pkg/querier/ingester_querier_test.go
  pkg/querier/querier_test.go
  pkg/ruler/base/manager.go
  pkg/ruler/base/manager_metrics.go
  pkg/ruler/base/manager_metrics_test.go
  pkg/storage/chunk/client/aws/metrics_autoscaling.go
  pkg/storage/factory.go
  pkg/storage/store.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client.go
  pkg/storage/stores/shipper/indexshipper/gatewayclient/gateway_client_test.go
  production/helm/loki/src/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-chunks.json
  production/loki-mixin-compiled-ssd/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-chunks.json
  production/loki-mixin-compiled/dashboards/loki-operational.json
  production/loki-mixin-compiled/dashboards/loki-reads-resources.json
  production/loki-mixin/dashboards/dashboard-loki-operational.json
  production/loki-mixin/dashboards/loki-chunks.libsonnet
  production/loki-mixin/dashboards/loki-reads-resources.libsonnet
Owners: @grafana/docs-logs, @grafana/loki-team

Change default of metrics.namespace (#11110)
  CHANGELOG.md
  cmd/migrate/main.go
  docs/sources/configure/_index.md
  docs/sources/setup/upgrade/_index.md
  integration/loki_micro_services_test.go
  pkg/loki/loki.go
Owners: @grafana/loki-team, @grafana/docs-logs

Update changed metrics in docs (#11109)
  docs/sources/operations/autoscaling_queriers.md
  docs/sources/operations/observability.md
  docs/sources/operations/scalability.md
  docs/sources/operations/shuffle-sharding/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

Fix per-pod latency panel unit.
  production/loki-mixin/dashboards/loki-reads.libsonnet
Owners: @grafana/loki-team

update lokin-mixin-compiled
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
Owners: @grafana/loki-team

Fix typos in helm chart upgrade guide
  docs/sources/setup/upgrade/upgrade-from-2x/index.md
Owners: @grafana/docs-logs, @grafana/loki-team

operator: Update deps to secure webhooks for CVE-2023-44487
  operator/bundle/community-openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/community/manifests/loki-operator.clusterserviceversion.yaml
  operator/bundle/openshift/manifests/loki-operator.clusterserviceversion.yaml
  operator/config/overlays/community/manager_auth_proxy_patch.yaml
  operator/go.mod
  operator/go.sum
Owners: @grafana/loki-team, @periklis, @xperimental

Jsonnet: Fix unit used by per-pod latency panel (#11104)
  production/loki-mixin-compiled-ssd/dashboards/loki-reads.json
  production/loki-mixin-compiled/dashboards/loki-reads.json
  production/loki-mixin/dashboards/loki-reads.libsonnet
Owners: @grafana/loki-team

Add changelog entry
  operator/CHANGELOG.md
Owners: none

operator: Disable update of repo-internal dependencies (#11023)
  .github/renovate.json
Owners: @grafana/loki-team

Decode AST
  pkg/logql/serialize.go
  pkg/logql/serialize_test.go
  vendor/github.com/buger/jsonparser/bytes_unsafe.go
  vendor/github.com/buger/jsonparser/escape.go
  vendor/github.com/buger/jsonparser/parser.go
Owners: @grafana/loki-team

Update pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend.go
Owners: @grafana/loki-team

Update pkg/lokifrontend/frontend/v2/frontend.go
  pkg/lokifrontend/frontend/v2/frontend.go
Owners: @grafana/loki-team

Adding new line to the end of loki-config.yaml
  operator/internal/manifests/internal/config/loki-config.yaml
Owners: @grafana/loki-team, @periklis, @xperimental

remove deprecated `-ruler.evaluation-delay-duration`
  docs/sources/configure/_index.md
  pkg/ruler/base/compat.go
  pkg/ruler/compat.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

address feedback1 - handle multiple periodConfigs
  pkg/bloomcompactor/bloomcompactor.go
  pkg/storage/bloom/v1/block.go
Owners: @grafana/loki-team

Update chart version
  production/helm/loki/Chart.yaml
Owners: @grafana/loki-team

remove deprecated -boltdb.shipper.compactor.* flags
  docs/sources/configure/_index.md
  integration/loki_micro_services_test.go
  pkg/compactor/client/http.go
  pkg/compactor/compactor.go
  tools/doc-generator/parse/root_blocks.go
Owners: @grafana/docs-logs, @grafana/loki-team

Add simple range aggregation test case
  pkg/logql/serialize.go
  pkg/logql/serialize_test.go
Owners: @grafana/loki-team

Revert changes to vendor
  vendor/github.com/buger/jsonparser/bytes_unsafe.go
  vendor/github.com/buger/jsonparser/escape.go
  vendor/github.com/buger/jsonparser/parser.go
  vendor/github.com/json-iterator/go/iter_float.go
  vendor/github.com/json-iterator/go/iter_skip_strict.go
  vendor/github.com/json-iterator/go/reflect_dynamic.go
  vendor/github.com/json-iterator/go/reflect_extension.go
  vendor/github.com/json-iterator/go/reflect_json_number.go
  vendor/github.com/json-iterator/go/reflect_json_raw_message.go
  vendor/github.com/json-iterator/go/reflect_map.go
  vendor/github.com/json-iterator/go/reflect_optional.go
  vendor/github.com/json-iterator/go/reflect_slice.go
  vendor/github.com/json-iterator/go/reflect_struct_encoder.go
Owners: @grafana/loki-team

remove validation.enforce-metric-name
  docs/sources/configure/_index.md
  pkg/distributor/distributor_test.go
  pkg/distributor/limits.go
  pkg/validation/limits.go
Owners: @grafana/docs-logs, @grafana/loki-team

Add test functions for bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer.go
  pkg/storage/bloom/v1/bloom_tokenizer_test.go
Owners: @grafana/loki-team

Remove buildkit
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

make doc
  docs/sources/configure/_index.md
Owners: @grafana/docs-logs, @grafana/loki-team

format go imports
  pkg/querier/queryrange/volume_test.go
Owners: @grafana/loki-team

Use 'args'
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team

try other format
  .drone/drone.jsonnet
  .drone/drone.yml
Owners: @grafana/loki-team
